@{
    ViewBag.Title = "Masters";
    ViewBag.PageTitle = "Master Data Entry";
    ViewBag.CurrentMenu = "SCREEN-0-0-2";
}
<link href="~/assets/plugins/datatables/css/dataTables.tableTools.css" rel="stylesheet" />
<style>
    .tab-itenaries > .col-md-1 > h4,
    .tab-itenaries .col-md-2 > h4,
    .tab-itenaries .col-md-3 > h4,
    .tab-itenaries .col-md-4 > h4,
    .tab-itenaries .col-md-5 > h4,
    .tab-itenaries > .col-md-6 > h4,
    .tab-itenaries .col-md-7 > h4,
    .tab-itenaries .col-md-8 > h4,
    .tab-itenaries .col-md-9 > h4,
    .m-b-lg > h4 {
        border-bottom: 1px dotted #ccc;
        color: #40474f;
        font-size: 22px;
        font-weight: normal;
        margin: 7px 0 10px;
        padding-bottom: 5px;
    }

    .tab-itenaries .col-md-1 > h5,
    .tab-itenaries .col-md-2 > h5,
    .tab-itenaries .col-md-3 > h5,
    .tab-itenaries .col-md-4 > h5,
    .tab-itenaries .col-md-5 > h5,
    .tab-itenaries .col-md-6 > h5,
    .tab-itenaries .col-md-7 > h5,
    .tab-itenaries .col-md-8 > h5,
    .tab-itenaries .col-md-9 > h5,
    .m-b-lg > h5 {
        /*color: #40474f;*/
        font-size: 19px;
        font-weight: bold;
        margin: 0 0 10px;
        padding-bottom: 5px;
        border-bottom: 1px dotted;
        text-shadow: 1px 0px #BEC8D2;
    }

        .tab-itenaries .col-md-1 > h5 > span.right-floated,
        .tab-itenaries .col-md-2 > h5 > span.right-floated,
        .tab-itenaries .col-md-3 > h5 > span.right-floated,
        .tab-itenaries .col-md-4 > h5 > span.right-floated,
        .tab-itenaries .col-md-5 > h5 > span.right-floated,
        .tab-itenaries .col-md-6 > h5 > span.right-floated,
        .tab-itenaries .col-md-7 > h5 > span.right-floated,
        .tab-itenaries .col-md-8 > h5 > span.right-floated,
        .tab-itenaries .col-md-9 > h5 > span.right-floated,
        .m-b-lg > h5 > span.right-floated {
            float: right;
            font-size: 13px;
            font-weight: normal;
            text-align: right;
        }

            .tab-itenaries .col-md-1 > h5 > span.right-floated .TripRatting,
            .tab-itenaries .col-md-2 > h5 > span.right-floated .TripRatting,
            .tab-itenaries .col-md-3 > h5 > span.right-floated .TripRatting,
            .tab-itenaries .col-md-4 > h5 > span.right-floated .TripRatting,
            .tab-itenaries .col-md-5 > h5 > span.right-floated .TripRatting,
            .tab-itenaries .col-md-6 > h5 > span.right-floated .TripRatting,
            .tab-itenaries .col-md-7 > h5 > span.right-floated .TripRatting,
            .tab-itenaries .col-md-8 > h5 > span.right-floated .TripRatting,
            .tab-itenaries .col-md-9 > h5 > span.right-floated .TripRatting,
            .m-b-lg > h5 > span.right-floated .TripRatting {
                font-size: 2.4em;
            }

        .tab-itenaries .col-md-1 > h5 > span.left-floated .small-text,
        .tab-itenaries .col-md-2 > h5 > span.left-floated .small-text,
        .tab-itenaries .col-md-3 > h5 > span.left-floated .small-text,
        .tab-itenaries .col-md-4 > h5 > span.left-floated .small-text,
        .tab-itenaries .col-md-5 > h5 > span.left-floated .small-text,
        .tab-itenaries .col-md-6 > h5 > span.left-floated .small-text,
        .tab-itenaries .col-md-7 > h5 > span.left-floated .small-text,
        .tab-itenaries .col-md-8 > h5 > span.left-floated .small-text,
        .tab-itenaries .col-md-9 > h5 > span.left-floated .small-text,
        .m-b-lg > h5 > span.left-floated .small-text {
            font-size: 13px;
            font-weight: normal;
            color: #555;
        }

        .tab-itenaries .col-md-1 > h5 > span.left-floated,
        .tab-itenaries .col-md-2 > h5 > span.left-floated,
        .tab-itenaries .col-md-3 > h5 > span.left-floated,
        .tab-itenaries .col-md-4 > h5 > span.left-floated,
        .tab-itenaries .col-md-5 > h5 > span.left-floated,
        .tab-itenaries .col-md-6 > h5 > span.left-floated,
        .tab-itenaries .col-md-7 > h5 > span.left-floated,
        .tab-itenaries .col-md-8 > h5 > span.left-floated,
        .tab-itenaries .col-md-9 > h5 > span.left-floated,
        .m-b-lg > h5 > span.left-floated {
            float: none;
        }

    .tab-itenaries a > span {
        font-weight: bold;
        font-size: 11px;
    }

    /*.tab-itenaries span {
        font-weight: bold;
        font-size: 14px;
        text-shadow: 1px 0 #BEC8D2;
    }*/

    .tab-itenaries {
        padding-bottom: 10px;
        border: 1px double #BEC8D2 !important;
        border-radius: 5px !important;
        box-shadow: 3px 3px 7px -5px rgba(0, 0, 0, 0.5);
        margin-bottom: 15px;
    }

        .tab-itenaries .form-control {
            border-width: 0;
            padding: 3px 10px !important;
        }

            .tab-itenaries .form-control h2 {
                margin-bottom: 0;
                margin-top: 0;
            }

        .tab-itenaries .right-border {
            border-right: 1px dotted #f25656;
            min-height: 156px;
            padding-left: 0;
        }

    .strong {
        font-weight: bold;
    }

    .modal-body .strong {
        margin-top: 0;
        margin-bottom: 0;
    }

    /*.strong:hover {
            text-decoration: underline !important;
        }*/

    .panel .panel-body {
        padding: 15px;
    }

    .tab-itenaries .row .btn {
        padding: 5px 9px;
        font-size: 13px;
        text-transform: uppercase;
        margin: 5px 5px 5px 0;
    }

    .tab-itenaries .row .rooms-type .btn {
        padding: 2px 5px;
        font-size: 10px;
        text-transform: uppercase;
        margin: 5px 0 5px 0;
    }

    .modal-footer .btn {
        text-transform: uppercase;
    }

    .star-ratings .select2.select2-container {
        display: none;
    }

    .modal-body {
        width: 100%;
    }

    .modal-header h4 {
        border-bottom: 1px dotted #ccc;
        font-size: 20px;
        font-weight: normal;
    }

    .quote-link h2 {
        /*margin-bottom: 0;
        margin-top: 0;*/
        margin-top: 15px;
        text-align: center;
    }

    .quote-link .panel-heading {
        padding: 10px 15px;
    }

    .panel-red .panel-collapse {
        border: 1px solid #F25656;
        border-radius: 0 0 5px 5px;
    }

        .panel-red .panel-collapse .panel-body {
            color: #4e5e6a;
        }

    .fa-ul > li {
        font-size: 12px;
        position: relative;
    }

    .fa-ul {
        margin-left: 15px;
    }

    .right-floating {
        float: right;
        cursor: pointer;
        color: #F25656;
    }

    .tab-itenaries span.total-cost {
        font-size: 11px;
    }

    a.col-sm-3 {
        background-color: #f25656;
        color: #fff;
        font-family: Lucida Console;
        font-size: 32px;
        height: 45px;
        margin-bottom: 0;
        margin-top: 0;
        top: 0;
        width: 22.5%;
    }

        a.col-sm-3 span {
            float: left;
            font-size: 79px;
            margin: -32px 0 0 -16px;
        }

    .fa-ul > li {
        margin-bottom: 5px;
    }

    /*.panel > .row > div:last-child {
        padding-left: 0;
        padding-right: 0;
    }*/
    .panel > .row > div:first-child {
        padding-left: 15px;
        padding-right: 15px;
    }

    .tab-itenaries .table > tbody > tr > td {
        font-size: 12px;
        padding: 7px !important;
    }

    .tab-itenaries .form-control .btn, .tab-itenaries .form-control .label {
        width: 100%;
    }

    .button-index {
        background-color: #fff;
        border-radius: 50%;
        color: #333;
        padding: 0 5px;
        font-weight: bold;
    }

    .button-itenaries .form-control .btn-steps {
        text-align: left;
        width: 77%;
    }

    .button-itenaries .form-control .btn-steps-icons {
        width: auto;
    }

    .button-itenaries .form-control .btn-steps:hover .button-index {
        color: #333;
    }

    .button-index {
        margin-right: 5px;
    }

    .btn-auto {
        width: auto;
    }

    .btn-full {
        width: 100%;
    }

    .search-panel-buttons {
        text-align: right;
    }

    .br-theme-bootstrap-stars .br-widget {
        line-height: 30px;
    }

    h2.strong .alt-text {
        font-size: 0.6em;
    }

    h2.strong .amount {
        color: #f25656;
    }

    .rooms-type .btn {
        width: auto !important;
    }

    .aminities {
        float: right;
        color: #BEC8D2;
    }

    .panel-red .panel-collapse, .panel-blue .panel-collapse, .panel-purple .panel-collapse, .panel-green .panel-collapse {
        border: 1px solid #F25656;
        border-radius: 0 0 5px 5px;
    }

    .panel-blue .panel-collapse {
        border: 1px solid #12AFCB;
    }

    .panel-purple .panel-collapse {
        border: 1px solid #7A6FBE;
    }

    .panel-green .panel-collapse {
        border: 1px solid #22BAA0;
    }

    .panel-group {
        margin-bottom: 0;
    }

        .panel-group .panel-red .panel-collapse .panel-body, .panel-blue .panel-collapse .panel-body, .panel-purple .panel-collapse .panel-body {
            color: #4e5e6a;
        }

        .panel-group .panel .panel-heading {
            padding: 10px;
        }

    .panel .panel-heading .panel-title {
        color: #fff !important;
        float: none;
        font-weight: normal;
        font-size: 17px;
        border-bottom-width: 0;
    }

    .panel-group .panel .panel-body h3, .panel-group .panel .panel-body h4 {
        margin: 0;
    }

    .summary-body p {
        margin: 0;
    }

    .summary-list .label {
        font-size: 100%;
    }

    .summary-list {
        margin-bottom: 0;
    }

        .summary-list > tbody > tr > td {
            text-align: left !important;
            width: auto;
        }

        /*.summary-list > tbody > tr > td:first-child {
                width: 45%;
            }*/

        .summary-list > tbody > tr:first-child > td {
            border-top-width: 0;
        }
</style>
<style>
    .field-name {
        float: left;
        width: 50%;
    }

    .modify-colum-model .dropdown.table-custome-drop {
        float: left;
        width: 50%;
    }

    .field-name {
        padding-right: 15px;
    }

    .modal-header h4 {
        border-bottom: 1px dotted #ccc;
        font-size: 20px;
        font-weight: normal;
    }

    .modal-footer {
        text-align: left;
    }

    #ulViewList {
        padding-left: 0 !important;
    }

    .selectcolor {
    }

    .field-list .active {
        background-color: #4fe7cd;
        color: #fff !important;
        font-weight: bolder;
        /*font-size: 14px;*/
    }

    .field-list a:hover {
        text-decoration: none;
    }

    li.content {
        list-style: outside none none;
        transition: 1s;
        border: 1px solid #22BAA0;
    }

        li.content .libody {
            transition-timing-function: linear;
        }

    .summery-uitilities-detail {
        width: 33.3333%;
        overflow: hidden;
        padding-right: 0;
    }

    .summery-nav-btn {
        background-color: #ccc;
        color: #22baa0;
        cursor: not-allowed;
        font-size: 0.7em;
        margin-left: 5px;
        padding: 5px;
        float: right;
    }

        .summery-nav-btn.active {
            background-color: #fff;
            cursor: pointer;
        }

    .libody.summery-body {
    }
</style>

<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                    <li role="presentation" id="MasterDataViews" class="active"><a href="#tab4" role="tab" data-toggle="tab" data-section="tab4" class="basic-accord"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Search Master Data Entry</a></li>
                    <li role="presentation" id="MastersRecord"><a href="#tab3" role="tab" data-toggle="tab" data-section="tab3" class="basic-accord"><span class="menu-icon fa fa-bookmark"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tab-name">Create Master Data Entry</span></a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab4">
                        <form>
                            <div class="dropdown table-custome-drop">
                                <div class="btn-group">
                                    <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="font-size: 111%">
                                        <span class="fa fa-upload" rel="tooltip" title="Import"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Download Import Format</a></li>
                                        <li><a id="" href="javascript:void(0);" data-toggle="modal" data-target="#importmodal">Import Data</a></li>
                                    </ul>
                                    <div class="modal fade modify-colum-model" id="importmodal" role="dialog">
                                        <div class="modal-dialog modal-lg">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h3>Import Data
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    </h3>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <label>Select File</label>
                                                                <input id="Upload File" type="file" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger ">Verify</button>
                                                    <button type="button" class="btn btn-success ">Import</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;&nbsp;
                                <div class="btn-group">
                                    <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="font-size: 111%">
                                        <span class="glyphicon glyphicon-download-alt" rel="tooltip" title="Download"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Excel</a></li>
                                        <li><a href="#">PDF</a></li>
                                        <li><a id="btnemail" href="javascript:void(0);" data-toggle="modal" data-target="#EmailModal">Email</a></li>
                                    </ul>
                                    <div class="modal fade modify-colum-model" id="EmailModal" role="dialog">
                                        <div class="modal-dialog modal-sm">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h3>Email Grid Data
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    </h3>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <label>To </label>
                                                                <input type="text" class="form-control req" id="txtToemail" placeholder="support@ambait.com">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <label for="txtHotelCode">Massage</label>
                                                                <textarea class="form-control" cols="5" id="txtMassageEmail"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <button type="button" class="btn btn-success ">Send</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group btn-tables-views">
                                    <a class="label label-success dropdown-toggle " rel="tooltip" data-toggle="dropdown" title="All Views" style="font-size: 111%" aria-expanded="false">
                                        <span class="fa fa-th-large"></span>
                                    </a>
                                    <ul class="dropdown-menu cate-drop-menu">
                                        <li><a href="javascript:void(0);" style="color: #000"><span class="fa fa-check text-success"></span>&nbsp;Default View</a></li>
                                        <li style="color: #000; padding: 5px 0" class="btn-lgdropdown-header"><a id="btnShowPopupChangeView" href="javascript:void(0);" data-toggle="modal" data-target="#myModal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Change View</a> </li>
                                    </ul>
                                    <div class="modal fade modify-colum-model" id="myModal" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Change View</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <br />
                                                    <div class="model-left-columns">
                                                        <div class="field-name">
                                                            <h3>View <a href="#"></a></h3>
                                                            <ul id="ulViewList" class="field-list slimscroll">
                                                                <li><a href="#">City</a></li>
                                                                <li><a href="#">Country</a></li>
                                                                <li><a href="#">State</a></li>
                                                                <li class="active"><a href="#">Agent Margin</a></li>
                                                                <li><a href="#">Support Mode</a></li>
                                                                <li><a href="#">Agent Type</a></li>
                                                                <li><a href="#">Control Type</a></li>
                                                                <li><a href="#">Nationality</a></li>
                                                                <li><a href="#">Vehicle Name</a></li>
                                                                <li><a href="#">SMS Configure</a></li>
                                                                <li><a href="#">Screen</a></li>
                                                                <li><a href="#">Supplier Type</a></li>
                                                                <li><a href="#">Date Format</a></li>
                                                                <li><a href="#">days</a></li>
                                                                <li><a href="#">Holiday</a></li>
                                                                <li><a href="#">Bank</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="field-name">
                                                            <h3>Field Name <a href="#">Add all</a></h3>
                                                            <div class="field-list field-list-img slimscroll">
                                                                <ul>
                                                                    <li><a href="#">Value</a></li>
                                                                    <li><a href="#">Margin Type</a></li>
                                                                    <li><a href="#">Efective Date From</a></li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="drag-drop-right">
                                                        <section>
                                                            <h2>Drag and drop reorder</h2>
                                                            <div class="cf nestable-lists">
                                                                <ul id="sortable" class="ui-sortable sortable-list">
                                                                    <li class="ui-state-default">Agent Type</li>
                                                                    <li class="ui-state-default">Agent Master Code</li>
                                                                    <li class="ui-state-default">FIT/Group<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></li>
                                                                    <li class="ui-state-default">Margin For<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></li>
                                                                    <li class="ui-state-default">Margin Type<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></li>
                                                                </ul>
                                                                @*<ol class="sortable" id="ddr">
                                                                    <li>
                                                                        <div><span class=""><span></span></span>Agent Type<a class="" href="javascript:void(0);"></a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div><span class=""><span></span></span>Agent Master Code<a class="" href="javascript:void(0);"></a></div>
                                                                    </li>
                                                                    <li id="list_4">
                                                                        <div><span class="disclose"><span></span></span>FIT/Group<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></div>
                                                                    </li>
                                                                    <li id="list_5">
                                                                        <div><span class="disclose"><span></span></span>Margin For<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></div>
                                                                    </li>
                                                                    <li id="list_9">
                                                                        <div><span class="disclose"><span></span></span>Margin Type<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></div>
                                                                    </li>

                                                                </ol>*@
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-success ">Apply</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="table-responsive">
                                <table id="" class="display table datatable" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Agent Margin Code</th>
                                            <th>Agent Type</th>
                                            <th>Margin For</th>
                                            <th>Margin Type</th>
                                            <th>Value</th>
                                            <th>Modified By</th>
                                            <th style="width: 10% !important;">Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Agent Margin Code</th>
                                            <th>Agent Type</th>
                                            <th>Margin For</th>
                                            <th>Margin Type</th>
                                            <th>Value</th>
                                            <th>Modified By</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>

                                        <tr>
                                            <td>1</td>
                                            <td>AGT-050</td>
                                            <td>A</td>
                                            <td><span class="label label-dodgerblue">Accommodation</span></td>
                                            <td>Amount</td>
                                            <td>500</td>
                                            <td><a href="javascript:void(0);" rel="tooltip" title="Samir Shah | 12-Mar-2016">
                                                <img src="/assets/images/avatar1.png" /></a></td>
                                            <td>
                                                <a href="#" rel="tooltip" title="Edit"><span class="fa fa-pencil grid-btn-success"></span></a>
                                                &nbsp;&nbsp;
                                                <a href="#" rel="tooltip" title="Delete"><span class="fa fa-trash grid-btn-danger"></span></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>AGT-050</td>
                                            <td>A++</td>
                                            <td><span class="label label-maroon">Coach</span></td>
                                            <td>Percentage</td>
                                            <td>50</td>
                                            <td><a href="javascript:void(0);" rel="tooltip" title="Samir Shah | 12-Mar-2016">
                                                <img src="/assets/images/avatar2.png" /></a></td>
                                            <td>
                                                <a href="#" rel="tooltip" title="Edit"><span class="fa fa-pencil grid-btn-success"></span></a>
                                                &nbsp;&nbsp;
                                                <a href="#" rel="tooltip" title="Delete"><span class="fa fa-trash grid-btn-danger"></span></a>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>AGT-050</td>
                                            <td>B</td>
                                            <td><span class="label label-orange">Guide</span></td>
                                            <td>Amount</td>
                                            <td>1000</td>
                                            <td><a href="javascript:void(0);" rel="tooltip" title="Samir Shah | 12-Mar-2016">
                                                <img src="/assets/images/avatar3.png" /></a></td>
                                            <td>
                                                <a href="#" rel="tooltip" title="Edit"><span class="fa fa-pencil grid-btn-success"></span></a>
                                                &nbsp;&nbsp;
                                                <a href="#" rel="tooltip" title="Delete"><span class="fa fa-trash grid-btn-danger"></span></a>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>AGT-050</td>
                                            <td>B++</td>
                                            <td><span class="label label-springgreen">Driver</span></td>
                                            <td>Amount</td>
                                            <td>1500</td>
                                            <td><a href="javascript:void(0);" rel="tooltip" title="Samir Shah | 12-Mar-2016">
                                                <img src="/assets/images/avatar4.png" /></a></td>
                                            <td>
                                                <a href="#" rel="tooltip" title="Edit"><span class="fa fa-pencil grid-btn-success"></span></a>
                                                &nbsp;&nbsp;
                                                <a href="#" rel="tooltip" title="Delete"><span class="fa fa-trash grid-btn-danger"></span></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>AGT-050</td>
                                            <td>B+</td>
                                            <td><span class="label label-orange">Guide</span></td>
                                            <td>Amount</td>
                                            <td>1500</td>
                                            <td><a href="javascript:void(0);" rel="tooltip" title="Samir Shah | 12-Mar-2016">
                                                <img src="/assets/images/avatar5.png" /></a></td>
                                            <td>
                                                <a href="#" rel="tooltip" title="Edit"><span class="fa fa-pencil grid-btn-success"></span></a>
                                                &nbsp;&nbsp;
                                                <a href="#" rel="tooltip" title="Delete"><span class="fa fa-trash grid-btn-danger"></span></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>AGT-050</td>
                                            <td>A++</td>
                                            <td><span class="label label-maroon">Coach</span></td>
                                            <td>Percentage</td>
                                            <td>15</td>
                                            <td><a href="javascript:void(0);" rel="tooltip" title="Samir Shah | 12-Mar-2016">
                                                <img src="/assets/images/avatar1.png" /></a></td>
                                            <td>
                                                <a href="#" rel="tooltip" title="Edit"><span class="fa fa-pencil grid-btn-success"></span></a>
                                                &nbsp;&nbsp;
                                                <a href="#" rel="tooltip" title="Delete"><span class="fa fa-trash grid-btn-danger"></span></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>AGT-050</td>
                                            <td>C++</td>
                                            <td><span class="label label-springgreen">Driver</span></td>
                                            <td>Percentage</td>
                                            <td>20</td>
                                            <td><a href="javascript:void(0);" rel="tooltip" title="Samir Shah | 12-Mar-2016">
                                                <img src="/assets/images/avatar2.png" /></a></td>
                                            <td>
                                                <a href="#" rel="tooltip" title="Edit"><span class="fa fa-pencil grid-btn-success"></span></a>
                                                &nbsp;&nbsp;
                                                <a href="#" rel="tooltip" title="Delete"><span class="fa fa-trash grid-btn-danger"></span></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>AGT-050</td>
                                            <td>B++</td>
                                            <td><span class="label label-dodgerblue">Accommodation</span></td>
                                            <td>Amount</td>
                                            <td>1500</td>
                                            <td><a href="javascript:void(0);" rel="tooltip" title="Samir Shah | 12-Mar-2016">
                                                <img src="/assets/images/avatar3.png" /></a></td>
                                            <td>
                                                <a href="#" rel="tooltip" title="Edit"><span class="fa fa-pencil grid-btn-success"></span></a>
                                                &nbsp;&nbsp;
                                                <a href="#" rel="tooltip" title="Delete"><span class="fa fa-trash grid-btn-danger"></span></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>AGT-050</td>
                                            <td>A+</td>
                                            <td><span class="label label-maroon">Coach</span></td>
                                            <td>Amount</td>
                                            <td>2000</td>
                                            <td><a href="javascript:void(0);" rel="tooltip" title="Samir Shah | 12-Mar-2016">
                                                <img src="/assets/images/avatar4.png" /></a></td>
                                            <td>
                                                <a href="#" rel="tooltip" title="Edit"><span class="fa fa-pencil grid-btn-success"></span></a>
                                                &nbsp;&nbsp;
                                                <a href="#" rel="tooltip" title="Delete"><span class="fa fa-trash grid-btn-danger"></span></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>AGT-050</td>
                                            <td>B</td>
                                            <td><span class="label label-springgreen">Driver</span></td>
                                            <td>Percentage</td>
                                            <td>10</td>
                                            <td><a href="javascript:void(0);" rel="tooltip" title="Samir Shah | 12-Mar-2016">
                                                <img src="/assets/images/avatar5.png" /></a></td>
                                            <td>
                                                <a href="#" rel="tooltip" title="Edit"><span class="fa fa-pencil grid-btn-success"></span></a>
                                                &nbsp;&nbsp;
                                                <a href="#" rel="tooltip" title="Delete"><span class="fa fa-trash grid-btn-danger"></span></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>11</td>
                                            <td>AGT-050</td>
                                            <td>A++</td>
                                            <td><span class="label label-maroon">Coach</span></td>
                                            <td>Percentage</td>
                                            <td>15</td>
                                            <td><a href="javascript:void(0);" rel="tooltip" title="Samir Shah | 12-Mar-2016">
                                                <img src="/assets/images/avatar1.png" /></a></td>
                                            <td>
                                                <a href="#" rel="tooltip" title="Edit"><span class="fa fa-pencil grid-btn-success"></span></a>
                                                &nbsp;&nbsp;
                                                <a href="#" rel="tooltip" title="Delete"><span class="fa fa-trash grid-btn-danger"></span></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>12</td>
                                            <td>AGT-050</td>
                                            <td>C</td>
                                            <td><span class="label label-springgreen">Driver</span></td>
                                            <td>Amount</td>
                                            <td>1000</td>
                                            <td><a href="javascript:void(0);" rel="tooltip" title="Samir Shah | 12-Mar-2016">
                                                <img src="/assets/images/avatar2.png" /></a></td>
                                            <td>
                                                <a href="#" rel="tooltip" title="Edit"><span class="fa fa-pencil grid-btn-success"></span></a>
                                                &nbsp;&nbsp;
                                                <a href="#" rel="tooltip" title="Delete"><span class="fa fa-trash grid-btn-danger"></span></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>13</td>
                                            <td>AGT-050</td>
                                            <td>B</td>
                                            <td><span class="label label-orange">Guide</span></td>
                                            <td>Percentage</td>
                                            <td>12</td>
                                            <td><a href="javascript:void(0);" rel="tooltip" title="Samir Shah | 12-Mar-2016">
                                                <img src="/assets/images/avatar3.png" /></a></td>
                                            <td>
                                                <a href="#" rel="tooltip" title="Edit"><span class="fa fa-pencil grid-btn-success"></span></a>
                                                &nbsp;&nbsp;
                                                <a href="#" rel="tooltip" title="Delete"><span class="fa fa-trash grid-btn-danger"></span></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>14</td>
                                            <td>AGT-050</td>
                                            <td>A++</td>
                                            <td><span class="label label-maroon">Coach</span></td>
                                            <td>Percentage</td>
                                            <td>15</td>
                                            <td><a href="javascript:void(0);" rel="tooltip" title="Samir Shah | 12-Mar-2016">
                                                <img src="/assets/images/avatar4.png" /></a></td>
                                            <td>
                                                <a href="#" rel="tooltip" title="Edit"><span class="fa fa-pencil grid-btn-success"></span></a>
                                                &nbsp;&nbsp;
                                                <a href="#" rel="tooltip" title="Delete"><span class="fa fa-trash grid-btn-danger"></span></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab3">
                        <div class="col-md-8 full-responsive">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Select Master
                                            <span class="responsiveButtons">
                                                <a id="showRightSideSummaryInner" onclick="$('#showRightSideSummary').trigger('mouseover')" style="float: right; padding: 10px; margin-right: 10px;" class="text-danger" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report">
                                                    <i class="fa fa-tasks"></i>
                                                </a>
                                                <a id="startGuiededTourInner" onclick="$('#startGuiededTour').trigger('click')" style="float: right; padding: 10px; margin-right: 10px;" class="text-danger" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Guided Tour">
                                                    <i class="fa fa-info-circle"></i>
                                                </a>
                                                <a id="startTimelineInner" onclick="$('#showRightSideTimeline').trigger('click')" style="float: right; padding: 10px; margin-right: 10px;" class="text-danger" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="View Trail">
                                                    <i class="fa fa-sitemap"></i>
                                                </a>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label data-toggle="tooltip" data-placement="right" title="Industry">Industry</label>
                                            <select id="drpIndustry" class="js-states form-control Dropdown" tabindex="-1" style="display: none; width: 100%">
                                                <option value="0">--Select Industry--</option>
                                                <option value="1">Travels </option>
                                            </select>
                                        </div>

                                        <div class="col-md-6">
                                            <label data-toggle="tooltip" data-placement="right" title="Corporate">Corporate</label>
                                            <select id="drpCorporate" class="js-states form-control Dropdown" tabindex="-1" style="display: none; width: 100%">
                                                <option value="0">--Select Corporate--</option>
                                                <option value="1">Eagle Travels </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label data-toggle="tooltip" data-placement="right" title="Entry Level">Entry Level</label>
                                            <select id="drpEntrylevel" class="js-states form-control Dropdown" tabindex="-1" style="display: none; width: 100%">
                                                <option value="0">--None--</option>
                                                <option value="1">Super Admin </option>
                                                <option value="1">Corporate Admin </option>
                                                <option value="1">Common Shared </option>
                                            </select>
                                        </div>

                                        <div class="col-md-6">
                                            <label data-toggle="tooltip" data-placement="right" title="Master">Master</label>
                                            <select id="drpMaster" class="js-states form-control Dropdown" tabindex="-1" style="display: none; width: 100%">
                                                <option value="0">--None--</option>
                                                <option value="1">City </option>
                                                <option value="2">State</option>
                                                <option value="3">Currency</option>
                                                <option value="7">Industry</option>
                                                <option value="4">Branch</option>
                                                <option value="5">Unit</option>
                                                <option value="6">Web Theme</option>
                                                <option value="7" selected="selected">Agent Margin</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div id="div_city">
                                    <h3 class="tab2section1">&nbsp;Master Data Entry For - <span class="text-danger">Agent Margin</span></h3>
                                    <div class="form-group">
                                        <div class="row">

                                            <div class="col-md-6">
                                                <label for="drpTypeOfAgent">Name<span>*</span></label>
                                                <input type="text" class="form-control" id="txtName" placeholder="Name">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="drpTypeOfAgent">Status</label>
                                                <select id="drpStatusAgent" class="js-states form-control" style="display: none; width: 100%">
                                                    <option selected="selected">Active</option>
                                                    <option>Inactive</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">

                                            <div class="col-md-6">
                                                <label for="drpTypeOfAgent">Agent Type<span>*&nbsp;</span><span class="fa fa-question-circle text-info" rel="tooltip" title="Agent Type"></span></label>
                                                <select id="drpTypeOfAgent" class="js-states form-control" style="display: none; width: 100%">
                                                    <option selected="selected">A</option>
                                                    <option>A+</option>
                                                    <option>A++</option>
                                                    <option>B</option>
                                                    <option>B+</option>
                                                    <option>B++</option>
                                                    <option>C</option>
                                                    <option>C+</option>
                                                    <option>C++</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">

                                                <label for="txtEffectiveDate">Effective From Date</label>
                                                <input type="text" class="form-control date-picker" id="txtEffectiveFromDate" value="07/07/2005" placeholder="Effective From Date">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="drpTypeOfAgent">FIT/Group&nbsp;<span class="fa fa-question-circle text-info" rel="tooltip" title="FIT/Group"></span></label>
                                                <select id="drpTypeOfAgentFG" class="js-states form-control" style="display: none; width: 100%">
                                                    <option selected="selected">FIT</option>
                                                    <option>Group</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="drpTypeOfAgent">Margin For</label>
                                                <select id="drpMarginFor" class="js-states form-control" style="display: none; width: 100%">
                                                    <option selected="selected">Accommodation</option>
                                                    <option>Hotel-Function Room</option>
                                                    <option>Hotel-Gala Dinner</option>
                                                    <option>Coach</option>
                                                    <option>Guide</option>
                                                    <option>Driver</option>
                                                    <option>Meal</option>
                                                    <option>Transport</option>
                                                    <option>Sightseeing</option>
                                                    <option>Agent</option>
                                                    <option>Other</option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="drpTypeOfAgent">Margin Type</label>
                                                <select id="drpMarginType" class="js-states form-control" style="display: none; width: 100%">
                                                    <option selected="selected">Amount</option>
                                                    <option>Percentage</option>
                                                    <option>Amount / Room / Night</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="drpTypeOfAgent">Value</label>
                                                <input type="text" class="form-control" id="txtValue" placeholder="Value">
                                            </div>

                                        </div>
                                    </div>


                                </div>

                                <button id="btnSaveCreateHotel" type="submit" class="btn btn-success btnSave">
                                    SAVE</button>
                                <button id="btnUpdateCreateHotel" type="submit" class="btn btn-primary btnSave">
                                    UPDATE</button>
                                <button id="btnCancelCreateHotel" type="submit" class="btn btn-green btnCancel">
                                    DELETE</button>
                                <button id="btnCREATENEWCreateHotel" type="button" class="btn btn-warning btnSave">
                                    CREATE NEW</button>
                                <button id="btnQuitCreateHotel" type="button" class="btn btn-info btnSave">
                                    QUIT FORM</button>
                                <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
                                    <span class="fa fa-refresh"></span>
                                </a>
                            </form>

                        </div>
                        <div class="col-md-4 summery-detail summery-uitilities-detail summerytab3">
                            <div class="panel-body tab-itenaries ">
                                <div class="panel-group">
                                    <div class="panel panel-red">
                                        <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                                            <h4 class="panel-title">Correction Required 
                                                <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report">
                                                    <i class="fa fa-tasks"></i>
                                                </a>
                                                <a id="startGuiededTour" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Guided Tour">
                                                    <i class="icon-info"></i>
                                                </a>
                                                <a id="startTimeline" onclick="$('#showRightSideTimeline').trigger('click')" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="View Trail">
                                                    <i class="fa fa-sitemap"></i>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                                            <div class="panel-body summary-body">
                                                <table class="table summary-list">
                                                    <tbody>
                                                        @*<tr>
                                                            <td>Created By: </td>
                                                            <td><span class="label label-success">Sameer Shah</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Created Date: </td>
                                                            <td><span class="label label-warning">06-Mar-2016</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Created From Branch: </td>
                                                            <td><span class="label label-danger">Bangkok</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Last Updated By: </td>
                                                            <td><span class="label label-info">Sameer Shah</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Last Updated Date: </td>
                                                            <td><span class="label label-warning">14-Mar-2016</span></td>
                                                        </tr>
                                                        <tr class="txtName">
                                                            <td>Name</td>
                                                            <td><span class="label label-danger"><i class="fa fa-times"></i></span></td>
                                                        </tr>
                                                        <tr class="txtName">
                                                            <td>Agent Type</td>
                                                            <td><span class="label label-success"><i class="fa fa-check"></i></span></td>
                                                        </tr>*@
                                                        <tr class="txtName">
                                                            <td><span class="label label-danger"><i class="fa fa-times"></i></span>&nbsp;&nbsp;Name</td>
                                                            <td>This field is required</td>
                                                        </tr>
                                                        <tr class="txtName">
                                                            <td><span class="label label-danger"><i class="fa fa-times"></i></span>&nbsp;&nbsp;Agent Type</td>
                                                            <td>Select Agent Type</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/assets/plugins/datatables/js/dataTables.tableTools.js"></script>
    <script src="/assets/js/jquery.mjs.nestedSortable.js"></script>
    <script>
        $(document).ready(function () {
            $('ol.sortable').nestedSortable({
                forcePlaceholderSize: true,
                handle: 'div',
                helper: 'clone',
                items: 'li',
                opacity: .6,
                placeholder: 'placeholder',
                revert: 250,
                tabSize: 25,
                tolerance: 'pointer',
                toleranceElement: '> div',
                maxLevels: 3,

                isTree: true,
                expandOnHover: 700,
                startCollapsed: true
            });


            if ($('ol.sortable').length) {
                $('ol.sortable').nestedSortable({
                    forcePlaceholderSize: true,
                    handle: 'div',
                    helper: 'clone',
                    items: 'li',
                    opacity: .6,
                    placeholder: 'placeholder',
                    revert: 250,
                    tabSize: 25,
                    tolerance: 'pointer',
                    toleranceElement: '> div',
                    maxLevels: 3,
                    //isTree: true,
                    expandOnHover: 700,
                    startCollapsed: true
                });

                $('.disclose').on('click', function () {
                    $(this).closest('li').toggleClass('mjs-nestedSortable-collapsed').toggleClass('mjs-nestedSortable-expanded');
                })

                $('#serialize').click(function () {
                    serialized = $('ol.sortable').nestedSortable('serialize');
                    $('#serializeOutput').text(serialized + '\n\n');
                })

                $('#toHierarchy').click(function (e) {
                    hiered = $('ol.sortable').nestedSortable('toHierarchy', { startDepthCount: 0 });
                    hiered = dump(hiered);
                    (typeof ($('#toHierarchyOutput')[0].textContent) != 'undefined') ?
                    $('#toHierarchyOutput')[0].textContent = hiered : $('#toHierarchyOutput')[0].innerText = hiered;
                })

                $('#toArray').click(function (e) {
                    arraied = $('ol.sortable').nestedSortable('toArray', { startDepthCount: 0 });
                    arraied = dump(arraied);
                    (typeof ($('#toArrayOutput')[0].textContent) != 'undefined') ?
                    $('#toArrayOutput')[0].textContent = arraied : $('#toArrayOutput')[0].innerText = arraied;
                })
            }
            $('#startGuiededTour').on('click', function () {
                //var _tour = GuidedTour();\
                var tour = new Tour({
                    steps: [
                    {
                        element: "#MastersRecord",
                        title: "Create Master Data Entry.",
                        content: "Enter data for masters from here.",
                        placement: "bottom"
                    },
                    {
                        element: ".panel-title",
                        title: "Page Summary",
                        content: "Your page summary will be goes here.",
                        placement: "bottom"
                    }
                    ]
                });
                localStorage.clear();
                tour.init();
                tour.start();
            });

            $('.drag-close').click(function () {
                $(this).parent().parent().remove();
            });

            $('#ulViewList').delegate("a", "click", function (e) {
                $(this).parent().parent().find("li").removeClass("active");
                $(this).parent().addClass("active");
            });

            Morris.Bar({
                element: 'morris2',
                data: [
                    { year: '11-Mar-2016', a: 25, b: 15 },
                    { year: '12-Mar-2016', a: 05, b: 12 },
                    { year: '13-Mar-2016', a: 05, b: 32 },
                    { year: '14-Mar-2016', a: 19, b: 05 },
                    { year: '15-Mar-2016', a: 25, b: 40 },
                    { year: '16-Mar-2016', a: 65, b: 10 },
                    { year: '17-Mar-2016', a: 65, b: 60 }
                ],
                xkey: 'year',
                ykeys: ['a', 'b'],
                labels: ['a', 'b'],
                barRatio: 0.4,
                xLabelAngle: 35,
                hideHover: 'auto',
                barColors: ['#6ad6c3', '#22BAA0'],
                resize: true
            });


        });
        function GuidedTour() {
            // Guided Tour Code Start
            var tour = new Tour({
                steps: [
                {
                    element: "#MastersRecord",
                    title: "Create Master Data Entry.",
                    content: "Enter data for masters from here.",
                    placement: "bottom"
                },
                {
                    element: ".btn-tables-views",
                    title: "Masters Views",
                    content: "Open master views list and modifiy view data.",
                    placement: "bottom"
                }
                ]
            });
            localStorage.clear();
            tour.init();
            //tour.start();
            return tour;
            // Guided Tour Code End
        }
    </script>
}

@section rightsidesummary{
    <h3>
        <span class="">
            <div class="btn-group">
                <a class="btn tab-itenaries btn-utilities-right">Utilities</a>
                <a class="btn btn-quickreport-right">Quick Report</a>
            </div>
        </span>
        <a href="javascript:void(0);" class="pull-right btn" id="closeRightSideSummary" style="padding-left: 0 !important; padding-right: 0 !important;"><i class="fa fa-times"></i></a>
    </h3>
    <div class="slimscroll utilities-sidebar">
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-notebook-black-tool-symbol text-utilities-tasks"></i>
            <span>Task</span>
        </a>
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-megaphone-black-amplification-audio-tool-symbol text-utilities-notification"></i>
            <span>Notification</span>
        </a>
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-calendar-events-symbol text-utilities-calendar"></i>
            <span>Calendar</span>
        </a>
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-new-email-black-back-envelope-symbol-of-interface text-utilities-email"></i>
            <span>Email</span>
        </a>
        @*<a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-notebook-black-tool-symbol"></i>
            <span>SMS</span>
        </a>*@
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-broken-black-ticket-symbol text-utilities-notes"></i>
            <span>Notes</span>
        </a>
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-close-arrow-shape-button-interface-symbol text-utilities-tags"></i>
            <span>Tags</span>
        </a>
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-film-strip-piece-of-two-photograms text-utilities-helpvideo"></i>
            <span>Help Video</span>
        </a>
        @*<a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-notebook-black-tool-symbol"></i>
            <span>Guided Tour</span>
        </a>*@
        @*<a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-notebook-black-tool-symbol"></i>
            <span>Copy</span>
        </a>*@
        <a href="javascript:void(0);">
            <i class="flaticon-printing-button-interface-symbol text-utilities-print"></"></i>
            <span>Print</span>
        </a>
        <a href="javascript:void(0);">
            <i class="flaticon-photo-camera-black-tool text-utilities-screenshot"></i>
            <span>Screenshot</span>
        </a>
        <hr />
        <div class="col-md-12">
            <h4 class="text-danger" style="border-bottom: 1px dashed #ccc; padding: 0 5px 5px 5px;">Notification</h4>

            <ul class="list-unstyled">
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-success"><i class="icon-user"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1min ago</span>
                        <p class="task-details">New user registered.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-danger"><i class="icon-energy"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">24min ago</span>
                        <p class="task-details">Database error.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-info"><i class="icon-heart"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1h ago</span>
                        <p class="task-details">Reached 24k likes</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-success"><i class="icon-user"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1min ago</span>
                        <p class="task-details">New user registered.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-danger"><i class="icon-energy"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">24min ago</span>
                        <p class="task-details">Database error.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-info"><i class="icon-heart"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1h ago</span>
                        <p class="task-details">Reached 24k likes</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-success"><i class="icon-user"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1min ago</span>
                        <p class="task-details">New user registered.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-danger"><i class="icon-energy"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">24min ago</span>
                        <p class="task-details">Database error.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-info"><i class="icon-heart"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1h ago</span>
                        <p class="task-details">Reached 24k likes</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="slimscroll quickreport-sidebar">
        <div class="col-md-12">
            <br />
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>From </label>
                        <input type="text" class="form-control date-picker" id="txtRightFrom" />
                    </div>
                    <div class="col-md-6">
                        <label>To </label>
                        <input type="text" class="form-control date-picker" id="txtRightTo" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>User</label>
                <select class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                    <option>All</option>
                </select>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Action</label>
                        <select class="js-states form-control" style="display: none; width: 100%">
                            <option>All</option>
                            <option>Created</option>
                            <option>Modified</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>Node Value</label>
                        <select class="js-states form-control" style="display: none; width: 100%">
                            <option>Daily</option>
                            <option>Weekly</option>
                            <option>Fortnightly</option>
                            <option>Monthly</option>
                        </select>
                    </div>
                    <div class="col-md-2" style="padding-left: 0">
                        <label>&nbsp;</label>
                        <button class="btn btn-info" style="padding: 5px 10px; font-size: 12px;">SHOW</button>
                    </div>
                </div>
            </div>
            <br />

        </div>
        <div class="col-md-12">
            <h4 class="text-danger" style="border-bottom: 1px dashed #ccc; padding-bottom: 5px;">Master Data Entry Craeted/Modified Report <span class="pull-right"><a href="javascript:void(0);" style="padding: 0;">Flip View</a></span></h4>
            <div class="panel-body">
                <div id="morris2"></div>
            </div>
        </div>
    </div>
}

@section rightsidetimeline{
    <h3>Trail
        <a id="closeRightSideTimeline" class="pull-right btn" href="javascript:void(0);" style="padding-left: 0 !important; padding-right: 0 !important;"><i class="fa fa-times"></i></a>
    </h3>
    <div class="slimscroll utilities-sidebar">
        <div class="col-md-12">
            <br />
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5">
                        <label>From </label>
                        <input type="text" class="form-control date-picker" id="txtRightFrom" />
                    </div>
                    <div class="col-md-5">
                        <label>To </label>
                        <input type="text" class="form-control date-picker" id="txtRightTo" />
                    </div>
                    <div class="col-md-2">
                        <label style="margin-bottom: 5px; width: 100%;">&nbsp;</label>
                        <button class="btn btn-info pull-right" style="font-size: 12px; padding: 10px 14px;" rel="tooltip" title="Show Trail"><span class="fa fa-search"></span></button>
                    </div>
                </div>
            </div>
            <div class="form-group">
            </div>
            <hr />
        </div>
        <div class="col-md-12">
            <section id="cd-timeline" class="cd-container mCustomScrollbar">
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-success">
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="cd-timeline-content">
                        <h2 class="text-success">Created</h2>
                        <span class="cd-date">11-Mar-2016 05:11 PM</span>
                        <span class="cd-date pull-right">Sudhir Seth</span>
                        <span class="cd-date" style="display: block; width: 50%;">198.013.120.143</span>
                    </div>
                </div>
                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-primary">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <div class="cd-timeline-content">
                        <h2 class="text-primary">Updated</h2>
                        <span class="cd-date">12-Mar-2016 09:59 AM</span>
                        <span class="cd-date pull-right">Samarth Shah</span>
                        <span class="cd-date" style="display: block; width: 50%;">165.145.12.013</span>
                    </div>
                    <!-- cd-timeline-content -->
                </div>
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-primary">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <div class="cd-timeline-content">
                        <h2 class="text-primary">Updated</h2>
                        <span class="cd-date ">12-Mar-2016 01:23 PM</span>
                        <span class="cd-date pull-right">Samarth Shah</span>
                        <span class="cd-date" style="display: block; width: 50%;">165.145.12.013</span>
                    </div>
                    <!-- cd-timeline-content -->
                </div>
                <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-danger">
                        <i class="fa fa-trash"></i>
                    </div>
                    <!-- cd-timeline-img -->

                    <div class="cd-timeline-content">
                        <h2 class="text-danger">Deleted</h2>
                        <span class="cd-date ">12-Mar-2016 10:36 AM</span>
                        <span class="cd-date pull-right">Samarth Shah</span>
                        <span class="cd-date" style="display: block; width: 50%;">165.145.12.013</span>
                    </div>
                    <!-- cd-timeline-content -->
                </div>
                <!-- cd-timeline-block -->
            </section>
        </div>
    </div>
}
