@{
    ViewBag.Title = "Masters";
    ViewBag.PageTitle = "Master Data Entry";

}
<link href="~/assets/plugins/datatables/css/dataTables.tableTools.css" rel="stylesheet" />
<style>
    .field-name
    {
        float: left;
        width: 50%;
    }

    .modify-colum-model .dropdown.table-custome-drop
    {
        float: left;
        width: 50%;
    }

    .field-name
    {
        padding-right: 15px;
    }

    .modal-header h4
    {
        border-bottom: 1px dotted #ccc;
        font-size: 20px;
        font-weight: normal;
    }

    .modal-footer
    {
        text-align: left;
    }

    #ulViewList
    {
        padding-left: 0 !important;
    }

    .selectcolor
    {
    }

    .field-list .active
    {
        background-color: #4fe7cd;
        color: #fff !important;
        font-weight: bolder;
        font-size: 15px;
    }

        .field-list .active a
        {
            text-decoration: underline;
        }
</style>

<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                    <li role="presentation" id="MasterDataViews" class="active"><a href="#tab4" role="tab" data-toggle="tab" data-section="tab4" class="basic-accord"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Search Master Data Entry</a></li>
                    <li role="presentation" id="MastersRecord"><a href="#tab3" role="tab" data-toggle="tab" data-section="tab3" class="basic-accord"><span class="menu-icon fa fa-bookmark"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tab-name">Create Master Data Entry</span></a></li>
                </ul>
                <div class="tab-content">

                    <div role="tabpanel" class="tab-pane active" id="tab4">
                        <form>
                            <div class="dropdown table-custome-drop">
                                <div class="btn-group">
                                    <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="font-size: 111%">
                                        <span class="glyphicon glyphicon-download-alt"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Excel</a></li>
                                        <li><a href="#">PDF</a></li>
                                        <li><a href="#">Email</a></li>
                                    </ul>
                                </div>
                                &nbsp;&nbsp;
                                    <div class="btn-group">
                                        <a class="label label-success dropdown-toggle " rel="tooltip" data-toggle="dropdown" title="All Views" style="font-size: 111%" aria-expanded="false">
                                            <span class="icon-grid"></span>
                                        </a>
                                        <ul class="dropdown-menu cate-drop-menu">
                                            <li><a href="javascript:void(0);" style="color: #000">Default View</a></li>
                                            <li style="color: #000; padding: 5px 0" class="btn-lgdropdown-header"><a id="btnShowPopupChangeView" href="javascript:void(0);" data-toggle="modal" data-target="#myModal">Change View</a> </li>
                                        </ul>
                                        <div class="modal fade modify-colum-model" id="myModal" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Change View</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <br />
                                                        <div class="model-left-columns">
                                                            <div class="field-name">
                                                                <h3>View <a href="#"></a></h3>
                                                                <ul id="ulViewList" class="field-list slimscroll">
                                                                    <li><a href="#">City</a></li>
                                                                    <li><a href="#">Country</a></li>
                                                                    <li><a href="#">State</a></li>
                                                                    <li class="active"><a href="#">Agent Margin</a></li>
                                                                    <li><a href="#">Support Mode</a></li>
                                                                    <li><a href="#">Agent Type</a></li>
                                                                    <li><a href="#">Control Type</a></li>
                                                                    <li><a href="#">Nationality</a></li>
                                                                    <li><a href="#">Vehicle Name</a></li>
                                                                    <li><a href="#">SMS Configure</a></li>
                                                                    <li><a href="#">Screen</a></li>
                                                                    <li><a href="#">Supplier Type</a></li>
                                                                    <li><a href="#">Date Format</a></li>
                                                                    <li><a href="#">days</a></li>
                                                                    <li><a href="#">Holiday</a></li>
                                                                    <li><a href="#">Bank</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="field-name">
                                                                <h3>Field Name <a href="#">Add all</a></h3>
                                                                <div class="field-list field-list-img slimscroll">
                                                                    <ul>
                                                                        <li><a href="#">Value</a></li>
                                                                        <li><a href="#">Margin Type</a></li>
                                                                        <li><a href="#">Efective Date From</a></li>

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="drag-drop-right">
                                                            <section>
                                                                <h2>Drag and drop reorder</h2>
                                                                <div class="cf nestable-lists">
                                                                    <ol class="sortable" id="ddr">
                                                                        <li>
                                                                            <div><span class=""><span></span></span>Agent Type<a class="" href="javascript:void(0);"></a></div>
                                                                        </li>
                                                                        <li>
                                                                            <div><span class=""><span></span></span>Agent Master Code<a class="" href="javascript:void(0);"></a></div>
                                                                        </li>
                                                                        <li id="list_4">
                                                                            <div><span class="disclose"><span></span></span>FIT/Group<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></div>
                                                                        </li>
                                                                        <li id="list_5">
                                                                            <div><span class="disclose"><span></span></span>Margin For<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></div>
                                                                        </li>
                                                                        <li id="list_9">
                                                                            <div><span class="disclose"><span></span></span>Margin Type<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></div>
                                                                        </li>

                                                                    </ol>
                                                                </div>
                                                            </section>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-success ">Apply</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>

                            <br />
                            <br />
                            <div class="table-responsive">
                                <table id="" class="display table datatable" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Agent Margin Code</th>
                                            <th>Agent Type</th>
                                            <th>Margin For</th>
                                            <th>Margin Type</th>
                                            <th>Value</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Agent Margin Code</th>
                                            <th>Agent Type</th>
                                            <th>Margin For</th>
                                            <th>Margin Type</th>
                                            <th>Value</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <th></th>
                                            <th>
                                                <input type="text" />
                                            </th>

                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th>
                                                <a href="#">
                                                    <img src="assets/images/srach.png" height="15" width="15" /></a> <a href="#">
                                                    <img src="assets/images/close.png" height="15" width="15" /></a>
                                            </th>
                                        </tr>

                                        <tr>
                                            <td>1</td>
                                            <td>AGT-050</td>
                                            <td>A</td>

                                            <td>Accommodation</td>
                                            <td>Amount</td>
                                            <td>500</td>
                                            <td style="width: 21%;">
                                                <a href="#" rel="tooltip" title="Edit"><i class="fa fa-pencil-square-o text-success"></i></a>
                                                &nbsp;&nbsp;
                                                <a href="#" rel="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>AGT-050</td>
                                            <td>A++</td>
                                            <td>COACH</td>
                                            <td>Percentage</td>
                                            <td>500</td>
                                            <td style="width: 21%;">
                                                <a href="#" rel="tooltip" title="Edit"><i class="fa fa-pencil-square-o text-success"></i></a>
                                                &nbsp;&nbsp;
                                                <a href="#" rel="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>AGT-050</td>
                                            <td>B</td>
                                            <td>Guide</td>
                                            <td>Amount</td>
                                            <td>1000</td>
                                            <td style="width: 21%;">
                                                <a href="#" rel="tooltip" title="Edit"><i class="fa fa-pencil-square-o text-success"></i></a>
                                                &nbsp;&nbsp;
                                                <a href="#" rel="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>AGT-050</td>
                                            <td>B++</td>
                                            <td>Driver</td>
                                            <td>Amount</td>
                                            <td>1500</td>
                                            <td style="width: 21%;">
                                                <a href="#" rel="tooltip" title="Edit"><i class="fa fa-pencil-square-o text-success"></i></a>
                                                &nbsp;&nbsp;
                                                <a href="#" rel="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab3">
                        <div class="col-md-8">
                            <form>
                                <h3>Select Master</h3>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label data-toggle="tooltip" data-placement="right" title="Industry">Industry</label>
                                            <select id="drpIndustry" class="js-states form-control Dropdown" tabindex="-1" style="display: none; width: 100%">
                                                <option value="0">--Select Industry--</option>
                                                <option value="1">Travels </option>
                                            </select>
                                        </div>

                                        <div class="col-md-6">
                                            <label data-toggle="tooltip" data-placement="right" title="Corporate">Corporate</label>
                                            <select id="drpCorporate" class="js-states form-control Dropdown" tabindex="-1" style="display: none; width: 100%">
                                                <option value="0">--Select Corporate--</option>
                                                <option value="1">Eagle Travels </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label data-toggle="tooltip" data-placement="right" title="Entry Level">Entry Level</label>
                                            <select id="drpEntrylevel" class="js-states form-control Dropdown" tabindex="-1" style="display: none; width: 100%">
                                                <option value="0">--None--</option>
                                                <option value="1">Super Admin </option>
                                                <option value="1">Corporate Admin </option>
                                                <option value="1">Common Shared </option>
                                            </select>
                                        </div>

                                        <div class="col-md-6">
                                            <label data-toggle="tooltip" data-placement="right" title="Master">Master</label>
                                            <select id="drpMaster" class="js-states form-control Dropdown" tabindex="-1" style="display: none; width: 100%">
                                                <option value="0">--None--</option>
                                                <option value="1">City </option>
                                                <option value="2">State</option>
                                                <option value="3">Currency</option>
                                                <option value="7">Industry</option>
                                                <option value="4">Branch</option>
                                                <option value="5">Unit</option>
                                                <option value="6">Web Theme</option>
                                                <option value="7" selected="selected">Agent Margin</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div id="div_city">
                                    <h3 class="tab2section1">&nbsp;Master Data Entry For - <span class="text-danger">Agent Margin</span></h3>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">

                                                <label for="txtEffectiveDate">Agent Margin Code</label>
                                                <input type="text" class="form-control" id="txtAgentMArgincode" value="AGT-050" placeholder="Effective From Date" readonly>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="drpTypeOfAgent">Agent Type<span>*</span></label>
                                                <select id="drpTypeOfAgent" class="js-states form-control" style="display: none; width: 100%">
                                                    <option selected="selected">A</option>
                                                    <option>A+</option>
                                                    <option>A++</option>
                                                    <option>B</option>
                                                    <option>B+</option>
                                                    <option>B++</option>
                                                    <option>C</option>
                                                    <option>C+</option>
                                                    <option>C++</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="drpTypeOfAgent">FIT/Group</label>
                                                <select id="drpTypeOfAgentFG" class="js-states form-control" style="display: none; width: 100%">
                                                    <option selected="selected">FIT</option>
                                                    <option>Group</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="drpTypeOfAgent">Margin For</label>
                                                <select id="drpMarginFor" class="js-states form-control" style="display: none; width: 100%">
                                                    <option selected="selected">Accommodation</option>
                                                    <option>Hotel-Function Room</option>
                                                    <option>Hotel-Gala Dinner</option>
                                                    <option>Coach</option>
                                                    <option>Guide</option>
                                                    <option>Driver</option>
                                                    <option>Meal</option>
                                                    <option>Transport</option>
                                                    <option>Sightseeing</option>
                                                    <option>Agent</option>
                                                    <option>Other</option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="drpTypeOfAgent">Margin Type</label>
                                                <select id="drpMarginType" class="js-states form-control" style="display: none; width: 100%">
                                                    <option selected="selected">Amount</option>
                                                    <option>Percentage</option>
                                                    <option>Amount / Room / Night</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="drpTypeOfAgent">Value</label>
                                                <input type="text" class="form-control" id="txtValue" placeholder="Value">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">

                                            <div class="col-md-6">

                                                <label for="txtEffectiveDate">Effective From Date</label>
                                                <input type="text" class="form-control date-picker" id="txtEffectiveFromDate" value="07/07/2005" placeholder="Effective From Date">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <button id="btnSaveCreateHotel" type="submit" class="btn btn-success btnSave">
                                    SAVE</button>
                                <button id="btnUpdateCreateHotel" type="submit" class="btn btn-primary btnSave">
                                    UPDATE</button>
                                <button id="btnCancelCreateHotel" type="submit" class="btn btn-green btnCancel">
                                    DELETE</button>
                                <button id="btnCREATENEWCreateHotel" type="button" class="btn btn-warning btnSave">
                                    CREATE NEW</button>
                                <button id="btnQuitCreateHotel" type="button" class="btn btn-info btnSave">
                                    QUIT FORM</button>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
@section scripts{
    <script src="~/assets/plugins/datatables/js/dataTables.tableTools.js"></script>
    <script type="text/javascript">
        $(function () {

        });
    </script>
    @*<script src="~/Scripts/JS/Page/AllMasters.js"></script>*@
    <script src="/assets/js/jquery.mjs.nestedSortable.js"></script>

    <script>

        $(document).ready(function () {

            if ($('ol.sortable').length) {
                $('ol.sortable').nestedSortable({
                    forcePlaceholderSize: true,
                    handle: 'div',
                    helper: 'clone',
                    items: 'li',
                    opacity: .6,
                    placeholder: 'placeholder',
                    revert: 250,
                    tabSize: 25,
                    tolerance: 'pointer',
                    toleranceElement: '> div',
                    maxLevels: 3,
                    //isTree: true,
                    expandOnHover: 700,
                    startCollapsed: true
                });

                $('.disclose').on('click', function () {
                    $(this).closest('li').toggleClass('mjs-nestedSortable-collapsed').toggleClass('mjs-nestedSortable-expanded');
                })

                $('#serialize').click(function () {
                    serialized = $('ol.sortable').nestedSortable('serialize');
                    $('#serializeOutput').text(serialized + '\n\n');
                })

                $('#toHierarchy').click(function (e) {
                    hiered = $('ol.sortable').nestedSortable('toHierarchy', { startDepthCount: 0 });
                    hiered = dump(hiered);
                    (typeof ($('#toHierarchyOutput')[0].textContent) != 'undefined') ?
                    $('#toHierarchyOutput')[0].textContent = hiered : $('#toHierarchyOutput')[0].innerText = hiered;
                })

                $('#toArray').click(function (e) {
                    arraied = $('ol.sortable').nestedSortable('toArray', { startDepthCount: 0 });
                    arraied = dump(arraied);
                    (typeof ($('#toArrayOutput')[0].textContent) != 'undefined') ?
                    $('#toArrayOutput')[0].textContent = arraied : $('#toArrayOutput')[0].innerText = arraied;
                })
            }

            //$("#drpMaster").change(function (e) {

            //    if ($("#drpMaster").val() == "1") {

            //        $('#div_city').show();
            //        $('#div_state').hide();
            //        $('#div_curr').hide();
            //    }
            //    else if ($("#drpMaster").val() == "2") {
            //        $('#div_city').hide();
            //        $('#div_state').show();
            //        $('#div_curr').hide();
            //    }
            //    else if ($("#drpMaster").val() == "3")
            //    {
            //        $('#div_curr').show();
            //        $('#div_city').hide();
            //        $('#div_state').hide();
            //    }
            //});

            $('.drag-close').click(function () {
                $(this).parent().parent().remove();
            });

            $('#ulViewList').delegate("a", "click", function (e) {
                $(this).parent().parent().find("li").removeClass("active");
                $(this).parent().addClass("active");
            });
            //$('.fn').click(function () {
            //    var b = $(this).text();
            //    var a = "<li id="+b+"><div><span class='disclose'><span></span></span>"+b+"<a class='drag-close delete fn' href='javascript:void(0);'><i class='fa fa-close'></i></a></div></li>";
            //    $('#ddr').append(a);

            //});

        });
    </script>
}
