@{
    ViewBag.Title = "Configure Master";
    ViewBag.PageTitle = "Configure Master";
    
}
<style>
    .field-name {
        float: left;
        width: 50%;
    }

    .modify-colum-model .dropdown.table-custome-drop {
        float: left;
        width: 50%;
    }

    .field-name {
        padding-right: 15px;
    }
</style>
<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                    <li role="presentation" class="active" id="SearchMaster"><a href="#tab1" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord"><span class="menu-icon glyphicon glyphicon glyphicon-cloud"></span>&nbsp;&nbsp;&nbsp;&nbsp;Search Master </a></li>
                    <li role="presentation" id="CreateMaster"><a href="#tab2" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Create Master</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <form>
                            <div class="table-responsive">
                                <div class="dropdown table-custome-drop">
                                    <div class="btn-group">
                                        <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="glyphicon glyphicon-download-alt"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Excel</a></li>
                                            <li><a href="#">PDF</a></li>
                                            <li><a href="#">Email</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <table id="example1" class="display" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name
                                            </th>
                                            <th>Master Code
                                            </th>

                                            <th>Entry Level
                                            </th>

                                            <th>Segment
                                            </th>

                                            <th>Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Name
                                            </th>
                                            <th>Master Code
                                            </th>

                                            <th>Entry Level
                                            </th>

                                            <th>Segment
                                            </th>

                                            <th>Action
                                            </th>
                                        </tr>
                                    </tfoot>
                                    @*<tbody>
                                       <tr>
                                            <th></th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th>
                                                <a href="#">
                                                    <img src="assets/images/srach.png" height="15" width="15" /></a> <a href="#">
                                                        <img src="assets/images/close.png" height="15" width="15" /></a>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td><span>Country</span></td>
                                            <td>COUNTRYMASTER
                                            </td>
                                            <td><span>General</span>
                                            </td>

                                            <td><span>General Master</span>
                                            </td>

                                            <td>
                                                <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>*@
                                </table>


                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="tab2">
                        <div class="col-md-12">
                            <form>
                                <h3><span class="section-index">1</span>&nbsp;Create Master</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Master Name <span>*</span></label>
                                            <input type="text" class="form-control" id="txtMasterName" placeholder="Master Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="drpEntrylevel">Entry Level<span>*</span></label>
                                            <select id="drpEntrylevel" class="js-states form-control drpdown " style="display: none; width: 100%">
                                                <option value="--None--">--None-- </option>
                                                <option value="1">Admin </option>
                                                <option value="2">General </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtHotelCode">Master Code <span>*</span></label>
                                            <input type="text" class="form-control" id="txtMasterCode" placeholder="Master Code">
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label for="lbSegment">Industry </label>
                                            <select id="drpSegment" class="js-states form-control drpdown" style="display: none; width: 100%">
                                                <option value="--None--">--None-- </option>
                                                <option value="1">Travels </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="lbCorporate">Corporate </label>
                                            <select id="drpCorporate" class="js-states form-control drpdown" style="display: none; width: 100%">
                                                <option value="--None--">--None-- </option>
                                                <option value="1">Flamingo </option>
                                                <option value="2">Travels Unlimited </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtHotelCode">DRP Caption <span></span></label>
                                            <input type="text" class="form-control" id="txtdrpCaption" placeholder="DRP Caption">
                                        </div>
                                    </div>

                                </div>


                                <h3 class="section-headers"><span class="section-index">2</span>&nbsp;Controls</h3>

                                <div class="form-group">
                                    @*Name*@
                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">1.Textbox</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label style="padding-top: 30px"></label>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="txtcaption1">Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtcaption1" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label for="txtPlaceHolder1">Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder1" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label for="txtValidationCode1" data-toggle="tooltip" data-placement="left" title=" R - Required , V(50) -  AlphaNumeric 50 Charcters, N - Numeric">Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode1" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label for="txtHelp1">Help</label>
                                            <input type="text" class="form-control" id="txtHelp1" placeholder="Help">
                                        </div>

                                    </div>
                                </div>


                                <div class="form-group">

                                    @*Active*@
                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">2.DropDown</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label>&nbsp;</label>
                                            <select id="drpDropdown1" class="js-states form-control drpdown" style="display: none; width: 100%">
                                                <option value="--None--">Active</option>
                                                <option value="COUNTRYMASTER">Inactive</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtcaption2" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceholder2" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode2" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp2" placeholder="Help">
                                        </div>

                                    </div>
                                </div>


                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">3.Textbox</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label style="padding-top: 30px">Remarks</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption3" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder3" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode3" placeholder="Validation Comma Separated">
                                        </div>
                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp3" placeholder="Help">
                                        </div>

                                    </div>
                                </div>

                                @*Dropdown1*@
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">4.DropDown</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label>&nbsp;</label>
                                            <select id="drpDropdownMastersetup1" class="js-states form-control Dropdown" style="display: none; width: 100%">
                                                <option value="--None--">--None-- </option>
                                                <option value="COUNTRYMASTER">Country Master </option>
                                                <option value="STATEMASTER">State Master </option>
                                                <option value="DATETYPEMASTER">Date Type Master</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption4" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder4" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode4" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp4" placeholder="Help">
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">5.DropDown</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label>&nbsp;</label>
                                            <select id="drpMastersetup2" class="js-states form-control Dropdown" style="display: none; width: 100%">
                                                <option value="--None--">--None-- </option>
                                                <option value="COUNTRYMASTER">Country Master </option>
                                                <option value="STATEMASTER">State Master </option>
                                                <option value="DATETYPEMASTER">Date Type Master</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption5" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder </label>
                                            <input type="text" class="form-control" id="txtPlaceHolder5" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode5" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp5" placeholder="Help">
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">6.DropDown</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label>&nbsp;</label>
                                            <select id="drpMastersetup3" class="js-states form-control Dropdown" style="display: none; width: 100%">
                                                <option value="--None--">--None-- </option>
                                                <option value="COUNTRYMASTER">Country Master </option>
                                                <option value="STATEMASTER">State Master </option>
                                                <option value="DATETYPEMASTER">Date Type Master</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption6" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder6" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode6" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp6" placeholder="Help">
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">7.DropDown</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label>&nbsp;</label>
                                            <select id="drpMastersetup4" class="js-states form-control Dropdown" style="display: none; width: 100%">
                                                <option value="--None--">--None-- </option>
                                                <option value="COUNTRYMASTER">Country Master </option>
                                                <option value="STATEMASTER">State Master </option>
                                                <option value="DATETYPEMASTER">Date Type Master</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption7" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder7" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode7" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp7" placeholder="Help">
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">8.DropDown</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label>&nbsp;</label>
                                            <select id="drpMastersetup5" class="js-states form-control Dropdown" style="display: none; width: 100%">
                                                <option value="--None--">--None-- </option>
                                                <option value="COUNTRYMASTER">Country Master </option>
                                                <option value="STATEMASTER">State Master </option>
                                                <option value="DATETYPEMASTER">Date Type Master</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption8" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder8" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode8" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp8" placeholder="Help">
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">9.DropDown</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label>&nbsp;</label>
                                            <select id="drpMastersetup6" class="js-states form-control Dropdown" style="display: none; width: 100%">
                                                <option value="--None--">--None-- </option>
                                                <option value="COUNTRYMASTER">Country Master </option>
                                                <option value="STATEMASTER">State Master </option>
                                                <option value="DATETYPEMASTER">Date Type Master</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption9" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder9" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode9" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp9" placeholder="Help">
                                        </div>

                                    </div>
                                </div>
                                @*Dropdown6*@

                                @*TextBox1*@
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">10.TextBox</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label style="padding-top: 30px">TextBox 1</label>

                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption10" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder10" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode10" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp10" placeholder="Help">
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">11.TextBox</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label style="padding-top: 30px">TextBox 2</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption11" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder11" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode11" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp11" placeholder="Help">
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">12.TextBox</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label style="padding-top: 30px">TextBox 3</label>

                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption12" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder12" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode12" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp12" placeholder="Help">
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">13.TextBox</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label style="padding-top: 30px">TextBox 4</label>

                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption13" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder13" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode13" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp13" placeholder="Help">
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">14.TextBox</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label style="padding-top: 30px">TextBox 5</label>

                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption14" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder14" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode14" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp14" placeholder="Help">
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">15.TextBox</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label style="padding-top: 30px">TextBox 6</label>

                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption15" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder15" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode15" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp15" placeholder="Help">
                                        </div>

                                    </div>
                                </div>

                                @*TextBox6*@

                                @*Rating*@
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">16.Rating</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label style="padding-top: 30px">Rating 1</label>

                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption16" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder16" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode16" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp16" placeholder="Help">
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">17.Rating</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label style="padding-top: 30px">Rating 2</label>

                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption17" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder17" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode17" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp17" placeholder="Help">
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">18.Rating</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label style="padding-top: 30px">Rating 3</label>

                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption18" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder18" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode18" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp18" placeholder="Help">
                                        </div>

                                    </div>
                                </div>
                                @*Rating*@


                                @*Date Picker*@
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">19.Date </label>
                                        </div>

                                        <div class="col-md-2">
                                            <label style="padding-top: 30px">Date Picker 1</label>

                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption19" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder19" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode19" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp19" placeholder="Help">
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">20.Date </label>
                                        </div>

                                        <div class="col-md-2">
                                            <label style="padding-top: 30px">Date Picker 2</label>

                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption20" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder20" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode20" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp20" placeholder="Help">
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">21.Date </label>
                                        </div>

                                        <div class="col-md-2">
                                            <label style="padding-top: 30px">Date Picker 3</label>

                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption21" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder21" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode21" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp21" placeholder="Help">
                                        </div>

                                    </div>
                                </div>
                                @*Date Picker*@

                                @*Time Picker*@
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">22.Time </label>
                                        </div>

                                        <div class="col-md-2">
                                            <label style="padding-top: 30px">Time Picker 1</label>

                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption22" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder22" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode22" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp22" placeholder="Help">
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">23.Time </label>
                                        </div>

                                        <div class="col-md-2">
                                            <label style="padding-top: 30px">Time Picker 2</label>

                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption23" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder23" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode23" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp23" placeholder="Help">
                                        </div>

                                    </div>
                                </div>
                                @*Time Picker*@

                                @*Email*@
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">24.Email</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label style="padding-top: 30px">Email 1</label>

                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption24" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder24" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode24" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp24" placeholder="Help">
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">25.Email</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label style="padding-top: 30px">Email 2</label>

                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption25" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder25" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode25" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp25" placeholder="Help">
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">26.Email</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label style="padding-top: 30px">Email 3</label>

                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption26" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder26" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode26" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp26" placeholder="Help">
                                        </div>

                                    </div>
                                </div>
                                @*Email*@

                                @*Amount*@
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">27.Amount</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label style="padding-top: 30px">Amount 1</label>

                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption27" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder27" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode27" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp27" placeholder="Help">
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">28.Amount</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label style="padding-top: 30px">Amount 2</label>

                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption28" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder28" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode28" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp28" placeholder="Help">
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">29.Amount</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label style="padding-top: 30px">Amount 3</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption29" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder29" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode29" placeholder="Validation Comma Separated">
                                        </div>
                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp29" placeholder="Help">
                                        </div>
                                    </div>
                                </div>
                                @*Amount*@


                                @*TextArea*@
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">30.Text Area</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label style="padding-top: 30px">Text Area</label>

                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption30" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder30" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode30" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp30" placeholder="Help">
                                        </div>

                                    </div>
                                </div>
                                @*TextArea*@

                                @*HTML Editor*@
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">31.Editor</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label style="padding-top: 30px">HTML Editor</label>

                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption31" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder31" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode31" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp31" placeholder="Help">
                                        </div>

                                    </div>
                                </div>
                                @*HTML Editor*@

                                @*Fileupload*@
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">32.Upload</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label style="padding-top: 30px">Photo Upload</label>

                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption32" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder32" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode32" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp32" placeholder="Help">
                                        </div>

                                    </div>
                                </div>
                                @*Fileupload*@

                                @*Multiselect*@
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">33.Multi Select</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label>&nbsp;</label>
                                            <select id="drpMultiselectsetup1" class="js-states form-control Dropdown" style="display: none; width: 100%">
                                                <option value="--None--">--None-- </option>
                                                <option value="COUNTRYMASTER">Country Master </option>
                                                <option value="STATEMASTER">State Master </option>
                                                <option value="DATETYPEMASTER">Date Type Master</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption33" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder33" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode33" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp33" placeholder="Help">
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">34.Multi Select</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label>&nbsp;</label>
                                            <select id="drpMultiselectsetup2" class="js-states form-control Dropdown" style="display: none; width: 100%">
                                                <option value="--None--">--None-- </option>
                                                <option value="COUNTRYMASTER">Country Master </option>
                                                <option value="STATEMASTER">State Master </option>
                                                <option value="DATETYPEMASTER">Date Type Master</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption34" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder </label>
                                            <input type="text" class="form-control" id="txtPlaceHolder34" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode34" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp34" placeholder="Help">
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">35.Multi Select</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label>&nbsp;</label>
                                            <select id="drpMultiselectsetup3" class="js-states form-control Dropdown" style="display: none; width: 100%">
                                                <option value="--None--">--None-- </option>
                                                <option value="COUNTRYMASTER">Country Master </option>
                                                <option value="STATEMASTER">State Master </option>
                                                <option value="DATETYPEMASTER">Date Type Master</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption35" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder35" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode35" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp35" placeholder="Help">
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">36.Multi Select</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label>&nbsp;</label>
                                            <select id="drpMultiselectsetup4" class="js-states form-control Dropdown" style="display: none; width: 100%">
                                                <option value="--None--">--None-- </option>
                                                <option value="COUNTRYMASTER">Country Master </option>
                                                <option value="STATEMASTER">State Master </option>
                                                <option value="DATETYPEMASTER">Date Type Master</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption36" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder36" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode36" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp36" placeholder="Help">
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <label style="padding-top: 30px">37.Multi Select</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label>&nbsp;</label>
                                            <select id="drpMultiselectsetup5" class="js-states form-control Dropdown" style="display: none; width: 100%">
                                                <option value="--None--">--None-- </option>
                                                <option value="COUNTRYMASTER">Country Master </option>
                                                <option value="STATEMASTER">State Master </option>
                                                <option value="DATETYPEMASTER">Date Type Master</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Control Label / Caption</label>
                                            <input type="text" class="form-control" id="txtCaption37" placeholder="Control Label / Caption">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Place Holder</label>
                                            <input type="text" class="form-control" id="txtPlaceHolder37" placeholder="Place Holder">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Validation Code</label>
                                            <input type="text" class="form-control" id="txtValidationCode37" placeholder="Validation Comma Separated">
                                        </div>

                                        <div class="col-md-3">
                                            <label>Help</label>
                                            <input type="text" class="form-control" id="txtHelp37" placeholder="Help">
                                        </div>

                                    </div>
                                </div>


                                @*Multiselect*@

                                <br />
                                <button id="btnSaveMastersetup" type="submit" class="btn btn-success btnSave">
                                    CREATE MASTER</button>
                                <button id="btnsUpdate" type="submit" class="btn btn-primary btnSave" style="display: none">
                                    UPDATE</button>
                                <button id="btnDelete" type="submit" class="btn btn-green" style="display: none">
                                    DELETE</button>
                                <button id="btnCancelMastersetup" type="submit" class="btn btn-warning ">
                                    CLEAR</button>
                                <button id="btnQuitform" type="submit" class="btn btn-info ">
                                    QUIT FORM</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modify-colum-model" id="DeleteModel" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">System Message</h4>
                    </div>

                    <div class="modal-body  custom-model-body">
                        <form>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label id="lbldelete"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" id="modeldelete">Ok</button>
                                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/JS/Page/Masters.js"></script>
    <script src="/assets/js/jquery.mjs.nestedSortable.js"></script>
    <script>
        $(document).ready(function () {
            if ($('ol.sortable').length) {
                $('ol.sortable').nestedSortable({
                    forcePlaceholderSize: true,
                    handle: 'div',
                    helper: 'clone',
                    items: 'li',
                    opacity: .6,
                    placeholder: 'placeholder',
                    revert: 250,
                    tabSize: 25,
                    tolerance: 'pointer',
                    toleranceElement: '> div',
                    maxLevels: 3,

                    //isTree: true,
                    expandOnHover: 700,
                    startCollapsed: true
                });

                $('.disclose').on('click', function () {
                    $(this).closest('li').toggleClass('mjs-nestedSortable-collapsed').toggleClass('mjs-nestedSortable-expanded');
                })

                $('#serialize').click(function () {
                    serialized = $('ol.sortable').nestedSortable('serialize');
                    $('#serializeOutput').text(serialized + '\n\n');
                })

                $('#toHierarchy').click(function (e) {
                    hiered = $('ol.sortable').nestedSortable('toHierarchy', { startDepthCount: 0 });
                    hiered = dump(hiered);
                    (typeof ($('#toHierarchyOutput')[0].textContent) != 'undefined') ?
                    $('#toHierarchyOutput')[0].textContent = hiered : $('#toHierarchyOutput')[0].innerText = hiered;
                })

                $('#toArray').click(function (e) {
                    arraied = $('ol.sortable').nestedSortable('toArray', { startDepthCount: 0 });
                    arraied = dump(arraied);
                    (typeof ($('#toArrayOutput')[0].textContent) != 'undefined') ?
                    $('#toArrayOutput')[0].textContent = arraied : $('#toArrayOutput')[0].innerText = arraied;
                })
            }
        });
    </script>
}
