@{
    ViewBag.Title = "Masters";
    ViewBag.PageTitle = "Masters";
    ViewBag.FooterCopyRight = "2015 &copy; Modern by Steelcoders.";
}
<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div class="col-md-7">
                <form>
                    <div class="form-group">
                        <label for="txtSrNo">Sr. No.</label>
                        <input type="text" class="form-control" id="txtSrNo" placeholder="User Unique Code" readonly>
                    </div>
                    <div class="form-group">
                        <label for="txtDescription">
                            Description 
                        </label>
                        <textarea cols="5" class="form-control" id="txtDescription"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="txtCode">Code </label>
                        <input type="text" class="form-control" id="txtCode" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label for="txtLastName">Active </label>
                        <select id="drpTitle" class="js-states form-control" tabindex="-1" style="display: none; width: 100%">
                            <option value="1">Active</option>
                            <option value="0">InActive</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txtDescription">
                            Remarks 
                        </label>
                        <textarea cols="5" class="form-control" id="txtRemarsk"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="txtLastName">Dropdown 1</label>
                        <select id="Dropdown1" class="js-states form-control" tabindex="-1" style="display: none; width: 100%">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txtLastName">Dropdown 2</label>
                        <select id="Dropdown2" class="js-states form-control" tabindex="-1" style="display: none; width: 100%">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txtLastName">Dropdown 3</label>
                        <select id="Dropdown3" class="js-states form-control" tabindex="-1" style="display: none; width: 100%">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txtLastName">Dropdown 4</label>
                        <select id="Dropdown4" class="js-states form-control" tabindex="-1" style="display: none; width: 100%">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txtLastName">Dropdown 5</label>
                        <select id="Dropdown5" class="js-states form-control" tabindex="-1" style="display: none; width: 100%">
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="txtSrNo">Textbox 1 </label>
                        <input type="text" class="form-control" id="Textbox1" placeholder="User Unique Code">
                    </div>
                    <div class="form-group">
                        <label for="txtSrNo">Textbox 2</label>
                        <input type="text" class="form-control" id="Textbox2" placeholder="User Unique Code">
                    </div>
                    <div class="form-group">
                        <label for="txtSrNo">Textbox 3</label>
                        <input type="text" class="form-control" id="Textbox3" placeholder="User Unique Code">
                    </div>
                    <div class="form-group">
                        <label for="txtSrNo">Textbox 4</label>
                        <input type="text" class="form-control" id="Textbox4" placeholder="User Unique Code">
                    </div>
                    <div class="form-group">
                        <label for="txtSrNo">Textbox 5</label>
                        <input type="text" class="form-control" id="Textbox5" placeholder="User Unique Code">
                    </div>

                    <div class="form-group">
                        <label for="txtLastName">Rating 1</label>
                        <select id="Rating1" class="js-states form-control" tabindex="-1" style="display: none; width: 100%">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txtLastName">Rating 2</label>
                        <select id="Rating2" class="js-states form-control" tabindex="-1" style="display: none; width: 100%">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txtLastName">Rating 3</label>
                        <select id="Rating3" class="js-states form-control" tabindex="-1" style="display: none; width: 100%">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Date1">Date 1</label>
                        <input type="text" id="Date1" class="form-control date-picker">
                    </div>
                    <div class="form-group">
                        <label for="Date2">Date 2</label>
                        <input type="text" id="Date2" class="form-control date-picker">
                    </div>
                    <div class="form-group">
                        <label for="Date3">Date 3</label>
                        <input type="text" id="Date3" class="form-control date-picker">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Time 1</label>
                        <div class="input-group input-append bootstrap-timepicker">
                            <input id="time1" type="text" class="form-control">
                            <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Time 2</label>
                        <div class="input-group input-append bootstrap-timepicker">
                            <input id="time2" type="text" class="form-control">
                            <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Email 1</label>
                        <input type="email" class="form-control" id="Email1" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email 2</label>
                        <input type="email" class="form-control" id="Email2" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email 3</label>
                        <input type="email" class="form-control" id="Email3" placeholder="Enter email">
                    </div>


                    <div class="form-group">
                        <label for="Amount1">Amount 1</label>
                        <input type="email" class="form-control" id="Amount1" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="Amount2">Amount 2</label>
                        <input type="email" class="form-control" id="Amount2" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="Amount3">Amount 3</label>
                        <input type="email" class="form-control" id="Amount3" placeholder="Enter email">
                    </div>

                    <div class="form-group">
                        <label for="Textarea1">
                            Textarea 
                        </label>
                        <textarea cols="5" class="form-control" id="Textarea1"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="HTMlEditor1">
                            HTML Editor
                        </label>
                        <div class="summernote" id="HTMlEditor1"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
