@{
    ViewBag.Title = "Role Rights";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageTitle = "Role Rights";
    
}
<link href="/assets/plugins/gridgallery/css/component.css" rel="stylesheet" type="text/css" />
<style>
    .tab-itenaries > .col-md-1 > h4,
    .tab-itenaries .col-md-2 > h4,
    .tab-itenaries .col-md-3 > h4,
    .tab-itenaries .col-md-4 > h4,
    .tab-itenaries .col-md-5 > h4,
    .tab-itenaries > .col-md-6 > h4,
    .tab-itenaries .col-md-7 > h4,
    .tab-itenaries .col-md-8 > h4,
    .tab-itenaries .col-md-9 > h4,
    .m-b-lg > h4 {
        border-bottom: 1px dotted #ccc;
        color: #40474f;
        font-size: 22px;
        font-weight: normal;
        margin: 7px 0 10px;
        padding-bottom: 5px;
    }

    .tab-itenaries .col-md-1 > h5,
    .tab-itenaries .col-md-2 > h5,
    .tab-itenaries .col-md-3 > h5,
    .tab-itenaries .col-md-4 > h5,
    .tab-itenaries .col-md-5 > h5,
    .tab-itenaries .col-md-6 > h5,
    .tab-itenaries .col-md-7 > h5,
    .tab-itenaries .col-md-8 > h5,
    .tab-itenaries .col-md-9 > h5,
    .m-b-lg > h5 {
        /*color: #40474f;*/
        font-size: 19px;
        font-weight: bold;
        margin: 0 0 10px;
        padding-bottom: 5px;
        border-bottom: 1px dotted;
        text-shadow: 1px 0px #BEC8D2;
    }

        .tab-itenaries .col-md-1 > h5 > span,
        .tab-itenaries .col-md-2 > h5 > span,
        .tab-itenaries .col-md-3 > h5 > span,
        .tab-itenaries .col-md-4 > h5 > span,
        .tab-itenaries .col-md-5 > h5 > span,
        .tab-itenaries .col-md-6 > h5 > span,
        .tab-itenaries .col-md-7 > h5 > span,
        .tab-itenaries .col-md-8 > h5 > span,
        .tab-itenaries .col-md-9 > h5 > span,
        .m-b-lg > h5 > span {
            float: right;
        }

    .tab-itenaries a > span {
        font-weight: bold;
        font-size: 14px;
    }

    /*.tab-itenaries span {
        font-weight: bold;
        font-size: 14px;
        text-shadow: 1px 0 #BEC8D2;
    }*/

    .tab-itenaries {
        padding-bottom: 10px;
        border: 1px double #BEC8D2 !important;
        border-radius: 5px !important;
        box-shadow: 3px 3px 7px -5px rgba(0, 0, 0, 0.5);
        /*margin-bottom: 15px;*/
    }

        .tab-itenaries .form-control {
            border-width: 0;
            padding: 3px 10px !important;
        }

            .tab-itenaries .form-control .btn, .tab-itenaries .form-control .label {
                width: 100%;
            }

            .tab-itenaries .form-control h2 {
                margin-bottom: 0;
                margin-top: 0;
            }

        .tab-itenaries .right-border {
            border-right: 1px dotted #f25656;
            min-height: 156px;
            padding-left: 25px;
        }

        .tab-itenaries .form-control .btn {
            padding: 8px 10px;
            font-size: 13px;
            text-transform: uppercase;
        }

        .tab-itenaries span.total-cost {
            font-size: 11px;
        }

        .tab-itenaries .table > tbody > tr:first-child > td {
            border-width: 0;
        }

        .tab-itenaries .table > tbody > tr > td:first-child {
            width: 60%;
        }

        .tab-itenaries .table > tbody > tr > td:last-child {
            text-align: right;
            width: 40%;
        }

        .tab-itenaries .table > tbody > tr > td {
            font-size: 11px;
            padding: 7px !important;
        }

    .grid figcaption {
        background: #fff none repeat scroll 0 0;
        padding: 25px;
    }

    .grid li:hover figure {
        opacity: 1;
    }

    .grid li {
        cursor: default;
        float: left;
        width: 33.3% !important;
    }

    figcaption > h3 {
        border-bottom: 1px dashed #3c3c3c !important;
    }

    .grid li {
        position: relative !important;
    }
</style>

<style>
    .hide_cell {
        display: none;
    }

    #errmsg {
        color: red;
    }
</style>


<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                    <li role="presentation" class="active usertab1gridclass" id="userlitab1"><a href="#tab1" role="tab" data-toggle="tab" data-section="tab1" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Serach Role</a></li>
                    <li role="presentation" class="userlitab4class" id="userlitab4"><a href="#tab4" role="tab" data-toggle="tab" data-section="tab4" class="hosting-accord"><span class="menu-icon glyphicon glyphicon glyphicon-cloud"></span>&nbsp;&nbsp;&nbsp;&nbsp; Role Rights</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <div>
                            <form>
                                <div class="table-responsive">
                                    <div class="dropdown table-custome-drop">
                                        <div class="btn-group">
                                            <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <span class="glyphicon glyphicon-download-alt"></span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Excel</a></li>
                                                <li><a href="#">PDF</a></li>
                                                <li><a href="#">Email</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <table id="gridUser" class="display" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th style="display: none">srno</th>
                                                <th>Corporate
                                                </th>
                                                <th>Unit
                                                </th>
                                                <th>Location
                                                </th>
                                                <th>Role
                                                </th>
                                                <th>Action
                                                </th>
                                            </tr>

                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th style="display: none">srno</th>
                                                <th>Corporate
                                                </th>
                                                <th>Unit
                                                </th>
                                                <th>Location
                                                </th>
                                                <th>Role
                                                </th>

                                                <th>Action
                                                </th>
                                            </tr>
                                        </tfoot>

                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>


                    <div role="tabpanel" class="tab-pane " id="tab4">
                        <div>
                            <form>

                                <div class="row">

                                    <input type="text" class="form-control inputform" id="lbSrnoTab4" style="display: none" placeholder="Sr No" readonly="true">
                                    <div class="form-group col-md-4">
                                        <input type="hidden" value="@Session["Corporate"]" id="myHiddenVar" />
                                        <label>Corporate <span>*</span></label>
                                        <select id="drpRightsCorporate" class="js-states col-sm-2 form-control Dropdown  req" style="display: none; width: 100%"></select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Unit <span>*</span></label>
                                        <select id="drpRightsUnit" class="js-states col-sm-2 form-control Dropdown  req" style="display: none; width: 100%"></select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Location <span>*</span></label>
                                        <select id="drpRightsLocation" class="js-states col-sm-2 form-control Dropdown  req" style="display: none; width: 100%"></select>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Role <span>*</span></label>
                                            <input type="text" class="form-control textbox-control  req" id="txtRole" placeholder="Role" data-label="lblRole">
                                        </div>
                                    </div>


                                </div>
                                <br />
                                <div class="row">
                                    <div>
                                        <div id="grid-gallery" class="grid-gallery">
                                            <section class="grid-wrap">
                                                <ul class="grid">
                                                    <li class="grid-sizer"></li>
                                                    <div id="partial">
                                                    </div>
                                                </ul>
                                            </section>
                                            <section class="slideshow">

                                                <ul>
                                                    <li></li>
                                                </ul>
                                            </section>
                                        </div>
                                    </div>
                                </div>

                                <br />
                                <br />
                                <button id="btnSavetab4" type="submit" class="btn btn-success btnSaveTab4" style="display: none">
                                    SAVE</button>
                                <button id="btnupdatetab4" type="submit" class="btn btn-primary btnSaveTab4" style="display: none">
                                    UPDATE</button>
                                <button id="btnDeletetab4" type="button" class="btn btn-green" style="display: none">
                                    DELETE</button>
                                <button id="btnCleartab4" type="button" class="btn btn-warning">
                                    CLEAR</button>
                                <button id="btnQuittab4" type="button" class="btn btn-info">
                                    QUIT FORM</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts
    {
    <script src="~/Scripts/JS/CommonValidations.js"></script>
    <script src="~/Scripts/JS/Page/RoleRights.js"></script>
}
