<div class="col-md-8 full-responsive">
    <div class="form-group">
        <div class="row">
            <div class="col-md-3">
                <label for="drpCostingSet">Contract</label>
                <select id="drpCostingTitle" class="js-states form-control" style="display: none; width: 100%">
                    <option>Khaosok Jungle Safari 2015/16 Full Year</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="txtFromDate">Contract ID </label>
                <input type="text" class="form-control" id="txtContractID" value="0003" placeholder="Contract ID" readonly>
            </div>
            <div class="col-md-6">
                <label for="drpNationalitySet">Guest Nationality </label>
                <select id="drpNationalitySet" class="js-states form-control" style="display: none; width: 100%">
                    <option selected="selected">Asian - Indian</option>
                    <option>Affrican</option>
                    <option>Europen</option>
                    <option>Austrailian</option>
                </select>
            </div>


        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label for="drpVisitor">Visitor Preference</label>
                <select id="drpVisitor" class="js-states form-control" style="display: none; width: 100%">
                    <option>VIP</option>
                    <option selected="selected">Normal</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="drpCostingType">Costing Type</label>
                <select id="drpCostingType" class="js-states form-control" style="display: none; width: 100%">
                    <option>Service Per Day</option>
                    <option selected="selected">Per Pax</option>
                </select>
            </div>


        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label for="drpEntrance">Entrance / Shows / Activity</label>
                <select id="drpEntrance" multiple="multiple" class="js-states form-control" style="display: none; width: 100%">
                    <option>All</option>
                    <option selected="selected">Safari World</option>
                    <option selected="selected">Marine Park</option>
                    <option selected="selected">Jungle Cruise</option>
                </select>
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label for="txtRemarks">Package Inclusions</label>
                <textarea class="form-control" id="txtOverview" rows="5" >Rafting Program A</textarea>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">

            <div class="col-md-3">
                <label for="txtChildTicketrate">Minimum Guarantied Pax</label>
                <input type="text" class="form-control" id="txtChildTicketrate" value="2" placeholder="Child Ticket Rate">
            </div>
            <div class="col-md-3">
                <label for="drpCurrency">Currency</label>
                <select id="drpCurrency" class="js-states form-control" style="display: none; width: 100%">
                    <option selected="selected">THB</option>
                    <option>USD</option>
                    <option>INR</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="txtAdultticketrate">Adult Ticket Rate </label>
                <div class="input-group input-append">
                    <input type="text" class="form-control" id="txtAdultticketrate" value="2500" placeholder="Adult Ticket Rate ">
                    <span class="input-group-addon add-on"><span>THB</span></span>
                </div>
            </div>

        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <h3>Child Ticket Rate</h3>
                <div class="table-responsive">
                    <table style="width: 100%">
                        <thead>
                            <tr>
                                <th style="width: 19%; padding: 5px">Age From</th>
                                <th style="width: 19%; padding: 5px">Age To</th>
                                <th style="width: 19%; padding: 5px">Height Under</th>
                                <th style="width: 19%; padding: 5px">Charge Type</th>
                                <th style="width: 19%; padding: 5px">Rate</th>
                                <th style="width: 5%; padding: 5px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="padding: 5px">
                                    <input type="text" class="form-control" id="txtAgeFrom" value="0" placeholder="">
                                </td>
                                <td style="padding: 5px">
                                    <input type="text" class="form-control" id="txtAgeTo" value="4" placeholder="">
                                </td>
                                <td style="padding: 5px">
                                    <input type="text" class="form-control" id="txtAgeTo" value="" placeholder="">
                                </td>
                                <td style="padding: 5px">
                                    <select id="drpCurrencyadd" class="js-states form-control" style="display: none; width: 100%">
                                        <option selected="selected">FOC</option>
                                        <option>Applicable</option>

                                    </select>
                                </td>
                                <td style="padding: 5px">
                                    <div class="input-group input-append">
                                        <input type="text" class="form-control" id="txtServiceCostadd" value="0" placeholder="">
                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                    </div>
                                </td>

                                <td style="padding: 5px"></td>
                            </tr>
                            <tr>
                                <td style="padding: 5px">
                                    <input type="text" class="form-control" id="txtAgeFrom" value="4" placeholder="">
                                </td>
                                <td style="padding: 5px">
                                    <input type="text" class="form-control" id="txtAgeTo" value="10" placeholder="">
                                </td>
                                <td style="padding: 5px">
                                    <input type="text" class="form-control" id="txtAgeTo" value="120 cm" placeholder="">
                                </td>
                                <td style="padding: 5px">
                                    <select id="drpCurrencyadd" class="js-states form-control" style="display: none; width: 100%">
                                        <option>FOC</option>
                                        <option selected="selected">Applicable</option>

                                    </select>
                                </td>
                                <td style="padding: 5px">
                                    <div class="input-group input-append">
                                        <input type="text" class="form-control" id="txtServiceCostadd" value="1500" placeholder="">
                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                    </div>
                                </td>

                                <td style="padding: 5px">
                                    <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 5px">
                                    <input type="text" class="form-control" id="txtAgeFrom" value="12" placeholder="">
                                </td>
                                <td style="padding: 5px">
                                    <input type="text" class="form-control" id="txtAgeTo" value="-" placeholder="">
                                </td>
                                <td style="padding: 5px">
                                    <input type="text" class="form-control" id="txtAgeTo" value="140 cm" placeholder="">
                                </td>
                                <td style="padding: 5px">
                                    <select id="drpCurrencyadd" class="js-states form-control" style="display: none; width: 100%">
                                        <option>FOC</option>
                                        <option selected="selected">Applicable</option>
                                    </select>
                                </td>
                                <td style="padding: 5px">
                                    <div class="input-group input-append">
                                        <input type="text" class="form-control" id="txtServiceCostadd" value="2900" placeholder="">
                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                    </div>
                                </td>
                                <td style="padding: 5px">
                                    <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <h3>SIC Pickup Detail</h3>
                <div class="table-responsive">
                    <table style="width: 100%">
                        <thead>
                            <tr>
                                <th style="width: 60%; padding: 5px">Pickup From Area</th>
                                <th style="width: 34%; padding: 5px">Pickup Time</th>

                                <th style="width: 6%; padding: 5px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td style="padding: 5px">
                                    <input type="text" class="form-control" id="txtAgeTo" value="Patang Beach" placeholder="">
                                </td>
                                <td style="padding: 5px">
                                    <div class="input-group input-append bootstrap-timepicker">
                                        <input type="text" class="form-control timepicker" value="1200" id="timepicker111">
                                        <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                    </div>
                                </td>
                                <td style="padding: 5px"></td>
                            </tr>
                            <tr>
                                <td style="padding: 5px">
                                    <input type="text" class="form-control" id="txtAgeFrom" value="Keta Beach" placeholder="">
                                </td>
                                <td style="padding: 5px">
                                    <div class="input-group input-append bootstrap-timepicker">
                                        <input type="text" class="form-control timepicker" value="1200" id="timepicker111">
                                        <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                    </div>
                                </td>

                                <td style="padding: 5px">
                                    <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 5px">
                                    <input type="text" class="form-control" id="txtAgeFrom" value="" placeholder="">
                                </td>
                                <td style="padding: 5px">
                                    <div class="input-group input-append bootstrap-timepicker">
                                        <input type="text" class="form-control timepicker" value="1200" id="timepicker111">
                                        <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                    </div>
                                </td>
                                <td style="padding: 5px">
                                    <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <button id="btnSave" type="submit" class="btn btn-success btnSave">
        SAVE</button>
    <button id="btnSave" type="submit" class="btn btn-primary btnSave">
        UPDATE</button>
    <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
        DELETE</button>
    <button id="btnSave" type="submit" class="btn btn-warning btnSave">
        CREATE NEW</button>
    <button id="btnSave" type="submit" class="btn btn-info btnSave">
        QUIT FORM</button>
    <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
        <span class="fa fa-refresh"></span>
    </a>
</div>
<div class="col-md-4 summery-detail summery-uitilities-detail summerytab3">
    <div class="panel-body tab-itenaries ">
        <div class="panel-group">
            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title">Summary <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report"></a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>
                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created From Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Page Load Time: </td>
                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                </tr>
                                <tr>
                                    <td>Record Update Time: </td>
                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
