<div class="col-md-8 full-responsive">
    <form>
        <div class="col-md-12">
            <h3 class="tab2section1"><span class="section-index">1</span>&nbsp;Basic Details
                                     <span class="text-danger tab3Formname" style="display: none"></span>
            </h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group formwl1">
                        <label for="txtCmpOfficeName">Corporate Company Official Name <span>*</span></label>
                        <input type="text" class="form-control " id="txtCmpOfficeName" placeholder="Company Official Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="drpcompanyIndustry">Corporate Company Industry <span>*</span></label>
                        <select id="drpcompanyIndustry" class="js-states form-control Industry Dropdown " style="display: none; width: 100%">
                            <option>--Select Corporate Company Industry--</option>
                            <option>Tours & Travels</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="drpcompanyType">Company Type <span>*</span></label>
                        <select id="drpcompanyType" multiple="multiple" data-placeholder="Select Company Type" class="js-states form-control req Dropdown" style="display: none; width: 100%">
                            <option>All</option>
                            <option>Incoming Tour Operator</option>
                            <option>FIT Tour Operator</option>
                            <option>Outgoing Tour Operator</option>

                            <option>Event (MICE) Organiser</option>
                            <option>Destination Management Company</option>
                            <option>Online Travel Agency </option>
                            <option>Business Travel Company</option>
                            <option>Ski Tour Operator</option>
                            <option>Software Reseller</option>
                            <option>Hotel</option>
                            <option>Sightseeing </option>
                            <option>Transfer (Car / Bus)</option>
                            <option>Restaurant</option>
                            <option>Flight</option>
                            <option>Train</option>
                            <option>Cruise</option>
                            <option>Guide</option>
                            <option>Currency Exchange </option>
                            <option>Visa</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="drpServices">Services <span>*</span></label>
                        <select id="drpServices" multiple="multiple" class="js-states form-control Dropdown " style="display: none; width: 100%">
                            <option>All</option>
                            <option>FIT Tour</option>
                            <option>Groups</option>

                            <option>FIT Tours</option>
                            <option>Groups</option>
                            <option>MICE</option>
                            <option>Charter Tours</option>
                            <option>Activities - Sightseeing</option>
                            <option>Transfer and Rent A Car</option>
                            <option>Packaged Tour</option>
                            <option>Visa</option>
                            <option>Reseller</option>
                            <option>Hotel</option>
                            <option>Sightseeing </option>
                            <option>Transfer (Car / Bus)</option>
                            <option>Restaurant</option>
                            <option>Flight</option>
                            <option>Train</option>
                            <option>Cruise</option>
                            <option>Guide</option>
                            <option>Currency Exchange </option>
                            <option>International Flight</option>
                            <option>Domestic Flight</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="drpBusinessMode">Business Mode <span>*</span></label>
                        <select id="drpBusinessMode" multiple="multiple" class="js-states form-control Dropdown " style="display: none; width: 100%">
                            <option>All</option>
                            <option>B2B</option>
                            <option>B2C</option>

                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="txtContactPerson">Primary Contact Person   <span>*</span></label>
                        <input type="text" class="form-control  email" id="txtContactPerson" placeholder=" Primary Contact Person ">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="txtOfficialEmail">Official Email <span>*</span></label>
                        <input type="text" class="form-control  email" id="txtOfficialEmail" placeholder="Official Email">
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="txtOfficialPhoneCode">Code</label>
                    <input type="text" class="form-control url" id="txtOfficialPhoneCode" placeholder="Country Code">
                </div>
                <div class="col-md-4">
                    <label for="txtOfficialPhone">Official Phone</label>
                    <input type="text" class="form-control url" id="txtOfficialPhone" placeholder="Official Phone">
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="txtfacebook">Facebook</label>
                        <input type="text" class="form-control url" id="txtfacebook" placeholder="Facebook">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="txttwitter">Twitter</label>
                        <input type="text" class="form-control url" id="txttwitter" placeholder="Twitter">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="txtgoogleplus">Google Plus</label>
                        <input type="text" class="form-control url" id="txtgoogleplus" placeholder="Google Plus">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="txtwebportal">Website</label>
                        <input type="text" class="form-control url" id="txtwebportal" placeholder="Web Portal">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="drpStatus">Status</label>
                        <select id="drpStatus" class="js-states form-control Dropdown " style="display: none; width: 100%">
                            <option>Active</option>
                            <option>Inactive</option>


                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <h3 class="section-headers tab2section2"><span class="section-index">2</span>&nbsp;White Label Criterias</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Application Theme  <span>*</span> </label>
                        <select id="drpApplicationTheme" class="js-states form-control Dropdown " style="display: none; width: 100%">
                            <option>Tours & Travels  Theme 1 </option>
                            <option>Tours & Travels  Theme 2 </option>
                            <option>Tours & Travels  Theme 3 </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="txtApplicationURL">Application URL <span>*</span></label>
                        <input type="text" class="form-control req url" id="txtApplicationURL" placeholder="http://gt.techpure.co.uk">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="txtWebURL">Web Theme </label>
                        <select id="drpWebTheme" class="js-states form-control Dropdown " style="display: none; width: 100%">
                            <option>Tours & Travels  Theme 1 </option>
                            <option>Tours & Travels  Theme 2 </option>
                            <option>Tours & Travels  Theme 3 </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="txtWebURL">Web URL </label>
                        <input type="text" class="form-control url" id="txtWebURL" placeholder="http://www.flamingotravels.co.in">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="txtFavicon">Whitelabel</label>
                        <select id="drpBaseCurrency" class="js-states form-control Dropdown req" style="display: none; width: 100%">
                            <option>None</option>
                            <option>Full White Label</option>
                            <option>Semi White Label</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="txtLogo">Logo <span>*</span> </label>
                        <input type="text" class="form-control req" id="txtLogo" onclick="$('#logoselect').click();" placeholder="gtlogo">
                        <input id="logoselect" type="file" style="display: none" />

                    </div>
                </div>
               

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="txtFavicon">Favicon Image  <span>*</span> </label>
                        <input type="text" class="form-control" id="txtFavicon" onclick="$('#faviconselect').click();" placeholder="FaviconImage">
                        <input id="faviconselect" type="file" style="display: none" />
                    </div>
                </div>
              
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="txtbackgroundimg">Login Background Image <span>*</span> </label>
                        <input type="text" class="form-control req " id="txtbackgroundimg" onclick="$('#bgselect').click();" placeholder="gtbgimg">
                        <input id="bgselect" type="file" style="display: none" />
                    </div>
                </div>
              @*  <div class="col-md-1">
                    <div class="form-group">
                        <label class="labelforcheckbox">&nbsp;</label>
                        <a class="btn label-success" style="background-color: #22BAA0 !important; color: white !important">
                            <span class="fa fa-upload"></span>
                        </a>
                    </div>
                </div>*@

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="txtLoginFrmCaption">Login Caption<span>*</span> </label>
                        <input type="text" class="form-control" id="txtLoginFrmCaption" placeholder="Login Caption">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="txtPassword">Copyright Note Text <span></span></label>
                        <input type="text" class="form-control" id="txtCopyRights" placeholder="Copyright Note Text">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h3 class="section-headers tab2section3"><span class="section-index">3</span>&nbsp;Corporate Settings</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="drpBaseCurrency">Base Currency <span>*</span></label>
                        <select id="drpBaseCurrency" class="js-states form-control Dropdown req" style="display: none; width: 100%">
                            <option>INR</option>
                            <option>AUD</option>
                            <option>USD</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="drpBaseLanguage">Base Language <span>*</span></label>
                        <select id="drpBaseLanguage" class="js-states form-control Language Dropdown req" style="display: none; width: 100%">
                            <option>English</option>
                            <option>Russian</option>
                            <option>Arabic</option>
                            <option>Portuguese</option>
                        </select>
                    </div>

                </div>



            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="drpOtherLanguage">Other Language <span></span></label>
                        <select id="drpOtherLanguage" class="js-states form-control Language Dropdown" style="display: none; width: 100%">
                            <option>-- Select Other Language--</option>
                            <option>Russian</option>
                            <option>Arabic</option>
                            <option>Portuguese</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label for="txtUsername">Admin User Name (Email) <span>*</span></label>
                        <input type="text" class="form-control req email" id="txtUsername" placeholder="Email">
                    </div>
                </div>



            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="txtUsername">Confirm Admin User Name (Email) <span>*</span></label>
                        <input type="text" class="form-control req email" id="txtConfirmUserName" placeholder="Email">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="txtPassword">Password <span>*</span></label>
                        <input type="password" class="form-control req min passwordcrite emailpassword" id="txtPassword" data-min="8" placeholder="Password">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="txtConfirmPassword">Confirm Password <span>*</span></label>
                        <input type="password" class="form-control confirm req" id="txtConfirmPassword" data-confirm="txtPassword" placeholder="Confirm Password">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="drpOtherLanguage">Corporate Date Format <span>*</span></label>
                        <select id="drpOtherLanguage" class="js-states form-control Language Dropdown" style="display: none; width: 100%">
                            <option>mm/dd/yyyy</option>
                            <option>dd/mm/yyyy</option>
                            <option>yyyy/mm/dd</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-12">
            <h3 class="section-headers tab2section4"><span class="section-index">4</span>&nbsp;Referral Details</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="drpRefferenceCorporateCompany">Referring Corporate Company </label>
                        <select id="drpRefferenceCorporateCompany" class="js-states form-control Dropdown" style="display: none; width: 100%">
                            <option>-- Select Refference Corporate Company--</option>
                            <option>Flamingo</option>
                            <option>Travels Unlimted</option>
                            <option>Kaya Tours & Travels</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="txtOtherRefference2">Other Refference 1</label>
                        <input type="text" class="form-control" id="txtOtherRefference2" placeholder="Other Refference 1">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="txtOtherRefference1">Other Refference 2</label>
                        <input type="text" class="form-control" id="txtOtherRefference1" placeholder="Other Refference 2">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="txtAddressLine2">Commision % </label>
                        <input type="text" class="form-control num" id="txtCommision" placeholder="Commision %">
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="txtAddressLine2">Commision Amount </label>
                        <input type="text" class="form-control num" id="txtCommisionAmount" placeholder="Commision Amount">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="drpCommisionCurrency">Commision Currency </label>
                        <select id="drpCommisionCurrency" class="js-states form-control Dropdown req" style="display: none; width: 100%">
                            <option>INR</option>
                            <option>AUD</option>
                            <option>USD</option>
                        </select>
                    </div>
                </div>



                <div class="col-md-6">

                    <div class="form-group">
                        <label for="drpCommissionType">Commision Type </label>
                        <select id="drpCommissionType" class="js-states form-control Dropdown req" style="display: none; width: 100%">
                            <option>One Time</option>
                            <option>Recurring</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="drpRecurringPeriod">Recurring Period</label>
                        <select id="drpRecurringPeriod" class="js-states form-control Dropdown" style="display: none; width: 100%">
                            <option>-- Select Recurring Period --</option>
                            <option>1 Month</option>
                            <option>1 Quarter</option>
                            <option>6 Months</option>
                            <option>1 Year</option>
                            <option>2 Years</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="tagSearch">Custom Tags</label>
                        <input type="text" data-role="tagsinput" id="txtTagSearchsum" class="form-control" placeholder="Custom Tags" />
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-12">

            <br />
            <button id="btnSaveTab2Sec4" type="submit" class="btn btn-success btnSaveuserpref">
                SAVE</button>
            <button id="btnUpdateTab2Sec4" type="submit" class="btn btn-primary btnSaveuserpref">
                UPDATE</button>
            <button id="btnCancelTab2Sec4" type="button" class="btn btn-green btnCancel">
                DELETE</button>
            <button id="btnclearTab2Sec4" type="button" class="btn btn-warning btnClearuserpref">
                CREATE NEW</button>
            <a class="btn btn-info" rel="tooltip" title="Quit Form" aria-expanded="false">
                <span class="fa fa-times"></span>
            </a>

            <a class="btn btn-refresh" rel="tooltip" title="Refresh Page" aria-expanded="false" onclick="window.location.href=window.location.href;">
                <span class="fa fa-refresh"></span>
            </a>
            </br>

        </div>
    </form>
</div>

<div class="col-md-4 summery-detail summery-uitilities-detail summerytab2">
    <div class="panel-body tab-itenaries ">
        <div class="panel-group">
            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title guidesummerywl1">Summary
                          <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report">
                              <i class="fa fa-tasks"></i>
                          </a>
                        <a id="startGuiededTour" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Guided Tour">
                            <i class="icon-info"></i>
                        </a>
                        <a id="startTimeline" onclick="$('#showRightSideTimeline').trigger('click')" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="View Trail">
                            <i class="fa fa-sitemap"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>
                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created From Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Page Load Time: </td>
                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                </tr>
                                <tr>
                                    <td>Record Update Time: </td>
                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
