<div class="col-md-8 full-responsive">
<form>
    <div class="col-md-12">
        <h3 class="tab5section">Database
                                    <span class="text-danger tab3Formname" style="display: none"></span>
        </h3>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">

                    <label for="drpDatabaseHost">Database Host <span>*</span></label>
                    <select id="drpDatabaseHost" class="js-states form-control  dropclear" style="display: none; width: 100%">
                        <option>--Select Database Host--</option>
                        <option>Database Host 1</option>
                        <option>Database Host 2</option>
                    </select>


                </div>

                <div class="col-md-6">


                    <label for="txtDatabaseName">Database Name <span>*</span></label>
                    <input type="text" class="form-control  num" id="txtDatabaseName" placeholder="Database Name">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtDatabaseUser">Database User <span>*</span></label>
                    <input type="text" class="form-control  num" id="txtDatabaseUser" placeholder="Database User">
                </div>

                <div class="col-md-6">


                    <label for="txtDatabasePassword">Database Password <span>*</span></label>
                    <input type="password" class="form-control  num" id="txtDatabasePassword" placeholder="Database Password">
                </div>
            </div>
        </div>
           <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="tagSearch">Custom Tags</label>
                        <input type="text" data-role="tagsinput" id="txtTagSearchsum" class="form-control" placeholder="Custom Tags" />
                    </div>
                </div>
            </div>

        <div class="row">
            <div class="col-md-12">
                <br />
                <button id="btnSaveTab7" type="submit" class="btn btn-success btnSaveuserpref">
                    SAVE</button>
                <button id="btnUpdateTab7" type="submit" class="btn btn-primary btnSaveuserpref">
                    UPDATE</button>
               
               <a class="btn btn-info" rel="tooltip" title="Quit Form" aria-expanded="false">
                <span class="fa fa-times"></span>
            </a>
                <a class="btn btn-refresh" rel="tooltip" title="Refresh Page" aria-expanded="false" onclick="window.location.href=window.location.href;">
                    <span class="fa fa-refresh"></span>
                </a>

            </div>
        </div>
    </div>
</form>
</div>
<div class="col-md-4 summery-detail summery-uitilities-detail summerytab7">
    <div class="panel-body tab-itenaries ">
        <div class="panel-group">
            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title">Summary <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report"></a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>
                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created From Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Page Load Time: </td>
                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                </tr>
                                <tr>
                                    <td>Record Update Time: </td>
                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>