<div class="col-md-8 full-responsive">
    <form>
        <div class="col-md-12">
            <h3 class="tab3section1"><span class="section-index">1</span>&nbsp;Hosting
                                    <span class="text-danger tab3Formname" style="display: none"></span>
            </h3>
            <input type="text" class="form-control" id="txtsrnotab3" placeholder="Don't Enter Text" style="display: none">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">

                        <label for="drpProvider">Cloud Provider <span>*</span></label>
                        <select id="drpProvider" class="js-states form-control  Dropdownhost" style="display: none; width: 100%">
                            <option>--Select Cloud Provider--</option>
                            <option>Cloud Provider 1</option>
                            <option>Cloud Provider 2</option>
                            <option>Cloud Provider 3</option>
                            <option>Cloud Provider 4</option>
                        </select>

                    </div>
                    <div class="col-md-3">

                        <label for="drpCloudServerIP">Cloud Server IP <span>*</span></label>
                        <select id="drpCloudServerIP" class="js-states form-control  Dropdownhost" style="display: none; width: 100%">
                            <option>--Select Cloud Server IP--</option>
                        </select>

                    </div>
                    <div class="col-md-6">
                        <label for="txtCloudDiskSpace">Cloud Disk Space (GB) <span>*</span></label>
                        <input type="text" class="form-control " id="txtCloudDiskSpace" placeholder="Allocate Cloud Disk Space">
                    </div>


                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label class="labelforcheckbox">&nbsp;</label>
                        <div class="form-group form-marings">
                            <input type="checkbox" id="chkhostingcostnotincluded">Cloud Cost Included
                        </div>
                    </div>
                    <div class="col-md-3">

                        <label for="txtHostingCostPerMonth">Cloud Cost Per Month </label>
                        <div class="input-group input-append bootstrap-timepicker">
                            <input type="text" class="form-control req" id="txtutilized" value="20000" placeholder="Hosting Cost Per Month "><span class="input-group-addon add-on"><span>GBP</span></span>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <label for="drpCDNProvider">CDN Provider </label>
                        <select id="drpCDNProvider" class="js-states form-control Dropdownhost" style="display: none; width: 100%">
                            <option>--Select CDN Provider--</option>
                            <option>CDN Provider 1</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="txtCDNSpace">CDN Space (GB) <span></span></label>
                        <input type="text" class="form-control" id="txtCDNSpace" placeholder="CDN Space">
                    </div>


                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label class="labelforcheckbox">&nbsp;</label>
                        <div class="form-group form-marings">
                            <input type="checkbox" id="chkhostingcostnotincluded">CDN Cost Included
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="txtCostPerMonth">CDN Cost Per Month </label>
                        <div class="input-group input-append bootstrap-timepicker">
                            <input type="text" class="form-control req" id="txtutilized" value="20000" placeholder="Cost Per Month"><span class="input-group-addon add-on"><span>GBP</span></span>
                        </div>

                    </div>
                    <div class="col-md-3">

                        <label for="txtConfirmHotelUserPassword">IP Restricted Access</label>
                        <input type="text" class="form-control " id="txtipristrictedaccess" placeholder="IP Restricted Access">
                    </div>
                    <div class="col-md-3">

                        <label for="txtTrasactionCount">Trasaction Count</label>
                        <input type="text" class="form-control num max" id="txtTrasactionCount" data-max="100000" placeholder="Trasaction Count">
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <br />
            <button id="btnSaveTab3Sec2" type="submit" class="btn btn-success btnSaveuserpref">
                SAVE</button>
            <button id="btnUpdateTab3Sec2" type="submit" class="btn btn-primary btnSaveuserpref">
                UPDATE</button>
          
            <button id="btnquitTab3Sec2" type="button" class="btn btn-info">
                QUIT FORM</button>
            <a class="btn btn-refresh" rel="tooltip" title="Refresh Page" aria-expanded="false" onclick="window.location.href=window.location.href;">
                <span class="fa fa-refresh"></span>
            </a>
        </div>



        <div class="col-md-12">
            <h3 class="section-headers tab4section2"><span class="section-index">2</span>&nbsp;Support </h3>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">

                        <label for="drpSupportMode">Support Mode <span>*</span></label>
                        <select id="drpSupportMode" multiple="multiple" data-placeholder="Select Mode" class="js-states form-control  Dropdown" style="display: none; width: 100%">
                            <option>All</option>
                            <option>Email</option>
                            <option>Call</option>
                        </select>

                    </div>
                    <div class="col-md-6">

                        <label for="txtFreeSupportPeriod">Free Support Period</label>
                        <input type="text" class="form-control negnum" id="txtFreeSupportPeriod" placeholder="Free Support Period ">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">

                        <label for="txtSupportCostPerMonth">Support Cost Per Month <span></span></label>
                        @*<input type="text" class="form-control num" id="txtSupportCostPerMonth" placeholder="Support Cost Per Month">*@
                        <div class="input-group input-append bootstrap-timepicker">
                            <input type="text" class="form-control req" id="txtSupportCostPerMonth" placeholder="Support Cost Per Month  "><span class="input-group-addon add-on"><span>GBP</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <br />
            <button id="btnSaveTab4Sec2" type="submit" class="btn btn-success btnSaveuserpref">
                SAVE</button>
            <button id="btnUpdateTab4Sec2" type="submit" class="btn btn-primary btnSaveuserpref">
                UPDATE</button>
            <button id="btnDownload" type="submit" class="btn btn-danger btnSaveuserpref">
                DOWNLOAD INVOICE</button>
             <button id="btnSendInvoice" type="submit" class="btn btn-warning btnSaveuserpref">
                SEND INVOICE TO CUSTOMER</button>
            <button id="btnquitTab4Sec2" type="button" class="btn btn-info">
                QUIT FORM</button>
            <a class="btn btn-refresh" rel="tooltip" title="Refresh Page" aria-expanded="false" onclick="window.location.href=window.location.href;">
                <span class="fa fa-refresh"></span>
            </a>

        </div>

    </form>
</div>
<div class="col-md-4 summery-detail summery-uitilities-detail summerytab4">
    <div class="panel-body tab-itenaries ">
        <div class="panel-group">
            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title">Summary <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report"></a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>
                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created From Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Page Load Time: </td>
                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                </tr>
                                <tr>
                                    <td>Record Update Time: </td>
                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
