 <form>
                            <div class="col-md-12">
                                <h3 class="tab6section">Password Authentication Preference
                                    <span class="text-danger tab3Formname" style="display: none"></span>
                                </h3>
                                <input type="text" class="form-control" id="txtsrnotab6" placeholder="SR" style="display: none">


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">

                                                <label for="txtuiredcapitalcharacters">Required Capital Characters<span> *</span></label>
                                                <input type="text" class="form-control  num" id="txtuiredcapitalcharacters" placeholder="Capital Characters">
                                            </div>

                                            <div class="col-md-6">

                                                <label for="txtuirednumeric">Required Numeric<span> *</span></label>
                                                <input type="text" class="form-control  num" id="txtuirednumeric" placeholder="Required Numeric">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">

                                                <label for="txtcontinuenumber">Continue Number Disallow<span> *</span></label>
                                                <input type="text" class="form-control  num" id="txtcontinuenumber" placeholder="Continue Number Disallow">
                                            </div>
                                            <div class="col-md-6">

                                                <label for="txtnumberofattemptslock">Number of Attempts to Lock <span>*</span></label>
                                                <input type="text" class="form-control  num" id="txtnumberofattemptslock" placeholder="Number of Attempts to Lock">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">

                                                <label for="txtlastsamepassword">Last Same Password Disallow</label>
                                                <input type="text" class="form-control num" id="txtlastsamepassword" placeholder="Last Same Password Disallow">
                                            </div>
                                            <div class="col-md-6">

                                                <label for="txtuserlockunlockminuts">User Lock/UnLock  Minuts</label>
                                                <input type="text" class="form-control num" id="txtuserlockunlockminuts" placeholder="User Lock/UnLock  Minuts">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">

                                                <label for="txtuiredspecialcharacter">Required Special Characters<span> *</span></label>
                                                <input type="text" class="form-control  num" id="txtuiredspecialcharacter" placeholder="Required Special Characters">
                                            </div>
                                            <div class="col-md-6">

                                                <label for="txtpasswordminimumlength">Password Minimum Length <span>*</span></label>
                                                <input type="text" class="form-control  num" id="txtpasswordminimumlength" placeholder="Password minimum Length">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">

                                                <label for="txtcaptchaenableattempt">Captcha Enable Attempt</label>
                                                <input type="text" class="form-control num" id="txtcaptchaenableattempt" placeholder="Captch Enable Attempt">
                                            </div>
                                            <div class="col-md-6">

                                                <label for="txtpasswordexpirydays">Password Expiry Days</label>
                                                <input type="text" class="form-control num" id="txtpasswordexpirydays" placeholder="Password Expiry Days">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">

                                                <label for="txtotpexpirytime">Password Reset Mode</label>
                                                <select id="drpOTPMode" class="js-states form-control Dropdown" style="display: none; width: 100%">
                                                    <option>-- Select Password Reset Mode --</option>
                                                    <option>OTP Email</option>
                                                    <option>OTP SMS</option>
                                                    <option>Password Reset Link in Email</option>
                                                </select>

                                            </div>
                                            <div class="col-md-6">

                                                <label for="txtotpexpirytime">OTP Expiry Time</label>
                                                <input type="text" class="form-control negnum" id="txtOTPExpiryTime" placeholder="OTP Expiry Time">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <br />
                                    <button id="btnSaveTab6" type="submit" class="btn btn-success btnSaveuserpref">
                                        SAVE</button>
                                    <button id="btnUpdateTab6" type="submit" class="btn btn-primary btnSaveuserpref">
                                        UPDATE</button>
                                    <button id="btnCancelTab6" type="button" class="btn btn-green btnCancel">
                                        DELETE</button>
                                    <button id="btnclearTab6" type="button" class="btn btn-warning btnClearuserpref">
                                        CLEAR</button>
                                    <button id="btnquitTab6" type="button" class="btn btn-info">
                                        QUIT FORM</button>
                                    <a class="btn btn-refresh" rel="tooltip" title="Refresh Page" aria-expanded="false" onclick="window.location.href=window.location.href;">
                                        <span class="fa fa-refresh"></span>
                                    </a>
                                </div>

                            </div>
                        </form>