<div class="col-md-8 full-responsive">
    <form>
        <div class="row">
            <div class="col-md-12 full-responsive">
                <h3 class="tab6section">Password Authentication Preference<span class="text-danger tab3Formname" style="display: none"></span></h3>
                <input type="text" class="form-control" id="txtsrnotab6" placeholder="SR" style="display: none">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">

                            <label for="txtuiredcapitalcharacters">Required Capital Characters (Count) <span class="fa fa-question-circle text-info" title="Number of capital characters" rel="tooltip"></span></label>
                            <input type="text" class="form-control  num" id="txtuiredcapitalcharacters" placeholder="Capital Characters">
                        </div>

                        <div class="col-md-6">

                            <label for="txtuirednumeric">Required Numeric (Count) <span class="fa fa-question-circle text-info" title="Number of numeric" rel="tooltip"></span></label>
                            <input type="text" class="form-control  num" id="txtuirednumeric" placeholder="Required Numeric">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">

                            <label for="txtcontinuenumber">Continue Number Allowed (Count) <span class="fa fa-question-circle text-info" title="Max continue Number" rel="tooltip"></span></label>
                            <input type="text" class="form-control  num" id="txtcontinuenumber" placeholder="Continue Number Allow">
                        </div>
                        <div class="col-md-6">

                            <label for="txtnumberofattemptslock">Number of Attempts to Lock (Count) <span class="fa fa-question-circle text-info" title="Max number of attemps to lock" rel="tooltip"></span></label>
                            <input type="text" class="form-control  num" id="txtnumberofattemptslock" placeholder="Number of Attempts to Lock">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">

                            <label for="txtlastsamepassword">Last Same Password Disallow (Count) <span class="fa fa-question-circle text-info" title="Number of last same password disallow" rel="tooltip"></span></label>
                            <input type="text" class="form-control num" id="txtlastsamepassword" placeholder="Last Same Password Disallow">
                        </div>
                        <div class="col-md-6">

                            <label for="txtuserlockunlockminuts">User Lock/UnLock  Minuts <span class="fa fa-question-circle text-info" title="Unlock time in minuts" rel="tooltip"></span></label>
                            <input type="text" class="form-control num" id="txtuserlockunlockminuts" placeholder="User Lock/UnLock  Minuts">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">

                            <label for="txtuiredspecialcharacter">Required Special Characters (Count) <span class="fa fa-question-circle text-info" title="Max Number of special characters" rel="tooltip"></span></label>
                            <input type="text" class="form-control  num" id="txtuiredspecialcharacter" placeholder="Required Special Characters">
                        </div>
                        <div class="col-md-6">

                            <label for="txtpasswordminimumlength">Password Minimum Length <span class="fa fa-question-circle text-info" title="Min length of password" rel="tooltip"></span></label>
                            <input type="text" class="form-control  num" id="txtpasswordminimumlength" placeholder="Password minimum Length">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">

                            <label for="txtcaptchaenableattempt">Captcha Enable Attempt (Count) <span class="fa fa-question-circle text-info" title="Max Number of captcha attemps" rel="tooltip"></span></label>
                            <input type="text" class="form-control num" id="txtcaptchaenableattempt" placeholder="Captch Enable Attempt">
                        </div>
                        <div class="col-md-6">

                            <label for="txtpasswordexpirydays">Password Expiry Days&nbsp; <span class="fa fa-question-circle text-info" title="Max password expiry days" rel="tooltip"></span></label>
                            <input type="text" class="form-control num" id="txtpasswordexpirydays" placeholder="Password Expiry Days">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">

                            <label for="txtotpexpirytime">Password Reset Mode <span>*</span> <span class="fa fa-question-circle text-info" title="Password Reset Mode" rel="tooltip"></span></label>
                            <select id="drpOTPMode" class="js-states form-control Dropdown" style="display: none; width: 100%">
                                <option>-- Select Password Reset Mode --</option>
                                <option>OTP Email</option>
                                <option>OTP SMS</option>
                                <option>Password Reset Link in Email</option>
                            </select>

                        </div>
                        <div class="col-md-6">

                            <label for="txtotpexpirytime">OTP Expiry Time / Link Expiry Time (Minuts) <span>*</span> <span class="fa fa-question-circle text-info" title="OTP expiry times in minuts" rel="tooltip"></span></label>
                            <input type="text" class="form-control negnum" id="txtOTPExpiryTime" placeholder="OTP Expiry Time">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="tagSearch">Custom Tags</label>
                            <input type="text" data-role="tagsinput" id="txtTagSearchsum" class="form-control" placeholder="Custom Tags" />
                        </div>
                    </div>
                </div>
                <br />
                <button id="btnSaveTab6" type="submit" class="btn btn-success btnSaveuserpref">
                    SAVE</button>
                <button id="btnUpdateTab6" type="submit" class="btn btn-primary btnSaveuserpref">
                    UPDATE</button>

                <a class="btn btn-info" rel="tooltip" title="Quit Form" aria-expanded="false">
                    <span class="fa fa-times"></span>
                </a>
                <a class="btn btn-refresh" rel="tooltip" title="Refresh Page" aria-expanded="false" onclick="window.location.href=window.location.href;">
                    <span class="fa fa-refresh"></span>
                </a>
            </div>
        </div>
    </form>
</div>
<div class="col-md-4 summery-detail summery-uitilities-detail summerytab6">
    <div class="panel-body tab-itenaries ">
        <div class="panel-group">
            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title">Summary <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report"></a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>
                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created From Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Page Load Time: </td>
                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                </tr>
                                <tr>
                                    <td>Record Update Time: </td>
                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
