<div class="col-md-8 full-responsive">
    <form>
        <div class="col-md-12">
            <h3 class="tab3section2"><span class="section-index">1</span>&nbsp;Subscription
                                     <span class="text-danger tab3Formname" style="display: none"></span>
            </h3>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label for="txtPlanName">Plan Name <span>*</span></label>
                        <input type="text" class="form-control " id="txtPlanName" placeholder="Plan Name">
                    </div>
                    <div class="col-md-3">
                        <label for="drpPlanType">Plan Type <span>*</span></label>
                        <select id="drpPlanType" class="js-states form-control  Dropdownhost" style="display: none; width: 100%">
                            <option>Regular</option>
                            <option>Free</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="txtShare">% Share of Revenue</label>
                        <input type="text" class="form-control  num" id="txtShare" placeholder="% Share of Revenue">
                    </div>
                    <div class="col-md-3">
                        <label for="txtNumberofUsers">Number of Users <span>*</span></label>
                        <input type="text" class="form-control  num" id="txtNumberofUsers" placeholder="Number of Users">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label for="txtSubscriptionFromDate">Subscription From Date <span>*</span></label>
                        <input type="text" class="form-control date-picker" id="txtSubscriptionFromDate" placeholder="dd/MM/yyyy">
                    </div>
                    <div class="col-md-3">
                        <label for="txtSubscriptionToDate">Subscription To Date <span>*</span></label>
                        <input type="text" class="form-control date-picker datecompair" id="txtSubscriptionToDate" data-datecom="txtSubscriptionFromDate" placeholder="dd/MM/yyyy">
                    </div>
                    <div class="col-md-3">
                        <label for="drpBillingCycle">Billing Cycle <span>*</span></label>
                        <select id="drpBillingCycle" class="js-states form-control  Dropdownhost" style="display: none; width: 100%">
                            <option>Monthly</option>
                            <option>Quarterly</option>
                            <option>6 Months</option>
                            <option>Yearly</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="drpmaINCurrency">Payment Currency <span>*</span></label>
                        <select id="drpmaINCurrency" class="js-states form-control Dropdown" style="display: none; width: 100%">
                            <option>GBP</option>
                            <option>INR</option>
                            <option>AUD</option>
                            <option>USD</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="drpBillingFromCompany">Billing From Company <span>*</span><span></span></label>
                        <select id="drpBillingFromCompany" class="js-states form-control Dropdownhost" style="display: none; width: 100%">
                            <option>Techpure LTD</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="txtAmountPerUserPerMonth">Amt Per User Per Month <span>*</span><span></span></label>
                        <div class="input-group input-append bootstrap-timepicker">
                            <input type="text" class="form-control req" id="txtutilized" placeholder=""><span class="input-group-addon add-on"><span>GBP</span></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="txtTotalAmountPerMonth">Total Amount Per Month <span>*</span><span></span></label>
                        <div class="input-group input-append bootstrap-timepicker">
                            <input type="text" class="form-control req" id="txtutilized" placeholder="" readonly><span class="input-group-addon add-on"><span>GBP</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="txtTotalAmountPerMonth">Discount Per Month <span>*</span><span></span></label>
                        <div class="input-group input-append bootstrap-timepicker">
                            <input type="text" class="form-control req" id="txtutilized" placeholder="Discount Per Month"><span class="input-group-addon add-on"><span>GBP</span></span>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <label for="txtTotalAmountPerMonth">Final Amount Per User Per Month <span>*</span><span></span></label>
                        <div class="input-group input-append bootstrap-timepicker">
                            <input type="text" class="form-control req" id="txtutilized" placeholder="Final Amount Per Month"><span class="input-group-addon add-on"><span>GBP</span></span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label for="drpPaymentMode">Payment Mode <span>*</span></label>
                        <select id="drpPaymentMode" class="js-states form-control Dropdownhost" style="display: none; width: 100%">
                            <option>Credit Card</option>
                            <option>Internet Banking</option>
                            <option>Cash</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="txtFirstPaymentDate">First Payment Date <span>*</span><span></span></label>
                        <input type="text" class="form-control date-picker datecompair" id="txtFirstPaymentDate" data-datecom="txtSubscriptionFromDate" placeholder="First Payment Date">
                    </div>
                    <div class="col-md-6">
                        <label for="txtGracePeriod">Grace Period (Days) <span>*</span></label>
                        <input type="text" class="form-control num" id="txtGracePeriod" placeholder="Grace Period">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="tagSearch">Custom Tags</label>
                        <input type="text" data-role="tagsinput" id="txtTagSearchsum" class="form-control" placeholder="Custom Tags" />
                    </div>
                </div>
            </div>

            <br />
            <button id="btnSaveTab3Sec1" type="submit" class="btn btn-success btnSaveuserpref">
                SAVE</button>
            <button id="btnUpdateTab3Sec1" type="submit" class="btn btn-primary btnSaveuserpref">
                UPDATE</button>

            <a class="btn btn-info" rel="tooltip" title="Quit Form" aria-expanded="false">
                <span class="fa fa-times"></span>
            </a>
            <a class="btn btn-refresh" rel="tooltip" title="Refresh Page" aria-expanded="false" onclick="window.location.href=window.location.href;">
                <span class="fa fa-refresh"></span>
            </a>
            <br />
            <br />
        </div>

        <div class="col-md-12">

            <h3 class="section-headers tab4section2"><span class="section-index">2</span>&nbsp;Billing
                                    <span class="text-danger tab3Formname" style="display: none"></span>
            </h3>
            <input type="text" class="form-control" style="display: none" id="txtsrnotab4" placeholder="Don't Enter Text" style="display: none">

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="txtBillingName">Billing Name <span>*</span></label>
                        <input type="text" class="form-control " id="txtBillingName" placeholder="Billing Name">
                    </div>
                    <div class="col-md-6">
                        <label for="txtBillingContactPerson">Billing Contact Person <span>*</span></label>
                        <input type="text" class="form-control " id="txtBillingContactPerson" placeholder="Billing Contact Person">
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="txtAddressLine1">Billing Address Line 1 <span>*</span></label>
                        <input type="text" class="form-control" id="txtBillingAddressLine1" placeholder="Billing Address Line 1 ">
                    </div>
                    <div class="col-md-6">
                        <label for="txtAddressLine2">Billing Address Line 2 </label>
                        <input type="text" class="form-control" id="txtBillingAddressLine2" placeholder="Billing Address Line 2">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label for="drpbillingcountry">Billing Country <span>*</span></label>
                        <input type="text" class="form-control" id="txtBillingCountry" placeholder="Billing Country">
                    </div>
                    <div class="col-md-3">
                        <label for="drpbillingState">Billing State <span>*</span></label>
                        <input type="text" class="form-control" id="txtBillingCountry" placeholder="Billing State">
                    </div>
                    <div class="col-md-3">
                        <label for="drpbillingCity">Billing City <span>*</span></label>
                        <input type="text" class="form-control" id="txtBillingCountry" placeholder="Billing City">
                    </div>
                    <div class="col-md-3">
                        <label for="txtBillingZipCode">Billing Zip/Postal Code <span>*</span></label>
                        <input type="text" class="form-control" id="txtBillingZipCode" data-max="6" placeholder="Zip Code">
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="txtBillingEmail">Billing Email </label>
                        <input type="text" class="form-control" id="txtBillingEmail" placeholder="Billing Email">
                    </div>
                    <div class="col-md-2">
                        <label for="txtBillingZipCode">Code</label>
                        <input type="text" class="form-control" id="txtBillingTelephoneCode" placeholder="Country Code">
                    </div>
                    <div class="col-md-4">
                        <label for="txtTelephone">Billing Telephone</label>
                        <input type="text" class="form-control" id="txtBillingTelephone" placeholder="Billing Telephone">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label for="txtBillingZipCode">Code</label>
                        <input type="text" class="form-control" id="txtBillingPhoneCode" placeholder="Country Code">
                    </div>
                    <div class="col-md-4">
                        <label for="txtCellPhone">Billing Cell Phone</label>
                        <input type="text" class="form-control num max" id="txtBillingCellPhone" data-max="10" placeholder="Billing Cell Phone">
                    </div>

                    <div class="col-md-6">
                        <label for="tagSearch">Custom Tags</label>
                        <input type="text" data-role="tagsinput" id="txtTagSearchsum" class="form-control" placeholder="Custom Tags" />

                    </div>
                </div>
            </div>

<br />
<button id="btnSaveTab4Sec1" type="submit" class="btn btn-success btnSaveuserpref">
    SAVE</button>
<button id="btnUpdateTab4Sec1" type="submit" class="btn btn-primary btnSaveuserpref">
    UPDATE</button>

<a class="btn btn-info" rel="tooltip" title="Quit Form" aria-expanded="false">
    <span class="fa fa-times"></span>
</a>
<a class="btn btn-refresh" rel="tooltip" title="Refresh Page" aria-expanded="false" onclick="window.location.href=window.location.href;">
    <span class="fa fa-refresh"></span>
</a>
</div>

</form>
</div>
<div class="col-md-4 summery-detail summery-uitilities-detail summerytab3">
    <div class="panel-body tab-itenaries ">
        <div class="panel-group">
            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title">Correction Required 
                                               
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>

                                <tr class="txtName">
                                    <td><span class="label label-danger"><i class="fa fa-times"></i></span>&nbsp;&nbsp;Plan Name</td>
                                    <td>This field is required</td>
                                </tr>
                                <tr class="txtName">
                                    <td><span class="label label-danger"><i class="fa fa-times"></i></span>&nbsp;&nbsp;Plan Type</td>
                                    <td>Select Plan Type</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
