<div class="col-md-8 full-responsive">
<form id="userprefform">
    <div class="col-md-12">
        <h3 class="tab5section">UI Preference
                                    <span class="text-danger tab3Formname" style="display: none"></span>
        </h3>
        <div class="row">
            <div class="col-md-12">
                <input type="text" class="form-control" id="txtsrnouserpref" placeholder="SR" style="display: none">
                <div class="row" id="userperferancechk">
                    <div class="col-md-6 form-marings">
                        <input type="checkbox" id="chktopmenubar" value="chkcustomgridview" />Top Menu Bar
                    </div>
                    <div class="col-md-6 form-marings">
                        <input type="checkbox" id="chkfixedhdr" value="chkfixedhdr" />Verticle Left Menu Bar
                    </div>
                    <div class="col-md-6 form-marings">
                        <input type="checkbox" id="chkfixedmenu" value="chkfixedmenu" />Freeze Header
                    </div>
                    <div class="col-md-6 form-marings">
                        <input type="checkbox" id="chkhorizontalbar" value="chkhorizontalbar" />Freeze Menu Bar
                    </div>
                    <div class="col-md-6 form-marings">
                        <input type="checkbox" id="chktogglesidebar" value="chktogglesidebar" />Compact Menu Bar With Icons
                    </div>
                    <div class="col-md-6 form-marings">
                        <input type="checkbox" id="chkcompactmenu" value="chkcompactmenu" />Left Menu Bar With Open Sub Menu On Hover 
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <br />
                <button id="btnSaveTab5" type="submit" class="btn btn-success btnSaveuserpref">
                    SAVE</button>
                <button id="btnUpdateTab5" type="submit" class="btn btn-primary btnSaveuserpref">
                    UPDATE</button>
              
                <button id="btnquitTab5" type="button" class="btn btn-info">
                    QUIT FORM</button>
                <a class="btn btn-refresh" rel="tooltip" title="Refresh Page" aria-expanded="false" onclick="window.location.href=window.location.href;">
                    <span class="fa fa-refresh"></span>
                </a>

            </div>
        </div>
    </div>
</form>
</div>
<div class="col-md-4 summery-detail summery-uitilities-detail summerytab5">
    <div class="panel-body tab-itenaries ">
        <div class="panel-group">
            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title">Summary <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report"></a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>
                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created From Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Page Load Time: </td>
                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                </tr>
                                <tr>
                                    <td>Record Update Time: </td>
                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>