@{
    ViewBag.Title = "GIT Invoice";
    ViewBag.PageTitle = "GIT Invoice";
    ViewBag.FooterCopyRight = "2015 &copy; Modern by Steelcoders.";
}
<style>
    .utilitis-drop li a {
        background-color: #22baa0;
        padding: 5px;
    }
</style>


<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                    <li role="presentation" class="active" id="litab1"><a href="#tab1" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord"><span class="menu-icon glyphicon glyphicon glyphicon-cloud"></span>&nbsp;&nbsp;&nbsp;&nbsp;Serach GIT Invoice </a></li>
                    @*<li role="presentation"><a href="#tab2" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Create GIT Invoice</a></li>*@
                    <li role="presentation" id="litab4"><a href="#tab4" role="tab" data-toggle="tab" data-section="tab4" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;GIT Invoice</a></li>

                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <form>
                             <div class="dropdown table-custome-drop">
                                <div class="btn-group">
                                    <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="font-size: 111%">
                                        <span class="glyphicon glyphicon-download-alt"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Excel</a></li>
                                        <li><a href="#">PDF</a></li>
                                        <li><a href="#">Email</a></li>
                                    </ul>
                                </div>
                                &nbsp;&nbsp;
                                <div class="btn-group btn-tables-views">
                                    <a class="label label-success dropdown-toggle " rel="tooltip" data-toggle="dropdown" title="All Views" style="font-size: 111%" aria-expanded="false">
                                        <span class="icon-grid"></span>
                                    </a>
                                    <ul class="dropdown-menu cate-drop-menu">
                                        <li><a href="javascript:void(0);" style="color: #000">Default View</a></li>
                                        <li style="color: #000; padding: 5px 0" class="btn-lgdropdown-header"><a id="btnShowPopupChangeView" href="javascript:void(0);" data-toggle="modal" data-target="#myModaluser">Change View</a> </li>
                                    </ul>
                                    <div class="modal fade modify-colum-model" id="myModaluser" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Change View</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <br />
                                                    <div class="model-left-columns">
                                                        <div class="field-name">
                                                            <h3>View <a href="#"></a></h3>
                                                            <ul id="ulViewList" class="field-list slimscroll ulviewlistclass">
                                                                <li><a href="#">City</a></li>
                                                                <li><a href="#">Country</a></li>
                                                                <li><a href="#">State</a></li>
                                                                <li class="active"><a href="#">Agent Margin</a></li>
                                                                <li><a href="#">Support Mode</a></li>
                                                                <li><a href="#">Agent Type</a></li>
                                                                <li><a href="#">Control Type</a></li>
                                                                <li><a href="#">Nationality</a></li>
                                                                <li><a href="#">Vehicle Name</a></li>
                                                                <li><a href="#">SMS Configure</a></li>
                                                                <li><a href="#">Screen</a></li>
                                                                <li><a href="#">Supplier Type</a></li>
                                                                <li><a href="#">Date Format</a></li>
                                                                <li><a href="#">days</a></li>
                                                                <li><a href="#">Holiday</a></li>
                                                                <li><a href="#">Bank</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="field-name">
                                                            <h3>Field Name <a href="#">Add all</a></h3>
                                                            <div class="field-list field-list-img slimscroll">
                                                                <ul>
                                                                    <li><a href="#">Value</a></li>
                                                                    <li><a href="#">Margin Type</a></li>
                                                                    <li><a href="#">Efective Date From</a></li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="drag-drop-right">
                                                        <section>
                                                            <h2>Drag and drop reorder</h2>
                                                            <div class="cf nestable-lists">
                                                                <ol class="sortable" id="ddr">
                                                                    <li>
                                                                        <div><span class=""><span></span></span>Agent Type<a class="" href="javascript:void(0);"></a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div><span class=""><span></span></span>Agent Master Code<a class="" href="javascript:void(0);"></a></div>
                                                                    </li>
                                                                    <li id="list_4">
                                                                        <div><span class="disclose"><span></span></span>FIT/Group<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></div>
                                                                    </li>
                                                                    <li id="list_5">
                                                                        <div><span class="disclose"><span></span></span>Margin For<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></div>
                                                                    </li>
                                                                    <li id="list_9">
                                                                        <div><span class="disclose"><span></span></span>Margin Type<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></div>
                                                                    </li>

                                                                </ol>
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-success ">Apply</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="table-responsive">
                              
                                <table id="example-editable" class="display table" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Invoice #</th>
                                            <th>Party Name</th>
                                            <th>Nationality </th>
                                            <th>Tour Name </th>
                                            <th>Travel From Date </th>
                                            <th>Travel To Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Invoice #</th>
                                            <th>Party Name</th>
                                            <th>Nationality </th>
                                            <th>Tour Name </th>
                                            <th>Travel From Date </th>
                                            <th>Travel To Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                       

                                        <tr>
                                            <td>1</td>
                                            <td>0000000012365</td>
                                            <td>Flamingo</td>
                                            <td>Indian</td>
                                            <td>Thailand Tour</td>
                                            <td>05/05/2016</td>
                                            <td>13/05/2013</td>
                                            <td><a href="#"><i onclick="invoiceopen()" class="fa fa-pencil-square-o"></i></a>
                                                &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa fa-print"></i></a></td>
                                        </tr>

                                       
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="tab2">
                        <div class="col-md-7">
                            <form>
                                <h3 class="tab2section1"><span class="section-index ">1</span>&nbsp;Party Details</h3>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="drpInvoicePartyName ">Party Name </label>
                                            <input type="text" class="form-control " id="txtTaxRegistrationNumber" placeholder="Party Name">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="drpNationality ">Nationality  </label>
                                            <select id="drpNationality" class="js-states form-control" style="display: none; width: 100%">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="txtClientName ">Client Name </label>
                                            <input type="text" class="form-control " id="txtClientName" placeholder="Client Name">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="txtClientCellPhone ">Client Cell Phone   </label>
                                            <input type="text" class="form-control " id="txtClientCellPhone " placeholder="Client Cell Phone ">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="drpInvoicePartyName ">Tour Name </label>
                                            <input type="text" class="form-control " id="txtTourName " placeholder="Tour Name ">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtTaxRegistrationNumber">Travel From Date</label>
                                            <input type="text" class="form-control date-picker" id="txtTravelFromDate" placeholder="dd/MM/yyyy">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtTravelToDate">Travel To Date</label>
                                            <input type="text" class="form-control date-picker" id="txtTravelToDate" placeholder="dd/MM/yyyy">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="txtNight">Night</label>
                                            <input type="text" class="form-control " id="txtNights" placeholder="Night">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtDays">Days</label>
                                            <input type="text" class="form-control " id="txtDays" placeholder="Days">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="drpStatus ">Status  </label>
                                            <select id="drpStatus" class="js-states form-control" style="display: none; width: 100%">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtInvoicePartyAddress">Party Address</label>
                                    <textarea class="form-control" cols="5" id="txtInvoicePartyAddress"></textarea>
                                </div>

                                <h3 class="section-headers tab2section2"><span class="section-index">2</span>&nbsp; Booking Details</h3>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="txtBookedBy">Booked By</label>
                                            <select id="drpBookedBy" class="js-states form-control" style="display: none; width: 100%">
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="txtBookedOn">Booked On</label>
                                            <input type="text" class="form-control date-picker" id="txtBookedOn" placeholder="dd/MM/yyyy">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="txtQuotationRef.#">Quotation Ref. #</label>
                                            <input type="text" class="form-control" id="txtQuotationRef.#" placeholder="Quotation Ref. #" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="txtTaxRegistrationNumber">Reconfirmed By</label>
                                            <select id="drpReconfirmedBy" class="js-states form-control" style="display: none; width: 100%">
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="txtTravelToDate">Reconfirmed On</label>
                                            <input type="text" class="form-control date-picker" id="txtReconfirmedOn" placeholder="dd/MM/yyyy">
                                        </div>

                                    </div>
                                </div>

                                <h3 class="section-headers tab2section3"><span class="section-index">3</span>&nbsp;Invoice Item Details</h3>
                                @*<div class="form-group">
                                    <button id="btnADD" type="submit" class="btn btn-success btnSave">
                                        ADD</button>
                                </div>*@
                                <div class="form-group">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#
                                                    </th>
                                                    <th>Items
                                                    </th>
                                                    <th>Description
                                                    </th>
                                                    <th>Quantity
                                                    </th>
                                                    <th>Price
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>
                                                        <a href="#" data-toggle="modal" data-target="#AddDataModel" class="btn btn-success">ADD
                                                        </a>
                                                    </th>
                                                    <th></th>
                                                    <th></th>
                                                    <th>Total</th>
                                                    <th><span class="label label-danger">$6200</span></th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                <tr>
                                                    <td>1
                                                    </td>
                                                    <td>Adult 
                                                    </td>
                                                    <td>$650 Per Person
                                                    </td>
                                                    <td>
                                                        @*<span class="label label-info">2 Nights</span>*@
                                                        6 Adults On Twin Sharing Basis 
                                                    </td>
                                                    <td>
                                                        <span class="label label-info">$3900  </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2
                                                    </td>
                                                    <td>CWB 
                                                    </td>
                                                    <td>$400 Per Person
                                                    </td>
                                                    <td>2 CWB
                                    @*<span class="label label-info">5 Pax</span>*@
                                                    </td>
                                                    <td>

                                                        <span class="label label-info">$800 </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>3
                                                    </td>
                                                    <td>CNB 
                                                    </td>
                                                    <td>$200 Per Person                        
                                                    </td>
                                                    <td>2 CNB                                                   
                                   @* <span class="label label-info">5 Pax</span>*@
                                                    </td>
                                                    <td>

                                                        <span class="label label-info">$200 </span>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>4
                                                    </td>
                                                    <td>Extra Adult  
                                                    </td>
                                                    <td>$500 Per Person                
                                                    </td>
                                                    <td>1 Extra Adult                                           
                                    @*<span class="label label-info">5 Pax</span>*@
                                                    </td>
                                                    <td>

                                                        <span class="label label-info">$500 </span>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>5
                                                    </td>
                                                    <td>Single Supplement  
                                                    </td>
                                                    <td>$800 Per Person       
                                                    </td>
                                                    <td>1 Single Supplement                             
                                    @*<span class="label label-info">5 Pax</span>*@
                                                    </td>
                                                    <td>
                                                        <span class="label label-info">$800 </span>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <br />
                                <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                    SAVE</button>
                                <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                    UPDATE</button>
                                <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                                    CLEAR</button>
                                <button id="btnSave" type="submit" class="btn btn-info btnSave">
                                    QUIT FORM</button>
                                <a href="#" data-toggle="modal" data-target="#myCancellationModel" class="btn btn-danger">CANCEL INVOICE</a>
                                <button class="btn btn-default" type="button">
                                    Print</button>
                            </form>
                        </div>
                        <div class="col-md-5 summery-detail summerytab2">
                            <div class="panel panel-white">
                                <h4 class="panel-title-summery">Summary </h4>
                                <ul class="utilitis-drop ">
                                    <li><a href="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown">
                                        <img src="assets/images/utilitis-icon.png" height="19" width="19" /></a>
                                        <ul>
                                            <li><a href="#"><i class="task">&nbsp;</i><br />
                                                Task </a></li>
                                            <li><a href="#"><i class="noti">&nbsp;</i><br />
                                                Notifications </a></li>
                                            <li><a href="#"><i class="cal">&nbsp;</i><br />
                                                Calendar </a></li>
                                            <li><a href="#"><i class="e-mail">&nbsp;</i><br />
                                                Email </a></li>
                                            <li><a href="#"><i class="sms">&nbsp;</i><br />
                                                SMS </a></li>
                                            <li><a href="#"><i class="notes">&nbsp;</i><br />
                                                Notes </a></li>
                                            <li><a href="#"><i class="tages">&nbsp;</i><br />
                                                Tags </a></li>
                                            <li><a href="#"><i class="help-video">&nbsp;</i><br />
                                                Help Video </a></li>
                                            <li><a href="#"><i class="guided-tour">&nbsp;</i><br />
                                                Guided Tour </a></li>
                                            <li><a href="#"><i class="copy">&nbsp;</i><br />
                                                Copy </a></li>
                                            <li><a href="#"><i class="print">&nbsp;</i><br />
                                                Print </a></li>
                                            <li><a href="#"><i class="updates">&nbsp;</i><br />
                                                Updates </a></li>
                                            <li><a href="#"><i class="screns">&nbsp;</i><br />
                                                Screenshot </a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="panel-body" style="border: 1px solid #22BAA0;">
                                    <div class="summ-lis-height">

                                        <ul class="summery-list slimscroll">
                                            <h4 class="summery-header"><span class="summery-section-index">1</span></h4>
                                            <div class="summ-list-div">
                                                <div class="summ-list-left">
                                                    <li>Party Name :<br />
                                                        <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                            <label id="lblInvoicePartyName" for="drpInvoicePartyName"></label>
                                                            <i>&nbsp;</i>
                                                        </a>
                                                    </li>
                                                    <li>Nationality :
                                                    <br />
                                                        <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                            <label id="lblNationality" for="drpNationality"></label>
                                                            <i>&nbsp;</i>
                                                        </a>
                                                    </li>
                                                    <li>Client Name :
                                                    <br />
                                                        <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                            <label id="lblClientName" for="txtClientName"></label>
                                                            <i>&nbsp;</i>
                                                        </a>
                                                    </li>
                                                    <li>Tour Name :
                                                    <br />
                                                        <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                            <label id="lblTourName" for="txtTourName"></label>
                                                            <i>&nbsp;</i>
                                                        </a>
                                                    </li>
                                                    <li>Travel From Date  :
                                                    <br />
                                                        <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                            <label id="lblTravelFromDate" for="txtTravelFromDate"></label>
                                                            <i>&nbsp;</i>
                                                        </a>
                                                    </li>
                                                </div>

                                                <div class="summ-list-right">

                                                    <li>Travel To Date  :
                                                    <br />
                                                        <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                            <label id="lblTravelToDate" for="txtTravelToDate"></label>
                                                            <i>&nbsp;</i>
                                                        </a>
                                                    </li>
                                                    <li>Night  :
                                                    <br />
                                                        <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                            <label id="lblNights" for="txtNights"></label>
                                                            <i>&nbsp;</i>
                                                        </a>
                                                    </li>
                                                    <li>Days  :
                                                    <br />
                                                        <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                            <label id="lblDays" for="txtDays"></label>
                                                            <i>&nbsp;</i>
                                                        </a>
                                                    </li>
                                                    <li>Status  :
                                                    <br />
                                                        <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                            <label id="lblStatus" for="drpStatus"></label>
                                                            <i>&nbsp;</i>
                                                        </a>
                                                    </li>
                                                    <li>Party Address  :
                                                    <br />
                                                        <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                            <label id="lblInvoicePartyAddress" for="txtInvoicePartyAddress"></label>
                                                            <i>&nbsp;</i>
                                                        </a>
                                                    </li>
                                                </div>



                                            </div>
                                            <h4 class="summery-header"><span class="summery-section-index">2</span></h4>
                                            <div class="summ-list-div">
                                                <div class="summ-list-left">
                                                    <li>Booked By 
                                                    <br />
                                                        <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                            <label id="lblBookedBy" for="txtBookedBy"></label>
                                                            <i>&nbsp;</i>
                                                        </a>
                                                    </li>



                                                </div>
                                                <div class="summ-list-right">

                                                    <li>Booked On :
                                                    <br />
                                                        <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                            <label id="lblBookedOn" for="txtBookedOn"></label>
                                                            <i>&nbsp;</i>
                                                        </a>
                                                    </li>
                                                </div>
                                            </div>
                                        </ul>

                                    </div>
                                    <div class="summery-buttons">
                                        <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                            SAVE</button>
                                        <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                            UPDATE</button>
                                        <a href="#" data-toggle="modal" data-target="#myCancellationModel" class="btn btn-danger">CANCEL INVOICE</a>
                                        <button class="btn btn-default" type="button">
                                            Print</button>
                                        <p>
                                            Inputs with <i class="cross">&nbsp;</i> mark are incorrect
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab4">
                        <div class="invoice col-md-9">
    <div class="panel panel-white">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 summery-detail ">
                    <div class="panel ">
                        <h4 class=""></h4>
                        <ul class="utilitis-drop " style="">
                            <li><a href="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown">
                                <img src="assets/images/utilitis-icon.png" height="19" width="19" /></a>
                                <ul>
                                    <li><a href="#"><i class="task">&nbsp;</i><br />
                                        Task </a></li>
                                    <li><a href="#"><i class="noti">&nbsp;</i><br />
                                        Notifications </a></li>
                                    <li><a href="#"><i class="cal">&nbsp;</i><br />
                                        Calendar </a></li>
                                    <li><a href="#"><i class="e-mail">&nbsp;</i><br />
                                        Email </a></li>
                                    <li><a href="#"><i class="sms">&nbsp;</i><br />
                                        SMS </a></li>
                                    <li><a href="#"><i class="notes">&nbsp;</i><br />
                                        Notes </a></li>
                                    <li><a href="#"><i class="tages">&nbsp;</i><br />
                                        Tags </a></li>
                                    <li><a href="#"><i class="help-video">&nbsp;</i><br />
                                        Help Video </a></li>
                                    <li><a href="#"><i class="guided-tour">&nbsp;</i><br />
                                        Guided Tour </a></li>
                                    <li><a href="#"><i class="copy">&nbsp;</i><br />
                                        Copy </a></li>
                                    <li><a href="#"><i class="print">&nbsp;</i><br />
                                        Print </a></li>
                                    <li><a href="#"><i class="updates">&nbsp;</i><br />
                                        Updates </a></li>
                                    <li><a href="#"><i class="screns">&nbsp;</i><br />
                                        Screenshot </a></li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <img src="/assets/images/invoice/clogo.jpg" width="230" />
                    <address>
                        297, Rattanathibet Road Tambol-Bangkrasor Amphur Muang Nonthaburi,
                        <br />
                        Thailand - 11000,
                        @*<br />*@
                        HandPhone: (0066) 817267538,
                        @*<br />*@
                        Phone:  025271815/16/39/46/76,
                        @*<br />*@
                        Fax: 025271894/86
                   
                    </address>
                </div>
                <div class="col-md-4 text-right">
                    <h1>INVOICE</h1>
                    <h2 style="margin-bottom: 25px"><span class="label label-primary">#00000012121</span></h2>
                    <button type="button" class="btn btn-default"><i class="fa fa-print"></i>Print</button>
                </div>

                <div class="col-md-12">
                    <hr>
                    <div class="col-md-4">
                        <p>
                            <span class="label label-primary">Invoice to</span>
                            <br />
                            Flamingo Transworld Pvt. Ltd.<br />
                            201/202, Gala Business Centre,<br />
                            St. Xaviers College Corner,<br />
                            Near Classic Gold Hotel,<br />
                            Off C. G. Road,<br />
                            Ahmedabad 380 009, Gujarat, India.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <br />
                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-4">
                                    <span class="label label-primary">Booked By </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="">Kushal Shah </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-4">
                                    <span class="label label-primary">Booked On </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="">31st Dec 2015 </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-4">
                                    <span class="label label-primary">Reconfirmed By </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="">Kushal Shah </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-4">
                                    <span class="label label-primary">Reconfirmed On </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="">31st Dec 2015 </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-4">
                                    <span class="label label-primary">Quotation Ref. # </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="">544578 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <br />
                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="label label-primary">Client Name </span>
                                </div>
                                <div class="col-md-6">
                                    <span class="">John Shah </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="label label-primary">Client Cell Phone </span>
                                </div>
                                <div class="col-md-6">
                                    <span class="">9745787895 </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="label label-primary">Nationality  </span>
                                </div>
                                <div class="col-md-6">
                                    <span class="">Indian </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="label label-primary">Tour Name </span>
                                </div>
                                <div class="col-md-6">
                                    <span class="">Dubai </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="label label-primary">Travel From Date </span>
                                </div>
                                <div class="col-md-6">
                                    <span class="">1st jan 2016 </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="label label-primary">Travel To Date </span>
                                </div>
                                <div class="col-md-6">
                                    <span class="">5th jan 2016 </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="label label-primary">Total Nights and Days </span>
                                </div>
                                <div class="col-md-6">
                                    <span class="">3 Days(2 Nights) </span>
                                </div>
                            </div>
                        </div>

                        @* <br />
                        <p>
                            Client Name     	&nbsp;    John Shah
                            <br />
                            Nationality Set Indian
                            <br />
                            Tour Name&nbsp;&nbsp;&nbsp;  Dubai<br />
                            Travel From Date &nbsp;      1st jan 2016<br />
                            Travel To Date  &nbsp;&nbsp;     5th jan 2016<br />
                            Total Nights and Days &nbsp;  3 Days(2 Nights)<br />
                            Quotation reference number &nbsp; 544578
                        </p>*@
                    </div>

                </div>

                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#
                                </th>
                                <th>Items
                                </th>
                                <th>Description
                                </th>
                                <th>Quantity
                                </th>
                                <th>Price
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1
                                </td>
                                <td>Adult 
                                </td>
                                <td>$650 Per Person
                                </td>
                                <td>
                                    @*<span class="label label-info">2 Nights</span>*@
                                    6 Adults On Twin Sharing Basis 
                                </td>
                                <td>
                                    <span class="label label-info">$3900  </span>
                                </td>
                            </tr>
                            <tr>
                                <td>2
                                </td>
                                <td>CWB 
                                </td>
                                <td>$400 Per Person
                                </td>
                                <td>2 CWB
                                    @*<span class="label label-info">5 Pax</span>*@
                                </td>
                                <td>

                                    <span class="label label-info">$800 </span>
                                </td>
                            </tr>
                            <tr>
                                <td>3
                                </td>
                                <td>CNB 
                                </td>
                                <td>$200 Per Person                        
                                </td>
                                <td>2 CNB                                                   
                                   @* <span class="label label-info">5 Pax</span>*@
                                </td>
                                <td>

                                    <span class="label label-info">$200 </span>
                                </td>
                            </tr>

                            <tr>
                                <td>4
                                </td>
                                <td>Extra Adult  
                                </td>
                                <td>$500 Per Person                
                                </td>
                                <td>1 Extra Adult                                           
                                    @*<span class="label label-info">5 Pax</span>*@
                                </td>
                                <td>

                                    <span class="label label-info">$500 </span>
                                </td>
                            </tr>

                            <tr>
                                <td>5
                                </td>
                                <td>Single Supplement  
                                </td>
                                <td>$800 Per Person       
                                </td>
                                <td>1 Single Supplement                             
                                    @*<span class="label label-info">5 Pax</span>*@
                                </td>
                                <td>
                                    <span class="label label-info">$800 </span>
                                </td>
                            </tr>
                            <tr>

                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <span class="label label-danger">Total</span>

                                </td>
                                <td>
                                    <span class="label label-danger">$5000</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <h3><span class="label label-success ">Travelz Unlimited Bank Details</span></h3>
                    <div class="row">
                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-2">
                                    Account #
                                </div>
                                <div class="col-md-4">
                                    01781000009320 
                                </div>
                                <div class="col-md-2">
                                    Account Name 
                                </div>
                                <div class="col-md-4">
                                    Saving
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    Bank Name
                                </div>
                                <div class="col-md-4">
                                    Bank Of Baroda
                                </div>
                                <div class="col-md-2">
                                    Bank Branch  
                                </div>
                                <div class="col-md-4">
                                    Gandhinagar
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    Bank Address 
                                </div>
                                <div class="col-md-4">
                                    Infocity,Gandhinagar 
                                </div>
                                <div class="col-md-2">
                                    Swift Code  
                                </div>
                                <div class="col-md-4">
                                    Chh000000
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--row-->
    </div>
</div>

@*</div>*@


<div class="col-md-3">
    <a href="#" class="faq-link">
        <div class="panel panel-purple">
            <div class="panel-body">
                <h2 class="no-m m-b-md">Total Amount&nbsp;&nbsp;
                   <span style="text-align: right">$5000</span> </h2>
            </div>
        </div>
    </a>
    <a href="#" class="faq-link">
        <div class="panel panel-blue">
            <div class="panel-body">
                <h2 class="no-m m-b-md" data-toggle="modal" data-target="#TotalRecievedMOdel">Total Received&nbsp;&nbsp;
                     <span style="text-align: right">$4000</span></h2>
            </div>
        </div>
    </a>
    <a href="#" class="faq-link">
        <div class="panel panel-red">
            <div class="panel-body">
                <h2 class="no-m m-b-md">Total Receivable
                     <span style="text-align: right">$1000</span></h2>
            </div>
        </div>
    </a>
    <a href="#" class="faq-link">
        <div class="panel panel-green">
            <div class="panel-body">
                <h2 class="no-m m-b-md">Available Credit &nbsp;
                     <span style="text-align: right">$1300</span></h2>

            </div>
        </div>
    </a>
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="panel panel-white">
        <h4 class="panel-title-summery">Utilities </h4>
        <div class="panel-body utility-panel">
            <ul class="utility-list">
                <li>
                    <a href="#">
                        <i class="task">&nbsp;</i><br />
                        Task
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="noti">&nbsp;</i><br />
                        Notifications
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="cal">&nbsp;</i><br />
                        Calendar
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="e-mail">&nbsp;</i><br />
                        Email
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="sms">&nbsp;</i><br />
                        SMS
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="notes">&nbsp;</i><br />
                        Notes
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="tages">&nbsp;</i><br />
                        Tags
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="help-video">&nbsp;</i><br />
                        Help Video
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="guided-tour">&nbsp;</i><br />
                        Guided Tour
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="copy">&nbsp;</i><br />
                        Copy
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="print">&nbsp;</i><br />
                        Print
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="updates">&nbsp;</i><br />
                        Updates
                    </a>
                </li>
                <li>

                    <a href="#">
                        <i class="screns">&nbsp;</i><br />
                        Screenshot
                    </a>
                </li>
            </ul>

        </div>
    </div>

</div>

@* Add Invoice Item Details Popup *@
<div class="modal fade modify-colum-model" id="AddDataModel" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <button type="button" class="close-btn" data-dismiss="modal">Close</button>
            <div class="modal-header">
                <h4 class="modal-title">Invoice Item Details</h4>
            </div>
            <div class="modal-body custom-model-body">

                <div class="col-md-12">

                    <div class="form-group">
                        <label for="txtItems">Items   <span>*</span></label>
                        <input type="text" class="form-control" id="txtItems " placeholder="Items ">
                    </div>
                    <div class="form-group">
                        <label for="txtDescription">Description <span>*</span></label>
                        <input type="text" class="form-control" id="txtDescription" placeholder="Description">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="txtTaxRegistrationNumber">Quantity</label>
                                <input type="text" class="form-control " id="txtQuantity" placeholder="Night">
                            </div>
                            <div class="col-md-4">
                                <label for="txtTravelToDate">Price</label>
                                <input type="text" class="form-control " id="txtPrice" placeholder="Days">
                            </div>
                            <div class="col-md-4">
                                <label for="drpInvoiceCurrency">Currency</label>
                                <select id="drpInvoiceCurrency" class="js-states form-control" style="display: none; width: 100%">
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-success">ADD</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

@* Cancellation Popup *@
<div class="modal fade modify-colum-model" id="myCancellationModel" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <button type="button" class="close-btn" data-dismiss="modal">Close</button>
            <div class="modal-header">
                <h4 class="modal-title">Cancellation Fees</h4>
            </div>
            <div class="modal-body custom-model-body">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <div class="col-md-12">
                        <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#tab2-7-1" role="tab" data-toggle="tab" data-section="tab1-1" class="hosting-accord"><span class="menu-icon glyphicon glyphicon glyphicon-cloud"></span>&nbsp;&nbsp;&nbsp;&nbsp;Full Cancellation</a></li>
                            <li role="presentation"><a href="#tab2-7-2" role="tab" data-toggle="tab" data-section="tab1-3" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Partial Cancellation</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="tab2-7-1">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="drpCancellationAgent">Agent</label>
                                            <input type="text" class="form-control" id="txtItems" placeholder="Agent " readonly>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="txtCancellationAgentFees">Cancellation Fee</label>
                                            <div class="input-group input-append">
                                                <input type="text" class="form-control" name="txtPVTVehicleRate" id="txtPVTVehicleRate">
                                                <span class="input-group-addon add-on"><span>THB</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="table" class="display table table-striped model-table dataTable" style="width: 100%; cellspacing: 0;">
                                        <thead>
                                            <tr>
                                                <th>Supplier</th>
                                                <th>Cancellation Fee</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr role="row">
                                                <td>Amari Atrium
                                                </td>
                                                <td>
                                                    <div class="input-group input-append">
                                                        <input type="text" class="form-control" name="txtPVTVehicleRate" id="txtPVTVehicleRate">
                                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr role="row">
                                                <td>Nong Nooch Tropical Botanical Garden
                                                </td>
                                                <td>
                                                    <div class="input-group input-append">
                                                        <input type="text" class="form-control" name="txtPVTVehicleRate" id="txtPVTVehicleRate">
                                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-success">CANCEL INVOICE</button>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tab2-7-2">

                                <div class="table-responsive">
                                    <table id="table" class="display table table-striped model-table dataTable" style="width: 100%; cellspacing: 0;">
                                        <thead>
                                            <tr>
                                                <th>Supplier</th>
                                                <th>Supplier Cancellation Fee</th>
                                                <th>Agent Cancellation Fee</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr role="row">
                                                <td>
                                                    <span>Amari Atrium</span>
                                                </td>
                                                <td>
                                                    <div class="input-group input-append">
                                                        <input type="text" class="form-control" name="txtPVTVehicleRate" id="txtPVTVehicleRate">
                                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group input-append">
                                                        <input type="text" class="form-control" name="txtPVTVehicleRate" id="txtPVTVehicleRate">
                                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr role="row">
                                                <td>
                                                    <span>Nong Nooch Tropical Botanical Garden</span>
                                                </td>
                                                <td>
                                                    <div class="input-group input-append">
                                                        <input type="text" class="form-control" name="txtPVTVehicleRate" id="txtPVTVehicleRate">
                                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group input-append">
                                                        <input type="text" class="form-control" name="txtPVTVehicleRate" id="txtPVTVehicleRate">
                                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-success">CANCEL INVOICE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function invoiceopen() {
            $("#litab1").removeClass("active");
            $("#litab4").addClass("active");
            $("#tab1").removeClass("active");
            $("#tab4").addClass("active");
        }

        $(document).ready(function () {

            $('.hotelstatus').editable({
                value: 2,
                source: [
                    { '1': 'Active' },
                    { '2': 'Inactive' }
                ]
            });


        });
    </script>
}
@section floatingsection{
    <div class="floating-section-buttons tab2" style="display: none">
        <a class="btn btn-default" data-section="tab2section1" rel="tooltip" title="Party Details">1</a>
        <a class="btn btn-default" data-section="tab2section2" rel="tooltip" title="Booking Details">2</a>
        <a class="btn btn-default" data-section="tab2section3" rel="tooltip" title="Invoice Item Details">3</a>

    </div>

}