<div class="col-md-8 full-responsive">
    <form>
        <div class="form-group">
            <label>Corporate <span>*</span></label>
            <select id="drpCorporate" class="js-states col-sm-2 form-control Dropdown formcorporate " style="display: none; width: 100%"></select>

        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>Unit <span>*</span></label>
                    <select id="DrpUnitTab2" class="js-states col-sm-2  form-control Dropdown " style="display: none; width: 100%"></select>
                </div>
                <div class="col-md-6">
                    <label>Location <span>*</span></label>
                    <select id="DrpLocationTab2" class="js-states col-sm-2 form-control Dropdown " style="display: none; width: 100%"></select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control col-sm-5 textbox-control" id="txtsrno" placeholder="SrNo" style="display: none" data-label="lblFirstName">
            <label for="txtFirstName">Name <span>*</span></label>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control col-sm-6 textbox-control " id="txtFirstName" placeholder="First Name" data-label="lblFirstName">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control col-sm-6 textbox-control " id="txtLastName" placeholder="Last Name" data-label="lblLastName">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtEmail">Email <span>*</span></label>
                    <input type="text" class="form-control textbox-control  email" id="txtEmail" placeholder="Email (User Name)" data-label="lblEmail">
                </div>
                <div class="col-md-6 Editdisable">
                    <label for="txtConfirmEmail">Confirm Email <span>*</span></label>
                    <input type="text" class="form-control confirm  email" id="txtConfirmEmail" data-confirm="txtEmail" placeholder="Confirm Email">
                </div>


            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtPassword">Password <span>*</span></label>
                    <input type="Password" class="form-control " id="txtPassword" placeholder="Password">
                </div>

                <div class="col-md-6 Editdisable">
                    <label for="txtConfirmPassword">Confirm Password <span>*</span></label>
                    <input type="Password" class="form-control confirm " id="txtConfirmPassword" data-confirm="txtPassword" placeholder="Confirm Password">
                </div>
            </div>
        </div>

        <br />
        <button id="btnSaveUser" type="submit" class="btn btn-success btnSaveuserclass">
            SAVE</button>
        <button id="btnUpdateUser" type="submit" class="btn btn-primary btnSaveuserclass" style="display: none">
            UPDATE</button>
        @*<button id="btnCancelUser" type="button" class="btn btn-green" style="display: none">
                                    DELETE</button>*@
        <button id="btnclearuser" type="button" class="btn btn-warning btnclearuser">
            CLEAR</button>
        <button id="btnQuitUser" type="button" class="btn btn-info quituserbtn">
            QUIT FORM</button>
        <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
            <span class="fa fa-refresh"></span>
        </a>


    </form>
</div>
<div class="col-md-4 summery-detail summery-uitilities-detail summerytab2">
    <div class="panel-body tab-itenaries ">
        <div class="panel-group">
            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title">Summary 
                       @* <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report">
                        <i class="icon-reload"></i>
                    </a>*@
                        <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report">
                            <i class="fa fa-tasks"></i>
                        </a>
                        <a id="startGuiededTour" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Guided Tour">
                            <i class="icon-info"></i>
                        </a>
                        <a id="startTimeline" onclick="$('#showRightSideTimeline').trigger('click')" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="View Trail">
                            <i class="fa fa-sitemap"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>
                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created From Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Page Load Time: </td>
                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                </tr>
                                <tr>
                                    <td>Record Update Time: </td>
                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
