@{
    ViewBag.Title = "Operation Chart";
    ViewBag.PageTitle = "Operation Chart";
    ViewBag.FooterCopyRight = "2015 &copy; Green Travel.";
}

<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <form>
                <div class="table-responsive">
                    <div class="dropdown table-custome-drop">
                        <div class="btn-group">
                            <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="glyphicon glyphicon-download-alt"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Excel</a></li>
                                <li><a href="#">Email</a></li>
                            </ul>
                        </div>
                    </div>
                    <table id="example-editable" class="display table" style="width: 100%; cellspacing: 0;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Date of Service</th>
                                <th>Flight#</th>
                                <th>Pickup Time</th>
                                <th>Pickup From</th>
                                <th>Dropout To</th>
                                <th>Passenger Name</th>
                                <th>Agent Name</th>
                                <th># of Pax</th>
                                <th>Supplier</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Date of Service</th>
                                <th>Flight#</th>
                                <th>Pickup Time</th>
                                <th>Pickup From</th>
                                <th>Dropout To</th>
                                <th>Passenger Name</th>
                                <th>Agent Name</th>
                                <th># of Pax</th>
                                <th>Supplier</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>APT-PTY-SIC</td>
                                <td>2/3/2012</td>
                                <td>PG 272</td>
                                <td>1400 hrs</td>
                                <td>Suvarnabhumi Airport</td>
                                <td>AONE ROYAL CRUISE</td>
                                <td>MRS PARUL SHAH</td>
                                <td>FLAMINGO</td>
                                <td>3</td>
                                <td>BELL</td>
                            </tr>
                            <tr>
                                <td>PTY-BKK-PVT CAR</td>
                                <td>2/5/2012</td>
                                <td></td>
                                <td>0900 hrs</td>
                                <td>Aone Royal Cruise</td>
                                <td>Siam Penthouse</td>
                                <td>MRS PARUL SHAH</td>
                                <td>FLAMINGO</td>
                                <td>3</td>
                                <td>K YAI</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
