body {
}


    .hide_cell {
        display: none;
    }

    #errmsg {
        color: red;
    }

    #ulViewList {
        padding-left: 0 !important;
    }

    .field-name {
        padding-right: 15px;
    }

    .field-name {
        float: left;
        width: 50%;
    }

    .ulviewlistclass {
        padding-left: 0 !important;
    }

    .field-list .active {
        background-color: #4fe7cd;
        color: #fff !important;
        font-weight: bolder;
        /*font-size: 14px;*/
    }
