body {
}


    .hide_cell {
        display: none;
    }

    #errmsg {
        color: red;
    }

    #ulViewList {
        padding-left: 0 !important;
    }

    .field-name {
        padding-right: 15px;
    }

    .field-name {
        float: left;
        width: 50%;
    }

    .ulviewlistclass {
        padding-left: 0 !important;
    }

    .field-list .active {
        background-color: #4fe7cd;
        color: #fff !important;
        font-weight: bolder;
        /*font-size: 14px;*/
    }

    .summery-uitilities-detail {
        width: 33.3333%;
        overflow: hidden;
        padding-right: 0;
    }

    .summery-nav-btn {
        background-color: #ccc;
        color: #22baa0;
        cursor: not-allowed;
        font-size: 0.7em;
        margin-left: 5px;
        padding: 5px;
        float: right;
    }

        .summery-nav-btn.active {
            background-color: #fff;
            cursor: pointer;
        }

    .summary-body p {
        margin: 0;
    }

    .summary-list .label {
        font-size: 100%;
    }

    .summary-list {
        margin-bottom: 0;
    }

        .summary-list > tbody > tr > td {
            text-align: left !important;
            width: auto;
        }

            .summary-list > tbody > tr > td:first-child {
                width: 45%;
            }

        .summary-list > tbody > tr:first-child > td {
            border-top-width: 0;
        }
         .panel-red .panel-collapse, .panel-blue .panel-collapse, .panel-purple .panel-collapse, .panel-green .panel-collapse {
        border: 1px solid #F25656;
        border-radius: 0 0 5px 5px;
    }
.panel-blue .panel-collapse {
        border: 1px solid #12AFCB;
    }

    .panel-purple .panel-collapse {
        border: 1px solid #7A6FBE;
    }

    .panel-green .panel-collapse {
        border: 1px solid #22BAA0;
    }

    .panel-group {
        margin-bottom: 0;
    }

        .panel-group .panel-red .panel-collapse .panel-body, .panel-blue .panel-collapse .panel-body, .panel-purple .panel-collapse .panel-body {
            color: #4e5e6a;
        }

        .panel-group .panel .panel-heading {
            padding: 10px;
        }

    .panel .panel-heading .panel-title {
        color: #fff !important;
        float: none;
        font-weight: normal;
        font-size: 17px;
        border-bottom-width: 0;
    }

    .panel-group .panel .panel-body h3, .panel-group .panel .panel-body h4 {
        margin: 0;
    }