@{
    ViewBag.FooterCopyRight = "2015 &copy; Green Travel.";
    ViewBag.Title = "Guide Price List";
    ViewBag.PageTitle = "Guide Price List";
    ViewBag.Breadcurmb = "<ol class='breadcrumb'>";
    ViewBag.Breadcurmb += "<li>Guide Code: <span>GUIDE-5-0-1</span></li>";
    ViewBag.Breadcurmb += "<li>Operating Branch: <span>Pattaya</span></li>";
    ViewBag.Breadcurmb += "<li>User Created: <span>John Barter</span></li>";
    ViewBag.Breadcurmb += "<li>Created Date: <span>19-02-2016</span></li>";
    ViewBag.Breadcurmb += "<li>User Updated: <span>Iris Joe</span></li>";
    ViewBag.Breadcurmb += "<li>Updated Date: <span>29-02-2016</span></li>";
    ViewBag.Breadcurmb += "</ol>";
}


<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tab1" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Serach Guide Price</a></li>
                    <li role="presentation"><a href="#tab2" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord"><span class="menu-icon fa fa-map"></span>&nbsp;&nbsp;&nbsp;&nbsp;Create Guide Price</a></li>
                    @*<li role="presentation"><a href="#tab3" role="tab" data-toggle="tab" data-section="tab3" class="basic-accord"><span class="menu-icon fa fa-file-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;Override Standard Margin Rule For FIT</a></li>*@
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <form>
                            <div class="table-responsive">
                                <div class="dropdown table-custome-drop">
                                    <div class="btn-group">
                                        <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="glyphicon glyphicon-download-alt"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Excel</a></li>
                                            <li><a href="#">PDF</a></li>
                                            <li><a href="#">Email</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <table id="example-editable" class="display table" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Costing Set</th>
                                            <th>FIT/Group</th>

                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Costing Set</th>
                                            <th>FIT/Group</th>

                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <th></th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th>
                                                <input type="text" />
                                            </th>

                                            <th>
                                                <a href="#">
                                                    <img src="assets/images/srach.png" height="15" width="15" /></a> <a href="#">
                                                        <img src="assets/images/close.png" height="15" width="15" /></a>
                                            </th>
                                        </tr>

                                        <tr>
                                            <td>1</td>
                                            <td>Set1</td>
                                            <td>FIT</td>
                                            <td>
                                                <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="tab2">
                        <div class="col-md-7">
                            <form>

                                <h3 class="tab9section1">Guide Price - <span class="text-danger">Newbie Guide - Pattaya</span></h3>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="drpCostingSet">Costing Set </label>
                                            <select id="drpCostingSet" class="js-states form-control" style="display: none; width: 100%">
                                                <option selected="selected">Set1</option>
                                                <option>Set2</option>
                                                <option>Set3</option>
                                                <option>Set4</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="drpTypeOfAgent">FIT/Group</label>
                                            <select id="drpTypeOfAgent" class="js-states form-control" style="display: none; width: 100%">
                                                <option selected="selected">FIT</option>
                                                <option>Group</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="txtFromDate">From Date </label>
                                            <input type="text" class="form-control date-picker" id="txtFromDate" value="01/07/2016" placeholder="From Validity">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="txtTodate">To Date </label>
                                            <input type="text" class="form-control date-picker" id="txtTodate" value="04/20/2016" placeholder="To Validity">
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lbloperatingweekday">Operating Week Days </label>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="checkbox">Sun &nbsp &nbsp
                                           <input type="checkbox" checked>Mon &nbsp &nbsp
                                           <input type="checkbox">Tue &nbsp &nbsp
                                           <input type="checkbox" checked>Wed &nbsp &nbsp
                                           <input type="checkbox" checked>Thu &nbsp &nbsp
                                           <input type="checkbox">Fri &nbsp &nbsp
                                           <input type="checkbox">Set &nbsp &nbsp 
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">

                                            <label for="drpStatus">Status</label>
                                            <select id="drpStatus" class="js-states form-control" style="display: none; width: 100%">
                                                <option selected="selected">Active </option>
                                                <option>Inactive </option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                                <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                    SAVE</button>
                                <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                    UPDATE</button>
                                <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                    DELETE</button>
                                <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                                    CREATE NEW</button>
                                <button id="btnSave" type="submit" class="btn btn-info btnSave">
                                    QUIT FORM</button>
                                <br />
                                <br />
                                <br />

                                <h3 class="tab9section1">Rate </h3>
                                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#tab2-1" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord sub-tabbing"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Serach Rate</a></li>
                                    <li role="presentation"><a href="#tab2-2" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord sub-tabbing"><span class="menu-icon fa fa-money "></span>&nbsp;&nbsp;&nbsp;&nbsp;Rates</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="tab2-1">
                                        <div class="table-responsive">
                                            <table id="" class="display table datatable" style="width: 100%; cellspacing: 0;">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Nationality Set</th>
                                                        <th>Sightseeing</th>

                                                        <th style="width: 15%;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Nationality Set</th>
                                                        <th>Sightseeing</th>

                                                        <th>Action</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    <tr>
                                                        <th></th>
                                                        <th>
                                                            <input type="text" />
                                                        </th>
                                                        <th>
                                                            <input type="text" />
                                                        </th>

                                                        <th>
                                                            <a href="#">
                                                                <img src="assets/images/srach.png" height="15" width="15" /></a> <a href="#">
                                                                    <img src="assets/images/close.png" height="15" width="15" /></a>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td><span>Asian-Indian</span></td>
                                                        <td><span>Akshardham</span></td>
                                                        <td>
                                                        <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                        &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                    <div role="tabpanel" class="tab-pane" id="tab2-2">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label for="drpNationalitySet">Nationality Set </label>
                                                    <select id="drpNationalitySet" class="js-states form-control" style="display: none; width: 100%">
                                                        <option selected="selected">Asian - Indian</option>
                                                        <option>Affrican</option>
                                                        <option>Europen</option>
                                                        <option>Austrailian</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label for="drpSightseeing">Sightseeing </label>
                                                    <select id="drpSightseeing" multiple="multiple" class="js-states form-control" style="display: none; width: 100%">
                                                       <option>All</option>
                                                         <option selected="selected">Sanctuary Of Truth</option>
                                                        <option selected="selected">Jomtien Beach</option>
                                                        <option>Walking Street</option>
                                                        <option>Sriracha Tiger Zoo</option>
                                                        <option>Pattaya Elephant Village</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label for="drpMealPlan">Included Services</label>
                                                    <select id="drpMealPlan" multiple="multiple" class="js-states form-control" style="display: none; width: 100%">
                                                        <option>All</option>
                                                        <option selected="selected">Dinner</option>
                                                        <option>Soda Included For 1 Hr</option>
                                                        <option>Soda Included For 2 Hr</option>
                                                        <option>Soda Included For 3 Hr</option>
                                                        <option>Soda Included For 4 Hr</option>
                                                        <option>Soda Included For 5 Hr</option>
                                                        <option>Soda Included For 6 Hr</option>
                                                        <option>Soft Drink Included For 1 Hr</option>
                                                        <option>Soft Drink Included For 2 Hr</option>
                                                        <option>Soft Drink Included For 3 Hr</option>
                                                        <option>Soft Drink Included For 4 Hr</option>
                                                        <option>Soft Drink Included For 5 Hr</option>
                                                        <option>Soft Drink Included For 6 Hr</option>
                                                        <option>Juice Included For 1 Hr</option>
                                                        <option>Juice Included For 2 Hr</option>
                                                        <option>Juice Included For 3 Hr</option>
                                                        <option>Juice Included For 4 Hr</option>
                                                        <option>Juice Included For 5 Hr</option>
                                                        <option>Juice Included For 6 Hr</option>
                                                        <option>1 Starter</option>
                                                        <option>2 Starter</option>
                                                        <option>3 Starter</option>
                                                        <option>4 Starter</option>
                                                        <option>5 Starter</option>
                                                        <option>6 Starter</option>
                                                        <option>7 Starter</option>
                                                        <option>8 Starter</option>
                                                        <option>9 Starter</option>
                                                        <option>10 Starter</option>
                                                        <option>Airport Shuttle</option>
                                                        <option>ATM on site</option>
                                                        <option>VIP Room Facilities</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label for="drpCurrency">Currency</label>
                                                    <select id="drpCurrency" class="js-states form-control" style="display: none; width: 100%">
                                                        <option selected="selected">THB</option>
                                                        <option>USD</option>
                                                        <option>INR</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="txtExchangerate">Exchange Rate</label>
                                                    <div class="input-group input-append">
                                                        <input type="text" class="form-control" id="txtExchangerate" value="1" placeholder="Exchange Rate">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="txtServiceCost">Service Cost Per Day </label>
                                                    <div class="input-group input-append">
                                                        <input type="text" class="form-control" id="txtServiceCost" value="1500" placeholder="Service Cost ">
                                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                            SAVE</button>
                                        <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                            UPDATE</button>
                                        <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                            DELETE</button>
                                        <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                                            CREATE NEW</button>
                                        <button id="btnSave" type="submit" class="btn btn-info btnSave">
                                            QUIT FORM</button>
                                    </div>
                                </div>
                                <h6 class="tab9section1">&nbsp;</h6>
                                <h3 class="tab9section1">Additional Services </h3>
                                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#tab2-3" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord sub-tabbing"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Serach Additional Services</a></li>
                                    <li role="presentation"><a href="#tab2-4" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord sub-tabbing"><span class="menu-icon fa fa-plus-square"></span>&nbsp;&nbsp;&nbsp;&nbsp;Additional Services</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="tab2-3">
                                        <div class="table-responsive">
                                            <table id="" class="display table datatable" style="width: 100%; cellspacing: 0;">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Additional Services</th>
                                                        <th>Currency</th>
                                                        <th>Exchange Rate </th>
                                                        <th style="width: 15%;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Additional Services</th>
                                                        <th>Currency</th>
                                                        <th>Exchange Rate </th>
                                                        <th>Action</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    <tr>
                                                        <th></th>
                                                        <th>
                                                            <input type="text" />
                                                        </th>
                                                        <th>
                                                            <input type="text" />
                                                        </th>
                                                        <th>
                                                            <input type="text" />
                                                        </th>
                                                        <th>
                                                            <a href="#">
                                                                <img src="assets/images/srach.png" height="15" width="15" /></a> <a href="#">
                                                                    <img src="assets/images/close.png" height="15" width="15" /></a>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td><span>Abc Service</span></td>
                                                        <td><span>THB</span></td>
                                                        <td>
                                                        1                                                          
                                                        <td>
                                                            <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                            &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="tab2-4">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label for="drpAdditional">&nbsp;</label>
                                                    <select id="drpAdditional" class="js-states form-control" style="display: none; width: 100%">
                                                        <option selected="selected">Service Per Day</option>
                                                        <option>Per Pax</option>

                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label for="drpAdditionalService">Additional Services</label>
                                                    <select id="drpAdditionalService" multiple="multiple" class="js-states form-control" style="display: none; width: 100%">
                                                        <option>All</option>
                                                        <option selected="selected">Additinal Service 1</option>
                                                        <option>Additinal Service 2</option>
                                                        <option>Additinal Service 3</option>

                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label for="drpCurrencyadd">Currency</label>
                                                    <select id="drpCurrencyadd" class="js-states form-control" style="display: none; width: 100%">
                                                        <option selected="selected">THB</option>
                                                        <option>USD</option>
                                                        <option>INR</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="txtExchangerateadd">Exchange Rate</label>
                                                    <div class="input-group input-append">
                                                        <input type="text" class="form-control" id="txtExchangerateadd" value="1" placeholder="Exchange Rate">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="txtServiceCostadd">Service Cost Per Day </label>
                                                    <div class="input-group input-append">
                                                        <input type="text" class="form-control" id="txtServiceCostadd" value="1500" placeholder="Service Cost ">
                                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                         <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label for="txtAdultCost">Adult Cost</label>
                                                    <div class="input-group input-append">
                                                        <input type="text" class="form-control" id="txtAdultCost" value="1500" placeholder="Service Cost ">
                                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                                    </div>
                                                    </div>
                                            <div class="col-md-3">
                                                <label for="txtChildCost">Child Cost </label>
                                                    <div class="input-group input-append">
                                                        <input type="text" class="form-control" id="txtChildCost" value="1500" placeholder="Service Cost ">
                                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                                    </div>
                                                    </div>    
                                            </div>
                                            </div>

                                        <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                            SAVE</button>
                                        <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                            UPDATE</button>
                                        <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                            DELETE</button>
                                        <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                                            CREATE NEW</button>
                                        <button id="btnSave" type="submit" class="btn btn-info btnSave">
                                            QUIT FORM</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="col-md-5 summery-detail summerytab2">
                            <div class="panel panel-white">
                                <h4 class="panel-title-summery">Summary </h4>
                                <ul class="utilitis-drop ">
                                    <li><a href="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown">
                                        <img src="assets/images/utilitis-icon.png" height="19" width="19" /></a>
                                        <ul>
                                            <li><a href="#"><i class="task">&nbsp;</i><br />
                                                Task </a></li>
                                            <li><a href="#"><i class="noti">&nbsp;</i><br />
                                                Notifications </a></li>
                                            <li><a href="#"><i class="cal">&nbsp;</i><br />
                                                Calendar </a></li>
                                            <li><a href="#"><i class="e-mail">&nbsp;</i><br />
                                                Email </a></li>
                                            <li><a href="#"><i class="sms">&nbsp;</i><br />
                                                SMS </a></li>
                                            <li><a href="#"><i class="notes">&nbsp;</i><br />
                                                Notes </a></li>
                                            <li><a href="#"><i class="tages">&nbsp;</i><br />
                                                Tags </a></li>
                                            <li><a href="#"><i class="help-video">&nbsp;</i><br />
                                                Help Video </a></li>
                                            <li><a href="#"><i class="guided-tour">&nbsp;</i><br />
                                                Guided Tour </a></li>
                                            <li><a href="#"><i class="copy">&nbsp;</i><br />
                                                Copy </a></li>
                                            <li><a href="#"><i class="print">&nbsp;</i><br />
                                                Print </a></li>
                                            <li><a href="#"><i class="updates">&nbsp;</i><br />
                                                Updates </a></li>
                                            <li><a href="#"><i class="screns">&nbsp;</i><br />
                                                Screenshot </a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="panel-body" style="border: 1px solid #22BAA0;">
                                    <div class="summ-lis-height">
                                        <ul class="summery-list slimscroll">
                                            <div class="summ-list-left">
                                                <li>Nationality Set :<br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblNationalitySet" for="drpNationalitySet"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>Sightseeing :
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblSightseeing" for="drpSightseeing"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>Entrance Name :
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblEntranceName" for="drpEntranceName"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>Available Addons :
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblAvailableAddons" for="drpAvailableAddons"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>Official Email(s)  :
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblOfficialEmail" for="txtOfficialEmail"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>Official Phone  :
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblOfficialPhone" for="txtOfficialPhone"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>

                                            </div>
                                            <div class="summ-list-right">
                                                <li>Website  :
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblWebsite" for="txtWebsite"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>Address Line 1 
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblAddressLine1" for="txtAddressLine1"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>City :
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblCity" for="txtCity"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>State :
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblState" for="txtState"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>Country :
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblCountry" for="txtCountry"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>Zip/Postal Code :
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblZipCode" for="txtZipCode"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="summery-buttons">
                                        <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                            SAVE</button>
                                        <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                            UPDATE</button>
                                        <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                            DELETE</button>
                                        <p>
                                            Inputs with <i class="cross">&nbsp;</i> mark are incorrect
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(window).scroll(function () {
            var $tabsummery = $('.summery' + $('.form-tabs').find('li[class=active]').children().data('section'))
            //set_prev = $('.summery-detail').css('top');
            set_prev = $tabsummery.css('top');
            if ($('body').hasClass('page-horizontal-bar')) {
                if ($('body').hasClass('page-sidebar-fixed')) {
                    if ($(document).scrollTop() >= 161) {
                        set = ($(document).scrollTop() - (160)) + "px";
                        $tabsummery.animate({ top: set }, { duration: 0, queue: false });
                        if (($tabsummery.parent().parent().parent().parent().offset().top + $tabsummery.parent().parent().parent().parent().height() - $tabsummery.height()) < ($(document).scrollTop() + 100)) {
                            var new_top = ($tabsummery.parent().parent().parent().parent().offset().top + $tabsummery.parent().parent().parent().parent().height() - ($tabsummery.height() + 286))
                            $tabsummery.animate({ top: set_prev }, { duration: 0, queue: false });
                        }
                    } else {
                        $tabsummery.css('top', '');
                    }
                } else if ($('body').hasClass('page-header-fixed')) {
                    if ($(document).scrollTop() >= 228) {
                        set = ($(document).scrollTop() - 225) + "px";
                        $tabsummery.animate({ top: set }, { duration: 0, queue: false });
                        if (($tabsummery.parent().parent().parent().parent().offset().top + $tabsummery.parent().parent().parent().parent().height() - $tabsummery.height()) < ($(document).scrollTop() + 100)) {
                            var new_top = ($tabsummery.parent().parent().parent().parent().offset().top + $tabsummery.parent().parent().parent().parent().height() - ($tabsummery.height()))
                            $tabsummery.animate({ top: set_prev }, { duration: 0, queue: false });
                        }
                    } else {
                        $tabsummery.css('top', '');
                    }
                } else {
                    if ($(document).scrollTop() >= 286) {
                        set = ($(document).scrollTop() - 288) + "px";
                        $tabsummery.animate({ top: set }, { duration: 0, queue: false });
                        if (($tabsummery.parent().parent().parent().parent().offset().top + $tabsummery.parent().parent().parent().parent().height() - $tabsummery.height()) < ($(document).scrollTop() + 100)) {
                            var new_top = ($tabsummery.parent().parent().parent().parent().offset().top + $tabsummery.parent().parent().parent().parent().height() - ($tabsummery.height() + 286))
                            $tabsummery.animate({ top: set_prev }, { duration: 0, queue: false });
                        }
                    } else {
                        $tabsummery.css('top', '');
                    }
                }
            } else {
                if ($('body').hasClass('page-header-fixed')) {
                    if ($(document).scrollTop() >= 156) {
                        set = ($(document).scrollTop() - 155) + "px";
                        $tabsummery.animate({ top: set }, { duration: 0, queue: false });
                        if (($tabsummery.parent().parent().parent().parent().offset().top + $tabsummery.parent().parent().parent().parent().height() - $tabsummery.height()) < ($(document).scrollTop() + 100)) {
                            var new_top = ($tabsummery.parent().parent().parent().parent().offset().top + $tabsummery.parent().parent().parent().parent().height() - ($tabsummery.height() + 286))
                            $tabsummery.animate({ top: set_prev }, { duration: 0, queue: false });
                        }
                    } else {
                        $tabsummery.css('top', '');
                    }
                } else {
                    if ($(document).scrollTop() >= 218) {
                        set = ($(document).scrollTop() - 216) + "px";
                        $tabsummery.animate({ top: set }, { duration: 0, queue: false });
                        if (($tabsummery.parent().parent().parent().parent().offset().top + $tabsummery.parent().parent().parent().parent().height() - $tabsummery.height()) < ($(document).scrollTop() + 100)) {
                            var new_top = ($tabsummery.parent().parent().parent().parent().offset().top + $tabsummery.parent().parent().parent().parent().height() - ($tabsummery.height() + 286))
                            $tabsummery.animate({ top: set_prev }, { duration: 0, queue: false });
                        }
                    } else {
                        $tabsummery.css('top', '');
                    }
                }
            }
        });
        $(document).ready(function () {

            $('.hotelstatus').editable({
                value: 2,
                source: [
                    { '1': 'Active' },
                    { '2': 'Inactive' }
                ]
            });
        });
    </script>
}
