<div class="col-md-8 full-responsive">
    <form>
        <h3 class="tab9section1">Create Early Bird Discount- <span class="text-danger">Amari Ocean Pattaya - Pattaya</span></h3>
        <div class="form-group">
            <div class="row">

                <div class="col-md-3">
                    <label for="drpCostingSet">Contract</label>
                    <select id="drpCostingTitle" class="js-states form-control" style="display: none; width: 100%">
                        <option>Outtrigger 2015/16 Full Year FIT</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="txtFromDate">Contract ID </label>
                    <input type="text" class="form-control" id="txtContractID" value="0001" placeholder="Contract ID" readonly>
                </div>
                <div class="col-md-3">
                    <label for="txtFromDate">Promotion Title</label>
                    <input type="text" class="form-control" id="txtContractID" value="Early Bird Special Promotion" placeholder="Promotion">
                </div>
                <div class="col-md-3">
                    <label for="txtFromDate">Promotion Code </label>
                    <input type="text" class="form-control" id="txtContractID" value="EARLYBIRD_NOV_MAR" placeholder="Promotion Code">
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtFromDate">FIT/Group</label>
                    <input type="text" class="form-control" id="txtContractID" value="FIT" placeholder="FIT/Group" readonly>
                </div>
                <div class="col-md-6">
                    <label for="drpRoomCategory">Room Category </label>
                    <select id="drpRoomCategory" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                        <option selected="selected">All</option>
                        <option>Standard </option>
                        <option>Delux </option>
                        <option>Supirior</option>
                    </select>
                </div>


            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtRateFromDate">
                        Travel From Date
                    </label>
                    <input type="text" class="form-control date-picker" id="txtRateFromDate" value="01/11/2015" placeholder="From Validity">
                </div>
                <div class="col-md-6">
                    <label for="txtRateToDate">Travel To Date </label>
                    <input type="text" class="form-control date-picker" id="txtRateToDate" value="31/03/2016" placeholder="To Validity">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="drpRoomCategory">Discount Applied On</label>
                    <select id="drpRoomCategory" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                        <option selected="selected">All</option>
                        <option>ABF.</option>
                        <option>Lunch</option>
                        <option>Dinner</option>
                        <option>Extra Bed</option>
                    </select>
                </div>
             @*   <div class="col-md-3">
                    <label>&nbsp;</label>
                    <div class="row">
                        <div class="col-md-12 form-marings">
                            <input type="checkbox" checked>Incl. ABF
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>&nbsp;</label>
                    <div class="row">
                        <div class="col-md-12 form-marings">
                            <input type="checkbox">Incl. Meal
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>&nbsp;</label>
                    <div class="row">
                        <div class="col-md-12 form-marings">
                            <input type="checkbox">Incl. Extra Bed
                        </div>
                    </div>
                </div>*@
                <div class="col-md-6">
                    <label for="drpStatus">Status</label>
                    <select id="drpStatusEB" class="js-states form-control" style="display: none; width: 100%">
                        <option selected="selected">Active </option>
                        <option>Inactive </option>
                    </select>
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>&nbsp;</label>
                    <div class="row">
                        <div class="col-md-12 form-marings">
                            <input type="checkbox" checked>Can Combine With Other Promotions ?
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="drpStatus">Promotions</label>
                    <select id="drpStatusEB" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <h3>Blackout Period</h3>
                    <div class="table-responsive">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="width: 31%; padding: 5px">Blackout From Date</th>
                                    <th style="width: 31%; padding: 5px">Blackout To Date</th>
                                    <th style="width: 32%; padding: 5px">Comments</th>
                                    <th style="width: 6%; padding: 5px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control date-picker" id="txtAgeFrom" value="25/12/2015" placeholder="Service Cost ">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control date-picker" id="txtAgeFrom" value="05/01/2016" placeholder="Heading">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control " id="txtAgeFrom" value="New Year" placeholder="Comments">
                                    </td>
                                     <td style="padding: 5px">
                                        <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                    </td>
                                </tr>
                               
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
           <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <h3>Inclusions / Benefits</h3>
                    <div class="table-responsive">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="width: 7%; padding: 5px">Sr. No</th>
                                    <th style="width: 27%; padding: 5px">Heading</th>
                                    <th style="width: 50%; padding: 5px">Inclusions & Benefits</th>
                                    <th style="width: 11%; padding: 5px">For Quote</th>
                                    <th style="width: 5%; padding: 5px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="1" placeholder="Service Cost ">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="" placeholder="Heading">
                                    </td>

                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeTo" value="" placeholder="Inclusions">
                                    </td>

                                    <td style="padding: 5px">
                                        <input type="checkbox" checked="checked" class="form-control">
                                    </td>
                                    <td style="padding: 5px">
                                        <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="2" placeholder="Service Cost ">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="" placeholder="Heading">
                                    </td>

                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeTo" value="" placeholder="Inclusions">
                                    </td>

                                    <td style="padding: 5px">
                                        <input type="checkbox" checked="checked" class="form-control">
                                    </td>
                                     <td style="padding: 5px">
                                        <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                    </td>
                                   
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="tab9section5">Costing</h3>
                    <div class="table-responsive">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="width: 25%; padding: 5px">Guest Nationality</th>
                                    <th style="width: 25%; padding: 5px">Days Prior To Arrival Date</th>
                                    <th style="width: 30%; padding: 5px">Discount Type</th>
                                    <th style="width: 20%; padding: 5px">Discount</th>
                                    <th style="width: 6%; padding: 5px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="padding: 5px">
                                        <select id="drpNationalitySet" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">Asian - Indian</option>
                                            <option>Affrican</option>
                                            <option>Europen</option>
                                            <option>Austrailian</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtDiscountRate" value="90" placeholder="">
                                    </td>
                                    <td style="padding: 5px">
                                        <select id="drpDiscounttypeCS" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">Percentage</option>
                                            <option>Amount</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtDiscountRate" value="20" placeholder="">
                                    </td>

                                    <td style="padding: 5px"></td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px">
                                        <select id="drpNationalitySet" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">Asian - Indian</option>
                                            <option>Affrican</option>
                                            <option>Europen</option>
                                            <option>Austrailian</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtDiscountRate" value="60" placeholder="">
                                    </td>
                                    <td style="padding: 5px">
                                        <select id="drpDiscounttypeCS" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">Percentage</option>
                                            <option>Amount</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtDiscountRate" value="15" placeholder="">
                                    </td>
                                    <td style="padding: 5px">
                                        <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px">
                                        <select id="drpNationalitySet" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">Asian - Indian</option>
                                            <option>Affrican</option>
                                            <option>Europen</option>
                                            <option>Austrailian</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtDiscountRate" value="45" placeholder="">
                                    </td>
                                    <td style="padding: 5px">
                                        <select id="drpDiscounttypeCS" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">Percentage</option>
                                            <option>Amount</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtDiscountRate" value="10" placeholder="">
                                    </td>
                                    <td style="padding: 5px">
                                        <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtRemarks">Remarks </label>
                    <textarea class="form-control" cols="5" id="txtRemarks"></textarea>
                </div>
                <div class="col-md-6">
                    <label for="txtRemarksInternal">Remarks (Internal)</label>
                    <textarea class="form-control" cols="5" id="txtRemarksInternal"></textarea>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="tab9section5">Selling</h3>
                    <div class="table-responsive">

                        <input type="checkbox" checked>Copy From Costing
                               <br />
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="width: 25%; padding: 5px">Guest Nationality</th>
                                    <th style="width: 25%; padding: 5px">Days Prior To Arrival Date</th>
                                    <th style="width: 30%; padding: 5px">Discount Type</th>
                                    <th style="width: 20%; padding: 5px">Discount</th>
                                    <th style="width: 6%; padding: 5px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="padding: 5px">
                                        <select id="drpNationalitySet" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">Asian - Indian</option>
                                            <option>Affrican</option>
                                            <option>Europen</option>
                                            <option>Austrailian</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtDiscountRate" value="90" placeholder="">
                                    </td>
                                    <td style="padding: 5px">
                                        <select id="drpDiscounttypeCS" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">Percentage</option>
                                            <option>Amount</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtDiscountRate" value="20" placeholder="">
                                    </td>

                                    <td style="padding: 5px"></td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px">
                                        <select id="drpNationalitySet" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">Asian - Indian</option>
                                            <option>Affrican</option>
                                            <option>Europen</option>
                                            <option>Austrailian</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtDiscountRate" value="60" placeholder="">
                                    </td>
                                    <td style="padding: 5px">
                                        <select id="drpDiscounttypeCS" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">Percentage</option>
                                            <option>Amount</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtDiscountRate" value="15" placeholder="">
                                    </td>
                                    <td style="padding: 5px">
                                        <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px">
                                        <select id="drpNationalitySet" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">Asian - Indian</option>
                                            <option>Affrican</option>
                                            <option>Europen</option>
                                            <option>Austrailian</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtDiscountRate" value="45" placeholder="">
                                    </td>
                                    <td style="padding: 5px">
                                        <select id="drpDiscounttypeCS" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">Percentage</option>
                                            <option>Amount</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtDiscountRate" value="10" placeholder="">
                                    </td>
                                    <td style="padding: 5px">
                                        <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
</div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtRemarks">Remarks </label>
                    <textarea class="form-control" cols="5" id="txtRemarks"></textarea>
                </div>
                <div class="col-md-6">
                    <label for="txtRemarksInternal">Remarks (Internal)</label>
                    <textarea class="form-control" cols="5" id="txtRemarksInternal"></textarea>
                </div>
            </div>
        </div>

<button id="btnSave" type="submit" class="btn btn-success btnSave">
    SAVE</button>
<button id="btnSave" type="submit" class="btn btn-primary btnSave">
    UPDATE</button>
<button id="btnCancel" type="submit" class="btn btn-green btnCancel">
    DELETE</button>
<button id="btnSave" type="submit" class="btn btn-warning btnSave">
    CREATE NEW</button>
<button id="btnSave" type="submit" class="btn btn-info btnSave">
    QUIT FORM</button>
<a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
    <span class="fa fa-refresh"></span>
</a>

<br />
<br />
<br />

@*  <h3 class="tab9section1">Costing </h3>
        <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab2CS1" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord sub-tabbing"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Search Costing</a></li>
            <li role="presentation"><a href="#tab2CS2" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord sub-tabbing"><span class="menu-icon fa fa-money "></span>&nbsp;&nbsp;&nbsp;&nbsp;Costing</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab2CS1">
                @Html.Partial("_SearchCostingEB")
            </div>
            <div role="tabpanel" class="tab-pane" id="tab2CS2">
                @Html.Partial("_CreateCostingEB")
            </div>
        </div>

        <h6>&nbsp;</h6>
        <h3 class="tab9section1">Selling </h3>
        <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab2S1" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord sub-tabbing"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Search Selling</a></li>
            <li role="presentation"><a href="#tab2S2" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord sub-tabbing"><span class="menu-icon fa fa-money "></span>&nbsp;&nbsp;&nbsp;&nbsp;Selling</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab2S1">
                @Html.Partial("_SearchSellingEB")
            </div>
            <div role="tabpanel" class="tab-pane" id="tab2S2">
                @Html.Partial("_CreateSellingEB")
            </div>
        </div>*@

</form>
</div>
<div class="col-md-4 summery-detail summery-uitilities-detail summerytab1-2">
    <div class="panel-body tab-itenaries ">
        <div class="panel-group">
            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title">Summary 
                          <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report">
                              <i class="fa fa-tasks"></i>
                          </a>
                        <a id="startGuiededTour" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Guided Tour">
                            <i class="icon-info"></i>
                        </a>
                        <a id="startTimeline" onclick="$('#showRightSideTimeline').trigger('click')" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="View Trail">
                            <i class="fa fa-sitemap"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>
                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created From Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Page Load Time: </td>
                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                </tr>
                                <tr>
                                    <td>Record Update Time: </td>
                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
