@{
    ViewBag.Title = "Gala Dinner Price List";
    ViewBag.PageTitle = "Gala Dinner Price List";
    ViewBag.FooterCopyRight = "2015 &copy; Green Travel.";
    ViewBag.Breadcurmb = "<ol class='breadcrumb'>";
    ViewBag.Breadcurmb += "<li>Hotel Code: <span>HOTEL-5-0-1</span></li>";
    ViewBag.Breadcurmb += "<li>Operating Branch: <span>Pattaya</span></li>";
    ViewBag.Breadcurmb += "<li>User Created: <span>John Barter</span></li>";
    ViewBag.Breadcurmb += "<li>Created Date: <span>19-02-2016</span></li>";
    ViewBag.Breadcurmb += "<li>User Updated: <span>Iris Joe</span></li>";
    ViewBag.Breadcurmb += "<li>Updated Date: <span>29-02-2016</span></li>";
    ViewBag.Breadcurmb += "</ol>";
}

<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tab1" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Serach Gala Dinner Price List </a></li>
                    <li role="presentation"><a href="#tab2" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord"><span class="menu-icon fa fa-spoon"></span>&nbsp;&nbsp;&nbsp;&nbsp;Create Gala Dinner Price List</a></li>

                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <form>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Hotel</label>
                                    <input type="text" class="form-control" id="txtOfficialEmail" value="Amari Ocean Pattaya" placeholder="Hotel">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Restaurant Name </label>
                                    <select id="drpTypeOfHotel" class="js-states form-control" style="display: none; width: 100%">
                                        <option selected="selected">Mantra Restaurant & Bar</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <div class="dropdown table-custome-drop">
                                        <div class="btn-group">
                                            <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <span class="glyphicon glyphicon-download-alt"></span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Excel</a></li>
                                                <li><a href="#">PDF</a></li>
                                                <li><a href="#">Email</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <table id="example-editable" class="display table" style="width: 100%; cellspacing: 0;">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nationality</th>
                                                <th>Dinner Date </th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>Nationality</th>
                                                <th>Dinner Date </th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr>
                                                <th></th>
                                                <th>
                                                    <input type="text" />
                                                </th>
                                                <th>
                                                    <input type="text" />
                                                </th>
                                                <th>
                                                    <a href="#">
                                                        <img src="assets/images/srach.png" height="15" width="15" /></a> <a href="#">
                                                            <img src="assets/images/close.png" height="15" width="15" /></a>
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td><span>Asian - Indian</span></td>
                                                <td><span>01/01/2016</span> - <span>31/12/2016</span></td>
                                                <td>
                                                    <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                    &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td><span>Asian </span></td>
                                                <td><span>01/01/2016</span> - <span>31/12/2016</span></td>
                                                <td>
                                                    <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                    &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="tab2">
                        <div class="col-md-7">
                            <form>
                                <h3 class="tab9section1">Create Gala Dinner Price List - <span class="text-danger">Amari Ocean Pattaya - Pattaya</span></h3>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="drpCostingSet">Costing Set </label>
                                            <select id="drpCostingSet" class="js-states form-control" style="display: none; width: 100%">
                                                <option selected="selected">Set1</option>
                                                <option>Set2</option>
                                                <option>Set3</option>
                                                <option>Set4</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="drpTypeOfAgent">FIT/Group</label>
                                            <select id="drpTypeOfAgent" class="js-states form-control" style="display: none; width: 100%">
                                                <option selected="selected">FIT</option>
                                                <option>Group</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="drpTypeOfSupplier">Supplier Type<span>*</span></label>
                                            <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                                <option selected="selected">Accommodation</option>
                                                <option>Coach</option>
                                                <option>Guide</option>
                                                <option>Driver</option>
                                                <option>Meal</option>
                                                <option>Transport</option>
                                                <option>Sightseeing</option>
                                                <option>Supplier</option>
                                                <option>Other</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="drpSupplier">Supplier </label>
                                            <select id="drpSupplier" class="js-states form-control" style="display: none; width: 100%">
                                                <option selected="selected">Abc Supplier</option>
                                                <option>Xyz Supplier</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="drpHotel">Hotel </label>
                                            <select id="drpHotel" class="js-states form-control" style="display: none; width: 100%">
                                                <option selected="selected">Abc Hotel</option>
                                                <option>Xyz Hotel</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="drpNationalitySet">Restaurant</label>
                                            <select id="drpNationalitySet" class="js-states form-control" style="display: none; width: 100%">
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtFromDate">From Dinner Date </label>
                                            <input type="text" class="form-control date-picker" id="txtFromDate" value="01/07/2016" placeholder="From Validity">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtTodate">To Dinner Date </label>
                                            <input type="text" class="form-control date-picker" id="txtTodate" value="04/20/2016" placeholder="To Validity">
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lbloperatingweekday">Operating Week Days </label>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="checkbox">Sun &nbsp &nbsp
                                           <input type="checkbox" checked>Mon &nbsp &nbsp
                                           <input type="checkbox">Tue &nbsp &nbsp
                                           <input type="checkbox" checked>Wed &nbsp &nbsp
                                           <input type="checkbox" checked>Thu &nbsp &nbsp
                                           <input type="checkbox">Fri &nbsp &nbsp
                                           <input type="checkbox">Set &nbsp &nbsp 
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">

                                            <label for="drpStatus">Status</label>
                                            <select id="drpStatus" class="js-states form-control" style="display: none; width: 100%">
                                                <option selected="selected">Active </option>
                                                <option>Inactive </option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                                <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                    SAVE</button>
                                <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                    UPDATE</button>
                                <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                    DELETE</button>
                                <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                                    CREATE NEW</button>
                                <button id="btnSave" type="submit" class="btn btn-info btnSave">
                                    QUIT FORM</button>
                                <br />
                                <br />
                                <br />

                                <h3 class="tab9section1">Rate </h3>
                                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#tab2-1" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord sub-tabbing"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Serach Rate</a></li>
                                    <li role="presentation"><a href="#tab2-2" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord sub-tabbing"><span class="menu-icon fa fa-money "></span>&nbsp;&nbsp;&nbsp;&nbsp;Rates</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="tab2-1">
                                        <div class="table-responsive">
                                            <table id="" class="display table datatable" style="width: 100%; cellspacing: 0;">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Nationality Set</th>
                                                        <th>Restaurant</th>
                                                        <th>Rate </th>
                                                        <th style="width: 15%;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Nationality Set</th>
                                                        <th>Restaurant</th>
                                                        <th>Rate </th>
                                                        <th>Action</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    <tr>
                                                        <th></th>
                                                        <th>
                                                            <input type="text" />
                                                        </th>
                                                        <th>
                                                            <input type="text" />
                                                        </th>
                                                        <th>
                                                            <input type="text" />
                                                        </th>
                                                        <th>
                                                            <a href="#">
                                                                <img src="assets/images/srach.png" height="15" width="15" /></a> <a href="#">
                                                                    <img src="assets/images/close.png" height="15" width="15" /></a>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td><span>Asian-Indian</span></td>
                                                        <td><span>Abc Restaurant</span></td>
                                                        <td>
                                                        4200
                                                          
                                                        <td>
                                                            <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                            &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="tab2-2">
                                        <div class="form-group">
                                            <div class="row">

                                                <div class="col-md-12">
                                                    <label for="drpNationalitySet">Nationality Set </label>
                                                    <select id="drpNationalitySet" class="js-states form-control" style="display: none; width: 100%">
                                                        <option selected="selected">Asian - Indian</option>
                                                        <option>Affrican</option>
                                                        <option>Europen</option>
                                                        <option>Austrailian</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label for="drpMealPlan">Included Services</label>
                                                    <select id="drpMealPlan" multiple="multiple" class="js-states form-control" style="display: none; width: 100%">
                                                        <option>All</option>
                                                        <option selected="selected">Dinner</option>
                                                        <option>LCD Projector</option>
                                                        <option>Soda Included For 1 Hr</option>
                                                        <option>Soda Included For 2 Hr</option>
                                                        <option>Soda Included For 3 Hr</option>
                                                        <option>Soda Included For 4 Hr</option>
                                                        <option>Soda Included For 5 Hr</option>
                                                        <option>Soda Included For 6 Hr</option>
                                                        <option>Soft Drink Included For 1 Hr</option>
                                                        <option>Soft Drink Included For 2 Hr</option>
                                                        <option>Soft Drink Included For 3 Hr</option>
                                                        <option>Soft Drink Included For 4 Hr</option>
                                                        <option>Soft Drink Included For 5 Hr</option>
                                                        <option>Soft Drink Included For 6 Hr</option>
                                                        <option>Juice Included For 1 Hr</option>
                                                        <option>Juice Included For 2 Hr</option>
                                                        <option>Juice Included For 3 Hr</option>
                                                        <option>Juice Included For 4 Hr</option>
                                                        <option>Juice Included For 5 Hr</option>
                                                        <option>Juice Included For 6 Hr</option>
                                                        <option>1 Starter</option>
                                                        <option>2 Starter</option>
                                                        <option>3 Starter</option>
                                                        <option>4 Starter</option>
                                                        <option>5 Starter</option>
                                                        <option>6 Starter</option>
                                                        <option>7 Starter</option>
                                                        <option>8 Starter</option>
                                                        <option>9 Starter</option>
                                                        <option>10 Starter</option>
                                                        <option>Airport Shuttle</option>
                                                        <option>ATM on site</option>
                                                        <option>VIP Room Facilities</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">

                                                <div class="col-md-3">
                                                    <label for="txtFromTime">From Time </label>
                                                    <input type="text" class="form-control" id="txtFromTime" value="8:00 AM" placeholder="From Time">
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="txtToTime">To Time </label>
                                                    <input type="text" class="form-control" id="txtToTime" value="02:00 PM" placeholder="To Time">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="txtPerPersonRate">Per Person Rate </label>
                                                    <div class="input-group input-append">
                                                        <input type="text" class="form-control" id="txtPerPersonRate" value="2000" placeholder="Per Person Rate">
                                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                            SAVE</button>
                                        <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                            UPDATE</button>
                                        <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                            DELETE</button>
                                        <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                                            CREATE NEW</button>
                                        <button id="btnSave" type="submit" class="btn btn-info btnSave">
                                            QUIT FORM</button>
                                    </div>
                                </div>

                                <h6 class="tab9section1">&nbsp;</h6>
                                <h3 class="tab9section1">Additional Services </h3>
                                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#tab2-3" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord sub-tabbing"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Serach Additional Services</a></li>
                                    <li role="presentation"><a href="#tab2-4" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord sub-tabbing"><span class="menu-icon fa fa-hospital-o "></span>&nbsp;&nbsp;&nbsp;&nbsp;Additional Services</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="tab2-3">
                                        <div class="table-responsive">
                                            <table id="" class="display table datatable" style="width: 100%; cellspacing: 0;">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Additional Services</th>
                                                        <th>Currency</th>
                                                        <th>Exchange Rate </th>
                                                        <th style="width: 15%;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Additional Services</th>
                                                        <th>Currency</th>
                                                        <th>Exchange Rate </th>
                                                        <th>Action</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    <tr>
                                                        <th></th>
                                                        <th>
                                                            <input type="text" />
                                                        </th>
                                                        <th>
                                                            <input type="text" />
                                                        </th>
                                                        <th>
                                                            <input type="text" />
                                                        </th>
                                                        <th>
                                                            <a href="#">
                                                                <img src="assets/images/srach.png" height="15" width="15" /></a> <a href="#">
                                                                    <img src="assets/images/close.png" height="15" width="15" /></a>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td><span>Abc Service</span></td>
                                                        <td><span>THB</span></td>
                                                        <td>
                                                        1                                                          
                                                        <td>
                                                            <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                            &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="tab2-4">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label for="drpAdditional">&nbsp;</label>
                                                    <select id="drpAdditional" class="js-states form-control" style="display: none; width: 100%">
                                                        <option selected="selected">Service Per Day</option>
                                                        <option>Per Pax</option>

                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label for="drpAdditionalService">Additional Services</label>
                                                    <select id="drpAdditionalService" multiple="multiple" class="js-states form-control" style="display: none; width: 100%">
                                                        
                                                        <option>All</option>
                                                        <option selected="selected">Additinal Service 1</option>
                                                        <option>Additinal Service 2</option>
                                                        <option>Additinal Service 3</option>

                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label for="drpCurrencyadd">Currency</label>
                                                    <select id="drpCurrencyadd" class="js-states form-control" style="display: none; width: 100%">
                                                        <option selected="selected">THB</option>
                                                        <option>USD</option>
                                                        <option>INR</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="txtExchangerateadd">Exchange Rate</label>
                                                    <div class="input-group input-append">
                                                        <input type="text" class="form-control" id="txtExchangerateadd" value="1" placeholder="Exchange Rate">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="txtServiceCostadd">Service Cost Per Day </label>
                                                    <div class="input-group input-append">
                                                        <input type="text" class="form-control" id="txtServiceCostadd" value="1500" placeholder="Service Cost ">
                                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                         <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label for="txtAdultCost">Adult Cost</label>
                                                    <div class="input-group input-append">
                                                        <input type="text" class="form-control" id="txtAdultCost" value="1500" placeholder="Service Cost ">
                                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                                    </div>
                                                    </div>
                                            <div class="col-md-3">
                                                <label for="txtChildCost">Child Cost </label>
                                                    <div class="input-group input-append">
                                                        <input type="text" class="form-control" id="txtChildCost" value="1500" placeholder="Service Cost ">
                                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                                    </div>
                                                    </div>    
                                            </div>
                                            </div>

                                        <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                            SAVE</button>
                                        <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                            UPDATE</button>
                                        <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                            DELETE</button>
                                        <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                                            CREATE NEW</button>
                                        <button id="btnSave" type="submit" class="btn btn-info btnSave">
                                            QUIT FORM</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-5 summery-detail summerytab2">
                            <div class="panel panel-white">
                                <h4 class="panel-title-summery">Summary </h4>
                                <ul class="utilitis-drop ">
                                    <li><a href="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown">
                                        <img src="assets/images/utilitis-icon.png" height="19" width="19" /></a>
                                        <ul>
                                            <li><a href="#"><i class="task">&nbsp;</i><br />
                                                Task </a></li>
                                            <li><a href="#"><i class="noti">&nbsp;</i><br />
                                                Notifications </a></li>
                                            <li><a href="#"><i class="cal">&nbsp;</i><br />
                                                Calendar </a></li>
                                            <li><a href="#"><i class="e-mail">&nbsp;</i><br />
                                                Email </a></li>
                                            <li><a href="#"><i class="sms">&nbsp;</i><br />
                                                SMS </a></li>
                                            <li><a href="#"><i class="notes">&nbsp;</i><br />
                                                Notes </a></li>
                                            <li><a href="#"><i class="tages">&nbsp;</i><br />
                                                Tags </a></li>
                                            <li><a href="#"><i class="help-video">&nbsp;</i><br />
                                                Help Video </a></li>
                                            <li><a href="#"><i class="guided-tour">&nbsp;</i><br />
                                                Guided Tour </a></li>
                                            <li><a href="#"><i class="copy">&nbsp;</i><br />
                                                Copy </a></li>
                                            <li><a href="#"><i class="print">&nbsp;</i><br />
                                                Print </a></li>
                                            <li><a href="#"><i class="updates">&nbsp;</i><br />
                                                Updates </a></li>
                                            <li><a href="#"><i class="screns">&nbsp;</i><br />
                                                Screenshot </a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="panel-body" style="border: 1px solid #22BAA0;">
                                    <div class="summ-lis-height">
                                        <ul class="summery-list slimscroll">
                                            <div class="summ-list-left">
                                                <li>Nationality Set<br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblHotelName" for="txtHotelName"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>From Dinner Date
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblTypeOfHotel" for="drpTypeOfHotel"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>


                                            </div>
                                            <div class="summ-list-right">
                                                <li>To Dinner Date
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblStarRating" for="drpStarRating"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>Per Person Rate
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblOperatingCurrency" for="drpOperatingCurrency"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="summery-buttons">
                                        <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                            SAVE</button>
                                        <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                            UPDATE</button>
                                        <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                            DELETE</button>
                                        <p>
                                            Inputs with <i class="cross">&nbsp;</i> mark are incorrect
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

