@{
    ViewBag.Title = "Travel Vouchers";
    ViewBag.PageTitle = "Travel Vouchers";
    ViewBag.FooterCopyRight = "2015 &copy; Green Travel.";
}

<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="txtCurrency">Agent </label>
                            <select id="drpRoomType" class="js-states form-control" style="display: none; width: 100%">
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="txtCurrency">Tour Name </label>
                            <select id="drpRoomType" class="js-states form-control" style="display: none; width: 100%">
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="txtCurrency">Invoice#</label>
                            <select id="drpRoomType" class="js-states form-control" style="display: none; width: 100%">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="txtCurrency">Quotation Ref.#</label>
                            <select id="drpRoomType" class="js-states form-control" style="display: none; width: 100%">
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="txtCurrency">Client Name</label>
                            <select id="drpRoomType" class="js-states form-control" style="display: none; width: 100%">
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="txtCurrency">Travel Date</label>
                            <select id="drpRoomType" class="js-states form-control" style="display: none; width: 100%">
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="txtCurrency">Travel Month</label>
                            <select id="drpRoomType" class="js-states form-control" style="display: none; width: 100%">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="example-editable" class="display table" style="width: 100%; cellspacing: 0;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Agent</th>
                                <th>Tour Name</th>
                                <th>Invoice#</th>
                                <th>Quotation Ref. #</th>
                                <th>Client Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Agent</th>
                                <th>Tour Name</th>
                                <th>Invoice#</th>
                                <th>Quotation Ref. #</th>
                                <th>Client Name</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Agent1</td>
                                <td>Tour Name1</td>
                                <td>Invoice1</td>
                                <td>QuotationRef1</td>
                                <td>Client1</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="glyphicon glyphicon-download-alt"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#MyDownloadPDF">PDF</a></li>
                                            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#MyDownloadEmail">Email</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Agent2</td>
                                <td>Tour Name2</td>
                                <td>Invoice2</td>
                                <td>QuotationRef2</td>
                                <td>Client2</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="glyphicon glyphicon-download-alt"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#MyDownloadPDF">PDF</a></li>
                                            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#MyDownloadEmail">Email</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="panel panel-white">
        <h4 class="panel-title-summery">Utilities </h4>
        <div class="panel-body utility-panel">
            <ul class="utility-list">
                <li>
                    <a href="#">
                        <i class="task">&nbsp;</i><br />
                        Task
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="noti">&nbsp;</i><br />
                        Notifications
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="cal">&nbsp;</i><br />
                        Calendar
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="e-mail">&nbsp;</i><br />
                        Email
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="sms">&nbsp;</i><br />
                        SMS
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="notes">&nbsp;</i><br />
                        Notes
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="tages">&nbsp;</i><br />
                        Tags
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="help-video">&nbsp;</i><br />
                        Help Video
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="guided-tour">&nbsp;</i><br />
                        Guided Tour
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="copy">&nbsp;</i><br />
                        Copy
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="print">&nbsp;</i><br />
                        Print
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="updates">&nbsp;</i><br />
                        Updates
                    </a>
                </li>
                <li>

                    <a href="#">
                        <i class="screns">&nbsp;</i><br />
                        Screenshot
                    </a>
                </li>
            </ul>

        </div>
    </div>

</div>

@*Email Popup*@
<div class="modal fade" id="MyDownloadEmail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Email</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Service</label>
                    <select id="drpModalAgent" multiple="multiple" class="js-states form-control" style="display: none; width: 100%">
                    </select>
                </div>
                <div class="form-group">
                    <label>Agent</label>
                    <select id="drpModalAgent" class="js-states form-control" style="display: none; width: 100%">
                    </select>
                </div>
                <div class="form-group">
                    <label>Users</label>
                    <input type="text" class="form-control" id="txtModalAnyOther" placeholder="Users">
                </div>
                <div class="form-group">
                    <label>Any Other</label>
                    <input type="text" class="form-control" id="txtModalAnyOther" placeholder="Any Other">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Send Voucher</button>
            </div>
        </div>
    </div>
</div>

@*PDF Popup*@
<div class="modal fade" id="MyDownloadPDF" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalPDFLabel">PDF</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Service</label>
                    <select id="drpModalAgent" multiple="multiple" class="js-states form-control" style="display: none; width: 100%">
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Download Voucher</button>
            </div>
        </div>
    </div>
</div>
