<div class="col-md-8 full-responsive">
    <h3 class="tab9section1">Blackout Period - <span class="text-danger">Outtrigger Laguna Phuket Resort & Villas</span></h3>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <h3>Blackout Period</h3>
                <div class="table-responsive">
                    <table style="width: 100%">
                        <thead>
                            <tr>
                                <th style="width: 20%; padding: 5px">Blackout Period For</th>
                                <th style="width: 34%; padding: 5px">Room Category</th>
                                <th style="width: 20%; padding: 5px">Blackout Date</th>
                                <th style="width: 20%; padding: 5px">Comments</th>
                                <th style="width: 6%; padding: 5px"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td style="padding: 5px">
                                    <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                        <option selected="selected">Room Booking</option>
                                        <option>Room FOC</option>
                                        <option>Early Bird</option>
                                        <option>Long Stay / Pay Less</option>
                                        <option>Meal</option>
                                        <option>Flat Rate</option>
                                    </select>
                                </td>
                                <td style="padding: 5px">
                                    <select id="drpRoomCategory" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                                        <option selected="selected">All</option>
                                        <option>Standard </option>
                                        <option>Delux </option>
                                        <option>Supirior</option>
                                    </select>
                                </td>
                                <td style="padding: 5px">
                                    <input type="text" class="form-control date-picker" id="txtAgeFrom" value="" placeholder="">
                                </td>
                                <td style="padding: 5px">
                                    <input type="text" class="form-control" id="txtAgeFrom" value="" placeholder="Comments">
                                </td>
                                <td style="padding: 5px">
                                    <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 5px">
                                    <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                        <option>Room Booking</option>
                                        <option>Room FOC</option>
                                        <option selected="selected">Early Bird</option>
                                        <option>Long Stay / Pay Less</option>
                                        <option>Meal</option>
                                        <option>Flat Rate</option>
                                    </select>
                                </td>
                                 <td style="padding: 5px">
                                    <select id="drpRoomCategory" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                                        <option selected="selected">All</option>
                                        <option>Standard </option>
                                        <option>Delux </option>
                                        <option>Supirior</option>
                                    </select>
                                </td>
                                <td style="padding: 5px">
                                    <input type="text" class="form-control date-picker" id="txtAgeFrom" value="" placeholder="">
                                </td>
                                <td style="padding: 5px">
                                    <input type="text" class="form-control" id="txtAgeFrom" value="" placeholder="Comments">
                                </td>
                                <td style="padding: 5px">
                                    <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 5px">
                                    <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                        <option>Room Booking</option>
                                        <option>Room FOC</option>
                                        <option>Early Bird</option>
                                        <option selected="selected">Long Stay / Pay Less</option>
                                        <option>Meal</option>
                                        <option>Flat Rate</option>
                                    </select>
                                </td>
                                 <td style="padding: 5px">
                                    <select id="drpRoomCategory" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                                        <option selected="selected">All</option>
                                        <option>Standard </option>
                                        <option>Delux </option>
                                        <option>Supirior</option>
                                    </select>
                                </td>
                                <td style="padding: 5px">
                                    <input type="text" class="form-control date-picker" id="txtAgeFrom" value="" placeholder="">
                                </td>
                                <td style="padding: 5px">
                                    <input type="text" class="form-control" id="txtAgeFrom" value="" placeholder="Comments">
                                </td>
                                <td style="padding: 5px">
                                    <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4 summery-detail summery-uitilities-detail summerytab2">
    <div class="panel-body tab-itenaries ">
        <div class="panel-group">
            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title roompricesummery">Summary 
                        
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>
                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created From Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Page Load Time: </td>
                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                </tr>
                                <tr>
                                    <td>Record Update Time: </td>
                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
