
<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            
            <div class="table-responsive">
                <table style="width: 100%">
                    <thead>
                        <tr>
                            <th style="width: 30%; padding: 5px">Validity From</th>
                            <th style="width: 30%; padding: 5px">Validity To</th>
                            <th style="width: 34%; padding: 5px">Season</th>
                            <th style="width: 6%; padding: 5px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding: 5px">
                                <input type="text" class="form-control date-picker" id="txtAgeFrom" value="06/01/2016" placeholder="Service Cost ">
                            </td>
                            <td style="padding: 5px">
                                <input type="text" class="form-control date-picker" id="txtAgeFrom" value="31/03/2016" placeholder="Heading">
                            </td>
                            <td style="padding: 5px">
                                <input type="text" class="form-control" id="txtAgeFrom" value="Shoulder Season" placeholder="Season ">
                            </td>
                            <td style="padding: 5px">
                                <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
