<div class="col-md-8 full-responsive">
    <h3 class="tab9section1">Surcharge Compulsory- <span class="text-danger">Outtrigger 2015/16 Full Year FIT | 0001 | FIT</span></h3>

   
    <div style="border: 1px dashed #ccc; margin-top: 5%">
        <div style="padding: 5px">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <input type="radio" name="surcome" id="Complsorye" checked="checked" />Compulsory Stay
                    </div>
                    <div class="col-md-3">
                        <input type="radio" name="surcome" id="Surchargee" />Surcharge
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Compulsory Type </label>
                         <input type="text" class="form-control" id="" value="New Year" placeholder="">
                    </div>
                    <div class="col-md-6">
                        <label for="drpRoomCategory">Room Category </label>
                        <select id="drpRoomCategory" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                            <option selected="selected">All</option>
                            <option>Standard </option>
                            <option>Delux </option>
                            <option>Supirior</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label for="txtFromDate">From Arrival Date </label>
                        <input type="text" class="form-control date-picker" id="txtFromDate" value="29/12/2015" placeholder="From Validity">
                    </div>
                    <div class="col-md-3">
                        <label for="txtTodate">To Arrival Date </label>
                        <input type="text" class="form-control date-picker" id="txtTodate" value="03/01/2016" placeholder="To Validity">
                    </div>
                    <div class="col-md-3">

                        <label for="drpStatus">Week Days</label>
                        <select id="drpStatus" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                            <option selected="selected">All </option>
                            <option>Mon </option>
                            <option>Tue</option>
                            <option>Wed</option>
                            <option>Thu</option>
                            <option>Fri</option>
                            <option>Sat</option>
                            <option>Sun</option>
                        </select>

                    </div>
                    <div class="col-md-3">

                        <label for="drpStatus">Status</label>
                        <select id="drpStatus" class="js-states form-control" style="display: none; width: 100%">
                            <option selected="selected">Active </option>
                            <option>Inactive </option>
                        </select>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="txtFromDate">Charge Type </label>
                        <select id="drpNationalityset" class="js-states form-control" style="display: none; width: 100%">
                            <option>None</option>
                            <option >Per Night</option>
                            <option >Per Stay</option>
                            <option selected="selected">Min. Nights</option>
                        </select>
                    </div>  
                    <div class="col-md-6">
                        <label for="txtTodate">Nights</label>
                        <input type="text" class="form-control" id="txtCount" value="3" placeholder="">
                    </div>
                   
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 2px !important">
                <div class="row">
                    <div class="col-md-6">
                        <label for="txtRemarks">Remarks </label>
                        <textarea class="form-control" cols="5" id="txtRemarks"></textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="txtRemarksInternal">Remarks (Internal)</label>
                        <textarea class="form-control" cols="5" id="txtRemarksInternal"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 2px !important">
                <div class="row">

                    <div class="col-md-12" style="text-align: right">
                        <label for="drpStatus">&nbsp;</label><br />
                        <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="border: 1px dashed #ccc; margin-top: 5%">
        <div style="padding: 5px">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <input type="radio" name="surcoma" id="Complsorya"  />Compulsory Stay
                    </div>
                    <div class="col-md-3">
                        <input type="radio" name="surcoma" id="Surchargea" checked="checked" />Surcharge
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Surcharge Type </label>
                        <input type="text" class="form-control" id="" value="" placeholder="">
                    </div>
                    <div class="col-md-6">
                        <label for="drpRoomCategory">Room Category </label>
                        <select id="drpRoomCategory" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                            <option selected="selected">All</option>
                            <option>Standard </option>
                            <option>Delux </option>
                            <option>Supirior</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label for="txtFromDate">From Date </label>
                        <input type="text" class="form-control date-picker" id="txtFromDate" value="31/12/2015" placeholder="From Validity">
                    </div>
                    <div class="col-md-3">
                        <label for="txtTodate">To Date </label>
                        <input type="text" class="form-control date-picker" id="txtTodate" value="31/12/2015" placeholder="To Validity">
                    </div>
                    <div class="col-md-3">

                        <label for="drpStatus">Week Days</label>
                        <select id="drpStatus" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                            <option selected="selected">All </option>
                            <option>Mon </option>
                            <option>Tue</option>
                            <option>Wed</option>
                            <option>Thu</option>
                            <option>Fri</option>
                            <option>Sat</option>
                            <option>Sun</option>
                        </select>

                    </div>
                    <div class="col-md-3">

                        <label for="drpStatus">Status</label>
                        <select id="drpStatus" class="js-states form-control" style="display: none; width: 100%">
                            <option selected="selected">Active </option>
                            <option>Inactive </option>
                        </select>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="txtFromDate">Charge Type </label>
                        <select id="drpNationalityset" class="js-states form-control" style="display: none; width: 100%">
                            <option selected="selected">Per Room Per Stay</option>
                            <option>Per Room Per Night</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label for="drpMealType">Charge</label>
                        <div class="input-group input-append">
                            <input type="text" class="form-control" id="txtCount" value="6000" placeholder="Cost">
                            <span class="input-group-addon add-on"><span>THB</span></span>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 2px !important">
                <div class="row">
                    <div class="col-md-6">
                        <label for="txtRemarks">Remarks </label>
                        <textarea class="form-control" cols="5" id="txtRemarks"></textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="txtRemarksInternal">Remarks (Internal)</label>
                        <textarea class="form-control" cols="5" id="txtRemarksInternal"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 2px !important">
                <div class="row">

                    <div class="col-md-12" style="text-align: right">
                        <label for="drpStatus">&nbsp;</label><br />
                        <a class=" btn btn-success" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <button id="btnSave" type="submit" class="btn btn-success btnSave">
        SAVE</button>
    <button id="btnSave" type="submit" class="btn btn-primary btnSave">
        UPDATE</button>
    <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
        DELETE</button>
    <button id="btnSave" type="submit" class="btn btn-warning btnSave">
        CREATE NEW</button>
    <button id="btnSave" type="submit" class="btn btn-info btnSave">
        QUIT FORM</button>
    <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
        <span class="fa fa-refresh"></span>
    </a>
</div>




<div class="col-md-4 summery-detail summery-uitilities-detail summerytab2">
    <div class="panel-body tab-itenaries ">
        <div class="panel-group">
            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title roompricesummery">Summary 
                        
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>
                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created From Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Page Load Time: </td>
                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                </tr>
                                <tr>
                                    <td>Record Update Time: </td>
                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
