body {
}

    .tab-itenaries > .col-md-1 > h4,
    .tab-itenaries .col-md-2 > h4,
    .tab-itenaries .col-md-3 > h4,
    .tab-itenaries .col-md-4 > h4,
    .tab-itenaries .col-md-5 > h4,
    .tab-itenaries > .col-md-6 > h4,
    .tab-itenaries .col-md-7 > h4,
    .tab-itenaries .col-md-8 > h4,
    .tab-itenaries .col-md-9 > h4,
    .m-b-lg > h4 {
        border-bottom: 1px dotted #ccc;
        color: #40474f;
        font-size: 22px;
        font-weight: normal;
        margin: 7px 0 10px;
        padding-bottom: 5px;
    }

    .tab-itenaries .col-md-1 > h5,
    .tab-itenaries .col-md-2 > h5,
    .tab-itenaries .col-md-3 > h5,
    .tab-itenaries .col-md-4 > h5,
    .tab-itenaries .col-md-5 > h5,
    .tab-itenaries .col-md-6 > h5,
    .tab-itenaries .col-md-7 > h5,
    .tab-itenaries .col-md-8 > h5,
    .tab-itenaries .col-md-9 > h5,
    .m-b-lg > h5 {
        /*color: #40474f;*/
        font-size: 19px;
        font-weight: bold;
        margin: 0 0 10px;
        padding-bottom: 5px;
        border-bottom: 1px dotted;
        text-shadow: 1px 0px #BEC8D2;
    }

        .tab-itenaries .col-md-1 > h5 > span,
        .tab-itenaries .col-md-2 > h5 > span,
        .tab-itenaries .col-md-3 > h5 > span,
        .tab-itenaries .col-md-4 > h5 > span,
        .tab-itenaries .col-md-5 > h5 > span,
        .tab-itenaries .col-md-6 > h5 > span,
        .tab-itenaries .col-md-7 > h5 > span,
        .tab-itenaries .col-md-8 > h5 > span,
        .tab-itenaries .col-md-9 > h5 > span,
        .m-b-lg > h5 > span {
            float: right;
        }

    .tab-itenaries a > span {
        font-weight: bold;
        font-size: 14px;
    }

    /*.tab-itenaries span {
        font-weight: bold;
        font-size: 14px;
        text-shadow: 1px 0 #BEC8D2;
    }*/

    .tab-itenaries {
        padding-bottom: 10px;
        border: 1px double #BEC8D2 !important;
        border-radius: 5px !important;
        box-shadow: 3px 3px 7px -5px rgba(0, 0, 0, 0.5);
        /*margin-bottom: 15px;*/
    }

        .tab-itenaries .form-control {
            border-width: 0;
            padding: 3px 10px !important;
        }

            .tab-itenaries .form-control .btn, .tab-itenaries .form-control .label {
                width: 100%;
            }

            .tab-itenaries .form-control h2 {
                margin-bottom: 0;
                margin-top: 0;
            }

        .tab-itenaries .right-border {
            border-right: 1px dotted #f25656;
            min-height: 156px;
            padding-left: 25px;
        }

        .tab-itenaries .form-control .btn {
            padding: 8px 10px;
            font-size: 13px;
            text-transform: uppercase;
        }

        .tab-itenaries span.total-cost {
            font-size: 11px;
        }

        .tab-itenaries .table > tbody > tr:first-child > td {
            border-width: 0;
        }


        .tab-itenaries .table > tbody > tr > td {
            font-size: 11px;
            padding: 7px !important;
        }

    .grid figcaption {
        background: #fff none repeat scroll 0 0;
        padding: 25px;
    }

    /*.grid li:hover figure {
        opacity: 1;
    }

    .grid li {
        cursor: default;
        float: left;
        width: 33.3% !important;
    }

    figcaption > h3 {
        border-bottom: 1px dashed #3c3c3c !important;
    }

    .grid li {
        position: relative !important;
    }*/

    td:first-child {
        width: 50% !important;
    }

    #ulViewList {
        padding-left: 0 !important;
    }

    .field-name {
        padding-right: 15px;
    }

    .field-name {
        float: left;
        width: 50%;
    }

    .ulviewlistclass {
        padding-left: 0 !important;
    }

    .hide_cell {
        display: none;
    }

    #errmsg {
        color: red;
    }

    #ulViewList {
        padding-left: 0 !important;
    }

    .field-name {
        padding-right: 15px;
    }

    .field-name {
        float: left;
        width: 50%;
    }

    .ulviewlistclass {
        padding-left: 0 !important;
    }

    .field-list .active {
        background-color: #4fe7cd;
        color: #fff !important;
        font-weight: bolder;
        /*font-size: 14px;*/
    }
