   <div class="col-md-8 full-responsive">
                            <form>
                                <div class="form-group">
                                    <h3 class="tab9section1">Meal Detail - <span class="text-danger">Telicious Restaurnat Bangkok</span></h3>

                                </div>
                                <div class="form-group">
                                    <label for="txtRestaturantName">Meal Type</label>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <input type="checkbox">Break Fast
                                        </div>
                                        <div class="col-md-3">
                                            <input type="checkbox">Lunch
                                        </div>
                                        <div class="col-md-3">
                                            <input type="checkbox">Dinner
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="txtBreakFastFromTime">Break Fast From Time</label>
                                            <div class="input-group input-append bootstrap-timepicker">
                                                <input type="text" class="form-control timepicker" value="08:00" id="txtBreakFastFromTime">
                                                <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="txtBreakFastToTime">Break Fast To Time</label>
                                            <div class="input-group input-append bootstrap-timepicker">
                                                <input type="text" class="form-control timepicker" value="10:30" id="txtBreakFastToTime">
                                                <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="txtLunchFromTime">Lunch From Time</label>
                                            <div class="input-group input-append bootstrap-timepicker">
                                                <input type="text" class="form-control timepicker" value="11:00" id="txtLunchFromTime">
                                                <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="txtLunchToTime">Lunch To Time</label>
                                            <div class="input-group input-append bootstrap-timepicker">
                                                <input type="text" class="form-control timepicker" value="15:00" id="txtLunchToTime">
                                                <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="txtDinnerFromTime">Dinner From Time</label>
                                            <div class="input-group input-append bootstrap-timepicker">
                                                <input type="text" class="form-control timepicker" value="19:30" id="txtDinnerFromTime">
                                                <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="txtDinnerToTime">Dinner To Time</label>
                                            <div class="input-group input-append bootstrap-timepicker">
                                                <input type="text" class="form-control timepicker" value="22:00" id="txtDinnerToTime">
                                                <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*  <div class="form-group">
                                    <label for="txtDinnerToTime">Menu Type</label>
                                    <div class="row">
                                        <div class="col-md-3 form-marings">
                                            <input type="checkbox">French
                                        </div>
                                        <div class="col-md-3 form-marings">
                                            <input type="checkbox">Chinese
                                        </div>
                                        <div class="col-md-3 form-marings">
                                            <input type="checkbox">Thai
                                        </div>
                                        <div class="col-md-3 form-marings">
                                            <input type="checkbox">Mexican
                                        </div>
                                        <div class="col-md-3 form-marings">
                                            <input type="checkbox">Italian
                                        </div>
                                        <div class="col-md-3 form-marings">
                                            <input type="checkbox">Spanish
                                        </div>
                                        <div class="col-md-3 form-marings">
                                            <input type="checkbox">Japanese
                                        </div>
                                        <div class="col-md-3 form-marings">
                                            <input type="checkbox">Greek
                                        </div>
                                        <div class="col-md-3 form-marings">
                                            <input type="checkbox">Indian
                                        </div>
                                    </div>
                                </div>*@


                                <br />
                                <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                    SAVE</button>
                                <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                    UPDATE</button>
                                <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                    DELETE</button>
                                <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                                    CREATE NEW</button>
                                <button id="btnSave" type="submit" class="btn btn-info btnSave">
                                    QUIT FORM</button>
                                <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
                                    <span class="fa fa-refresh"></span>
                                </a>


                                <h6 class="tab9section1">&nbsp;</h6>
                                <h3 class="tab9section1">Menu</h3>
                                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#tab2-5" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord sub-tabbing"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Serach Menu</a></li>
                                    <li role="presentation"><a href="#tab2-6" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord sub-tabbing"><span class="menu-icon fa fa-hospital-o"></span>&nbsp;&nbsp;&nbsp;&nbsp;Menu</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="tab2-5">
                                        <div class="table-responsive">
                                            <table id="" class="display table datatable" style="width: 100%; cellspacing: 0;">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Menu Type</th>
                                                        <th>Meal Type</th>
                                                        <th>Included Service</th>
                                                        <th>Menu</th>
                                                        <th style="width: 15%;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Menu Type</th>
                                                        <th>Meal Type</th>
                                                        <th>Included Service</th>
                                                        <th>Menu</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>

                                                    <tr>
                                                        <td>1</td>
                                                        <td><span>Indian-North Indian</span></td>
                                                        <td>Lunch</td>
                                                        <td>2 Veg Dishes</td>
                                                        <td>Menu</td>
                                                        <td>
                                                            <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                            &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="tab2-6">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label for="txtmenutitle">Menu Type</label>
                                                    <input type="text" class="form-control" id="txtmenutitle" value="Indian-North Indian" placeholder="Menu Type">
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="drpTypeOfRestaurant">Meal Type</label>
                                                    <select id="drpTypeOfRestaurant" class="js-states form-control" style="display: none; width: 100%">
                                                        <option>Breakfast</option>
                                                        <option>Lunch</option>
                                                        <option>Dinner</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="drpTypeOfRestaurant">Included Services</label>
                                                    <select id="drpTypeOfRestaurant" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                                                        <option selected="selected">2 Veg. Dishes</option>
                                                        <option>2 Non Veg.Dishes</option>
                                                        <option>Roti</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="txtmenuattachment">Menu</label>
                                                    <input type="text" class="form-control" id="txtmenuattachment" placeholder="Menu">
                                                </div>

                                            </div>
                                        </div>

                                        <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                            SAVE</button>
                                        <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                            UPDATE</button>
                                        <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                            DELETE</button>
                                        <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                                            CREATE NEW</button>
                                        <button id="btnSave" type="submit" class="btn btn-info btnSave">
                                            QUIT FORM</button>
                                        <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
                                            <span class="fa fa-refresh"></span>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4 summery-detail summery-uitilities-detail summerytab5">
                            <div class="panel-body tab-itenaries ">
                                <div class="panel-group">
                                    <div class="panel panel-red">
                                        <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                                            <h4 class="panel-title">Summary <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report"></a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                                            <div class="panel-body summary-body">
                                                <table class="table summary-list">
                                                    <tbody>
                                                        <tr>
                                                            <td>Created By: </td>
                                                            <td><span class="label label-success">Samir Shah</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Created Date: </td>
                                                            <td><span class="label label-warning">06-Mar-2016</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Created From Branch: </td>
                                                            <td><span class="label label-danger">Bangkok</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Last Updated By: </td>
                                                            <td><span class="label label-info">Samir Shah</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Last Updated Date: </td>
                                                            <td><span class="label label-warning">14-Mar-2016</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Page Load Time: </td>
                                                            <td><span class="label label-info">00:01:00 Minutes</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Record Update Time: </td>
                                                            <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>