@{
    ViewBag.Title = "Account Chart";
    ViewBag.PageTitle = "Account Chart";
    ViewBag.FooterCopyRight = "2015 &copy; Modern by Steelcoders.";
    ViewBag.Breadcurmb = "<ol class='breadcrumb'>";
    ViewBag.Breadcurmb += "<li>Account Code: <span>AC-5-0-1</span></li>";
    ViewBag.Breadcurmb += "<li>User Created: <span>John Barter</span></li>";
    ViewBag.Breadcurmb += "<li>Created Date: <span>19-02-2016</span></li>";
    ViewBag.Breadcurmb += "<li>User Updated: <span>Iris Joe</span></li>";
    ViewBag.Breadcurmb += "<li>Updated Date: <span>29-02-2016</span></li>";
    ViewBag.Breadcurmb += "</ol>";
}

<link href="/assets/plugins/Barrating/bootstrap-stars.css" rel="stylesheet" />
<link href="~/assets/plugins/FlexibleSlideToTopAccordion/css/style.css" rel="stylesheet" />

<link href="~/Content/Accountchart/Accountchart.css" rel="stylesheet" />

<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <!-- Nav tabs -->
                 <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist" style="display:none">
                    <li role="presentation"><a href="#tab1" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Search Guide </a></li>
                    <li role="presentation" class="active"><a href="#tab2" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord"><span class="menu-icon fa fa-map"></span>&nbsp;&nbsp;&nbsp;&nbsp;Create Guide</a></li>
                  
                </ul>
                <div class="tab-content">
                 
                    <div role="tabpanel" class="tab-pane active" id="tab2">
                        <div class="col-md-8 full-responsive">
                            <form>
                                <h3>Account</h3>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="drpaccoutngroup">AccoutnGroup </label>
                                            <select id="drpaccoutngroup" class="js-states form-control" style="display: none; width: 100%">
                                                <option selected="selected">Asset</option>
                                                <option>Liability</option>
                                                <option>Equity</option>
                                                <option>Revenue</option>
                                                <option>Cost Of Goods Sold</option>
                                                <option>Expense</option>
                                                <option>Other Revenue</option>
                                                <option>Other Expense</option>
                                                <option>Gain / Loss Sale Of Assets</option>
                                                <option>Debtors</option>
                                                <option>Creditors</option>
                                                <option>Interest</option>
                                                <option>Bank</option>
                                                <option>Cash</option>
                                                <option>Salary</option>
                                                <option>Staff Loan</option>
                                                <option>Taxation</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="drpaccoutnsubgroup">Account Sub Group </label>
                                            <select id="drpaccoutnsubgroup" class="js-states form-control" style="display: none; width: 100%">
                                                <option selected="selected">India Debtors</option>
                                                <option>Thiland Debtors</option>

                                            </select>
                                        </div>
                                        </div>
                                    </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="txtAccountCode">Account Code</label>
                                            <input type="text" class="form-control" id="txtAccountCode" value="123" placeholder="Guide Experience" readonly>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="txtAccountAlias">Account Alias</label>
                                            <input type="text" class="form-control" id="txtAccountAlias" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="txtAccountName">Account Name</label>
                                            <input type="text" class="form-control" id="txtAccountName" placeholder="">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="txtAcDes">Account Description</label>
                                            <textarea class="form-control" cols="5" id="txtAcDes"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="drpStatus">Status</label>
                                            <select id="drpStatus" class="js-states form-control" style="display: none; width: 100%">
                                                <option selected="selected">Active</option>
                                                <option>Inactive</option>
                                                <option>Blacklist</option>

                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="drpLinkedAccount">Linked Account</label>
                                            <select id="drpLinkedAccount" class="js-states form-control" style="display: none; width: 100%">
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="txtLinkedComment">Linked Account Comment</label>
                                            <input type="text" class="form-control" id="txtLinkedComment" placeholder="">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Tag</label>
                                            <input type="text" data-role="tagsinput" class="form-control" value="" id="txtTag" placeholder="">
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="txtConfirmHotelUserPassword">Remarks</label>
                                            <textarea rows="4" cols="50" style="display: block; width: 100%"> </textarea>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="txtConfirmHotelUserPassword">Remarks (Internal)</label>
                                            <textarea rows="4" cols="50" style="display: block; width: 100%"> </textarea>
                                        </div>
                                    </div>
                                </div>

                                <br />
                                <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                    SAVE</button>
                                <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                    UPDATE</button>
                                <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                    DELETE</button>
                                <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                                    CREATE NEW</button>
                                <button id="btnSave" type="submit" class="btn btn-info btnSave">
                                    QUIT FORM</button>
                                <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
                                    <span class="fa fa-refresh"></span>
                                </a>


                            </form>
                        </div>
                        <div class="col-md-4 summery-detail summery-uitilities-detail summerytab2">
                            <div class="panel-body tab-itenaries ">
                                <div class="panel-group">
                                    <div class="panel panel-red">
                                        <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                                            <h4 class="panel-title">Summary <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report">
                                                <i class="icon-reload"></i>
                                            </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                                            <div class="panel-body summary-body">
                                                <table class="table summary-list">
                                                    <tbody>
                                                        <tr>
                                                            <td>Created By: </td>
                                                            <td><span class="label label-success">Samir Shah</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Created Date: </td>
                                                            <td><span class="label label-warning">06-Mar-2016</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Created From Branch: </td>
                                                            <td><span class="label label-danger">Bangkok</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Last Updated By: </td>
                                                            <td><span class="label label-info">Samir Shah</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Last Updated Date: </td>
                                                            <td><span class="label label-warning">14-Mar-2016</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Page Load Time: </td>
                                                            <td><span class="label label-info">00:01:00 Minutes</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Record Update Time: </td>
                                                            <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="/assets/plugins/Barrating/jquery.barrating.min.js"></script>
    <script src="~/assets/plugins/FlexibleSlideToTopAccordion/js/jquery.accordion.js"></script>

    <script src="~/Scripts/Accountchart/Accountchart.js"></script>

  
}

@section floatingsection{
    <div class="floating-section-buttons tab2" style="display: none">
        <a class="btn btn-default" data-section="tab2section1" rel="tooltip" title="Basic Details">1</a>
        <a class="btn btn-default" data-section="tab2section2" rel="tooltip" title="Address">2</a>

    </div>
    <div class="floating-section-buttons tab3" style="display: none">
        <a class="btn btn-default" data-section="tab3section1" rel="tooltip" title="Guide User">1</a>
        <a class="btn btn-default" data-section="tab3section2" rel="tooltip" title="Billing">2</a>
        <a class="btn btn-default" data-section="tab3section3" rel="tooltip" title="Bank">3</a>
    </div>
}


@section rightsidesummary{
    <h3>
        <span class="">
            <div class="btn-group">
                <a class="btn tab-itenaries btn-utilities-right">Utilities</a>
                <a class="btn btn-quickreport-right">Quick Report</a>
            </div>
        </span>
        <a href="javascript:void(0);" class="pull-right btn" id="closeRightSideSummary" style="padding-left: 0 !important; padding-right: 0 !important;"><i class="fa fa-times"></i></a>
    </h3>
    <div class="slimscroll utilities-sidebar">
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-notebook-black-tool-symbol text-utilities-tasks"></i>
            <span>Task</span>
        </a>
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-megaphone-black-amplification-audio-tool-symbol text-utilities-notification"></i>
            <span>Notification</span>
        </a>
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-calendar-events-symbol text-utilities-calendar"></i>
            <span>Calendar</span>
        </a>
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-new-email-black-back-envelope-symbol-of-interface text-utilities-email"></i>
            <span>Email</span>
        </a>
        @*<a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-notebook-black-tool-symbol"></i>
            <span>SMS</span>
        </a>*@
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-broken-black-ticket-symbol text-utilities-notes"></i>
            <span>Notes</span>
        </a>
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-close-arrow-shape-button-interface-symbol text-utilities-tags"></i>
            <span>Tags</span>
        </a>
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-film-strip-piece-of-two-photograms text-utilities-helpvideo"></i>
            <span>Help Video</span>
        </a>
        @*<a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-notebook-black-tool-symbol"></i>
            <span>Guided Tour</span>
        </a>*@
        @*<a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-notebook-black-tool-symbol"></i>
            <span>Copy</span>
        </a>*@
        <a href="javascript:void(0);">
            <i class="flaticon-printing-button-interface-symbol text-utilities-print"></"></i>
            <span>Print</span>
        </a>
        <a href="javascript:void(0);">
            <i class="flaticon-photo-camera-black-tool text-utilities-screenshot"></i>
            <span>Screenshot</span>
        </a>
        <hr />
        <div class="col-md-12">
            <h4 class="text-danger" style="border-bottom: 1px dashed #ccc; padding: 0 5px 5px 5px;">Notification</h4>

            <ul class="list-unstyled">
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-success"><i class="icon-user"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1min ago</span>
                        <p class="task-details">New user registered.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-danger"><i class="icon-energy"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">24min ago</span>
                        <p class="task-details">Database error.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-info"><i class="icon-heart"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1h ago</span>
                        <p class="task-details">Reached 24k likes</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-success"><i class="icon-user"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1min ago</span>
                        <p class="task-details">New user registered.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-danger"><i class="icon-energy"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">24min ago</span>
                        <p class="task-details">Database error.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-info"><i class="icon-heart"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1h ago</span>
                        <p class="task-details">Reached 24k likes</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-success"><i class="icon-user"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1min ago</span>
                        <p class="task-details">New user registered.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-danger"><i class="icon-energy"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">24min ago</span>
                        <p class="task-details">Database error.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-info"><i class="icon-heart"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1h ago</span>
                        <p class="task-details">Reached 24k likes</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="slimscroll quickreport-sidebar">
        <div class="col-md-12">
            <br />
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>From </label>
                        <input type="text" class="form-control date-picker" id="txtRightFrom" />
                    </div>
                    <div class="col-md-6">
                        <label>To </label>
                        <input type="text" class="form-control date-picker" id="txtRightTo" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>User</label>
                <select class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                    <option>All</option>
                </select>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Action</label>
                        <select class="js-states form-control" style="display: none; width: 100%">
                            <option>All</option>
                            <option>Created</option>
                            <option>Modified</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>Node Value</label>
                        <select class="js-states form-control" style="display: none; width: 100%">
                            <option>Daily</option>
                            <option>Weekly</option>
                            <option>Fortnightly</option>
                            <option>Monthly</option>
                        </select>
                    </div>
                    <div class="col-md-2" style="padding-left: 0">
                        <label>&nbsp;</label>
                        <button class="btn btn-info" style="padding: 5px 10px; font-size: 12px;">SHOW</button>
                    </div>
                </div>
            </div>
            <br />

        </div>
        <div class="col-md-12">
            <h4 class="text-danger" style="border-bottom: 1px dashed #ccc; padding-bottom: 5px;">Master Data Entry Craeted/Modified Report <span class="pull-right"><a href="javascript:void(0);" style="padding: 0;">Flip View</a></span></h4>
            <div class="panel-body">
                <div id="morris2"></div>
            </div>
        </div>
    </div>
}
