<div class="col-md-8 full-responsive">
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label for="drpCostingSet">Contract</label>
                <select id="drpCostingTitle" class="js-states form-control" style="display: none; width: 100%">
                    <option>Cyber Tour Phuket 2015/16 Full Year</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="drpCurrency">Sightseeing</label>
                <select id="drpStatus" class="js-states form-control" style="display: none; width: 100%">
                    <option>James Bond Island</option>
                    <option>City Tour</option>
                    <option selected="selected">Phi Phi Island</option>
                    <option>Coral Island</option>
                </select>
            </div>
        </div>
    </div>
      <h3 class="tab9section2" style="padding-top:15px">Operating Days & Hours - <span class="text-danger">Phi Phi Island</span></h3>
        <div class="form-group">
            <label for="lbloperatingweekday">Operating Week Days </label>
            <div class="row">
                <div class="col-md-12">
                    <input type="checkbox">All &nbsp &nbsp
                    <input type="checkbox" checked>Mon &nbsp &nbsp
                    <input type="checkbox" checked>Tue &nbsp &nbsp
                    <input type="checkbox" checked>Wed &nbsp &nbsp
                    <input type="checkbox" checked>Thu &nbsp &nbsp
                    <input type="checkbox" checked>Fri &nbsp &nbsp
                    <input type="checkbox" checked>Sat &nbsp &nbsp
                    <input type="checkbox" checked>Sun &nbsp &nbsp
                </div>

            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>Week Days Operating Time</label>
                </div>
                <div class="col-md-6">
                    <label>Weekend & Public Holiday Operating Time</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">

                <div class="col-md-3">
                    <label for="txtCharge">From Time</label>
                    <div class="input-group input-append bootstrap-timepicker">
                        <input type="text" class="form-control timepicker" value="1200" id="timepicker111">
                        <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="timepicker1">To Time</label>
                    <div class="input-group input-append bootstrap-timepicker">
                        <input type="text" class="form-control timepicker" value="1200" id="timepicker111">
                        <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                    </div>
                </div>


                <div class="col-md-3">
                    <label for="txtCharge">From Time</label>
                    <div class="input-group input-append bootstrap-timepicker">
                        <input type="text" class="form-control timepicker" value="1200" id="timepicker111">
                        <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="timepicker1">To Time</label>
                    <div class="input-group input-append bootstrap-timepicker">
                        <input type="text" class="form-control timepicker" value="1200" id="timepicker111">
                        <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                    </div>

                </div>
            </div>
        </div>

       <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <h3>Show Time - <span class="text-danger">Phi Phi Island</span></h3>
                    <div class="table-responsive">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="width: 15%; padding: 5px">Show Type</th>
                                    <th style="width: 15%; padding: 5px">From Time</th>
                                    <th style="width: 15%; padding: 5px">To Time</th>
                                    <th style="width: 50%; padding: 5px">Operating Week Days</th>
                                    <th style="width: 5%; padding: 5px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="padding: 5px">
                                        <select id="drpStatus" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">Normal </option>
                                            <option>Extra </option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <div class="input-group input-append bootstrap-timepicker">
                                            <input type="text" class="form-control timepicker" value="1200" id="timepicker111">
                                            <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px">
                                        <div class="input-group input-append bootstrap-timepicker">
                                            <input type="text" class="form-control timepicker" value="1200" id="timepicker111">
                                            <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px">
                                        <select id="drpStatus" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                                            <option selected="selected">All </option>
                                            <option>Mon</option>
                                            <option>Tue</option>
                                            <option>Wed</option>
                                            <option>Thu</option>
                                            <option>Fri</option>
                                            <option>Sat</option>
                                            <option>Sun</option>
                                            <option>Weekend Days</option>
                                            <option>Public Holiday</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px"></td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px">
                                        <select id="drpStatus" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">Normal </option>
                                            <option>Extra </option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <div class="input-group input-append bootstrap-timepicker">
                                            <input type="text" class="form-control timepicker" value="1200" id="timepicker111">
                                            <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px">
                                        <div class="input-group input-append bootstrap-timepicker">
                                            <input type="text" class="form-control timepicker" value="1200" id="timepicker111">
                                            <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px">
                                        <select id="drpStatus" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                                            <option selected="selected">All </option>
                                            <option>Mon</option>
                                            <option>Tue</option>
                                            <option>Wed</option>
                                            <option>Thu</option>
                                            <option>Fri</option>
                                            <option>Sat</option>
                                            <option>Sun</option>
                                            <option>Weekend Days</option>
                                            <option>Public Holiday</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px">
                                        <select id="drpStatus" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">Normal </option>
                                            <option>Extra </option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <div class="input-group input-append bootstrap-timepicker">
                                            <input type="text" class="form-control timepicker" value="1200" id="timepicker111">
                                            <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px">
                                        <div class="input-group input-append bootstrap-timepicker">
                                            <input type="text" class="form-control timepicker" value="1200" id="timepicker111">
                                            <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px">
                                        <select id="drpStatus" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                                            <option selected="selected">All </option>
                                            <option>Mon</option>
                                            <option>Tue</option>
                                            <option>Wed</option>
                                            <option>Thu</option>
                                            <option>Fri</option>
                                            <option>Sat</option>
                                            <option>Sun</option>
                                            <option>Weekend Days</option>
                                            <option>Public Holiday</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <h3>Optional Services - <span class="text-danger">Phi Phi Island</span></h3>
                    <div class="table-responsive">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="width: 31%; padding: 5px">Service</th>
                                    <th style="width: 31%; padding: 5px">From Time</th>
                                    <th style="width: 32%; padding: 5px">To Time</th>

                                    <th style="width: 6%; padding: 5px"></th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                <tr>
                                    <td style="padding: 5px">
                                        <select id="drpStatus" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">Lunch </option>
                                            <option>Dinner </option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <div class="input-group input-append bootstrap-timepicker">
                                            <input type="text" class="form-control timepicker" value="1200" id="timepicker111">
                                            <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px">
                                        <div class="input-group input-append bootstrap-timepicker">
                                            <input type="text" class="form-control timepicker" value="1200" id="timepicker111">
                                            <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px">
                                        <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
       <h3>Policy - <span class="text-danger">Phi Phi Island</span></h3>
        <div class="form-group">
            <div class="row">
                 <div class="col-md-3">
                    <label for="drpStatus">Cancellation Charge</label>
                    <select id="drpStatus" class="js-states form-control" style="display: none; width: 100%">
                        <option selected="selected">50% </option>
                        <option>100% </option>
                        <option>None</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="drpStatus">No Show Charge</label>
                    <select id="drpStatus" class="js-states form-control" style="display: none; width: 100%">
                        <option selected="selected">50% </option>
                        <option>100% </option>
                        <option>None</option>
                    </select>
                </div>
                </div>
            </div>
         
     <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="tagSearch">Custom Tags</label>
                    <input type="text" data-role="tagsinput" id="txtTagSearchsum" class="form-control" placeholder="Custom Tags" />
                </div>
            </div>
        </div>

     <button id="btnSave" type="submit" class="btn btn-success btnSave">
        SAVE</button>
    <button id="btnSave" type="submit" class="btn btn-primary btnSave">
        UPDATE</button>
    <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
        DELETE</button>
    <button id="btnSave" type="submit" class="btn btn-warning btnSave">
        CREATE NEW</button>
    <button id="btnSave" type="submit" class="btn btn-info btnSave">
        QUIT FORM</button>
    <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
        <span class="fa fa-refresh"></span>
    </a>

</div>
<div class="col-md-4 summery-detail summery-uitilities-detail summerytab4">
    <div class="panel-body tab-itenaries ">
        <div class="panel-group">
            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title">Summary <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report"></a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>
                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created From Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Page Load Time: </td>
                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                </tr>
                                <tr>
                                    <td>Record Update Time: </td>
                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
