   <div class="col-md-8 full-responsive">
                                    <h3>Sharing Type - FIT-Private</h3>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="drpNationalitySet">Nationality Set </label>
                                                <select id="drpNationalitySet" class="js-states form-control" style="display: none; width: 100%">
                                                    <option selected="selected">Asian - Indian</option>
                                                    <option>Affrican</option>
                                                    <option>Europen</option>
                                                    <option>Austrailian</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="drpSharingType">Sharing Type </label>
                                                <select id="drpSharingType" class="js-states form-control" style="display: none; width: 100%">
                                                    <option>SIC</option>
                                                    <option selected="selected">Private</option>
                                                    <option>Group</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="drpCostingType">Costing Type</label>
                                                <select id="drpCostingType" class="js-states form-control" style="display: none; width: 100%">
                                                    <option selected="selected">Service Cost</option>
                                                    <option>Per Pax</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="drpTransferComponent">Transfer Component </label>
                                                <select id="drpTransferComponent" class="js-states form-control" style="display: none; width: 100%">
                                                    <option selected="selected">Safari World & Marine Park Return Transfer</option>
                                                    <option>Safari Park To Hotel De Bangkok</option>
                                                    <option>Hotel De Bangkok To Garnd Palace</option>
                                                    <option>Grand Palace To Hotel De Bangkok</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="drpVehicleName">Vehicle Type - Vehicle Name</label>
                                                <select id="drpVehicleName" class="js-states form-control" style="display: none; width: 100%">
                                                    <option selected="selected">Car - Mercedes Benz C Class</option>
                                                    <option>SUV-Scorpio</option>
                                                    <option>Car-Indica</option>
                                                    <option>Sedanc-Sail</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="drpCurrencyadd">Currency</label>
                                                <select id="drpCurrencyadd" class="js-states form-control" style="display: none; width: 100%">
                                                    <option selected="selected">THB</option>
                                                    <option>USD</option>
                                                    <option>INR</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="txtServiceCostadd">Service Cost</label>
                                                <div class="input-group input-append">
                                                    <input type="text" class="form-control" id="txtServiceCostadd" value="3000" placeholder="Service Cost ">
                                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                                </div>
                                            </div>
                                          
                                        </div>
                                    </div>

                                    <br /><br />
                                    <h3>Sharing Type - FIT - SIC</h3>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="drpNationalitySet">Nationality Set </label>
                                                <select id="drpNationalitySet" class="js-states form-control" style="display: none; width: 100%">
                                                    <option selected="selected">Asian - Indian</option>
                                                    <option>Affrican</option>
                                                    <option>Europen</option>
                                                    <option>Austrailian</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="drpSharingType">Sharing Type </label>
                                                <select id="drpSharingType" class="js-states form-control" style="display: none; width: 100%">
                                                    <option selected="selected">SIC</option>
                                                    <option>Private</option>
                                                    <option>Group</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="drpCostingType">Costing Type</label>
                                                <select id="drpCostingType" class="js-states form-control" style="display: none; width: 100%">
                                                    <option>Service Per Day</option>
                                                    <option selected="selected">Per Pax</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="drpTransferComponent">Transfer Component </label>
                                                <select id="drpTransferComponent" class="js-states form-control" style="display: none; width: 100%">
                                                    <option selected="selected">Safari World & Marine Park Return Transfer</option>
                                                    <option>Safari Park To Hotel De Bangkok</option>
                                                    <option>Hotel De Bangkok To Garnd Palace</option>
                                                    <option>Grand Palace To Hotel De Bangkok</option>
                                                </select>
                                            </div>
                                           <div class="col-md-6">
                                                <label for="drpCurrencyadd">Currency</label>
                                                <select id="drpCurrencyadd" class="js-states form-control" style="display: none; width: 100%">
                                                    <option selected="selected">THB</option>
                                                    <option>USD</option>
                                                    <option>INR</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            
                                           
                                            <div class="col-md-3">
                                                <label for="txtAdultrate">Adult Rate</label>
                                                <div class="input-group input-append">
                                                    <input type="text" class="form-control" id="txtAdultrate" value="200" placeholder="Single Room Rate">
                                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="txtChildrate">Child Rate</label>
                                                <div class="input-group input-append">
                                                    <input type="text" class="form-control" id="txtChildrate" value="100" placeholder="Double / Twin Room Rate">
                                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br /><br />
                                    <h3>Sharing Type - Group</h3>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="drpNationalitySet">Nationality Set </label>
                                                <select id="drpNationalitySet" class="js-states form-control" style="display: none; width: 100%">
                                                    <option selected="selected">Asian - Indian</option>
                                                    <option>Affrican</option>
                                                    <option>Europen</option>
                                                    <option>Austrailian</option>
                                                </select>
                                            </div>
                                           
                                            <div class="col-md-6">
                                                <label for="drpCostingType">Costing Type</label>
                                                <select id="drpCostingType" class="js-states form-control" style="display: none; width: 100%">
                                                    <option selected="selected">Service Cost</option>
                                                    <option>Per Pax</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="drpTransferComponent">Transfer Component </label>
                                                <select id="drpTransferComponent" class="js-states form-control" style="display: none; width: 100%">
                                                   <option selected="selected">3 Nights 4 Days Pattaya</option>
                                                    
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="drpVehicleName">Vehicle Type - Vehicle Name</label>
                                                <select id="drpVehicleName" class="js-states form-control" style="display: none; width: 100%">
                                                    <option selected="selected">Coach - Coach 45 Seater</option>
                                                    <option>SUV-Scorpio</option>
                                                    <option>Car-Indica</option>
                                                    <option>Sedanc-Sail</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="drpCurrencyadd">Currency</label>
                                                <select id="drpCurrencyadd" class="js-states form-control" style="display: none; width: 100%">
                                                    <option selected="selected">THB</option>
                                                    <option>USD</option>
                                                    <option>INR</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="txtServiceCostadd">Total Service Cost</label>
                                                <div class="input-group input-append">
                                                    <input type="text" class="form-control" id="txtServiceCostadd" value="10000" placeholder="Service Cost ">
                                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div>


                                    <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                        SAVE</button>
                                    <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                        UPDATE</button>
                                    <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                        DELETE</button>
                                    <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                                        CREATE NEW</button>
                                    <button id="btnSave" type="submit" class="btn btn-info btnSave">
                                        QUIT FORM</button>
                                    <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
                                        <span class="fa fa-refresh"></span>
                                    </a>
                                </div>
                                <div class="col-md-4 summery-detail summery-uitilities-detail summerytab3">
                                    <div class="panel-body tab-itenaries ">
                                        <div class="panel-group">
                                            <div class="panel panel-red">
                                                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                                                    <h4 class="panel-title">Summary <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report"></a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                                                    <div class="panel-body summary-body">
                                                        <table class="table summary-list">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Created By: </td>
                                                                    <td><span class="label label-success">Samir Shah</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Created Date: </td>
                                                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Created From Branch: </td>
                                                                    <td><span class="label label-danger">Bangkok</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Last Updated By: </td>
                                                                    <td><span class="label label-info">Samir Shah</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Last Updated Date: </td>
                                                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Page Load Time: </td>
                                                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Record Update Time: </td>
                                                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
