  <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="txtTagSearch">Sharing Type</label>
                                            <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                                                <option>SIC</option>
                                                <option selected="selected">Private</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="" class="table-editable display table datatable" style="width: 100%; cellspacing: 0;">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Guest Nationality</th>

                                                <th>Costing Type</th>
                                                <th>Component </th>
                                                <th>Vehicle </th>
                                                <th>Includes</th>
                                                <th>Service Cost Per Day (THB)</th>

                                                <th style="width: 15%;">Action</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>Guest Nationality</th>

                                                <th>Costing Type</th>
                                                <th>Component </th>
                                                <th>Vehicle </th>
                                                <th>Includes</th>
                                                <th>Service Cost Per Day (THB)</th>

                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>

                                            <tr>
                                                <td>1</td>
                                                <td><span>Asian-Indian</span></td>

                                                <td><span>Service Per Day</span></td>
                                                <td>Hotel De Bangkok To Safari World & Marine Park</td>
                                                <td>Bus-Volvo</td>
                                                <td>
                                                    <a href="#" rel="tooltip" title="Included Service -"><i class="fa fa-plus"></i></a>&nbsp;&nbsp
                                                   
                                                </td>
                                                <td><span class="spaneditable">5000</span></td>

                                                <td>
                                                    <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                    &nbsp;&nbsp;
                                                            <a href="#"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td><span>Asian-Indian</span></td>

                                                <td><span>Service Per Day</span></td>
                                                <td>Safari World & Marine Park To Hotel De Bangkok</td>
                                                <td>Bus-Volvo</td>
                                                <td>
                                                    <a href="#" rel="tooltip" title="Included Service -"><i class="fa fa-plus"></i></a>&nbsp;&nbsp
                                                   
                                                </td>
                                                <td><span class="spaneditable">5000</span></td>

                                                <td>
                                                    <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                    &nbsp;&nbsp;
                                                            <a href="#"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <br />
                                <br />


                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2" style="padding-top: 35px">
                                            <label for="txtTagSearch">Sharing Type</label>
                                            <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                                                <option selected="selected">SIC</option>
                                                <option>Private</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown table-custome-drop">
                                    <div class="btn-group">
                                        <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="font-size: 111%">
                                            <span class="glyphicon glyphicon-download-alt"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Excel</a></li>
                                            <li><a href="#">PDF</a></li>
                                            <li><a href="#">Email</a></li>
                                        </ul>
                                    </div>
                                    &nbsp;&nbsp;
                                <div class="btn-group btn-tables-views">
                                    <a class="label label-success dropdown-toggle " rel="tooltip" data-toggle="dropdown" title="All Views" style="font-size: 111%" aria-expanded="false">
                                        <span class="icon-grid"></span>
                                    </a>
                                    <ul class="dropdown-menu cate-drop-menu">
                                        <li><a href="javascript:void(0);" style="color: #000">Default View</a></li>
                                        <li style="color: #000; padding: 5px 0" class="btn-lgdropdown-header"><a id="btnShowPopupChangeView" href="javascript:void(0);" data-toggle="modal" data-target="#myModal">Change View</a> </li>
                                    </ul>
                                    <div class="modal fade modify-colum-model" id="myModal" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Change View</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <br />
                                                    <div class="model-left-columns">
                                                        <div class="field-name">
                                                            <h3>View <a href="#"></a></h3>
                                                            <ul id="ulViewList" class="field-list slimscroll">
                                                                <li><a href="#">City</a></li>
                                                                <li><a href="#">Country</a></li>
                                                                <li><a href="#">State</a></li>
                                                                <li class="active"><a href="#">Agent Margin</a></li>
                                                                <li><a href="#">Support Mode</a></li>
                                                                <li><a href="#">Agent Type</a></li>
                                                                <li><a href="#">Control Type</a></li>
                                                                <li><a href="#">Nationality</a></li>
                                                                <li><a href="#">Vehicle Name</a></li>
                                                                <li><a href="#">SMS Configure</a></li>
                                                                <li><a href="#">Screen</a></li>
                                                                <li><a href="#">Supplier Type</a></li>
                                                                <li><a href="#">Date Format</a></li>
                                                                <li><a href="#">days</a></li>
                                                                <li><a href="#">Holiday</a></li>
                                                                <li><a href="#">Bank</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="field-name">
                                                            <h3>Field Name <a href="#">Add all</a></h3>
                                                            <div class="field-list field-list-img slimscroll">
                                                                <ul>
                                                                    <li><a href="#">Value</a></li>
                                                                    <li><a href="#">Margin Type</a></li>
                                                                    <li><a href="#">Efective Date From</a></li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="drag-drop-right">
                                                        <section>
                                                            <h2>Drag and drop reorder</h2>
                                                            <div class="cf nestable-lists">
                                                                <ol class="sortable" id="ddr">
                                                                    <li>
                                                                        <div><span class=""><span></span></span>Agent Type<a class="" href="javascript:void(0);"></a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div><span class=""><span></span></span>Agent Master Code<a class="" href="javascript:void(0);"></a></div>
                                                                    </li>
                                                                    <li id="list_4">
                                                                        <div><span class="disclose"><span></span></span>FIT/Group<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></div>
                                                                    </li>
                                                                    <li id="list_5">
                                                                        <div><span class="disclose"><span></span></span>Margin For<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></div>
                                                                    </li>
                                                                    <li id="list_9">
                                                                        <div><span class="disclose"><span></span></span>Margin Type<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></div>
                                                                    </li>

                                                                </ol>
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-success ">Apply</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <br />
                                <br />
                                <div class="table-responsive">
                                    <table id="" class="table-editable display table datatable" style="width: 100%; cellspacing: 0;">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Guest Nationality</th>
                                                <th>Component </th>
                                                <th>Includes</th>
                                                <th>Adult Rate (THB)</th>
                                                <th>Child Rate (THB)</th>
                                                <th style="width: 15%;">Action</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>Guest Nationality</th>
                                                <th>Component </th>
                                                <th>Includes</th>
                                                <th>Adult Rate (THB)</th>
                                                <th>Child Rate (THB)</th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>

                                            <tr>
                                                <td>1</td>
                                                <td><span>Asian-Indian</span></td>
                                                <td>Hotel De Bangkok To Grand Palace</td>

                                                <td>
                                                    <a href="#" rel="tooltip" title="Included Service - Dinner"><i class="fa fa-plus"></i></a>&nbsp;&nbsp
                                                   
                                                </td>

                                                <td><span class="spaneditable">3000</span></td>
                                                <td><span class="spaneditable">2000</span></td>
                                                <td>
                                                    <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                    &nbsp;&nbsp;
                                                            <a href="#"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>