.advancedbtn {
    padding-left:1px !important;
}

.text-bottom-border {
    border-bottom: 1px dashed;
    cursor:pointer;
}

@media (max-width: 1600px) {
}

@media (max-width: 1500px) {
}

@media (max-width: 1400px) {
}

@media (max-width: 1300px) {
}

@media (max-width: 1280px) {
    
}

@media (max-width: 1024px) {
    
}

@media (max-width: 980px) {
    .advancedbtn {
        padding-left:15px !important;
    }
    .half-responsive-60 {
        width: 100%;
        padding-left: 15px !important; 
        padding-right: 15px !important; 
    }
    .half-responsive-40 {
        width: 100%;
        padding-left: 15px !important; 
        padding-right: 15px !important; 
    }
}

@media (max-width: 800px) {
    .advancedbtn {
        padding-left:15px !important;
    }
    .half-responsive-60 {
        width: 100%;
        padding-left: 15px !important; 
        padding-right: 15px !important; 
    }
    .half-responsive-40 {
        width: 100%;
        padding-left: 15px !important; 
        padding-right: 15px !important; 
    }
}

@media (max-width: 768px) {
    .advancedbtn {
        padding-left:15px !important;
    }
    .half-responsive-60 {
        width: 100%;
        padding-left: 15px !important; 
        padding-right: 15px !important; 
    }
    .half-responsive-40 {
        width: 100%;
        padding-left: 15px !important; 
        padding-right: 15px !important; 
    }
}

@media (max-width: 767px) {
    .advancedbtn {
        padding-left:15px !important;
    }
    .half-responsive-60 {
        width: 100%;
        padding-left: 15px !important; 
        padding-right: 15px !important; 
    }
    .half-responsive-40 {
        width: 100%;
        padding-left: 15px !important; 
        padding-right: 15px !important; 
    }
}

@media (max-width: 640px) {
    .advancedbtn {
        padding-left:15px !important;
    }
    .half-responsive-60 {
        width: 100%;
        padding-left: 15px !important; 
        padding-right: 15px !important; 
    }
    .half-responsive-40 {
        width: 100%;
        padding-left: 15px !important; 
        padding-right: 15px !important; 
    }
}

@media (max-width: 480px) {
    .advancedbtn {
        padding-left:15px !important;
    }
    .half-responsive-60 {
        width: 100%;
        padding-left: 15px !important; 
        padding-right: 15px !important; 
    }
    .half-responsive-40 {
        width: 100%;
        padding-left: 15px !important; 
        padding-right: 15px !important; 
    }
}

@media (max-width: 360px) {
    .advancedbtn {
        padding-left:15px !important;
    }
    .half-responsive-60 {
        width: 100%;
        padding-left: 15px !important; 
        padding-right: 15px !important; 
    }
    .half-responsive-40 {
        width: 100%;
        padding-left: 15px !important; 
        padding-right: 15px !important; 
    }
}