/* Code From Amit Parmar 2016-06-03 and 2016-06-04 */

@media (max-width: 1600px) {
}

@media (max-width: 1500px) {
}

@media (max-width: 1400px) {
}

@media (max-width: 1300px) {
}

@media (max-width: 1280px) {
    .div-serachpanel-search {
        width: 76.67%;
        float: left;
    }

    .div-searchpanel-button {
        width: 20.67%;
        float: right;
        text-align: right;
    }
    .searchpanel-button {
        margin-right: 10px !important;
    }
    .advance-search-panel {
        float: right;
        width: 65%;
    }
}

@media (max-width: 1024px) {
    .div-serachpanel-search {
        width: 36.67%;
    }

    .div-searchpanel-button {
        width: 20.67%;
    }
    .searchpanel-button {
        margin-right: 10px !important;
    }
    .advance-search-panel {
        float: right;
        width: 65%;
    }
}

@media (max-width: 980px) {
    .div-serachpanel-search {
        width: 66.67%;
        float: left;
    }

    .div-searchpanel-button {
        width: 30.67%;
        float: right;
    }
    .searchpanel-button {
        margin-right: 7px !important;
    }

    .advance-search-panel {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .div-serachpanel-search {
        width: 100%;
    }

    .div-searchpanel-button {
        width: 100%;
    }

    .advance-search-panel {
        width: 100%;
        float: right;
    }
    .table.sampletable tr td:first-child, .table.grid_table tr td:first-child {
        width: 60% !important;
    }
}

@media (max-width: 768px) {
    .advance-search-panel {
        width: 100%;
        margin-left: auto;
    }
    .table.sampletable tr td:first-child, .table.grid_table tr td:first-child {
        width: 60% !important;
    }
}

@media (max-width: 767px) {
    .advance-search-panel {
        width: 100%;
        margin-left: auto;
    }
    .table.sampletable tr td:first-child, .table.grid_table tr td:first-child {
        width: 60% !important;
    }
}

@media (max-width: 640px) {
    .searchpanel-button {
        width: 100%;
        margin-bottom: 10px !important;
    }

    .advance-search-panel {
        width: 100%;
        margin-left: auto;
    }

    .table-custome-drop {
        width: 100%;
    }

    .btn-search-export {
        width: 100%;
        display: block;
    }

    .btn-search-view-fields {
        width: 100%;
        display: block;
    }
    .table.sampletable tr td:first-child, .table.grid_table tr td:first-child {
        width: 60% !important;
    }
}

@media (max-width: 480px) {
    .searchpanel-button {
        margin-bottom: 10px !important;
    }

    .advance-search-panel {
        width: 100%;
        margin-left: auto;
    }

    .table-custome-drop {
        width: 100%;
    }

    .btn-search-export {
        width: 100%;
        display: block;
    }

    .btn-search-view-fields {
        width: 100%;
        display: block;
    }
    .table.sampletable tr td:first-child, .table.grid_table tr td:first-child {
        width: 70% !important;
    }
}

@media (max-width: 360px) {
    .searchpanel-button {
        margin-bottom: 10px !important;
    }

    .advance-search-panel {
        width: 100%;
        margin-left: auto;
    }

    .table-custome-drop {
        width: 100%;
    }

    .btn-search-export {
        width: 100%;
        display: block;
    }

    .btn-search-view-fields {
        width: 100%;
        display: block;
    }
    .paginate_button {
        padding: 5px 10px !important;
    }
    div.checker {
        margin-right: 12px;
    }
    .table.sampletable tr td:first-child, .table.grid_table tr td:first-child {
        width: 70% !important;
    }
}
