/* Code From Amit Parmar 2016-06-03 and 2016-06-04 */
.div-searchpanel-button, div-searchpanel-button1 {
    float: right;
    text-align: right;
}

.searchpanel-button, .searchpanel-button1 {
    margin-right: 15px !important;
}

.advance-search-panel {
    float: right;
    width: 65%;
}

@media (max-width: 1600px) {
}

@media (max-width: 1500px) {
}

@media (max-width: 1400px) {
}

@media (max-width: 1300px) {
}

@media (max-width: 1280px) {
    .div-serachpanel-search {
        width: 76.67%;
        float: left;
    }

    .div-searchpanel-button, div-searchpanel-button1 {
        width: 20.67%;
        float: right;
        text-align: right;
    }

    .searchpanel-button, .searchpanel-button1 {
        margin-right: 10px !important;
    }

    .advance-search-panel {
        float: right;
        width: 65%;
    }
}

@media (max-width: 1024px) {
    .div-serachpanel-search {
        width: 36.67%;
    }

    .div-searchpanel-button, div-searchpanel-button1 {
        width: 20.67%;
        float: right;
        text-align: right;
    }

    .searchpanel-button, .searchpanel-button1 {
        margin-right: 10px !important;
    }

    .advance-search-panel {
        float: right;
        width: 65%;
    }
}

@media (max-width: 980px) {
    .div-serachpanel-search {
        width: 66.67%;
        float: left;
    }

    .div-searchpanel-button, div-searchpanel-button1 {
        width: 30.67%;
        float: right;
    }

    .searchpanel-button, .searchpanel-button1 {
        margin-right: 7px !important;
    }

    .advance-search-panel {
        width: 100%;
    }
    .grid-item {
        width: 33.33% !important;
    }
}

@media (max-width: 800px) {
    .div-serachpanel-search {
        width: 100%;
    }

    .div-searchpanel-button, div-searchpanel-button1 {
        width: 100%;
    }

    .advance-search-panel {
        width: 100%;
        float: right;
    }

    .table.sampletable tr td:first-child, .table.grid_table tr td:first-child {
        width: 60% !important;
    }
    .grid-item {
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    .advance-search-panel {
        width: 100%;
        margin-left: auto;
    }

    .table.sampletable tr td:first-child, .table.grid_table tr td:first-child {
        width: 60% !important;
    }
    .grid-item {
        width: 100% !important;
    }
}

@media (max-width: 767px) {
    .advance-search-panel {
        width: 100%;
        margin-left: auto;
    }

    .table.sampletable tr td:first-child, .table.grid_table tr td:first-child {
        width: 60% !important;
    }
    .grid-item {
        width: 100% !important;
    }
}

@media (max-width: 640px) {
    .searchpanel-button, .searchpanel-button1 {
        width: 100%;
        margin-bottom: 10px !important;
    }

    .advance-search-panel {
        width: 100%;
        margin-left: auto;
    }

    .table-custome-drop {
        width: 100%;
    }

    .btn-search-export {
        width: 100%;
        display: block;
    }

    .btn-search-view-fields {
        width: 100%;
        display: block;
    }

    .table.sampletable tr td:first-child, .table.grid_table tr td:first-child {
        width: 60% !important;
    }
    .grid-item {
        width: 100% !important;
    }
}

@media (max-width: 480px) {
    .searchpanel-button, .searchpanel-button1 {
        margin-bottom: 10px !important;
    }

    .advance-search-panel {
        width: 100%;
        margin-left: auto;
    }

    .table-custome-drop {
        width: 100%;
    }

    .btn-search-export {
        width: 100%;
        display: block;
    }

    .btn-search-view-fields {
        width: 100%;
        display: block;
    }

    .table.sampletable tr td:first-child, .table.grid_table tr td:first-child {
        width: 70% !important;
    }
    .grid-item {
        width: 100% !important;
    }
}

@media (max-width: 360px) {
    .searchpanel-button, .searchpanel-button1 {
        margin-bottom: 10px !important;
    }

    .advance-search-panel {
        width: 100%;
        margin-left: auto;
    }

    .table-custome-drop {
        width: 100%;
    }

    .btn-search-export {
        width: 100%;
        display: block;
    }

    .btn-search-view-fields {
        width: 100%;
        display: block;
    }

    .paginate_button {
        padding: 5px 10px !important;
    }

    div.checker {
        margin-right: 12px;
    }

    .table.sampletable tr td:first-child, .table.grid_table tr td:first-child {
        width: 70% !important;
    }
    .grid-item {
        width: 100% !important;
    }
}

.modify-colum-model {
    text-align: left;
}

.table.sampletable.grid_table td + td {
    width: 40%;
}
