@{
    ViewBag.Title = "All Masters";
    ViewBag.PageTitle = "All Masters";
}
@*<script src="~/assets/plugins/jquery/jquery-2.1.4.min.js"></script>*@
<link href="~/assets/plugins/datatables/css/dataTables.tableTools.css" rel="stylesheet" />
<style>
    .field-name {
        float: left;
        width: 50%;
    }

    .modify-colum-model .dropdown.table-custome-drop {
        float: left;
        width: 50%;
    }

    .field-name {
        padding-right: 15px;
    }

    .modal-header h4 {
        border-bottom: 1px dotted #ccc;
        font-size: 20px;
        font-weight: normal;
    }

    .modal-footer {
        text-align: left;
    }
</style>

<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                    <li role="presentation" id="MasterDataViews" class="active"><a href="#tab4" role="tab" data-toggle="tab" data-section="tab4" class="basic-accord"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Search Master Record</a></li>
                    <li role="presentation" id="MastersRecord"><a href="#tab3" role="tab" data-toggle="tab" data-section="tab3" class="basic-accord"><span class="menu-icon fa fa-bookmark"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tab-name">Create Master Record</span></a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab4">
                        <form>
                            <div class="table-responsive">
                                <div class="dropdown table-custome-drop">
                                    <div class="btn-group">
                                        <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="glyphicon glyphicon-download-alt"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Excel</a></li>
                                            <li><a href="#">PDF</a></li>
                                            <li><a href="#">Email</a></li>
                                        </ul>
                                    </div>
                                    &nbsp;&nbsp;
                                   
                                    <div class="btn-group">
                                        <a class="label label-success dropdown-toggle " rel="tooltip" data-toggle="dropdown" title="All Views" aria-expanded="false">
                                            <span class="icon-grid"></span>
                                        </a>
                                        <ul class="dropdown-menu cate-drop-menu">
                                            <li><a href="javascript:void(0);" style="color: #000">Default View</a></li>
                                            <li style="color: #000; padding: 5px 0" class="btn-lgdropdown-header" ><a id="btnShowPopupChangeView" href="javascript:void(0);">Change View</a> </li>
                                        </ul>
                                        <div class="modal fade modify-colum-model" id="myModal" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Change View</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <br />
                                                        <div class="model-left-columns">
                                                            <div class="field-name">
                                                                <h3>View <a href="#"></a></h3>
                                                                <ul id="ulViewList" class="field-list slimscroll">
                                                                    <li><a href="#">View 1</a></li>
                                                                    <li><a href="#">View 2</a></li>
                                                                    <li><a href="#">View 3</a></li>
                                                                    <li><a href="#">View 4</a></li>
                                                                    <li><a href="#">View 5</a></li>
                                                                    <li><a href="#">View 6</a></li>
                                                                    <li><a href="#">View 7</a></li>
                                                                    <li><a href="#">View 8</a></li>
                                                                    <li><a href="#">View 9</a></li>
                                                                    <li><a href="#">View 10</a></li>
                                                                    <li><a href="#">View 11</a></li>
                                                                    <li><a href="#">View 12</a></li>
                                                                    <li><a href="#">View 13</a></li>
                                                                    <li><a href="#">View 14</a></li>
                                                                    <li><a href="#">View 15</a></li>
                                                                    <li><a href="#">View 16</a></li>
                                                                    <li><a href="#">View 17</a></li>
                                                                    <li><a href="#">View 18</a></li>
                                                                    <li><a href="#">View 19</a></li>
                                                                    <li><a href="#">View 20</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="field-name">
                                                                <h3>Field Name <a href="#">Add all</a></h3>
                                                                <div class="field-list slimscroll">
                                                                    <ul>
                                                                        <li><a href="#">Field 1</a></li>
                                                                        <li><a href="#">Field 1</a></li>
                                                                        <li><a href="#">Field 1</a></li>
                                                                        <li><a href="#">Field 1</a></li>
                                                                        <li><a href="#">Field 1</a></li>
                                                                        <li><a href="#">Field 1</a></li>
                                                                        <li><a href="#">Field 1</a></li>
                                                                        <li><a href="#">Field 1</a></li>
                                                                        <li><a href="#">Field 1</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="drag-drop-right">
                                                            <section>
                                                                <h2>Drag and drop reorder</h2>
                                                                <div class="cf nestable-lists">
                                                                    <ol class="sortable">
                                                                        <li id="list_1">
                                                                            <div><span class="disclose"><span></span></span>Gadget 1<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></div>
                                                                        </li>
                                                                        <li id="list_4">
                                                                            <div><span class="disclose"><span></span></span>Gadget 2<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></div>
                                                                        </li>
                                                                        <li id="list_5">
                                                                            <div><span class="disclose"><span></span></span>Gadget 3<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></div>
                                                                        </li>
                                                                        <li id="list_9">
                                                                            <div><span class="disclose"><span></span></span>Gadget 4<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></div>
                                                                        </li>
                                                                        <li id="list_10">
                                                                            <div><span class="disclose"><span></span></span>Gadget 5<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></div>
                                                                        </li>
                                                                        <li id="list_11">
                                                                            <div><span class="disclose"><span></span></span>Gadget 6<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></div>
                                                                        </li>
                                                                        <li id="list_12">
                                                                            <div><span class="disclose"><span></span></span>Gadget 7<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></div>
                                                                        </li>
                                                                        <li id="list_13">
                                                                            <div><span class="disclose"><span></span></span>Gadget 8<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></div>
                                                                        </li>
                                                                    </ol>
                                                                </div>
                                                            </section>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-success ">Apply</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <table id="example1" class="display" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>SrNo</th>
                                            <th>xmaster</th>
                                            <th>xname</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>SrNo</th>
                                            <th>xmaster</th>
                                            <th>xname</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>

                                </table>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab3">
                        <div class="col-md-8">
                            
                            <form id="frmCreateMaster">
                                <div class="form-group" style="display: none" id="divSrno">
                                    <label data-toggle="tooltip" data-placement="left" id="lbSrNo">Sr. No.  &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field1"></i></label>
                                    <input type="text" class="form-control" id="txtSrNoTab3" placeholder="" readonly>
                                </div>
                                <div class="form-group" style="display: none" id="divCode">
                                    <label>Code&nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field2"></i></label>
                                    <input type="text" class="form-control" id="txtCode" placeholder="" readonly>
                                </div>

                                <div class="form-group" id="divSegment" style="@(Session["Corporate"].ToString() != "0" ? "display: none" : "")">
                                    <label data-toggle="tooltip" data-placement="right" title="Industry">Industry</label>
                                    <select id="drpSegmenttab3" class="js-states form-control Dropdown" tabindex="-1" style="display: none; width: 100%">
                                        <option value="0">--Select Industry--</option>
                                        <option value="1">Travels </option>
                                    </select>
                                </div>
                                <div class="form-group" id="divCorporate" style="@(Session["Corporate"].ToString() != "0" ? "display: none" : "")">
                                    <label data-toggle="tooltip" data-placement="right" title="Corporate">Corporate</label>
                                    <select id="drpCorporateTab" class="js-states form-control Dropdown" tabindex="-1" style="display: none; width: 100%">
                                        <option value="0">--Select Corporate--</option>
                                        <option value="1">Flamingo </option>
                                        <option value="2">Travels Unlimited </option>
                                    </select>
                                </div>

                                <div class="form-group" id="divMaster">
                                    <label>Master <span>*</span></label>
                                    <select id="drpMasterTab3" class="js-states form-control Dropdown req" tabindex="-1" style="display: none; width: 100%">
                                        <option value="0">--Select Master--</option>
                                    </select>
                                </div>

                                <div class="form-group" id="divName">
                                    <label id="LbName">
                                        Name
                                    </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" data-toggle="tooltip" data-placement="right" id="field6"></i>
                                    <input type="text" class="form-control Master" id="txtnameTab3" placeholder="">
                                </div>
                                <div class="form-group" id="divActive">
                                    <label id="LbActive" data-toggle="tooltip" data-placement="right">
                                        Active 
                                    </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" data-toggle="tooltip" data-placement="right" data-toggle="tooltip" data-placement="right" id="field7"></i>
                                    <select id="drpActiveTab3" class="js-states form-control Dropdown MDropdown" tabindex="-1" style="display: none; width: 100%">
                                        <option value="1">Active</option>
                                        <option value="0">InActive</option>
                                    </select>
                                </div>
                                <div class="form-group" id="divRemarks">
                                    <label id="LbRemarks">
                                        Remarks/Description &nbsp 
                                    </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field8"></i>
                                    <textarea cols="5" class="form-control Master" id="txtRemarsTab3"></textarea>
                                </div>

                                <div class="form-group" id="divDropdown1">
                                    <label id="LbDropdown1">Dropdown 1 </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field9"></i>
                                    <select id="Dropdown1Tab3" class="js-states form-control Dropdown MDropdown" tabindex="-1" style="display: none; width: 100%">
                                    </select>
                                </div>
                                <div class="form-group" id="divDropdown2">
                                    <label id="LbDropdown2">Dropdown 2 </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field10"></i>
                                    <select id="Dropdown2Tab3" class="js-states form-control Dropdown MDropdown" tabindex="-1" style="display: none; width: 100%">
                                    </select>
                                </div>
                                <div class="form-group" id="divDropdown3">
                                    <label id="LbDropdown3">Dropdown 3 </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field11"></i>
                                    <select id="Dropdown3Tab3" class="js-states form-control Dropdown MDropdown" tabindex="-1" style="display: none; width: 100%">
                                    </select>
                                </div>
                                <div class="form-group" id="divDropdown4">
                                    <label id="LbDropdown4">Dropdown 4 </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field12"></i>
                                    <select id="Dropdown4Tab3" class="js-states form-control Dropdown MDropdown" tabindex="-1" style="display: none; width: 100%">
                                    </select>
                                </div>
                                <div class="form-group" id="divDropdown5">
                                    <label id="LbDropdown5">Dropdown 5 </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field13"></i>
                                    <select id="Dropdown5Tab3" class="js-states form-control Dropdown MDropdown" tabindex="-1" style="display: none; width: 100%">
                                    </select>
                                </div>
                                <div class="form-group" id="divDropdown6">
                                    <label id="LbDropdown6">Dropdown 6 </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field14"></i>
                                    <select id="Dropdown6Tab3" class="js-states form-control Dropdown MDropdown" tabindex="-1" style="display: none; width: 100%">
                                    </select>

                                </div>



                                <div class="form-group" id="divTextbox1">
                                    <label id="LbTextbox1">Textbox 1</label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field15"></i>
                                    <input type="text" class="form-control Master" id="Textbox1Tab3" placeholder="">
                                </div>
                                <div class="form-group" id="divTextbox2">
                                    <label id="LbTextbox2">Textbox 2 </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field16"></i>
                                    <input type="text" class="form-control Master" id="Textbox2Tab3" placeholder="">
                                </div>
                                <div class="form-group" id="divTextbox3">
                                    <label id="LbTextbox3">Textbox 3</label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field17"></i>
                                    <input type="text" class="form-control Master" id="Textbox3Tab3" placeholder="">
                                </div>
                                <div class="form-group" id="divTextbox4">
                                    <label id="LbTextbox4">Textbox 4</label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field18"></i>
                                    <input type="text" class="form-control Master" id="Textbox4Tab3" placeholder="">
                                </div>
                                <div class="form-group" id="divTextbox5">
                                    <label id="LbTextbox5">Textbox 5</label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field19"></i>
                                    <input type="text" class="form-control Master" id="Textbox5Tab3" placeholder="">
                                </div>
                                <div class="form-group" id="divTextbox6">
                                    <label id="LbTextbox6">Textbox 6 </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field20"></i>
                                    <input type="text" class="form-control Master" id="Textbox6Tab3" placeholder="">
                                </div>



                                <div class="form-group" id="divRating1">
                                    <label for="txtLastName" id="LbRating1">Rating 1 </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field21"></i>
                                    <select id="Rating1" class="js-states form-control Dropdown MDropdown" tabindex="-1" style="display: none; width: 100%">
                                        <option value="0">--Select Rating--</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div class="form-group" id="divRating2">
                                    <label for="txtLastName" id="LbRating2">Rating 2 </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field22"></i>
                                    <select id="Rating2" class="js-states form-control Dropdown MDropdown" tabindex="-1" style="display: none; width: 100%">
                                        <option value="0">--Select Rating--</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div class="form-group" id="divRating3">
                                    <label for="txtLastName" id="LbRating3">Rating 3 </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field23"></i>
                                    <select id="Rating3" class="js-states form-control Dropdown MDropdown" tabindex="-1" style="display: none; width: 100%">
                                        <option value="0">--Select Rating--</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div class="form-group" id="divDate1">
                                    <label for="Date1" id="LbDate1">Date 1 </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field24"></i>
                                    <input type="text" id="Date1" class="form-control date-picker">
                                </div>
                                <div class="form-group" id="divDate2">
                                    <label for="Date2" id="LbDate2">Date 2 </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field25"></i>
                                    <input type="text" id="Date2" class="form-control date-picker">
                                </div>
                                <div class="form-group" id="divDate3">
                                    <label for="Date3" id="LbDate3">Date 3</label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field26"></i>
                                    <input type="text" id="Date3" class="form-control date-picker">
                                </div>
                                <div class="form-group" id="divTime1">
                                    <label class="control-label" id="LbTime1">Time 1 </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field27"></i>
                                    <div class="input-group input-append bootstrap-timepicker">
                                        @*<input id="time1" type="text" class="form-control">
                                        <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>*@

                                        <input type="text" class="form-control" value="01.06 Hrs" id="time1">
                                        <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>




                                    </div>
                                </div>
                                <div class="form-group" id="divTime2">
                                    <label class="control-label" id="LbTime2">Time 2 </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field28"></i>
                                    <div class="input-group input-append bootstrap-timepicker">
                                        <input id="time2" type="text" class="form-control" value="01.06 Hrs">
                                        <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                    </div>
                                </div>
                                <div class="form-group" id="divEmail1">
                                    <label for="exampleInputEmail1" id="LbEmail1">Email 1 </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field29"></i>
                                    <input type="email" class="form-control Master" id="Email1" placeholder="">
                                </div>
                                <div class="form-group" id="divEmail2">
                                    <label for="exampleInputEmail1" id="LbEmail2">Email 2 </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field30"></i>
                                    <input type="email" class="form-control Master" id="Email2" placeholder="">
                                </div>
                                <div class="form-group" id="divEmail3">
                                    <label for="exampleInputEmail1" id="LbEmail3">Email 3 </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field31"></i>
                                    <input type="email" class="form-control Master" id="Email3" placeholder="">
                                </div>
                                <div class="form-group" id="divAmount1">
                                    <label for="Amount1" id="LbAmount1">Amount 1</label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field32"></i>
                                    <input type="email" class="form-control Master" id="Amount1" placeholder="">
                                </div>
                                <div class="form-group" id="divAmount2">
                                    <label for="Amount2" id="LbAmount2">Amount 2 </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field33"></i>
                                    <input type="email" class="form-control Master" id="Amount2" placeholder="">
                                </div>
                                <div class="form-group" id="divAmount3">
                                    <label for="Amount3" id="LbAmount3">Amount 3</label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field34"></i>
                                    <input type="email" class="form-control Master" id="Amount3Tab3" placeholder="">
                                </div>
                                <div class="form-group" id="divTextarea1">
                                    <label for="Textarea1" id="LbTextarea">
                                        Textarea 
                                    </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field35"></i>
                                    <textarea cols="5" class="form-control Master" id="Textarea1"></textarea>
                                </div>

                                <div class="form-group" id="divHtmleditor1">
                                    <label id="LbHTML">HTML Editor</label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field36"></i>
                                    <div>
                                        <div class="summernote" id="HTMlEditor1"></div>
                                    </div>
                                </div>

                                <div class="form-group" id="divphotoUpload1">
                                    <label id="LbPHOTOUPLOAD">Photo Upload </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field37"></i>
                                    <input type="email" class="form-control" id="photoUpload" placeholder="">
                                </div>



                                <div class="form-group" id="divMultiselect1">
                                    <label id="LbMultiselect1">Multiselect 1 </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field38"></i>
                                    <select id="Multiselect1" multiple="multiple" class="js-states form-control MDropdown" style="display: none; width: 100%">
                                    </select>
                                </div>
                                <div class="form-group" id="divMultiselect2">
                                    <label id="LbMultiselect2">Multiselect 2 </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field39"></i>
                                    @* <select id="Multiselect2" class="js-states form-control Dropdown" tabindex="-1" style="display: none; width: 100%">*@
                                    <select id="Multiselect2" multiple="multiple" class="js-states form-control Dropdown MDropdown" style="display: none; width: 100%">
                                    </select>
                                </div>
                                <div class="form-group" id="divMultiselect3">
                                    <label id="LbMultiselect3">Multiselect 3 </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field40"></i>
                                    @* <select id="Multiselect3" class="js-states form-control Dropdown" tabindex="-1" style="display: none; width: 100%">*@
                                    <select id="Multiselect3" multiple="multiple" class="js-states form-control Dropdown MDropdown" style="display: none; width: 100%">
                                    </select>
                                </div>
                                <div class="form-group" id="divMultiselect4">
                                    <label id="LbMultiselect4">Multiselect 4 </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field41"></i>
                                    @* <select id="Multiselect4" class="js-states form-control Dropdown" tabindex="-1" style="display: none; width: 100%">*@
                                    <select id="Multiselect4" multiple="multiple" class="js-states form-control Dropdown MDropdown" style="display: none; width: 100%">
                                    </select>
                                </div>
                                <div class="form-group" id="divMultiselect5">
                                    <label id="LbMultiselect5">Multiselect 5 </label>
                                    &nbsp <i class="fa fa-question-circle text-info" data-toggle="tooltip" data-placement="right" id="field42"></i>
                                    @*<select id="Multiselect5" class="js-states form-control Dropdown" tabindex="-1" style="display: none; width: 100%">*@
                                    <select id="Multiselect5" multiple="multiple" class="js-states form-control Dropdown MDropdown" style="display: none; width: 100%">
                                    </select>
                                </div>



                                <br />
                                <br />
                                @*<button id="btnSave" type="submit" class="btn btn-success btnSave">
                                    CREATE</button>
                                <button id="btnCancel" type="submit" class="btn btn-green  btnCancel">
                                    CLEAR</button>*@
                                <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                    CREATE</button>
                                @*<button id="btnUpdate" type="submit" class="btn btn-primary btnSave">
                                    UPDATE</button>*@
                                @* <button id="btnDelete" type="submit" class="btn btn-green btnCancel">
                                    DELETE</button>*@
                                <button id="btnCancel" type="button" class="btn btn-warning" style="display: none;">
                                    CLEAR</button>
                                <button id="btnQuit" type="button" class="btn btn-info ">
                                    QUIT FORM</button>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
@section scripts{
    <script src="~/assets/plugins/datatables/js/dataTables.tableTools.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#time1').timepicker();
            $('#time2').timepicker();
        });
    </script>
    <script src="~/Scripts/JS/Page/AllMasters.js"></script>
    <script src="/assets/js/jquery.mjs.nestedSortable.js"></script>
    <script>
        $(document).ready(function () {
            if ($('ol.sortable').length) {
                $('ol.sortable').nestedSortable({
                    forcePlaceholderSize: true,
                    handle: 'div',
                    helper: 'clone',
                    items: 'li',
                    opacity: .6,
                    placeholder: 'placeholder',
                    revert: 250,
                    tabSize: 25,
                    tolerance: 'pointer',
                    toleranceElement: '> div',
                    maxLevels: 3,
                    //isTree: true,
                    expandOnHover: 700,
                    startCollapsed: true
                });

                $('.disclose').on('click', function () {
                    $(this).closest('li').toggleClass('mjs-nestedSortable-collapsed').toggleClass('mjs-nestedSortable-expanded');
                })

                $('#serialize').click(function () {
                    serialized = $('ol.sortable').nestedSortable('serialize');
                    $('#serializeOutput').text(serialized + '\n\n');
                })

                $('#toHierarchy').click(function (e) {
                    hiered = $('ol.sortable').nestedSortable('toHierarchy', { startDepthCount: 0 });
                    hiered = dump(hiered);
                    (typeof ($('#toHierarchyOutput')[0].textContent) != 'undefined') ?
                    $('#toHierarchyOutput')[0].textContent = hiered : $('#toHierarchyOutput')[0].innerText = hiered;
                })

                $('#toArray').click(function (e) {
                    arraied = $('ol.sortable').nestedSortable('toArray', { startDepthCount: 0 });
                    arraied = dump(arraied);
                    (typeof ($('#toArrayOutput')[0].textContent) != 'undefined') ?
                    $('#toArrayOutput')[0].textContent = arraied : $('#toArrayOutput')[0].innerText = arraied;
                })
            }
        });
    </script>
}
