   <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="drpNationalitySet">Guest Nationality </label>
                            <select id="drpNationalitySetS" class="js-states form-control" style="display: none; width: 100%">
                                <option selected="selected">Asian - Indian</option>
                                <option>Affrican</option>
                                <option>Europen</option>
                                <option>Austrailian</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="drpCurrency">Currency</label>
                            <select id="drpCurrencyS" class="js-states form-control" style="display: none; width: 100%">
                                <option selected="selected">THB</option>
                                <option>USD</option>
                                <option>INR</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="drpDiscounttypeCS">Discount Type </label>
                            <select id="drpDiscounttypeS" class="js-states form-control" style="display: none; width: 100%">
                                <option selected="selected">DiscountType 1</option>
                                <option>DiscountType 2</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="txtDiscountRate">Discount Rate </label>
                            <div class="input-group input-append bootstrap-timepicker">
                                <input type="text" class="form-control" id="txtDiscountRateS" value="10" placeholder=""><span class="input-group-addon add-on"><span>THB</span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="txtRemarks">Remarks </label>
                            <textarea class="form-control" cols="5" id="txtRemarksS"></textarea>
                        </div>
                        <div class="col-md-6">
                            <label for="txtRemarksInternal">Remarks (Internal)</label>
                            <textarea class="form-control" cols="5" id="txtRemarksInternalS"></textarea>
                        </div>
                    </div>
                </div>
                <button id="btnSave" type="submit" class="btn btn-success btnSave">
                    SAVE</button>
                <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                    UPDATE</button>
                <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                    DELETE</button>
                <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                    CREATE NEW</button>
                <button id="btnSave" type="submit" class="btn btn-info btnSave">
                    QUIT FORM</button>
                <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
                    <span class="fa fa-refresh"></span>
                </a>