<div class="col-md-8 full-responsive">
    <form>
        <h3 class="tab2section1"><span class="section-index">1</span>&nbsp;Create Hotel Room - <span class="text-danger">Hotel De Bangkok - Bangkok</span></h3>

        <div class="form-group formroomprice">
            <div class="row">
                <div class="col-md-6">
                    <label for="drpCostingSet">Contract</label>
                    <select id="drpCostingTitle" class="js-states form-control" style="display: none; width: 100%">
                        <option>The Crib Patong 2015/16 Full Year FIT</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="txtFromDate">Contract ID </label>
                    <input type="text" class="form-control" id="txtContractID" value="0002" placeholder="Contract ID" readonly>
                </div>
                <div class="col-md-3">
                    <label for="txtFromDate">FIT/Group</label>
                    <input type="text" class="form-control" id="txtContractID" value="FIT" placeholder="FIT/Group" readonly>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="drpTypeOfSupplier">Room Category<span>*</span></label>
                   <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                        <option selected="selected">Superior</option>
                        <option>Deluxe</option>
                      
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="drpTypeOfSupplier">Room Type<span>*</span></label>
                    <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                        <option >Single Room</option>
                        <option selected="selected">Double Room</option>
                        <option>Twin Room</option>

                    </select>
                </div>

            </div>
        </div>
       

       
       @* <h3 class="tab2section2" style="padding-top: 30px"><span class="section-index">2</span>&nbsp;Validity <span class="text-danger"></span></h3>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="drpTypeOfSupplier">Rate Type<span>*</span></label>
                    <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                        <option>Allotment</option>
                        <option selected="selected">On Request</option>

                    </select>
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <h3>Validity Period</h3>
                    <div class="table-responsive">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="width: 30%; padding: 5px">Validity From</th>
                                    <th style="width: 30%; padding: 5px">Validity To</th>
                                    <th style="width: 34%; padding: 5px">Season</th>
                                    <th style="width: 6%; padding: 5px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control date-picker" id="txtAgeFrom" value="01/11/2015" placeholder="Service Cost ">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control date-picker" id="txtAgeFrom" value="24/12/2015" placeholder="Heading">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="" placeholder="Season ">
                                    </td>
                                    <td style="padding: 5px">
                                        <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <h3>Blackout Period</h3>
                    <div class="table-responsive">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="width: 30%; padding: 5px">Blackout From Date</th>
                                    <th style="width: 30%; padding: 5px">Blackout To Date</th>
                                    <th style="width: 34%; padding: 5px">Comments</th>
                                    <th style="width: 6%; padding: 5px"></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control date-picker" id="txtAgeFrom" value="" placeholder="Service Cost ">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control date-picker" id="txtAgeFrom" value="" placeholder="Heading">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="" placeholder="Comments">
                                    </td>
                                    <td style="padding: 5px">
                                        <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>*@

      
        <h3 class="tab2section4" style="padding-top: 30px"><span class="section-index">2</span>&nbsp;Room Pax Combination -  <span class="text-danger">Double Room</span> <span class="text-danger"></span></h3>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                  
                    <div class="table-responsive tbborder" style="border: 1px solid #F25656; border-radius: 4px">
                        <table style="width: 100%">
                            
                            <thead>
                                <tr style="color: black" class="nthead">
                                    <th style="width: 37%; padding: 5px;border-right: solid 1px red !important" colspan="4">Combination</th>
                                    <th style="width: 6%; padding: 5px;display:none"></th>
                                    <th style="width: 6%; padding: 5px;display:none"></th>
                                    <th style="width: 6%; padding: 5px;display:none;border-right:1px solid !important"></th>
                                    <th style="width: 6%; padding: 5px;border-right: solid 1px red !important" colspan="6">Extra Chargeable Count</th>
                                    <th style="width: 6%; padding: 5px;display:none"></th>
                                    <th style="width: 6%; padding: 5px;display:none"></th>
                                    <th style="width: 6%; padding: 5px;display:none"></th>
                                    <th style="width: 6%; padding: 5px;display:none"></th>
                                    <th style="width: 6%; padding: 5px;display:none"></th>
                                    <th style="width: 9%; padding: 5px"> <input type="checkbox" checked class="form-control"></th>

                                </tr>
                                <tr style="color: black">
                                    <th style="width: 37%; padding: 5px">Title</th>
                                    <th style="width: 6%; padding: 5px">Adult</th>
                                    <th style="width: 6%; padding: 5px">Child</th>
                                    <th style="width: 6%; padding: 5px">Infant</th>
                                    <th style="width: 6%; padding: 5px">EBC</th>
                                    <th style="width: 6%; padding: 5px">EBA</th>
                                    <th style="width: 6%; padding: 5px">Infant</th>
                                    <th style="width: 6%; padding: 5px">ABF.</th>
                                    <th style="width: 6%; padding: 5px">Lunch</th>
                                    <th style="width: 6%; padding: 5px">Dinner</th>
                                    <th style="width: 9%; padding: 5px">Applicable</th>

                                </tr>
                            </thead>
                            <tfoot>
                                <tr style="color: black">
                                    <th style="width: 37%; padding: 5px">Title</th>
                                    <th style="width: 6%; padding: 5px">Adult</th>
                                    <th style="width: 6%; padding: 5px">Child</th>
                                    <th style="width: 6%; padding: 5px">Infant</th>
                                    <th style="width: 6%; padding: 5px">EBC</th>
                                    <th style="width: 6%; padding: 5px">EBA</th>
                                    <th style="width: 6%; padding: 5px">Infant</th>
                                    <th style="width: 6%; padding: 5px">ABF.</th>
                                    <th style="width: 6%; padding: 5px">Lunch</th>
                                    <th style="width: 6%; padding: 5px">Dinner</th>
                                    <th style="width: 9%; padding: 5px">Applicable</th>

                                </tr>
                                <tr style="color: black" class="nthead">
                                    <th style="width: 37%; padding: 5px;text-align:center;border-right: solid 1px red !important" colspan="4">Combination</th>
                                    <th style="width: 6%; padding: 5px;display:none"></th>
                                    <th style="width: 6%; padding: 5px;display:none"></th>
                                    <th style="width: 6%; padding: 5px;display:none;border-right:1px solid !important"></th>
                                    <th style="width: 6%; padding: 5px;text-align:center;border-right: solid 1px red !important" colspan="6">Extra Chargeable Count</th>
                                    <th style="width: 6%; padding: 5px;display:none"></th>
                                    <th style="width: 6%; padding: 5px;display:none"></th>
                                    <th style="width: 6%; padding: 5px;display:none"></th>
                                    <th style="width: 6%; padding: 5px;display:none"></th>
                                    <th style="width: 6%; padding: 5px;display:none"></th>
                                    <th style="width: 9%; padding: 5px"></th>

                                </tr>
                                
                            </tfoot>
                            <tbody>
                                <tr>
                                    <td style="padding: 5px">2 Adult</td>
                                    <td style="padding: 5px">2</td>
                                    <td style="padding: 5px">-</td>
                                    <td style="padding: 5px">-</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">2</td>
                                    <td style="padding: 5px;background:lightgray">2</td>
                                    <td style="padding: 5px">
                                        <input type="checkbox" checked class="form-control">
                                    </td>

                                </tr>
                                <tr>

                                    <td style="padding: 5px">2 Adult + 1 EBC</td>
                                    <td style="padding: 5px">2</td>
                                    <td style="padding: 5px">1</td>
                                    <td style="padding: 5px">-</td>
                                    <td style="padding: 5px;background:lightgray">1</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">3</td>
                                    <td style="padding: 5px;background:lightgray">3</td>
                                    <td style="padding: 5px">
                                        <input type="checkbox" checked class="form-control">
                                    </td>

                                </tr>
                                <tr>

                                    <td style="padding: 5px">2 Adult + 1 CNB</td>
                                    <td style="padding: 5px">2</td>
                                    <td style="padding: 5px">1</td>
                                    <td style="padding: 5px">-</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">1</td>
                                    <td style="padding: 5px;background:lightgray">3</td>
                                    <td style="padding: 5px;background:lightgray">3</td>
                                    <td style="padding: 5px">
                                        <input type="checkbox" checked class="form-control">
                                    </td>

                                </tr>
                                <tr>

                                    <td style="padding: 5px">2 Adult + 1 Infant</td>
                                    <td style="padding: 5px">2</td>
                                    <td style="padding: 5px">-</td>
                                    <td style="padding: 5px">1</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">2</td>
                                    <td style="padding: 5px;background:lightgray">2</td>
                                    <td style="padding: 5px">
                                        <input type="checkbox" checked class="form-control">
                                    </td>

                                </tr>
                                <tr>

                                    <td style="padding: 5px">2 Adult + 2 Infant</td>
                                    <td style="padding: 5px">2</td>
                                    <td style="padding: 5px">-</td>
                                    <td style="padding: 5px">2</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">2</td>
                                    <td style="padding: 5px;background:lightgray">2</td>
                                    <td style="padding: 5px">
                                        <input type="checkbox" checked class="form-control">
                                    </td>

                                </tr>
                                <tr>

                                    <td style="padding: 5px">2 Adult + 1 EBC + 1 CNB</td>
                                    <td style="padding: 5px">2</td>
                                    <td style="padding: 5px">2</td>
                                    <td style="padding: 5px">-</td>
                                    <td style="padding: 5px;background:lightgray">1</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">1</td>
                                    <td style="padding: 5px;background:lightgray">4</td>
                                    <td style="padding: 5px;background:lightgray">4</td>
                                    <td style="padding: 5px">
                                        <input type="checkbox" checked class="form-control">
                                    </td>

                                </tr>
                                <tr>

                                    <td style="padding: 5px">2 Adult + 1 EBC + 1 Infant</td>
                                    <td style="padding: 5px">2</td>
                                    <td style="padding: 5px">1</td>
                                    <td style="padding: 5px">1</td>
                                    <td style="padding: 5px;background:lightgray">1</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">3</td>
                                    <td style="padding: 5px;background:lightgray">3</td>
                                    <td style="padding: 5px">
                                        <input type="checkbox" checked class="form-control">
                                    </td>

                                </tr>
                                <tr>

                                    <td style="padding: 5px">2 Adult + 1 CNB + 1 Infant</td>
                                    <td style="padding: 5px">2</td>
                                    <td style="padding: 5px">1</td>
                                    <td style="padding: 5px">1</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">1</td>
                                    <td style="padding: 5px;background:lightgray">3</td>
                                    <td style="padding: 5px;background:lightgray">3</td>
                                    <td style="padding: 5px">
                                        <input type="checkbox" checked class="form-control">
                                    </td>

                                </tr>
                                <tr>
                                     <td style="padding: 5px">3 Adult</td>
                                    <td style="padding: 5px">3</td>
                                    <td style="padding: 5px">-</td>
                                    <td style="padding: 5px">-</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">1</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">3</td>
                                    <td style="padding: 5px;background:lightgray">3</td>
                                    <td style="padding: 5px">
                                        <input type="checkbox" checked class="form-control">
                                    </td>

                                </tr>
                                <tr>

                                    <td style="padding: 5px">3 Adult + 1 CNB + 1 Infant</td>
                                    <td style="padding: 5px">3</td>
                                    <td style="padding: 5px">1</td>
                                    <td style="padding: 5px">1</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">1</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">1</td>
                                    <td style="padding: 5px;background:lightgray">4</td>
                                    <td style="padding: 5px;background:lightgray">4</td>
                                    <td style="padding: 5px">
                                        <input type="checkbox" checked class="form-control">
                                    </td>

                                </tr>
                                <tr>

                                   <td style="padding: 5px">3 Adult + 1 Infant</td>
                                    <td style="padding: 5px">3</td>
                                    <td style="padding: 5px">-</td>
                                    <td style="padding: 5px">1</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">1</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">3</td>
                                    <td style="padding: 5px;background:lightgray">3</td>
                                    <td style="padding: 5px">
                                        <input type="checkbox" checked class="form-control">
                                    </td>

                                </tr>
                                <tr>

                                   <td style="padding: 5px">3 Adult + 1 CNB</td>
                                    <td style="padding: 5px">3</td>
                                    <td style="padding: 5px">1</td>
                                    <td style="padding: 5px">-</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">1</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">0</td>
                                    <td style="padding: 5px;background:lightgray">4</td>
                                    <td style="padding: 5px;background:lightgray">4</td>
                                    <td style="padding: 5px">
                                        <input type="checkbox" checked class="form-control">
                                    </td>

                                </tr>
                                <tr>
                                    <td style="padding: 5px;">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="" style="text-align: left" placeholder="">
                                    </td>
                                    <td style="padding: 5px;">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="" style="text-align: center" placeholder="">
                                    </td>
                                    <td style="padding: 5px;">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="" style="text-align: center" placeholder="">
                                    </td>
                                    <td style="padding: 5px;">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="" style="text-align: center" placeholder="">
                                    </td>
                                    <td style="padding: 5px;">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="" style="text-align: center" placeholder="">
                                    </td>
                                    <td style="padding: 5px;">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="" style="text-align: center" placeholder="">
                                    </td>
                                    <td style="padding: 5px;">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="" style="text-align: center" placeholder="">
                                    </td>
                                    <td style="padding: 5px;">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="" style="text-align: center" placeholder="">
                                    </td>
                                    <td style="padding: 5px;">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="" style="text-align: center" placeholder="">
                                    </td>
                                    <td style="padding: 5px;">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="" style="text-align: center" placeholder="">
                                    </td>
                                    <td style="padding: 5px; text-align: center">
                                        <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                    </td>

                                </tr>

                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>

        <h3 class="tab2section5" style="padding-top: 30px"><span class="section-index">3</span>&nbsp;Room Facility <span class="text-danger"></span></h3>
         <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label for="drpTypeOfSupplier">Room Size</label>
                    <input type="text" class="form-control" id="txtContractID" value="400 sqm" placeholder="Contract ID">
                </div>
                
            </div>
        </div>
        <div class="form-group">
            <label for="txtDescription">Room Facilities </label>
            <div class="row">

                <div class="col-md-3 form-marings">
                    <input type="checkbox" checked="checked">Air Conditioning
                </div>
                <div class="col-md-3 form-marings">
                    <input type="checkbox" checked="checked">Bathtub
                </div>
                <div class="col-md-3 form-marings">
                    <input type="checkbox" checked="checked">Flat-screen TV
                </div>
                <div class="col-md-3 form-marings">
                    <input type="checkbox">Kitchen/Kitchenette
                </div>
                <div class="col-md-3 form-marings">
                    <input type="checkbox">Patio
                </div>
                <div class="col-md-3 form-marings">
                    <input type="checkbox">Private Pool
                </div>
                <div class="col-md-3 form-marings">
                    <input type="checkbox">Soundproof
                </div>
                <div class="col-md-3 form-marings">
                    <input type="checkbox">Spa Tub
                </div>
                <div class="col-md-3 form-marings">
                    <input type="checkbox">Terrace
                </div>
                <div class="col-md-3 form-marings">
                    <input type="checkbox" checked="checked">View
                </div>
                <div class="col-md-3 form-marings">
                    <input type="checkbox">Wasing Machine
                </div>
                <div class="col-md-3 form-marings">
                    <input type="checkbox" checked="checked">Room service 24 hours?
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">

                <div class="col-md-12">
                    <label for="txtDescription">Description </label>
                    <textarea id="txtDescription" rows="4" class="form-control" placeholder="Description"></textarea>
                </div>
            </div>
        </div>

        @*  <h3 class="tab2section3" style="padding-top: 30px"><span class="section-index">3</span>&nbsp;Allotment <span class="text-danger"></span></h3>
        <div class="table-responsive" style="padding-bottom: 30px">
            <table style="width: 100%">
                <thead>
                    <tr>
                        <th style="width: 20%; padding: 5px">Allotment Validity From</th>
                        <th style="width: 20%; padding: 5px">Allotment Validity To</th>
                        <th style="width: 20%; padding: 5px">Allotment Rooms</th>
                        <th style="width: 15%; padding: 5px">Cut off (Days)</th>
                        <th style="width: 20%; padding: 5px">Min. Materialization</th>
                        <th style="width: 5%; padding: 5px"></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td style="padding: 5px">
                            <input type="text" class="form-control date-picker" id="txtAgeFrom" value="" placeholder="">
                        </td>
                        <td style="padding: 5px">
                            <input type="text" class="form-control date-picker" id="txtAgeTo" value="" placeholder="">
                        </td>
                        <td style="padding: 5px">
                            <input type="text" class="form-control" id="txtAgeTo" value="" placeholder="Inclusions">
                        </td>
                        <td style="padding: 5px">
                            <input type="text" class="form-control" id="txtAgeTo" value="" placeholder="Inclusions">
                        </td>
                        <td style="padding: 5px">
                            <input type="text" class="form-control" id="txtAgeTo" value="" placeholder="Inclusions">
                        </td>
                        <td style="padding: 5px">
                            <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>*@

        <br />
        <br />
        <button id="btnSave" type="submit" class="btn btn-success btnSave">
            SAVE</button>
        <button id="btnSave" type="submit" class="btn btn-primary btnSave">
            UPDATE</button>
        <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
            DELETE</button>
        <button id="btnSave" type="submit" class="btn btn-warning btnSave">
            CREATE NEW</button>
        <button id="btnSave" type="submit" class="btn btn-info btnSave">
            QUIT FORM</button>
        <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
            <span class="fa fa-refresh"></span>
        </a>

    </form>
</div>
<div class="col-md-4 summery-detail summery-uitilities-detail summerytab2">
    <div class="panel-body tab-itenaries ">
        <div class="panel-group">
            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title roompricesummery">Summary 
                         <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report">
                             <i class="fa fa-tasks"></i>
                         </a>
                        <a id="startGuiededTour" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Guided Tour">
                            <i class="icon-info"></i>
                        </a>
                        <a id="startTimeline" onclick="$('#showRightSideTimeline').trigger('click')" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="View Trail">
                            <i class="fa fa-sitemap"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>
                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created From Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Page Load Time: </td>
                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                </tr>
                                <tr>
                                    <td>Record Update Time: </td>
                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
