<h3 class="tab2section2" >Validity Period <span class="text-danger"></span></h3>
<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            
            <div class="table-responsive">
                <table style="width: 100%">
                    <thead>
                        <tr>
                            <th style="width: 30%; padding: 5px">Validity From</th>
                            <th style="width: 30%; padding: 5px">Validity To</th>
                            <th style="width: 34%; padding: 5px">Season</th>
                            <th style="width: 6%; padding: 5px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding: 5px">
                                <input type="text" class="form-control date-picker" id="txtAgeFrom" value="01/11/2015" placeholder="Service Cost ">
                            </td>
                            <td style="padding: 5px">
                                <input type="text" class="form-control date-picker" id="txtAgeFrom" value="19/12/2015" placeholder="Heading">
                            </td>
                            <td style="padding: 5px">
                                <input type="text" class="form-control" id="txtAgeFrom" value="Season - 1" placeholder="Season ">
                            </td>
                            <td style="padding: 5px">
                                <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-3">
            <label for="drpTypeOfSupplier">Rate Type<span>*</span></label>
            <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                <option selected="selected">Allotment</option>
                <option >On Request</option>

            </select>
        </div>
         <div class="col-md-3">
            <label for="drpTypeOfSupplier">Currency<span>*</span></label>
            <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                <option>USD</option>
                <option selected="selected">THB</option>

            </select>
        </div>
         <div class="col-md-3">
                <label for="txtTwinRoomRate">Double Room Rate </label>
                <div class="input-group input-append">
                    <input type="text" class="form-control" id="txtTwinRoomRate" value="1700" placeholder="">
                    <span class="input-group-addon add-on"><span>THB</span></span>
                </div>
            </div>
         <div class="col-md-3">
                <label for="txtTwinRoomRate">Extra Bed Adult Rate</label>
                <div class="input-group input-append">
                    <input type="text" class="form-control" id="txtTwinRoomRate" value="1000" placeholder="">
                    <span class="input-group-addon add-on"><span>THB</span></span>
                </div>
            </div>
        @* <div class="col-md-3">
                <label for="txtTwinRoomRate">Twin Room Rate </label>
                <div class="input-group input-append">
                    <input type="text" class="form-control" id="txtTwinRoomRate" value="1700" placeholder="Twin Room Rate">
                    <span class="input-group-addon add-on"><span>THB</span></span>
                </div>
            </div>*@
    </div>
</div>
<div class="form-group">
    <div class="row">
        
         <div class="col-md-3">
                <label for="txtTwinRoomRate">Extra Bed Child Rate</label>
                <div class="input-group input-append">
                    <input type="text" class="form-control" id="txtTwinRoomRate" value="500" placeholder="">
                    <span class="input-group-addon add-on"><span>THB</span></span>
                </div>
            </div>
         <div class="col-md-3">
                <label for="txtTwinRoomRate">Infant Rate</label>
                <div class="input-group input-append">
                    <input type="text" class="form-control" id="txtTwinRoomRate" value="0" placeholder="">
                    <span class="input-group-addon add-on"><span>THB</span></span>
                </div>
            </div>
    </div>
</div>
 <h3 class="tab2section3" style="padding-top: 30px">Allotment <span class="text-danger"></span></h3>
<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            
        <div class="table-responsive" style="padding-bottom: 30px">
            <table style="width: 100%">
                <thead>
                    <tr>
                        <th style="width: 20%; padding: 5px">Allotment Validity From</th>
                        <th style="width: 20%; padding: 5px">Allotment Validity To</th>
                        <th style="width: 20%; padding: 5px">Allotment Rooms</th>
                        <th style="width: 15%; padding: 5px">Cut off (Days)</th>
                        <th style="width: 20%; padding: 5px">Min. Materialization</th>
                        <th style="width: 5%; padding: 5px"></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td style="padding: 5px">
                            <input type="text" class="form-control date-picker" id="txtAgeFrom" value="01/11/2015" placeholder="">
                        </td>
                        <td style="padding: 5px">
                            <input type="text" class="form-control date-picker" id="txtAgeTo" value="19/12/2015" placeholder="">
                        </td>
                        <td style="padding: 5px">
                            <input type="text" class="form-control" id="txtAgeTo" value="2" placeholder="Inclusions">
                        </td>
                        <td style="padding: 5px">
                            <input type="text" class="form-control" id="txtAgeTo" value="14" placeholder="Inclusions">
                        </td>
                        <td style="padding: 5px">
                            <input type="text" class="form-control" id="txtAgeTo" value="50%" placeholder="Inclusions">
                        </td>
                        <td style="padding: 5px">
                            <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
            </div>
        </div>
    </div>
<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <h3>Blackout Period</h3>
            <div class="table-responsive">
                <table style="width: 100%">
                    <thead>
                        <tr>
                            <th style="width: 30%; padding: 5px">Blackout From Date</th>
                            <th style="width: 30%; padding: 5px">Blackout To Date</th>
                            <th style="width: 34%; padding: 5px">Comments</th>
                            <th style="width: 6%; padding: 5px"></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td style="padding: 5px">
                                <input type="text" class="form-control date-picker" id="txtAgeFrom" value="" placeholder="">
                            </td>
                            <td style="padding: 5px">
                                <input type="text" class="form-control date-picker" id="txtAgeFrom" value="" placeholder="">
                            </td>
                            <td style="padding: 5px">
                                <input type="text" class="form-control" id="txtAgeFrom" value="" placeholder="Comments">
                            </td>
                            <td style="padding: 5px">
                                <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
  