@{
    
    ViewBag.Title = "Sightseeing";
    ViewBag.PageTitle = "Sightseeing Master";
    ViewBag.Breadcurmb = "<ol class='breadcrumb'>";
    ViewBag.Breadcurmb += "<li>Sightseeing Code: <span>SS-5-0-1</span></li>";
    ViewBag.Breadcurmb += "<li>Operating Branch: <span>Pattaya</span></li>";
    ViewBag.Breadcurmb += "<li>User Created: <span>John Barter</span></li>";
    ViewBag.Breadcurmb += "<li>Created Date: <span>19-02-2016</span></li>";
    ViewBag.Breadcurmb += "<li>User Updated: <span>Iris Joe</span></li>";
    ViewBag.Breadcurmb += "<li>Updated Date: <span>29-02-2016</span></li>";
    ViewBag.Breadcurmb += "</ol>";
}

<style>
    .input-group-addon:last-child, .input-group-addon:hover
    {
        background-color: #22baa0;
        border-color: #22baa0;
        border-left: 0 none #22baa0;
        color: #fff;
    }
</style>
<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tab1" role="tab" data-toggle="tab" data-section="tab1" class="basic-accord"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Serach Sightseeing</a></li>
                    <li role="presentation"><a href="#tab2" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord"><span class="menu-icon fa fa-map-signs"></span>&nbsp;&nbsp;&nbsp;&nbsp;Create Sightseeing</a></li>
                    @*<li role="presentation"><a href="#tab3" role="tab" data-toggle="tab" data-section="tab3" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Show Time</a></li>*@
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <form>
                            <div class="table-responsive">
                                <div class="dropdown table-custome-drop">
                                    <div class="btn-group">
                                        <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="glyphicon glyphicon-download-alt"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Excel</a></li>
                                            <li><a href="#">PDF</a></li>
                                            <li><a href="#">Email</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <table id="example-editable" class="display table" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Sightseeing Name
                                            </th>
                                            <th>Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Sightseeing Name
                                            </th>
                                            <th>Action
                                            </th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <th></th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th>
                                                <a href="#">
                                                    <img src="assets/images/srach.png" height="15" width="15" /></a> <a href="#">
                                                        <img src="assets/images/close.png" height="15" width="15" /></a>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td><a href="javascript:void(0);">Akashardham</a>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2   </td>
                                            <td><a href="javascript:void(0);">Kakriya</a>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab2">
                        <div class="col-md-7">
                            <form>
                                <h3 class="tab2section1"><span class="section-index">1</span>&nbsp;Sightseeing - <span class="text-danger">Grand Palace - Pattaya</span></h3>
                                <div class="form-group">
                                    <label for="txtSightseeingName">Sightseeing Name <span>*</span></label>
                                    <input type="text" class="form-control" id="txtHotelName" placeholder="Sightseeing Company Name">
                                </div>
                                <div class="form-group">
                                    <label for="txtEntranceName">Entrance Name</label>
                                    <input type="text" data-role="tagsinput" class="form-control" value="Entrance1,Entrance2,Entrance3" id="txtentrancename" placeholder="Entrance Name">
                                </div>
                                <div class="form-group">
                                    <label>Optional Services</label>
                                    <input type="text" data-role="tagsinput" class="form-control" value="Soda Include, Starter,Soda For 2hr" id="txtoptionalservice" placeholder="Optional Services">
                                </div>
                                <div class="form-group">
                                    <div class="row">

                                        <div class="col-md-12">

                                            <label for="txtEntranceDescription">Sightseeing Description </label>
                                            <textarea id="txtEntranceDescription" rows="4" style="display: block; width: 100%"> </textarea>
                                        </div>
                                    </div>
                                </div>

                                @*  <div class="form-group">
                                    <label>Included Services</label>
                                    <input type="text" data-role="tagsinput" class="form-control" value="" id="txtTags" placeholder="Included Services">
                                </div>
                                <div class="form-group">
                                    <label>Additional Services</label>
                                    <input type="text" data-role="tagsinput" class="form-control" value="" id="txtTags" placeholder="Additional Services">
                                </div>*@
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="txtRestriction">Restriction </label>
                                            <textarea id="txtRestriction" rows="4" style="display: block; width: 100%"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="section-headers tab2section2"><span class="section-index">2</span>&nbsp;Sightseeing Address - <span class="text-danger">Grand Palace - Pattaya</span></h3>
                                <div class="form-group">
                                    <label for="txtHotelLocation">Location (Landmark) </label>
                                    <input type="text" class="form-control" id="txtHotelLocation" value="Pattaya Beach Road" placeholder="Hotel Location (Landmark)">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="txtAddressLine1">Address Line 1 </label>
                                            <input type="text" class="form-control" id="txtAddressLine1" value="240 Moo 5" placeholder="Address Line 1 ">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="txtAddressLine2">Address Line 2 </label>
                                            <input type="text" class="form-control" id="txtAddressLine2" value="Naklua, Banglamung,Chonburi" placeholder="Address Line 2">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="txtCity">City </label>
                                            <input type="text" class="form-control" value="Chonburi" id="txtCity" placeholder="City">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtState">State</label>
                                            <input type="text" class="form-control" value="Pattaya Central" id="txtState" placeholder="State">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtCountry">Country</label>
                                            <input type="text" class="form-control" value="Thailand" id="txtCountry" placeholder="Country">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtZipCode">Zip/Postal Code</label>
                                            <input type="text" class="form-control" id="txtZipCode" value="20150" placeholder="Country">
                                        </div>
                                    </div>
                                </div>
                                <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                    SAVE</button>
                                <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                    UPDATE</button>
                                <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                    DELETE</button>
                                <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                                    CREATE NEW</button>
                                <button id="btnSave" type="submit" class="btn btn-info btnSave">
                                    QUIT FORM</button>
                            </form>

                            <h3 class="section-headers tab2section3"><span class="section-index">3</span>&nbsp;Show Time - <span class="text-danger">Grand Palace - Pattaya</span></h3>
                            <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#tab2-1" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord sub-tabbing"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Serach Show Time</a></li>
                                <li role="presentation"><a href="#tab2-2" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord sub-tabbing"><span class="menu-icon fa fa-bed "></span>&nbsp;&nbsp;&nbsp;&nbsp;Show Time</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="tab2-1">
                                    <div class="table-responsive">
                                        <table id="" class="display table datatable" style="width: 100%; cellspacing: 0;">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Show Time </th>
                                                    <th>SIC Pickup Time</th>
                                                    <th style="width: 15%;">Action</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Show Time </th>
                                                    <th>SIC Pickup Time</th>
                                                    <th>Action</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                <tr>
                                                    <th></th>
                                                    <th>
                                                        <input type="text" />
                                                    </th>
                                                    <th>
                                                        <input type="text" />
                                                    </th>
                                                    <th>
                                                        <a href="#">
                                                            <img src="assets/images/srach.png" height="15" width="15" /></a> <a href="#">
                                                                <img src="assets/images/close.png" height="15" width="15" /></a>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td><span>10:30</span></td>
                                                    <td><span>10:00</span></td>

                                                    <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                    &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane" id="tab2-2">
                                    <form>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="timepicker1">Show Time<span>*</span></label>
                                                    <div class="input-group input-append bootstrap-timepicker">
                                                        <input type="text" class="form-control" id="timepicker1">
                                                        <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <label for="timepicker2">SIC Pickup Time <span>*</span></label>
                                                    <div class="input-group input-append bootstrap-timepicker">
                                                        <input type="text" class="form-control" id="timepicker2">
                                                        <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                            SAVE</button>
                                        <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                            UPDATE</button>
                                        <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                            DELETE</button>
                                        <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                                            CREATE NEW</button>
                                        <button id="btnSave" type="submit" class="btn btn-info btnSave">
                                            QUIT FORM</button>
                                    </form>


                                </div>
                            </div>

                        </div>
                          <div class="col-md-5 summery-detail summerytab2">
                                    <div class="panel panel-white">
                                        <h4 class="panel-title-summery">Summary </h4>
                                        <ul class="utilitis-drop ">
                                            <li><a href="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown">
                                                <img src="assets/images/utilitis-icon.png" height="19" width="19" /></a>
                                                <ul>
                                                    <li><a href="#"><i class="task">&nbsp;</i><br />
                                                        Task </a></li>
                                                    <li><a href="#"><i class="noti">&nbsp;</i><br />
                                                        Notifications </a></li>
                                                    <li><a href="#"><i class="cal">&nbsp;</i><br />
                                                        Calendar </a></li>
                                                    <li><a href="#"><i class="e-mail">&nbsp;</i><br />
                                                        Email </a></li>
                                                    <li><a href="#"><i class="sms">&nbsp;</i><br />
                                                        SMS </a></li>
                                                    <li><a href="#"><i class="notes">&nbsp;</i><br />
                                                        Notes </a></li>
                                                    <li><a href="#"><i class="tages">&nbsp;</i><br />
                                                        Tags </a></li>
                                                    <li><a href="#"><i class="help-video">&nbsp;</i><br />
                                                        Help Video </a></li>
                                                    <li><a href="#"><i class="guided-tour">&nbsp;</i><br />
                                                        Guided Tour </a></li>
                                                    <li><a href="#"><i class="copy">&nbsp;</i><br />
                                                        Copy </a></li>
                                                    <li><a href="#"><i class="print">&nbsp;</i><br />
                                                        Print </a></li>
                                                    <li><a href="#"><i class="updates">&nbsp;</i><br />
                                                        Updates </a></li>
                                                    <li><a href="#"><i class="screns">&nbsp;</i><br />
                                                        Screenshot </a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <div class="panel-body" style="border: 1px solid #22BAA0;">
                                            <div class="summ-lis-height">
                                                <ul class="summery-list slimscroll">
                                                    <div class="summ-list-left">
                                                        <li>Sightseeing Name
                                                    <br />
                                                            <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                                <label id="lblHotelName" for="txtHotelName"></label>
                                                                <i>&nbsp;</i>
                                                            </a>
                                                        </li>
                                                    </div>
                                                    <div class="summ-list-right">
                                                    </div>
                                                </ul>
                                            </div>
                                            <div class="summery-buttons">
                                                <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                                    SAVE</button>
                                                <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                                    UPDATE</button>
                                                <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                                    DELETE</button>
                                                <p>
                                                    Inputs with <i class="cross">&nbsp;</i> mark are incorrect
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    @section floatingsection{
        <div class="floating-section-buttons tab2" style="display: none">
            <a class="btn btn-default" data-section="tab2section1" rel="tooltip" title="Sightseeing">1</a>
            <a class="btn btn-default" data-section="tab2section2" rel="tooltip" title="Sightseeing Address">2</a>
            <a class="btn btn-default" data-section="tab2section3" rel="tooltip" title="Show Time ">3</a>
        </div>
        <div class="floating-section-buttons tab6" style="display: none">
            <a class="btn btn-default" data-section="tab6section1" rel="tooltip" title="Show Time">1</a>
            <a class="btn btn-default" data-section="tab6section2" rel="tooltip" title="Cancellation Policies">2</a>
        </div>
    }