@{
    
    ViewBag.Title = "Sightseeing";
    ViewBag.PageTitle = "Sightseeing Master";
}

<style>
    .input-group-addon:last-child,.input-group-addon:hover {
        background-color: #22baa0;
        border-color: #22baa0;
        border-left: 0 none #22baa0;
        color: #fff;
    }
</style>
<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tab1" role="tab" data-toggle="tab" data-section="tab1" class="basic-accord"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Serach Sightseeing</a></li>
                    <li role="presentation"><a href="#tab2" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord"><span class="menu-icon fa fa-map-signs"></span>&nbsp;&nbsp;&nbsp;&nbsp;Create Sightseeing</a></li>
                    @*<li role="presentation"><a href="#tab3" role="tab" data-toggle="tab" data-section="tab3" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Show Time</a></li>*@
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <form>
                            <div class="table-responsive">
                                <div class="dropdown table-custome-drop">
                                    <div class="btn-group">
                                        <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="glyphicon glyphicon-download-alt"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Excel</a></li>
                                            <li><a href="#">PDF</a></li>
                                            <li><a href="#">Email</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <table id="example-editable" class="display table" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Sightseeing Name
                                            </th>
                                            <th>Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Sightseeing Name
                                            </th>
                                            <th>Action
                                            </th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <th></th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th>
                                                <a href="#">
                                                    <img src="assets/images/srach.png" height="15" width="15" /></a> <a href="#">
                                                        <img src="assets/images/close.png" height="15" width="15" /></a>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td><a href="javascript:void(0);">Akashardham</a>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2   </td>
                                            <td><a href="javascript:void(0);">Kakriya</a>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab2">
                        <div class="col-md-7">
                            <form>
                                <h3 class="tab2section1"><span class="section-index">1</span>&nbsp;Sightseeing - <span class="text-danger">Grand Palace - Pattaya</span></h3>
                                <div class="form-group">
                                    <label for="txtSightseeingName">Sightseeing Name <span>*</span></label>
                                    <input type="text" class="form-control" id="txtSightseeingName" placeholder="Sightseeing Name ">
                                </div>
                                <div class="form-group">
                                    <label for="txtEntranceName">Entrance Name</label>
                                    <input type="text" data-role="tagsinput" class="form-control" id="txtEntranceName" placeholder="Entrance Name">
                                </div>
                                <div class="form-group">
                                    <label for="txtEntranceDescription">Sightseeing Description </label>
                                    <textarea id="txtEntranceDescription" rows="4" style="display: block; width: 100%">
                                    </textarea>
                                </div>
                                <div class="form-group">
                                    <label>Additional Services</label>
                                    <input type="text" data-role="tagsinput" class="form-control" value="" id="txtTags" placeholder="Additional Services">
                                </div>
                                <div class="form-group">
                                    <label for="txtRestriction">Restriction </label>
                                    <textarea id="txtRestriction" rows="4" style="display: block; width: 100%">
                                    </textarea>
                                </div>

                                <h3 class="section-headers tab2section2"><span class="section-index">2</span>&nbsp;Show Time - <span class="text-danger">Grand Palace - Pattaya</span></h3>
                                <div class="form-group">
                                    <label for="drpSightseeingName">Sightseeing Name</label>
                                    <select id="drpSightseeingName" class="js-states form-control" style="display: none; width: 100%">
                                    </select>
                                </div>
                                <div class="table-responsive">
                                    <table id="exampleeditable" class="display table" style="width: 100%; cellspacing: 0;">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Show Time
                                                </th>
                                                <th>SIC Pickup Time
                                                </th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>
                                                    <button id="btnadd" class="btn btn-success btnSave" type="submit">
                                                        Add</button>
                                                </th>
                                                <th></th>

                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>
                                                    <div class="input-group input-append bootstrap-timepicker">
                                                        <input type="text" class="form-control" id="timepicker1">
                                                        <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group input-append bootstrap-timepicker">
                                                        <input type="text" class="form-control" id="timepicker2">
                                                        <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>
                                                    <div class="input-group input-append bootstrap-timepicker">
                                                        <input type="text" class="form-control" id="timepicker3">
                                                        <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group input-append bootstrap-timepicker">
                                                        <input type="text" class="form-control" id="timepicker4">
                                                        <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <br />
                                <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                    SAVE</button>
                                <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                    UPDATE</button>
                                <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                    DELETE</button>
                                <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                                    CLEAR</button>
                                <button id="btnSave" type="submit" class="btn btn-info btnSave">
                                    QUIT FORM</button>
                            </form>
                        </div>
                        <div class="col-md-5 summery-detail summerytab2">
                            <div class="panel panel-white">
                                <h4 class="panel-title-summery">Summary </h4>
                                <ul class="utilitis-drop ">
                                    <li><a href="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown">
                                        <img src="assets/images/utilitis-icon.png" height="19" width="19" /></a>
                                        <ul>
                                            <li><a href="#"><i class="task">&nbsp;</i><br />
                                                Task </a></li>
                                            <li><a href="#"><i class="noti">&nbsp;</i><br />
                                                Notifications </a></li>
                                            <li><a href="#"><i class="cal">&nbsp;</i><br />
                                                Calendar </a></li>
                                            <li><a href="#"><i class="e-mail">&nbsp;</i><br />
                                                Email </a></li>
                                            <li><a href="#"><i class="sms">&nbsp;</i><br />
                                                SMS </a></li>
                                            <li><a href="#"><i class="notes">&nbsp;</i><br />
                                                Notes </a></li>
                                            <li><a href="#"><i class="tages">&nbsp;</i><br />
                                                Tags </a></li>
                                            <li><a href="#"><i class="help-video">&nbsp;</i><br />
                                                Help Video </a></li>
                                            <li><a href="#"><i class="guided-tour">&nbsp;</i><br />
                                                Guided Tour </a></li>
                                            <li><a href="#"><i class="copy">&nbsp;</i><br />
                                                Copy </a></li>
                                            <li><a href="#"><i class="print">&nbsp;</i><br />
                                                Print </a></li>
                                            <li><a href="#"><i class="updates">&nbsp;</i><br />
                                                Updates </a></li>
                                            <li><a href="#"><i class="screns">&nbsp;</i><br />
                                                Screenshot </a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="panel-body" style="border: 1px solid #22BAA0;">
                                    <div class="summ-lis-height">
                                        <ul class="summery-list slimscroll">
                                            <div class="summ-list-left">
                                                <li>Sightseeing Name
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblHotelName" for="txtHotelName"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                            </div>
                                            <div class="summ-list-right">
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="summery-buttons">
                                        <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                            SAVE</button>
                                        <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                            UPDATE</button>
                                        <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                            DELETE</button>
                                        <p>
                                            Inputs with <i class="cross">&nbsp;</i> mark are incorrect
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab6">
                        <div class="col-md-12">
                            <form>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="panel panel-white">
        <h4 class="panel-title-summery">Utilities </h4>
        <div class="panel-body utility-panel">
            <ul class="utility-list">
                <li>
                    <a href="#">
                        <i class="task">&nbsp;</i><br />
                        Task
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="noti">&nbsp;</i><br />
                        Notifications
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="cal">&nbsp;</i><br />
                        Calendar
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="e-mail">&nbsp;</i><br />
                        Email
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="sms">&nbsp;</i><br />
                        SMS
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="notes">&nbsp;</i><br />
                        Notes
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="tages">&nbsp;</i><br />
                        Tags
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="help-video">&nbsp;</i><br />
                        Help Video
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="guided-tour">&nbsp;</i><br />
                        Guided Tour
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="copy">&nbsp;</i><br />
                        Copy
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="print">&nbsp;</i><br />
                        Print
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="updates">&nbsp;</i><br />
                        Updates
                    </a>
                </li>
                <li>

                    <a href="#">
                        <i class="screns">&nbsp;</i><br />
                        Screenshot
                    </a>
                </li>
            </ul>

        </div>
    </div>

</div>

@section floatingsection{
    <div class="floating-section-buttons tab3" style="display: none">
        <a class="btn btn-default" data-section="tab3section1" rel="tooltip" title="Sightseeing User">1</a>
        <a class="btn btn-default" data-section="tab3section2" rel="tooltip" title="Billing">2</a>
        <a class="btn btn-default" data-section="tab3section3" rel="tooltip" title="Bank">3</a>
    </div>
    <div class="floating-section-buttons tab6" style="display: none">
        <a class="btn btn-default" data-section="tab6section1" rel="tooltip" title="Show Time">1</a>
        <a class="btn btn-default" data-section="tab6section2" rel="tooltip" title="Cancellation Policies">2</a>
    </div>
}