<div class="col-md-8 full-responsive">
    <form>
        <div class="row">
            <div class="col-md-12">
                <h3><span class="tab-section-name">Master Configuration</span>
                    <span class="responsiveButtons">
                        <a id="showRightSideSummaryInner" onclick="$('#showRightSideSummary').trigger('mouseover')" style="float: right; padding: 10px; margin-right: 10px;" class="text-danger responsiveUtilityButton" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report">
                            <i class="fa fa-tasks"></i>
                        </a>
                        <a id="startGuiededTourInner" onclick="$('#startGuiededTour').trigger('click')" style="float: right; padding: 10px; margin-right: 10px;" class="text-danger responsiveGuidedTourButton" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Guided Tour">
                            <i class="fa fa-info-circle"></i>
                        </a>
                        <a id="startTimelineInner" onclick="$('#showRightSideTimeline').trigger('click')" style="float: right; padding: 10px; margin-right: 10px;" class="text-danger responsiveViewTrailButton" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="View Trail">
                            <i class="fa fa-sitemap"></i>
                        </a>
                    </span>
                </h3>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" style="display: none" class="form-control" id="type" placeholder="Master Name">
                    <label>Master Name <span>*</span></label>
                    <input type="text" class="form-control req" id="txtMasterName" placeholder="Master Name">
                </div>
                <div class="col-md-6">
                    <label for="txtHotelCode">Master Code <span>*</span></label>
                    <input type="text" class="form-control req" id="txtMasterCode" placeholder="Master Code">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="drpIndustrymaster">Industry </label>
                    <select id="drpIndustrymaster" class="js-states form-control drpdown" style="display: none; width: 100%">
                        <option value="0">--None-- </option>
                        <option value="1">Travels </option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="drpEntrylevel">Entry Level <span>*</span></label>
                    <select id="drpEntrylevel" class="js-states form-control drpdown req" style="display: none; width: 100%">
                        <option value="0">--None--</option>
                        <option value="1">Super Admin</option>
                        <option value="2">Corporate Admin</option>
                        <option value="3">Common Shared</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="drpCorporate">Corporate</label>
                    <select id="drpCorporate" class="js-states form-control drpdown req" style="display: none; width: 100%">
                        <option value="0">--None--</option>
                        <option value="1">Patel Tours&Travels</option>
                        <option value="2">Flamingo Travels</option>
                        <option value="3">Eagle Travels</option>
                    </select>
                </div>
            </div>
        </div>


        <br />
        <button id="btnSaveMastersetup" type="submit" class="btn btn-success btnSave">
            CREATE MASTER</button>
        <button id="btnsUpdate" type="submit" class="btn btn-primary btnSave" style="display: none">
            UPDATE</button>
        <button id="btnDelete" type="submit" class="btn btn-green" style="display: none">
            DELETE</button>
        <button id="btnCancelMastersetup" type="submit" class="btn btn-warning " style="display: none;">
            CLEAR</button>
        <button id="btnQuitform" type="submit" class="btn btn-info ">
            QUIT FORM</button>
        <a class="btn btn-refresh" rel="tooltip" title="Refresh Page" aria-expanded="false" onclick="window.location.href=window.location.href;">
            <span class="fa fa-refresh"></span>
        </a>

    </form>

    <br />
    <br />




</div>
<div class="col-md-4 summery-detail summery-uitilities-detail summerytab2">
    <div class="panel-body tab-itenaries ">
        <div class="panel-group">
            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title">Summary 
                                                <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report">
                                                    <i class="fa fa-tasks"></i>
                                                </a>
                        <a id="startGuiededTour" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Guided Tour">
                            <i class="icon-info"></i>
                        </a>
                        <a id="startTimeline" onclick="$('#showRightSideTimeline').trigger('click')" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="View Trail">
                            <i class="fa fa-sitemap"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>
                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Page Load Time: </td>
                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                </tr>
                                <tr>
                                    <td>Update Time: </td>
                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
