@{
    ViewBag.Title = "Configure";
    ViewBag.PageTitle = "Configure Master";
}

<link href="~/assets/plugins/datatables/css/dataTables.tableTools.css" rel="stylesheet" />

<style>
    .field-name {
        float: left;
        width: 50%;
    }

    .modify-colum-model .dropdown.table-custome-drop {
        float: left;
        width: 50%;
    }

    .field-name {
        padding-right: 15px;
    }
</style>

<style>
    .summery-uitilities-detail {
        width: 33.3333%;
        overflow: hidden;
        padding-right: 0;
    }

    .summery-nav-btn {
        background-color: #ccc;
        color: #22baa0;
        cursor: not-allowed;
        font-size: 0.7em;
        margin-left: 5px;
        padding: 5px;
        float: right;
    }

        .summery-nav-btn.active {
            background-color: #fff;
            cursor: pointer;
        }

    .summary-body p {
        margin: 0;
    }

    .summary-list .label {
        font-size: 100%;
    }

    .summary-list {
        margin-bottom: 0;
    }

        .summary-list > tbody > tr > td {
            text-align: left !important;
            width: auto;
        }

            .summary-list > tbody > tr > td:first-child {
                width: 45%;
            }

        .summary-list > tbody > tr:first-child > td {
            border-top-width: 0;
        }


    .field-list .active {
        background-color: #4fe7cd;
        color: #fff !important;
        font-weight: bolder;
        /*font-size: 14px;*/
    }

    .field-list a:hover {
        text-decoration: none;
    }

    li.content {
        list-style: outside none none;
        transition: 1s;
        border: 1px solid #22BAA0;
    }

        li.content .libody {
            transition-timing-function: linear;
        }


    .panel-red .panel-collapse, .panel-blue .panel-collapse, .panel-purple .panel-collapse, .panel-green .panel-collapse {
        border: 1px solid #F25656;
        border-radius: 0 0 5px 5px;
    }

    .panel-blue .panel-collapse {
        border: 1px solid #12AFCB;
    }

    .panel-purple .panel-collapse {
        border: 1px solid #7A6FBE;
    }

    .panel-green .panel-collapse {
        border: 1px solid #22BAA0;
    }

    .panel-group {
        margin-bottom: 0;
    }

        .panel-group .panel-red .panel-collapse .panel-body, .panel-blue .panel-collapse .panel-body, .panel-purple .panel-collapse .panel-body {
            color: #4e5e6a;
        }

        .panel-group .panel .panel-heading {
            padding: 10px;
        }

    .panel .panel-heading .panel-title {
        color: #fff !important;
        float: none;
        font-weight: normal;
        font-size: 17px;
        border-bottom-width: 0;
    }

    .panel-group .panel .panel-body h3, .panel-group .panel .panel-body h4 {
        margin: 0;
    }

    .tab-itenaries {
        border: 1px double #bec8d2 !important;
        border-radius: 5px !important;
        box-shadow: 3px 3px 7px -5px rgba(0, 0, 0, 0.5);
        margin-bottom: 15px;
        padding-bottom: 10px;
    }

        .tab-itenaries .table > tbody > tr > td {
            font-size: 12px;
            padding: 7px !important;
        }
</style>

<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                    <li role="presentation" class="active" id="SearchMaster"><a href="#tab1" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Search Master </a></li>
                    <li role="presentation" id="CreateMaster"><a href="#tab2" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord"><span class="menu-icon fa fa-book"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tab-name">Create Master</span></a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <form>
                            <div class="dropdown table-custome-drop">
                                <div class="btn-group">
                                    <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <span class="glyphicon glyphicon-download-alt"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Excel</a></li>
                                        <li><a href="#">PDF</a></li>
                                        <li><a href="#">Email</a></li>
                                    </ul>
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="table-responsive">

                                <table id="example-editable" class="display table" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Industry</th>
                                            <th>Corporate</th>
                                            <th>Master Code</th>
                                            <th>Entry Level</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Industry</th>
                                            <th>Corporate</th>
                                            <th>Master Code</th>
                                            <th>Entry Level</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                       @* <tr>
                                            <th></th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th>
                                                <a href="#">
                                                    <img src="assets/images/srach.png" height="15" width="15" /></a> <a href="#">
                                                        <img src="assets/images/close.png" height="15" width="15" /></a>
                                            </th>
                                        </tr>*@
                                        <tr>
                                            <td>1</td>
                                            <td><span>Travel</span></td>
                                            <td><span>Travel</span></td>
                                            <td><span>Patel Travels</span></td>
                                            <td><span>ABANK</span></td>
                                            <td><span>General</span>
                                            <td>
                                                <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>

                                    </tbody>

                                </table>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="tab2">
                        <div class="col-md-8">
                            <form>
                                <h3><span class="tab-section-name">Master Configuration</span></h3>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" style="display: none" class="form-control" id="type" placeholder="Master Name">
                                            <label>Master Name <span>*</span></label>
                                            <input type="text" class="form-control req" id="txtMasterName" placeholder="Master Name">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="txtHotelCode">Master Code <span>*</span></label>
                                            <input type="text" class="form-control req" id="txtMasterCode" placeholder="Master Code">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="drpIndustrymaster">Industry </label>
                                            <select id="drpIndustrymaster" class="js-states form-control drpdown" style="display: none; width: 100%">
                                                <option value="0">--None-- </option>
                                                <option value="1">Travels </option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="drpEntrylevel">Entry Level <span>*</span></label>
                                            <select id="drpEntrylevel" class="js-states form-control drpdown req" style="display: none; width: 100%">
                                                <option value="0">--None--</option>
                                                <option value="1">Super Admin</option>
                                                <option value="2">Corporate Admin</option>
                                                <option value="3">Common Shared</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="drpCorporate">Corporate</label>
                                            <select id="drpCorporate" class="js-states form-control drpdown req" style="display: none; width: 100%">
                                                <option value="0">--None--</option>
                                                <option value="1">Patel Tours&Travels</option>
                                                <option value="2">Flamingo Travels</option>
                                                <option value="3">Eagle Travels</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <br />
                                <button id="btnSaveMastersetup" type="submit" class="btn btn-success btnSave">
                                    CREATE MASTER</button>
                                <button id="btnsUpdate" type="submit" class="btn btn-primary btnSave" style="display: none">
                                    UPDATE</button>
                                <button id="btnDelete" type="submit" class="btn btn-green" style="display: none">
                                    DELETE</button>
                                <button id="btnCancelMastersetup" type="submit" class="btn btn-warning " style="display: none;">
                                    CLEAR</button>
                                <button id="btnQuitform" type="submit" class="btn btn-info ">
                                    QUIT FORM</button>

                            </form>

                            <br />
                            <br />

                            <h3><span class="tab-section-name">Master Form Fields</span></h3>
                            <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                                <li role="presentation" class="active" id="SearchMasterFormFieldli"><a href="#SearchMasterFormField" role="tab" data-toggle="tab" data-section="SearchMasterFormField" class="hosting-accord sub-tabbing"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Search Form Field </a></li>
                                <li role="presentation" id="CreateMasterFormFieldli"><a href="#CreateMasterFormField" role="tab" data-toggle="tab" data-section="CreateMasterFormField" class="basic-accord sub-tabbing"><span class="menu-icon fa fa-book"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tab-name">Create Form Field</span></a></li>

                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="SearchMasterFormField">
                                    <div class="col-md-12">
                                        <form>
                                            <div class="dropdown table-custome-drop">
                                                <div class="btn-group">
                                                    <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                        <span class="glyphicon glyphicon-download-alt"></span>
                                                    </a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="#">Excel</a></li>
                                                        <li><a href="#">PDF</a></li>
                                                        <li><a href="#">Email</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <br />
                                            <br />
                                            <div class="table-responsive">

                                                <table id="" class="display table datatable" style="width: 100%; cellspacing: 0;">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Sequence Number</th>
                                                            <th>Control Label</th>
                                                            <th>Control Type</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Sequence Number</th>
                                                            <th>Control Label</th>
                                                            <th>Control Type</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </tfoot>
                                                    <tbody>
                                                        @*<tr>
                                                            <th></th>
                                                            <th>
                                                                <input type="text" />
                                                            </th>
                                                            <th>
                                                                <input type="text" />
                                                            </th>
                                                            <th>
                                                                <input type="text" />
                                                            </th>
                                                            <th>
                                                                <a href="#">
                                                                    <img src="assets/images/srach.png" height="15" width="15" /></a> <a href="#">
                                                                        <img src="assets/images/close.png" height="15" width="15" /></a>
                                                            </th>
                                                        </tr>*@
                                                        <tr>
                                                            <td>1</td>
                                                            <td><span>1</span></td>
                                                            <td><span>City Name</span></td>
                                                            <td><span>DropDown</span>
                                                            <td>
                                                                <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                                &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                                            </td>
                                                        </tr>

                                                    </tbody>

                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane " id="CreateMasterFormField">
                                    <div class="col-md-12">
                                        <form>
                                            <h3><span class="tab-section-name">Form Fields</span></h3>

                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Control Sequence Number <span>*</span></label>
                                                        <input type="text" class="form-control req" id="txtControlSequenceNumber" placeholder="1">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>Control Type <span>*</span></label>
                                                        <select id="drpControlType" class="js-states form-control drpdown req" style="display: none; width: 100%">
                                                            <option value="0">--None--</option>
                                                            <option value="1">TextBox</option>
                                                            <option value="2" selected="selected">DropDown</option>
                                                            <option value="3">Multiselect</option>
                                                            <option value="4">Rating</option>
                                                            <option value="5">Date</option>
                                                            <option value="6">Time</option>
                                                            <option value="7">TextArea</option>
                                                            <option value="8">HTML Editor</option>
                                                            <option value="8">Upload</option>
                                                        </select>

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Value</label>
                                                        <select id="drpValue" class="js-states form-control drpdown req" style="display: none; width: 100%">
                                                            <option value="0">--None--</option>
                                                            <option value="1">Value 1 </option>

                                                        </select>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>Control Label <span>*</span></label>
                                                        <input type="text" class="form-control req" id="txtControlLable" placeholder="Place Name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Control Place Holder</label>
                                                        <input type="text" class="form-control req" id="txtControlPlaceholder" placeholder="Enter City">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>Control Help Text </label>
                                                        <input type="text" class="form-control req" id="txtcontrolHelpText" placeholder="Help">
                                                    </div>
                                                </div>
                                            </div>

                                            <h6>&nbsp;</h6>
                                            <h3><span class="tab-section-name">Form Control Validation</span></h3>
                                            <div class="form-group">
                                                <div class="row">

                                                    <div class="col-md-3 form-marings">
                                                        <div class="row">
                                                            <label for="chkreq">&nbsp;</label>
                                                            <div class="col-md-12 form-marings">
                                                                <input type="checkbox" checked="checked" id="chkRequired">Required
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 form-marings">
                                                        <div class="row">
                                                            <label for="chkcharlim">&nbsp;</label>
                                                            <div class="col-md-12 form-marings">
                                                                <input type="checkbox" checked="checked" id="chkcharlimit">Character Limit
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 form-marings">
                                                        <label>Other Validation</label>
                                                        <select id="drpFormValidation" class="js-states form-control drpdown req" style="display: none; width: 100%">
                                                            <option value="0">--None--</option>
                                                            <option value="email">Email</option>
                                                            <option value="Numeric">Numeric</option>
                                                            <option value="Alphabetic">Alphabetic</option>
                                                            <option value="Alphanumeric">Alphanumeric</option>
                                                            <option value="DecimalAmount">Numeric(Decimal Amount)</option>
                                                            <option value="url">URL</option>
                                                            <option value="NegNumberAllowed">Numeric(Neg. Number Allowed)</option>
                                                            <option value="Negdecimalnumber">Numeric(Neg. Decimal Amount)</option>
                                                            <option value="Regularexpression" selected="selected">Regular Expression</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">

                                                    <div class="col-md-3">
                                                        <label>Max Character </label>
                                                        <input type="text" class="form-control req" id="txtMaxValue" placeholder="5">
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>Min Character</label>
                                                        <input type="text" class="form-control req" id="txtMinvalue" placeholder="2">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>Regular Expression Value </label>
                                                        <input type="text" class="form-control req" id="txtRegularExpression" placeholder="^[1-9]([0-9]{1,45}$)">
                                                    </div>

                                                </div>
                                            </div>
                                            <br />
                                            <button id="btnCreateMasterFormField" type="submit" class="btn btn-success btnSave">
                                                CREATE MASTER</button>

                                            <button id="btnQuitField" type="submit" class="btn btn-info ">
                                                QUIT FORM</button>
                                        </form>
                                    </div>
                                </div>

                            </div>


                        </div>
                        <div class="col-md-4 summery-detail summery-uitilities-detail summerytab2">
                            <div class="panel-body tab-itenaries ">
                                <div class="panel-group">
                                    <div class="panel panel-red">
                                        <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                                            <h4 class="panel-title">Summary <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report">
                                                <i class="icon-reload"></i>
                                            </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                                            <div class="panel-body summary-body">
                                                <table class="table summary-list">
                                                    <tbody>
                                                        <tr>
                                                            <td>Created By: </td>
                                                            <td><span class="label label-success">Samir Shah</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Created Date: </td>
                                                            <td><span class="label label-warning">06-Mar-2016</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Created From Branch: </td>
                                                            <td><span class="label label-danger">Bangkok</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Last Updated By: </td>
                                                            <td><span class="label label-info">Samir Shah</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Last Updated Date: </td>
                                                            <td><span class="label label-warning">14-Mar-2016</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade modify-colum-model" id="DeleteModel" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">System Message</h4>
                    </div>

                    <div class="modal-body  custom-model-body">
                        <form>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label id="lbldelete"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" id="modeldelete">Ok</button>
                                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/assets/plugins/datatables/js/dataTables.tableTools.js"></script>
    <script src="~/assets/plugins/table-export/tableExport.js"></script>
    <script src="~/assets/plugins/table-export/jquery.base64.js"></script>
    <script src="~/assets/plugins/table-export/html2canvas.js"></script>
    <script src="~/assets/plugins/table-export/jspdf/libs/sprintf.js"></script>
    <script src="~/assets/plugins/table-export/jspdf/jspdf.js"></script>
    <script src="~/assets/plugins/table-export/jspdf/libs/base64.js"></script>
    @*<script src="~/Scripts/JS/Page/Masters.js"></script>*@
    <script src="/assets/js/jquery.mjs.nestedSortable.js"></script>
    <script>
        $(document).ready(function () {
            if ($('ol.sortable').length) {
                $('ol.sortable').nestedSortable({
                    forcePlaceholderSize: true,
                    handle: 'div',
                    helper: 'clone',
                    items: 'li',
                    opacity: .6,
                    placeholder: 'placeholder',
                    revert: 250,
                    tabSize: 25,
                    tolerance: 'pointer',
                    toleranceElement: '> div',
                    maxLevels: 3,

                    //isTree: true,
                    expandOnHover: 700,
                    startCollapsed: true
                });


            }

            //});
            Morris.Bar({
                element: 'morris2',
                data: [
                    { year: '11-Mar-2016', a: 25, b: 15 },
                    { year: '12-Mar-2016', a: 05, b: 12 },
                    { year: '13-Mar-2016', a: 05, b: 32 },
                    { year: '14-Mar-2016', a: 19, b: 05 },
                    { year: '15-Mar-2016', a: 25, b: 40 },
                    { year: '16-Mar-2016', a: 65, b: 10 },
                    { year: '17-Mar-2016', a: 65, b: 60 }
                ],
                xkey: 'year',
                ykeys: ['a', 'b'],
                labels: ['a', 'b'],
                barRatio: 0.4,
                xLabelAngle: 35,
                hideHover: 'auto',
                barColors: ['#6ad6c3', '#22BAA0'],
                resize: true
            });



        });
    </script>
}


@section rightsidesummary{
    <h3>
        <span class="">
            <div class="btn-group">
                <a class="btn tab-itenaries btn-utilities-right">Utilities</a>
                <a class="btn btn-quickreport-right">Quick Report</a>
            </div>
        </span>
        <a href="javascript:void(0);" class="pull-right btn" id="closeRightSideSummary" style="padding-left: 0 !important; padding-right: 0 !important;"><i class="fa fa-times"></i></a>
    </h3>
    <div class="slimscroll utilities-sidebar">
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-notebook-black-tool-symbol"></i>
            <span>Task</span>
        </a>
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-megaphone-black-amplification-audio-tool-symbol"></i>
            <span>Notification</span>
        </a>
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-calendar-events-symbol"></i>
            <span>Calendar</span>
        </a>
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-new-email-black-back-envelope-symbol-of-interface"></i>
            <span>Email</span>
        </a>
        @*<a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-notebook-black-tool-symbol"></i>
            <span>SMS</span>
        </a>*@
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-broken-black-ticket-symbol"></i>
            <span>Notes</span>
        </a>
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-close-arrow-shape-button-interface-symbol"></i>
            <span>Tags</span>
        </a>
        <a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-film-strip-piece-of-two-photograms"></i>
            <span>Help Video</span>
        </a>
        @*<a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-notebook-black-tool-symbol"></i>
            <span>Guided Tour</span>
        </a>*@
        @*<a href="javascript:void(0);" class="showRight2">
            <i class="flaticon-notebook-black-tool-symbol"></i>
            <span>Copy</span>
        </a>*@
        <a href="javascript:void(0);">
            <i class="flaticon-printing-button-interface-symbol"></"></i>
            <span>Print</span>
        </a>
        <a href="javascript:void(0);">
            <i class="flaticon-photo-camera-black-tool"></i>
            <span>Screenshot</span>
        </a>
        <hr />
        <div class="col-md-12">
            <h4 class="text-danger" style="border-bottom: 1px dashed #ccc; padding: 0 5px 5px 5px;">Notification</h4>

            <ul class="list-unstyled">
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-success"><i class="icon-user"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1min ago</span>
                        <p class="task-details">New user registered.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-danger"><i class="icon-energy"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">24min ago</span>
                        <p class="task-details">Database error.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-info"><i class="icon-heart"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1h ago</span>
                        <p class="task-details">Reached 24k likes</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-success"><i class="icon-user"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1min ago</span>
                        <p class="task-details">New user registered.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-danger"><i class="icon-energy"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">24min ago</span>
                        <p class="task-details">Database error.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-info"><i class="icon-heart"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1h ago</span>
                        <p class="task-details">Reached 24k likes</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-success"><i class="icon-user"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1min ago</span>
                        <p class="task-details">New user registered.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-danger"><i class="icon-energy"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">24min ago</span>
                        <p class="task-details">Database error.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-icon badge badge-info"><i class="icon-heart"></i></div>
                        <span class="badge badge-roundless badge-default pull-right">1h ago</span>
                        <p class="task-details">Reached 24k likes</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="slimscroll quickreport-sidebar">
        <div class="col-md-12">
            <br />
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>From </label>
                        <input type="text" class="form-control date-picker" id="txtRightFrom" />
                    </div>
                    <div class="col-md-6">
                        <label>To </label>
                        <input type="text" class="form-control date-picker" id="txtRightTo" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>User</label>
                <select class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                    <option>All</option>
                </select>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Action</label>
                        <select class="js-states form-control" style="display: none; width: 100%">
                            <option>Created</option>
                            <option>Modified</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>Node Value</label>
                        <select class="js-states form-control" style="display: none; width: 100%">
                            <option>Daily</option>
                            <option>Weekly</option>
                            <option>Fortnightly</option>
                            <option>Monthly</option>
                        </select>
                    </div>
                    <div class="col-md-2" style="padding-left: 0">
                        <label>&nbsp;</label>
                        <button class="btn btn-info" style="padding: 5px 10px; font-size: 12px;">SHOW</button>
                    </div>
                </div>
            </div>
            <br />

        </div>
        <div class="col-md-12">
            <h4 class="text-danger" style="border-bottom: 1px dashed #ccc; padding-bottom: 5px;">Configure Master Craeted/Modified Report <span class="pull-right"><a href="javascript:void(0);" style="padding: 0;">Flip View</a></span></h4>
            <div class="panel-body">
                <div id="morris2"></div>
            </div>
        </div>
    </div>
}
