<ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#tab111" role="tab" data-toggle="tab" data-section="tab111" class="hosting-accord sub-tabbing"><span class="menu-icon fa fa-info-circle"></span>&nbsp;&nbsp;&nbsp;&nbsp;Inquiry Detail</a></li>
    <li role="presentation"><a href="#tab222" role="tab" data-toggle="tab" data-section="tab222" class="basic-accord sub-tabbing"><span class="menu-icon fa fa-server"></span>&nbsp;&nbsp;&nbsp;&nbsp;Inquiry Follow-up</a></li>

</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab111">
        @Html.Partial("_InquiryDetail")
    </div>
    <div role="tabpanel" class="tab-pane" id="tab222">
        @Html.Partial("_InquiryFollowup")
    </div>
</div>

<div class="col-md-4 summery-detail summery-uitilities-detail summerytab11">
    <div class="panel-body tab-itenaries panel">
        <div class="panel-group" id="accordion1quote158" role="tablist" aria-multiselectable="true">
            <div class="panel panel-red">
                <div class="panel-heading2" role="tab" id="HeadingMenu">
                    <h4 class="panel-title" style="font-size: 17px !important; border-bottom: none; font-weight: normal">List Of Quotations (8)
                        <a id="" style="float: right; margin-right: 10px;" class="" title="Copy & Re-Quote" data-placement="top" data-toggle="tooltip" href="javascript:void(0);">
                            <i class="icon-pencil"></i>
                        </a>
                        <a id="" style="float: right; margin-right: 12px" class="panel-reload" title="Create New Quote" data-placement="top" data-toggle="tooltip" href="javascript:void(0);">
                            <i class="fa fa-plus"></i>
                        </a>


                    </h4>
                </div>
                <div id="collapsemenusmaple1we" class="panel-collapse panel-white collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body slimscroll" style="max-height: 300px; border: solid; border-color: red; border-width: 0px; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px">
                        <table class="table summary-list">
                            <thead style="">
                                <tr>
                                    <th></th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="color: red">1</td>
                                    <td><span class="label label-primary">Draft</span></td>
                                    <td style="font-size: 20px">
                                        <a href="#" rel="tooltip" data-html="true" title="Quotation Ref #-Q-INQ-06-2016-0000001/001 <br> Status-Draft <br> Generated Date-07-06-2016 <br> Quoted Date-08-06-2016 <br> Sent To-Samarth Shah <br> Sent by-Samir Punjabi"><span class="fa fa-info grid-btn-success" style="border-radius: 50%; padding: 6px 11px;"></span></a>
                                        <a href="#" rel="tooltip" title="View"><span class="fa fa-eye grid-btn-success" style="background-color: #2B384E; color: white; padding: 5px !important"></span></a>
                                        <a href="#" rel="tooltip" title="Download"><span class="fa fa-download grid-btn-success" style="background-color: #F25656; color: white; padding: 5px !important"></span></a>
                                        <a href="#" rel="tooltip" title="View Communication Trail"><span class="fa fa-envelope grid-btn-success" style="background-color: #82EAB0; color: white; padding: 5px !important"></span></a>
                                        <a href="#" rel="tooltip" title="Track Email"><span class="fa fa-history grid-btn-success" style="background-color: #2B384E; color: white; padding: 5px !important"></span></a>
                                        <a href="#" rel="tooltip" title="Send To Agent"><span class="fa fa-paper-plane grid-btn-success" style="background-color: #F25656; color: white; padding: 5px !important"></span></a>
                                        <a href="#" rel="tooltip" title="Follow-ups"><span class="fa fa-server grid-btn-success" style="padding: 5px !important"></span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color: red">2</td>
                                    <td><span class="label label-info">Draft</span></td>
                                    <td style="font-size: 20px">
                                        <a href="#" rel="tooltip" data-html="true" title="Quotation Ref #-Q-INQ-06-2016-0000001/001 <br> Status-Draft <br> Generated Date-07-06-2016 <br> Quoted Date-08-06-2016 <br> Sent To-Samarth Shah <br> Sent by-Samir Punjabi"><span class="fa fa-info grid-btn-success" style="border-radius: 50%; padding: 6px 11px;"></span></a>
                                        <a href="#" rel="tooltip" title="View"><span class="fa fa-eye grid-btn-success" style="background-color: #2B384E; color: white; padding: 5px !important"></span></a>
                                        <a href="#" rel="tooltip" title="Download"><span class="fa fa-download grid-btn-success" style="background-color: #F25656; color: white; padding: 5px !important"></span></a>
                                        <a href="#" rel="tooltip" title="View Communication Trail"><span class="fa fa-envelope grid-btn-success" style="background-color: #82EAB0; color: white; padding: 5px !important"></span></a>
                                        <a href="#" rel="tooltip" title="Track Email"><span class="fa fa-history grid-btn-success" style="background-color: #2B384E; color: white; padding: 5px !important"></span></a>
                                        <a href="#" rel="tooltip" title="Send To Agent"><span class="fa fa-paper-plane grid-btn-success" style="background-color: #F25656; color: white; padding: 5px !important"></span></a>
                                        <a href="#" rel="tooltip" title="Follow-ups"><span class="fa fa-server grid-btn-success" style="padding: 5px !important"></span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color: red">3</td>
                                    <td><span class="label label-danger">Draft</span></td>
                                    <td style="font-size: 20px">
                                        <a href="#" rel="tooltip" data-html="true" title="Quotation Ref #-Q-INQ-06-2016-0000001/001 <br> Status-Draft <br> Generated Date-07-06-2016 <br> Quoted Date-08-06-2016 <br> Sent To-Samarth Shah <br> Sent by-Samir Punjabi"><span class="fa fa-info grid-btn-success" style="border-radius: 50%; padding: 6px 11px;"></span></a>
                                        <a href="#" rel="tooltip" title="View"><span class="fa fa-eye grid-btn-success" style="background-color: #2B384E; color: white; padding: 5px !important"></span></a>
                                        <a href="#" rel="tooltip" title="Download"><span class="fa fa-download grid-btn-success" style="background-color: #F25656; color: white; padding: 5px !important"></span></a>
                                        <a href="#" rel="tooltip" title="View Communication Trail"><span class="fa fa-envelope grid-btn-success" style="background-color: #82EAB0; color: white; padding: 5px !important"></span></a>
                                        <a href="#" rel="tooltip" title="Track Email"><span class="fa fa-history grid-btn-success" style="background-color: #2B384E; color: white; padding: 5px !important"></span></a>
                                        <a href="#" rel="tooltip" title="Send To Agent"><span class="fa fa-paper-plane grid-btn-success" style="background-color: #F25656; color: white; padding: 5px !important"></span></a>
                                        <a href="#" rel="tooltip" title="Follow-ups"><span class="fa fa-server grid-btn-success" style="padding: 5px !important"></span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color: red">4</td>
                                    <td><span class="label label-success">Draft</span></td>
                                    <td style="font-size: 20px">
                                        <a href="#" rel="tooltip" data-html="true" title="Quotation Ref #-Q-INQ-06-2016-0000001/001 <br> Status-Draft <br> Generated Date-07-06-2016 <br> Quoted Date-08-06-2016 <br> Sent To-Samarth Shah <br> Sent by-Samir Punjabi"><span class="fa fa-info grid-btn-success" style="border-radius: 50%; padding: 6px 11px;"></span></a>
                                        <a href="#" rel="tooltip" title="View"><span class="fa fa-eye grid-btn-success" style="background-color: #2B384E; color: white; padding: 5px !important"></span></a>
                                        <a href="#" rel="tooltip" title="Download"><span class="fa fa-download grid-btn-success" style="background-color: #F25656; color: white; padding: 5px !important"></span></a>
                                        <a href="#" rel="tooltip" title="View Communication Trail"><span class="fa fa-envelope grid-btn-success" style="background-color: #82EAB0; color: white; padding: 5px !important"></span></a>
                                        <a href="#" rel="tooltip" title="Track Email"><span class="fa fa-history grid-btn-success" style="background-color: #2B384E; color: white; padding: 5px !important"></span></a>
                                        <a href="#" rel="tooltip" title="Send To Agent"><span class="fa fa-paper-plane grid-btn-success" style="background-color: #F25656; color: white; padding: 5px !important"></span></a>
                                        <a href="#" rel="tooltip" title="Follow-ups"><span class="fa fa-server grid-btn-success" style="padding: 5px !important"></span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color: red">5</td>
                                    <td><span class="label label-info">Draft</span></td>
                                    <td style="font-size: 20px">
                                        <a href="#" rel="tooltip" data-html="true" title="Quotation Ref #-Q-INQ-06-2016-0000001/001 <br> Status-Draft <br> Generated Date-07-06-2016 <br> Quoted Date-08-06-2016 <br> Sent To-Samarth Shah <br> Sent by-Samir Punjabi"><span class="fa fa-info grid-btn-success" style="border-radius: 50%; padding: 6px 11px;"></span></a>
                                        <a href="#" rel="tooltip" title="View"><span class="fa fa-eye grid-btn-success" style="background-color: #2B384E; color: white; padding: 5px !important"></span></a>
                                        <a href="#" rel="tooltip" title="Download"><span class="fa fa-download grid-btn-success" style="background-color: #F25656; color: white; padding: 5px !important"></span></a>
                                        <a href="#" rel="tooltip" title="View Communication Trail"><span class="fa fa-envelope grid-btn-success" style="background-color: #82EAB0; color: white; padding: 5px !important"></span></a>
                                        <a href="#" rel="tooltip" title="Track Email"><span class="fa fa-history grid-btn-success" style="background-color: #2B384E; color: white; padding: 5px !important"></span></a>
                                        <a href="#" rel="tooltip" title="Send To Agent"><span class="fa fa-paper-plane grid-btn-success" style="background-color: #F25656; color: white; padding: 5px !important"></span></a>
                                        <a href="#" rel="tooltip" title="Follow-ups"><span class="fa fa-server grid-btn-success" style="padding: 5px !important"></span></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>



                    </div>
                </div>
            </div>

            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">

                    <a class="panel-title panel-title-sm" data-toggle="collapse" data-parent="#accordion1quote158" href="#" aria-expanded="true" aria-controls="collapseOne">Inquiry Summary </a>

                </div>
                <div id="collapsemenusmaple12" class="panel-collapse panel-white collapse in" role="tabpanel" aria-labelledby="headingOne1" style="padding: 9px">
                    <div class="panel-body summary-body">
                        <table class="table summary-list newblackfont">
                            <tbody>
                                <tr>
                                    <td>Inquiry Satus: </td>
                                    <td><span class="label label-primary">Draft</span></td>
                                </tr>
                                <tr>
                                    <td>Inquiry Code: </td>
                                    <td><span class="label label-primary">INQ-06-2016-0000001</span></td>
                                </tr>
                                <tr>
                                    <td>Inquiry Owner: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created From Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Total Quotations: </td>
                                    <td><span class="label label-danger">8</span></td>
                                </tr>
                                <tr>
                                    <td>Total Follow-ups: </td>
                                    <td><span class="label label-warning">12</span></td>
                                </tr>
                                <tr>
                                    <td>Efforts in Conversion: </td>
                                    <td><span class="label label-info">8 Quotes</span><span class="label label-danger" style="margin-left: 4%">12 Follow-ups</span></td>
                                </tr>
                                <tr>
                                    <td>Final Quotation: </td>
                                    <td><span class="label label-success">INQ-06-2016-0000001/007</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade modify-colum-model" id="shareinq" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding: 2px; height: 5%;padding-right:2%;padding-top:2%">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tab111model" role="tab" data-toggle="tab" data-section="tab111" class="hosting-accord sub-tabbing"><span class="menu-icon fa fa-info-circle"></span>&nbsp;&nbsp;&nbsp;&nbsp;Add / Update Sharing</a></li>
                    <li role="presentation"><a href="#tab223model" role="tab" data-toggle="tab" data-section="tab223" class="basic-accord sub-tabbing"><span class="menu-icon fa fa-cog"></span>&nbsp;&nbsp;&nbsp;&nbsp;Access Control</a></li>
                    <li role="presentation"><a href="#tab224model" role="tab" data-toggle="tab" data-section="tab224" class="basic-accord sub-tabbing"><span class="menu-icon fa fa-yelp"></span>&nbsp;&nbsp;&nbsp;&nbsp;Request For Help</a></li>
                    <li id="22litab" role="presentation"><a href="#tab222model" role="tab" data-toggle="tab" data-section="tab222" class="basic-accord sub-tabbing"><span class="menu-icon fa fa-server"></span>&nbsp;&nbsp;&nbsp;&nbsp;Effort Matrix</a></li>

                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab111model">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table style="width: 100%">
                                            <thead>
                                                <tr>
                                                    <th style="width: 20%; padding: 5px">Share With</th>
                                                    <th style="width: 29%; padding: 5px">Reason</th>
                                                    <th style="width: 27%; padding: 5px">Contribution</th>
                                                    <th style="width: 18%; padding: 5px">Profit Sharing (%)</th>
                                                    <th style="width: 6%; padding: 5px"></th>
                                                </tr>
                                            </thead>
                                            <tbody>


                                                <tr>
                                                    <td style="padding: 5px">
                                                        <select id="drpOrderStatus" class="js-states form-control" style="display: none; width: 100%">
                                                            <option selected="selected">Samarth Shah</option>
                                                            <option>Sudhir Punjabi</option>

                                                        </select>
                                                    </td>

                                                    <td style="padding: 5px">
                                                        <input type="text" class="form-control" id="txtBillingAddressLine2" value="" placeholder="">
                                                    </td>
                                                    <td style="padding: 5px">
                                                        <input type="text" class="form-control" id="txtBillingAddressLine2" value="" placeholder="">
                                                    </td>
                                                    <td style="padding: 5px">
                                                        <input type="text" class="form-control" id="txtBillingAddressLine2" value="" placeholder="">
                                                    </td>
                                                    <td style="padding: 5px"></td>
                                                </tr>

                                                <tr>
                                                    <td style="padding: 5px">
                                                        <select id="drpOrderStatus" class="js-states form-control" style="display: none; width: 100%">
                                                            <option selected="selected">Samarth Shah</option>
                                                            <option>Sudhir Punjabi</option>

                                                        </select>
                                                    </td>

                                                    <td style="padding: 5px">
                                                        <input type="text" class="form-control" id="txtBillingAddressLine2" value="" placeholder="">
                                                    </td>
                                                    <td style="padding: 5px">
                                                        <input type="text" class="form-control" id="txtBillingAddressLine2" value="" placeholder="">
                                                    </td>
                                                    <td style="padding: 5px">
                                                        <input type="text" class="form-control" id="txtBillingAddressLine2" value="" placeholder="">
                                                    </td>
                                                    <td style="padding: 5px">
                                                        <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td style="padding: 5px">
                                                        <select id="drpOrderStatus" class="js-states form-control" style="display: none; width: 100%">
                                                            <option selected="selected">Samarth Shah</option>
                                                            <option>Sudhir Punjabi</option>

                                                        </select>
                                                    </td>

                                                    <td style="padding: 5px">
                                                        <input type="text" class="form-control" id="txtBillingAddressLine2" value="" placeholder="">
                                                    </td>
                                                    <td style="padding: 5px">
                                                        <input type="text" class="form-control" id="txtBillingAddressLine2" value="" placeholder="">
                                                    </td>
                                                    <td style="padding: 5px">
                                                        <input type="text" class="form-control" id="txtBillingAddressLine2" value="" placeholder="">
                                                    </td>
                                                    <td style="padding: 5px">
                                                        <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12" style="text-align: right">
                                    <button type="button" class="btn btn-success ">Share Inquiry</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab223model">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive tbborder" style="border: 1px solid #F25656; border-radius: 4px;overflow: hidden;">
                                        <table style="width: 100%">
                                            <thead>
                                                <tr style="color: black">
                                                    <th style="width: 52%; padding: 5px; border-right: 1px solid #F25656;">Events</th>
                                                    <th style="width: 16%; padding: 5px; border-right: 1px solid #F25656;">Samarth Shah</th>
                                                    <th style="width: 16%; padding: 5px; border-right: 1px solid #F25656;">Samir Vithani</th>
                                                    <th style="width: 16%; padding: 5px">Sudhir Punjabi</th>

                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td style="padding: 5px">Can Update Inquiry</td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" checked="checked" /></td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" checked="checked" /></td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" checked="checked" /></td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 5px">Can Follow-up Inquiry
                                                    </td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" checked="checked" /></td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" /></td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" checked="checked" /></td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 5px">Can Generate Quote</td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" checked="checked" /></td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" /></td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" /></td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 5px">Can Follow-up Quote</td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" /></td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" checked="checked" /></td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" checked="checked" /></td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 5px">Can Send Quote to Agent</td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" checked="checked" /></td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" checked="checked" /></td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" /></td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 5px">Can Request For Quote</td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" checked="checked" /></td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" /></td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" checked="checked" /></td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 5px">Can Change Travel Date</td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" /></td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" checked="checked" /></td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" /></td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 5px">Can Change City Breakup</td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" checked="checked" /></td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" /></td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" /></td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 5px">Can Change Margin</td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" /></td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" checked="checked" /></td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" checked="checked" /></td>

                                                </tr>
                                                <tr>
                                                    <td style="padding: 5px">Can Book</td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" /></td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" checked="checked" /></td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" /></td>

                                                </tr>
                                                <tr>
                                                    <td style="padding: 5px">Can Confirm</td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" checked="checked" /></td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" /></td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" /></td>

                                                </tr>
                                                <tr>
                                                    <td style="padding: 5px">Can Re-confirm</td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" /></td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" /></td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" checked="checked" /></td>

                                                </tr>
                                                <tr>
                                                    <td style="padding: 5px">Can Track Email</td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" /></td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" checked="checked" /></td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" /></td>

                                                </tr>
                                                <tr>
                                                    <td style="padding: 5px">Can View Communication Trail</td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" checked="checked" /></td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" /></td>
                                                    <td style="padding: 5px">
                                                        <input type="checkbox" checked="checked" /></td>

                                                </tr>

                                            </tbody>
                                        </table>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12" style="text-align: right">
                                    <button type="button" class="btn btn-success ">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab224model">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Request To</label>
                                    <select id="drpTypeOfSupplier" class="js-states form-control multiple" multiple="multiple" style="display: none; width: 100%">
                                        <option selected="selected">Samarth Shah</option>
                                        <option>Sudhir Punjabi</option>
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <label>Subject</label>
                                    <input type="text" class="form-control" id="txtContractID" value="" placeholder="">
                                </div>
                                <div class="col-md-12">
                                    <label>Massage</label>
                                    <textarea id="txtDescription" rows="3" class="form-control" placeholder=""></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12" style="text-align: right">
                                    <button type="button" class="btn btn-success ">Send Request</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab222model">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive tbborder" style="border: 1px solid #F25656; border-radius: 4px;overflow: hidden;">
                                        <table style="width: 100%">
                                            <thead>
                                                <tr style="color: black">
                                                    <th style="width: 52%; padding: 5px; border-right: 1px solid #F25656;">Efforts / Team</th>
                                                    <th style="width: 16%; padding: 5px; border-right: 1px solid #F25656;">Samarth Shah</th>
                                                    <th style="width: 16%; padding: 5px; border-right: 1px solid #F25656;">Samir Vithani</th>
                                                    <th style="width: 16%; padding: 5px">Sudhir Punjabi</th>

                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td style="padding: 5px"># Inquiry Updates</td>
                                                    <td style="padding: 5px">2</td>
                                                    <td style="padding: 5px">1</td>
                                                    <td style="padding: 5px">2</td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 5px"># Follow-ups</td>
                                                    <td style="padding: 5px">2</td>
                                                    <td style="padding: 5px">1</td>
                                                    <td style="padding: 5px">2</td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 5px"># Quotation Generated</td>
                                                    <td style="padding: 5px">2</td>
                                                    <td style="padding: 5px">1</td>
                                                    <td style="padding: 5px">1</td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 5px"># Rate & Margin Updates</td>
                                                    <td style="padding: 5px">2</td>
                                                    <td style="padding: 5px">1</td>
                                                    <td style="padding: 5px">1</td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 5px"># Exchange Rate Updates</td>
                                                    <td style="padding: 5px">2</td>
                                                    <td style="padding: 5px">1</td>
                                                    <td style="padding: 5px">5</td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 5px"># Pax Updates</td>
                                                    <td style="padding: 5px">2</td>
                                                    <td style="padding: 5px">1</td>
                                                    <td style="padding: 5px">2</td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 5px"># Hotel Removal</td>
                                                    <td style="padding: 5px">2</td>
                                                    <td style="padding: 5px">1</td>
                                                    <td style="padding: 5px">3</td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 5px"># Sightseeing Removal</td>
                                                    <td style="padding: 5px">2</td>
                                                    <td style="padding: 5px">1</td>
                                                    <td style="padding: 5px">4</td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 5px"># Quotation Sent</td>
                                                    <td style="padding: 5px">2</td>
                                                    <td style="padding: 5px">1</td>
                                                    <td style="padding: 5px">5</td>

                                                </tr>

                                            </tbody>
                                        </table>

                                    </div>

                                </div>
                            </div>
                        </div>
                  
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12" style="text-align: right">
                                    <button type="button" class="btn btn-success ">Send Effort Matrix To All</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal fade modify-colum-model" id="Trashinq" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Inquiry Trash</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Reason</label>
                            <select id="drpOrderStatus" class="js-states form-control" style="display: none; width: 100%">
                                <option selected="selected">Created With Error</option>
                                <option>Too Much Wrong Information</option>
                                <option>Other</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Other Reason</label>
                            <textarea class="form-control" cols="3" id="txtRemarks"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success ">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modify-colum-model" id="LostInq" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Inquiry Lost</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Reason</label>
                            <select id="drpOrderStatus" class="js-states form-control" style="display: none; width: 100%">
                                <option selected="selected">Less Options With Us</option>
                                <option>Higher Quote</option>
                                <option>Other</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Lost To Which Competitor</label>
                            <select id="drpOrderStatus" class="js-states form-control" style="display: none; width: 100%">
                                <option selected="selected">Flamingo</option>


                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Other Reason</label>
                            <textarea class="form-control" cols="3" id="txtRemarks"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success ">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modify-colum-model" id="Cancelinq" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Inquiry Cancel By Agent</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Reason</label>
                            <select id="drpOrderStatus" class="js-states form-control" style="display: none; width: 100%">
                                <option selected="selected">End Customer Cancelled Inquiry</option>
                                <option>Other</option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Other Reason</label>
                            <textarea class="form-control" cols="3" id="txtRemarks"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success ">Save</button>
            </div>
        </div>
    </div>
</div>
