<div class="row m-b-lg">
    <div class="form-detail">
        <div class="panel panel-white">
            <div class="panel-body">
                <div role="tabpanel" class="tab-pane" id="tab1-3">

                    <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                        @*<li role="presentation" class="active"><a href="#SearchQuotation" role="tab" data-toggle="tab" data-section="SearchQuotation" class="hosting-accord "><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Serach Quotation</a></li>*@
                        @*<li role="presentation" class="active"><a href="#CreateQuotation" role="tab" data-toggle="tab" data-section="CreateQuotation" class="basic-accord "><span class="menu-icon fa fa-suitcase"></span>&nbsp;&nbsp;&nbsp;&nbsp;Create Quotation</a></li>*@
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane" id="SearchQuotation">
                            <h3>Search Quotation</h3>
                            <div class="dropdown table-custome-drop">
                                <div class="btn-group">
                                    <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="font-size: 111%">
                                        <span class="glyphicon glyphicon-download-alt"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Excel</a></li>
                                        <li><a href="#">PDF</a></li>
                                        <li><a href="#">Email</a></li>
                                    </ul>
                                </div>
                                &nbsp;&nbsp;
                                <div class="btn-group btn-tables-views">
                                    <a class="label label-success dropdown-toggle " rel="tooltip" data-toggle="dropdown" title="All Views" style="font-size: 111%" aria-expanded="false">
                                        <span class="icon-grid"></span>
                                    </a>
                                    <ul class="dropdown-menu cate-drop-menu">
                                        <li><a href="javascript:void(0);" style="color: #000">Default View</a></li>
                                        <li style="color: #000; padding: 5px 0" class="btn-lgdropdown-header"><a id="btnShowPopupChangeView" href="javascript:void(0);" data-toggle="modal" data-target="#myModaluser">Change View</a> </li>
                                    </ul>
                                    <div class="modal fade modify-colum-model" id="myModaluser" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Change View</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <br />
                                                    <div class="model-left-columns">
                                                        <div class="field-name">
                                                            <h3>View <a href="#"></a></h3>
                                                            <ul id="ulViewList" class="field-list slimscroll ulviewlistclass">
                                                                <li><a href="#">City</a></li>
                                                                <li><a href="#">Country</a></li>
                                                                <li><a href="#">State</a></li>
                                                                <li class="active"><a href="#">Agent Margin</a></li>
                                                                <li><a href="#">Support Mode</a></li>
                                                                <li><a href="#">Agent Type</a></li>
                                                                <li><a href="#">Control Type</a></li>
                                                                <li><a href="#">Nationality</a></li>
                                                                <li><a href="#">Vehicle Name</a></li>
                                                                <li><a href="#">SMS Configure</a></li>
                                                                <li><a href="#">Screen</a></li>
                                                                <li><a href="#">Supplier Type</a></li>
                                                                <li><a href="#">Date Format</a></li>
                                                                <li><a href="#">days</a></li>
                                                                <li><a href="#">Holiday</a></li>
                                                                <li><a href="#">Bank</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="field-name">
                                                            <h3>Field Name <a href="#">Add all</a></h3>
                                                            <div class="field-list field-list-img slimscroll">
                                                                <ul>
                                                                    <li><a href="#">Value</a></li>
                                                                    <li><a href="#">Margin Type</a></li>
                                                                    <li><a href="#">Efective Date From</a></li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="drag-drop-right">
                                                        <section>
                                                            <h2>Drag and drop reorder</h2>
                                                            <div class="cf nestable-lists">
                                                                <ol class="sortable" id="ddr">
                                                                    <li>
                                                                        <div><span class=""><span></span></span>Agent Type<a class="" href="javascript:void(0);"></a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div><span class=""><span></span></span>Agent Master Code<a class="" href="javascript:void(0);"></a></div>
                                                                    </li>
                                                                    <li id="list_4">
                                                                        <div><span class="disclose"><span></span></span>FIT/Group<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></div>
                                                                    </li>
                                                                    <li id="list_5">
                                                                        <div><span class="disclose"><span></span></span>Margin For<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></div>
                                                                    </li>
                                                                    <li id="list_9">
                                                                        <div><span class="disclose"><span></span></span>Margin Type<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></div>
                                                                    </li>

                                                                </ol>
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-success ">Apply</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="table-responsive">
                                <table id="restoranttable" class="display table datatable" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                        <tr>
                                            <th>#</th>

                                            <th>Quotation Type</th>
                                            <th>Quotation Reference #</th>
                                            <th>Quotation Status</th>
                                            <th>Quotation Created Date</th>
                                            <th style="width: 15%;">Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>

                                            <th>Quotation Type</th>
                                            <th>Quotation Reference #</th>
                                            <th>Quotation Status</th>
                                            <th>Quotation Created Date</th>
                                            <th style="width: 15%;">Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>1</td>

                                            <td>FIT</td>
                                            <td>THLND-FLG-SP-0101</td>
                                            <td>Quoted</td>
                                            <td>15-Mar-2016</td>
                                            <td>
                                                <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                &nbsp;&nbsp;
                                                                        <a href="#"><i class="fa fa-trash-o"></i></a>
                                                &nbsp;&nbsp;
                                                                        <a href="#" rel="tooltip" title="Generate Quotation" class="text-warning"><i class="fa fa-suitcase"></i></a>
                                                &nbsp;&nbsp;
                                                                        <a href="#" rel="tooltip" title="Copy & Create New"><i class="fa fa-files-o"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="CreateQuotation">
                            <div class="col-md-8">


                                <h3 class="tab2section1"><span class="section-index ">1</span>&nbsp;Quotation Details</h3>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="txtAgent">Quotation Currency<span class="star"> *</span></label>
                                            <select id="drpNationalityGroup" class="js-states form-control" style="display: none; width: 100%">
                                                <option>THB</option>
                                                <option selected="selected">USD</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtExchangeRate">Exchange Rate</label>
                                            <input type="text" class="form-control" id="txtExchangeRate" value="0.028" placeholder="">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="txtAgent">Quotation Type<span class="star"> *</span></label>
                                            <select id="Drpquotationtype" class="js-states form-control" style="display: none; width: 100%">
                                                <option>Per Pax</option>
                                                <option>Service Wise</option>
                                                <option selected="selected">Range Pax</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <label for="txtAgent">Quotation Status<span class="star"> *</span></label>
                                            <select id="drpNationalityGroup" class="js-states form-control" style="display: none; width: 100%">
                                                <option>--None--</option>
                                                <option value="draft" selected="selected">Draft</option>
                                                <option value="negotiating">Negotiating</option>
                                                <option value="readytoquote">Ready To Quote</option>
                                                <option value="quoted">Quoted</option>
                                                <option value="pendingforaprooval">Pending For Aprooval</option>
                                                <option value="aprooved">Aprooved</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="txtTags">Tags</label>
                                            <input type="text" data-role="tagsinput" class="form-control" id="txtTags" placeholder="Tags">
                                        </div>
                                    </div>
                                </div>

                                <h3 class="section-headers tab2section2"><span class="section-index ">2</span>&nbsp;Pax / Room Details</h3>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="txtAgent">Range Pax From<span class="star"> *</span></label>
                                            <input type="text" class="form-control" value="10" id="txtroomrangepax" placeholder="# Of Pax">
                                        </div>

                                        <div class="col-md-3">
                                            <label for="txtAgent">Range Pax To<span class="star"> *</span></label>
                                            <input type="text" class="form-control" value="15" id="txtroomrangeto" placeholder="# Of Pax">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtAgent">Range Gap<span class="star"> *</span></label>
                                            <select id="drproomrangegap" class="js-states form-control" style="display: none; width: 100%">
                                                <option selected="selected">5</option>
                                                <option>10</option>
                                                <option>15</option>
                                            </select>
                                        </div>
                                        @* <div class="col-md-3">
                                                                    <label for="txtAgent"># of Infant<span class="star"> *</span></label>
                                                                    <input type="text" class="form-control" id="txtinfant" placeholder="# of Infant">
                                                                </div>*@

                                    </div>
                                </div>

                                <div class="form-group">
                                    <table class="display table" style="width: 100%; cellspacing: 0;">
                                        <thead>
                                            <tr>
                                                <th style="width: 20%">Room Type</th>
                                                <th style="width: 20%"># Of Rooms</th>
                                                <th style="width: 9%">Incl. ABF</th>
                                                <th style="width: 10%">Incl. Lunch</th>
                                                <th style="width: 11%">Incl. Dinner</th>

                                                <th style="width: 5%;"></th>
                                                <th style="width: 5%;"></th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th colspan="11"></th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr>


                                                <td>
                                                    <select id="drproomtype" class="js-states form-control" style="display: none; width: 100%">
                                                        <option>Single Room</option>
                                                        <option>Double</option>
                                                        <option>Twin Room</option>
                                                        <option>Quad Room</option>
                                                    </select>
                                                </td>

                                                <td>
                                                    <input type="text" class="form-control" id="txtnoofroom1" value="2" placeholder="# Of Rooms">
                                                </td>

                                                <td>
                                                    <input type="checkbox" />
                                                </td>
                                                <td>
                                                    <input type="checkbox" />
                                                </td>
                                                <td>
                                                    <input type="checkbox" />
                                                </td>
                                                @*<td>
                                                                            <select id="drproompaxcombination" class="js-states form-control" style="display: none; width: 100%">
                                                                                <option>1 Adult</option>
                                                                                <option>1 Adult + 1 CNB + 1 Infant</option>
                                                                                <option>1 Adult + 1 CNB</option>
                                                                                <option>1 Adult + 1 Infant</option>
                                                                                <option>2 Adults</option>
                                                                                <option>2 Adults + 1 CWB + 1 CNB</option>
                                                                                <option>2 Adults + 1 CWB + 1 Infant</option>
                                                                                <option>2 Adults + 1 CNB + 1 Infant</option>
                                                                                <option>2 Adults + 1 CWB</option>
                                                                                <option>2 Adults + 1 CNB</option>
                                                                                <option>2 Adults + 1 Infant</option>
                                                                                <option>2 Adults + 2 Infant</option>
                                                                                <option>3 Adults</option>
                                                                                <option>3 Adults + 1 CNB + 1 Infant</option>
                                                                                <option>3 Adults + 1 Infant</option>
                                                                                <option>3 Adults + 1 CNB</option>
                                                                            </select>
                                                                        </td>*@

                                                <td>
                                                    <a><span class="fa fa-times grid-btn-danger" rel="tooltip" title="Remove" style="padding: 10px; font-size: 1.3em;"></span></a>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>


                                                <td>
                                                    <select id="drproomtype" class="js-states form-control" style="display: none; width: 100%">
                                                        <option>Single Room</option>
                                                        <option selected="selected">Double</option>
                                                        <option>Twin Room</option>
                                                        <option>Quad Room</option>
                                                    </select>
                                                </td>


                                                <td>
                                                    <input type="text" class="form-control" id="txtnoofroom2" value="3" placeholder="# Of Rooms">
                                                </td>
                                                <td>
                                                    <input type="checkbox" />
                                                </td>
                                                <td>
                                                    <input type="checkbox" />
                                                </td>
                                                <td>
                                                    <input type="checkbox" />
                                                </td>
                                                @*<td>
                                                                            <select id="drproompaxcombination" class="js-states form-control" style="display: none; width: 100%">
                                                                                <option>1 Adult</option>
                                                                                <option>1 Adult + 1 CNB + 1 Infant</option>
                                                                                <option>1 Adult + 1 CNB</option>
                                                                                <option>1 Adult + 1 Infant</option>
                                                                                <option>2 Adults</option>
                                                                                <option>2 Adults + 1 CWB + 1 CNB</option>
                                                                                <option>2 Adults + 1 CWB + 1 Infant</option>
                                                                                <option selected="selected">2 Adults + 1 CNB + 1 Infant</option>
                                                                                <option>2 Adults + 1 CWB</option>
                                                                                <option>2 Adults + 1 CNB</option>
                                                                                <option>2 Adults + 1 Infant</option>
                                                                                <option>2 Adults + 2 Infant</option>
                                                                                <option>3 Adults</option>
                                                                                <option>3 Adults + 1 CNB + 1 Infant</option>
                                                                                <option>3 Adults + 1 Infant</option>
                                                                                <option>3 Adults + 1 CNB</option>
                                                                            </select>
                                                                        </td>*@

                                                <td>
                                                    <a><span class="fa fa-times grid-btn-danger" rel="tooltip" title="Remove" style="padding: 10px; font-size: 1.3em;"></span></a>
                                                </td>
                                                <td>
                                                    <a class=" btn btn-success" rel="tooltip" title="Add Room" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                                <br />
                                <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                    CREATE QUOTATION</button>
                                <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                    UPDATE QUOTATION</button>
                                <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                    DELETE QUOTATION</button>
                                <button id="btnCancel" type="submit" class="btn btn-success btnCancel">
                                    BUILD ITINERARY</button>
                                <button id="btnCancel" type="submit" class="btn btn-info btnCancel">
                                    UPDATE ITINERARY</button>

                                <a class="btn btn-success" aria-expanded="false" rel="tooltip" title="Copy & Create New" onclick="window.location.href=window.location.href;">
                                    <span class="fa fa-files-o"></span>
                                </a>
                                <a class="btn btn-warning" aria-expanded="false" rel="tooltip" title="Create New" onclick="window.location.href=window.location.href;">
                                    <span class="fa fa-plus"></span>
                                </a>

                                <a class="btn btn-danger" aria-expanded="false" rel="tooltip" title="Quit From" onclick="window.location.href=window.location.href;">
                                    <span class="fa fa-times"></span>
                                </a>
                                <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
                                    <span class="fa fa-refresh"></span>
                                </a>

                            </div>
                            <div class="col-md-4 summery-detail summery-uitilities-detail summeryCreateQuotation">
                                <div class="panel-body tab-itenaries ">
                                    <div class="panel-group">
                                        <div class="panel panel-red">
                                            <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                                                <h4 class="panel-title">Summary <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report"></a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                                                <div class="panel-body summary-body">
                                                    <table class="table summary-list">
                                                        <tbody>
                                                            <tr>
                                                                <td>Quote Ref #: </td>
                                                                <td><span class="label label-primary">THLND-FLG-01</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Quote Created Date: </td>
                                                                <td><span class="label label-danger">10-03-2016</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Quote Sent To Agent Date: </td>
                                                                <td><span class="label label-info">11-03-2016</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Created By: </td>
                                                                <td><span class="label label-success">Samir Shah</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Created Date: </td>
                                                                <td><span class="label label-warning">06-Mar-2016</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Created From Branch: </td>
                                                                <td><span class="label label-danger">Bangkok</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Last Updated By: </td>
                                                                <td><span class="label label-info">Samir Shah</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Last Updated Date: </td>
                                                                <td><span class="label label-warning">14-Mar-2016</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Page Load Time: </td>
                                                                <td><span class="label label-info">00:01:00 Minutes</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Record Update Time: </td>
                                                                <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
