<div class="col-md-8 full-responsive">
    <form>
        <h3 class="tab1section1"><span class="section-index ">1</span>&nbsp;Basic Details</h3>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="drpServiceInclisions">Inquiry From <span class="star">*</span></label>
                    <select id="drpServiceInclisions" class="js-states form-control" style="display: none; width: 100%">
                        <option>Lead</option>
                        <option>Prospect</option>
                        <option selected="selected">Agent</option>
                        <option>Customer</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="txtAgent">Agent Company Name<span class="star"> *</span></label>
                    <input type="text" class="form-control" value="Travels Unlimited - Sudhir Punjabi" id="txtAgent" placeholder="Agent">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtInquiredBy">Inquired By<span class="star"> *</span></label>
                    <input type="text" class="form-control" value="srusti@flamingotravels.co.in" id="txtInquiredBy" placeholder="Inquired By">
                </div>
                <div class="col-md-3">
                    <label for="txtinqdate">Inquired Date<span class="star"> *</span></label>
                    <input type="text" class="form-control date-picker" id="txtinqdate" value="01-06-2016" placeholder="Quote Sent To">
                </div>
                <div class="col-md-3">
                    <label for="txtinqdate">Travel Date<span class="star"> *</span></label>
                    <input type="text" class="form-control date-picker" id="txtinqdate" value="20-06-2016" placeholder="Quote Sent To">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label for="txtQuoteToBeSentTo">Group Name<span class="star"> *</span></label>
                    <input type="text" class="form-control" value="" id="txtQuoteToBeSentTo" placeholder="Group Name">
                </div>
                <div class="col-md-3">
                    <label for="txtQuoteToBeSentTo">Guest Name (Lead Traveler)</label>
                    <input type="text" class="form-control" value="" id="txtQuoteToBeSentTo" placeholder="Guest Name">
                </div>
                <div class="col-md-6">
                    <label for="txtFinalApprovalRequiredFromAgent">Guest Nationality<span class="star"> *</span></label>
                    <select id="drpServiceInclisions" class="js-states form-control" style="display: none; width: 100%">
                        <option>Asian-India</option>
                        <option>Europian</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtFinalApprovalRequiredFromAgent">Group Type<span class="star"> *</span></label>
                    <select id="drpServiceInclisions" class="js-states form-control" style="display: none; width: 100%">
                        <option>Conference</option>
                        <option>Leisure</option>
                        <option>Award Function</option>
                        <option>MICE (Meetings Incentives Corporates Events)</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="txtFinalApprovalRequiredFromAgent">Group Requirements<span class="star"> *</span></label>
                    <select id="drpServiceInclisions" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                        <option>Hotel</option>
                        <option>Gala Dinner</option>
                        <option>Function Room</option>
                        <option>Sightseeing</option>
                        <option>Meal</option>
                        <option>Transfer</option>
                        <option>Guide</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label for="txtQuoteToBeSentTo"># Rooms From</label>
                    <input type="text" class="form-control" value="" id="txtQuoteToBeSentTo" placeholder="# Rooms From">
                </div>
                <div class="col-md-3">
                    <label for="txtQuoteToBeSentTo"># Rooms To</label>
                    <input type="text" class="form-control" value="" id="txtQuoteToBeSentTo" placeholder="# Rooms To">
                </div>
                <div class="col-md-3">
                    <label for="txtQuoteToBeSentTo"># Pax From</label>
                    <input type="text" class="form-control" value="" id="txtQuoteToBeSentTo" placeholder="# Pax From">
                </div>
                <div class="col-md-3">
                    <label for="txtQuoteToBeSentTo"># Pax To</label>
                    <input type="text" class="form-control" value="" id="txtQuoteToBeSentTo" placeholder="# Pax To">
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="drpCountriesToTravel">Countries To Travel<span class="star"> *</span></label>
                    <select id="drpCountriesToTravel" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                        <option>All</option>
                        <option selected="selected">Thiland</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="drpCitiesToTravel">Cities To Travel<span class="star"> *</span></label>
                    <select id="drpCitiesToTravel" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                        <option>All</option>
                        <option selected="selected">Bangkok</option>
                        <option selected="selected">Pattaya</option>
                        <option>Chiang Mai</option>
                        <option selected="selected">Phuket</option>
                        <option>Khon Kaen</option>
                    </select>
                </div>

            </div>
        </div>

        <h3>Cities Breakup<span class="star" style="color: red !important"> *</span></h3>
        <div class="cf nestable-lists" style="border: solid; border-width: 1px; border-color: black">
            <ul class="ui-handle sortable-list">
                <li class="ui-state-default">

                    <table>
                        <tbody>
                            <tr>
                                <td style="padding-left: 10px; width: 4%">
                                    <label style="font-size: 15px">1</label>
                                </td>
                                <td style="padding-left: 10px; width: 30%">
                                    <label style="font-size: 16px">Bangkok,Thiland</label>
                                </td>
                                <td style="width: 10%">
                                    <label>In</label><br />
                                    <label>5 May</label>
                                </td>
                                <td style="width: 20%">
                                    <label>Out</label><br />
                                    <label>8 May</label>
                                </td>
                                <td style="width: 10%; text-align: right;">
                                    <span style="border: 1px solid #ccc; padding: 7px 10px 6px; background-color: #34425a; color: white">Nights</span>
                                </td>
                                <td style="width: 8%" class="right-border">
                                    <select id="drpnight" class="js-states form-control" style="display: none; width: 100%">
                                        <option>1</option>
                                        <option>2</option>
                                        <option selected="selected">3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                    </select>
                                </td>
                                <td style="width: 5%; font-size: 18px; color: red" class="left-padding">
                                    <span class="handler fa fa-arrows"></span>
                                </td>
                                <td style="width: 5%; text-align: right; color: red; padding-right: 10px; font-size: 18px">
                                    <span class="removeHandler fa fa-times"></span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </li>
                <li class="ui-state-default">

                    <table>
                        <tbody>
                            <tr>
                                <td style="padding-left: 10px; width: 4%">
                                    <label style="font-size: 15px">2</label>
                                </td>
                                <td style="padding-left: 10px; width: 30%">
                                    <label style="font-size: 16px">Pattaya,Thiland</label>
                                </td>
                                <td style="width: 10%">
                                    <label>In</label><br />
                                    <label>8 May</label>
                                </td>
                                <td style="width: 20%">
                                    <label>Out</label><br />
                                    <label>11 May</label>
                                </td>
                                <td style="width: 10%; text-align: right;">
                                    <span style="border: 1px solid #ccc; padding: 7px 10px 6px; background-color: #34425a; color: white">Nights</span>
                                </td>
                                <td style="width: 8%" class="right-border">
                                    <select id="drpnight" class="js-states form-control" style="display: none; width: 100%">
                                        <option>1</option>
                                        <option>2</option>
                                        <option selected="selected">3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                    </select>
                                </td>
                                <td style="width: 5%; font-size: 18px; color: red" class="left-padding">
                                    <span class="handler fa fa-arrows"></span>
                                </td>
                                <td style="width: 5%; text-align: right; color: red; padding-right: 10px; font-size: 18px">
                                    <span class="removeHandler fa fa-times"></span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </li>
                <li class="ui-state-default">

                    <table>
                        <tbody>
                            <tr>
                                <td style="padding-left: 10px; width: 4%">
                                    <label style="font-size: 15px">3</label>
                                </td>
                                <td style="padding-left: 10px; width: 30%">
                                    <label style="font-size: 16px">Phuket,Thiland</label>
                                </td>
                                <td style="width: 10%">
                                    <label>In</label><br />
                                    <label>11 May</label>
                                </td>
                                <td style="width: 20%">
                                    <label>Out</label><br />
                                    <label>13 May</label>
                                </td>
                                <td style="width: 10%; text-align: right;">
                                    <span style="border: 1px solid #ccc; padding: 7px 10px 6px; background-color: #34425a; color: white">Nights</span>
                                </td>
                                <td style="width: 8%" class="right-border">
                                    <select id="drpnight" class="js-states form-control" style="display: none; width: 100%">
                                        <option>1</option>
                                        <option selected="selected">2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                    </select>
                                </td>
                                <td style="width: 5%; font-size: 18px; color: red" class="left-padding">
                                    <span class="handler fa fa-arrows"></span>
                                </td>
                                <td style="width: 5%; text-align: right; color: red; padding-right: 10px; font-size: 18px">
                                    <span class="removeHandler fa fa-times"></span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </li>

            </ul>
        </div>
        <h6>&nbsp;</h6>

        <h3 class="tab1section2"><span class="section-index ">2</span>&nbsp;Management Details</h3>
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label for="drpOrderStatus">Inquiry Status<span class="star"> *</span></label>
                    <select id="drpOrderStatus" class="js-states form-control" style="display: none; width: 100%">
                        <option value="selstatus">---None---</option>
                        <option value="draft" selected="selected">Draft</option>
                        <option value="published">Inquired</option>
                        <option value="online">Quoted</option>
                        <option>Trash</option>
                        <option>Active</option>
                        <option>In Communication</option>
                        <option>Re-confirmed</option>
                        <option>Booked</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="drpInqLevel">Inquiry Level<span class="star"> *</span></label>
                    <select id="drpInqLevel" class="js-states form-control" style="display: none; width: 100%">
                        <option value="selstatus">---None---</option>
                        <option value="draft" selected="selected">1 Star</option>
                        <option value="published">2 Star</option>
                        <option value="online">3 Star</option>
                        <option>4 Star</option>
                        <option>5 Star</option>
                        <option>6 Star</option>
                        <option>7 Star</option>
                        <option>8 Star</option>
                        <option>9 Star</option>
                        <option>10 Star</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="drpTransferTo">Inquiry Owner</label>
                    <input type="text" class="form-control" id="txtExchangeRate" value="Samarth Shah" placeholder="" readonly>
                </div>

            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="drpTransferTo">Share Inquiry</label>
                    <select id="drpTransferTo" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                        <option selected="selected">Sudhir Punjabi</option>
                        <option>Samir Shah</option>

                    </select>
                </div>
                <div class="col-md-6">
                    <label for="txtTags">Tags</label>
                    <input type="text" data-role="tagsinput" class="form-control" id="txtTags" placeholder="Tags">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtRemarks">Remarks</label>
                    <textarea class="form-control" id="txtRemarks" rows="3"></textarea>
                </div>
                <div class="col-md-6">
                    <label for="txtInternal">Remarks (Internal)</label>
                    <textarea class="form-control" id="txtInternal" rows="3"></textarea>
                </div>
            </div>
        </div>


        <br />
        <button id="btnSave" type="submit" class="btn btn-success btnSave">
            CREATE INQUIRY</button>
        <button id="btnSave" type="submit" class="btn btn-primary btnSave">
            UPDATE INQUIRY</button>
        <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
            DELETE INQUIRY</button>
        <a class="btn btn-warning" aria-expanded="false" rel="tooltip" title="Create New" onclick="window.location.href=window.location.href;">
            <span class="fa fa-plus"></span>
        </a>

        <a class="btn btn-danger" aria-expanded="false" rel="tooltip" title="Quit From" onclick="window.location.href=window.location.href;">
            <span class="fa fa-times"></span>
        </a>
        <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
            <span class="fa fa-refresh"></span>
        </a>
    </form>
</div>

<div class="col-md-4 summery-detail summery-uitilities-detail summerytab11">
    <div class="panel-body tab-itenaries panel">
        <div class="panel-group" id="accordion1quote158" role="tablist" aria-multiselectable="true">
            <div class="panel panel-red">
                <div class="panel-heading2" role="tab" id="HeadingMenu">
                    <h4 class="panel-title" style="font-size: 17px !important; border-bottom: none; font-weight: normal">List Of Quotations (8)
                            
                          @*<a data-toggle="collapse" data-parent="#accordion1quote158" href="#collapsemenusmaple1we" aria-expanded="true" aria-controls="collapseOne" style="font-size: 13px">List Of Quotations</a>*@
                    </h4>
                </div>
                <div id="collapsemenusmaple1we" class="panel-collapse panel-white collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body slimscroll" style="max-height: 150px; border: solid; border-color: red; border-width: 0px; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px">
                        <table class="table summary-list">
                            <thead style="">
                                <tr>
                                    <th></th>
                                    <th>Date</th>
                                    <th>Sent By</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><span class="label label-primary">15-05-2016</span></td>
                                    <td>Samarth Shah</td>
                                    <td style="font-size:18px">
                                        <i class="fa text-success fa-pencil" rel="tooltip" title="Edit"></i>&nbsp;
                                         <i class="fa text-warning fa-download" rel="tooltip" title="Download"></i>&nbsp;
                                         <i class="fa text-primary fa-paper-plane" rel="tooltip" title="Send"></i>
                                   
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td><span class="label label-primary">15-05-2016</span></td>
                                    <td>Samarth Shah</td>
                                    <td style="font-size:18px">
                                        <i class="fa text-success fa-pencil" rel="tooltip" title="Edit"></i>&nbsp;
                                         <i class="fa text-warning fa-download" rel="tooltip" title="Download"></i>&nbsp;
                                         <i class="fa text-primary fa-paper-plane" rel="tooltip" title="Send"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td><span class="label label-primary">15-05-2016</span></td>
                                    <td>Samarth Shah</td>
                                     <td style="font-size:18px">
                                       <i class="fa text-success fa-pencil" rel="tooltip" title="Edit"></i>&nbsp;
                                         <i class="fa text-warning fa-download" rel="tooltip" title="Download"></i>&nbsp;
                                         <i class="fa text-primary fa-paper-plane" rel="tooltip" title="Send"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td><span class="label label-primary">15-05-2016</span></td>
                                    <td>Samarth Shah</td>
                                    <td style="font-size:18px">
                                      <i class="fa text-success fa-pencil" rel="tooltip" title="Edit"></i>&nbsp;
                                         <i class="fa text-warning fa-download" rel="tooltip" title="Download"></i>&nbsp;
                                         <i class="fa text-primary fa-paper-plane" rel="tooltip" title="Send"></i>
                                    </td>
                                </tr>

                            </tbody>
                        </table>



                    </div>
                </div>
            </div>

            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">

                    <a class="panel-title panel-title-sm" data-toggle="collapse" data-parent="#accordion1quote158" href="#" aria-expanded="true" aria-controls="collapseOne">Summary </a>

                </div>
                <div id="collapsemenusmaple12" class="panel-collapse panel-white collapse in" role="tabpanel" aria-labelledby="headingOne1" style="padding: 9px">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>
                                <tr>
                                    <td>Inquiry Code: </td>
                                    <td><span class="label label-primary">TourInq123</span></td>
                                </tr>

                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created From Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Total Quotations: </td>
                                    <td><span class="label label-danger">8</span></td>
                                </tr>
                                <tr>
                                    <td>Total Followups: </td>
                                    <td><span class="label label-warning">12</span></td>
                                </tr>
                                <tr>
                                    <td>Booked After Quotations: </td>
                                    <td><span class="label label-info">8</span></td>
                                </tr>
                                <tr>
                                    <td>Final Quotation: </td>
                                    <td><span class="label label-success">7</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

