@using (Html.BeginForm())
{
    <div class="col-md-12 form-detail">
        <div class="panel panel-white">
            <div class="panel-body">
                <div role="tabpanel">
                    <form>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Hotel</label>
                                    <input type="text" class="form-control" value="Hotel De Bangkok | Bangkok" id="txtTags" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Days From</label>
                                    <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                        <option>Day 1 (5-May)</option>
                                        <option>Day 2 (6-May)</option>
                                        <option>Day 3 (7-May)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Days To</label>
                                    <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                        <option>Day 1 (5-May)</option>
                                        <option>Day 2 (6-May)</option>
                                        <option>Day 3 (7-May)</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="row grid">
                                <div class="form-group">
                                    <div class="col-md-5 grid-item">
                                        <div class="panel panel-white ">
                                            <div class="panel-body tab-itenaries tab-itenaries1">
                                                <div class="myDiv">
                                                    <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                                        <label style="display: none" id="lbheadingName"></label>
                                                    </h3>
                                                </div>
                                                <h3 style="margin-top: 0; text-align: center;">
                                                    <label id="lbheading">Hotel De Bangkok</label></h3>

                                                <table class="table sampletable" style="margin-bottom: 0;">
                                                    <tbody>
                                                        <tr>
                                                            <td>Room Category</td>
                                                            <td>Room Type</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                                                    <option selected="selected">Superior</option>
                                                                    <option>Delux</option>
                                                                    <option>Standerd</option>
                                                                </select>

                                                            </td>
                                                            <td>
                                                                <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                                                    <option selected="selected">Twin</option>
                                                                    <option>Double</option>
                                                                    <option>Single</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Incl.ABF</td>
                                                            <td>Room Rate</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <input type="checkbox" />
                                                            </td>
                                                            <td>
                                                                <div class="input-group input-append">
                                                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="5800" placeholder="">
                                                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                          <tr>
                                                            <td>Extra Bed Adult Rate</td>
                                                            <td>Extra Bed Child Rate</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="input-group input-append">
                                                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="5800" placeholder="">
                                                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="input-group input-append">
                                                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="5800" placeholder="">
                                                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                         <tr>
                                                            <td>Infant Rate</td>
                                                            <td># Rooms</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="input-group input-append">
                                                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="5800" placeholder="">
                                                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                               <input type="text" class="form-control" id="txtTwinRoomRate" value="2" placeholder="">
                                                              
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Margin</td>
                                                            <td>Optional</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="input-group input-append">
                                                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="5800" placeholder="">
                                                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                               <input type="checkbox" class="form-control">
                                                              
                                                            </td>
                                                        </tr>
                                                         <tr>
                                                            <td>Self Book</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                           <td>
                                                               <input type="checkbox" class="form-control">
                                                              
                                                            </td>
                                                          
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <br />
                                <button id="btnSavepassword" type="submit" class="btn btn-success btnsavepasswordauth">
                                    SAVE</button>
                                <button id="btnUpdatepassword" type="submit" class="btn btn-primary btnsavepasswordauth">
                                    UPDATE</button>
                                <button id="btnCancelpassword" type="button" class="btn btn-green">
                                    DELETE</button>
                                <button id="btnclearpassword" type="button" class="btn btn-warning">
                                    CLEAR</button>
                                <button id="btnquitpassword" type="button" class="btn btn-info">
                                    QUIT FORM</button>
                                <a class="btn btn-refresh" rel="tooltip" title="Refresh Page" aria-expanded="false" onclick="window.location.href=window.location.href;">
                                    <span class="fa fa-refresh"></span>
                                </a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
}