<div id="rootwizard2">
    <ul class="nav nav-tabs wizard-tab wizardtab-verti col-md-3" role="tablist">
        <li role="presentation"><a href="#tab2-7" data-toggle="tab">Transportation <i class="">
            <img alt="Guide" src="../../assets/images/wizards/transportation.png"></i></a></li>
    </ul>
    <form id="wizardForm form-horizontal" class="wizard-verti-form">
        <div class="tab-content" style="border-left: 1px dashed #dce1e4; padding-left: 10px">

            <div class="m-b-lg tab-itenaries tab-itenaries1 panel panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="table-responsive">
                                    <table style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th style="width: 37%; padding: 5px">FOC Type</th>
                                                <th style="width: 8%; padding: 5px">Incl.ABF</th>
                                                <th style="width: 8%; padding: 5px">Surcharge</th>
                                                <th style="width: 14%; padding: 5px">Count</th>
                                                <th style="width: 14%; padding: 5px">Free</th>
                                                <th style="width: 14%; padding: 5px">Limit</th>
                                                <th style="width: 5%; padding: 5px"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="padding: 5px">
                                                    <select id="drpFOCType" class="js-states form-control" style="display: none; width: 100%">
                                                        <option>None</option>
                                                        <option>Guest</option>
                                                        <option>Night</option>
                                                        <option selected="selected">Room</option>
                                                        <option>SEQ Guest</option>
                                                        <option>SEQ Night</option>
                                                        <option>SEQ Room</option>
                                                    </select>
                                                </td>
                                                <td style="padding: 5px">
                                                    <input type="checkbox">
                                                </td>
                                                <td style="padding: 5px">
                                                    <input type="checkbox" checked="checked">
                                                </td>
                                                <td style="padding: 5px">
                                                    <input type="text" class="form-control " id="" value="50" placeholder="">
                                                </td>
                                                <td style="padding: 5px">
                                                    <input type="text" class="form-control " id="" value="1" placeholder="">
                                                </td>
                                                <td style="padding: 5px">
                                                    <input type="text" class="form-control " id="" value="5" placeholder="">
                                                </td>
                                                <td style="padding: 5px"></td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    <select id="drpFOCType" class="js-states form-control" style="display: none; width: 100%">
                                                        <option>None</option>
                                                        <option>Guest</option>
                                                        <option>Night</option>
                                                        <option selected="selected">Room</option>
                                                        <option>SEQ Guest</option>
                                                        <option>SEQ Night</option>
                                                        <option>SEQ Room</option>
                                                    </select>
                                                </td>
                                                <td style="padding: 5px">
                                                    <input type="checkbox" checked="checked">
                                                </td>
                                                <td style="padding: 5px">
                                                    <input type="checkbox">
                                                </td>
                                                <td style="padding: 5px">
                                                    <input type="text" class="form-control " id="" value="40" placeholder="">
                                                </td>
                                                <td style="padding: 5px">
                                                    <input type="text" class="form-control " id="" value="1" placeholder="">
                                                </td>
                                                <td style="padding: 5px">
                                                    <input type="text" class="form-control " id="" value="" placeholder="">
                                                </td>
                                                <td style="padding: 5px">
                                                    <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px">
                                                    <select id="drpFOCType" class="js-states form-control" style="display: none; width: 100%">
                                                        <option>None</option>
                                                        <option selected="selected">Guest</option>
                                                        <option>Night</option>
                                                        <option>Room</option>
                                                        <option>SEQ Guest</option>
                                                        <option>SEQ Night</option>
                                                        <option>SEQ Room</option>
                                                    </select>
                                                </td>
                                                <td style="padding: 5px">
                                                    <input type="checkbox">
                                                </td>
                                                <td style="padding: 5px">
                                                    <input type="checkbox">
                                                </td>
                                                <td style="padding: 5px">
                                                    <input type="text" class="form-control " id="" value="15" placeholder="">
                                                </td>
                                                <td style="padding: 5px">
                                                    <input type="text" class="form-control " id="" value="1" placeholder="">
                                                </td>
                                                <td style="padding: 5px">
                                                    <input type="text" class="form-control " id="" value="3" placeholder="">
                                                </td>
                                                <td style="padding: 5px">
                                                    <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="text-align: right; margin-top: 2%; margin-bottom: 1px; margin-right: 1%">
                        <label style="margin-right: 8px">Include in Quote</label><input type="checkbox" style="" />
                        <a class=" btn btn-success" rel="tooltip" title="Save" style="padding: 3px 10px; text-align: right; margin-left: 10px"><span class="fa fa-floppy-o"></span></a>
                        <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px; text-align: right; margin-left: 10px"><span class="fa fa-times"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="col-md-3 quote-link" style="padding-right: 1px">
    </div>
</div>


