<div id="rootwizard2">
    <ul class="nav nav-tabs wizard-tab wizardtab-verti col-md-3" role="tablist">
        <li role="presentation"><a href="#tab2-7" data-toggle="tab">Transportation <i class="">
            <img alt="Guide" src="../../assets/images/wizards/transportation.png"></i></a></li>
    </ul>
    <form id="wizardForm form-horizontal" class="wizard-verti-form">
        <div class="tab-content" style="border-left: 1px dashed #dce1e4; padding-left: 10px">

            <div class="m-b-lg tab-itenaries tab-itenaries1 panel panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <a>
                            <img src="http://q-ec.bstatic.com/images/hotel/square200/144/14425938.jpg" width="155" height="155" />
                        </a>

                        <div class="panel panel-blue" style="margin-top: 7px; border-radius: 4px !important; color: white; margin-bottom: 13px">
                            <div class="panel-heading1" role="tab" id="headingOneq7re1">
                                <h4 class="panel-title" style="border-bottom: none !important; font-size: 10px !important; text-align: center">
                                    <a data-toggle="collapse" data-parent="#accordionyre1" href="#collapseOneq7re1" aria-expanded="true" aria-controls="collapseOne" style="">Selected Room Category
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOneq7re1" class="panel-collapse panel-white collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body" style="padding: 5px">
                                    <table class="table-itinarary-summary table tablespan" style="width: 100%; margin-bottom: 1px !important">
                                        <tbody>

                                            <tr>
                                                <td style="width: 77%">Superior-Single</td>

                                                <td><span class="text-primary fa fa-money faSuccess" data-html="true" rel="tooltip" title="<span> Room Rate-5800 <br/> Extra Bed Adult Rate-1200 <br /> Extra Bed Child Rate-200 <br /> Infant Rate-0 | Margin-200</span>"></span></td>
                                                <td><span class="text-success fa fa-pencil faSuccess"></span></td>
                                            </tr>
                                            <tr>
                                                <td>Superior-Double</td>

                                                <td><span class="text-primary fa fa-money faSuccess" data-html="true" rel="tooltip" title="<span> Room Rate-5800 <br/> Extra Bed Adult Rate-1200 <br /> Extra Bed Child Rate-200 <br /> Infant Rate-0 | Margin-200</span>"></span></td>
                                                <td><span class="text-success fa fa-pencil faSuccess"></span></td>
                                            </tr>
                                            <tr>
                                                <td>Superior-Twin</td>

                                                <td><span class="text-primary fa fa-money faSuccess" data-html="true" rel="tooltip" title="<span> Room Rate-5800 <br/> Extra Bed Adult Rate-1200 <br /> Extra Bed Child Rate-200 <br /> Infant Rate-0 | Margin-200</span>"></span></td>
                                                <td><span class="text-success fa fa-pencil faSuccess"></span></td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-blue" style="margin-top: 7px; border-radius: 4px !important; color: white; margin-bottom: 13px">
                            <div class="panel-heading1" role="tab" id="headingOneq71">
                                <h4 class="panel-title" style="border-bottom: none !important; font-size: 10px !important; text-align: center">
                                    <a data-toggle="collapse" data-parent="#accordionyre1" href="#collapseOneq71re1" aria-expanded="true" aria-controls="collapseOne" style="">Selected Function Room
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOneq71re1" class="panel-collapse panel-white collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body" style="padding: 5px">
                                    <table class="table-itinarary-summary table tablespan" style="width: 100%; margin-bottom: 1px !important">
                                        <tbody>

                                            <tr>
                                                <td style="width: 77%">First floor Hall</td>

                                                <td><span class="text-primary fa fa-money faSuccess" data-html="true" rel="tooltip" title="<span> Adult Rate-5800 <br/> Child Rate-1200 <br /> Margin-200</span>"></span></td>
                                                <td><span class="text-success fa fa-pencil faSuccess"></span></td>
                                            </tr>
                                            <tr>
                                                <td>First Floor Hall</td>

                                                <td><span class="text-primary fa fa-money faSuccess" data-html="true" rel="tooltip" title="<span> Adult Rate-5800 <br/> Child Rate-1200 <br /> Margin-200</span>"></span></td>
                                                <td><span class="text-success fa fa-pencil faSuccess"></span></td>
                                            </tr>
                                            <tr>
                                                <td>First Floor Hall</td>

                                                <td><span class="text-primary fa fa-money faSuccess" data-html="true" rel="tooltip" title="<span> Adult Rate-5800 <br/> Child Rate-1200 <br /> Margin-200</span>"></span></td>
                                                <td><span class="text-success fa fa-pencil faSuccess"></span></td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-blue" style="margin-top: 7px; border-radius: 4px !important; color: white; margin-bottom: 13px">
                            <div class="panel-heading1" role="tab" id="headingOneq71">
                                <h4 class="panel-title" style="border-bottom: none !important; font-size: 10px !important; text-align: center">
                                    <a data-toggle="collapse" data-parent="#accordionyre1" href="#collapseOneq712re1" aria-expanded="true" aria-controls="collapseOne" style="">Selected Gala Dinner
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOneq712re1" class="panel-collapse panel-white collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body" style="padding: 5px">
                                    <table class="table-itinarary-summary table tablespan" style="width: 100%; margin-bottom: 1px !important">
                                        <tbody>

                                            <tr>
                                                <td style="width: 77%">First floor Hall</td>

                                                <td><span class="text-primary fa fa-money faSuccess" data-html="true" rel="tooltip" title="<span> Adult Rate-5800 <br/> Child Rate-1200 <br /> Margin-200</span>"></span></td>
                                                <td><span class="text-success fa fa-pencil faSuccess"></span></td>
                                            </tr>
                                            <tr>
                                                <td>First Floor Hall</td>

                                                <td><span class="text-primary fa fa-money faSuccess" data-html="true" rel="tooltip" title="<span> Adult Rate-5800 <br/> Child Rate-1200 <br /> Margin-200</span>"></span></td>
                                                <td><span class="text-success fa fa-pencil faSuccess"></span></td>
                                            </tr>
                                            <tr>
                                                <td>First Floor Hall</td>

                                                <td><span class="text-primary fa fa-money faSuccess" data-html="true" rel="tooltip" title="<span> Adult Rate-5800 <br/> Child Rate-1200 <br /> Margin-200</span>"></span></td>
                                                <td><span class="text-success fa fa-pencil faSuccess"></span></td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <a class=" btn btn-warning" rel="tooltip" title="Request For Quote" style="padding: 3px 10px;" data-toggle="modal" data-target="#Reqforquote"><span class="fa fa-location-arrow"></span></a>
                        <a class=" btn btn-info" rel="tooltip" title="Supplier Communication" style="padding: 3px 10px; margin-left: 10px" data-toggle="modal" data-target="#SupCommuni"><span class="fa fa-envelope"></span></a>
                    </div>
                    <div class="col-md-9" style="padding: 9px; padding-top: 0px">
                        <h5 class="text-danger">Hotel De Bangkok - 
                                <label style="font-size: 13px; text-align: left">For Itenarary Range Pax</label>
                            <span style="text-align: right">
                                <div class="star-ratings">
                                    <div class="stars stars-example-bootstrap">
                                        <select id="example-bootstrap1" class="example-bootstrap" name="rating">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4" selected="selected">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                            </span></h5>
                        <div class="panel-group" id="accordionre1" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-red" style="border-radius: 4px; margin-bottom: 1px !important; margin-top: 5px">
                                <div class="panel-heading2" role="tab" id="headingOnessqw7">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionre" href="#collapseOnessqw7re" aria-expanded="true" aria-controls="collapseOne">Function Room -  <span style="font-size: 10px">01-May-2016 to 10-May-2016</span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOnessqw7re" class="panel-collapse panel-white collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="col-md-8" style="padding-left: 1px !important; border-right: 1px dotted red">
                                            <div class="col-md-6" style="padding-left: 1px !important">
                                                <label>From Day</label>
                                            </div>
                                            <div class="col-md-6" style="padding-left: 1px !important; padding-right: 1px !important">
                                                <label>To Day</label>
                                            </div>
                                            <div class="col-md-6" style="padding-left: 1px !important; padding-right: 4px !important">
                                                <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                                    <option>Day 1 (5-May-2016)</option>
                                                    <option>Day 2 (6-May-2016)</option>
                                                    <option>Day 3 (7-May-2016)</option>
                                                </select>
                                            </div>

                                            <div class="col-md-6" style="padding-left: 1px !important; padding-right: 1px !important">
                                                <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                                    <option>Day 4 (8-May-2016)</option>
                                                    <option>Day 5 (9-May-2016)</option>
                                                    <option>Day 6 (10-May-2016)</option>
                                                </select>
                                            </div>
                                            <label style="padding-top: 2%;">Function Venue</label>
                                            <input type="text" class="form-control" id="txtRateToDate" value="First Floor Hall" placeholder="">

                                            <label style="padding-top: 2%;">Function Type</label>
                                            <input type="text" class="form-control" id="txtRateToDate" value="Half Day AM " placeholder="">
                                            <div class="form-group">
                                                <div class="col-md-6" style="padding-left: 1px !important; padding-top: 2%">
                                                    <label>From Time</label>
                                                </div>
                                                <div class="col-md-6" style="padding-left: 1px !important; padding-top: 2%">
                                                    <label>To Time</label>

                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-6" style="padding-left: 1px !important; padding-right: 8px">
                                                    <div class="input-group input-append bootstrap-timepicker">
                                                        <input type="text" class="form-control timepicker" value="1300" id="">
                                                        <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" style="padding-left: 1px !important; padding-right: 1px">
                                                    <div class="input-group input-append bootstrap-timepicker">
                                                        <input type="text" class="form-control timepicker" value="1400" id="">
                                                        <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group" style="padding-top: 23%">
                                                <h4>Tea / Coffee / Lunch Break</h4>
                                                <table style="width: 100%">
                                                    <thead>
                                                        <tr>
                                                            <th style="padding: 5px;width:45%">Break Type</th>
                                                            <th style="padding: 5px;width:44%">Time</th>
                                                            <th style="padding: 5px;width:6%"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding: 5px">
                                                                <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                                                    <option>Tea / Coffee</option>
                                                                    <option>Lunch </option>
                                                                </select>
                                                            </td>
                                                            <td style="padding: 5px">
                                                                <div class="input-group input-append bootstrap-timepicker">
                                                                    <input type="text" class="form-control timepicker" value="1400" id="">
                                                                    <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                                                </div>
                                                            </td>
                                                            <td style="padding: 5px">
                                                                <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 5px">
                                                              <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                                                    <option>Tea / Coffee</option>
                                                                    <option>Lunch </option>
                                                                </select>
                                                            </td>
                                                            <td style="padding: 5px">
                                                                <div class="input-group input-append bootstrap-timepicker">
                                                                    <input type="text" class="form-control timepicker" value="1800" id="">
                                                                    <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                                                </div>
                                                            </td>
                                                            <td style="padding: 5px">
                                                                <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 5px">
                                                              <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                                                    <option>Tea / Coffee</option>
                                                                    <option selected="selected">Lunch </option>
                                                                </select>
                                                            </td>
                                                            <td style="padding: 5px">
                                                                <div class="input-group input-append bootstrap-timepicker">
                                                                    <input type="text" class="form-control timepicker" value="1200" id="">
                                                                    <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                                                </div>
                                                            </td>
                                                            <td style="padding: 5px">
                                                                <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                           
                                            <div class="">
                                                <label style="padding-top: 2%">Lunch Menu Type</label>
                                                <select id="drpChargeType" class="js-states form-control" style="display: none; width: 100%">
                                                    <option>Set Lunch</option>
                                                    <option>Buffet</option>
                                                </select>
                                            </div>
                                            <label style="">Additonal Inclusions</label>
                                            <input type="text" class="form-control" />
                                            <div class="form-group">
                                                <div class="col-md-4" style="padding-left: 1px !important; padding-right: 1px">
                                                    <label>&nbsp;</label>
                                                </div>
                                                <div class="col-md-8" style="padding-left: 1px !important; padding-right: 1px">
                                                    <label>&nbsp;</label>

                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-4" style="padding-left: 1px !important; padding-right: 8px">
                                                </div>
                                                <div class="col-md-8" style="padding-left: 1px !important; padding-right: 1px; text-align: right">
                                                    <a class=" btn btn-success" rel="tooltip" title="Add To Itinerary" style="padding: 3px 10px; text-align: right"><span class="fa fa-floppy-o"></span></a>
                                                    <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px; text-align: right; margin-left: 10px"><span class="fa fa-times"></span></a>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-md-4" style="padding-right: 1px !important">
                                            <h3 class="text-danger" style="text-align: center; color: red; margin-top: 1px; font-size: 15px; border-bottom: 1px dotted red; margin-left: 6px; margin-right: 6px">Net Rate</h3>
                                            <label class="toppaddingall">Adult Rate</label>
                                            <div class="input-group input-append">
                                                <input type="text" class="form-control" id="txtTwinRoomRate" value="1200" placeholder="">
                                                <span class="input-group-addon add-on"><span>THB</span></span>
                                            </div>

                                            <label class="toppaddingall">Child Rate</label>
                                            <div class="input-group input-append">
                                                <input type="text" class="form-control" id="txtTwinRoomRate" value="600" placeholder="">
                                                <span class="input-group-addon add-on"><span>THB</span></span>
                                            </div>

                                            <label class="toppaddingall">Adult Margin</label>
                                            <div class="input-group input-append">
                                                <input type="text" class="form-control" id="txtTwinRoomRate" value="200" placeholder="">
                                                <span class="input-group-addon add-on"><span>THB</span></span>
                                            </div>
                                            <label class="toppaddingall">Child Margin</label>
                                            <div class="input-group input-append">
                                                <input type="text" class="form-control" id="txtTwinRoomRate" value="200" placeholder="">
                                                <span class="input-group-addon add-on"><span>THB</span></span>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="col-md-3 quote-link" style="padding-right: 1px">
    </div>
</div>


