<div class="col-md-6" style="">
                    <div class="form-group">
                        <div class="row">
                            <section id="cd-timeline" class="cd-container mCustomScrollbar" style="float: left; width: 97%">
                                <div class="cd-timeline-block">
                                    <div class="cd-timeline-img cd-success">
                                        <i class="fa fa-plus"></i>
                                    </div>

                                    <div class="cd-timeline-content cdnew" style="border: 1px solid red; padding: 7px;">
                                        <h2 class="text-success">Created</h2>
                                        <span class="cd-date">11-Mar-2016 05:11 PM</span>
                                        <span class="cd-date pull-right">Sudhir Seth</span>
                                        <span class="cd-date" style="display: block; width: 50%;">198.013.120.143</span>

                                    </div>

                                </div>
                                <!-- cd-timeline-block -->
                                <div class="cd-timeline-block">
                                    <div class="cd-timeline-img cd-primary">
                                        <i class="fa fa-pencil"></i>
                                    </div>
                                    <div class="cd-timeline-content">
                                        <h2 class="text-primary">Updated</h2>
                                        <span class="cd-date">12-Mar-2016 09:59 AM</span>
                                        <span class="cd-date pull-right">Samarth Shah</span>
                                        <span class="cd-date" style="display: block; width: 50%;">165.145.12.013</span>
                                    </div>
                                    <!-- cd-timeline-content -->
                                </div>
                                <div class="cd-timeline-block">
                                    <div class="cd-timeline-img cd-primary">
                                        <i class="fa fa-pencil"></i>
                                    </div>
                                    <div class="cd-timeline-content">
                                        <h2 class="text-primary">Updated</h2>
                                        <span class="cd-date ">12-Mar-2016 01:23 PM</span>
                                        <span class="cd-date pull-right">Samarth Shah</span>
                                        <span class="cd-date" style="display: block; width: 50%;">165.145.12.013</span>
                                    </div>
                                    <!-- cd-timeline-content -->
                                </div>
                                <!-- cd-timeline-block -->
                                <div class="cd-timeline-block">
                                    <div class="cd-timeline-img cd-danger">
                                        <i class="fa fa-trash"></i>
                                    </div>
                                    <!-- cd-timeline-img -->

                                    <div class="cd-timeline-content">
                                        <h2 class="text-danger">Deleted</h2>
                                        <span class="cd-date ">12-Mar-2016 10:36 AM</span>
                                        <span class="cd-date pull-right">Samarth Shah</span>
                                        <span class="cd-date" style="display: block; width: 50%;">165.145.12.013</span>
                                    </div>
                                    <!-- cd-timeline-content -->
                                </div>
                                <!-- cd-timeline-block -->
                            </section>
                        </div>
                    </div>
                </div>

  <table style="width: 100%" class="audittrailable">
                                <thead>
                                    <tr style="">
                                        <th style="width: 2%;">Time</th>
                                        <th style="width: 49%;">Action</th>
                                        <th style="width: 20%;">Action By</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="background-color: #F0F0F0" colspan="3">20/06/2016</td>
                                    </tr>
                                    <tr class="botmbor">
                                        <td>
                                            <span style="">22:00</span>
                                        </td>
                                        <td>
                                            <span style="border-radius: 50%; font-size: 18px; color: white" class="label label-success"><i class="fa fa-map-o"></i></span>
                                            <span style="">Inquiry Created</span>
                                        </td>
                                        <td>
                                            <span style="">Samarth Shah</span>
                                        </td>
                                    </tr>
                                    <tr class="botmbor" style="border: 1px solid red;">
                                        <td>
                                            <span style="">22:15</span>
                                        </td>
                                        <td>
                                            <span style="border-radius: 50%; font-size: 18px; color: white" class="label label-success"><i class="fa fa-ticket"></i></span>
                                            <span style="">Quote Created</span>
                                        </td>
                                        <td>
                                            <span style="">Samarth Shah</span>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td>
                                            <span style="">23:00</span>
                                        </td>
                                        <td>
                                            <span style="border-radius: 50%; font-size: 19px; color: white" class="label label-success"><i class="fa fa-h-square"></i></span>
                                            <span style="">Hotel Created</span>
                                        </td>
                                        <td>
                                            <span style="">Samarth Shah</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span style="">23:05</span>
                                        </td>
                                        <td>
                                            <span style="border-radius: 50%; font-size: 19px; color: white" class="label label-primary"><i class="fa fa-h-square"></i></span>
                                            <span style="">Hotel Updated</span>
                                        </td>
                                        <td>
                                            <span style="">Samarth Shah</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span style="">23:10</span>
                                        </td>
                                        <td>
                                            <span style="border-radius: 50%; font-size: 18px; color: white" class="label label-success"><i class="fa fa-car"></i></span>
                                            <span style="">Transfer Created</span>
                                        </td>
                                        <td>
                                            <span style="">Samarth Shah</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span style="">23:12</span>
                                        </td>
                                        <td>
                                            <span style="border-radius: 50%; font-size: 18px; color: white" class="label label-primary"><i class="fa fa-car"></i></span>
                                            <span style="">Transfer Updated</span>
                                        </td>
                                        <td>
                                            <span style="">Samarth Shah</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span style="">23:12</span>
                                        </td>
                                        <td>
                                            <span style="border-radius: 50%; font-size: 18px; color: white" class="label label-success"><i class="fa fa-flag"></i></span>
                                            <span style="">Sightseeing Created</span>
                                        </td>
                                        <td>
                                            <span style="">Samarth Shah</span>
                                        </td>
                                    </tr>
                                     <tr>
                                        <td>
                                            <span style="">23:12</span>
                                        </td>
                                        <td>
                                            <span style="border-radius: 50%; font-size: 18px; color: white" class="label label-success"><i class="fa fa-cog"></i></span>
                                            <span style="">Additional Services Created</span>
                                        </td>
                                        <td>
                                            <span style="">Samarth Shah</span>
                                        </td>
                                    </tr>
                                     <tr>
                                        <td style="background-color: #F0F0F0" colspan="3">21/06/2016</td>
                                    </tr>
                                      <tr>
                                        <td>
                                            <span style="">22:00</span>
                                        </td>
                                        <td>
                                            <span style="border-radius: 50%; font-size: 19px; color: white" class="label label-primary"><i class="fa fa-h-square"></i></span>
                                            <span style="">Hotel Updated</span>
                                        </td>
                                        <td>
                                            <span style="">Samarth Shah</span>
                                        </td>
                                    </tr>
                                      <tr>
                                        <td>
                                            <span style="">22:10</span>
                                        </td>
                                        <td>
                                            <span style="border-radius: 50%; font-size: 19px; color: white" class="label label-primary"><i class="fa fa-flag"></i></span>
                                            <span style="">Sightseeing Updated</span>
                                        </td>
                                        <td>
                                            <span style="">Samarth Shah</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>




 <div class="col-md-6 summerytab3" style="width: 50%; padding-right: 1px">
                    <div class="panel-body tab-itenaries ">
                        <div class="panel-group">
                            <div class="panel panel-red">
                                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                                    <h4 class="panel-title">Audit Trail 
                                               
                                    </h4>
                                </div>
                                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">

                                    <div class="panel-body slimscroll" style="max-height: 500px;">

                                        <table class="table auditsummury" style="width: 100%; margin-bottom: 1px">
                                            <tbody>
                                                <tr class="txtName">
                                                    <td style=""><span class="label" style="color: #22BAA0"><i class="fa fa-angle-double-right" style="font-size: 17px"></i></span></td>
                                                    <td style="">
                                                        <label style="color: #0C1F28">Quotation Copied From &nbsp;-</label>
                                                        <label style="color: #F25656">&nbsp;Q-INQ-06-2016-0000001/001</label></td>
                                                </tr>
                                                <tr class="txtName">
                                                    <td><span class="label" style="color: #22BAA0"><i class="fa fa-angle-double-right" style="font-size: 17px"></i></span>&nbsp;&nbsp;</td>
                                                    <td>
                                                        <label style="color: #0C1F28">Quotation Currency Selected to &nbsp;-</label>
                                                        <label style="color: #F25656">&nbsp; THB</label></td>
                                                </tr>
                                                <tr class="txtName">
                                                    <td><span class="label" style="color: #22BAA0"><i class="fa fa-angle-double-right" style="font-size: 17px"></i></span>&nbsp;&nbsp;</td>
                                                    <td>
                                                        <label style="color: #0C1F28">Quotation Exchange Rate Added &nbsp;-</label>
                                                        <label style="color: #F25656">&nbsp; 0.028</label></td>
                                                </tr>
                                                <tr class="txtName">
                                                    <td><span class="label" style="color: #22BAA0"><i class="fa fa-angle-double-right" style="font-size: 17px"></i></span>&nbsp;&nbsp;</td>
                                                    <td>
                                                        <label style="color: #0C1F28">Pax From Added &nbsp;-</label>
                                                        <label style="color: #F25656">&nbsp; 10</label></td>
                                                </tr>
                                                <tr class="txtName">
                                                    <td><span class="label" style="color: #22BAA0"><i class="fa fa-angle-double-right" style="font-size: 17px"></i></span>&nbsp;&nbsp;</td>
                                                    <td>
                                                        <label style="color: #0C1F28">Pax To Added &nbsp;-</label>
                                                        <label style="color: #F25656">&nbsp; 14</label></td>
                                                </tr>
                                                <tr class="txtName">
                                                    <td><span class="label" style="color: #22BAA0"><i class="fa fa-angle-double-right" style="font-size: 17px"></i></span>&nbsp;&nbsp;</td>
                                                    <td>
                                                        <label style="color: #0C1F28">Country Selected &nbsp;-</label>
                                                        <label style="color: #F25656">&nbsp; Thailand</label></td>
                                                </tr>
                                                <tr class="txtName">
                                                    <td><span class="label" style="color: #22BAA0"><i class="fa fa-angle-double-right" style="font-size: 17px"></i></span>&nbsp;&nbsp;</td>
                                                    <td>
                                                        <label style="color: #0C1F28">Cities Selected &nbsp;-</label>
                                                        <label style="color: #F25656">&nbsp; Bangkok, Pattaya, Phuket</label></td>
                                                </tr>
                                                <tr class="txtName">
                                                    <td><span class="label" style="color: #22BAA0"><i class="fa fa-angle-double-right" style="font-size: 17px"></i></span>&nbsp;&nbsp;</td>
                                                    <td>
                                                        <label style="color: #0C1F28">Hotel Added &nbsp;-</label>
                                                        <label style="color: #F25656">&nbsp; Hotel De Bangkok</label></td>
                                                </tr>
                                                <tr class="txtName">
                                                    <td><span class="label" style="color: #22BAA0"><i class="fa fa-angle-double-right" style="font-size: 17px"></i></span>&nbsp;&nbsp;</td>
                                                    <td>
                                                        <label style="color: #0C1F28">Transport Added &nbsp;-</label>
                                                        <label style="color: #F25656">&nbsp; Car Sedan</label></td>
                                                </tr>
                                                <tr class="txtName">
                                                    <td><span class="label" style="color: #22BAA0"><i class="fa fa-angle-double-right" style="font-size: 17px"></i></span>&nbsp;&nbsp;</td>
                                                    <td>
                                                        <label style="color: #0C1F28">Guide Added &nbsp;-</label>
                                                        <label style="color: #F25656">&nbsp; Guide Bangkok</label></td>
                                                </tr>
                                                <tr class="txtName">
                                                    <td><span class="label" style="color: #22BAA0"><i class="fa fa-angle-double-right" style="font-size: 17px"></i></span>&nbsp;&nbsp;</td>
                                                    <td>
                                                        <label style="color: #0C1F28">Sightseeing Added &nbsp;-</label>
                                                        <label style="color: #F25656">&nbsp; Phi Phi Island - Big Boat</label></td>
                                                </tr>
                                                <tr class="txtName">
                                                    <td><span class="label" style="color: #22BAA0"><i class="fa fa-angle-double-right" style="font-size: 17px"></i></span>&nbsp;&nbsp;</td>
                                                    <td>
                                                        <label style="color: #0C1F28">Sightseeing Added &nbsp;-</label>
                                                        <label style="color: #F25656">
                                                            &nbsp; Phi Phi Island - Speed Boat
                                                        </label>
                                                    </td>
                                                </tr>
                                                <tr class="txtName">
                                                    <td><span class="label" style="color: #22BAA0"><i class="fa fa-angle-double-right" style="font-size: 17px"></i></span>&nbsp;&nbsp;</td>
                                                    <td>
                                                        <label style="color: #0C1F28">Restaurant Added &nbsp;-</label>
                                                        <label style="color: #F25656">&nbsp; Eat Me Restaurant</label></td>
                                                </tr>
                                                <tr class="txtName">
                                                    <td><span class="label" style="color: #22BAA0"><i class="fa fa-angle-double-right" style="font-size: 17px"></i></span>&nbsp;&nbsp;</td>
                                                    <td>
                                                        <label style="color: #0C1F28">Additional Service Added &nbsp;-</label>
                                                        <label style="color: #F25656">&nbsp; 2 Wheelchair</label></td>
                                                </tr>

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>