<h3>Function Room</h3>
<div class="form-group">
    <div class="row">
        <div class="col-md-3">
            <label for="txtRateFromDate">From Date</label>
            <input type="text" class="form-control date-picker" id="txtRateFromDate" value="01/07/2016" placeholder="Travel From Date">
        </div>
        <div class="col-md-3">
            <label for="txtRateToDate">To Date </label>
            <input type="text" class="form-control date-picker" id="txtRateToDate" value="04/07/2016" placeholder="Travel To Date">
        </div>


    </div>
</div>
<div style="border: 1px dashed #F25656;">
    <div style="padding: 5px">
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">

                    <div class="table-responsive">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="width: 25%; padding: 5px">Hotel / Restaurant</th>
                                    <th style="width: 20%; padding: 5px">Function Venue</th>
                                    <th style="width: 15%; padding: 5px">Function Type</th>
                                    <th style="width: 10%; padding: 5px">From Time</th>
                                    <th style="width: 10%; padding: 5px">To Time</th>
                                    <th style="width: 10%; padding: 5px">Tea Coffe Break</th>
                                    <th style="width: 10%; padding: 5px">Lunch</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtRateToDate" value="Hotel De Bangkok" placeholder="">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtRateToDate" value="First Floor Hall" placeholder="">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtRateToDate" value="Half Day AM" placeholder="">
                                    </td>
                                    <td style="padding: 5px">
                                        <div class="input-group input-append bootstrap-timepicker">
                                            <input type="text" class="form-control timepicker" value="1200" id="">
                                            <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px">
                                        <div class="input-group input-append bootstrap-timepicker">
                                            <input type="text" class="form-control timepicker" value="1200" id="">
                                            <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtRateToDate" value="2" placeholder="">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtRateToDate" value="1" placeholder="">
                                    </td>
                                  
                                </tr>

                            </tbody>
                        </table>
                    </div>
                     <div class="table-responsive">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                  
                                    <th style="width: 12%; padding: 5px">Menu Type</th>
                                    <th style="width: 13%; padding: 5px">Adult Rate</th>
                                    <th style="width: 20%; padding: 5px">Child Rate</th>
                                    <th style="width: 15%; padding: 5px">Margin</th>
                                    <th style="width: 10%; padding: 5px">Optional</th>
                                    <th style="width: 40%; padding: 5px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                   
                                    <td style="padding: 5px">
                                        <select id="drpChargeType" class="js-states form-control" style="display: none; width: 100%">
                                            <option>Set Lunch</option>
                                            <option>Buffet</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px;">
                                        <div class="input-group input-append">
                                            <input type="text" class="form-control" id="txtTwinRoomRate" value="500" placeholder="">
                                            <span class="input-group-addon add-on"><span>THB</span></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px;">
                                        <div class="input-group input-append">
                                            <input type="text" class="form-control" id="txtTwinRoomRate" value="200" placeholder="">
                                            <span class="input-group-addon add-on"><span>THB</span></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px;">
                                        <div class="input-group input-append">
                                            <input type="text" class="form-control" id="txtTwinRoomRate" value="250" placeholder="">
                                            <span class="input-group-addon add-on"><span>THB</span></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px;">
                                        <input type="checkbox" />
                                    </td>
                                    <td style="padding: 5px;text-align: right">
                                        <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
