<h3>Function Room</h3>
<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <label for="txtRateFromDate">From Date</label>
            <input type="text" class="form-control date-picker" id="txtRateFromDate" value="01/07/2016" placeholder="Travel From Date">
        </div>
        <div class="col-md-6">
            <label for="txtRateToDate">To Date </label>
            <input type="text" class="form-control date-picker" id="txtRateToDate" value="04/07/2016" placeholder="Travel To Date">
        </div>


    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-12">

            <div class="table-responsive">
                <table style="width: 100%">
                    <thead>
                        <tr>
                            <th style="width: 13%; padding: 5px">Hotel / Restaurant</th>
                            <th style="width: 13%; padding: 5px">Function Venue</th>
                            <th style="width: 32%; padding: 5px">Function Type</th>
                            <th style="width: 10%; padding: 5px">Adult Rate</th>
                            <th style="width: 10%; padding: 5px">Child Rate</th>
                            <th style="width: 10%; padding: 5px">Margin</th>
                            <th style="width: 6%; padding: 5px">Optional</th>
                            <th style="width: 6%; padding: 5px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding: 5px">
                                <input type="text" class="form-control" id="txtRateToDate" value="Hotel De Bangkok" placeholder="">
                            </td>
                            <td style="padding: 5px">
                                <input type="text" class="form-control" id="txtRateToDate" value="First Floor Hall" placeholder="">
                            </td>
                            <td style="padding: 5px">
                                <input type="text" class="form-control" id="txtRateToDate" value="Half Day AM | 10:00 - 13:00 | 2 Tea/Coffe Break | 1 Lunch | Menu - Set Lunch" placeholder="">
                            </td>
                            <td style="padding: 5px;">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="500" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px;">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="200" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                             <td style="padding: 5px;">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="0" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px;text-align:center">
                                <input type="checkbox" />
                            </td>
                            <td style="padding: 5px">
                                <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

