<h3>Gala Dinner</h3>
<div class="form-group">
    <div class="row">
        <div class="col-md-3">
            <label for="txtRateFromDate">From Date</label>
            <input type="text" class="form-control date-picker" id="txtRateFromDate" value="01/07/2016" placeholder="Travel From Date">
        </div>
        <div class="col-md-3">
            <label for="txtRateToDate">To Date </label>
            <input type="text" class="form-control date-picker" id="txtRateToDate" value="04/20/2016" placeholder="Travel To Date">
        </div>
        <div class="col-md-6">
            <label for="drpFunctionType">Hotel / Restaurant</label>
            <input type="text" class="form-control " id="txtRateToDate" value="" placeholder="">
        </div>

    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <label for="txtFromDate">Dinner Menu</label>
            <select id="drpFunctionType" class="js-states form-control" style="display: none; width: 100%">
                <option selected="selected">2 Veg. Dishes</option>
                <option>2 Non Veg. Dishes</option>
                <option>3 Veg. Dishes</option>
                <option>3 Non Veg. Dishes</option>
                <option>Roti</option>
                <option>Dal</option>
                <option>2+2 Starter</option>
                <option>Soda Soft Drinks for 1 Hour</option>
                <option>Soda Soft Drinks for 2 Hour</option>
                <option>Soda Soft Drinks for 3 Hour</option>

            </select>
        </div>

    </div>
</div>

<div class="form-group">
    <div class="row">

        <div class="col-md-3">
            <label for="txtFromTime">From Time </label>
            <div class="input-group input-append bootstrap-timepicker">
                <input type="text" class="form-control timepicker" value="1200" id="">
                <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
            </div>
        </div>
        <div class="col-md-3">
            <label for="txtToTime">To Time </label>
            <div class="input-group input-append bootstrap-timepicker">
                <input type="text" class="form-control timepicker" value="1200" id="">
                <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
            </div>
        </div>
        <div class="col-md-6">
            <label for="txtFromDate">Dinner Menu</label>
            <select id="drpFunctionType" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                <option selected="selected">2 Veg. Dishes</option>
                <option>2 Non Veg. Dishes</option>
                <option>3 Veg. Dishes</option>
                <option>3 Non Veg. Dishes</option>
                <option>Roti</option>
                <option>Dal</option>
                <option>2+2 Starter</option>
                <option>Soda Soft Drinks for 1 Hour</option>
                <option>Soda Soft Drinks for 2 Hour</option>
                <option>Soda Soft Drinks for 3 Hour</option>

            </select>
        </div>
    </div>
</div>
