<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <h3>Hotel Portion</h3>
            <div class="table-responsive">
                <table style="width: 100%">
                    <thead>
                        <tr>
                            <th style="width: 15%; padding: 5px">Hotel</th>
                            <th style="width: 9%; padding: 5px">Room Type</th>
                            <th style="width: 10%; padding: 5px">Room Category</th>
                            
                            <th style="width: 9%; padding: 5px">Room Rate</th>
                            <th style="width: 12%; padding: 5px">Extra Bed Adult Rate</th>
                            <th style="width: 11%; padding: 5px">Extra Bed Child Rate</th>
                            <th style="width: 8%; padding: 5px">Infant Rate</th>
                            <th style="width: 6%; padding: 5px"># Rooms</th>
                            <th style="width: 9%; padding: 5px">Margin</th>
                            <th style="width: 6%; padding: 5px">Optional</th>
                            <th style="width: 6%; padding: 5px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td style="padding: 5px">
                                <input type="text" class="form-control" value="Hotel De Bangkok | Bangkok" id="txtTags" placeholder="">
                            </td>
                           
                            <td style="padding: 5px">
                                <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                    <option selected="selected">Twin</option>
                                    <option>Double</option>
                                    <option>Single</option>
                                </select>
                            </td>
                            <td style="padding: 5px">
                                <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                    <option selected="selected">Superior</option>
                                    <option>Delux</option>
                                    <option>Standerd</option>
                                </select>
                            </td>
                          
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="5800" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="1500" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="1500" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="0" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>

                            <td style="padding: 5px">
                                <input type="text" class="form-control" id="txtSingleRoomRate" value="2" placeholder="Min Stay (Night)">
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="0" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <input type="checkbox" />
                            </td>
                            <td style="padding: 5px"></td>
                        </tr>
                        <tr>

                            <td style="padding: 5px">
                                <input type="text" class="form-control" value="Bangkok City Suite Hotel | Bangkok" id="txtTags" placeholder="">
                            </td>
                           
                            <td style="padding: 5px">
                                <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                    <option selected="selected">Twin</option>
                                    <option>Double</option>
                                    <option>Single</option>
                                </select>
                            </td>
                            <td style="padding: 5px">
                                <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                    <option selected="selected">Superior</option>
                                    <option>Delux</option>
                                    <option>Standerd</option>
                                </select>
                            </td>
                           
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="11400" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="1500" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="1500" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="0" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px">
                                <input type="text" class="form-control" id="txtSingleRoomRate" value="2" placeholder="Min Stay (Night)">
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="0" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <input type="checkbox" />
                            </td>
                            <td style="padding: 5px">
                                <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 5px">
                                <input type="text" class="form-control" value="Tower Club At Lebua | Bangkok" id="txtTags" placeholder="">
                            </td>
                           
                            <td style="padding: 5px">
                                <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                    <option selected="selected">Twin</option>
                                    <option>Double</option>
                                    <option>Single</option>
                                </select>
                            </td>
                            <td style="padding: 5px">
                                <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                    <option selected="selected">Superior</option>
                                    <option>Delux</option>
                                    <option>Standerd</option>
                                </select>
                            </td>
                           
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="8600" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="1500" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="1500" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="0" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px">
                                <input type="text" class="form-control" id="txtSingleRoomRate" value="2" placeholder="Min Stay (Night)">
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="0" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <input type="checkbox" />
                            </td>
                            <td style="padding: 5px">
                                <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

