<h3>Hotel Portion</h3>
<div style="border: 1px dashed #F25656;">
    <div style="padding: 5px">
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">

                    <div class="table-responsive">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="width: 25%; padding: 5px">Hotel</th>
                                    <th style="width: 15%; padding: 5px">Check In Days</th>
                                    <th style="width: 15%; padding: 5px">Check Out Days</th>
                                    <th style="width: 7%; padding: 5px"># Nights</th>
                                    <th style="width: 15%; padding: 5px">Room Category</th>
                                    <th style="width: 13%; padding: 5px">Room Type</th>
                                    <th style="width: 10%; padding: 5px">Incl.ABF</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" value="Hotel De Bangkok | Bangkok" id="txtTags" placeholder="">
                                    </td>
                                    <td style="padding: 5px">
                                        <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                            <option>Day 1 (5-May)</option>
                                            <option>Day 2 (6-May)</option>
                                            <option>Day 3 (7-May)</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                            <option>Day 4 (8-May)</option>
                                            <option>Day 5 (9-May)</option>
                                            <option>Day 6 (10-May)</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" value="3" id="txtTags" placeholder="" readonly>
                                    </td>
                                    <td style="padding: 5px">
                                        <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">Superior</option>
                                            <option>Delux</option>
                                            <option>Standerd</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">Twin</option>
                                            <option>Double</option>
                                            <option>Single</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="checkbox" />
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="width: 12%; padding: 5px">Room Rate</th>
                                    <th style="width: 13%; padding: 5px">Extra Bed Adult Rate</th>
                                    <th style="width: 15%; padding: 5px">Extra Bed Child Rate</th>
                                    <th style="width: 15%; padding: 5px">Infant Rate</th>
                                    <th style="width: 7%; padding: 5px"># Rooms</th>
                                    <th style="width: 15%; padding: 5px">Margin</th>
                                    <th style="width: 6%; padding: 5px">Optional</th>
                                    <th style="width: 7%; padding: 5px">Self Book</th>
                                    <th style="width: 5%; padding: 5px"></th>
                                    <th style="width: 5%; padding: 5px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="padding: 5px; text-align: center">
                                        <div class="input-group input-append">
                                            <input type="text" class="form-control" id="txtTwinRoomRate" value="5800" placeholder="">
                                            <span class="input-group-addon add-on"><span>THB</span></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px; text-align: center">
                                        <div class="input-group input-append">
                                            <input type="text" class="form-control" id="txtTwinRoomRate" value="1500" placeholder="">
                                            <span class="input-group-addon add-on"><span>THB</span></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px; text-align: center">
                                        <div class="input-group input-append">
                                            <input type="text" class="form-control" id="txtTwinRoomRate" value="1500" placeholder="">
                                            <span class="input-group-addon add-on"><span>THB</span></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px; text-align: center">
                                        <div class="input-group input-append">
                                            <input type="text" class="form-control" id="txtTwinRoomRate" value="0" placeholder="">
                                            <span class="input-group-addon add-on"><span>THB</span></span>
                                        </div>
                                    </td>

                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtSingleRoomRate" value="2" placeholder="Min Stay (Night)">
                                    </td>
                                    <td style="padding: 5px; text-align: center">
                                        <div class="input-group input-append">
                                            <input type="text" class="form-control" id="txtTwinRoomRate" value="650" placeholder="">
                                            <span class="input-group-addon add-on"><span>THB</span></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px;">
                                        <input type="checkbox" />
                                    </td>
                                     <td style="padding: 5px;">
                                        <input type="checkbox" />
                                    </td>
                                    <td style="padding: 5px; text-align: right">
                                        <a class=" btn btn-success" rel="tooltip" title="Save" style="padding: 3px 10px;"><span class="fa fa-floppy-o"></span></a>
                                    </td>
                                    <td style="padding: 5px; text-align: right">
                                        <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
