<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <h3>Hotel Portion</h3>
            <div class="table-responsive">
                <table style="width: 100%">
                    <thead>
                        <tr>
                            <th style="width: 27%; padding: 5px">Hotel</th>
                            <th style="width: 28%; padding: 5px">Optional Hotel</th>
                            <th style="width: 7%; padding: 5px">Incl.ABF</th>
                            <th style="width: 10%; padding: 5px">Room Type</th>
                            <th style="width: 14%; padding: 5px">Room Category</th>
                            <th style="width: 8%; padding: 5px"># Rooms</th>
                           
                            <th style="width: 6%; padding: 5px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td style="padding: 5px">
                                <input type="text" class="form-control" value="" id="txtTags" placeholder="">
                            </td>
                            <td style="padding: 5px">
                                <input type="text" class="form-control" id="txtTags" value="" placeholder="">
                            </td>
                            <td style="padding: 5px;text-align:center">
                                <input type="checkbox" />
                            </td>
                            <td style="padding: 5px">
                                <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                    <option selected="selected">Twin</option>
                                    <option>Single</option>
                                    <option>Double</option>

                                </select>
                            </td>
                            <td style="padding: 5px">
                                <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                    <option selected="selected">Superior</option>
                                    <option>Delux</option>
                                    <option>Standerd</option>
                                </select>
                            </td>
                            <td style="padding: 5px">
                                <input type="text" class="form-control" id="txtSingleRoomRate" value="2" placeholder="Min Stay (Night)">
                            </td>
                          
                            <td style="padding: 5px"></td>
                        </tr>
                        <tr>

                            <td style="padding: 5px">
                                <input type="text" class="form-control" value="" id="txtTags" placeholder="">
                            </td>
                            <td style="padding: 5px">
                                <input type="text" class="form-control" id="txtTags" value="" placeholder="">
                            </td>
                             <td style="padding: 5px;text-align:center">
                                <input type="checkbox" />
                            </td>
                            <td style="padding: 5px">
                                <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                    <option selected="selected">Twin</option>
                                    <option>Single</option>
                                    <option>Double</option>

                                </select>
                            </td>
                            <td style="padding: 5px">
                                <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                    <option selected="selected">Superior</option>
                                    <option>Delux</option>
                                    <option>Standerd</option>
                                </select>
                            </td>
                            <td style="padding: 5px">
                                <input type="text" class="form-control" id="txtSingleRoomRate" value="2" placeholder="Min Stay (Night)">
                            </td>
                            
                            <td style="padding: 5px">
                                <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 5px">
                                <input type="text" class="form-control" value="" id="txtTags" placeholder="">
                            </td>
                            <td style="padding: 5px">
                                <input type="text" class="form-control" id="txtTags" value="" placeholder="">
                            </td>
                             <td style="padding: 5px;text-align:center">
                                <input type="checkbox" />
                            </td>
                            <td style="padding: 5px">
                                <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                    <option selected="selected">Twin</option>
                                    <option>Single</option>
                                    <option>Double</option>

                                </select>
                            </td>
                            <td style="padding: 5px">
                                <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                    <option selected="selected">Superior</option>
                                    <option>Delux</option>
                                    <option>Standerd</option>
                                </select>
                            </td>
                            <td style="padding: 5px">
                                <input type="text" class="form-control" id="txtSingleRoomRate" value="2" placeholder="Min Stay (Night)">
                            </td>
                            
                            <td style="padding: 5px">
                                <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

