<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <h3>Sightseeing</h3>
            <div class="table-responsive">
                <table style="width: 100%">
                    <thead>
                        <tr>
                            <th style="width: 15%; padding: 5px">Sightseeing</th>
                            <th style="width: 18%; padding: 5px">Package</th>
                            <th style="width: 25%; padding: 5px">Inclusions</th>
                            <th style="width: 9%; padding: 5px">Adult Rate</th>
                            <th style="width: 9%; padding: 5px">Child Rate</th>
                            <th style="width: 9%; padding: 5px">PVT Rate</th>
                            <th style="width: 9%; padding: 5px">Margin</th>
                            <th style="width: 6%; padding: 5px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding: 5px">
                                <input type="text" class="form-control" value="Phi Phi Island" id="txtTags" placeholder="">
                            </td>
                            <td style="padding: 5px">
                                <select id="drpStatus" class="js-states form-control" style="display: none; width: 100%">
                                    <option selected="selected">Phi Phi Island-Big Boat (Ferry)</option>
                                    <option>Phi Phi Island Speed Boat</option>
                                </select>
                            </td>
                            <td style="padding: 5px">
                                <select id="drpStatus" class="js-states form-control" style="display: none; width: 100%">
                                    <option selected="selected">Phi Phi Island Tour + Lunch</option>
                                    <option>Phi Phi Island Tour + Lunch + Jet Cruies Boat</option>
                                </select>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="1000" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="500" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="0" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                             <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="600" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px"></td>
                        </tr>
                        <tr>
                            <td style="padding: 5px">
                                <input type="text" class="form-control" value="James Bond Island" id="txtTags" placeholder="">
                            </td>
                            <td style="padding: 5px">
                                <select id="drpStatus" class="js-states form-control" style="display: none; width: 100%">
                                    <option selected="selected">James Bond Island - Speed Boat</option>
                                    <option>James Bond Island - Big Boat</option>
                                </select>
                            </td>
                            <td style="padding: 5px">
                                <select id="drpStatus" class="js-states form-control" style="display: none; width: 100%">
                                    <option selected="selected">James Bond Island Tour + Lunch</option>
                                    <option>James Bond Island Tour + Lunch + Jet Cruies Boat</option>
                                </select>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="1200" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="600" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="0" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                             <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="600" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px">
                                <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 5px">
                                <input type="text" class="form-control" value="City Tour" id="txtTags" placeholder="">
                            </td>
                            <td style="padding: 5px">
                                <select id="drpStatus" class="js-states form-control" style="display: none; width: 100%">
                                    <option selected="selected">City Tour - in Phuket (Half Day)</option>
                                    <option>Coral Island - Full Day</option>
                                </select>
                            </td>
                            <td style="padding: 5px">
                                <select id="drpStatus" class="js-states form-control" style="display: none; width: 100%">
                                    <option selected="selected">Private Van - D4D</option>
                                    <option>Coral Island Tour + Lunch </option>
                                </select>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="0" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="0" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="2300" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                             <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="600" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px">
                                <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <h3>Transfer</h3>
            <div class="table-responsive">
                <table style="width: 100%">
                    <thead>
                        <tr>
                            <th style="width: 15%; padding: 5px">City</th>
                            <th style="width: 8%; padding: 5px"># Nights</th>
                            <th style="width: 32%; padding: 5px">Vehicle</th>
                            <th style="width: 20%; padding: 5px">Vehicle Cost Per Day</th>
                            <th style="width: 10%; padding: 5px"># Vehicle</th>
                            <th style="width: 9%; padding: 5px">Margin</th>
                            <th style="width: 6%; padding: 5px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding: 5px">
                                <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                    <option selected="selected">Bangkok</option>
                                    <option>Pattaya</option>
                                    <option>Phuket</option>
                                </select>
                            </td>
                            <td style="padding: 5px">
                                <input type="text" class="form-control" value="3" id="txtTags" placeholder="" readonly>
                            </td>
                            <td style="padding: 5px">
                                <select id="drpVehicleName" class="js-states form-control" style="display: none; width: 100%">
                                    <option selected="selected">Car - Sedan - 1 to 2 Pax</option>
                                    <option>Van - Van D4D - 1 to 9 Pax</option>
                                    <option>Car Luxury - Camry 1 to 2 Pax</option>
                                    <option>Car Luxury - Mercedes 1 to 2 Pax</option>
                                    <option>Coach - 45 Seater 10 to 45 Pax</option>

                                </select>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="2300" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px">
                                <input type="text" class="form-control" value="" id="txtTags" placeholder="">
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="500" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px"></td>
                        </tr>
                        <tr>
                            <td style="padding: 5px">
                                <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                    <option>Bangkok</option>
                                    <option selected="selected">Pattaya</option>
                                    <option>Phuket</option>
                                </select>
                            </td>
                            <td style="padding: 5px">
                                <input type="text" class="form-control" value="3" id="txtTags" placeholder="" readonly>
                            </td>
                            <td style="padding: 5px">
                                <select id="drpVehicleName" class="js-states form-control" style="display: none; width: 100%">
                                    <option selected="selected">Car - Sedan - 1 to 2 Pax</option>
                                    <option>Van - Van D4D - 1 to 9 Pax</option>
                                    <option>Car Luxury - Camry 1 to 2 Pax</option>
                                    <option>Car Luxury - Mercedes 1 to 2 Pax</option>
                                    <option>Coach - 45 Seater 10 to 45 Pax</option>

                                </select>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="2000" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px">
                                <input type="text" class="form-control" value="" id="txtTags" placeholder="">
                            </td>
                             <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="500" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px">
                                <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 5px">
                                <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                    <option>Bangkok</option>
                                    <option>Pattaya</option>
                                    <option selected="selected">Phuket</option>
                                </select>
                            </td>
                            <td style="padding: 5px">
                                <input type="text" class="form-control" value="2" id="txtTags" placeholder="" readonly>
                            </td>
                            <td style="padding: 5px">
                                <select id="drpVehicleName" class="js-states form-control" style="display: none; width: 100%">
                                    <option selected="selected">Car - Sedan - 1 to 2 Pax</option>
                                    <option>Van - Van D4D - 1 to 9 Pax</option>
                                    <option>Car Luxury - Camry 1 to 2 Pax</option>
                                    <option>Car Luxury - Mercedes 1 to 2 Pax</option>
                                    <option>Coach - 45 Seater 10 to 45 Pax</option>

                                </select>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="1100" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px">
                                <input type="text" class="form-control" value="" id="txtTags" placeholder="">
                            </td>
                             <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="500" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px">
                                <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <h3 class="tab2section6">&nbsp;Meal<span class="text-danger"></span></h3>
            <div class="table-responsive">
                <table style="width: 100%">
                    <thead>
                        <tr>
                            <th style="width: 15%; padding: 5px">Meal Type</th>
                            <th style="width: 30%; padding: 5px">Menu Type</th>
                            <th style="width: 15%; padding: 5px">Adult Cost Per Pax</th>
                            <th style="width: 15%; padding: 5px">Child Cost Per Pax</th>
                            <th style="width: 10%; padding: 5px"># Meal</th>
                            <th style="width: 9%; padding: 5px">Margin</th>
                            <th style="width: 6%; padding: 5px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding: 5px">
                                <select id="drpMealPlan" class="js-states form-control" style="display: none; width: 100%">
                                    <option selected="selected">BreakFast</option>
                                    <option>Lunch</option>
                                    <option>Dinner</option>

                                </select>
                            </td>
                            <td style="padding: 5px">
                                <select id="drpMealPlan" class="js-states form-control" style="display: none; width: 100%">
                                    <option selected="selected">American Breakfast</option>
                                    <option>2 Veg. Dishes</option>
                                    <option>2 Non Veg. Dishes</option>
                                    <option>3 Veg. Dishes</option>
                                    <option>3 Non Veg. Dishes</option>
                                    <option>Roti</option>
                                    <option>Dal</option>
                                    <option>2+2 Starter</option>
                                    <option>Soda Soft Drinks</option>

                                </select>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="500" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="250" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px">
                                <input type="text" class="form-control" id="txtLunchCostperpax" value="" placeholder="">
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="200" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px"></td>
                        </tr>
                        <tr>
                            <td style="padding: 5px">
                                <select id="drpMealPlan" class="js-states form-control" style="display: none; width: 100%">
                                    <option>BreakFast</option>
                                    <option selected="selected">Lunch</option>
                                    <option>Dinner</option>

                                </select>
                            </td>
                            <td style="padding: 5px">
                                <select id="drpMealPlan" class="js-states form-control" style="display: none; width: 100%">
                                    <option>2 Veg. Dishes</option>
                                    <option>2 Non Veg. Dishes</option>
                                    <option selected="selected">3 Veg. Dishes</option>
                                    <option>3 Non Veg. Dishes</option>
                                    <option>Roti</option>
                                    <option>Dal</option>
                                    <option>2+2 Starter</option>
                                    <option>Soda Soft Drinks</option>

                                </select>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="600" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="300" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px">
                                <input type="text" class="form-control" id="txtLunchCostperpax" value="" placeholder="">
                            </td>
                             <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="200" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px">
                                <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 5px">
                                <select id="drpMealPlan" class="js-states form-control" style="display: none; width: 100%">
                                    <option>BreakFast</option>
                                    <option>Lunch</option>
                                    <option selected="selected">Dinner</option>

                                </select>
                            </td>
                            <td style="padding: 5px">
                                <select id="drpMealPlan" class="js-states form-control" style="display: none; width: 100%">
                                    <option selected="selected">2 Veg. Dishes</option>
                                    <option>2 Non Veg. Dishes</option>
                                    <option>3 Veg. Dishes</option>
                                    <option>3 Non Veg. Dishes</option>
                                    <option>Roti</option>
                                    <option>Dal</option>
                                    <option>2+2 Starter</option>
                                    <option>Soda Soft Drinks</option>

                                </select>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="700" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="350" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px">
                                <input type="text" class="form-control" id="txtLunchCostperpax" value="" placeholder="">
                            </td>
                             <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="200" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px">
                                <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <h3 class="tab2section6">&nbsp;Guide<span class="text-danger"></span></h3>
            <div class="table-responsive">
                <table style="width: 100%">
                    <thead>
                        <tr>
                            <th style="width: 35%; padding: 5px">City</th>
                            <th style="width: 25%; padding: 5px">Service Cost Per Guide</th>
                            <th style="width: 25%; padding: 5px"># Guide</th>
                            <th style="width: 9%; padding: 5px">Margin</th>
                            <th style="width: 6%; padding: 5px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td style="padding: 5px">
                                <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                    <option>Bangkok</option>
                                    <option>Pattaya</option>
                                    <option selected="selected">Phuket</option>
                                </select>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="1100" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px;">
                                <input type="text" class="form-control" id="txtLunchCostperpax" value="" placeholder="">
                            </td>
                             <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="300" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                             <td style="padding: 5px">
                                
                            </td>
                        </tr>
                        <tr>

                            <td style="padding: 5px">
                                <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                    <option>Bangkok</option>
                                    <option selected="selected">Pattaya</option>
                                    <option>Phuket</option>
                                </select>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="200" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px;">
                                <input type="text" class="form-control" id="txtLunchCostperpax" value="" placeholder="">
                            </td>
                              <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="300" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                             <td style="padding: 5px">
                                <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                            </td>
                        </tr>
                        <tr>

                            <td style="padding: 5px">
                                <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                                    <option selected="selected">Bangkok</option>
                                    <option>Pattaya</option>
                                    <option>Phuket</option>
                                </select>
                            </td>
                            <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="500" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                            <td style="padding: 5px;">
                                <input type="text" class="form-control" id="txtLunchCostperpax" value="" placeholder="">
                            </td>
                              <td style="padding: 5px; text-align: center">
                                <div class="input-group input-append">
                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="300" placeholder="" >
                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                </div>
                            </td>
                             <td style="padding: 5px">
                                <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
