 <div class="row">
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-12 tab-itenaries">
                                                <div class="panel-group " id="SummeryAccordion1" role="tablist" aria-multiselectable="true">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <h1><small>Pattaya</small> <small class="text-primary text-bottom-border">2 Nights</small></h1>
                                                            <br />
                                                            <label style="font-size: 16px">Optional Hotel</label>
                                                            <select id="drpHotelOption" class="js-states form-control" style="display: none; width: 100%">
                                                                <option>Select Hotel Option</option>
                                                                <option>Hotel Ibis</option>
                                                                <option>Swadswed</option>
                                                                <option selected="selected">Amari Autrium</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-8 text-left-border">
                                                            <div class="row">
                                                                <div class="col-md-12 text-bottom-border">
                                                                    <h1><small>Amari Atrium</small> <small class="text-success text-bottom-border">5000 THB</small>
                                                                        <a style="padding-left: 40%" href="javascript:void(0);" data-toggle="modal" data-target="#confirmhotel"><span class="fa fa-check-square-o btn-primary" style="border-radius: 50%; padding: 8px 9px"></span></a>
                                                                        <a data-target="#myHotelModal" data-toggle="modal"><span class="fa fa-pencil btn-success" style="border-radius: 50%; padding: 8px 9px"></span></a>
                                                                        <a onclick="confirmAlert();" href="#"><span class="fa fa-close btn-danger" style="border-radius: 50%; padding: 8px 9px"></span></a>
                                                                    </h1>

                                                                </div>
                                                                <div class="col-md-12 child-span-margin">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td></td>
                                                                                <td style="padding: 10px;">
                                                                                    <span class="label label-orange" rel="tooltip" title="Check-in Time">11:00 AM</span>
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="Check-in Day">Day 1 (11-Mar-2016)</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="Check-out Day">Day 2 (14-Mar-2016)</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="Included ABF">Incl. ABF</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="Included Lunch">Incl. Lunch</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Adult"># of Adult: 2</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Extra Bed Adult"># of Extra Bed Adult: 1</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Child No Bed"># of Child No Bed: 1</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Single Room"># of Single Room: 2</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Double / Twin Room"># of Double: 4</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Quad Room"># of Twin Room: 1</span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="panel panel-blue">
                                                                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                                                                    <h4 class="panel-title ">
                                                                        <a data-toggle="collapse" data-parent="#SummeryAccordion1" href="#ccollapseOne1" aria-expanded="true" aria-controls="collapseOne1">Day 1 - Pattaya  (11-Mar-2016)
                                                                        </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="ccollapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                                                                    <div class="panel-body">
                                                                        <table class="table-itinarary-summary table" style="width: 100%;">
                                                                            <tbody>
                                                                                @*Transfer*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-car text-success" rel="tooltip" title="Transfer - Visit Day: Day 1(11-Mar-2016) | Sharing Type: SIC | Transfer Component: Airport To Bangkok Hote"></span></td>
                                                                                    <td>ATS TOUR - Toyota Yaris - Car&nbsp;&nbsp<span data-target="#OptionalTransfermodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-success" rel="tooltip" title="Optional Transfer"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">10:30 AM</span></td>

                                                                                    <td><span class="label label-alternate-bg total-cost">THB 4200</span></td>
                                                                                    <td><a data-target="#myTransportationModalPVT" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Restaurant*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-spoon text-maroon" rel="tooltip" title="Restaurant - Visit Day: Day 2 (12-Mar-2016) | # Passengers: 3"></span></td>
                                                                                    <td>Zazen Restaurant&nbsp;&nbsp<span data-target="#OptionalRestaurantmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-maroon" rel="tooltip" title="Optional Restaurant"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">12:30 PM</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">THB 2300</span></td>
                                                                                    <td><a data-target="#myRestauranteModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Guide*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-street-view text-tomato" rel="tooltip" title="Guide - Sightseeing: Grand Palace | Visit Day: Day 2 (13=Mar-2016)"></span></td>
                                                                                    <td>Nadia Manassawee Ponpitak&nbsp;&nbsp;<span data-target="#OptionalGuidemodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-tomato" rel="tooltip" title="Optional Guide"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">01:30 PM</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">THB 1200</span></td>
                                                                                    <td><a data-target="#myGuideModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Sightseeing*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-map-marker text-orange" rel="tooltip" title="Sightseeing - Supplier Company: Travelz Unlimited | Visit Day: Day 2 (12-Mar-2016) | Pickup From: Amari Atrium | Pickup Time: 11:45 AM"></span></td>
                                                                                    <td>Grand Palace&nbsp;&nbsp;<span data-target="#OptionalSightseeingmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-orange" rel="tooltip" title="Optional Sightseeing"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">01:30 PM</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">THB 4200</span></td>
                                                                                    <td><a data-target="#mySightseeingModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Restaurant*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-spoon text-maroon" rel="tooltip" title="Restaurant - Visit Day: Day 2 (12-Mar-2016) | # Passenger: 3"></span></td>
                                                                                    <td>Zazen Restaurant&nbsp;&nbsp;<span data-target="#OptionalRestaurantmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-maroon" rel="tooltip" title="Optional Restaurant"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">07:30 PM</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">THB 2300</span></td>
                                                                                    <td><a data-target="#myRestauranteModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="panel panel-blue">
                                                                <div class="panel-heading accordian-heading" role="tab" id="headingTwo2">
                                                                    <h4 class="panel-title">
                                                                        <a class="collapsed" data-toggle="collapse" data-parent="#SummeryAccordion1" href="#collapseTwo2" aria-expanded="true" aria-controls="collapseTwo2">Day 2 - Pattaya  (12-Mar-2016)
                                                                        </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapseTwo2" class="panel-collapse panel-white in" role="tabpanel" aria-labelledby="headingTwo2">
                                                                    <div class="panel-body">
                                                                        <table class="table-itinarary-summary table" style="width: 100%;">
                                                                            <tbody>
                                                                                @*Transfer*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-car text-success" rel="tooltip" title="Transfer - Visit Day: Day 1(11-Mar-2016) | Sharing Type: SIC | Transfer Component: Airport To Bangkok Hote"></span></td>
                                                                                    <td>ATS TOUR - Toyota Yaris - Car&nbsp;&nbsp<span data-target="#OptionalTransfermodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-success" rel="tooltip" title="Optional Transfer"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">10:30 AM</span></td>

                                                                                    <td><span class="label label-alternate-bg total-cost">THB 4200</span></td>
                                                                                    <td><a data-target="#myTransportationModalPVT" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Restaurant*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-spoon text-maroon" rel="tooltip" title="Restaurant - Visit Day: Day 2 (12-Mar-2016) | # Passengers: 3"></span></td>
                                                                                    <td>Zazen Restaurant&nbsp;&nbsp<span data-target="#OptionalRestaurantmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-maroon" rel="tooltip" title="Optional Restaurant"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">12:30 PM</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">THB 2300</span></td>
                                                                                    <td><a data-target="#myRestauranteModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Guide*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-street-view text-tomato" rel="tooltip" title="Guide - Sightseeing: Grand Palace | Visit Day: Day 2 (13=Mar-2016)"></span></td>
                                                                                    <td>Nadia Manassawee Ponpitak&nbsp;&nbsp;<span data-target="#OptionalGuidemodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-tomato" rel="tooltip" title="Optional Guide"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">01:30 PM</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">THB 1200</span></td>
                                                                                    <td><a data-target="#myGuideModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Sightseeing*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-map-marker text-orange" rel="tooltip" title="Sightseeing - Supplier Company: Travelz Unlimited | Visit Day: Day 2 (12-Mar-2016) | Pickup From: Amari Atrium | Pickup Time: 11:45 AM"></span></td>
                                                                                    <td>Grand Palace&nbsp;&nbsp;<span data-target="#OptionalSightseeingmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-orange" rel="tooltip" title="Optional Sightseeing"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">01:30 PM</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">THB 4200</span></td>
                                                                                    <td><a data-target="#mySightseeingModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Restaurant*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-spoon text-maroon" rel="tooltip" title="Restaurant - Visit Day: Day 2 (12-Mar-2016) | # Passenger: 3"></span></td>
                                                                                    <td>Zazen Restaurant&nbsp;&nbsp;<span data-target="#OptionalRestaurantmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-maroon" rel="tooltip" title="Optional Restaurant"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">07:30 PM</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">THB 2300</span></td>
                                                                                    <td><a data-target="#myRestauranteModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 tab-itenaries ">
                                                <div class="panel-group" id="SummeryAccordion1" role="tablist" aria-multiselectable="true">
                                                    <div class="row">
                                                        <div class="col-md-4 ">
                                                            <h1><small>Bangkok</small> <small class="text-primary text-bottom-border">3 Nights</small>
                                                                <br />
                                                                <label style="font-size: 16px">Optional Hotel</label>
                                                                <select id="drpHotelOption" class="js-states form-control" style="display: none; width: 100%">
                                                                    <option>Select Hotel Option</option>
                                                                    <option>Hotel Ibis</option>
                                                                    <option>Swadswed</option>
                                                                    <option selected="selected">Amari Autrium</option>
                                                                </select>
                                                            </h1>
                                                        </div>
                                                        <div class="col-md-8 text-left-border">
                                                            <div class="row">
                                                                <div class="col-md-12 text-bottom-border">
                                                                    <h1><small>Amari Ocean</small> <small class="text-success text-bottom-border">6500 THB</small>
                                                                        <a style="padding-left: 40%" href="javascript:void(0);" data-toggle="modal" data-target="#confirmhotel"><span class="fa fa-check-square-o btn-primary" style="border-radius: 50%; padding: 8px 9px"></span></a>
                                                                        <a data-target="#myHotelModal" data-toggle="modal"><span class="fa fa-pencil btn-success" style="border-radius: 50%; padding: 8px 9px"></span></a>
                                                                        <a onclick="confirmAlert();" href="#"><span class="fa fa-close btn-danger" style="border-radius: 50%; padding: 8px 9px"></span></a></h1>
                                                                </div>
                                                                <div class="col-md-12 child-span-margin">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td></td>
                                                                                <td style="padding: 10px;">
                                                                                    <span class="label label-orange" rel="tooltip" title="Check-in Time">11:00 AM</span>
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="Check-in Day">Day 1 (11-Mar-2016)</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="Check-out Day">Day 2 (14-Mar-2016)</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="Included ABF">Incl. ABF</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="Included Lunch">Incl. Lunch</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Adult"># of Adult: 2</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Extra Bed Adult"># of Extra Bed Adult: 1</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Child No Bed"># of Child No Bed: 1</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Single Room"># of Single Room: 2</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Double / Twin Room"># of Double: 4</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Quad Room"># of Twin Room: 1</span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="panel panel-blue">
                                                                <div class="panel-heading accordian-heading" role="tab" id="headingOne11">
                                                                    <h4 class="panel-title ">
                                                                        <a data-toggle="collapse" data-parent="#SummeryAccordion1" href="#ccollapseOne11" aria-expanded="false" aria-controls="collapseOne1">Day 1 - Bangkok  (11-Mar-2016)
                                                                        </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="ccollapseOne11" class="panel-collapse panel-white  in" role="tabpanel" aria-labelledby="headingOne11">
                                                                    <div class="panel-body">
                                                                        <table class="table-itinarary-summary table" style="width: 100%;">
                                                                            <tbody>
                                                                                @*Transfer*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-car text-success" rel="tooltip" title="Transfer - Visit Day: Day 1(11-Mar-2016) | Sharing Type: SIC | Transfer Component: Airport To Bangkok Hote"></span></td>
                                                                                    <td>ATS TOUR - Toyota Yaris - Car&nbsp;&nbsp<span data-target="#OptionalTransfermodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-success" rel="tooltip" title="Optional Transfer"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">10:30 AM</span></td>

                                                                                    <td><span class="label label-alternate-bg total-cost">THB 4200</span></td>
                                                                                    <td><a data-target="#myTransportationModalPVT" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Restaurant*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-spoon text-maroon" rel="tooltip" title="Restaurant - Visit Day: Day 2 (12-Mar-2016) | # Passengers: 3"></span></td>
                                                                                    <td>Zazen Restaurant&nbsp;&nbsp<span data-target="#OptionalRestaurantmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-maroon" rel="tooltip" title="Optional Restaurant"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">12:30 PM</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">THB 2300</span></td>
                                                                                    <td><a data-target="#myRestauranteModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Guide*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-street-view text-tomato" rel="tooltip" title="Guide - Sightseeing: Grand Palace | Visit Day: Day 2 (13=Mar-2016)"></span></td>
                                                                                    <td>Nadia Manassawee Ponpitak&nbsp;&nbsp;<span data-target="#OptionalGuidemodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-tomato" rel="tooltip" title="Optional Guide"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">01:30 PM</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">THB 1200</span></td>
                                                                                    <td><a data-target="#myGuideModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Sightseeing*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-map-marker text-orange" rel="tooltip" title="Sightseeing - Supplier Company: Travelz Unlimited | Visit Day: Day 2 (12-Mar-2016) | Pickup From: Amari Atrium | Pickup Time: 11:45 AM"></span></td>
                                                                                    <td>Grand Palace&nbsp;&nbsp;<span data-target="#OptionalSightseeingmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-orange" rel="tooltip" title="Optional Sightseeing"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">01:30 PM</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">THB 4200</span></td>
                                                                                    <td><a data-target="#mySightseeingModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Restaurant*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-spoon text-maroon" rel="tooltip" title="Restaurant - Visit Day: Day 2 (12-Mar-2016) | # Passenger: 3"></span></td>
                                                                                    <td>Zazen Restaurant&nbsp;&nbsp;<span data-target="#OptionalRestaurantmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-maroon" rel="tooltip" title="Optional Restaurant"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">07:30 PM</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">THB 2300</span></td>
                                                                                    <td><a data-target="#myRestauranteModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6" style="padding-bottom: 10px">
                                                            <div class="panel panel-blue">
                                                                <div class="panel-heading accordian-heading" role="tab" id="headingTwo21">
                                                                    <h4 class="panel-title">
                                                                        <a class="collapsed" data-toggle="collapse" data-parent="#SummeryAccordion1" href="#collapseTwo21" aria-expanded="true" aria-controls="collapseTwo2">Day 2 - Bangkok  (12-Mar-2016)
                                                                        </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapseTwo21" class="panel-collapse panel-white in" role="tabpanel" aria-labelledby="headingTwo2">
                                                                    <div class="panel-body">
                                                                        <table class="table-itinarary-summary table" style="width: 100%;">
                                                                            <tbody>
                                                                                @*Transfer*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-car text-success" rel="tooltip" title="Transfer - Visit Day: Day 1(11-Mar-2016) | Sharing Type: SIC | Transfer Component: Airport To Bangkok Hote"></span></td>
                                                                                    <td>ATS TOUR - Toyota Yaris - Car&nbsp;&nbsp<span data-target="#OptionalTransfermodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-success" rel="tooltip" title="Optional Transfer"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">10:30 AM</span></td>

                                                                                    <td><span class="label label-alternate-bg total-cost">THB 4200</span></td>
                                                                                    <td><a data-target="#myTransportationModalPVT" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Restaurant*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-spoon text-maroon" rel="tooltip" title="Restaurant - Visit Day: Day 2 (12-Mar-2016) | # Passengers: 3"></span></td>
                                                                                    <td>Zazen Restaurant&nbsp;&nbsp<span data-target="#OptionalRestaurantmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-maroon" rel="tooltip" title="Optional Restaurant"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">12:30 PM</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">THB 2300</span></td>
                                                                                    <td><a data-target="#myRestauranteModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Guide*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-street-view text-tomato" rel="tooltip" title="Guide - Sightseeing: Grand Palace | Visit Day: Day 2 (13=Mar-2016)"></span></td>
                                                                                    <td>Nadia Manassawee Ponpitak&nbsp;&nbsp;<span data-target="#OptionalGuidemodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-tomato" rel="tooltip" title="Optional Guide"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">01:30 PM</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">THB 1200</span></td>
                                                                                    <td><a data-target="#myGuideModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Sightseeing*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-map-marker text-orange" rel="tooltip" title="Sightseeing - Supplier Company: Travelz Unlimited | Visit Day: Day 2 (12-Mar-2016) | Pickup From: Amari Atrium | Pickup Time: 11:45 AM"></span></td>
                                                                                    <td>Grand Palace&nbsp;&nbsp;<span data-target="#OptionalSightseeingmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-orange" rel="tooltip" title="Optional Sightseeing"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">01:30 PM</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">THB 4200</span></td>
                                                                                    <td><a data-target="#mySightseeingModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Restaurant*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-spoon text-maroon" rel="tooltip" title="Restaurant - Visit Day: Day 2 (12-Mar-2016) | # Passenger: 3"></span></td>
                                                                                    <td>Zazen Restaurant&nbsp;&nbsp;<span data-target="#OptionalRestaurantmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-maroon" rel="tooltip" title="Optional Restaurant"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">07:30 PM</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">THB 2300</span></td>
                                                                                    <td><a data-target="#myRestauranteModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="panel panel-blue">
                                                                <div class="panel-heading accordian-heading" role="tab" id="headingThree31">
                                                                    <h4 class="panel-title">
                                                                        <a class="collapsed" data-toggle="collapse" data-parent="#SummeryAccordion1" href="#collapseThree31" aria-expanded="true" aria-controls="collapseThree3">Day 3 - Bangkok (13-Mar-2016)
                                                                        </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapseThree31" class="panel-collapse panel-white in" role="tabpanel" aria-labelledby="headingThree3">
                                                                    <div class="panel-body">
                                                                        <table class="table-itinarary-summary table" style="width: 100%;">
                                                                            <tbody>
                                                                                @*Transfer*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-car text-success" rel="tooltip" title="Transfer - Visit Day: Day 1(11-Mar-2016) | Sharing Type: SIC | Transfer Component: Airport To Bangkok Hote"></span></td>
                                                                                    <td>ATS TOUR - Toyota Yaris - Car&nbsp;&nbsp<span data-target="#OptionalTransfermodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-success" rel="tooltip" title="Optional Transfer"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">10:30 AM</span></td>

                                                                                    <td><span class="label label-alternate-bg total-cost">THB 4200</span></td>
                                                                                    <td><a data-target="#myTransportationModalPVT" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Restaurant*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-spoon text-maroon" rel="tooltip" title="Restaurant - Visit Day: Day 2 (12-Mar-2016) | # Passengers: 3"></span></td>
                                                                                    <td>Zazen Restaurant&nbsp;&nbsp<span data-target="#OptionalRestaurantmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-maroon" rel="tooltip" title="Optional Restaurant"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">12:30 PM</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">THB 2300</span></td>
                                                                                    <td><a data-target="#myRestauranteModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Guide*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-street-view text-tomato" rel="tooltip" title="Guide - Sightseeing: Grand Palace | Visit Day: Day 2 (13=Mar-2016)"></span></td>
                                                                                    <td>Nadia Manassawee Ponpitak&nbsp;&nbsp;<span data-target="#OptionalGuidemodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-tomato" rel="tooltip" title="Optional Guide"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">01:30 PM</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">THB 1200</span></td>
                                                                                    <td><a data-target="#myGuideModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Sightseeing*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-map-marker text-orange" rel="tooltip" title="Sightseeing - Supplier Company: Travelz Unlimited | Visit Day: Day 2 (12-Mar-2016) | Pickup From: Amari Atrium | Pickup Time: 11:45 AM"></span></td>
                                                                                    <td>Grand Palace&nbsp;&nbsp;<span data-target="#OptionalSightseeingmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-orange" rel="tooltip" title="Optional Sightseeing"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">01:30 PM</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">THB 4200</span></td>
                                                                                    <td><a data-target="#mySightseeingModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Restaurant*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-spoon text-maroon" rel="tooltip" title="Restaurant - Visit Day: Day 2 (12-Mar-2016) | # Passenger: 3"></span></td>
                                                                                    <td>Zazen Restaurant&nbsp;&nbsp;<span data-target="#OptionalRestaurantmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-maroon" rel="tooltip" title="Optional Restaurant"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">07:30 PM</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">THB 2300</span></td>
                                                                                    <td><a data-target="#myRestauranteModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 quote-link">
                                        <h2 class="text-danger" style="font-weight: bold; border-bottom: 1px dotted; margin-bottom: 5px; padding-bottom: 5px;">Summary</h2>
                                        <div class="panel panel-white">
                                            <div class="panel-body tab-itenaries summary-tab-itenaries ">
                                                <div class="form-group">
                                                    <button id="btnSave" type="submit" class="btn btn-orange btnSave btn-steps">Generate Quote</button>
                                                    <button id="btnSave" type="submit" class="btn btn-orange btn-steps-icons" style="padding-left: 10px !important" data-section="tab4section1" rel="tooltip" title="Download Quote"><i class="fa fa-download"></i></button>
                                                    <a id="showRightSideItinerary" href="javascript:void(0);" class="btn btn-orange btn-steps-icons" style="padding-left: 10px !important" rel="tooltip" title="View Itinerary"><i class="fa fa-navicon"></i></a>

                                                    <a id="btnSave" href="javascript:void(0);" data-toggle="modal" data-target="#Quotesenttomodal" class="btn btn-orange btn-steps-icons" style="padding-left: 10px !important" data-section="tab4section1" rel="tooltip" title="Send Quote To Agent"><i class="fa fa-paper-plane"></i></a>
                                                </div>
                                                <div class="panel-group" id="SummaryAccordion" aria-multiselectable="true" role="tablist">
                                                    @*Quotation Referance*@
                                                    <div class="panel panel-red">
                                                        <div class="panel-heading accordian-heading" role="tab" id="">
                                                            <h4 class="panel-title">Quotation Referance #
                                                            </h4>
                                                        </div>
                                                        <div id="SummaryTab11" class="panel-collapse panel-white summarytab in" role="tabpanel" aria-labelledby="lblSummeryTab1">
                                                            <div class="panel-body">
                                                                <table style="width: 100%; margin-bottom: 1px !important;" class="table tabletdpaddingremove">
                                                                    <tr>
                                                                        <td style="color: red; font-size: 16px; text-align: center"><span style="width: 100%">THLND-FLG-SP-0101</span></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="color: red; font-size: 16px; text-align: center"><span style="width: 100%">Thiland Quotation</span></td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*Tour Details*@
                                                    <div class="panel panel-blue">
                                                        <div class="panel-heading accordian-heading" role="tab" id="lblSummeryTab1">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" data-toggle="collapse" data-parent="#SummaryAccordion" href="#SummaryTab1" aria-expanded="true" aria-controls="collapseTwo">Travel Details
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="SummaryTab1" class="panel-collapse panel-white in summarytab" role="tabpanel" aria-labelledby="lblSummeryTab1">
                                                            <div class="panel-body">
                                                                <table class="table">
                                                                    <tr>
                                                                        <td style="width: 100%"><span style="width: 93%; font-size: 14px" class="label label-danger">Flamingo Travels</span>&nbsp;<span class="fa fa-question-circle text-info" rel="tooltip" title="Agent"></span></td>
                                                                    </tr>
                                                                    <tr>

                                                                        <td style="width: 100%"><span style="width: 93%; font-size: 14px" class="label label-success">Samarth Shah</span>&nbsp;<span class="fa fa-question-circle text-info" rel="tooltip" title="Guest Name"></span></td>
                                                                    </tr>
                                                                    <tr>

                                                                        <td style="width: 100%"><span style="width: 93%; font-size: 14px" class="label label-primary">Asia</span>&nbsp;<span class="fa fa-question-circle text-info" rel="tooltip" title="Guest Nationality"></span></td>
                                                                    </tr>
                                                                    <tr>

                                                                        <td style="width: 100%"><span style="width: 93%; font-size: 14px" class="label label-info">Pattaya, Bangkok</span>&nbsp;<span class="fa fa-question-circle text-info" rel="tooltip" title="Cities To Travels"></span></td>
                                                                    </tr>
                                                                    <tr>

                                                                        <td style="width: 100%"><span style="width: 93%; font-size: 14px" class="label label-danger">11-03-2016</span>&nbsp;<span class="fa fa-question-circle text-info" rel="tooltip" title="Travel From Date"></span></td>
                                                                    </tr>
                                                                    <tr>

                                                                        <td style="width: 100%"><span style="width: 93%; font-size: 14px" class="label label-success">16-03-2016</span>&nbsp;<span class="fa fa-question-circle text-info" rel="tooltip" title="Travel To Date"></span></td>
                                                                    </tr>
                                                                    <tr>

                                                                        <td style="width: 100%"><span style="width: 93%; font-size: 14px" class="label label-primary">5N / 6D</span></td>
                                                                    </tr>

                                                                </table>


                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*Quote Summery*@
                                                    <div class="panel panel-blue">
                                                        <div class="panel-heading accordian-heading" role="tab" id="lblSummeryTab2">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#SummaryTab2" aria-expanded="true" aria-controls="collapseTwo">Quote Summary
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="SummaryTab2" class="panel-collapse panel-white collapse in summarytab" role="tabpanel" aria-labelledby="lblSummeryTab2">
                                                            <table class="table">
                                                                <tr>
                                                                    <td>
                                                                        <label>Total Net Rate</label></td>
                                                                    <td class="right-aligned"><span class="label label-danger">4700 THB</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <label>Total Margin</label></td>
                                                                    <td class="right-aligned"><span class="label label-orange">890 THB</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <label>Total Supplier Discount</label></td>
                                                                    <td class="right-aligned"><span class="label label-primary">240 THB</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <label>Total Discount</label></td>
                                                                    <td class="right-aligned"><span class="label label-success">240 THB</span></td>
                                                                </tr>

                                                                <tr>
                                                                    <td>
                                                                        <label>Sell Rate</label></td>
                                                                    <td class="right-aligned"><span class="label label-tomato">7310 THB</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <label>Tax</label></td>
                                                                    <td class="right-aligned"><span class="label label-primary">1096 THB</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <label>Sell Rate Including Tax</label></td>
                                                                    <td class="right-aligned"><span class="label label-info">8406 THB</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <label>Exchange Rate</label></td>
                                                                    <td class="right-aligned"><span class="label label-dodgerblue">40</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <label>Total Quotation Amount</label></td>
                                                                    <td class="right-aligned"><span class="label label-danger">8406 THB</span></td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <br />
                                                    <div class="form-group">
                                                        <lable>Final Discount</lable>
                                                        <div class="input-group input-append">
                                                            <input type="text" class="form-control newtextbox" id="txtdiscountapply" value="400" placeholder="">
                                                            <span class="input-group-addon add-on"><span>THB</span></span>
                                                        </div>
                                                    </div>
                                                    <div class="panel">
                                                        <button id="btnBookNow" type="submit" class="btn btn-danger btnSave btnradius">Apply Discount</button>

                                                    </div>
                                                    <div class="panel">
                                                        <a id="btnemail" class="btn btn-info btnSave btnradius" href="javascript:void(0);" data-toggle="modal" data-target="#Booknowpopup">Book</a>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel ">
                                            <h2 style="margin-top: 0; text-align: center;">Profit Summary</h2>
                                            <div class="panel-body tab-itenaries">
                                                <table class="table" style="margin-bottom: 0;">
                                                    <tbody>
                                                        <tr>
                                                            <td>As Per Quote</td>
                                                            <td><span class="label label-primary">150 THB</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>As Per Booking</td>
                                                            <td><span class="label label-primary">450 THB</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Operation Cordn.</td>
                                                            <td><span class="label label-primary">380 THB</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Exchange Rate </td>
                                                            <td><span class="label label-primary">420 THB</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>After Receipt</td>
                                                            <td><span class="label label-primary">14000 THB</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>


                                </div>