<div class="col-md-12" style="width: 6% !important; margin-bottom: 1%; float: right; margin-right: 8px">
    <a href="javascript:void(0);" style="font-size: 12px !important" class="btn btn-success searchpanel-button2 advanced-panel-button2" data-show-panel="advanced-panel2" data-toggle="tooltip" data-placement="top" title="Summary"><i class="fa fa-plus"></i></a>
</div>
<div class="col-md-12">
    <div class="from-group panel-search advanced-panel2" style="display: none; width: 100%;">
        <div class="panel-body tab-itenaries ">
            <div class="panel-group">
                <div class="panel panel-red">
                    <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                        <h4 class="panel-title">Summary <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report"></a>

                        </h4>
                    </div>


                    <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                        <div class="panel-body summary-body">
                            <table class="table summary-list newfontsizehorisum">
                                <tbody>
                                    <tr>
                                        <td>Quote Ref #: </td>
                                        <td><span class="label label-primary">THLND-FLG-01</span></td>
                                        <td>Quote Created Date: </td>
                                        <td><span class="label label-danger">10-03-2016</span></td>
                                        <td>Quote Sent To Agent Date: </td>
                                        <td><span class="label label-info">11-03-2016</span></td>
                                        <td>Created By: </td>
                                        <td><span class="label label-success">Samir Shah</span></td>
                                        <td>Created Date: </td>
                                        <td><span class="label label-warning">06-Mar-2016</span></td>
                                    </tr>


                                    <tr>
                                        <td>Created From Branch: </td>
                                        <td><span class="label label-danger">Bangkok</span></td>

                                        <td>Last Updated By: </td>
                                        <td><span class="label label-info">Samir Shah</span></td>

                                        <td>Last Updated Date: </td>
                                        <td><span class="label label-warning">14-Mar-2016</span></td>

                                        <td>Page Load Time: </td>
                                        <td><span class="label label-info">00:01:00 Minutes</span></td>

                                        <td>Record Update Time: </td>
                                        <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="col-md-12 full-responsive">

    <h3 class="section-headers tab5section2" style="margin-top: 10px !important">&nbsp;Additional Services</h3>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table style="width: 100%">
                        <thead>
                            <tr>
                                <th style="width: 16%; padding: 5px">Service</th>
                                <th style="width: 10%; padding: 5px"># Item</th>

                                <th style="width: 12%; padding: 5px">Service Cost</th>
                                <th style="width: 8%; padding: 5px">VAT Excl.</th>
                                <th style="width: 8%; padding: 5px">VAT (%)</th>
                                <th style="width: 10%; padding: 5px">Margin</th>
                                <th style="width: 30%; padding: 5px">Remarks</th>
                                <th style="width: 6%; padding: 5px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td style="padding: 5px">
                                    <input type="text" class="form-control" value="Projector" id="txtTags" placeholder="">
                                </td>
                                <td style="padding: 5px">
                                    <input type="text" class="form-control" value="2" id="txtTags" placeholder="">
                                </td>

                                <td style="padding: 5px">
                                    <div class="input-group input-append">
                                        <input type="text" class="form-control" id="464" value="464" placeholder="">
                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                    </div>
                                </td>
                                <td style="padding: 5px; text-align: center">
                                    <input type="checkbox" />
                                </td>
                                <td style="padding: 5px">
                                    <input type="text" class="form-control" value="7" id="txtTags" placeholder="">
                                </td>
                                <td style="padding: 5px; text-align: center">
                                    <div class="input-group input-append">
                                        <input type="text" class="form-control" id="txtTwinRoomRate" value="100" placeholder="">
                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                    </div>
                                </td>
                                <td style="padding: 5px">
                                    <input type="text" class="form-control" value="" id="txtTags" placeholder="">
                                </td>

                                <td style="padding: 5px"></td>
                            </tr>
                            <tr>
                                <td style="padding: 5px">
                                    <input type="text" class="form-control" value="Entertaintment" id="txtTags" placeholder="">
                                </td>
                                <td style="padding: 5px">
                                    <input type="text" class="form-control" value="1" id="txtTags" placeholder="">
                                </td>

                                <td style="padding: 5px">
                                    <div class="input-group input-append">
                                        <input type="text" class="form-control" id="400" value="400" placeholder="">
                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                    </div>
                                </td>
                                <td style="padding: 5px; text-align: center">
                                    <input type="checkbox" />
                                </td>
                                <td style="padding: 5px">
                                    <input type="text" class="form-control" value="7" id="txtTags" placeholder="">
                                </td>
                                <td style="padding: 5px; text-align: center">
                                    <div class="input-group input-append">
                                        <input type="text" class="form-control" id="txtTwinRoomRate" value="150" placeholder="">
                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                    </div>
                                </td>
                                <td style="padding: 5px">
                                    <input type="text" class="form-control" value="" id="txtTags" placeholder="">
                                </td>
                                <td style="padding: 5px">
                                    <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 5px">
                                    <input type="text" class="form-control" value="Backdrop Mounting" id="txtTags" placeholder="">
                                </td>
                                <td style="padding: 5px">
                                    <input type="text" class="form-control" value="2" id="txtTags" placeholder="">
                                </td>

                                <td style="padding: 5px">
                                    <div class="input-group input-append">
                                        <input type="text" class="form-control" id="600" value="600" placeholder="">
                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                    </div>
                                </td>
                                <td style="padding: 5px; text-align: center">
                                    <input type="checkbox" />
                                </td>
                                <td style="padding: 5px">
                                    <input type="text" class="form-control" value="7" id="txtTags" placeholder="">
                                </td>
                                <td style="padding: 5px; text-align: center">
                                    <div class="input-group input-append">
                                        <input type="text" class="form-control" id="txtTwinRoomRate" value="175" placeholder="">
                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                    </div>
                                </td>
                                <td style="padding: 5px">
                                    <input type="text" class="form-control" value="" id="txtTags" placeholder="">
                                </td>
                                <td style="padding: 5px">
                                    <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <h3 class="section-headers tab5section3" style="margin-top: 5% !important">&nbsp;Discount / Margin / Handling Fee</h3>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <h3>Discount</h3>
                <div class="table-responsive">
                    <table style="width: 100%">
                        <thead>
                            <tr>
                                <th style="width: 47%; padding: 5px">Discount Type</th>
                                <th style="width: 47%; padding: 5px">Discount</th>
                                <th style="width: 6%; padding: 5px"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td style="padding: 5px">
                                    <select id="drpRoomCategory" class="js-states form-control" style="display: none; width: 100%">
                                        <option>Per Pax</option>
                                        <option selected="selected">Flat Amount</option>

                                    </select>
                                </td>
                                <td style="padding: 5px">
                                    <div class="input-group input-append">
                                        <input type="text" class="form-control" id="400" value="464" placeholder="">
                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                    </div>
                                </td>
                                <td style="padding: 5px">
                                    <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <h3>Margin</h3>
                <div class="table-responsive">
                    <table style="width: 100%">
                        <thead>
                            <tr>
                                <th style="width: 20%; padding: 5px">Margin Type</th>
                                <th style="width: 57%; padding: 5px">Add Margin To</th>
                                <th style="width: 17%; padding: 5px">Margin</th>
                                <th style="width: 6%; padding: 5px"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td style="padding: 5px">
                                    <select id="drpRoomCategory" class="js-states form-control" style="display: none; width: 100%">
                                        <option>Per Pax</option>
                                        <option selected="selected">Flat Amount</option>

                                    </select>
                                </td>
                                <td style="padding: 5px">
                                    <select id="drpRoomCategory" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                                        <option selected="selected">Hotel</option>
                                        <option selected="selected">Sightseeing</option>
                                        <option>Transfer</option>
                                        <option>Meal</option>
                                        <option>Guide</option>
                                        <option>Function Room</option>
                                        <option>Gala Dinner</option>

                                    </select>
                                </td>
                                <td style="padding: 5px">
                                    <div class="input-group input-append">
                                        <input type="text" class="form-control" id="600" value="600" placeholder="">
                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                    </div>
                                </td>
                                <td style="padding: 5px">
                                    <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <h3>Handling Fee</h3>
                <div class="table-responsive">
                    <table style="width: 100%">
                        <thead>
                            <tr>
                                <th style="width: 47%; padding: 5px">Handling Fee Type</th>
                                <th style="width: 47%; padding: 5px">Handling Fee</th>
                                <th style="width: 6%; padding: 5px"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td style="padding: 5px">
                                    <select id="drpRoomCategory" class="js-states form-control" style="display: none; width: 100%">
                                        <option>Per Pax</option>
                                        <option selected="selected">Flat Amount</option>

                                    </select>
                                </td>
                                <td style="padding: 5px">
                                    <div class="input-group input-append">
                                        <input type="text" class="form-control" id="800" value="800" placeholder="">
                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                    </div>
                                </td>
                                <td style="padding: 5px">
                                    <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <h3 class="section-headers tab5section4" style="margin-top: 5% !important">&nbsp;Quotation Details</h3>
    <div class="form-group">
        <div class="row">
            <div class="col-md-3">
                <label for="txtAgent">Quotation Status<span class="star"> *</span></label>
                <select id="drpNationalityGroup" class="js-states form-control" style="display: none; width: 100%">
                    <option>--None--</option>
                    <option value="draft" selected="selected">Draft</option>
                    <option value="negotiating">Negotiating</option>
                    <option value="readytoquote">Ready To Quote</option>
                    <option value="quoted">Quoted</option>
                    <option value="pendingforaprooval">Pending For Aprooval</option>
                    <option value="aprooved">Aprooved</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="txtAgent">Quotation Currency<span class="star"> *</span></label>
                <select id="drpNationalityGroup" class="js-states form-control" style="display: none; width: 100%">
                    <option>THB</option>
                    <option>INR</option>
                    <option>USD</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="txtExchangeRate">Exchange Rate</label>
                <input type="text" class="form-control" id="txtExchangeRate" value="0.028" placeholder="">
            </div>
            <div class="col-md-3">
                <label for="txtAgent">Quotation Type<span class="star"> *</span></label>
                <select id="Drpquotationtype" class="js-states form-control" style="display: none; width: 100%">
                    <option>Per Pax</option>
                    <option selected="selected">Range Per Pax</option>
                    <option>Service Wise Breakup</option>
                </select>
            </div>

        </div>
    </div>

    <div class="form-group">
        <div class="row">

            <div class="col-md-3">
                <label for="txtTags"># Pax From</label>
                <input type="text" class="form-control" id="txtTags" placeholder="">
            </div>
            <div class="col-md-3">
                <label for="txtTags"># Pax To</label>
                <input type="text" class="form-control" id="txtTags" placeholder="">
            </div>
            <div class="col-md-3">
                <label for="txtTags">Range Gap</label>
                <input type="text" class="form-control" id="txtTags" placeholder="">
            </div>
        </div>
    </div>

    <br />
    <button id="btnSave" type="submit" class="btn btn-success btnSave">
        CREATE QUOTATION</button>
    <button id="btnSave" type="submit" class="btn btn-primary btnSave">
        UPDATE QUOTATION</button>
    <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
        DELETE QUOTATION</button>
    <button id="btnCancel" type="submit" class="btn btn-success btnCancel">
        BUILD ITINERARY</button>
    <button id="btnCancel" type="submit" class="btn btn-info btnCancel">
        UPDATE ITINERARY</button>

    <a class="btn btn-success" aria-expanded="false" rel="tooltip" title="Copy & Create New" onclick="window.location.href=window.location.href;">
        <span class="fa fa-files-o"></span>
    </a>
    <a class="btn btn-warning" aria-expanded="false" rel="tooltip" title="Create New" onclick="window.location.href=window.location.href;">
        <span class="fa fa-plus"></span>
    </a>

    <a class="btn btn-danger" aria-expanded="false" rel="tooltip" title="Quit From" onclick="window.location.href=window.location.href;">
        <span class="fa fa-times"></span>
    </a>
    <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
        <span class="fa fa-refresh"></span>
    </a>

</div>

