<div id="rootwizard2">
    <ul class="nav nav-tabs wizard-tab wizardtab-verti col-md-2" role="tablist">
        <li role="presentation" class="active" id="quotelisub"><a href="#tab3-1" data-toggle="tab">Quotation<i class=""><img alt="Quotation" src="../../assets/images/wizards/all.png"></i></a></li>
        <li role="presentation" class=""><a href="#tab3-2" data-toggle="tab">Itinerary<i class=""><img alt="Itinerary" src="../../assets/images/wizards/all.png"></i></a></li>
        <li role="presentation" class="" id="followupgrd"><a href="#tab3-3" data-toggle="tab">Follow-up<i class=""><img alt="Folowup" src="../../assets/images/wizards/all.png"></i></a></li>
        <li role="presentation" class=""><a href="#tab3-4" data-toggle="tab">Audit Trail<i class=""><img alt="Trail" src="../../assets/images/wizards/all.png"></i></a></li>
    </ul>
</div>

<form id="wizardForm form-horizontal" class="wizard-verti-form" style="width: 80%; border-left: 1px dashed #dce1e4;">
    <div class="tab-content" style="padding-left: 10px; padding-top: 1px">

        @*Quotation*@
        <div class="tab-pane active fade in" id="tab3-1">
            <div class="col-md-12">
                <h3 style="color: red">Quotation - Ferry group 3N / 4D - 1 Pax to 2 Pax - Bangkok</h3>
                <div class="form-group">
                    <div class="row">
                        <div class="row grid">
                            <div class="col-md-6 grid-item">
                                <div class="panel panel-white ">
                                    <div class="panel-body tab-itenaries tab-itenariessum">
                                        <div class="myDiv">
                                            <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                                <label style="display: none" id="lbheadingName"></label>
                                            </h3>
                                        </div>
                                        <h3 style="margin-top: 0; text-align: center;">
                                            <b>
                                                <label id="" style="font-size: 15px" class="label label-browennew">Option 1</label><br />
                                                <label id="" style="font-size: 13px; margin-right: 1%; color: #B93B7C; padding-top: 3%" class="highlight-word">Avni Atrium</label><label> in Bangkok </label>
                                                + 
                                        <label id="" style="font-size: 13px; color: #02C8C8" class="highlight-word">Novotel Patong</label>
                                                <label>in Pattaya </label>
                                                <br />
                                                <label id="" style="margin-top: 2%">Room Category -</label>
                                                <label class="highlight-word" style="color: #FEB814">Standard</label><br />
                                                <label style="font-size: 9px">(All Rates are in USD)</label>
                                            </b></h3>

                                        <table class="table sampletable" style="margin-bottom: 0;">
                                            <thead>
                                                <tr>
                                                    <th>Per Pax Cost</th>
                                                    <th>Single</th>
                                                    <th>Double</th>
                                                    <th>Twin</th>
                                                    <th>EBA</th>
                                                    <th>EBC</th>
                                                    <th>CNB</th>
                                                    <th>Infant</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <label>10-14</label>
                                                    </td>
                                                    <td>125</td>
                                                    <td>78</td>
                                                    <td>78</td>
                                                    <td>94</td>
                                                    <td>62</td>
                                                    <td>50</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>15-19</label>
                                                    </td>
                                                    <td>125</td>
                                                    <td>78</td>
                                                    <td>78</td>
                                                    <td>94</td>
                                                    <td>62</td>
                                                    <td>50</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>20-24</label>
                                                    </td>
                                                    <td>125</td>
                                                    <td>78</td>
                                                    <td>78</td>
                                                    <td>94</td>
                                                    <td>62</td>
                                                    <td>50</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>25-29</label>
                                                    </td>
                                                    <td>125</td>
                                                    <td>78</td>
                                                    <td>78</td>
                                                    <td>94</td>
                                                    <td>62</td>
                                                    <td>50</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>30-34</label>
                                                    </td>
                                                    <td>125</td>
                                                    <td>78</td>
                                                    <td>78</td>
                                                    <td>94</td>
                                                    <td>62</td>
                                                    <td>50</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>35-39</label>
                                                    </td>
                                                    <td>125</td>
                                                    <td>78</td>
                                                    <td>78</td>
                                                    <td>94</td>
                                                    <td>62</td>
                                                    <td>50</td>
                                                    <td>0</td>
                                                </tr>
                                            </tbody>

                                        </table>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 grid-item">
                                <div class="panel panel-white ">
                                    <div class="panel-body tab-itenaries tab-itenariessum">
                                        <div class="myDiv">
                                            <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                                <label style="display: none" id="lbheadingName"></label>
                                            </h3>
                                        </div>
                                        <h3 style="margin-top: 0; text-align: center;">
                                            <b>
                                                <label id="" style="font-size: 15px" class="label label-browennew">Option 2</label><br />
                                                <label id="" style="font-size: 13px; margin-right: 1%; color: #B93B7C; padding-top: 3%" class="highlight-word">Avni Atrium</label><label> in Bangkok </label>
                                                + 
                                        <label id="" style="font-size: 13px; color: #02C8C8" class="highlight-word">Novotel Patong</label>
                                                <label>in Pattaya </label>
                                                <br />
                                                <label id="" style="margin-top: 2%">Room Category -</label>
                                                <label class="highlight-word" style="color: #FEB814">Deluxe</label><br />
                                                <label style="font-size: 9px">(All Rates are in USD)</label>
                                            </b></h3>

                                        <table class="table sampletable" style="margin-bottom: 0;">
                                            <thead>
                                                <tr>
                                                    <th>Per Pax Cost</th>
                                                    <th>Single</th>
                                                    <th>Double</th>
                                                    <th>Twin</th>
                                                    <th>EBA</th>
                                                    <th>EBC</th>
                                                    <th>CNB</th>
                                                    <th>Infant</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <label>10-14</label>
                                                    </td>
                                                    <td>125</td>
                                                    <td>78</td>
                                                    <td>78</td>
                                                    <td>94</td>
                                                    <td>62</td>
                                                    <td>50</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>15-19</label>
                                                    </td>
                                                    <td>125</td>
                                                    <td>78</td>
                                                    <td>78</td>
                                                    <td>94</td>
                                                    <td>62</td>
                                                    <td>50</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>20-24</label>
                                                    </td>
                                                    <td>125</td>
                                                    <td>78</td>
                                                    <td>78</td>
                                                    <td>94</td>
                                                    <td>62</td>
                                                    <td>50</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>25-29</label>
                                                    </td>
                                                    <td>125</td>
                                                    <td>78</td>
                                                    <td>78</td>
                                                    <td>94</td>
                                                    <td>62</td>
                                                    <td>50</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>30-34</label>
                                                    </td>
                                                    <td>125</td>
                                                    <td>78</td>
                                                    <td>78</td>
                                                    <td>94</td>
                                                    <td>62</td>
                                                    <td>50</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>35-39</label>
                                                    </td>
                                                    <td>125</td>
                                                    <td>78</td>
                                                    <td>78</td>
                                                    <td>94</td>
                                                    <td>62</td>
                                                    <td>50</td>
                                                    <td>0</td>
                                                </tr>
                                            </tbody>

                                        </table>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 grid-item">
                                <div class="panel panel-white ">
                                    <div class="panel-body tab-itenaries tab-itenariessum">
                                        <div class="myDiv">
                                            <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                                <label style="display: none" id="lbheadingName"></label>
                                            </h3>
                                        </div>
                                        <h3 style="margin-top: 0; text-align: center;">
                                            <b>
                                                <label id="" style="font-size: 15px" class="label label-browennew">Option 3</label><br />
                                                <label id="" style="font-size: 13px; margin-right: 1%; color: #B93B7C; padding-top: 3%" class="highlight-word">Holiday In Siliom</label><label> in Bangkok </label>
                                                + 
                                        <label id="" style="font-size: 13px; color: #02C8C8" class="highlight-word">Novotel Patong</label>
                                                <label>in Pattaya </label>
                                                <br />
                                                <label id="" style="margin-top: 2%">Room Category -</label>
                                                <label class="highlight-word" style="color: #FEB814">Standard</label><br />
                                                <label style="font-size: 9px">(All Rates are in USD)</label>
                                            </b></h3>

                                        <table class="table sampletable" style="margin-bottom: 0;">
                                            <thead>
                                                <tr>
                                                    <th>Per Pax Cost</th>
                                                    <th>Single</th>
                                                    <th>Double</th>
                                                    <th>Twin</th>
                                                    <th>EBA</th>
                                                    <th>EBC</th>
                                                    <th>CNB</th>
                                                    <th>Infant</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <label>10-14</label>
                                                    </td>
                                                    <td>125</td>
                                                    <td>78</td>
                                                    <td>78</td>
                                                    <td>94</td>
                                                    <td>62</td>
                                                    <td>50</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>15-19</label>
                                                    </td>
                                                    <td>125</td>
                                                    <td>78</td>
                                                    <td>78</td>
                                                    <td>94</td>
                                                    <td>62</td>
                                                    <td>50</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>20-24</label>
                                                    </td>
                                                    <td>125</td>
                                                    <td>78</td>
                                                    <td>78</td>
                                                    <td>94</td>
                                                    <td>62</td>
                                                    <td>50</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>25-29</label>
                                                    </td>
                                                    <td>125</td>
                                                    <td>78</td>
                                                    <td>78</td>
                                                    <td>94</td>
                                                    <td>62</td>
                                                    <td>50</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>30-34</label>
                                                    </td>
                                                    <td>125</td>
                                                    <td>78</td>
                                                    <td>78</td>
                                                    <td>94</td>
                                                    <td>62</td>
                                                    <td>50</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>35-39</label>
                                                    </td>
                                                    <td>125</td>
                                                    <td>78</td>
                                                    <td>78</td>
                                                    <td>94</td>
                                                    <td>62</td>
                                                    <td>50</td>
                                                    <td>0</td>
                                                </tr>
                                            </tbody>

                                        </table>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 grid-item">
                                <div class="panel panel-white ">
                                    <div class="panel-body tab-itenaries tab-itenariessum">
                                        <div class="myDiv">
                                            <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                                <label style="display: none" id="lbheadingName"></label>
                                            </h3>
                                        </div>
                                        <h3 style="margin-top: 0; text-align: center;">
                                            <b>
                                                <label id="" style="font-size: 15px" class="label label-browennew">Option 4</label><br />
                                                <label id="" style="font-size: 13px; margin-right: 1%; color: #B93B7C; padding-top: 3%" class="highlight-word">Holiday In Siliom</label><label> in Bangkok </label>
                                                + 
                                        <label id="" style="font-size: 13px; color: #02C8C8" class="highlight-word">Novotel Patong</label>
                                                <label>in Pattaya </label>
                                                <br />
                                                <label id="" style="margin-top: 2%">Room Category -</label>
                                                <label class="highlight-word" style="color: #FEB814">Deluxe</label><br />
                                                <label style="font-size: 9px">(All Rates are in USD)</label>
                                            </b></h3>

                                        <table class="table sampletable" style="margin-bottom: 0;">
                                            <thead>
                                                <tr>
                                                    <th>Per Pax Cost</th>
                                                    <th>Single</th>
                                                    <th>Double</th>
                                                    <th>Twin</th>
                                                    <th>EBA</th>
                                                    <th>EBC</th>
                                                    <th>CNB</th>
                                                    <th>Infant</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <label>10-14</label>
                                                    </td>
                                                    <td>125</td>
                                                    <td>78</td>
                                                    <td>78</td>
                                                    <td>94</td>
                                                    <td>62</td>
                                                    <td>50</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>15-19</label>
                                                    </td>
                                                    <td>125</td>
                                                    <td>78</td>
                                                    <td>78</td>
                                                    <td>94</td>
                                                    <td>62</td>
                                                    <td>50</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>20-24</label>
                                                    </td>
                                                    <td>125</td>
                                                    <td>78</td>
                                                    <td>78</td>
                                                    <td>94</td>
                                                    <td>62</td>
                                                    <td>50</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>25-29</label>
                                                    </td>
                                                    <td>125</td>
                                                    <td>78</td>
                                                    <td>78</td>
                                                    <td>94</td>
                                                    <td>62</td>
                                                    <td>50</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>30-34</label>
                                                    </td>
                                                    <td>125</td>
                                                    <td>78</td>
                                                    <td>78</td>
                                                    <td>94</td>
                                                    <td>62</td>
                                                    <td>50</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>35-39</label>
                                                    </td>
                                                    <td>125</td>
                                                    <td>78</td>
                                                    <td>78</td>
                                                    <td>94</td>
                                                    <td>62</td>
                                                    <td>50</td>
                                                    <td>0</td>
                                                </tr>
                                            </tbody>

                                        </table>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <button id="btnSavetab4" type="submit" class="btn btn-success ">
                    Send Quote To Agent</button>
                <button id="btnupdatetab4" type="submit" class="btn btn-primary ">
                    Download Quote</button>

            </div>
        </div>

        @*Itinerary*@
        <div class="tab-pane fade in" id="tab3-2">
            <h3 style="color: red">Itinerary - Ferry group 3N / 4D - 1 Pax to 2 Pax - Bangkok</h3>
            <div class="form-group">

                <div class="row">
                    <div class="col-md-12">
                        <div id="st-accordion" class="st-accordion">
                            <ul>
                                <li>
                                    <a href="javascript:void(0);">Day 1 (Bangkok)<span class="st-arrow"></span></a>
                                    <div class="st-content" style="display: block;">
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">06:00</span>&nbsp;---&nbsp;<span class="fa fa-plane"></span>&nbsp;&nbsp;Arrival On Bangkok Airport - <span class="highlight-word">Suwarnabhumi Airport</span>
                                        </div>

                                        <div class="form-control">
                                            <span class="label label-dodgerblue">06:30</span>&nbsp;---&nbsp;<span class="fa fa-h-square "></span>&nbsp;&nbsp;Check in at <span class="highlight-word">Hotel De Bangkok</span> / drop off luggage
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">07:30</span>&nbsp;---&nbsp;<span class="fa fa-spoon "></span>&nbsp;&nbsp;Breakfast at <span class="highlight-word">Hotel De Bangkok</span>
                                        </div>

                                        <div class="form-control">
                                            <span class="label label-dodgerblue">08:00</span>&nbsp;---&nbsp;<span class="fa fa-taxi"></span>&nbsp;&nbsp;Transfer Pickup For Safari World & Marine Park
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">09:00</span>&nbsp;---&nbsp;<span class="fa fa-taxi"></span>&nbsp;&nbsp;Visit To Safari World & Marine Park
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">13:30</span>&nbsp;---&nbsp;<span class="fa fa-spoon"></span>&nbsp;&nbsp;Lunch in <span class="highlight-word">Tealicious Bangkok</span>
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">20:30</span>&nbsp;---&nbsp;<span class="fa fa-spoon "></span>&nbsp;&nbsp;Dinner in <span class="highlight-word">Hotel De Bangkok</span>
                                        </div>
                                        <div class="form-control">
                                            <span class="fa fa-bed"></span>&nbsp;&nbsp;Overnight at <span class="highlight-word">Hotel De Bangkok</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Day 2 (Bangkok)<span class="st-arrow"></span></a>
                                    <div class="st-content" style="display: block;">
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">07:30</span>&nbsp;---&nbsp;<span class="fa fa-spoon"></span>&nbsp;&nbsp;Breakfast at Hotel De Bangkok
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">09:00</span>&nbsp;---&nbsp;<span class="fa fa-taxi"></span>&nbsp;&nbsp;Transfer from Hotel De Bangkok To Grand Palace
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">10:00</span>&nbsp;---&nbsp;<span class="fa fa-h-square "></span>&nbsp;&nbsp;Visit Grand Palace
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">13:30</span>&nbsp;---&nbsp;<span class="fa fa-spoon"></span>&nbsp;&nbsp;Lunch at Tealicious Bangkok
                                        </div>

                                        <div class="form-control">
                                            <span class="fa fa-bed"></span>&nbsp;&nbsp;Overnight at Hotel De Bangkok
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Day 3 (Bangkok)<span class="st-arrow"></span></a>
                                    <div class="st-content" style="display: block;">
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">07:30</span>&nbsp;---&nbsp;<span class="fa fa-spoon"></span>&nbsp;&nbsp;Breakfast at Hotel De Bangkok
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">09:00</span>&nbsp;---&nbsp;<span class="fa fa-taxi"></span>&nbsp;&nbsp;Transfer from Hotel De Bangkok To Golden Buddha
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">10:00</span>&nbsp;---&nbsp;<span class="fa fa-h-square "></span>&nbsp;&nbsp;Visit Golden Buddha
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">13:30</span>&nbsp;---&nbsp;<span class="fa fa-spoon"></span>&nbsp;&nbsp;Lunch at Tealicious Bangkok
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">20:30</span>&nbsp;---&nbsp;<span class="fa fa-spoon"></span>&nbsp;&nbsp;Dinner at Tealicious Bangkok
                                        </div>
                                        <div class="form-control">
                                            <span class="fa fa-bed"></span>&nbsp;&nbsp;Overnight at Hotel De Bangkok
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Day 4 (Bangkok / Pattaya)<span class="st-arrow"></span></a>
                                    <div class="st-content" style="display: block;">
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">05:00</span>&nbsp;---&nbsp;<span class="fa fa-h-square "></span>&nbsp;&nbsp;Check in out <span class="highlight-word">Hotel De Bangkok</span>
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">07:00</span>&nbsp;---&nbsp;<span class="fa fa-plane"></span>&nbsp;&nbsp;Arrival On Pattaya Airport - <span class="highlight-word">U-Tapao International Airport</span>
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">07:30</span>&nbsp;---&nbsp;<span class="fa fa-h-square "></span>&nbsp;&nbsp;Check in at <span class="highlight-word">Hotel Sunshine Hotel & Residency</span> / drop off luggage
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">08:00</span>&nbsp;---&nbsp;<span class="fa fa-spoon"></span>&nbsp;&nbsp;Breakfast at Sunshine Hotel & Residency
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">09:30</span>&nbsp;---&nbsp;<span class="fa fa-taxi"></span>&nbsp;&nbsp;Transfger from Sunshine Hotel & Residency To Walking Street
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">10:00</span>&nbsp;---&nbsp;<span class="fa fa-ship"></span>&nbsp;&nbsp;Visit Walking Street
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">13:30</span>&nbsp;---&nbsp;<span class="fa fa-spoon"></span>&nbsp;&nbsp;Lunch at Indian By Nature
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">08:00</span>&nbsp;---&nbsp;<span class="fa fa-spoon"></span>&nbsp;&nbsp;Dinner At Indian By Nature
                                        </div>
                                        <div class="form-control">
                                            <span class="fa fa-bed"></span>&nbsp;&nbsp;Overnight at Sunshine Hotel & Residency
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Day 5 (Pattaya)<span class="st-arrow"></span></a>
                                    <div class="st-content" style="display: block;">
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">08:00</span>&nbsp;---&nbsp;<span class="fa fa-spoon"></span>&nbsp;&nbsp;Breakfast at Hotel Sunshine & Residency
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">10:00</span>&nbsp;---&nbsp;<span class="fa fa-taxi"></span>&nbsp;&nbsp;Transfger from Sunshine Hotel & Residency To Jomtien Beach
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">10:00</span>&nbsp;---&nbsp;<span class="fa fa-ship"></span>&nbsp;&nbsp;Visit Jomteian Beach & Return Sunshine Hotel & Residency
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">13:30</span>&nbsp;---&nbsp;<span class="fa fa-spoon"></span>&nbsp;&nbsp;Lunch at Hotel Sunshine & Residency
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">20:30</span>&nbsp;---&nbsp;<span class="fa fa-spoon"></span>&nbsp;&nbsp;Dinner at Indian By Nature
                                        </div>
                                        <div class="form-control">
                                            <span class="fa fa-bed"></span>&nbsp;&nbsp;Overnight at Sunshine Hotel & Residency
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Day 6 (Pattaya)<span class="st-arrow"></span></a>
                                    <div class="st-content" style="display: block;">
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">08:00</span>&nbsp;---&nbsp;<span class="fa fa-spoon"></span>&nbsp;&nbsp;Breakfast at Hotel Sunshine & Residency
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">10:00</span>&nbsp;---&nbsp;<span class="fa fa-taxi"></span>&nbsp;&nbsp;Transfger from Sunshine Hotel & Residency To Tiger Zoo
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">10:00</span>&nbsp;---&nbsp;<span class="fa fa-ship"></span>&nbsp;&nbsp;Visit Tiger Zoo & Return Sunshine Hotel & Residency
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">13:30</span>&nbsp;---&nbsp;<span class="fa fa-spoon"></span>&nbsp;&nbsp;Lunch at Hotel Sunshine & Residency
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">20:30</span>&nbsp;---&nbsp;<span class="fa fa-spoon"></span>&nbsp;&nbsp;Dinner at Indian By Nature
                                        </div>
                                        <div class="form-control">
                                            <span class="fa fa-bed"></span>&nbsp;&nbsp;Overnight at Sunshine Hotel & Residency
                                        </div>
                                    </div>

                                </li>
                                <li>
                                    <a href="javascript:void(0);">Day 7 (Pattaya / Phuket)<span class="st-arrow"></span></a>
                                    <div class="st-content" style="display: block;">
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">04:30</span>&nbsp;---&nbsp;<span class="fa fa-h-square "></span>&nbsp;&nbsp;Check in out <span class="highlight-word">Sunshine Hotel & Residency</span>
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">09:30</span>&nbsp;---&nbsp;<span class="fa fa-plane"></span>&nbsp;&nbsp;Arrival On Phuket Airport - <span class="highlight-word">Phuket International Airport</span>
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">09:50</span>&nbsp;---&nbsp;<span class="fa fa-h-square "></span>&nbsp;&nbsp;Check in at <span class="highlight-word">Hotel SeaPrinces</span> / drop off luggage
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">10:50</span>&nbsp;---&nbsp;<span class="fa fa-spoon"></span>&nbsp;&nbsp;Breakfast at Hotel Sea Princes
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">13:15</span>&nbsp;---&nbsp;<span class="fa fa-spoon"></span>&nbsp;&nbsp;Lunch at Hotel SeaPrinces
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">14:00</span>&nbsp;---&nbsp;<span class="fa fa-taxi"></span>&nbsp;&nbsp;Transfger from Hotel SeaPrinces To Fantasy Show
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">15:00</span>&nbsp;---&nbsp;<span class="fa fa-ship"></span>&nbsp;&nbsp;Visit Fantasy Show & Return Hotel SeaPrinces
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">08:30</span>&nbsp;---&nbsp;<span class="fa fa-spoon"></span>&nbsp;&nbsp;Dinner At Hotel SeaPrinces
                                        </div>
                                        <div class="form-control">
                                            <span class="fa fa-bed"></span>&nbsp;&nbsp;Overnight at Hotel SeaPrinces
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Day 8 (Phuket)<span class="st-arrow"></span></a>
                                    <div class="st-content" style="display: block;">

                                        <div class="form-control">
                                            <span class="label label-dodgerblue">07:30</span>&nbsp;---&nbsp;<span class="fa fa-spoon"></span>&nbsp;&nbsp;Breakfast at Hotel Sea Princes
                                        </div>

                                        <div class="form-control">
                                            <span class="label label-dodgerblue">08:00</span>&nbsp;---&nbsp;<span class="fa fa-taxi"></span>&nbsp;&nbsp;Transfger from Hotel SeaPrinces To Phuket Safari Tour
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">09:00</span>&nbsp;---&nbsp;<span class="fa fa-ship"></span>&nbsp;&nbsp;Visit Phuket Safari Tour
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">13:30</span>&nbsp;---&nbsp;<span class="fa fa-spoon"></span>&nbsp;&nbsp;Lunch At Hotel SeaPrinces
                                        </div>
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">08:30</span>&nbsp;---&nbsp;<span class="fa fa-spoon"></span>&nbsp;&nbsp;Dinner At Hotel SeaPrinces
                                        </div>
                                        <div class="form-control">
                                            <span class="fa fa-bed"></span>&nbsp;&nbsp;Overnight at Hotel SeaPrinces
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Day 9 (Phuket) <span class="st-arrow"></span></a>
                                    <div class="st-content" style="display: block;">
                                        <div class="form-control">
                                            <span class="label label-dodgerblue">04:30</span>&nbsp;---&nbsp;<span class="fa fa-h-square "></span>&nbsp;&nbsp;Check out <span class="highlight-word">Hotel SeaPrinces</span>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*follow-up*@
        <div class="tab-pane fade in" id="tab3-3">
            <h3 style="color: red">Quotation Follow-up - Ferry group 3N / 4D - 1 Pax to 2 Pax - Bangkok</h3>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3" style="padding-left: 1px; padding-right: 22px">
                            <label>Follow-up Type</label>
                            <select id="drpFollowupType" class="js-states form-control" style="display: none; width: 100%">
                                <option>Manual</option>
                                <option>Auto</option>
                            </select>
                        </div>
                        <div class="col-md-3" style="padding-left: 7px; padding-right: 20px">
                            <label>Follow-up Mode</label>
                            <select id="drpFollowupType" class="js-states form-control" style="display: none; width: 100%">
                                <option>Call</option>
                                <option>SMS</option>
                                <option>Email</option>
                                <option>Mail</option>
                                <option>Personal Visit</option>
                            </select>
                        </div>
                        <div class="col-md-2" style="padding-left: 1px; padding-right: 20px">
                            <label>&nbsp;</label><br />
                            <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px; text-align: right"><span class="fa fa-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="row grid">
                        <div class="col-md-3 grid-item">
                            <div class="panel panel-white ">
                                <div class="panel-body tab-itenaries tab-itenariessum">
                                    <div class="myDiv">
                                        <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                            <label style="display: none" id="lbheadingName"></label>
                                        </h3>
                                    </div>
                                    <h3 style="margin-top: 0; text-align: center;" class="show-followup-details">
                                        <b>
                                            <label id="" style="font-size: 15px;" class="label label-browennew">Quotation Follow-up 1 </label>
                                            <br />
                                            <label id="" style="font-size: 15px; margin-right: 1%; color: #B93B7C; margin-top: 3%; margin-left: 4%;" class="highlight-word">Email - </label>
                                            <label class="highlight-word" style="font-size: 15px;">Auto</label>
                                            <br />

                                            <label style="cursor: pointer;">Follow-up By - </label>
                                            <label id="" style="font-size: 13px; margin-right: 1%; color: #02C8C8; padding-top: 1%;" class="highlight-word ">Samarth Shah</label>
                                        </b></h3>
                                    <div class="" style="display: none;">
                                        <div class="row">
                                            <div class="col-md-9" style="">
                                                <label>Follow-up Date</label>
                                                <select id="drpFollowupType" class="js-states form-control" style="display: none; width: 100%">
                                                    <option>Last Quote Date + 2 Days</option>
                                                    <option>After 3 Days</option>
                                                    <option>After 2 Days</option>
                                                    <option>Today</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3" style="">
                                                <label style="margin-bottom: 10px">Date</label>
                                                <input type="checkbox" class="fomr-control" />
                                            </div>
                                        </div>
                                        <div class="">
                                            <label>Follow-up Time</label>
                                            <div class="input-group input-append bootstrap-timepicker">
                                                <input type="text" class="form-control timepicker" value="1200" id="">
                                                <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                            </div>
                                        </div>

                                        <div class="">

                                            <label>Send To</label>
                                            <input type="text" class="form-control" value="" id="txtAgent" placeholder="">
                                        </div>
                                        <div class="">
                                            <label>CC To</label>
                                            <input type="text" class="form-control" value="" id="txtAgent" placeholder="">
                                        </div>

                                        <div class="">

                                            <label>Massage</label>
                                            <textarea class="form-control" id="txtInternal" rows="3"></textarea>
                                        </div>

                                        <div class="">

                                            <label>Attachment</label>
                                            <select id="drpFollowupType" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                                                <option>Quote</option>
                                                <option>Itinerary</option>
                                                <option>Hotel Fact Sheet</option>
                                            </select>
                                        </div>
                                        <div class="">

                                            <label>Follow-up Remarks</label>
                                            <textarea class="form-control" id="txtInternal" rows="2"></textarea>
                                        </div>
                                        <div class="" style="padding-top: 5px; float: right">
                                            <a class="btn btn-success" aria-expanded="false" rel="tooltip" title="View Trail" style="font-size: 10px; padding: 8px">
                                                <span class="fa fa-envelope" style="font-size: 19px"></span>
                                            </a>
                                            <a class="btn btn-success" aria-expanded="false" rel="tooltip" title="Save" style="font-size: 10px; padding: 8px">
                                                <span class="fa fa-floppy-o" style="font-size: 19px;"></span>
                                            </a>
                                            <a class="btn btn-info" aria-expanded="false" rel="tooltip" title="Update" style="font-size: 10px; padding: 8px">
                                                <span class="fa fa-pencil-square-o" style="font-size: 19px;"></span>
                                            </a>
                                            <a class="btn btn-danger" aria-expanded="false" rel="tooltip" title="Remove" style="font-size: 10px; padding: 8px">
                                                <span class="fa fa-times" style="font-size: 19px;"></span>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 grid-item">
                            <div class="panel panel-white ">
                                <div class="panel-body tab-itenaries tab-itenariessum">
                                    <div class="myDiv">
                                        <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                            <label style="display: none" id="lbheadingName"></label>
                                        </h3>
                                    </div>
                                    <h3 style="margin-top: 0; text-align: center;" class="show-followup-details">
                                        <b>
                                            <label id="" style="font-size: 15px" class="label label-browennew">Quotation Follow-up 2 </label>
                                            <br />
                                            <label id="" style="font-size: 15px; margin-right: 1%; color: #B93B7C; margin-top: 3%; margin-left: 4%" class="highlight-word">Call - </label>
                                            <label class="highlight-word" style="font-size: 15px">Manual</label>

                                            <br />
                                            <label>Follow-up By - </label>
                                            <label id="" style="font-size: 13px; margin-right: 1%; color: #02C8C8; padding-top: 1%" class="highlight-word">Samarth Shah</label>
                                        </b></h3>
                                    <div class="" style="display: none;">
                                        <div class="row">
                                            <div class="col-md-9" style="">
                                                <label>Follow-up Date</label>
                                                <select id="drpFollowupType" class="js-states form-control" style="display: none; width: 100%">
                                                    <option>Last Quote Date + 2 Days</option>
                                                    <option>After 3 Days</option>
                                                    <option>After 2 Days</option>
                                                    <option>Today</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3" style="">
                                                <label style="margin-bottom: 10px">Date</label>
                                                <input type="checkbox" class="fomr-control" />
                                            </div>
                                        </div>
                                        <div class="">
                                            <label>Follow-up Time</label>
                                            <div class="input-group input-append bootstrap-timepicker">
                                                <input type="text" class="form-control timepicker" value="1200" id="">
                                                <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                            </div>
                                        </div>

                                        <div class="">

                                            <label>Call To</label>
                                            <input type="text" class="form-control" value="" id="txtAgent" placeholder="">
                                        </div>

                                        <div class="">

                                            <label>Call Discussion</label>
                                            <textarea class="form-control" id="txtInternal" rows="3"></textarea>
                                        </div>
                                        <div class="">

                                            <label>Follow-up Remarks</label>
                                            <textarea class="form-control" id="txtInternal" rows="3"></textarea>
                                        </div>

                                        <div class="">
                                            <label>Send Call Detail To Agent</label><br />
                                            <input type="checkbox" class="form-control" checked="checked" />
                                        </div>

                                        <div class="">

                                            <label>Send To</label>
                                            <input type="text" class="form-control" value="" id="txtAgent" placeholder="">
                                        </div>
                                        <div class="" style="padding-top: 5px; float: right">

                                            <a class="btn btn-success" aria-expanded="false" rel="tooltip" title="Save" style="font-size: 10px; padding: 8px">
                                                <span class="fa fa-floppy-o" style="font-size: 19px;"></span>
                                            </a>
                                            <a class="btn btn-info" aria-expanded="false" rel="tooltip" title="Update" style="font-size: 10px; padding: 8px">
                                                <span class="fa fa-pencil-square-o" style="font-size: 19px;"></span>
                                            </a>
                                            <a class="btn btn-danger" aria-expanded="false" rel="tooltip" title="Remove" style="font-size: 10px; padding: 8px">
                                                <span class="fa fa-times" style="font-size: 19px;"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>


        </div>
        @*Audit Trail*@
        <div class="tab-pane fade in" id="tab3-4">
        </div>
    </div>
</form>


