<div class="col-md-12" style="width: 6% !important; margin-bottom: 1%; float: right; margin-right: 8px">
    <a href="javascript:void(0);" style="font-size: 12px !important" class="btn btn-success searchpanel-button1 advanced-panel-button1" data-show-panel="advanced-panel1" data-toggle="tooltip" data-placement="top" title="Summary"><i class="fa fa-plus"></i></a>
</div>
<div class="col-md-12">
    <div class="from-group panel-search advanced-panel1" style="display: none; width: 100%;">
        <div class="panel-body tab-itenaries ">
            <div class="panel-group">
                <div class="panel panel-red">
                    <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                        <h4 class="panel-title">Summary <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report"></a>

                        </h4>
                    </div>


                    <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                        <div class="panel-body summary-body">
                            <table class="table summary-list newfontsizehorisum">
                                <tbody>
                                    <tr>
                                        <td>Quote Ref #: </td>
                                        <td><span class="label label-primary">THLND-FLG-01</span></td>
                                        <td>Quote Created Date: </td>
                                        <td><span class="label label-danger">10-03-2016</span></td>
                                        <td>Quote Sent To Agent Date: </td>
                                        <td><span class="label label-info">11-03-2016</span></td>
                                        <td>Created By: </td>
                                        <td><span class="label label-success">Samir Shah</span></td>
                                        <td>Created Date: </td>
                                        <td><span class="label label-warning">06-Mar-2016</span></td>
                                    </tr>


                                    <tr>
                                        <td>Created From Branch: </td>
                                        <td><span class="label label-danger">Bangkok</span></td>

                                        <td>Last Updated By: </td>
                                        <td><span class="label label-info">Samir Shah</span></td>

                                        <td>Last Updated Date: </td>
                                        <td><span class="label label-warning">14-Mar-2016</span></td>

                                        <td>Page Load Time: </td>
                                        <td><span class="label label-info">00:01:00 Minutes</span></td>

                                        <td>Record Update Time: </td>
                                        <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="col-md-12 full-responsive">

    <h3 class="section-headers tab5section2">T&C / Benefits</h3>
    <div class="form-group">
        <div class="row">
            <div class="col-md-3">
                <label for="">Service</label>
                <select id="" class="js-states form-control" style="display: none; width: 100%">
                    <option selected="selected">Hotel</option>
                    <option>Sightseeing</option>
                    <option>Function Room</option>
                    <option>Gala Dinner</option>
                    <option>Transfer</option>
                    <option>Meal</option>
                    <option>Guide</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="txtAgent">Supplier</label>
                <select id="drpNationalityGroup" class="js-states form-control" style="display: none; width: 100%">
                    <option selected="selected">Outtrigger Lagun Resort & villas</option>
                    <option>Hotel De Bangkok</option>
                    <option>A1 Hotel</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="txtAgent">Section</label>
                <select id="drpNationalityGroup" class="js-states form-control" style="display: none; width: 100%">
                    <option >Adult / Child Age Policy</option>
                    <option>Inclusions / Benefits - General</option>
                    <option>Inclusions / Benefits - Room Category Specifics</option>
                    <option>Terms & Conditions - General</option>
                    <option>Terms & Conditions - Room Category Specific</option>
                    <option selected="selected">Cancellation Policy</option>
                    <option>No Show Policy</option>
                    <option>Early Checkin Policy</option>
                    <option>Early Checkout Policy</option>
                    <option>Late checkout Policy</option>
                    <option>No Checkout Allowed On</option>
                    <option>FOC Policy</option>

                </select>
            </div>

        </div>
    </div>
          <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="tab9section2">Cancellation Policy</h3>
                    <div class="table-responsive">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="width: 16%; padding: 5px">Days From <span class="fa fa-question-circle text-info" title="Days Before Arrival" rel="tooltip"></span></th>
                                    <th style="width: 16%; padding: 5px">Days To <span class="fa fa-question-circle text-info" title="Days Before Arrival" rel="tooltip"></span></th>
                                    <th style="width: 16%; padding: 5px"># Nights From</th>
                                    <th style="width: 16%; padding: 5px"># Nights To</th>
                                    <th style="width: 20%; padding: 5px">Charge Type</th>
                                    <th style="width: 10%; padding: 5px">Charge</th>
                                    <th style="width: 6%; padding: 5px"></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtCancelDays" value="10" placeholder="Cancel Days">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtCancelDays" value="14" placeholder="Cancel Days">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtCancelDays" value="9" placeholder="Cancel Days">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtCancelDays" value="13" placeholder="Cancel Days">
                                    </td>
                                    <td style="padding: 5px">
                                        <select id="drpChargeType" class="js-states form-control" style="display: none; width: 100%">
                                            <option>None</option>
                                            <option>Amount</option>
                                            <option>Percent</option>
                                            <option>Full Length Of Stay Per Room</option>
                                            <option>50% Length Of Stay Per Room</option>
                                            <option selected="selected">Night Per Room</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtCharge" value="2" placeholder="Charge">
                                    </td>
                                    <td style="padding: 5px">
                                        <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtCancelDays" value="29" placeholder="Cancel Days">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtCancelDays" value="30" placeholder="Cancel Days">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtCancelDays" value="28" placeholder="Cancel Days">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtCancelDays" value="29" placeholder="Cancel Days">
                                    </td>
                                    <td style="padding: 5px">
                                        <select id="drpChargeType" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">None</option>
                                            <option>Amount</option>
                                            <option>Percent</option>
                                            <option>Full Length Of Stay Per Room</option>
                                            <option>50% Length Of Stay Per Room</option>
                                            <option>Night Per Room</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtCharge" value="0" placeholder="Charge">
                                    </td>
                                    <td style="padding: 5px">
                                        <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    <br />
    <button id="btnSave" type="submit" class="btn btn-success btnSave">
        CREATE QUOTATION</button>
    <button id="btnSave" type="submit" class="btn btn-primary btnSave">
        UPDATE QUOTATION</button>
    <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
        DELETE QUOTATION</button>
    <button id="btnCancel" type="submit" class="btn btn-success btnCancel">
        BUILD ITINERARY</button>
    <button id="btnCancel" type="submit" class="btn btn-info btnCancel">
        UPDATE ITINERARY</button>

    <a class="btn btn-success" aria-expanded="false" rel="tooltip" title="Copy & Create New" onclick="window.location.href=window.location.href;">
        <span class="fa fa-files-o"></span>
    </a>
    <a class="btn btn-warning" aria-expanded="false" rel="tooltip" title="Create New" onclick="window.location.href=window.location.href;">
        <span class="fa fa-plus"></span>
    </a>

    <a class="btn btn-danger" aria-expanded="false" rel="tooltip" title="Quit From" onclick="window.location.href=window.location.href;">
        <span class="fa fa-times"></span>
    </a>
    <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
        <span class="fa fa-refresh"></span>
    </a>

</div>

