@{
    ViewBag.Title = "Invoice";
}
<style>
    .utilitis-drop li a {
        background-color: #22baa0;
        padding: 5px;
    }
</style>

<div class="invoice col-md-9">
    <div class="panel panel-white">

        <div class="panel-body">
            <div class="row">
            </div>
            <div class="row">
                <div class="col-md-8">
                    <img src="/assets/images/invoice/clogo.jpg" width="230" />

                    <address>
                        297, Rattanathibet Road Tambol-Bangkrasor Amphur Muang Nonthaburi,
                        <br />
                        Thailand - 11000,
                        @*<br />*@
                        HandPhone: (0066) 817267538,
                        @*<br />*@
                        Phone:  025271815/16/39/46/76,
                        @*<br />*@
                        Fax: 025271894/86
                   
                    </address>

                </div>
                <div class="col-md-4 text-right">
                    <h1>INVOICE</h1>
                    <h5 class="bottom-padding-3">Invoice Date: <span class="label label-dodgerblue font-full">13-May-2016</span></h5>
                    <h5 class="bottom-padding-3">Invoice No: <span class="label label-dodgerblue font-full">#0000012121</span></h5>
                    <h5 class="bottom-padding-3">Currency: <span class="label label-dodgerblue font-full">USD</span></h5>
                </div>

                <div class="col-md-12">
                    <div class="col-md-4">
                        <div>Payment term: <span class="label label-primary font-full">Bank Transfer</span></div>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div class="row" style="float: right;">
                            <button type="button" class="btn btn-default"><span class="fa fa-print"></span>&nbsp;&nbsp;Print</button>
                            <button type="button" class="btn btn-default"><span class="fa fa-envelope-o"></span>&nbsp;&nbsp;Email</button>
                        </div>
                    </div>
                </div>


                <div class="col-md-12">
                    <hr>
                    <div class="col-md-4">
                        <p>
                            <span class="label label-primary">Invoice To</span>
                            <br />
                            Flamingo Transworld Pvt. Ltd.<br />
                            201/202, Gala Business Centre,<br />
                            St. Xaviers College Corner,<br />
                            Near Classic Gold Hotel,<br />
                            Off C. G. Road,<br />
                            Ahmedabad 380 009, Gujarat, India.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <br />
                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-4">
                                    <span class="label label-primary">Booked By </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="">Samarth Shah </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-4">
                                    <span class="label label-primary">Booked On </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="">01-May-2016</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-4">
                                    <span class="label label-primary">Reconfirmed By </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="">Sudhir Punjabi</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-4">
                                    <span class="label label-primary">Reconfirmed On </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="">02-May-2016 </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-4">
                                    <span class="label label-primary">Quotation Ref. # </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="">THLN-FLG-01 </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-4">
                                    <span class="label label-primary">Invoice Type </span>
                                </div>
                                <div class="col-md-8">
                                    <span class="">Final </span>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-4">
                        <br />
                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="label label-primary">Guest Name </span>
                                </div>
                                <div class="col-md-6">
                                    <span class="">Bhavin Vora </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="label label-primary">Guest Cell Phone </span>
                                </div>
                                <div class="col-md-6">
                                    <span class="">9924343418 </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="label label-primary">Nationality  </span>
                                </div>
                                <div class="col-md-6">
                                    <span class="">Asian-Indian </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="label label-primary">Travel From Date </span>
                                </div>
                                <div class="col-md-6">
                                    <span class="">05-May-2016 </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="label label-primary">Travel To Date </span>
                                </div>
                                <div class="col-md-6">
                                    <span class="">13-May-2016 </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="label label-primary">Total Nights and Days </span>
                                </div>
                                <div class="col-md-6">
                                    <span class="">8N / 9D </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#
                                </th>
                                <th>Items
                                </th>
                                <th>Description
                                </th>
                                <th>Quantity
                                </th>
                                <th>Unit Price</th>
                                <th style="text-align: right">Price
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1
                                </td>
                                <td>Bankok - <span class="fa fa-university text-dodgerblue" title="" rel="tooltip" data-original-title="Hotel"></span>- Hotel De Bangkok
                                </td>
                                <td><span class="highlight-invoice-word">Check-in Date</span> - 05-May-2016
                                    <br />
                                    <span class="highlight-invoice-word">Check-out Date</span> - 08-May-2016
                                    <br />
                                    <span class="highlight-invoice-word">Room 1</span> - Standard Single - 1 Adult 1 CNB 1 Infant
                                    <br />
                                    <span class="highlight-invoice-word">Room 2</span> - Standard  Double - 2 Adult 1 CWB   
                                    <br />

                                    <span class="highlight-invoice-word">Additional Services</span> - Wheel chair
                                     <br />

                                </td>
                                <td>
                                    <span class="label label-info">3 Nights</span>
                                </td>
                                <td>
                                    <span class="label label-success ">$771.86  </span>
                                </td>
                                <td style="text-align: right">
                                    <span class="label label-success ">$2315.60  </span>
                                </td>
                            </tr>

                            <tr>
                                <td>2
                                </td>
                                <td>Bankok - <span class="fa fa-spoon text-maroon" title="" rel="tooltip" data-original-title="Restaurant"></span>- Tealicious
                                </td>
                                <td><span class="highlight-invoice-word">Day 1 (05-May-2016)</span> - Lunch  13:00
                                   <br />
                                    <span class="highlight-invoice-word">Day 2 (06-May-2016)</span> -  Lunch  13:00 
                                     <br />
                                    <span class="highlight-invoice-word">Day 3 (07-May-2016)</span> -  Lunch  13:00 
                                     <br />
                                    <span class="highlight-invoice-word">Additional Services</span> - Special Theme
                                </td>
                                <td>
                                    <span class="label label-info">5 Pax</span>
                                </td>
                                <td>
                                    <span class="label label-success ">$108.08  </span>
                                </td>
                                <td style="text-align: right">
                                    <span class="label label-success ">$540.40  </span>
                                </td>
                            </tr>

                            <tr>
                                <td>3
                                </td>
                                <td>Bankok - <span class="fa fa-map-marker text-orange" title="" rel="tooltip" data-original-title="Sightseeing"></span>- Safari World & Marine Park
                                </td>
                                <td><span class="highlight-invoice-word">Day 1 (05-May-2016)</span> - Pick Up : Hotel De Bangkok - 08:00
                                    </br>
                                    <span class="highlight-invoice-word">Additional Services</span> - Wheelchair,Sport cycle
                                </td>
                                <td>
                                    <span class="label label-info">5 Pax</span>
                                </td>
                                <td>
                                    <span class="label label-success ">$112.44  </span>
                                </td>
                                <td style="text-align: right">
                                    <span class="label label-success ">$562.24 </span>
                                </td>
                            </tr>

                            <tr>
                                <td>4
                                </td>
                                <td>Bangkok - <span class="fa fa-map-marker text-orange" title="" rel="tooltip" data-original-title="Sightseeing"></span>- Grand Palace
                                </td>
                                <td><span class="highlight-invoice-word">Day 2 (06-May-2016)</span> - Pick Up : Hotel De Bangkok - 08:30
                                    <br />
                                    <span class="highlight-invoice-word">Additional Services</span> Wheelchair, Sport Cycle
                                </td>
                                <td>
                                    <span class="label label-info">5 Pax</span>
                                </td>
                                <td>
                                    <span class="label label-success ">$51.12  </span>
                                </td>
                                <td style="text-align: right">
                                    <span class="label label-success ">$255.64  </span>
                                </td>
                            </tr>

                            <tr>
                                <td>5
                                </td>
                                <td>Bangkok - <span class="fa fa-map-marker text-orange" title="" rel="tooltip" data-original-title="Sightseeing"></span>- Golden Buddha
                                </td>
                                <td><span class="highlight-invoice-word">Day 3 (07-May-2016)</span> - Pick Up : Hotel De Bangkok - 08:30
                                    <br />
                                    <span class="highlight-invoice-word">Additional Services</span>
                                </td>
                                <td>
                                    <span class="label label-info">5 Pax</span>
                                </td>
                                <td>
                                    <span class="label label-success ">$25.76  </span>
                                </td>
                                <td style="text-align: right">
                                    <span class="label label-success ">$128.80  </span>
                                </td>
                            </tr>

                            <tr>
                                <td>6
                                </td>
                                <td>Bankok - <span class="fa fa-street-view text-tomato" title="" rel="tooltip" data-original-title="Guide"></span>- Newbie Guide
                                
                                </td>
                                <td><span class="highlight-invoice-word">Day 1 (05-May-2016)</span> - Safari World & Marine 
                                                            Park - 8:00
                                   <br />
                                    <span class="highlight-invoice-word">Day 2 (06-May-2016)</span> - Grand Palace - 8:00
                                                             <br />
                                    <span class="highlight-invoice-word">Day 3 (07-May-2016)</span> - golden Buddha - 8:30
                                    
                                </td>
                                <td>
                                    <span class="label label-info">5 Pax</span>
                                </td>
                                <td>
                                    <span class="label label-success ">$62.72  </span>
                                </td>
                                <td style="text-align: right">
                                    <span class="label label-success ">$313.60  </span>
                                </td>
                            </tr>

                            <tr>
                                <td>7
                                </td>
                                <td>Bankok - <span class="fa fa-car text-springgreen" title="" rel="tooltip" data-original-title="Transfer"></span>- SIC & Private
                                </td>
                                <td><span class="highlight-invoice-word">Day 1 (05-May-2016)</span>
                                    <br />
                                    <span class="highlight-invoice-word">Day 2 (06-May-2016)</span>
                                    <br />
                                    <span class="highlight-invoice-word">Day 3 (07-May-2016)</span>

                                </td>
                                <td>
                                    <span class="label label-info">6 Pax</span>
                                </td>
                                <td>
                                    <span class="label label-success ">$50.96 </span>
                                </td>
                                <td style="text-align: right">
                                    <span class="label label-success">$254.80  </span>
                                </td>
                            </tr>

                            <tr>
                                <td>8
                                </td>
                                <td>Pattaya - <span class="fa fa-university text-dodgerblue" title="" rel="tooltip" data-original-title="Hotel"></span>- Hotel Sunshine & Residency
                                </td>
                                <td><span class="highlight-invoice-word">Check-in Date</span> - 08-May-2016
                                    <br />
                                    <span class="highlight-invoice-word">Check-out Date</span> - 11-May-2016
                                    <br />
                                    <span class="highlight-invoice-word">Room 1</span> - Standard Single - 1 Adult 1 CNB 1 Infant
                                    <br />
                                    <span class="highlight-invoice-word">Room 2</span> - Standard  Double - 2 Adult 1 CWB   
                                    <br />

                                    <span class="highlight-invoice-word">Additional Services</span> - Wheel chair
                                     <br />

                                </td>
                                <td>
                                    <span class="label label-info">3 Nights</span>
                                </td>
                                <td>
                                    <span class="label label-success ">$515.20  </span>
                                </td>
                                <td style="text-align: right">
                                    <span class="label label-success ">$1545.60 </span>
                                </td>
                            </tr>

                            <tr>
                                <td>9
                                </td>
                                <td>Pattaya - <span class="fa fa-spoon text-maroon" title="" rel="tooltip" data-original-title="Restaurant"></span>- Indian By Nature
                                </td>
                                <td><span class="highlight-invoice-word">Day 4 (08-May-2016)</span> - Dinner  20:30
                                   <br />
                                    <span class="highlight-invoice-word">Day 5 (09-May-2016)</span> -  Dinner 20:30
                                     <br />
                                    <span class="highlight-invoice-word">Day 6 (10-May-2016)</span> -  Dinner 20:30
                                     
                                                          
                                </td>
                                <td>
                                    <span class="label label-info">5 Pax</span>
                                </td>
                                <td>
                                    <span class="label label-success ">$137.20  </span>
                                </td>
                                <td style="text-align: right">
                                    <span class="label label-success ">$686.00 </span>
                                </td>
                            </tr>

                            <tr>
                                <td>10
                                </td>
                                <td>Pattaya - <span class="fa fa-map-marker text-orange" title="" rel="tooltip" data-original-title="Sightseeing"></span>- Walking Street
                                </td>
                                <td><span class="highlight-invoice-word">Day 4 (08-May-2016)</span> - Pick Up : Sunshine Hotel & Residency - 08:00
                                    </br>
                                    <span class="highlight-invoice-word">Additional Services</span> - Wheelchair
                                </td>
                                <td>
                                    <span class="label label-info">5 Pax</span>
                                </td>
                                <td>
                                    <span class="label label-success ">$48.12  </span>
                                </td>
                                <td style="text-align: right">
                                    <span class="label label-success ">$240.60  </span>
                                </td>
                            </tr>

                            <tr>
                                <td>11
                                </td>
                                <td>Pattaya - <span class="fa fa-map-marker text-orange" title="" rel="tooltip" data-original-title="Sightseeing"></span>- Jomtien Beach
                                </td>
                                <td><span class="highlight-invoice-word">Day 5 (09-May-2016)</span> - Pick Up : Sunshine Hotel & Residency - 08:30
                                    <br />
                                    <span class="highlight-invoice-word">Additional Services</span> Appartment
                                </td>
                                <td>
                                    <span class="label label-info">5 Pax</span>
                                </td>
                                <td>
                                    <span class="label label-success ">$87.92  </span>
                                </td>
                                <td style="text-align: right">
                                    <span class="label label-success ">$439.60  </span>
                                </td>
                            </tr>

                            <tr>
                                <td>12
                                </td>
                                <td>Pattaya - <span class="fa fa-map-marker text-orange" title="" rel="tooltip" data-original-title="Sightseeing"></span>- Tiger Zoo
                                </td>
                                <td><span class="highlight-invoice-word">Day 6 (10-May-2016)</span> - Pick Up :Sunshine Hotel & Residency - 08:30
                                    <br />
                                    <span class="highlight-invoice-word">Additional Services</span> Jeep
                                </td>
                                <td>
                                    <span class="label label-info">5 Pax</span>
                                </td>
                                <td>
                                    <span class="label label-success ">$94.64</span>
                                </td>
                                <td style="text-align: right">
                                    <span class="label label-success ">$473.20  </span>
                                </td>
                            </tr>

                            <tr>
                                <td>13
                                </td>
                                <td>Pattaya - <span class="fa fa-street-view text-tomato" title="" rel="tooltip" data-original-title="Guide"></span>- Nadia Manassawee Ponpitak
                                
                                </td>
                                <td><span class="highlight-invoice-word">Day 4 (08-May-2016)</span> - Walking Street
                              
                                    
                                </td>
                                <td>
                                    <span class="label label-info">5 Pax</span>
                                </td>
                                <td>
                                    <span class="label label-success ">$26.88  </span>
                                </td>
                                <td style="text-align: right">
                                    <span class="label label-success ">$134.04  </span>
                                </td>
                            </tr>

                            <tr>
                                <td>14
                                </td>
                                <td>Pattaya - <span class="fa fa-car text-springgreen" title="" rel="tooltip" data-original-title="Transfer"></span>- Private
                                </td>
                                <td><span class="highlight-invoice-word">Day 4 (08-May-2016)</span>
                                    <br />
                                    <span class="highlight-invoice-word">Day 5 (09-May-2016)</span>
                                    <br />
                                    <span class="highlight-invoice-word">Day 6 (10-May-2016)</span>

                                </td>
                                <td>
                                    <span class="label label-info">6 Pax</span>
                                </td>
                                <td>
                                    <span class="label label-success ">$26.88 </span>
                                </td>
                                <td style="text-align: right">
                                    <span class="label label-success">$134.4  </span>
                                </td>
                            </tr>

                            <tr>
                                <td>15
                                </td>
                                <td>Phuket - <span class="fa fa-university text-dodgerblue" title="" rel="tooltip" data-original-title="Hotel"></span>- Hotel SeaPrinces
                                </td>
                                <td><span class="highlight-invoice-word">Check-in Date</span> - 11-May-2016
                                    <br />
                                    <span class="highlight-invoice-word">Check-out Date</span> - 13-May-2016
                                    <br />
                                    <span class="highlight-invoice-word">Room 1</span> - Standard Single - 1 Adult 1 CNB 1 Infant
                                    <br />
                                    <span class="highlight-invoice-word">Room 2</span> - Delux  Double - 2 Adult 1 CWB   
                                    <br />

                                    <span class="highlight-invoice-word">Additional Services</span> - Wheel chair
                                     <br />

                                </td>
                                <td>
                                    <span class="label label-info">2 Nights</span>
                                </td>
                                <td>
                                    <span class="label label-success ">$575.40  </span>
                                </td>
                                <td style="text-align: right">
                                    <span class="label label-success ">$1514.80 </span>
                                </td>
                            </tr>


                            <tr>
                                <td>16
                                </td>
                                <td>Phuket - <span class="fa fa-map-marker text-orange" title="" rel="tooltip" data-original-title="Sightseeing"></span>- Fantasy Show
                                </td>
                                <td><span class="highlight-invoice-word">Day 7 (11-May-2016)</span> - Pick Up : SeaPrinces - 08:00
                                    </br>
                                    <span class="highlight-invoice-word">Additional Services</span> - SpecialChair
                                </td>
                                <td>
                                    <span class="label label-info">5 Pax</span>
                                </td>
                                <td>
                                    <span class="label label-success ">$82.32  </span>
                                </td>
                                <td style="text-align: right">
                                    <span class="label label-success ">$411.60  </span>
                                </td>
                            </tr>

                            <tr>
                                <td>17
                                </td>
                                <td>Phuket - <span class="fa fa-map-marker text-orange" title="" rel="tooltip" data-original-title="Sightseeing"></span>- Phuket Safari Tour
                                </td>
                                <td><span class="highlight-invoice-word">Day 8 (12-May-2016)</span> - Pick Up : Hotel SeaPrinces- 08:30
                                    <br />
                                    <span class="highlight-invoice-word">Additional Services</span> Jeep
                                </td>
                                <td>
                                    <span class="label label-info">5 Pax</span>
                                </td>
                                <td>
                                    <span class="label label-success ">$65.52 </span>
                                </td>
                                <td style="text-align: right">
                                    <span class="label label-success ">$327.60 </span>
                                </td>
                            </tr>

                            <tr>
                                <td>18
                                </td>
                                <td>Phuket - <span class="fa fa-car text-springgreen" title="" rel="tooltip" data-original-title="Transfer"></span>- Private
                                </td>
                                <td><span class="highlight-invoice-word">Day 7 (11-May-2016)</span>
                                    <br />
                                    <span class="highlight-invoice-word">Day 8 (12-May-2016)</span>


                                </td>
                                <td>
                                    <span class="label label-info">6 Pax</span>
                                </td>
                                <td>
                                    <span class="label label-success ">$18.48  </span>
                                </td>
                                <td style="text-align: right">
                                    <span class="label label-success">$92.40  </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr style="margin-bottom: 7px; margin-top: 0px;">
                </div>
                <div class="col-md-12">
                    <div class="col-md-9">
                        <h3 style="margin-bottom: 7px; margin-top: 0px;"><span class="label label-success ">Terms & Conditions</span></h3>
                        <ul class="custom-list" style="padding-left: 20px;">
                            <li><span class="fa fa-tags"></span>&nbsp;Booking Once Reconfirmed we shall make payments to the hotels as per their payment policy. </li>
                            <li><span class="fa fa-tags"></span>&nbsp;In case of no show or late cancellation after reconfirmation charges applicable as per the Hotels Policy and other vendors policy. </li>
                        </ul>
                        <h3 style="margin-bottom: 7px; margin-top: 0px;"><span class="label label-success ">Notes</span></h3>
                        <ul class="custom-list" style="padding-left: 20px;">
                            <li><span class="fa fa-tags"></span>&nbsp;Exchange Rate Used is 35.19 THB per USD. In case any change in the same difference in the cost will be applicable.</li>
                            <li><span class="fa fa-tags"></span>&nbsp;Only Adults are considered to determine the size of the group. Children will not be considered for the same.</li>
                        </ul>
                    </div>
                    <div class="col-md-3" style="padding-right: 0; text-align: right">

                        <div class="row" style="margin-bottom: 7px; font-size: 16px">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-6" style="text-align: right">
                                <span class="label label-primary">Total Price </span>
                            </div>
                            <div class="col-md-4" style="text-align: right">
                                <span class="label label-primary">$11492.48</span>
                            </div>

                        </div>
                        <div class="row" style="margin-bottom: 7px; font-size: 16px">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-6" style="text-align: right">
                                <span class="label label-danger " style="margin-bottom: 12px;">Tax  </span>
                            </div>
                            <div class="col-md-4" style="text-align: right">
                                <span class="label label-danger " style="margin-bottom: 12px;">$687.62</span>
                            </div>

                        </div>
                        <div class="row" style="margin-bottom: 7px; font-size: 16px">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-6" style="text-align: right">
                                <span class="label label-success " style="margin-bottom: 12px;">Discount  </span>
                            </div>
                            <div class="col-md-4" style="text-align: right">
                                <span class="label label-success " style="margin-bottom: 12px;">$757.40</span>
                            </div>

                        </div>

                        <div class="row" style="margin-bottom: 7px; font-size: 16px">
                            <hr style="margin-bottom: 3px; margin-top: 2px;" />
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-6" style="text-align: right">
                                <span class="label label-danger" style="margin-bottom: 12px;">Total  Amount </span>
                            </div>
                            <div class="col-md-4" style="text-align: right">
                                <span class="label label-danger" style="margin-bottom: 12px;">$11422.24</span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-12">
                    <div class="col-md-8">
                        <h3><span class="label label-success ">Travelz Unlimited Bank Details</span></h3>
                        <div class="row">
                            <div class="col-md-12" style="margin-bottom: 5px">
                                <div class="row">
                                    <div class="col-md-3">
                                        Account #
                                    </div>
                                    <div class="col-md-4">
                                        01781000009320 
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Account Name 
                                    </div>
                                    <div class="col-md-2">
                                        Saving
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Bank Name
                                    </div>
                                    <div class="col-md-4">
                                        Bank Of Baroda
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Bank Branch  
                                    </div>
                                    <div class="col-md-2">
                                        Gandhinagar
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Bank Address 
                                    </div>
                                    <div class="col-md-4">
                                        Infocity,Gandhinagar 
                                    </div>



                                </div>



                                <div class="row">
                                    <div class="col-md-3">
                                        Swift Code  
                                    </div>
                                    <div class="col-md-2">
                                        Chh000000
                                    </div>


                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-8" style="float: right">
                                    <img src="~/assets/images/gallery/Signature.png" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8" style="text-align: center; float: right">
                                    Samir Vithani
                                    </br>
                                    Manger Operation
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: right">

                        <h3>
                            <label class="btn btn-primary">Finalize And Submit Invoice</label></h3>
                    </div>
                </div>

                @* <div class="col-md-10" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-2">
                                    <span>Bank Name </span>
                                </div>
                                <div class="col-md-3">
                                    <span>Bank Of Baroda </span>
                                </div>
                                <div class="col-md-2">
                                    
                                    <span>Bank Branch </span>
                                </div>
                                <div class="col-md-3">
                                    <span>Gandhinagar</span>
                                </div>
                            </div>
                        </div>*@
                @*                    <div class="col-md-10" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-3">
                                    <span>Bank Address </span>
                                </div>
                                <div class="col-md-2">
                                    <span>Infocity,Gandhinagar </span>
                                </div>
                                <div class="col-md-3">
                                    
                                    <span> Swift Code/Sort Code</span>
                                </div>
                                <div class="col-md-2">
                                    <span>Chh000000</span>
                                </div>
                            </div>
                        </div>*@








                @*<div class="col-md-4">
                        <br />
                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="label label-success">Account Number </span>
                                </div>
                                <div class="col-md-6">
                                    <span class="">01781000009320 </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="label label-success">Account Name </span>
                                </div>
                                <div class="col-md-6">
                                    <span class="">Saving </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="label label-success">Bank Name </span>
                                </div>
                                <div class="col-md-6">
                                    <span class="">Bank Of Baroda </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="label label-success">Bank Branch </span>
                                </div>
                                <div class="col-md-6">
                                    <span class="">Mansa </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="label label-success">Bank Address </span>
                                </div>
                                <div class="col-md-6">
                                    <span class=""></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="label label-success">Swift Code / Sort Code </span>
                                </div>
                                <div class="col-md-6">
                                    <span class="">Chh000000 </span>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
            @* <div class="col-md-4">
                    <div class="text-right">
                        <h4 class="no-m m-t-sm">Subtotal</h4>
                        <h2 class="no-m">$7282</h2>
                        <hr>
                        <h4 class="no-m m-t-sm">Shipping</h4>
                        <h2 class="no-m">$240</h2>
                        <hr>
                        <h4 class="no-m m-t-md text-success">Total</h4>
                        <h1 class="no-m text-success">$7522</h1>
                        <hr>
                        <button class="btn btn-primary">
                            Submit your invoice</button>
                    </div>
                </div>*@
        </div>
        <!--row-->
    </div>
</div>



<div class="col-md-3">
    <a href="#" class="faq-link">
        <div class="panel panel-purple">
            <div class="panel-body">
                <h2 class="no-m ">Total Amount&nbsp;&nbsp;
                   <span style="text-align: right">$11422.24</span> </h2>
            </div>
        </div>
    </a>
    <a href="#" class="faq-link">
        <div class="panel panel-blue">
            <div class="panel-body">
                <h2 class="no-m m-b-md">Total Received&nbsp;&nbsp;
                     <span style="text-align: right">$8000</span></h2>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <h4 class="no-m " style="font-weight: 100">Amount Received : $5000 (03-May-2016)</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4 class="no-m " style="font-weight: 100">Amount Received : $3000 (05-May-2016)</h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </a>
    <a href="#" class="faq-link">
        <div class="panel panel-red">
            <div class="panel-body">
                <h2 class="no-m ">Total Receivable
                     <span style="text-align: right">$3422</span></h2>
            </div>
        </div>
    </a>
    <a href="#" class="faq-link">
        <div class="panel panel-green">
            <div class="panel-body">
                <h2 class="no-m ">Day's To Travel &nbsp;
                     <span style="text-align: right">9</span></h2>

            </div>
        </div>
    </a>
</div>

<div class="modal fade modify-colum-model" id="TotalRecievedMOdel" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <button type="button" class="close-btn" data-dismiss="modal">Close</button>
            <div class="modal-header">
                @*<h4 class="modal-title">Total Received Entry</h4>*@
                <h4 class="label label-info">Total Received Entry</h4>

            </div>
            <div class="modal-body custom-model-body">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table id="example-editable" class="display table" style="width: 100%; cellspacing: 0;">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Amount Received</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Amount Received</th>
                                    <th>Date</th>
                            </tfoot>
                            <tbody>
                                @* <tr>
                                <th></th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <input type="text" />
                                </th>
                            </tr>*@
                                <tr>
                                    <td>1</td>
                                    <td><span>$200 </span></td>
                                    <td><span>10-02-2016</span></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td><span>$200 </span></td>
                                    <td><span>10-04-2016</span></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                @* <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-success">SAVE</button>
                        <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                            UPDATE</button>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>
