@{
    ViewBag.Title = "Invoice";
    
    
}


<style>
    

    .utilitis-drop li a {
        background-color: #22baa0;
        padding: 5px;
    }
    .horizontal-bar {
        display:none;
    }
    .navbar {
        display:none;
    }
    .page-title {
        display: none;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
    .panel-white {
    background: #fff none repeat scroll 0 0;
}
.panel {
    border: 0 none !important;
    border-radius: 0;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
}
</style>

<div class="invoice col-md-9">
    <div class="panel panel-white">

        <div class="panel-body">
            <div class="row">
            </div>
            <div class="row">
                <div class="col-md-8">
                    <img src="/assets/images/techpure-small.png" width="230" />
                    <address>
                        647, North Circular Road, London NW2 7AY,
                        <br />
                        UK - 11000,
                        @*<br />*@
                      
                        Phone: 44 (0) 20 7993 9033,
                                         
                    </address>

                </div>
                <div class="col-md-4 text-right">
                    <h1>INVOICE</h1>
                    <h5 class="bottom-padding-3">Invoice Date: <span class="label label-dodgerblue font-full">13-May-2016</span></h5>
                    <h5 class="bottom-padding-3">Invoice No: <span class="label label-dodgerblue font-full">#0000012121</span></h5>
                    <h5 class="bottom-padding-3">Currency: <span class="label label-dodgerblue font-full">USD</span></h5>
                </div>

                <div class="col-md-12">
                    <div class="col-md-4">
                        <div>Payment term: <span class="label label-primary font-full">Bank Transfer</span></div>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div class="row" style="float: right;">
                            <button type="button" class="btn btn-default"><span class="fa fa-print"></span>&nbsp;&nbsp;Print</button>
                            <button type="button" class="btn btn-default"><span class="fa fa-envelope-o"></span>&nbsp;&nbsp;Email</button>
                        </div>
                    </div>
                </div>


                <div class="col-md-12">
                    <hr>
                    <div class="col-md-4">
                        <p>
                            <span class="label label-primary">Invoice To</span>
                            <br />
                            Travelz Unlimited.<br />
                            297, Rattanathibet Road,<br />
                            Tambol-Bangkrasor Amphur Muang Nonthabur,<br />
                            Thailand - 11000.
                        </p>
                    </div>
                  
                  
                </div>
                <div class="col-md-12">
                    <table class="table table-striped">
                      <thead>
                            <tr>
                                <th>#
                                </th>
                                <th>Items
                                </th>
                                <th>Description
                                </th>
                                <th># Of Users
                                </th>
                                <th style="text-align: center">Amount</th>
                                <th style="text-align: right">Total
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="vertical-align:top !important">1
                                </td>
                                <td style="vertical-align:top !important">Subcription
                                </td>
                                <td><span class="highlight-invoice-word">Plan Name</span>- abc<br />
                                    <span class="highlight-invoice-word">Plan Type</span>- Regular <br />
                                    <span class="highlight-invoice-word">% Share Of Revenue</span>- 50% <br />
                                    <span class="highlight-invoice-word">Subcription From Date</span>- 10-05-2016<br />
                                    <span class="highlight-invoice-word">Subcription To Date</span>- 10-10-2016<br />
                                    <span class="highlight-invoice-word">Billing Cycle</span>- Monthly<br />
                                    <span class="highlight-invoice-word">Payment Currency</span>- GBP<br />
                                    <span class="highlight-invoice-word">Payment Mode</span>- Bank Transfer<br />
                                    <span class="highlight-invoice-word">First Payment Date</span>- 10-05-2016<br />
                                 
                                </td>
                                <td style="vertical-align:top !important">
                                    <span class="label label-info">10</span>
                                </td>
                                <td style="text-align: right;vertical-align:top !important">
                                    <span class="label label-success ">700 GBP Per User Per Month</span>
                                </td>
                                <td style="text-align: right;vertical-align:top !important">
                                    <span class="label label-success ">7000 GBP</span>
                                </td>
                            </tr>
                                                   
                         <tr>
                                <td style="vertical-align:top !important">2
                                </td>
                                <td style="vertical-align:top !important">Hosting (Cloud)
                                </td>
                                <td><span class="highlight-invoice-word">Cloud Provider</span>- Agile<br />
                                    <span class="highlight-invoice-word">Cloud Server IP</span>- 168.192.1.1<br />
                                    <span class="highlight-invoice-word">Cloud Disk Space</span>- 50 GB <br />
                                    <span class="highlight-invoice-word">IP Restricted Access</span>- 168.192.1.2<br />
                                    <span class="highlight-invoice-word">Subcription From Date</span>- 10-05-2016<br />
                                    <span class="highlight-invoice-word">Subcription To Date</span>- 10-10-2016<br />
                                   
                                 
                                </td>
                                <td style="vertical-align:top !important">
                                    
                                </td>
                                <td style="text-align: right;vertical-align:top !important">
                                   
                                </td>
                                <td style="text-align: right;vertical-align:top !important">
                                    <span class="label label-success ">500 GBP Per Month</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top !important">3
                                </td>
                                <td style="vertical-align:top !important">Hosting (CDN)
                                </td>
                                <td><span class="highlight-invoice-word">CDN Provider</span>- Agile<br />
                                    <span class="highlight-invoice-word">CDN Space</span>- 30 GB <br />
                                   <span class="highlight-invoice-word">Subcription From Date</span>- 10-05-2016<br />
                                    <span class="highlight-invoice-word">Subcription To Date</span>- 10-10-2016<br />
                                 
                                </td>
                                <td style="vertical-align:top !important">
                                  
                                </td>
                                <td style="text-align: right;vertical-align:top !important">
                                    
                                </td>
                                <td style="text-align: right;vertical-align:top !important">
                                    <span class="label label-success ">300 GBP Per Month</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top !important">4
                                </td>
                                <td style="vertical-align:top !important">Support
                                </td>
                                <td><span class="highlight-invoice-word">Support Mode</span>- Email<br />
                                    <span class="highlight-invoice-word">Free Support Period</span>- 10 Days <br />
                                   <span class="highlight-invoice-word">Subcription From Date</span>- 10-05-2016<br />
                                    <span class="highlight-invoice-word">Subcription To Date</span>- 10-10-2016<br />
                                 
                                </td>
                                <td style="vertical-align:top !important">
                                   
                                </td>
                                <td style="text-align: right;vertical-align:top !important">
                                 
                                </td>
                                <td style="text-align: right;vertical-align:top !important">
                                    <span class="label label-success ">600 GBP Per Month</span>
                                </td>
                            </tr>
                        </tbody>
                     
                    </table>
                    <hr style="margin-bottom: 7px; margin-top: 0px;">
                </div>
                <div class="col-md-12">
                    <div class="col-md-8">
                        <h3 style="margin-bottom: 7px; margin-top: 0px;"><span class="label label-success ">Terms & Conditions</span></h3>
                        <ul class="custom-list" style="padding-left: 20px;">
                            <li><span class="fa fa-tags"></span>&nbsp;Booking Once Reconfirmed we shall make payments to the hotels as per their payment policy. </li>
                            <li><span class="fa fa-tags"></span>&nbsp;In case of no show or late cancellation after reconfirmation charges applicable as per the Hotels Policy and other vendors policy. </li>
                        </ul>
                        <h3 style="margin-bottom: 7px; margin-top: 0px;"><span class="label label-success ">Notes</span></h3>
                        <ul class="custom-list" style="padding-left: 20px;">
                            <li><span class="fa fa-tags"></span>&nbsp;Exchange Rate Used is 35.19 THB per USD. In case any change in the same difference in the cost will be applicable.</li>
                            <li><span class="fa fa-tags"></span>&nbsp;Only Adults are considered to determine the size of the group. Children will not be considered for the same.</li>
                        </ul>
                    </div>
                    <div class="col-md-4" style="padding-right: 0; text-align: right">

                        <div class="row" style="margin-bottom: 7px; font-size: 16px">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-6" style="text-align: right">
                                <span class="label label-primary">Total Price Per Month</span>
                            </div>
                            <div class="col-md-4" style="text-align: right">
                                <span class="label label-primary">8400 GBP</span>
                            </div>

                        </div>
                      
                        <div class="row" style="margin-bottom: 7px; font-size: 16px">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-6" style="text-align: right">
                                <span class="label label-success " style="margin-bottom: 12px;">Discount  Per Month</span>
                            </div>
                            <div class="col-md-4" style="text-align: right">
                                <span class="label label-success " style="margin-bottom: 12px;">1000 GBP</span>
                            </div>

                        </div>

                        <div class="row" style="margin-bottom: 7px; font-size: 16px">
                            <hr style="margin-bottom: 3px; margin-top: 2px;" />
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-6" style="text-align: right">
                                <span class="label label-danger" style="margin-bottom: 12px;">Total  Amount Per Month</span>
                            </div>
                            <div class="col-md-4" style="text-align: right">
                                <span class="label label-danger" style="margin-bottom: 12px;">7400 GBP</span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-12">
                    <div class="col-md-8">
                        <h3><span class="label label-success ">Techpure Limited Bank Details</span></h3>
                        <div class="row">
                            <div class="col-md-12" style="margin-bottom: 5px">
                                <div class="row">
                                    <div class="col-md-3">
                                        Account #
                                    </div>
                                    <div class="col-md-4">
                                        01781000009320 
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Account Name 
                                    </div>
                                    <div class="col-md-2">
                                        Saving
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Bank Name
                                    </div>
                                    <div class="col-md-4">
                                        Metro Bank
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Bank Branch  
                                    </div>
                                    <div class="col-md-2">
                                        London
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Bank Address 
                                    </div>
                                    <div class="col-md-4">
                                        North Circular Road, London 
                                    </div>



                                </div>



                                <div class="row">
                                    <div class="col-md-3">
                                        Swift Code  
                                    </div>
                                    <div class="col-md-2">
                                        Chh000000
                                    </div>


                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-8" style="float: right">
                                    <img src="~/assets/images/gallery/Signature.png" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8" style="text-align: center; float: right">
                                    Tammy James
                                    </br>
                                    Director
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
         
        </div>
        <!--row-->
    </div>
</div>

@section scripts{
    <script>

    $(document).ready(function () {

        //$("#changemenudiv").css("display","none")
    });
        </script>
}
