@model IEnumerable<GreenTravel.Models.Grid>


@foreach (var item in Model)
{
    foreach (var itemHeader in item.GridHearder)
    {
    <li>
        <figure>
            <figcaption class="panel-body tab-itenaries">

                <div class="myDiv">
                    <h3 style="margin-top: 0; text-align: center;">
                        <label style="display: none" id="lbheadingName">@Html.DisplayFor(modelItem => itemHeader.SrNo) </label>

                    </h3>
                </div>

                <h3 style="margin-top: 0; text-align: center;">
                    <label id="lbheading">@Html.DisplayFor(modelItem => itemHeader.xname) </label>
                </h3>



                <table class="table sampletable" style="margin-bottom: 0;">
                    <tbody>
                        @foreach (var itemColumn in item.GridColumn.Where(m => m.xlink == itemHeader.SrNo))
                        {
                            <tr>
                                <td>
                                    @itemColumn.xname
                                </td>
                                <td>
                                    <input id="@itemColumn.SrNo" type="checkbox" >
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </figcaption>
        </figure>
    </li>
    }
}



