@model IEnumerable<GreenTravel.Models.Grid>


@foreach (var item in Model)
{
    foreach (var itemHeader in item.GridHearder)
    {
    <li>
        <figure>
            <figcaption class="panel-body tab-itenaries">

                <h3 style="margin-top: 0; text-align: center;">
                    @Html.DisplayFor(modelItem => itemHeader.xname)

                </h3>
                <table class="table" style="margin-bottom: 0;">
                    <tbody>
                        @foreach (var itemColumn in item.GridColumn.Where(m => m.xlink == itemHeader.SrNo))
                        {
                            <tr>

                                <td>

                                    @Html.DisplayFor(modelItem => (itemColumn.xname))
                                </td>
                                <td>
                                    <input type="checkbox" /></td>


                            </tr>
                        }
                    </tbody>
                </table>
            </figcaption>
        </figure>
    </li>
    }
}



