@model List<GreenTravel.Models.GridHearder>

@*<link href="~/Content/TableCSSCode1.css" rel="stylesheet" />*@
<div class="CSSTableGenerator">

    
    Test
    @for (int i = 0; i < Model.Count(); i++)
    {
        
        <li>
            <figure>
                <figcaption class="panel-body tab-itenaries">
                    <h3 style="margin-top: 0; text-align: center;"> </h3>
                    <table class="table" style="margin-bottom: 0;">
                        <tbody>
                            <tr>
                                <td>Task</td>
                                <td>
                                    <input type="checkbox" /></td>
                            </tr>
                        </tbody>
                    </table>
                </figcaption>
            </figure>
        </li> 
            
            
            
        
@*<tr>
                <td>
                    @Model[i].CustomerID
                </td>
                <td>
                    @Model[i].Customername
                </td>
                <td>
                    @Model[i].CustomerAddress
                </td>
            </tr>*@
  
    }


    @* </table>*@
</div>
