@using (Html.BeginForm())
{
    <div class="col-md-12 form-detail">
        <div class="panel panel-white">
            <div class="panel-body">
                <div role="tabpanel">
                    <form>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Corporate<span> *</span> </label>
                <select id="drpCorporate" class="js-states form-control drpCorporate req" style="display: none; width: 100%">
                    <option>--Select Corporate--</option>
                    <option selected="selected">Techpure LTD</option>
                    <option>Flamingo</option>
                    <option>Travels Unlimited</option>
                </select>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label>Feature Category </label>
                <select id="drpFeatureCategory" class="js-states  form-control drpFeatureCategory " style="display: none; width: 100%">
                    <option>--Select Feature Category--</option>
                    <option>Common</option>
                    <option selected="selected">Manage Enterprise</option>
                    <option>Manage Corporate</option>
                    <option>Manage Agent</option>
                    <option>Manage Supplier</option>
                    <option>Manage Supplier Pricelist</option>
                </select>

                <input type="text" class="form-control" style="display: none" id="txtSrNo" value="0" readonly="true">
            </div>
        </div>

    </div>


    <div class="row">
        <div class="row grid">
            <div class="form-group">
                <div class="col-md-3 grid-item">
                    <div class="panel panel-white ">
                        <div class="panel-body tab-itenaries">
                            <div class="myDiv">
                                <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                    <label style="display: none" id="lbheadingName"></label>
                                </h3>
                            </div>
                            <h3 style="margin-top: 0; text-align: center;">
                                <label id="lbheading">Common</label></h3>

                            <table class="table sampletable" style="margin-bottom: 0;">

                                <tbody>
                                    <tr>
                                        <td>Dashboard</td>
                                        <td>
                                            <input type="checkbox"></td>
                                    </tr>
                                    <tr>
                                        <td>Manage Master</td>
                                        <td>
                                            <input type="checkbox"></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 grid-item">
                    <div class="panel panel-white ">
                        <div class="panel-body tab-itenaries">
                            <div class="myDiv">
                                <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                    <label style="display: none" id="lbheadingName"></label>
                                </h3>
                            </div>
                            <h3 style="margin-top: 0; text-align: center;">
                                <label id="lbheading">WhiteLabel</label></h3>

                            <table class="table sampletable" style="margin-bottom: 0;">

                                <tbody>
                                    <tr>
                                        <td>Manage Corporate</td>
                                        <td>
                                            <input type="checkbox"></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 grid-item">
                    <div class="panel panel-white ">
                        <div class="panel-body tab-itenaries">
                            <div class="myDiv">
                                <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                    <label style="display: none" id="lbheadingName"></label>
                                </h3>
                            </div>
                            <h3 style="margin-top: 0; text-align: center;">
                                <label id="lbheading">Authentication & Authorization</label></h3>

                            <table class="table sampletable" style="margin-bottom: 0;">

                                <tbody>
                                    <tr>
                                        <td>Authentication</td>
                                        <td>
                                            <input type="checkbox"></td>
                                    </tr>
                                    <tr>
                                        <td>Role</td>
                                        <td>
                                            <input type="checkbox"></td>
                                    </tr>
                                    <tr>
                                        <td>Authorization</td>
                                        <td>
                                            <input type="checkbox"></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 grid-item">
                    <div class="panel panel-white ">
                        <div class="panel-body tab-itenaries">
                            <div class="myDiv">
                                <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                    <label style="display: none" id="lbheadingName"></label>
                                </h3>
                            </div>
                            <h3 style="margin-top: 0; text-align: center;">
                                <label id="lbheading">Manage Agent</label></h3>

                            <table class="table sampletable" style="margin-bottom: 0;">

                                <tbody>
                                    <tr>
                                        <td>Manage Agent</td>
                                        <td>
                                            <input type="checkbox"></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 grid-item">
                    <div class="panel panel-white ">
                        <div class="panel-body tab-itenaries">
                            <div class="myDiv">
                                <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                    <label style="display: none" id="lbheadingName"></label>
                                </h3>
                            </div>
                            <h3 style="margin-top: 0; text-align: center;">
                                <label id="lbheading">Manage Supplier</label></h3>

                            <table class="table sampletable" style="margin-bottom: 0;">

                                <tbody>
                                    <tr>
                                        <td>Manage supplier</td>
                                        <td>
                                            <input type="checkbox"></td>
                                    </tr>
                                    <tr>
                                        <td>Supplier Master Data</td>
                                        <td>
                                            <input type="checkbox"></td>
                                    </tr>
                                    <tr>
                                        <td>Additional Service</td>
                                        <td>
                                            <input type="checkbox"></td>
                                    </tr>
                                    <tr>
                                        <td>Media Management</td>
                                        <td>
                                            <input type="checkbox"></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 grid-item">
                    <div class="panel panel-white ">
                        <div class="panel-body tab-itenaries">
                            <div class="myDiv">
                                <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                    <label style="display: none" id="lbheadingName"></label>
                                </h3>
                            </div>
                            <h3 style="margin-top: 0; text-align: center;">
                                <label id="lbheading">Manage Supplier Pricelist</label></h3>

                            <table class="table sampletable" style="margin-bottom: 0;">

                                <tbody>
                                    <tr>
                                        <td>Hotel Pricelist</td>
                                        <td>
                                            <input type="checkbox"></td>
                                    </tr>
                                    <tr>
                                        <td>Hotel Function Room Pricelist</td>
                                        <td>
                                            <input type="checkbox"></td>
                                    </tr>
                                    <tr>
                                        <td>Hotel Gala Dinner Pricelist</td>
                                        <td>
                                            <input type="checkbox"></td>
                                    </tr>
                                    <tr>
                                        <td>Sightseeing Pricelist</td>
                                        <td>
                                            <input type="checkbox"></td>
                                    </tr>
                                    <tr>
                                        <td>Restaurant Pricelist</td>
                                        <td>
                                            <input type="checkbox"></td>
                                    </tr>
                                    <tr>
                                        <td>Transportation Pricelist</td>
                                        <td>
                                            <input type="checkbox"></td>
                                    </tr>
                                    <tr>
                                        <td>Guide Pricelist</td>
                                        <td>
                                            <input type="checkbox"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <br />
            <button id="btnSavepassword" type="submit" class="btn btn-success btnsavepasswordauth">
                SAVE</button>
            <button id="btnUpdatepassword" type="submit" class="btn btn-primary btnsavepasswordauth">
                UPDATE</button>
            <button id="btnCancelpassword" type="button" class="btn btn-green">
                DELETE</button>
            <button id="btnclearpassword" type="button" class="btn btn-warning">
                CLEAR</button>
            <button id="btnquitpassword" type="button" class="btn btn-info">
                QUIT FORM</button>
            <a class="btn btn-refresh" rel="tooltip" title="Refresh Page" aria-expanded="false" onclick="window.location.href=window.location.href;">
                <span class="fa fa-refresh"></span>
            </a>
        </div>
    </div>

</form>

                   @* <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                        <li role="presentation" class="active" id="SearchMaster"><a href="#tab1" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord"><span class="menu-icon fa fa-book"></span>&nbsp;&nbsp;&nbsp;&nbsp;Step 1 </a></li>
                        <li role="presentation" id="CreateMaster"><a href="#tab2" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord"><span class="menu-icon fa fa-book"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tab-name">Step 2</span></a></li>
                    </ul>
                    <!-- Nav tabs -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab1">
                            @Html.Partial("_Form1WhitelabelStep2")
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab2">
                            <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                                <li role="presentation" class="active" id=""><a href="#searchstep2" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Search Step 2 </a></li>
                                <li role="presentation" id=""><a href="#createstep2" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord"><span class="menu-icon fa fa-book"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tab-name">Create Step 2</span></a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="searchstep2">
                                    @Html.Partial("_SearchStep2")
                                </div>
                                <div role="tabpanel" class="tab-pane" id="createstep2">
                                    @Html.Partial("_Form2WhitelabelStep2")
                                </div>
                            </div>

                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
}