<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <form>
                        <div class="form-group">
                            <label data-toggle="tooltip" data-placement="right" title="Industry">Corporate</label>
                            <select id="drpIndustry" class="js-states form-control Dropdown" tabindex="-1" style="display: none; width: 100%">
                            </select>
                        </div>

                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Modules</label>
                            <div class="cf nestable-lists1">
                                <ul class="ui-sortable sortable-list">
                                    <li class="ui-state-default">Dashboard</li>
                                    <li class="ui-state-default">Whitelabel</li>
                                    <li class="ui-state-default">Settings</li>
                                    <li class="ui-state-default">Masters</li>
                                    <li class="ui-state-default active">User</li>
                                </ul>
                            </div>
                            <br />
                            <button class="btn btn-success">Update Sequence</button>
                        </div>
                        <div class="col-md-6">
                            <label>Screens</label>
                            <div class="cf nestable-lists2">
                                <ul class="ui-sortable sortable-list">
                                    <li class="ui-state-default">Manage User</li>
                                    <li class="ui-state-default">Manage Role</li>
                                    <li class="ui-state-default">User Authentication</li>
                                    <li class="ui-state-default">Authorization Policy Master</li>
                                    <li class="ui-state-default">User Authorization</li>
                                </ul>
                                @*<ol class="sortable sortable2" id="parent2">
                                    <li>
                                        <div><span class=""><span></span></span>Manage User</div>
                                    </li>
                                    <li>
                                        <div><span class=""><span></span></span>Manage Role</div>
                                    </li>
                                    <li id="list_4">
                                        <div><span class=""><span></span></span>User Authentication</div>
                                    </li>
                                    <li id="list_5">
                                        <div><span class="disclose"><span></span></span>Authorization Policy Master</div>
                                    </li>
                                    <li id="list_9">
                                        <div><span class="disclose"><span></span></span>User Authorization</div>
                                    </li>
                                </ol>*@
                            </div>
                            <br />
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>