@{
    ViewBag.Title = "Index";
    ViewBag.Title = "White Label Step-2";
    ViewBag.PageTitle = "White Label Step-2";
}


<link href="/assets/plugins/gridgallery/css/component.css" rel="stylesheet" type="text/css" />
<style>
    .tab-itenaries > .col-md-1 > h4,
    .tab-itenaries .col-md-2 > h4,
    .tab-itenaries .col-md-3 > h4,
    .tab-itenaries .col-md-4 > h4,
    .tab-itenaries .col-md-5 > h4,
    .tab-itenaries > .col-md-6 > h4,
    .tab-itenaries .col-md-7 > h4,
    .tab-itenaries .col-md-8 > h4,
    .tab-itenaries .col-md-9 > h4,
    .m-b-lg > h4 {
        border-bottom: 1px dotted #ccc;
        color: #40474f;
        font-size: 22px;
        font-weight: normal;
        margin: 7px 0 10px;
        padding-bottom: 5px;
    }

    .tab-itenaries .col-md-1 > h5,
    .tab-itenaries .col-md-2 > h5,
    .tab-itenaries .col-md-3 > h5,
    .tab-itenaries .col-md-4 > h5,
    .tab-itenaries .col-md-5 > h5,
    .tab-itenaries .col-md-6 > h5,
    .tab-itenaries .col-md-7 > h5,
    .tab-itenaries .col-md-8 > h5,
    .tab-itenaries .col-md-9 > h5,
    .m-b-lg > h5 {
        /*color: #40474f;*/
        font-size: 19px;
        font-weight: bold;
        margin: 0 0 10px;
        padding-bottom: 5px;
        border-bottom: 1px dotted;
        text-shadow: 1px 0px #BEC8D2;
    }

        .tab-itenaries .col-md-1 > h5 > span,
        .tab-itenaries .col-md-2 > h5 > span,
        .tab-itenaries .col-md-3 > h5 > span,
        .tab-itenaries .col-md-4 > h5 > span,
        .tab-itenaries .col-md-5 > h5 > span,
        .tab-itenaries .col-md-6 > h5 > span,
        .tab-itenaries .col-md-7 > h5 > span,
        .tab-itenaries .col-md-8 > h5 > span,
        .tab-itenaries .col-md-9 > h5 > span,
        .m-b-lg > h5 > span {
            float: right;
        }

    .tab-itenaries a > span {
        font-weight: bold;
        font-size: 14px;
    }

    /*.tab-itenaries span {
        font-weight: bold;
        font-size: 14px;
        text-shadow: 1px 0 #BEC8D2;
    }*/

    .tab-itenaries {
        padding-bottom: 10px;
        border: 1px double #BEC8D2 !important;
        border-radius: 5px !important;
        box-shadow: 3px 3px 7px -5px rgba(0, 0, 0, 0.5);
        /*margin-bottom: 15px;*/
    }

        .tab-itenaries .form-control {
            border-width: 0;
            padding: 3px 10px !important;
        }

            .tab-itenaries .form-control .btn, .tab-itenaries .form-control .label {
                width: 100%;
            }

            .tab-itenaries .form-control h2 {
                margin-bottom: 0;
                margin-top: 0;
            }

        .tab-itenaries .right-border {
            border-right: 1px dotted #f25656;
            min-height: 156px;
            padding-left: 25px;
        }

        .tab-itenaries .form-control .btn {
            padding: 8px 10px;
            font-size: 13px;
            text-transform: uppercase;
        }

        .tab-itenaries span.total-cost {
            font-size: 11px;
        }

        .tab-itenaries .table > tbody > tr:first-child > td {
            border-width: 0;
        }

        .tab-itenaries .table > tbody > tr > td:first-child {
            width: 60%;
        }

        .tab-itenaries .table > tbody > tr > td:last-child {
            text-align: right;
            width: 40%;
        }

        .tab-itenaries .table > tbody > tr > td {
            font-size: 11px;
            padding: 7px !important;
        }

    .grid figcaption {
        background: #fff none repeat scroll 0 0;
        padding: 25px;
    }

    .grid li:hover figure {
        opacity: 1;
    }

    .grid li {
        cursor: default;
    }

    figcaption > h3 {
        border-bottom: 1px dashed #3c3c3c !important;
    }
</style>

@using (Html.BeginForm())
{
    <div class="col-md-12 form-detail">
        <div class="panel panel-white">
            <div class="panel-body">
                <div role="tabpanel">
                    <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                        <li role="presentation" class="active" id="SearchMaster"><a href="#tab1" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord"><span class="menu-icon fa fa-book"></span>&nbsp;&nbsp;&nbsp;&nbsp;Step 1 </a></li>
                        <li role="presentation" id="CreateMaster"><a href="#tab2" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord"><span class="menu-icon fa fa-book"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tab-name">Step 2</span></a></li>
                    </ul>
                    <!-- Nav tabs -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab1">
                            <form>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Corporate<span> *</span> </label>
                                            <select id="drpCorporate" class="js-states form-control drpCorporate req" style="display: none; width: 100%">
                                                <option>--Select Corporate--</option>
                                                <option>Flamingo</option>
                                                <option>Travels Unlimited</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Feature Category </label>
                                            <select id="drpFeatureCategory" class="js-states  form-control drpFeatureCategory " style="display: none; width: 100%">
                                                <option>--Select Feature Category--</option>
                                                <option>Feature Category 1</option>
                                                <option>Feature Category 2</option>
                                            </select>

                                            <input type="text" class="form-control" style="display: none" id="txtSrNo" value="0" readonly="true">
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div id="grid-gallery" class="grid-gallery">
                                        <section class="grid-wrap">

                                            <ul class="grid">
                                                <li class="grid-sizer"></li>
                                                <div id="partial">
                                                    <li>
                                                        <figure>
                                                            <figcaption class="panel-body tab-itenaries">
                                                                <div class="myDiv">
                                                                    <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                                                        <label style="display: none" id="lbheadingName"></label>
                                                                    </h3>
                                                                </div>
                                                                <h3 style="margin-top: 0; text-align: center;">
                                                                    <label id="lbheading">Group 1</label></h3>

                                                                <table class="table sampletable" style="margin-bottom: 0;">

                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Feature 1</td>
                                                                            <td>
                                                                                <input type="checkbox"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Feature 2</td>
                                                                            <td>
                                                                                <input type="checkbox"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Feature 3</td>
                                                                            <td>
                                                                                <input type="checkbox"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Feature 4</td>
                                                                            <td>
                                                                                <input type="checkbox"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </figcaption>
                                                        </figure>
                                                    </li>

                                                    <li>
                                                        <figure>
                                                            <figcaption class="panel-body tab-itenaries">
                                                                <div class="myDiv">
                                                                    <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                                                        <label style="display: none" id="lbheadingName"></label>
                                                                    </h3>
                                                                </div>
                                                                <h3 style="margin-top: 0; text-align: center;">
                                                                    <label id="lbheading">Group 2</label></h3>

                                                                <table class="table sampletable" style="margin-bottom: 0;">

                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Feature 4</td>
                                                                            <td>
                                                                                <input type="checkbox"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Feature 5</td>
                                                                            <td>
                                                                                <input type="checkbox"></td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                            </figcaption>
                                                        </figure>
                                                    </li>

                                                    <li>
                                                        <figure>
                                                            <figcaption class="panel-body tab-itenaries">
                                                                <div class="myDiv">
                                                                    <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                                                        <label style="display: none" id="lbheadingName"></label>
                                                                    </h3>
                                                                </div>
                                                                <h3 style="margin-top: 0; text-align: center;">
                                                                    <label id="lbheading">Group 3</label></h3>

                                                                <table class="table sampletable" style="margin-bottom: 0;">

                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Feature 6</td>
                                                                            <td>
                                                                                <input type="checkbox"></td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td>Feature 7</td>
                                                                            <td>
                                                                                <input type="checkbox"></td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                            </figcaption>
                                                        </figure>
                                                    </li>
                                                    <li>
                                                        <figure>
                                                            <figcaption class="panel-body tab-itenaries">
                                                                <div class="myDiv">
                                                                    <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                                                        <label style="display: none" id="lbheadingName"></label>
                                                                    </h3>
                                                                </div>
                                                                <h3 style="margin-top: 0; text-align: center;">
                                                                    <label id="lbheading">Group 4</label></h3>

                                                                <table class="table sampletable" style="margin-bottom: 0;">

                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Feature 8</td>
                                                                            <td>
                                                                                <input type="checkbox"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Feature 9</td>
                                                                            <td>
                                                                                <input type="checkbox"></td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                            </figcaption>
                                                        </figure>
                                                    </li>


                                                </div>
                                            </ul>

                                        </section>
                                        <section class="slideshow">

                                            <ul>
                                                <li></li>
                                            </ul>
                                        </section>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <br />
                                        <button id="btnSavepassword" type="submit" class="btn btn-success btnsavepasswordauth">
                                            SAVE</button>
                                        <button id="btnUpdatepassword" type="submit" class="btn btn-primary btnsavepasswordauth">
                                            UPDATE</button>
                                        <button id="btnCancelpassword" type="button" class="btn btn-green">
                                            DELETE</button>
                                        <button id="btnclearpassword" type="button" class="btn btn-warning">
                                            CLEAR</button>
                                        <button id="btnquitpassword" type="button" class="btn btn-info">
                                            QUIT FORM</button>
                                        <a class="btn btn-refresh" rel="tooltip" title="Refresh Page" aria-expanded="false" onclick="window.location.href=window.location.href;">
                                            <span class="fa fa-refresh"></span>
                                        </a>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab2">
                            <form>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Corporate</label>
                                            <select id="drpCorporatestep2" class="js-states form-control drpCorporate req" style="display: none; width: 100%">
                                                <option>--Select Corporate--</option>
                                                <option>Flamingo</option>
                                                <option>Travels Unlimited</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Feature Category</label>
                                            <select id="drpFeatureCategorystep2" class="js-states  form-control drpFeatureCategory " style="display: none; width: 100%">
                                                <option>--Select Feature Category--</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Group</label>
                                            <select id="drpGroupstep2" class="js-states  form-control drpFeatureCategory " style="display: none; width: 100%">
                                                <option>--Select Group--</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Feature</label>
                                            <select id="drpFeaturestep2" class="js-states  form-control drpFeatureCategory " style="display: none; width: 100%">
                                                <option>--Select Feature--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">

                                            <label>Sales Workflow</label>
                                            <select id="drpSalestep2" class="js-states  form-control  " style="display: none; width: 100%">
                                                <option>--Select Sales Workflow--</option>
                                                <option>Direct </option>
                                                <option>Indirect </option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Entity Legality</label>
                                            <select id="drpEntityLegalitytep2" class="js-states  form-control  " style="display: none; width: 100%">
                                                <option>--Select Entity Legality--</option>

                                                <option>Limited Liability Company </option>
                                                <option>Partnership </option>
                                                <option>Proprietorship </option>
                                                <option>Trust </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Currency</label>
                                            <select id="drpEntityLegalitytep2" class="js-states  form-control  " style="display: none; width: 100%">
                                                <option>Live</option>
                                                <option>Static</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control col-sm-5 textbox-control" id="txtsrno" placeholder="SrNo" style="display: none" data-label="lblFirstName">
                                            <label for="txtFirstName">Ficial Year <span></span></label>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control col-sm-6 textbox-control " id="txtFirstName" placeholder="From Year" data-label="lblFirstName">
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control col-sm-6 textbox-control " id="txtLastName" placeholder="To Year" data-label="lblLastName">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <br />
                                    <button id="btnSavepassword" type="submit" class="btn btn-success btnsavepasswordauth">
                                        SAVE</button>
                                    <button id="btnUpdatepassword" type="submit" class="btn btn-primary btnsavepasswordauth">
                                        UPDATE</button>
                                    <button id="btnCancelpassword" type="button" class="btn btn-green">
                                        DELETE</button>
                                    <button id="btnclearpassword" type="button" class="btn btn-warning">
                                        CLEAR</button>
                                    <button id="btnquitpassword" type="button" class="btn btn-info">
                                        QUIT FORM</button>
                                    <a class="btn btn-refresh" rel="tooltip" title="Refresh Page" aria-expanded="false" onclick="window.location.href=window.location.href;">
                                        <span class="fa fa-refresh"></span>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script src="/assets/plugins/gridgallery/js/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/plugins/gridgallery/js/masonry.pkgd.min.js"></script>
    <script src="/assets/plugins/gridgallery/js/classie.js"></script>
    <script src="/assets/plugins/gridgallery/js/cbpgridgallery.js"></script>
    <script src="/assets/js/pages/gallery.js"></script>

    <script src="~/Scripts/JS/Page/WhitelabelStep2.js"></script>


}
