@{
    ViewBag.Title = "Index";
    ViewBag.Title = "White Label Step-2";
    ViewBag.PageTitle = "White Label Step-2";
}


<link href="/assets/plugins/gridgallery/css/component.css" rel="stylesheet" type="text/css" />

<link href="~/Content/WhiteStep2/WhiteStep2.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    <div class="col-md-12 form-detail">
        <div class="panel panel-white">
            <div class="panel-body">
                <div role="tabpanel">
                    <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                        <li role="presentation" class="active" id="SearchMaster"><a href="#tab1" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord"><span class="menu-icon fa fa-book"></span>&nbsp;&nbsp;&nbsp;&nbsp;Step 1 </a></li>
                        <li role="presentation" id="CreateMaster"><a href="#tab2" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord"><span class="menu-icon fa fa-book"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tab-name">Step 2</span></a></li>
                    </ul>
                    <!-- Nav tabs -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab1">
                            @Html.Partial("_Form1WhitelabelStep2")
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab2">
                           @Html.Partial("_Form2WhitelabelStep2")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script src="/assets/plugins/gridgallery/js/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/plugins/gridgallery/js/masonry.pkgd.min.js"></script>
    <script src="/assets/plugins/gridgallery/js/classie.js"></script>
    <script src="/assets/plugins/gridgallery/js/cbpgridgallery.js"></script>
    <script src="/assets/js/pages/gallery.js"></script>

    <script src="~/Scripts/JS/Page/WhitelabelStep2.js"></script>


}
