@{
    ViewBag.Title = "Form Set-Up";
    ViewBag.PageTitle = "Form Set-Up";
}
@{
    if (Session["CreatedBy"] != null)
    { }
    else
    { Response.Redirect(Url.Action("index", "Home")); }
}
<style>
    .modal-lg {
        width: 1075px;
    }

    #tblModalIconCustom td {
        text-align: center;
    }
    .hide_cell {
        display: none;
    }
</style>
<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <ul class="nav nav-tabs form-basic-tab" role="tablist">
                    <li role="presentation" class="active" id="serachfrom"><a href="#tab1" role="tab" data-section="tab1" data-toggle="tab" class="hosting-accord"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Search Form </a></li>
                    <li role="presentation" id="Frmcreate"><a href="#tab3" role="tab" data-section="tab3" data-toggle="tab" class="basic-accord"><span class="menu-icon fa fa-modx "></span>&nbsp;&nbsp;&nbsp;&nbsp;Form Set Up </a></li>
                    <li role="presentation" id="frmtab"><a href="#tab4" role="tab" data-section="tab4" data-toggle="tab" class="basic-accord"><span class="menu-icon fa fa-clone"></span>&nbsp;&nbsp;&nbsp;&nbsp;Form Tab </a></li>
                    <li role="presentation" id="frmsection"><a href="#tab5" role="tab" data-section="tab5" data-toggle="tab" class="basic-accord"><span class="menu-icon fa fa-magic"></span>&nbsp;&nbsp;&nbsp;&nbsp;Form Tab List </a></li>
                </ul>
                <div class="tab-content">
                    
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <form>
                            <div class="table-responsive">
                                <div class="dropdown table-custome-drop">
                                    <div class="btn-group">
                                        <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="glyphicon glyphicon-download-alt"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Excel</a></li>
                                            <li><a href="#">PDF</a></li>
                                            <li><a href="#">Email</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <table id="example1" class="display" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Srno
                                            </th>
                                            <th>Corporate
                                            </th>
                                            <th>Features
                                            </th>
                                            <th>Module
                                            </th>
                                            <th>FormName 
                                            </th>
                                            <th>Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Srno
                                            </th>
                                            <th>Corporate
                                            </th>
                                            <th>Features
                                            </th>
                                            <th>Module 
                                            </th>
                                            <th>FormName
                                            </th>
                                            <th>Action
                                            </th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </form>
                    </div>

                    <div role="tabpanel" class="tab-pane " id="tab3">
                        <form method="post">
                            <h3 class="tab3section1" style="display: none">Form Name - 
                                    <span class="text-danger tab3Formname"></span></h3>
                            <div class="col-md-12">
                                <div class="row" style="display: none">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="txtSrNo1">Sr No</label>
                                            <input type="text" class="form-control inputform" id="txtSrNo1" placeholder="Sr No" readonly="true">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" style="@(Session["Corporate"].ToString() != "0" ? "display: none" : "")">
                                            <label for="drpCorporate1">Corporate <span>*</span></label>
                                            <select id="drpCorporate1"  class="js-states form-control formcorporate req Dropdown" style="display: none; width: 100%">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="drpScreen">Screen <span>*</span></label>
                                            <select id="drpScreen"  class="js-states form-control Dropdown req" style="display: none; width: 100%">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtFormPreFix">Form Pre-Fix <span>*</span></label>
                                            <input type="text" class="form-control inputform req" id="txtFormPreFix" placeholder="Form Pre-Fix">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="txtFormName">Form Name <span>*</span></label>
                                            <input type="text" class="form-control inputform req" id="txtFormName" placeholder="Form Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="txtHeader">Header <span>*</span></label>
                                            <input type="text" class="form-control inputform req" id="txtHeader" placeholder="Header">
                                        </div>
                                        <div class="form-group">
                                            <label for="txtSubHeader">Sub Header</label>
                                            <input type="text" class="form-control inputform" id="txtSubHeader" placeholder="Sub Header">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-12">
                                <br />
                                <button id="btnSavefs" type="submit" class="btn btn-success btnSave">
                                    SAVE</button>
                                <button id="btnUpdateFS" type="submit" class="btn btn-primary btnSave" style="display: none">
                                    UPDATE</button>
                                <button id="btnClearFS" type="button" class="btn btn-warning ">
                                    CLEAR</button>
                                <button id="btnQuitFROmFS" type="button" class="btn btn-info QuitForm">
                                    QUIT FORM</button>
                            </div>
                        </form>
                    </div>

                    <div role="tabpanel" class="tab-pane " id="tab4">
                        <form>

                            <div class="col-md-12">
                                <h3 class="tab3section1">Form Tab - 
                                    <span class="text-danger tab3Formname"></span></h3>
                                <div class="row">
                                    <div class="col-md-12" style="display:block">
                                        <div class="form-group">
                                            <label for="txtSrNo">Sr No</label>
                                            <input type="text" class="form-control inputformTab" id="txtSrNo" placeholder="Sr No" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="display: none">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="drpCorporate">Corporate <span>*</span></label>
                                            <select id="drpCorporatetab" data-reqmsg="Select Corporate" class="js-states form-control formcorporate req " style="display: none; width: 100%">
                                                <option value="1">Corporate 1 </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="drpFormCode">Form Name <span>*</span></label>
                                            <select id="drpFormCode" data-reqmsg="Select Form Name" class="js-states form-control DropdownTab req" style="display: none; width: 100%">
                                                <option value="1">Form Name 1 </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="txtTabNumber">Tab Number <span>*</span></label>
                                            <input type="text" data-reqmsg="Enter Tab Number" class="form-control inputformTab req num" id="txtTabNumber" placeholder="Tab Number">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="txtTabHeader">Tab Header <span>*</span></label>
                                            <input type="text" class="form-control inputformTab req alphbet" data-reqmsg="Enter Tab Header" id="txtTabHeader" placeholder="Tab Header">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="txtTabClass">Tab Class <span>*</span></label>
                                            <input type="text" class="form-control inputformTab req " id="txtTabClass" data-reqmsg="Enter Tab Class" placeholder="Tab Class">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <label for="txtTooltipHelpText">Tooltip Help Text</label>
                                            <input type="text" class="form-control inputformTab" id="txtTooltipHelpText" placeholder="Tooltip Help Text">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="txtTabMainTable">Tab Main Table</label>
                                            <input type="text" class="form-control inputformTab" id="txtTabMainTable" placeholder="Tab Main Table">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <label for="txtTabMainTablePrefix">Tab Main Table Pre-fix</label>
                                            <input type="text" class="form-control inputformTab" id="txtTabMainTablePrefix" placeholder="Tab Main Table Pre-fix">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-ms-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="txtTrxTable1">Trx Table 1</label>
                                                <input type="text" class="form-control inputformTab" id="txtTrxTable1" placeholder="Trx Table 1">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="txtTrxTable2">Trx Table 2</label>
                                                <input type="text" class="form-control inputformTab" id="txtTrxTable2" placeholder="Trx Table 2">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="txtTrxTable3">Trx Table 3</label>
                                                <input type="text" class="form-control inputformTab" id="txtTrxTable3" placeholder="Trx Table 3">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="txtTrxTable4">Trx Table 4</label>
                                                <input type="text" class="form-control inputformTab" id="txtTrxTable4" placeholder="Trx Table 4">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-ms-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="txtTrxTable5">Trx Table 5</label>
                                                <input type="text" class="form-control inputformTab" id="txtTrxTable5" placeholder="Trx Table 5">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="txtTrxTable6">Trx Table 6</label>
                                                <input type="text" class="form-control inputformTab" id="txtTrxTable6" placeholder="Trx Table 6">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="txtTrxTable7">Trx Table 7</label>
                                                <input type="text" class="form-control inputformTab" id="txtTrxTable7" placeholder="Trx Table 7">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="txtTrxTable8">Trx Table 8</label>
                                                <input type="text" class="form-control inputformTab" id="txtTrxTable8" placeholder="Trx Table 8">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="txtTrxTable9">Trx Table 9</label>
                                            <input type="text" class="form-control inputformTab" id="txtTrxTable9" placeholder="Trx Table 9">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="txtTrxTable10">Trx Table 10</label>
                                            <input type="text" class="form-control inputformTab" id="txtTrxTable10" placeholder="Trx Table 10">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <br />
                                <button id="btnSaveformtab" type="submit" class="btn btn-success btnSaveformtab">
                                    SAVE</button>
                                <button id="btnUpdatetab" type="submit" class="btn btn-primary btnSaveformtab" style="display: none">
                                    UPDATE</button>
                                <button id="btncleartab" type="button" class="btn btn-warning ">
                                    CLEAR</button>
                                <button id="btnquittab" type="button" class="btn btn-info ">
                                    QUIT FORM</button>
                            </div>
                        </form>
                    </div>

                    <div role="tabpanel" class="tab-pane " id="tab5">
                        <form>
                            <h3 class="tab3section1" style="display: none">Form Tab List - 
                                    <span class="text-danger tab3Formname"></span></h3>
                            <div class="table-responsive">
                                <div class="dropdown table-custome-drop">
                                    <div class="btn-group">
                                        <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="glyphicon glyphicon-download-alt"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Excel</a></li>
                                            <li><a href="#">PDF</a></li>
                                            <li><a href="#">Email</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <table id="Gridsectab" class="display " style="width: 100%; cellspacing: 0;">
                                    <thead>
                                        <tr>
                                            <th>#
                                            </th>
                                            <th>FormCode
                                            </th>
                                            <th>TabSrNo
                                            </th>
                                            <th>Form Name
                                            </th>
                                            <th>Tab Name
                                            </th>
                                            <th>Tab Class 
                                            </th>
                                            <th>Icon Class 
                                            </th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>FormCode
                                            </th>
                                            <th>TabSrNo
                                            </th>
                                            <th>Form Name</th>
                                            <th>Tab Name</th>
                                            <th>Tab Class  </th>
                                            <th>Icon Class</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg in" id="myModalIcon" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <button type="button" class="close-btn" data-dismiss="modal">Close</button>
                    <div class="modal-header">
                        <h4 class="modal-title">Button Class</h4>
                    </div>
                    <div class="modal-body  custom-model-body">
                        <div role="tabpanel">
                            <ul class="nav nav-tabs form-basic-tab" role="tablist">
                                <li role="presentation" class="active" id="Standanbutton"><a href="#tabs1" role="tab" data-toggle="tab" class="hosting-accord"><span class="menu-icon glyphicon glyphicon glyphicon-cloud"></span>&nbsp;&nbsp;&nbsp;&nbsp;Standard Button </a></li>
                                <li role="presentation" id="CustomButton"><a href="#tabs2" role="tab" data-toggle="tab" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Custom Button </a></li>
                                <li role="presentation" id="Utility"><a href="#tabs3Utility" role="tab" data-toggle="tab" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Utilities </a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="tabs1">
                                    <form id="frmStandardButton">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Save Name <span>*</span></label>
                                                    <input type="text" data-reqmsg="Enter Save Name" class="form-control ButtonClassTab req" id="txtSaveName" placeholder="Save Name">
                                                </div>
                                                <div class="form-group">
                                                    <label>Update Name <span>*</span></label>
                                                    <input type="text" data-reqmsg="Enter Update Name" class="form-control ButtonClassTab req" id="txtUpdateName" placeholder="Update Name">
                                                </div>
                                                <div class="form-group">
                                                    <label>Delete Name  <span>*</span></label>
                                                    <input type="text" data-reqmsg="Enter Update Name" class="form-control ButtonClassTab req" id="txtDeleteName" placeholder="Delete Name">
                                                </div>
                                                <div class="form-group">
                                                    <label>Clear Name <span>*</span></label>
                                                    <input type="text" data-reqmsg="Enter Clear Name" class="form-control ButtonClassTab req" id="txtClearName" placeholder="Clear Name">
                                                </div>
                                                <div class="form-group">
                                                    <label>Quit Form Name <span>*</span></label>
                                                    <input type="text" data-reqmsg="Enter Quit Name" class="form-control ButtonClassTab req" id="txtFormQuitName" placeholder="Form Quit Name">
                                                </div>


                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Save Class  <span>*</span></label>
                                                    <input type="text" data-reqmsg="Enter Save Class" class="form-control ButtonClassTab req" id="txtSaveClass" placeholder="Save Class">
                                                </div>
                                                <div class="form-group">
                                                    <label>Update Class <span>*</span></label>
                                                    <input type="text" data-reqmsg="Enter Update Class" class="form-control ButtonClassTab req" id="txtUpdateClass" placeholder="Update Class">
                                                </div>
                                                <div class="form-group">
                                                    <label>Delete Class   <span>*</span></label>
                                                    <input type="text" data-reqmsg="Enter Delete Class" class="form-control ButtonClassTab req" id="txtDeleteClass" placeholder="Delete Class">
                                                </div>
                                                <div class="form-group">
                                                    <label>Clear Class <span>*</span></label>
                                                    <input type="text" data-reqmsg="Enter Clear Class" class="form-control ButtonClassTab req" id="txtClearClass" placeholder="Clear Class">
                                                </div>
                                                <div class="form-group">
                                                    <label>Quit Form Class <span>*</span></label>
                                                    <input type="text" data-reqmsg="Enter Quit Class" class="form-control ButtonClassTab req" id="txtFormQuitClass" placeholder="Form Quit Class">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Save Visibility  <span></span></label>
                                                    <br />
                                                    <input type="Checkbox" class="form-control" id="chkSaveVisibility">
                                                </div>
                                                <div class="form-group">
                                                    <br />
                                                    <label>Update Visibility <span></span></label>
                                                    <br />
                                                    <input type="Checkbox" class="form-control" id="chkUpdateVisibility">
                                                </div>
                                                <div class="form-group">
                                                    <br />
                                                    <label>Delete Visibility   <span></span></label>
                                                    <br />
                                                    <input type="Checkbox" class="form-control" id="chkDeleteVisibility">
                                                </div>
                                                <div class="form-group">
                                                    <br />
                                                    <label>Clear Visibility <span></span></label>
                                                    <br />
                                                    <input type="Checkbox" class="form-control" id="chkClearVisibility">
                                                </div>
                                                <div class="form-group">
                                                    <br />
                                                    <label>Form Quit Visibility<span></span></label>
                                                    <br />
                                                    <input type="Checkbox" class="form-control" id="chkFormQuitVisibility">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Notification <span></span></label>
                                                    <br />
                                                    <input type="Checkbox" class="form-control" id="chkNotification">
                                                </div>
                                                <div class="form-group">
                                                    <br />
                                                    <label>Notification <span></span></label>
                                                    <br />
                                                    <input type="Checkbox" class="form-control" id="chkNotification1">
                                                </div>
                                                <div class="form-group">
                                                    <br />
                                                    <label>Notification <span></span></label>
                                                    <br />
                                                    <input type="Checkbox" class="form-control" id="chkNotification2">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Task <span></span></label>
                                                    <br />
                                                    <input type="Checkbox" class="form-control" id="chkTask">
                                                </div>
                                                <div class="form-group">
                                                    <br />
                                                    <label>Task <span></span></label>
                                                    <br />
                                                    <input type="Checkbox" class="form-control" id="chkTask1">
                                                </div>
                                                <div class="form-group">
                                                    <br />
                                                    <label>Task <span></span></label>
                                                    <br />
                                                    <input type="Checkbox" class="form-control" id="chkTask2">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-success btnSaveStandard" id="btnstandardbutton">SAVE</button>
                                                <button id="btnSave22" type="submit" class="btn btn-primary btnSaveStandard" style="display: none">
                                                    UPDATE</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="tabs2">
                                    <form id="frmCustomButton">
                                        <div class="table-responsive">
                                            <table id="tblModalIconCustom" class="display table" style="width: 100%; cellspacing: 0;">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Custom Name <span style="color: red;">*</span>
                                                        </th>
                                                        <th>Custom Class
                                                        </th>
                                                        <th>Custom Visibility
                                                        </th>
                                                        <th>Notification
                                                        </th>
                                                        <th>Task
                                                        </th>
                                                        <th style="display: none">Srno
                                                        </th>
                                                        <th>
                                                            <a id="btnCustomsection" class="btn btn-success" href="javascript:void(0);" style="padding: 0px 6px;"><i class="fa fa-plus"></i></a>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>
                                                            @*<button id="btnCustomsection" class="btn btn-success" type="button">
                                                                Add</button>*@
                                                        </th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                </tfoot>
                                                @*<tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>
                                                            <input type="text" placeholder="Custom Name" class="form-control" />
                                                        </td>
                                                        <td>
                                                            <input type="text" placeholder="Custom Class" class="form-control" />
                                                        </td>
                                                        <td>
                                                            <input type="Checkbox" class="form-control" />
                                                        </td>
                                                        <td>
                                                            <input type="Checkbox" class="form-control" />
                                                        </td>
                                                        <td>
                                                            <input type="Checkbox" class="form-control" />
                                                        </td>
                                                        <td>
                                                            <input type="text" placeholder="Custom Class" class="form-control" />
                                                        </td>
                                                    </tr>
                                                </tbody>*@
                                            </table>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-success btnsaveCustomButton" id="btncustomsave">SAVE</button>
                                            <button id="btnCustomUpdate" type="submit" class="btn btn-primary btnsaveCustomButton" style="display: none">
                                                UPDATE</button>
                                        </div>
                                    </form>
                                </div>

                                <div role="tabpanel" class="tab-pane" id="tabs3Utility">
                                    <form>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" id="txtutilitysrno" style="display: none">
                                        </div>
                                        <div class="row" id="UtilityFrom">
                                        </div>

                                        <div class="col-md-12">
                                            <button id="btnutilitySave" type="submit" class="btn btn-success Utilitysavedata">SAVE</button>
                                            <button id="btnutilityupdate" type="submit" class="btn btn-primary Utilitysavedata " style="display: none">
                                                UPDATE</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade modify-colum-model" id="myModalSection" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <button type="button" class="close-btn" data-dismiss="modal">Close</button>
                    <div class="modal-header">
                        <h4 class="modal-title">Section</h4>
                    </div>
                    <div class="modal-body custom-model-body">
                        <form>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="tblModalSection" class="display table" style="width: 100%; cellspacing: 0;">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Section Name <span style="color: red;">*</span>
                                                </th>
                                                <th style="display: none">Section Srno
                                                </th>
                                                <th>
                                                    <a id="btnaddSection" class="btn btn-success" href="javascript:void(0);" style="padding: 0px 6px;"><i class="fa fa-plus"></i></a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                        @*<tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>
                                                    <input type="text" class="req" />
                                                </td>
                                                <td>
                                                    <input type="text" class="req" />
                                                </td>
                                                <td></td>
                                            </tr>
                                        </tbody>*@
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" id="btnModalSectionSave" class="btn btn-success btnsavesection">SAVE</button>
                                    <button id="btnModalSectionUpdate" type="submit" class="btn btn-primary btnsavesection" style="display: none">
                                        UPDATE</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modify-colum-model" id="DeleteModel" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">System Message</h4>
                    </div>

                    <div class="modal-body  custom-model-body">
                        <form>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label id="lbldelete"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" id="modeldelete">Ok</button>
                                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/JS/CommonValidations.js"></script>
    <script src="~/Scripts/JS/Page/Frmsetup.js"></script>
}



