@{
    ViewBag.Title = "Form Set-Up";
    ViewBag.PageTitle = "Form Set-Up";
    ViewBag.FooterCopyRight = "2015 &copy; Modern by Steelcoders.";
}
<style>
    .modal-lg {
        width: 1075px;
    }
</style>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        getdata();
        getdatatab();
        //var Module = '';
        //var screen = '';
        //var FormCode = '';
        //var TabCode = '';
        //var Corporate = $('#drpCorporate1 option:selected').val();
        //var unit = '';
        //var Branch = '';
        //var userid = '';
        //var Ip = '';
        //var Type = 'DropDown';
        //$.ajax({
        //    url: "/FormSetup/BindDropDown",
        //    type: "POST",
        //    data: {
        //        "Module": Module, "screen": screen, "FormCode": FormCode, "TabCode": TabCode, "Corporate": Corporate, "unit": unit, "Branch": Branch, "userid": userid, "Ip": Ip, "Type": Type
        //    },
        //    success: function (data) {
        //        $('#drpCorporate1').html('');
        //        for (var i = 0; i < data.length; i++) {
        //            var opt = new Option(data[i]['Text'], data[i]['Value']);
        //            $('#drpCorporate1').append(opt);
        //        }
        //    }
        //});
    
        $('#btnSavefs').click(function (e) {
            e.preventDefault();          
            var Attribute1 = '';
            var Attribute2 = '';
            var Attribute3 = '';
            var Attribute4 = '';
            var Attribute5 = '';
            var Attribute6 = '';
            var Attribute7 = '';
            var Attribute8 = '';
            var Attribute9 = '';
            var Attribute10 = '';
            var SrNo = $('#txtSrNo1').val();
            var FormName = $('#txtFormName').val();
          
            
            var FormPrefixCode=$('#txtFormPreFix').val();
            var Corporate=$('#drpCorporate1 option:selected').text();
            var Module = $('#drpModule option:selected').text();
            var Screen = $('#drpScreen option:selected').text();
            var FeatureGroup = $('#drpFeatures option:selected').text();
            var Header=$('#txtHeader').val();
            var SubHeader = $('#txtSubHeader').val();
            var CreatedBy = '';
            var EntryDatetime = '';
            var EditedBy = '';
            var EditDatetime = '';
            var CorpcentreBy = '';
            var UnitCorpBy = '';
            var TerminalBy = '';
            var BranchId = '';                    
            $.ajax(
               {
                   type: "POST",
                   url: "/FormSetup/InsertData",
                   data: {
                       "SrNo": SrNo, "FormName": FormName, "FormPrefixCode": FormPrefixCode, "Corporate": Corporate, "Module": Module, "Screen": Screen, "FeatureGroup": FeatureGroup, "Header": Header, "SubHeader": SubHeader, "Attribute1": Attribute1, "Attribute2":Attribute2,"Attribute3":Attribute3,"Attribute3":Attribute4,"Attribute5":Attribute5,"Attribute6":Attribute6,"Attribute7":Attribute7,"Attribute8":Attribute8,"Attribute9":Attribute9,"Attribute10":Attribute10,"CreatedBy":CreatedBy,"EntryDatetime":EntryDatetime,"EditedBy":EditedBy,"EditDatetime":EditDatetime,"CorpcentreBy":CorpcentreBy,"UnitCorpBy":UnitCorpBy,"TerminalBy":TerminalBy,"BranchId":BranchId
                     
                      
                   },
                   dataType: 'json',
                   success: function (response) {
                       alert("Record Save Sucessfully");
                      // $('#lblmsg').html("Record Save Sucessfully");
                       //if (response != null && response.success) {
                       //    alert("Record Save Sucessfully!");
                       //} 

                   }
               });          
                   
        });


        //var Module = '';
        //var screen = '';
        //var FormCode = '';
        //var TabCode = '';
        //var Corporate = $('#drpCorporate option:selected').val();
        //var unit = '';
        //var Branch = '';
        //var userid = '';
        //var Ip = '';
        //var Type = 'DropDown';
        //$.ajax({
        //    url: "/FormSetup/BindDropDown_Formtab",
        //    type: "GET",
        //    data: {
        //        "Module": Module, "screen": screen, "FormCode": FormCode, "TabCode": TabCode, "Corporate": Corporate, "unit": unit, "Branch": Branch, "userid": userid, "Ip": Ip, "Type": Type
        //    },
        //    success: function (data) {
        //        $('#drpCorporate').html('');
        //        for (var i = 0; i < data.length; i++) {
        //            var opt = new Option(data[i]['Text'], data[i]['Value']);
        //            $('#drpCorporate').append(opt);
        //        }
        //    }
        //});


        $('#btnSaveformtab').click(function (e) {
            e.preventDefault();
          
            var Attribute1 = '';
            var Attribute2 = '';
            var Attribute3 = '';
            var Attribute4 = '';
            var Attribute5 = '';
            var Attribute6 = '';
            var Attribute7 = '';
            var Attribute8 = '';
            var Attribute9 = '';
            var Attribute10 = '';
            var TrxTable1 = $('#txtTrxTable1').val();
            var TrxTable2 = $('#txtTrxTable2').val();
            var TrxTable3 = $('#txtTrxTable3').val();
            var TrxTable4 = $('#txtTrxTable4').val();
            var TrxTable5 = $('#txtTrxTable5').val();
            var TrxTable6 = $('#txtTrxTable6').val();
            var TrxTable7 = $('#txtTrxTable7').val();
            var TrxTable8 = $('#txtTrxTable8').val();
            var TrxTable9 = $('#txtTrxTable9').val();
            var TrxTable10 = $('#txtTrxTable10').val();
            var SummeryLabel = '';
            var SrNo = $('#txtSrNo').val();
            var Corporate = $('#drpCorporate option:selected').text();
            var FormCode = $('#drpFormCode option:selected').text();
            var TabNumber = $('#txtTabNumber').val();
           
            var TabHeader = $('#txtTabHeader').val();
            var TabClass = $('#txtTabClass').val();
            var TooltipHelpText = $('#txtTooltipHelpText').val();
            var MasterTable = $('#txtTabMainTable').val();
            var MasterTablePrefix = $('#txtTabMainTablePrefix').val();

          
            var CreatedBy = '';
            var EntryDatetime = '';
            var EditedBy = '';
            var EditDatetime = '';
            var CorpcentreBy = '';
            var UnitCorpBy = '';
            var TerminalBy = '';
            var BranchBy = '';
            $.ajax(
               {
                   type: "POST",
                   url: "/FormSetup/InsertData_Formtab",
                   data: {
                       "SrNo": SrNo, "Corporate": Corporate, "FormCode": FormCode, "TabNumber": TabNumber, "TabHeader": TabHeader,
                       "TabClass": TabClass, "TooltipHelpText": TooltipHelpText, "MasterTable": MasterTable, "MasterTablePrefix": MasterTablePrefix,
                       "TrxTable1": TrxTable1, "TrxTable2": TrxTable2, "TrxTable3": TrxTable3, "TrxTable4": TrxTable4, "TrxTable5": TrxTable5,
                       "TrxTable6": TrxTable6, "TrxTable7": TrxTable7, "TrxTable8": TrxTable8, "TrxTable9": TrxTable9, "TrxTable10": TrxTable10,
                       "SummeryLabel": SummeryLabel, "Attribute1": Attribute1, "Attribute2": Attribute2, "Attribute3": Attribute3, "Attribute4": Attribute4,
                       "Attribute5": Attribute5, "Attribute6": Attribute6, "Attribute7": Attribute7, "Attribute8": Attribute8, "Attribute9": Attribute9,
                       "Attribute10": Attribute10, "CreatedBy": CreatedBy, "EntryDatetime": EntryDatetime, "EditedBy": EditedBy, "EditDatetime": EditDatetime,
                       "CorpcentreBy": CorpcentreBy, "UnitCorpBy": UnitCorpBy, "TerminalBy": TerminalBy, "BranchBy": BranchBy

                   },
                   dataType: 'json',
                   success: function (response) {
                       alert("Record Save Sucessfully");
                       // $('#lblmsg').html("Record Save Sucessfully");
                       //if (response != null && response.success) {
                       //    alert("Record Save Sucessfully!");
                       //} 

                   }
               });

        });

    //    $("#drpCorporate1").change(function () {
    //    var Module = '';
    //    var screen = '';
    //    var FormCode = '';
    //    var TabCode = '';
    //    var Corporate = $('#drpCorporate1 option:selected').val();
    //    var unit = '';
    //    var Branch = '';
    //    var userid = '';
    //    var Ip = '';
    //    var Type = 'ConditionalDropdown';
    //    var field1 = $('#drpFeatures option:selected').val();
    //    var field2 = $('#drpModule option:selected').val();
    //    var field3 = '';
    //    var field4 = '';
    //    var field5 = '';
    //    var Control = 'DrpFeaturegroup';
    //    var Srno = '';

    //    $.ajax({
    //        url: "/FormSetup/BindDropDownfeature",
    //        type: "POST",
    //        data: {
    //           "Module":Module,"screen":screen,"FormCode":FormCode,"TabCode":TabCode,"Corporate":Corporate,"unit":unit,"Branch":Branch,
    //            "userid":userid,"Ip":Ip,"Type":Type,"field1":field1,"field2":field2,"field3":field3,"field4":field4,"field5":field5,"Control":Control,"Srno":Srno

        
    //        },
    //        success: function (data) {
    //            $('#drpFeatures').html('');
    //            for (var i = 0; i < data.length; i++) {
    //                var opt = new Option(data[i]['Text'], data[i]['Value']);
    //                $('#drpFeatures').append(opt);
    //            }
    //        }
    //    });

    //});

        //$("#drpFeatures").change(function () {
        //    var Module = '';
        //    var screen = '';
        //    var FormCode = '';
        //    var TabCode = '';
        //    var Corporate = $('#drpCorporate1 option:selected').val();
        //    var unit = '';
        //    var Branch = '';
        //    var userid = '';
        //    var Ip = '';
        //    var Type = 'ConditionalDropdown';
        //    var field1 = $('#drpFeatures option:selected').val();
        //    var field2 = $('#drpModule option:selected').val();
        //    var field3 = '';
        //    var field4 = '';
        //    var field5 = '';
        //    var Control = 'DrpModule';
        //    var Srno = '';

        //    $.ajax({
        //        url: "/FormSetup/BindDropDownfeature",
        //        type: "POST",
        //        data: {
        //            "Module": Module, "screen": screen, "FormCode": FormCode, "TabCode": TabCode, "Corporate": Corporate, "unit": unit, "Branch": Branch,
        //            "userid": userid, "Ip": Ip, "Type": Type, "field1": field1, "field2": field2, "field3": field3, "field4": field4, "field5": field5, "Control": Control, "Srno": Srno


        //        },
        //        success: function (data) {
        //            $('#drpModule').html('');
        //            for (var i = 0; i < data.length; i++) {
        //                var opt = new Option(data[i]['Text'], data[i]['Value']);
        //                $('#drpModule').append(opt);
        //            }
        //        }
        //    });

        //});
        //$("#drpModule").change(function () {
        //    var Module = '';
        //    var screen = '';
        //    var FormCode = '';
        //    var TabCode = '';
        //    var Corporate = $('#drpCorporate1 option:selected').val();
        //    var unit = '';
        //    var Branch = '';
        //    var userid = '';
        //    var Ip = '';
        //    var Type = 'ConditionalDropdown';
        //    var field1 = $('#drpFeatures option:selected').val();
        //    var field2 = $('#drpModule option:selected').val();
        //    var field3 = '';
        //    var field4 = '';
        //    var field5 = '';
        //    var Control = 'DrpScreen';
        //    var Srno = '';

        //    $.ajax({
        //        url: "/FormSetup/BindDropDownfeature",
        //        type: "POST",
        //        data: {
        //            "Module": Module, "screen": screen, "FormCode": FormCode, "TabCode": TabCode, "Corporate": Corporate, "unit": unit, "Branch": Branch,
        //            "userid": userid, "Ip": Ip, "Type": Type, "field1": field1, "field2": field2, "field3": field3, "field4": field4, "field5": field5, "Control": Control, "Srno": Srno


        //        },
        //        success: function (data) {
        //            $('#drpScreen').html('');
        //            for (var i = 0; i < data.length; i++) {
        //                var opt = new Option(data[i]['Text'], data[i]['Value']);
        //                $('#drpScreen').append(opt);
        //            }
        //        }
        //    });

        //});

        $('#btnstandardbutton').click(function (e) {
            e.preventDefault();
            var Attribute1 = '';
            var Attribute2 = '';
            var Attribute3 = '';
            var Attribute4 = '';
            var Attribute5 = '';
            var Attribute6 = '';
            var Attribute7 = '';
            var Attribute8 = '';
            var Attribute9 = '';
            var Attribute10 = '';
            var CreatedBy = '';
            var EntryDatetime = '';
            var EditedBy = '';
            var EditDatetime = '';
            var CorpcentreBy = '';
            var UnitCorpBy = '';
            var TerminalBy = '';
            var BranchBy = '';


            var srno = '1';
            var CorporateId = '1';
            var TabCode ='1';
            var FormCode ='1';
            var SaveName = $('#txtSaveName').val();
            var SaveClass = $('#txtSaveClass').val();
            var SaveVisibility = $("#chkCopyrightNote").is(":checked");
            var SaveNotification ='';
            var SaveTask='';
            var UpdateName = $('#txtUpdateName').val();
            var UpdateClass = $('#txtUpdateClass').val();
            var UpdateVisibility ='';
            var  UpdateNotification  = '';
            var UpdateTask='';
            var DeleteName = $('#txtDeleteName').val();
            var DeleteClass = $('#txtDeleteClass').val();
            var DeleteVisibility ='';
            var DeleteNotification='';
            var DeleteTask='';
            var ClearName = $('#txtClearName').val();
            var ClearClass = $('#txtClearClass').val();
            var ClearVisibility ='';
            var ClearNotification ='';
            var ClearTask='';
            var  FormQuitClass = $('#txtFormQuitClass').val();
            var FormQuitVisibility ='';
            var FormQuitNotification = '';
            var FormQuitTask = '';

            $.ajax(
               {
                   type: "POST",
                   url: "/FormSetup/InsertData_StandardButton",
                   data: {
                       "srno": srno, "CorporateId": CorporateId, "TabCode": TabCode, "FormCode": FormCode, "SaveName": SaveName, "SaveClass": SaveClass,
                       "SaveVisibility": SaveVisibility, "SaveNotification": SaveNotification, "SaveTask": SaveTask, "UpdateName": UpdateName,
                       "UpdateClass": UpdateClass, "UpdateVisibility": UpdateVisibility, "UpdateNotification": UpdateNotification, "UpdateTask": UpdateTask,
                       "DeleteName": DeleteName, "DeleteClass": DeleteClass, "DeleteVisibility": DeleteVisibility, "DeleteNotification": DeleteNotification,
                       "DeleteTask": DeleteTask, "ClearName": ClearName, "ClearClass": ClearClass, "ClearVisibility": ClearVisibility, "ClearNotification": ClearNotification,
                       "FormQuitClass": FormQuitClass, "FormQuitVisibility": FormQuitVisibility, "FormQuitNotification": FormQuitNotification, "FormQuitTask": FormQuitTask,
                       "Attribute1": Attribute1, "Attribute2": Attribute2, "Attribute3": Attribute3, "Attribute4": Attribute4, "Attribute5": Attribute5, "Attribute6": Attribute6,
                       "Attribute7": Attribute7, "Attribute8": Attribute8, "Attribute9": Attribute9, "Attribute10": Attribute10,
                       "CreatedBy": CreatedBy, "EntryDatetime": EntryDatetime, "EditedBy": EditedBy, "EditDatetime": EditDatetime, "CorpcentreBy": CorpcentreBy,
                       "UnitCorpBy": UnitCorpBy, "TerminalBy": TerminalBy, "BranchBy": BranchBy


                   },
                   dataType: 'json',
                   success: function (response) {
                       alert("Record Save Sucessfully");
                       // $('#lblmsg').html("Record Save Sucessfully");
                       //if (response != null && response.success) {
                       //    alert("Record Save Sucessfully!");
                       //} 

                   }
               });

        });

        function getdata() {
            var tablename = 'dbo._Form_Master';
            var Corporate = '1';
            var unit = '';
            var userid = '';
            var WhereClause = '';
            var Branch = '';
            var PageNo = '1';
            var RecordsPerPage = '10';
            var Formcode = '0';
            var Formtabcode = '0';
            var type = 'Grid';
            $('#example1').dataTable({
                "ServerSide": true,
                "ajax": {
                    "url": "/FormSetup/BindGridView",
                    "Type": "GET",
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "dataSrc": function (json) {
                        return json;
                    },
                    "data": {
                        "tablename": tablename,
                        "Corporate": Corporate,
                        "unit": unit,
                        "userid": userid,
                        "WhereClause": WhereClause,
                        "Branch": Branch,
                        "PageNo": PageNo,
                        "RecordsPerPage": RecordsPerPage,
                        "Formcode": Formcode,
                        "Formtabcode": Formtabcode,
                        "type": type



                    }
                },
                "columns": [
                      { "data": "RowNumber" },
                    { "data": "Corporate" },
                    { "data": "FeatureGroup" },
                    { "data": "Module" },
                    { "data": "FormName" },

                    {
                        data: null,
                        className: "center",
                        defaultContent: '<a href="javascript:void(0);" class="editor_edit" ><i class="fa fa-pencil-square-o"></i></a> &nbsp;&nbsp;<a href="" class="editor_Delte"><i class="fa fa-trash-o"></i></a>'
                    }


                ]
            });
        }

        function getdatatab() {
            var tablename = 'dbo._Form_Tab_Master';
            var Corporate = '0';
            var unit = '';
            var userid = '';
            var WhereClause = '';
            var Branch = '';
            var PageNo = '1';
            var RecordsPerPage = '10';
            var Formcode = '0';
            var Formtabcode = '0';
            var type = 'Grid';
            var Segment = '';
            $('#example3').dataTable({
                "ServerSide": true,
                "ajax": {
                    "url": "/FormSetup/BindGridViewFormsetup",
                    "Type": "GET",
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "dataSrc": function (json) {
                        return json;
                    },
                    "data": {
                        "tablename": tablename,
                        "Corporate": Corporate,
                        "unit": unit,
                        "userid": userid,
                        "WhereClause": WhereClause,
                        "Branch": Branch,
                        "PageNo": PageNo,
                        "RecordsPerPage": RecordsPerPage,
                        "Formcode": Formcode,
                        "Formtabcode": Formtabcode,
                        "type": type,
                        "Segment":Segment


                    }
                },
                "columns": [
                      { "data": "RowNumber" },
                    { "data": "FormCode" },
                    { "data": "TabHeader" },
                    { "data": "TabClass" },
                    { "data": "SummeryLabel" },

                    {
                        data: null,
                        className: "center",
                        defaultContent: ' <a href="#" data-toggle="modal" data-target="#myModalIcon"><i class="fa fa-cloud-upload"></i></a>&nbsp;&nbsp;<a href="#" data-toggle="modal" data-target="#myModalSection"><i class="fa fa-list-alt"></i></a>'
                    }


                ]
            });
        }
    });

   
</script>



@*<div id="lblmsg"></div>*@
<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs form-basic-tab" role="tablist">
                    <li role="presentation" class="active"><a href="#tab1" role="tab" data-section="tab1" data-toggle="tab" class="hosting-accord"><span class="menu-icon glyphicon glyphicon glyphicon-cloud"></span>&nbsp;&nbsp;&nbsp;&nbsp;Serach Form </a></li>
                    @* <li role="presentation"><a href="#tab2" role="tab" data-section="tab2" data-toggle="tab" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Create Form </a></li>*@
                    <li role="presentation"><a href="#tab3" role="tab" data-section="tab3" data-toggle="tab" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Form Set Up </a></li>
                    <li role="presentation"><a href="#tab4" role="tab" data-section="tab4" data-toggle="tab" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Form Tab </a></li>
                    <li role="presentation"><a href="#tab5" role="tab" data-section="tab5" data-toggle="tab" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Form Tab List </a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <form>
                            <div class="table-responsive">
                                <div class="dropdown table-custome-drop">
                                    <div class="btn-group">
                                        <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="glyphicon glyphicon-download-alt"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Excel</a></li>
                                            <li><a href="#">PDF</a></li>
                                            <li><a href="#">Email</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <table id="example1" class="display table" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                        <tr>
                                            <th style="width: 5%;">#</th>
                                            <th style="width: 20%;">Corporate</th>
                                            <th style="width: 20%;">Features</th>
                                            <th style="width: 20%;">Module</th>

                                            <th style="width: 15%;">FormName </th>

                                            <th style="width: 15%; text-align: center;">Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Corporate</th>
                                            <th>Features</th>
                                            <th>Module </th>

                                            <th>FormName </th>

                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                   @* <tbody>
                                       

                                    </tbody>*@
                                </table>
                            </div>
                        </form>
                    </div>

                    <div role="tabpanel" class="tab-pane " id="tab3">
                        <form method="post">
                            <div class="col-md-12">
                                <div class="row" style="display: none">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="txtSrNo1">Sr No</label>
                                            <input type="text" class="form-control" id="txtSrNo1" placeholder="Sr No" readonly style="display: none">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="drpCorporate1">Corporate <span>*</span></label>
                                            <select id="drpCorporate1" class="js-states form-control" style="display: none; width: 100%">
                                          <option value="1">Corporate 1 </option>
                                                <option value="2">Corporate 2 </option>
                                                  </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="txtFormPreFix">Form Pre-Fix</label>
                                            <input type="text" class="form-control" id="txtFormPreFix" placeholder="Form Pre-Fix">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="drpFeatures">Features <span>*</span></label>
                                            <select id="drpFeatures" class="js-states form-control" style="display: none; width: 100%">
                                         <option value="1">Features 1 </option>
                                                <option value="2">Features 2 </option>
                                                  </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="txtFormName">Form Name</label>
                                            <input type="text" class="form-control" id="txtFormName" placeholder="Form Name">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="drpModule">Module <span>*</span></label>
                                            <select id="drpModule" class="js-states form-control" style="display: none; width: 100%">
                                               <option value="1">Module 1 </option>
                                                <option value="2">Module 2 </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="txtHeader">Header</label>
                                            <input type="text" class="form-control" id="txtHeader" placeholder="Header">
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="drpScreen">Screen <span>*</span></label>
                                        <select id="drpScreen" class="js-states form-control" style="display: none; width: 100%">
                                         <option value="1">Screen 1 </option>
                                                <option value="2">Screen 2 </option>
                                             </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                          <label for="txtSubHeader">Sub Header</label>
                                        <input type="text" class="form-control" id="txtSubHeader" placeholder="Sub Header">
                                        </div>
                                    </div>
                                </div>




                            </div>
                            
                            


                            <div class="col-md-12">
                                <br />
                                <button id="btnSavefs" type="submit" class="btn btn-success btnSave">
                                    SAVE</button>
                                <button id="btnSave1" type="submit" class="btn btn-primary btnSave">
                                    UPDATE</button>
                                <button id="btnCance2" type="submit" class="btn btn-green btnCancel">
                                    DELETE</button>
                                <button id="btnSave3" type="submit" class="btn btn-warning btnSave">
                                    CLEAR</button>
                                <button id="btnSave4" type="submit" class="btn btn-info btnSave">
                                    QUIT FORM</button>
                            </div>
                        </form>
                    </div>
                <div role="tabpanel" class="tab-pane " id="tab4">
                    <form>
                        <div class="col-md-12">
                            <h3 class="tab3section1"><span class="section-index">1</span>&nbsp;Tab / Section </h3>



                             <div class="row" style="display: none">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="txtSrNo">Sr No</label>
                                            <input type="text" class="form-control" id="txtSrNo" placeholder="Sr No" readonly style="display: none">
                                        </div>
                                    </div>
                                </div>



                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="drpCorporate">Corporate</label>
                                        <select id="drpCorporate" class="js-states form-control" style="display: none; width: 100%">
                                         <option value="1">Corporate 1 </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="drpFormCode">Form Name</label>
                                        <select id="drpFormCode" class="js-states form-control" style="display: none; width: 100%">
                                        <option value="1">Form Name 1 </option>
                                             </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtTabNumber">Tab Number</label>
                                        <input type="text" class="form-control" id="txtTabNumber" placeholder="Tab Number">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtTabHeader">Tab Header</label>
                                        <input type="text" class="form-control" id="txtTabHeader" placeholder="Tab Header">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtTabClass">Tab Class</label>
                                        <input type="text" class="form-control" id="txtTabClass" placeholder="Tab Class">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="txtTooltipHelpText">Tooltip Help Text</label>
                                        <input type="text" class="form-control" id="txtTooltipHelpText" placeholder="Tooltip Help Text">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtTabMainTable">Tab Main Table</label>
                                        <input type="text" class="form-control" id="txtTabMainTable" placeholder="Tab Main Table">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="txtTabMainTablePrefix">Tab Main Table Pre-fix</label>
                                        <input type="text" class="form-control" id="txtTabMainTablePrefix" placeholder="Tab Main Table Pre-fix">
                                    </div>
                                </div>
                            </div>
                            <div class="col-ms-12">
                            <div class="row">
                                
                                    
                               
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="txtTrxTable1">Trx Table 1</label>
                                        <input type="text" class="form-control" id="txtTrxTable1" placeholder="Trx Table 1">
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="txtTrxTable2">Trx Table 2</label>
                                        <input type="text" class="form-control" id="txtTrxTable2" placeholder="Trx Table 2">
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="txtTrxTable3">Trx Table 3</label>
                                        <input type="text" class="form-control" id="txtTrxTable3" placeholder="Trx Table 3">
                                    </div>
                                </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="txtTrxTable4">Trx Table 4</label>
                                        <input type="text" class="form-control" id="txtTrxTable4" placeholder="Trx Table 4">
                                    </div>
                                </div>
                            </div>
                                </div>

                            
                            <div class="col-ms-12">
                            <div class="row">                                                                             
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="txtTrxTable5">Trx Table 5</label>
                                        <input type="text" class="form-control" id="txtTrxTable5" placeholder="Trx Table 5">
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="txtTrxTable6">Trx Table 6</label>
                                        <input type="text" class="form-control" id="txtTrxTable6" placeholder="Trx Table 6">
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="txtTrxTable7">Trx Table 7</label>
                                        <input type="text" class="form-control" id="txtTrxTable7" placeholder="Trx Table 7">
                                    </div>
                                </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="txtTrxTable8">Trx Table 8</label>
                                        <input type="text" class="form-control" id="txtTrxTable8" placeholder="Trx Table 8">
                                    </div>
                                </div>
                            </div>
                                </div>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtTrxTable9">Trx Table 9</label>
                                        <input type="text" class="form-control" id="txtTrxTable9" placeholder="Trx Table 9">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtTrxTable10">Trx Table 10</label>
                                        <input type="text" class="form-control" id="txtTrxTable10" placeholder="Trx Table 10">
                                    </div>
                                </div>
                            </div>
                            


                            





                            
                        </div>

                        <div class="col-md-12">
                            <br />
                            <button id="btnSaveformtab" type="submit" class="btn btn-success btnSave">
                                SAVE</button>
                            <button id="btnSave8" type="submit" class="btn btn-primary btnSave">
                                UPDATE</button>
                            <button id="btnCancel9" type="submit" class="btn btn-green btnCancel">
                                DELETE</button>
                            <button id="btnSave10" type="submit" class="btn btn-warning btnSave">
                                CLEAR</button>
                            <button id="btnSave11" type="submit" class="btn btn-info btnSave">
                                QUIT FORM</button>
                        </div>
                    </form>
                </div>

                <div role="tabpanel" class="tab-pane " id="tab5">
                    <form>
                            <div class="table-responsive">
                                <div class="dropdown table-custome-drop">
                                    <div class="btn-group">
                                        <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="glyphicon glyphicon-download-alt"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Excel</a></li>
                                            <li><a href="#">PDF</a></li>
                                            <li><a href="#">Email</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <table id="example3" class="display table" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                        <tr>
                                            <th style="width: 5%;">#</th>
                                            <th style="width: 20%;">Form Name</th>
                                            <th style="width: 20%;">Tab Name</th>
                                            <th style="width: 20%;">Tab Class </th>

                                            <th style="width: 15%;">Summery Label </th>
                                            <th style="width: 15%;">Icon Class </th>
                                            @*  <th style="width: 15%;">Section</th>*@
                                         
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Form Name</th>
                                            <th>Tab Name</th>
                                            <th>Tab Class  </th>

                                            <th>Summery Label </th>

                                            <th>Icon Class</th>
                                          @*  <th>Section </th>*@
                                        </tr>
                                    </tfoot>
                                    @*<tbody>
                                        <tr>

                                            <th></th>
                                            <th>
                                                <input type="text" /></th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th>
                                                <input type="text" />
                                            </th>

                                          
                                            <td>
                                               
                                                <a href="#" data-toggle="modal" data-target="#myModalIcon"><i class="fa fa-cloud-upload"></i></a>
                                            </td>
                                            <td>

                                                <a href="#" data-toggle="modal" data-target="#myModalSection"><i class="fa fa-list-alt"></i></a>
                                               
                                            </td>
                                        </tr>
                                        
                       

                                    </tbody>*@
                                </table>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade bs-example-modal-lg in" id="myModalIcon" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <button type="button" class="close-btn" data-dismiss="modal">Close</button>
                <div class="modal-header">
                    <h4 class="modal-title">Button Class</h4>
                </div>
                <div class="modal-body  custom-model-body">
                    <div role="tabpanel">
                        <ul class="nav nav-tabs form-basic-tab" role="tablist">
                            <li role="presentation" class="active"><a href="#tabs1" role="tab" data-toggle="tab" class="hosting-accord"><span class="menu-icon glyphicon glyphicon glyphicon-cloud"></span>&nbsp;&nbsp;&nbsp;&nbsp;Standard Button </a></li>
                            <li role="presentation"><a href="#tabs2" role="tab" data-toggle="tab" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Custom Button </a></li>
                            <li role="presentation"><a href="#tabs3" role="tab" data-toggle="tab" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Utilities </a></li>

                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="tabs1">
                                <form>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="txtSaveName" data-toggle="tooltip" data-placement="right" title="Master Name">Save Name <span>*</span></label>
                                                <input type="text" class="form-control" id="txtSaveName" placeholder="Save Name">
                                            </div>
                                            <div class="form-group">
                                                <label for="txtUpdateName" data-toggle="tooltip" data-placement="right" title="Master Name">Update Name <span>*</span></label>
                                                <input type="text" class="form-control" id="txtUpdateName" placeholder="Update Name">
                                            </div>
                                            <div class="form-group">
                                                <label for="txtDeleteName" data-toggle="tooltip" data-placement="right" title="Master Name">Delete Name  <span>*</span></label>
                                                <input type="text" class="form-control" id="txtDeleteName" placeholder="Delete Name">
                                            </div>
                                            <div class="form-group">
                                                <label for="txtClearName" data-toggle="tooltip" data-placement="right" title="Master Name">Clear Name <span>*</span></label>
                                                <input type="text" class="form-control" id="txtClearName" placeholder="Clear Name">
                                            </div>
                                            <div class="form-group">
                                                <label for="txtFormQuitName" data-toggle="tooltip" data-placement="right" title="Master Name">Form Quit Name<span>*</span></label>
                                                <input type="text" class="form-control" id="txtFormQuitName" placeholder="Form Quit Name">
                                            </div>


                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="txtSaveClass" data-toggle="tooltip" data-placement="right" title="Master Name">Save Class  <span>*</span></label>
                                                <input type="text" class="form-control" id="txtSaveClass" placeholder="Save">
                                            </div>
                                            <div class="form-group">
                                                <label for="txtUpdateClass" data-toggle="tooltip" data-placement="right" title="Master Name">Update Class <span>*</span></label>
                                                <input type="text" class="form-control" id="txtUpdateClass" placeholder="Update">
                                            </div>
                                            <div class="form-group">
                                                <label for="txtDeleteClass" data-toggle="tooltip" data-placement="right" title="Master Name">Delete Class   <span>*</span></label>
                                                <input type="text" class="form-control" id="txtDeleteClass" placeholder="Delete">
                                            </div>
                                            <div class="form-group">
                                                <label for="txtClearClass" data-toggle="tooltip" data-placement="right" title="Master Name">Clear Class <span>*</span></label>
                                                <input type="text" class="form-control" id="txtClearClass" placeholder="Clear">
                                            </div>
                                            <div class="form-group">
                                                <label for="txtFormQuitClass" data-toggle="tooltip" data-placement="right" title="Master Name">Form Quit Class<span>*</span></label>
                                                <input type="text" class="form-control" id="txtFormQuitClass" placeholder="Form Quit">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Save Visibility  <span>*</span></label>
                                                <br />
                                                <input type="Checkbox" class="form-control" id="chkSaveVisibility">
                                            </div>
                                            <div class="form-group">
                                                <br />
                                                <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Update Visibility <span>*</span></label>
                                                <br />
                                                <input type="Checkbox" class="form-control" id="chkUpdateVisibility">
                                            </div>
                                            <div class="form-group">
                                                <br />
                                                <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Delete Visibility   <span>*</span></label>
                                                <br />
                                                <input type="Checkbox" class="form-control" id="chkDeleteVisibility">
                                            </div>
                                            <div class="form-group">
                                                <br />
                                                <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Clear Visibility <span>*</span></label>
                                                <br />
                                                <input type="Checkbox" class="form-control" id="chkClearVisibility">
                                            </div>
                                            <div class="form-group">
                                                <br />
                                                <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Form Quit Visibility<span>*</span></label>
                                                <br />
                                                <input type="Checkbox" class="form-control" id="chkFormQuitVisibility">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Notification <span></span></label>
                                                <br />
                                                <input type="Checkbox" class="form-control" id="chkNotification">
                                            </div>
                                            <div class="form-group">
                                                <br />
                                                <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Notification <span></span></label>
                                                <br />
                                                <input type="Checkbox" class="form-control" id="chkNotification1">
                                            </div>
                                            <div class="form-group">
                                                <br />
                                                <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Notification <span></span></label>
                                                <br />
                                                <input type="Checkbox" class="form-control" id="chkNotification2">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Task <span></span></label>
                                                <br />
                                                <input type="Checkbox" class="form-control" id="chkTask">
                                            </div>
                                            <div class="form-group">
                                                <br />
                                                <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Task <span></span></label>
                                                <br />
                                                <input type="Checkbox" class="form-control" id="chkTask1">
                                            </div>
                                            <div class="form-group">
                                                <br />
                                                <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Task <span></span></label>
                                                <br />
                                                <input type="Checkbox" class="form-control" id="chkTask2">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-success" id="btnstandardbutton">SAVE</button>
                                            <button id="btnSave22" type="submit" class="btn btn-primary btnSave">
                                                UPDATE</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div role="tabpanel" class="tab-pane " id="tabs2">
                                <form>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Custom Name <span>*</span></label>
                                                <input type="text" class="form-control" id="txtMasterName77" placeholder="Custom Name">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Custom Class  <span>*</span></label>
                                                <input type="text" class="form-control" id="txtMasterName" placeholder="Custom">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Custom Visibility  <span>*</span></label>
                                                <br />
                                                <input type="Checkbox" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Notification <span>*</span></label>
                                                <br />
                                                <input type="Checkbox" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Task  <span>*</span></label>
                                                <br />
                                                <input type="Checkbox" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-success btnCancel">ADD</button>
                                            <br />
                                            <br />
                                            <button type="button" class="btn btn-success btnSave">SAVE</button>
                                            <button id="btnSave" type="submit" class="btn btn-primary btnUpdate">
                                                UPDATE</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="tabs3">
                                <form>
                                    <div class="row">
                                        <div class="col-md-4">


                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="Checkbox" class="form-control">
                                                    <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Task   <span></span></label>

                                                </div>
                                                <div class="form-group">
                                                    <input type="Checkbox" class="form-control">
                                                    <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Notifications  <span></span></label>


                                                </div>

                                                <div class="form-group">
                                                    <input type="Checkbox" class="form-control">
                                                    <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Email   <span></span></label>

                                                </div>

                                                <div class="form-group">
                                                    <input type="Checkbox" class="form-control">
                                                    <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Calendar   <span></span></label>

                                                </div>
                                                <div class="form-group">
                                                    <input type="Checkbox" class="form-control">
                                                    <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Screenshot    <span></span></label>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">


                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="Checkbox" class="form-control">
                                                    <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">SMS   <span></span></label>

                                                </div>
                                                <div class="form-group">
                                                    <input type="Checkbox" class="form-control">
                                                    <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Notes   <span></span></label>


                                                </div>

                                                <div class="form-group">
                                                    <input type="Checkbox" class="form-control">
                                                    <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Tags    <span></span></label>

                                                </div>

                                                <div class="form-group">
                                                    <input type="Checkbox" class="form-control">
                                                    <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Help Video    <span></span></label>

                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-4">


                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="Checkbox" class="form-control">
                                                    <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Guided Tour   <span></span></label>

                                                </div>
                                                <div class="form-group">
                                                    <input type="Checkbox" class="form-control">
                                                    <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Copy   <span></span></label>


                                                </div>

                                                <div class="form-group">
                                                    <input type="Checkbox" class="form-control">
                                                    <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Print   <span></span></label>

                                                </div>

                                                <div class="form-group">
                                                    <input type="Checkbox" class="form-control">
                                                    <label for="txtMasterName" data-toggle="tooltip" data-placement="right" title="Master Name">Updates    <span></span></label>

                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-success">SAVE</button>
                                            <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                                UPDATE</button>
                                        </div>
                                    </div>



                                </form>
                            </div>


                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>



    <div class="modal fade modify-colum-model" id="myModalSection" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <button type="button" class="close-btn" data-dismiss="modal">Close</button>
                <div class="modal-header">
                    <h4 class="modal-title">Section</h4>
                </div>
                <div class="modal-body custom-model-body">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="exampleeditable" class="display table" style="width: 100%; cellspacing: 0;">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Section Name
                                        </th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>
                                            <button id="btnadd" class="btn btn-success btnSave" type="submit">
                                                Add</button>
                                        </th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <input type="text" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>
                                            <input type="text" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-success">SAVE</button>
                            <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                UPDATE</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

</div>



