<div class="col-md-8 full-responsive">
    <form>
         <h3 class="tab9section1"><span class="section-index">1</span>&nbsp;Create Hotel Room - <span class="text-danger">Hotel De Bangkok - Bangkok</span></h3>
        
        <div class="form-group formroomprice">
            <div class="row">
                <div class="col-md-6">
                    <label for="drpCostingSet">Contract Title</label>
                    <select id="drpCostingTitle" class="js-states form-control" style="display: none; width: 100%">
                        
                    </select>
                </div>
                <div class="col-md-3">
                      <label for="txtFromDate">Contract ID </label>
                    <input type="text" class="form-control" id="txtContractID" placeholder="Contract ID" readonly>
                </div>
                 <div class="col-md-3">
                    <label for="drpTypeOfSupplier">Room Category<span>*</span></label>
                     <input type="text" class="form-control" id="txtContractID" value="Suites" placeholder="Contract ID">
                </div>
                </div>
            </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="drpTypeOfSupplier">Room Type<span>*</span></label>
                    <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                        <option selected="selected">One Bedroom Suite</option>
                        <option>Single Room</option>
                        <option>Double Room</option>
                        
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="txtMaxPax">Max Pax</label>
                    <input type="text" class="form-control" id="txtMaxPax" value="3" placeholder="Max Pax">
                </div>
                <div class="col-md-3">
                    <label for="txtMaxPax">Max Adult</label>
                    <input type="text" class="form-control" id="txtMaxPax" value="2" placeholder="Max Pax">
                </div>
                
            </div>

        </div>
        <div class="form-group">
            <div class="row">
                 <div class="col-md-3">
                    <label for="txtMaxPax">Max Extra Bed Child</label>
                    <input type="text" class="form-control" id="txtMaxPax" value="1" placeholder="Max Pax">
                </div>
                 <div class="col-md-3">
                    <label for="txtMaxPax">Max Child No Bed</label>
                    <input type="text" class="form-control" id="txtMaxPax" value="1" placeholder="Max Pax">
                </div>
                 <div class="col-md-3">
                    <label for="txtMaxPax">Max Infant</label>
                    <input type="text" class="form-control" id="txtMaxPax" value="1" placeholder="Max Pax">
                </div>
                 <div class="col-md-3">
                    <label for="txtMaxPax">Breakfast Included For Pax</label>
                    <input type="text" class="form-control" id="txtMaxPax" value="2" placeholder="Max Pax">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                 <div class="col-md-6">
                    <label for="drpTypeOfSupplier">Rate Type<span>*</span></label>
                    <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                        <option selected="selected">Allotment</option>
                        <option>On Request</option>

                    </select>
                </div>
                <div class="col-md-6">
                    <label for="drpSupplier">Extra Bed For Pax </label>
                    <select id="drpSupplier" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                        <option selected="selected">3rd Person</option>
                        <option>4th Person</option>
                        <option>5th Person</option>
                    </select>
                </div>
                 
               
            </div>
        </div>
        
        <h3 class="tab9section2" style="padding-top:30px"><span class="section-index">2</span>&nbsp;Validity <span class="text-danger"></span></h3>
          <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtMaxPax">Validity From</label>
                    <input type="text" class="form-control date-picker" id="txtMaxPax" value="05/06/2016" placeholder="Max Pax">
                </div>
                <div class="col-md-6">
                    <label for="txtMaxPax">Validity To</label>
                    <input type="text" class="form-control date-picker" id="txtMaxPax" value="04/06/2017" placeholder="Max Pax">
                </div>
               
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtMaxPax">Blackout From Date</label>
                    <input type="text" class="form-control date-picker" id="txtMaxPax" value="10/06/2016" placeholder="Max Pax">
                </div>
                <div class="col-md-6">
                    <label for="txtMaxPax">Blackout To Date</label>
                    <input type="text" class="form-control date-picker" id="txtMaxPax" value="05/10/2016" placeholder="Max Pax">
                </div>
               
            </div>
        </div>

        <h3 class="tab9section3" style="padding-top:30px"><span class="section-index">3</span>&nbsp;Allotment <span class="text-danger"></span></h3>
        <div class="table-responsive" style="padding-bottom:30px">
                <table style="width: 100%">
                    <thead>
                        <tr>
                            <th style="width: 20%; padding: 5px">Allotment Validity From</th>
                            <th style="width: 20%; padding: 5px">Allotment Validity To</th>
                            <th style="width: 20%; padding: 5px">Allotment Rooms</th>
                            <th style="width: 15%; padding: 5px">Cut off (Days)</th>
                            <th style="width: 20%; padding: 5px">Min. Materialization</th>
                            <th style="width: 5%; padding: 5px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding: 5px">
                                <input type="text" class="form-control date-picker" id="txtAgeFrom" value="06/06/2016" placeholder="Service Cost ">
                            </td>
                            <td style="padding: 5px">
                                <input type="text" class="form-control date-picker" id="txtAgeTo" value="06/10/2016" placeholder="Inclusions">
                            </td>
                             <td style="padding: 5px">
                                <input type="text" class="form-control" id="txtAgeTo" value="5" placeholder="Inclusions">
                            </td>
                             <td style="padding: 5px">
                                <input type="text" class="form-control" id="txtAgeTo" value="10" placeholder="Inclusions">
                            </td>
                             <td style="padding: 5px">
                                <input type="text" class="form-control" id="txtAgeTo" value="50%" placeholder="Inclusions">
                            </td>
                            <td style="padding: 5px"></td>
                        </tr>
                        <tr>
                           <td style="padding: 5px">
                                <input type="text" class="form-control date-picker" id="txtAgeFrom" value="06/06/2016" placeholder="Service Cost ">
                            </td>
                            <td style="padding: 5px">
                                <input type="text" class="form-control date-picker" id="txtAgeTo" value="06/10/2016" placeholder="Inclusions">
                            </td>
                             <td style="padding: 5px">
                                <input type="text" class="form-control" id="txtAgeTo" value="5" placeholder="Inclusions">
                            </td>
                             <td style="padding: 5px">
                                <input type="text" class="form-control" id="txtAgeTo" value="10" placeholder="Inclusions">
                            </td>
                             <td style="padding: 5px">
                                <input type="text" class="form-control" id="txtAgeTo" value="50%" placeholder="Inclusions">
                            </td>

                            <td style="padding: 5px">
                                <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                            </td>
                        </tr>
                        <tr>
                           <td style="padding: 5px">
                                <input type="text" class="form-control date-picker" id="txtAgeFrom" value="06/06/2016" placeholder="Service Cost ">
                            </td>
                            <td style="padding: 5px">
                                <input type="text" class="form-control date-picker" id="txtAgeTo" value="06/10/2016" placeholder="Inclusions">
                            </td>
                             <td style="padding: 5px">
                                <input type="text" class="form-control" id="txtAgeTo" value="5" placeholder="Inclusions">
                            </td>
                             <td style="padding: 5px">
                                <input type="text" class="form-control" id="txtAgeTo" value="10" placeholder="Inclusions">
                            </td>
                             <td style="padding: 5px">
                                <input type="text" class="form-control" id="txtAgeTo" value="50%" placeholder="Inclusions">
                            </td>
                            <td style="padding: 5px">
                                <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
        <br />
        <br />
        <button id="btnSave" type="submit" class="btn btn-success btnSave">
            SAVE</button>
        <button id="btnSave" type="submit" class="btn btn-primary btnSave">
            UPDATE</button>
        <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
            DELETE</button>
        <button id="btnSave" type="submit" class="btn btn-warning btnSave">
            CREATE NEW</button>
        <button id="btnSave" type="submit" class="btn btn-info btnSave">
            QUIT FORM</button>
        <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
            <span class="fa fa-refresh"></span>
        </a>

    </form>
</div>
<div class="col-md-4 summery-detail summery-uitilities-detail summerytab2">
    <div class="panel-body tab-itenaries ">
        <div class="panel-group">
            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title roompricesummery">Summary 
                         <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report">
                                                    <i class="fa fa-tasks"></i>
                                                </a>
                        <a id="startGuiededTour" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Guided Tour">
                            <i class="icon-info"></i>
                        </a>
                        <a id="startTimeline" onclick="$('#showRightSideTimeline').trigger('click')" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="View Trail">
                            <i class="fa fa-sitemap"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>
                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created From Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Page Load Time: </td>
                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                </tr>
                                <tr>
                                    <td>Record Update Time: </td>
                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
