
                                <div class="col-md-8 full-responsive">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="drpNationalityset">Guest Nationality </label>
                                                <select id="drpNationalityset" class="js-states form-control" style="display: none; width: 100%">
                                                    <option selected="selected">Asian-Indian</option>
                                                    <option>Affrican</option>
                                                    <option>Europian</option>

                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="drpcurrency">Currency</label>
                                                <select id="drpcurrency" class="js-states form-control" style="display: none; width: 100%">
                                                    <option selected="selected">THB</option>
                                                    <option>INR</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="row">

                                            <div class="col-md-3">
                                                <label for="txtSingleRoomRate">Single Room Rate</label>
                                                <div class="input-group input-append">
                                                    <input type="text" class="form-control" id="txtSingleRoomRate" value="4500" placeholder="Single Room Rate">
                                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="txtDoubleTwinRoomRate">Double Room Rate </label>
                                                <div class="input-group input-append">
                                                    <input type="text" class="form-control" id="txtDoubleTwinRoomRate" value="6600" placeholder="Double Room Rate">
                                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="txtTwinRoomRate">Twin Room Rate </label>
                                                <div class="input-group input-append">
                                                    <input type="text" class="form-control" id="txtTwinRoomRate" value="6600" placeholder="Twin Room Rate">
                                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="txtQuadrate">Quad Room Rate </label>
                                                <div class="input-group input-append">
                                                    <input type="text" class="form-control" id="txtQuadrate" value="8000" placeholder="Double / Twin Room Rate">
                                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="txtextrabedadultrate">Extra Bed Adult Rate </label>
                                                <div class="input-group input-append">
                                                    <input type="text" class="form-control" id="txtextrabedadultrate" value="2000" placeholder="Double / Twin Room Rate">
                                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="txtExtraBedChildRate">Extra Bed Child Rate</label>
                                                <div class="input-group input-append">
                                                    <input type="text" class="form-control" id="txtExtraBedChildRate" value="1000" placeholder="Single Room Rate">
                                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="txtChildNoBedRate">Child No Bed Rate</label>
                                                <div class="input-group input-append">
                                                    <input type="text" class="form-control" id="txtChildNoBedRate" value="500" placeholder="Single Room Rate">
                                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="txtInfantRate">Infant Rate </label>
                                                <div class="input-group input-append">
                                                    <input type="text" class="form-control" id="txtInfantRate" value="500" placeholder="Double / Twin Room Rate">
                                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <h3>ABF</h3>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="drpcurrency">Incl/Excl <span>*</span></label>
                                                <select id="drpcurrency" class="js-states form-control" style="display: none; width: 100%">
                                                    <option>Incl.ABF</option>
                                                    <option selected="selected">Excl. ABF</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="drpcurrency">ABF Adult Rate <span>*</span></label>
                                                <div class="input-group input-append">
                                                    <input type="text" class="form-control" id="txtABFAdultrate" value="1000" placeholder="Single Room Rate">
                                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="drpcurrency">ABF Child Rate <span>*</span></label>
                                                <div class="input-group input-append">
                                                    <input type="text" class="form-control" id="txtABFChildrate" value="600" placeholder="Single Room Rate">
                                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3>Lunch</h3>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="drpcurrency">Incl/Excl <span>*</span></label>
                                                <select id="drpLunch" class="js-states form-control" style="display: none; width: 100%">
                                                    <option>Incl.Lunch</option>
                                                    <option selected="selected">Excl. Lunch</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="drpcurrency">Lunch Adult Rate</label>
                                                <div class="input-group input-append">
                                                    <input type="text" class="form-control" id="txtLunchadult" value="1500" placeholder="Single Room Rate">
                                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="drpcurrency">Lunch Child Rate</label>
                                                <div class="input-group input-append">
                                                    <input type="text" class="form-control" id="txtAdultLunch" value="800" placeholder="Single Room Rate">
                                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3>Dinner</h3>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="drpcurrency">Incl/Excl <span>*</span></label>
                                                <select id="drpIncl" class="js-states form-control" style="display: none; width: 100%">
                                                    <option>Incl.Dinner</option>
                                                    <option selected="selected">Excl. Dinner</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="drpcurrency">Dinner Adult Rate</label>
                                                <div class="input-group input-append">
                                                    <input type="text" class="form-control" id="txtDinnerRateAdult" value="1500" placeholder="Single Room Rate">
                                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="drpcurrency">Dinner Child Rate</label>
                                                <div class="input-group input-append">
                                                    <input type="text" class="form-control" id="txtChildRateDinner" value="800" placeholder="Single Room Rate">
                                                    <span class="input-group-addon add-on"><span>THB</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="txtRemarks">Remarks </label>
                                                <textarea class="form-control" cols="5" id="txtRemarks"></textarea>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="txtRemarksInternal">Remarks (Internal)</label>
                                                <textarea class="form-control" cols="5" id="txtRemarksInternal"></textarea>
                                            </div>
                                        </div>

                                    </div>


                                    <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                        SAVE</button>
                                    <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                        UPDATE</button>
                                    <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                        DELETE</button>
                                    <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                                        CREATE NEW</button>
                                    <button id="btnSave" type="submit" class="btn btn-info btnSave">
                                        QUIT FORM</button>
                                    <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
                                        <span class="fa fa-refresh"></span>
                                    </a>
                                </div>
                                <div class="col-md-4 summery-detail summery-uitilities-detail summerytab2-2">
                                    <div class="panel-body tab-itenaries ">
                                        <div class="panel-group">
                                            <div class="panel panel-red">
                                                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                                                    <h4 class="panel-title">Summary <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report"></a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                                                    <div class="panel-body summary-body">
                                                        <table class="table summary-list">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Created By: </td>
                                                                    <td><span class="label label-success">Samir Shah</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Created Date: </td>
                                                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Created From Branch: </td>
                                                                    <td><span class="label label-danger">Bangkok</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Last Updated By: </td>
                                                                    <td><span class="label label-info">Samir Shah</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Last Updated Date: </td>
                                                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Page Load Time: </td>
                                                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Record Update Time: </td>
                                                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>