<div class="col-md-8 full-responsive">
    <form>
        <h3 class="tab9section1">Create Room Price List (Net Rates)- <span class="text-danger">Hotel De Bangkok - Bangkok</span></h3>

        <div class="form-group formroomprice">
            <div class="row">
                <div class="col-md-6">
                    <label for="drpCostingSet">Costing Set </label>
                    <select id="drpCostingSet" class="js-states form-control" style="display: none; width: 100%">
                        <option selected="selected">Set1</option>
                        <option>Set2</option>
                        <option>Set3</option>
                        <option>Set4</option>
                    </select>
                </div>
                 <div class="col-md-3">
                    <label for="drpTypeOfSupplier">Rate Type<span>*</span></label>
                    <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                        <option selected="selected">Alloted</option>
                        <option>On Request</option>
                       
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="drpTypeOfSupplier">Supplier Type<span>*</span></label>
                    <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 100%">
                        <option selected="selected">Accommodation</option>
                        <option>Supplier</option>
                        <option>Other</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="row">

                <div class="col-md-3">
                    <label for="drpSupplier">Supplier </label>
                    <select id="drpSupplier" class="js-states form-control" style="display: none; width: 100%">
                        <option selected="selected">Hotel De Bangkok</option>
                        <option>Sunshine Hotel & Residency,Pattaya</option>
                        <option>Hotel Sea Princess,Phuket</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="drpHotel">Hotel </label>
                    <select id="drpHotel" class="js-states form-control" style="display: none; width: 100%">
                        <option selected="selected">Hotel De Bangkok Hotel</option>

                    </select>
                </div>
                <div class="col-md-3">
                    <label for="txtFromDate">From Date </label>
                    <input type="text" class="form-control date-picker" id="txtFromDate" value="01/01/2016" placeholder="From Validity">
                </div>
                <div class="col-md-3">
                    <label for="txtTodate">To Date </label>
                    <input type="text" class="form-control date-picker" id="txtTodate" value="01/06/2016" placeholder="To Validity">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">

                <div class="col-md-3">
                    <label for="drpRoomCategory">Room Category </label>
                    <select id="drpRoomCategory" class="js-states form-control" style="display: none; width: 100%">
                        <option>Standard </option>
                        <option>Delux </option>
                        <option>Supirior</option>

                    </select>
                </div>
                <div class="col-md-3">
                    <label for="txtMaxPax">Max Pax</label>
                    <input type="text" class="form-control" id="txtMaxPax" value="3" readonly placeholder="Max Pax">
                </div>
                <div class="col-md-3">
                    <label for="txtminstay"># of Rooms</label>
                    <select id="drpBoardType" class="js-states form-control" style="display: none; width: 100%">
                       <option><= 7</option>
                        <option>>= 8</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="txtminstay">Min Stay (Days)</label>
                    <input type="text" class="form-control" id="txtminstay" value="2" placeholder="Max Pax">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">


                <div class="col-md-3">

                    <label for="drpStatus">Status</label>
                    <select id="drpStatus" class="js-states form-control" style="display: none; width: 100%">
                        <option selected="selected">Active </option>
                        <option>Inactive </option>
                    </select>

                </div>

            </div>
        </div>
        <div class="form-group">
            <label for="lbloperatingweekday">Operating Week Days </label>
            <div class="row">
                <div class="col-md-12">
                     <input type="checkbox">All &nbsp &nbsp
                    <input type="checkbox" checked>Mon &nbsp &nbsp
                                           <input type="checkbox" checked>Tue &nbsp &nbsp
                                           <input type="checkbox" checked>Wed &nbsp &nbsp
                                           <input type="checkbox" checked>Thu &nbsp &nbsp
                                           <input type="checkbox" checked>Fri &nbsp &nbsp
                                           <input type="checkbox" checked>Sat &nbsp &nbsp 
                                            <input type="checkbox" checked>Sun &nbsp &nbsp
                </div>

            </div>
        </div>

        <br />
        <button id="btnSave" type="submit" class="btn btn-success btnSave">
            SAVE</button>
        <button id="btnSave" type="submit" class="btn btn-primary btnSave">
            UPDATE</button>
        <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
            DELETE</button>
        <button id="btnSave" type="submit" class="btn btn-warning btnSave">
            CREATE NEW</button>
        <button id="btnSave" type="submit" class="btn btn-info btnSave">
            QUIT FORM</button>
        <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
            <span class="fa fa-refresh"></span>
        </a>

    </form>
</div>
<div class="col-md-4 summery-detail summery-uitilities-detail summerytab2">
    <div class="panel-body tab-itenaries ">
        <div class="panel-group">
            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title roompricesummery">Summary 
                         <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report">
                                                    <i class="fa fa-tasks"></i>
                                                </a>
                        <a id="startGuiededTour" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Guided Tour">
                            <i class="icon-info"></i>
                        </a>
                        <a id="startTimeline" onclick="$('#showRightSideTimeline').trigger('click')" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="View Trail">
                            <i class="fa fa-sitemap"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>
                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created From Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Page Load Time: </td>
                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                </tr>
                                <tr>
                                    <td>Record Update Time: </td>
                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
