<div class="col-md-8 full-responsive">
    <form>
        <h3 class="tab9section1">Create Function Room Rate- <span class="text-danger">Outtrigger 2015/16 Full Year Group | 0001 | Group</span></h3>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtConferenceRoomName">Function Room Venue <span>*</span></label>
                    <input type="text" class="form-control" id="txtConferenceRoomName" value="First Floor Hall" placeholder="Conference Room Name">
                </div>
                <div class="col-md-3">
                    <label for="txtRateFromDate">From Date</label>
                    <input type="text" class="form-control date-picker" id="txtRateFromDate" value="01/07/2016" placeholder="Travel From Date">
                </div>
                <div class="col-md-3">
                    <label for="txtRateToDate">To Date </label>
                    <input type="text" class="form-control date-picker" id="txtRateToDate" value="04/20/2016" placeholder="Travel To Date">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="drpFunctionType">Guest Nationality</label>
                    <select id="drpRoomCategory" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                        <option selected="selected">All</option>
                        <option>Asian-Indian </option>
                        <option>Europian</option>
                        <option>Autralian</option>
                    </select>

                </div>

            </div>
        </div>
        <h3 class="tab9section1" style="margin-top:4%">Function Room Rate</h3>
        <div style="border: 1px dashed #ccc;">
            <div style="padding: 5px">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="txtFromDate">Function Type</label>
                            <select id="drpFunctionType" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                                <option selected="selected">Half Day AM</option>
                                <option>Half Day PM</option>
                                <option>Full Day</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="txtFromTime">From Time </label>
                            <div class="input-group input-append bootstrap-timepicker">
                                <input type="text" class="form-control timepicker" value="1200" id="">
                                <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="txtToTime">To Time </label>
                            <div class="input-group input-append bootstrap-timepicker">
                                <input type="text" class="form-control timepicker" value="1200" id="">
                                <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                         <div class="col-md-3">
                            <label for="txtToTime">Min. Guaranteed Pax</label>
                            <input type="text" class="form-control " value="50" id="">
                        </div>
                        <div class="col-md-3">
                            <label for="txtToTime"># Tea Coffee Break</label>
                            <input type="text" class="form-control " value="2" id="">
                        </div>
                       
                        <div class="col-md-3">
                            <label for="txtToTime"># Lunch</label>
                            <input type="text" class="form-control " value="1" id="">
                        </div>
                         <div class="col-md-3">
                            <label for="txtToTime">Menu Type</label>
                            <select id="drpFunctionType" class="js-states form-control" style="display: none; width: 100%">
                                <option selected="selected">Set Lunch</option>
                                <option>Buffet</option>
                               
                            </select>
                        </div>
                       
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                         <div class="col-md-3">
                            <label for="txtAdultRate">Adult Rate</label>
                            <div class="input-group input-append">
                                <input type="text" class="form-control" id="" value="1900" placeholder="Double Room Rate">
                                <span class="input-group-addon add-on"><span>THB</span></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="txtAdultRate">Child Rate</label>
                            <div class="input-group input-append">
                                <input type="text" class="form-control" id="txtAdultRate" value="1900" placeholder="Double Room Rate">
                                <span class="input-group-addon add-on"><span>THB</span></span>
                            </div>
                        </div>
                        <div class="col-md-6" style="text-align: right">
                            <label for="drpStatus">&nbsp;</label><br />
                            <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="form-group" style="padding-top:3%">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="tab2section6">&nbsp;Inclusions / Benefits <span class="text-danger"></span></h3>
                    <div class="table-responsive">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="width: 7%; padding: 5px">Sr. No</th>
                                    <th style="width: 27%; padding: 5px">Heading</th>
                                    <th style="width: 50%; padding: 5px">Inclusions / Benefits</th>
                                    <th style="width: 11%; padding: 5px">For Quote</th>
                                    <th style="width: 5%; padding: 5px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="1" placeholder="Service Cost ">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="" placeholder="Heading">
                                    </td>

                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeTo" value="" placeholder="Inclusions / Benifits">
                                    </td>

                                    <td style="padding: 5px">
                                        <input type="checkbox" checked="checked" class="form-control">
                                    </td>
                                    <td style="padding: 5px"></td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="2" placeholder="Service Cost ">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="" placeholder="Heading">
                                    </td>

                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeTo" value="" placeholder="Inclusions / Benifits">
                                    </td>

                                    <td style="padding: 5px">
                                        <input type="checkbox" checked="checked" class="form-control">
                                    </td>

                                    <td style="padding: 5px">
                                        <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="3" placeholder="Service Cost ">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="" placeholder="Heading">
                                    </td>

                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeTo" value="" placeholder="Inclusions / Benifits">
                                    </td>

                                    <td style="padding: 5px">
                                        <input type="checkbox" checked="checked" class="form-control">
                                    </td>
                                    <td style="padding: 5px">
                                        <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="tab2section6">&nbsp;Terms & Conditions <span class="text-danger"></span></h3>
                    <div class="table-responsive">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="width: 7%; padding: 5px">Sr. No</th>
                                    <th style="width: 27%; padding: 5px">Heading</th>
                                    <th style="width: 50%; padding: 5px">Terms & Conditions</th>
                                    <th style="width: 11%; padding: 5px">For Quote</th>
                                    <th style="width: 5%; padding: 5px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="1" placeholder="Service Cost ">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="" placeholder="Heading">
                                    </td>

                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeTo" value="" placeholder="">
                                    </td>

                                    <td style="padding: 5px">
                                        <input type="checkbox" checked="checked" class="form-control">
                                    </td>
                                    <td style="padding: 5px"></td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="2" placeholder="Service Cost ">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="" placeholder="Heading">
                                    </td>

                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeTo" value="" placeholder="">
                                    </td>

                                    <td style="padding: 5px">
                                        <input type="checkbox" checked="checked" class="form-control">
                                    </td>

                                    <td style="padding: 5px">
                                        <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="3" placeholder="Service Cost ">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="" placeholder="Heading">
                                    </td>

                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeTo" value="" placeholder="">
                                    </td>

                                    <td style="padding: 5px">
                                        <input type="checkbox" checked="checked" class="form-control">
                                    </td>
                                    <td style="padding: 5px">
                                        <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <h3 style="margin-top:4%">Dimensions</h3>
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label for="txtConferenceRoomName">Minimum Pax Capacity</label>
                    <input type="text" class="form-control" id="txtConferenceRoomName" value="20" placeholder="Conference Room Name">
                </div>
                <div class="col-md-3">
                    <label for="txtSetupStyle">Measurement</label>
                    <select id="drpStatusApplied" class="js-states form-control" style="display: none; width: 100%">
                        <option selected="selected">Feet</option>
                        <option>Meter</option>

                    </select>
                </div>
                <div class="col-md-2">
                    <label for="txtConferenceRoomName">Length</label>
                    <input type="text" class="form-control" id="txtConferenceRoomName" value="5.5" placeholder="Conference Room Name">
                </div>
                <div class="col-md-2">
                    <label for="txtConferenceRoomName">Width</label>
                    <input type="text" class="form-control" id="txtConferenceRoomName" value="10.5" placeholder="Conference Room Name">
                </div>
                <div class="col-md-2">
                    <label for="txtConferenceRoomName">Height</label>
                    <input type="text" class="form-control" id="txtConferenceRoomName" value="8.5" placeholder="Conference Room Name">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="tab9section1">Floor Plan</h3>
                    <div class="table-responsive">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th class="" style="width: 49%; padding: 5px">Floor Plan</th>
                                    <th class="" style="width: 45%; padding: 5px">Comments</th>
                                    <th class="" style="width: 6%; padding: 5px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td style="padding: 5px">
                                        <input type="text" class="form-control req" id="txtLogo" onclick="$('#logoselect1122').click();" placeholder="Plan 1">
                                        <input id="logoselect1122" type="file" style="display: none" />
                                    </td>

                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtTotalTables" placeholder="Comments">
                                    </td>

                                    <td style="padding: 5px"><a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a></td>
                                </tr>

                                <tr>

                                    <td style="padding: 5px">
                                        <input type="text" class="form-control req" id="txtLogo" onclick="$('#logoselect122s').click();" placeholder="Plan 2">
                                        <input id="logoselect122s" type="file" style="display: none" />
                                    </td>

                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtTotalTables" placeholder="Comments">
                                    </td>

                                    <td style="padding: 5px"><a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">


                    <h3 class="tab9section1">Setup Style</h3>
                    <div class="table-responsive">
                        <table style="width: 100%">
                            <tr>
                                <th class="" style="width: 20%; padding: 5px">Setup Style</th>
                                <th class="" style="width: 15%; padding: 5px">Capacity</th>
                                <th class="" style="width: 15%; padding: 5px">Total Tables</th>
                                <th class="" style="width: 33%; padding: 5px">Remarks</th>
                                <th class="" style="width: 11%; padding: 5px">Floor Plan</th>

                                <th class="" style="width: 6%; padding: 5px"></th>
                            </tr>
                            <tbody>
                                <tr>
                                    <td style="padding: 5px">

                                        <input type="text" class="form-control" id="txtSetupStyle" value="Banquet" placeholder="Setup Style">
                                    </td>
                                    <td style="padding: 5px">

                                        <input type="text" class="form-control" id="txtCapacity" value="20" placeholder="Setup Style">
                                    </td>
                                    <td style="padding: 5px">

                                        <input type="text" class="form-control" id="txtTotalTables" value="1" placeholder="Setup Style">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtTotalTables" placeholder="Remarks">
                                    </td>

                                    <td style="padding: 5px">
                                        <a class="btn label-success" style="background-color: #22BAA0 !important; color: white !important" href="javascript:void(0);" data-toggle="modal" data-target="#myModal1">
                                            <span class="fa fa-upload"></span>
                                        </a>
                                    </td>

                                    <td style="padding: 5px"><a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a></td>
                                </tr>

                                <tr>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtSetupStyle" value="Banquet" placeholder="Setup Style">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtCapacity" value="10" placeholder="Setup Style">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtTotalTables" value="2" placeholder="Setup Style">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtTotalTables" placeholder="Remarks">
                                    </td>

                                    <td style="padding: 5px">
                                        <a class="btn label-success" style="background-color: #22BAA0 !important; color: white !important" href="javascript:void(0);" data-toggle="modal" data-target="#myModal1">
                                            <span class="fa fa-upload"></span>
                                        </a>
                                    </td>

                                    <td style="padding: 5px"><a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a></td>
                                </tr>
                            </tbody>


                        </table>
                    </div>
                </div>
            </div>
        </div>
      <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="tagSearch">Custom Tags</label>
                    <input type="text" data-role="tagsinput" id="txtTagSearchsum" class="form-control" placeholder="Custom Tags" />
                </div>
            </div>
        </div>
    </form>

    <button id="btnSave" type="submit" class="btn btn-success btnSave">
        SAVE</button>
    <button id="btnSave" type="submit" class="btn btn-primary btnSave">
        UPDATE</button>
    <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
        DELETE</button>
    <button id="btnSave" type="submit" class="btn btn-warning btnSave">
        CREATE NEW</button>
    <button id="btnSave" type="submit" class="btn btn-info btnSave">
        QUIT FORM</button>
    <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
        <span class="fa fa-refresh"></span>
    </a>
</div>

<div class="col-md-4 summery-detail summery-uitilities-detail summerytab3">
    <div class="panel-body tab-itenaries ">
        <div class="panel-group">
            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title">Summary <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report"></a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>
                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created From Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Page Load Time: </td>
                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                </tr>
                                <tr>
                                    <td>Record Update Time: </td>
                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modify-colum-model" id="myModal1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Floor Plan</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="table-responsive">
                                <table style="width: 100%">
                                    <tr>
                                        <th class="" style="width: 49%; padding: 5px">Floor Plan</th>
                                        <th class="" style="width: 45%; padding: 5px">Comments</th>
                                        <th class="" style="width: 6%; padding: 5px"></th>
                                    </tr>
                                    <tbody>
                                        <tr>

                                            <td class="" style="padding: 5px">
                                                <input type="text" class="form-control req" id="txtLogo" onclick="$('#logoselect1122').click();" placeholder="Plan 1">
                                                <input id="logoselect1122" type="file" style="display: none" />
                                            </td>

                                            <td class="" style="padding: 5px">
                                                <input type="text" class="form-control" id="txtTotalTables" placeholder="Comments">
                                            </td>

                                            <td class="" style="padding: 5px"><a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a></td>
                                        </tr>

                                        <tr>

                                            <td class="" style="padding: 5px">
                                                <input type="text" class="form-control req" id="txtLogo" onclick="$('#logoselect122s').click();" placeholder="Plan 2">
                                                <input id="logoselect122s" type="file" style="display: none" />
                                            </td>

                                            <td class="" style="padding: 5px">
                                                <input type="text" class="form-control" id="txtTotalTables" placeholder="Comments">
                                            </td>

                                            <td class="" style="padding: 5px"><a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a></td>
                                        </tr>
                                    </tbody>


                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success ">Add</button>
            </div>
        </div>
    </div>
</div>
