@{
    ViewBag.Title = "Room Price List";
    ViewBag.PageTitle = "Room Price List";
    ViewBag.FooterCopyRight = "2015 &copy; Green Travel.";
}

<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tab1" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Serach Room Price List </a></li>
                    <li role="presentation"><a href="#tab2" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord"><span class="menu-icon fa fa-bed"></span>&nbsp;&nbsp;&nbsp;&nbsp;Create Room Price List</a></li>
                    <li role="presentation"><a href="#tab3" role="tab" data-toggle="tab" data-section="tab3" class="basic-accord"><span class="menu-icon fa fa-file-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;Override Standard Margin Rule For FIT</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <form>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Hotel</label>
                                    <input type="text" class="form-control" id="txtOfficialEmail" value="Amari Ocean Pattaya" placeholder="Hotel">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <div class="dropdown table-custome-drop">
                                        <div class="btn-group">
                                            <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <span class="glyphicon glyphicon-download-alt"></span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Excel</a></li>
                                                <li><a href="#">PDF</a></li>
                                                <li><a href="#">Email</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <table id="example-editable" class="display table" style="width: 100%; cellspacing: 0;">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nationality</th>
                                                <th>Travel Date </th>
                                                <th>Accommodation Type </th>
                                                <th>Room Type </th>
                                                <th>Max Pax </th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>Nationality</th>
                                                <th>Travel Date </th>
                                                <th>Accommodation Type </th>
                                                <th>Room Type </th>
                                                <th>Max Pax </th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr>
                                                <th></th>
                                                <th>
                                                    <input type="text" />
                                                </th>
                                                <th>
                                                    <input type="text" />
                                                </th>
                                                <th>
                                                    <input type="text" />
                                                </th>
                                                <th>
                                                    <input type="text" />
                                                </th>
                                                <th>
                                                    <input type="text" />
                                                </th>
                                                <th>
                                                    <a href="#">
                                                        <img src="assets/images/srach.png" height="15" width="15" /></a> <a href="#">
                                                            <img src="assets/images/close.png" height="15" width="15" /></a>
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td><span>Asian - Indian</span></td>
                                                <td><span>01/01/2016</span> - <span>31/12/2016</span></td>
                                                <td><span>Single Room</span></td>
                                                <td><span>Standard</span></td>
                                                <td><span>12</span></td>
                                                <td>
                                                    <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                    &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td><span>European </span></td>
                                                <td><span>01/01/2016</span> - <span>31/12/2016</span></td>
                                                <td><span>Single Room</span></td>
                                                <td><span>Super Deluxe</span></td>
                                                <td><span>12</span></td>
                                                <td>
                                                    <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                    &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="tab2">
                        <div class="col-md-7">
                            <form>
                                <h3 class="tab9section1">Create Room Price List - <span class="text-danger">Amari Ocean Pattaya - Pattaya</span></h3>
                                <div class="form-group">
                                    <label for="drpNationalitySet">Nationality Set </label>
                                    <select id="drpNationalitySet" class="js-states form-control" style="display: none; width: 100%">
                                        <option selected="selected">Asian - Indian</option>
                                        <option>Affrican</option>
                                        <option>Europen</option>
                                        <option>Austrailian</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="txtFromValidityDate">From Travel Date </label>
                                            <input type="text" class="form-control date-picker" id="txtFromValidityDate" value="01/07/2016" placeholder="From Validity">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="txtToValidityDate">To Travel Date </label>
                                            <input type="text" class="form-control date-picker" id="txtToValidityDate" value="04/20/2016" placeholder="To Validity">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="drpRoomType">Room Type </label>
                                            <select id="drpRoomType" class="js-states form-control" style="display: none; width: 100%">
                                                <option>Superior Twin Room with Garden View </option>
                                                <option>Room Selected at Check In </option>
                                                <option selected="selected">Deluxe Twin Room </option>
                                                <option>Superior Double Room with Garden View </option>
                                                <option>Deluxe Double Room with Garden View </option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="txtMaxPax">Max Pax</label>
                                            <input type="text" class="form-control" id="txtMaxPax" value="3" readonly placeholder="Max Pax">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="display: none;">
                                    <label for="drpMealPlan">Meal Plan </label>
                                    <select id="drpMealPlan" class="js-states form-control" style="display: none; width: 100%">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="drpMealPlan">Additional Services</label>
                                    <select id="drpMealPlan" multiple="multiple" class="js-states form-control" style="display: none; width: 100%">
                                        <option selected="selected">With Breakfast</option>
                                        <option>Without Breakfast</option>
                                        <option selected="selected">With Lunch</option>
                                        <option>Without Lunch</option>
                                        <option selected="selected">Airport Shuttle</option>
                                        <option>ATM on site</option>
                                        <option>Laundry</option>
                                        <option>Hair/Beauty Salon</option>
                                        <option>VIP Room Facilities</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="txtSingleRoomRate">Single Room Rate</label>
                                            <div class="input-group input-append">
                                                <input type="text" class="form-control" id="txtSingleRoomRate" value="4200" placeholder="Single Room Rate">
                                                <span class="input-group-addon add-on"><span>THB</span></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="txtDoubleTwinRoomRate">Double / Twin Room Rate </label>
                                            <div class="input-group input-append">
                                                <input type="text" class="form-control" id="txtDoubleTwinRoomRate" value="4000" placeholder="Double / Twin Room Rate">
                                                <span class="input-group-addon add-on"><span>THB</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="txtExtraAdultRate">Extra Adult Rate </label>
                                            <div class="input-group input-append">
                                                <input type="text" class="form-control" id="txtExtraAdultRate"  value="2500" placeholder="Extra Adult Rate">
                                                <span class="input-group-addon add-on"><span>THB</span></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtExtraCWBRate">Extra CWB Rate </label>
                                            <div class="input-group input-append">
                                                <input type="text" class="form-control" id="txtExtraCWBRate" value="2100"  placeholder="Extra CWB Rate">
                                                <span class="input-group-addon add-on"><span>THB</span></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtExtraCNBRate">Extra CNB Rate </label>
                                            <div class="input-group input-append">
                                                <input type="text" class="form-control" id="txtExtraCNBRate" value="1800"  placeholder="Extra CNB Rate">
                                                <span class="input-group-addon add-on"><span>THB</span></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtInfantRate">Infant Rate </label>
                                            <div class="input-group input-append">
                                                <input type="text" class="form-control" id="txtInfantRate" value="1000"  placeholder="Infant Rate">
                                                <span class="input-group-addon add-on"><span>THB</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br />
                                <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                    SAVE</button>
                                <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                    UPDATE</button>
                                <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                    DELETE</button>
                                <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                                    CLEAR</button>
                                <button id="btnSave" type="submit" class="btn btn-info btnSave">
                                    QUIT FORM</button>
                            </form>
                        </div>
                        <div class="col-md-5 summery-detail summerytab2">
                            <div class="panel panel-white">
                                <h4 class="panel-title-summery">Summary </h4>
                                <ul class="utilitis-drop ">
                                    <li><a href="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown">
                                        <img src="assets/images/utilitis-icon.png" height="19" width="19" /></a>
                                        <ul>
                                            <li><a href="#"><i class="task">&nbsp;</i><br />
                                                Task </a></li>
                                            <li><a href="#"><i class="noti">&nbsp;</i><br />
                                                Notifications </a></li>
                                            <li><a href="#"><i class="cal">&nbsp;</i><br />
                                                Calendar </a></li>
                                            <li><a href="#"><i class="e-mail">&nbsp;</i><br />
                                                Email </a></li>
                                            <li><a href="#"><i class="sms">&nbsp;</i><br />
                                                SMS </a></li>
                                            <li><a href="#"><i class="notes">&nbsp;</i><br />
                                                Notes </a></li>
                                            <li><a href="#"><i class="tages">&nbsp;</i><br />
                                                Tags </a></li>
                                            <li><a href="#"><i class="help-video">&nbsp;</i><br />
                                                Help Video </a></li>
                                            <li><a href="#"><i class="guided-tour">&nbsp;</i><br />
                                                Guided Tour </a></li>
                                            <li><a href="#"><i class="copy">&nbsp;</i><br />
                                                Copy </a></li>
                                            <li><a href="#"><i class="print">&nbsp;</i><br />
                                                Print </a></li>
                                            <li><a href="#"><i class="updates">&nbsp;</i><br />
                                                Updates </a></li>
                                            <li><a href="#"><i class="screns">&nbsp;</i><br />
                                                Screenshot </a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="panel-body" style="border: 1px solid #22BAA0;">
                                    <div class="summ-lis-height">
                                        <ul class="summery-list slimscroll">
                                            <div class="summ-list-left">
                                                <li>Nationality Set <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblHotelName" for="txtHotelName"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>From Travel Date
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblTypeOfHotel" for="drpTypeOfHotel"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                

                                            </div>
                                            <div class="summ-list-right">
                                                <li>To Travel Date 
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblStarRating" for="drpStarRating"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>Room Type
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblOperatingCurrency" for="drpOperatingCurrency"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="summery-buttons">
                                        <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                            SAVE</button>
                                        <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                            UPDATE</button>
                                        <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                            DELETE</button>
                                        <p>
                                            Inputs with <i class="cross">&nbsp;</i> mark are incorrect
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab3">
                        <form>
                            <div class="col-md-12">


                                <h3 class="tab9section1">Override Standard Margin Rule For FIT - <span class="text-danger">Amari Ocean Pattaya - Pattaya</span></h3>
                                <div class="table-responsive">
                                    <table id="example-editable" class="display table datatable" style="width: 100%; cellspacing: 0;">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Agent Type</th>
                                                <th>Margin(%)</th>
                                                <th>Margin Amount</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>Agent Type</th>
                                                <th>Margin(%)</th>
                                                <th>Margin Amount</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Gold</td>
                                                <td><span class="spaneditable">12</span></td>
                                                <td><span class="spaneditable"></span></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Silver</td>
                                                <td><span class="spaneditable"></span></td>
                                                <td><span class="spaneditable">120</span> THB</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="panel panel-white">
        <h4 class="panel-title-summery">Utilities </h4>
        <div class="panel-body utility-panel">
            <ul class="utility-list">
                <li>
                    <a href="#">
                        <i class="task">&nbsp;</i><br />
                        Task
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="noti">&nbsp;</i><br />
                        Notifications
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="cal">&nbsp;</i><br />
                        Calendar
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="e-mail">&nbsp;</i><br />
                        Email
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="sms">&nbsp;</i><br />
                        SMS
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="notes">&nbsp;</i><br />
                        Notes
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="tages">&nbsp;</i><br />
                        Tags
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="help-video">&nbsp;</i><br />
                        Help Video
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="guided-tour">&nbsp;</i><br />
                        Guided Tour
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="copy">&nbsp;</i><br />
                        Copy
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="print">&nbsp;</i><br />
                        Print
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="updates">&nbsp;</i><br />
                        Updates
                    </a>
                </li>
                <li>

                    <a href="#">
                        <i class="screns">&nbsp;</i><br />
                        Screenshot
                    </a>
                </li>
            </ul>

        </div>
    </div>

</div>

