  <div class="col-md-8 full-responsive">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtSrNo">Sr No</label>
                                        <input type="text" class="form-control" id="txtSrNo" placeholder="Sr No" readonly>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="txtDate">Date</label>
                                            <input type="text" class="form-control date-picker" id="txtDate" placeholder="Receipt Date">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtBillNumber">Bill Number</label>
                                        <input type="text" class="form-control" id="txtBillNumber" placeholder="Bill Number">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtRemarks">Our  Reference Number</label>
                                        <input type="text" class="form-control" id="txtBillNumber" placeholder="Bill Number">
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div>
                                        <div class="form-group">
                                            <label for="txtCash/Bank">Cash / Bank</label>
                                            <input type="text" class="form-control" id="txtCash/Bank" placeholder="Cash / Bank">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div>
                                        <div class="form-group">
                                            <label for="txtRemarks">Remarks</label>
                                            <textarea class="form-control" cols="5" id="txtRemarks"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                SAVE</button>
                            <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                UPDATE</button>
                            <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                DELETE</button>
                            <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                                CLEAR</button>
                            <button id="btnSave" type="submit" class="btn btn-info btnSave">
                                QUIT FORM</button>
                            <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
                                <span class="fa fa-refresh"></span>
                            </a>
                        </div>
                        <div class="col-md-4 summery-detail summery-uitilities-detail summerytab2">
                            <div class="panel-body tab-itenaries ">
                                <div class="panel-group">
                                    <div class="panel panel-red">
                                        <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                                            <h4 class="panel-title">Summary <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report">
                                                <i class="icon-reload"></i>
                                            </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                                            <div class="panel-body summary-body">
                                                <table class="table summary-list">
                                                    <tbody>
                                                        <tr>
                                                            <td>Created By: </td>
                                                            <td><span class="label label-success">Samir Shah</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Created Date: </td>
                                                            <td><span class="label label-warning">06-Mar-2016</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Created From Branch: </td>
                                                            <td><span class="label label-danger">Bangkok</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Last Updated By: </td>
                                                            <td><span class="label label-info">Samir Shah</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Last Updated Date: </td>
                                                            <td><span class="label label-warning">14-Mar-2016</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Page Load Time: </td>
                                                            <td><span class="label label-info">00:01:00 Minutes</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Record Update Time: </td>
                                                            <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>