 <table style="width: 100%; cellspacing: 0;" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Account - Expense / Party Account</th>
                                    <th>Amount</th>
                                    <th>Balance</th>
                                    <th>Against Book Reference</th>
                                    <th>Remarks</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <input type="text" />
                                    </td>
                                    <td>
                                        <input type="text" />
                                    </td>
                                    <td>
                                        <input type="text" />
                                    </td>
                                    <td>
                                        <input type="text" />
                                    </td>
                                    <td>
                                        <input type="text" />
                                    </td>
                                    <td>Ledger</td>
                                </tr>
                                <tr>

                                    <td>
                                        <button id="btnadd" class="btn btn-success btnSave" type="submit">
                                            Add</button>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>