<div class="col-md-8 full-responsice">
    <div class="form-group formimageentry">
        <div class="row">
            <div class="col-md-6">
                <label for="drpTypeOfSupplier">Supplier Type<span>*</span></label>
                <select id="drpTypeOfSupplier11" class="js-states form-control" style="display: none; width: 100%">
                    <option selected="selected">Accommodation</option>
                    <option>Coach</option>
                    <option>Guide</option>
                    <option>Driver</option>
                    <option>Meal</option>
                    <option>Transport</option>
                    <option>Sightseeing</option>
                    <option>Supplier</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="txtSupplierName">Supplier <span>*</span></label>
                <input type="text" class="form-control req" id="txtSupplierName" value="Amari Ocean Pattaya" placeholder="Supplier Name">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label for="drpImageSize">Image For</label>
                <select id="drpImageSize" class="js-states form-control" style="display: none; width: 100%">
                    <option selected="selected">Room</option>
                    <option>Function Room</option>
                    <option>Restaurant</option>
                    <option>Front View</option>
                    <option>Reception</option>
                    <option>Gymnacium</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="txtImageTitle">Image Title<span>*</span></label>
                <input type="text" class="form-control req" id="txtImageTitle" value="Hotel" placeholder="Hotel">
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label for="drpImageType">Image Type</label>
                <select id="drpImageType" class="js-states form-control" style="display: none; width: 100%">
                    <option selected="selected">Thumbnail</option>
                    <option>Slider</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="drpImageSize">Image Size</label>
                <select id="drpImageSize" class="js-states form-control" style="display: none; width: 100%">
                    <option selected="selected">Small</option>
                    <option>Large</option>
                </select>
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label for="txtImagePath">Image Path<span>*</span></label>
                <input type="text" class="form-control req" id="txtImagePath" value="D:/Image/Hotel.jpg" placeholder="Hotel Name">
            </div>
            <div class="col-md-6">
                <label for="txtImagePath">Image ALT Tag</label>
                <input type="text" class="form-control req" id="txtImageAlt" value="Safari Park Zoo" placeholder="Hotel Name">
            </div>


        </div>
    </div>
    <br />
    <button id="btnsaveimage" type="submit" class="btn btn-success btnSave">
        SAVE</button>
    <button id="btnupdateimage" type="submit" class="btn btn-primary btnSave">
        UPDATE</button>
    <button id="btndeleteimage" type="submit" class="btn btn-green btnCancel">
        DELETE</button>
    <button id="btncreatenew" type="button" class="btn btn-warning btnSave">
        CREATE NEW</button>
    <button id="btnquiteimage" type="button" class="btn btn-info btnSave">
        QUIT FORM</button>
    <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
        <span class="fa fa-refresh"></span>
    </a>

</div>
<div class="col-md-4 summery-detail summery-uitilities-detail summerytab8">
    <div class="panel-body tab-itenaries ">
        <div class="panel-group">
            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title summerypannelimage">Summary
                         <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report">
                             <i class="fa fa-tasks"></i>
                         </a>
                        <a id="startGuiededTour" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Guided Tour">
                            <i class="icon-info"></i>
                        </a>
                        <a id="startTimeline" onclick="$('#showRightSideTimeline').trigger('click')" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="View Trail">
                            <i class="fa fa-sitemap"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>
                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created From Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Page Load Time: </td>
                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                </tr>
                                <tr>
                                    <td>Record Update Time: </td>
                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
