@{
    ViewBag.Title = "Function Room Price List";
    ViewBag.PageTitle = "Function Room Price List";
    ViewBag.FooterCopyRight = "2015 &copy; Green Travel.";
}

<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tab1" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Serach Function Room Price List </a></li>
                    <li role="presentation"><a href="#tab2" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord"><span class="menu-icon fa fa-bookmark"></span>&nbsp;&nbsp;&nbsp;&nbsp;Create Function Room Price List</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <form>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Hotel</label>
                                    <input type="text" class="form-control" id="txtOfficialEmail" placeholder="Hotel">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Function Room Name </label>
                                    <select id="drpTypeOfHotel" class="js-states form-control" style="display: none; width: 100%">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <div class="dropdown table-custome-drop">
                                        <div class="btn-group">
                                            <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <span class="glyphicon glyphicon-download-alt"></span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Excel</a></li>
                                                <li><a href="#">PDF</a></li>
                                                <li><a href="#">Email</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <table id="example-editable" class="display table" style="width: 100%; cellspacing: 0;">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nationality</th>
                                                <th>Function Date</th>
                                                <th>Function Type  </th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>Nationality</th>
                                                <th>Function Date</th>
                                                <th>Function Type  </th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr>
                                                <th></th>
                                                <th>
                                                    <input type="text" />
                                                </th>
                                                <th>
                                                    <input type="text" />
                                                </th>
                                                <th>
                                                    <input type="text" />
                                                </th>

                                                <th>
                                                    <a href="#">
                                                        <img src="assets/images/srach.png" height="15" width="15" /></a> <a href="#">
                                                            <img src="assets/images/close.png" height="15" width="15" /></a>
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td><span>Asian </span></td>
                                                <td><span>01/01/2016</span> - <span>31/12/2016</span></td>
                                                <td><span>Half Day AM</span></td>
                                                <td>
                                                    <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                    &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td><span>Asian </span></td>
                                                <td><span>01/01/2016</span> - <span>31/12/2016</span></td>
                                                <td><span>Full Day</span></td>
                                                <td>
                                                    <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                    &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="tab2">
                        <div class="col-md-7">
                            <form>
                                <h3 class="tab9section1">Create Function Room Price List - <span class="text-danger">Amari Ocean Pattaya - Pattaya</span></h3>
                                <div class="form-group">
                                    <label for="drpNationalitySet">Nationality Set </label>
                                    <select id="drpNationalitySet" class="js-states form-control" style="display: none; width: 100%">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="txtFromValidityDate">From Function Date </label>
                                            <input type="text" class="form-control" id="txtFromValidityDate" placeholder="From Function Date">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="txtToValidityDate">To Function Date </label>
                                            <input type="text" class="form-control" id="txtToValidityDate" placeholder="To Function Date">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="drpFunctionType">Function Type </label>
                                    <select id="drpFunctionType" class="js-states form-control" style="display: none; width: 100%">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="drpMealPlan">Additional Services</label>
                                    <select id="drpMealPlan" multiple="multiple" class="js-states form-control" style="display: none; width: 100%">
                                        <option>LCD Projector</option>
                                        <option>1 Lunch</option>
                                        <option>2 Lunch</option>
                                        <option>3 Lunch</option>
                                        <option>4 Lunch</option>
                                        <option>1 Tea / Coffee Break</option>
                                        <option>2 Tea / Coffee Break</option>
                                        <option>3 Tea / Coffee Break</option>
                                        <option>4 Tea / Coffee Break</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="txtFromTime">From Time </label>
                                            <input type="text" class="form-control" id="txtFromTime" placeholder="From Time">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="txtToTime">To Time </label>
                                            <input type="text" class="form-control" id="txtToTime" placeholder="To Time">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtPerPersonRate">Per Person Rate </label>
                                    <div class="input-group input-append">
                                        <input type="text" class="form-control" id="txtPerPersonRate" placeholder="Per Person Rate">
                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                    </div>

                                </div>

                                <br />
                                <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                    SAVE</button>
                                <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                    UPDATE</button>
                                <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                    DELETE</button>
                                <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                                    CLEAR</button>
                                <button id="btnSave" type="submit" class="btn btn-info btnSave">
                                    QUIT FORM</button>
                            </form>
                        </div>
                        <div class="col-md-5 summery-detail summerytab2">
                            <div class="panel panel-white">
                                <h4 class="panel-title-summery">Summary </h4>
                                <ul class="utilitis-drop ">
                                    <li><a href="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown">
                                        <img src="assets/images/utilitis-icon.png" height="19" width="19" /></a>
                                        <ul>
                                            <li><a href="#"><i class="task">&nbsp;</i><br />
                                                Task </a></li>
                                            <li><a href="#"><i class="noti">&nbsp;</i><br />
                                                Notifications </a></li>
                                            <li><a href="#"><i class="cal">&nbsp;</i><br />
                                                Calendar </a></li>
                                            <li><a href="#"><i class="e-mail">&nbsp;</i><br />
                                                Email </a></li>
                                            <li><a href="#"><i class="sms">&nbsp;</i><br />
                                                SMS </a></li>
                                            <li><a href="#"><i class="notes">&nbsp;</i><br />
                                                Notes </a></li>
                                            <li><a href="#"><i class="tages">&nbsp;</i><br />
                                                Tags </a></li>
                                            <li><a href="#"><i class="help-video">&nbsp;</i><br />
                                                Help Video </a></li>
                                            <li><a href="#"><i class="guided-tour">&nbsp;</i><br />
                                                Guided Tour </a></li>
                                            <li><a href="#"><i class="copy">&nbsp;</i><br />
                                                Copy </a></li>
                                            <li><a href="#"><i class="print">&nbsp;</i><br />
                                                Print </a></li>
                                            <li><a href="#"><i class="updates">&nbsp;</i><br />
                                                Updates </a></li>
                                            <li><a href="#"><i class="screns">&nbsp;</i><br />
                                                Screenshot </a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="panel-body" style="border: 1px solid #22BAA0;">
                                    <div class="summ-lis-height">
                                        <ul class="summery-list slimscroll">
                                            <div class="summ-list-left">
                                                <li>Nationality Set
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblHotelName" for="txtHotelName"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>From Function Date
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblStarRating" for="drpStarRating"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>


                                            </div>
                                            <div class="summ-list-right">
                                                <li>To Function Date 
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblOperatingCurrency" for="drpOperatingCurrency"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>Function Type
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblTypeOfHotel" for="drpTypeOfHotel"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="summery-buttons">
                                        <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                            SAVE</button>
                                        <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                            UPDATE</button>
                                        <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                            DELETE</button>
                                        <p>
                                            Inputs with <i class="cross">&nbsp;</i> mark are incorrect
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="panel panel-white">
        <h4 class="panel-title-summery">Utilities </h4>
        <div class="panel-body utility-panel">
            <ul class="utility-list">
                <li>
                    <a href="#">
                        <i class="task">&nbsp;</i><br />
                        Task
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="noti">&nbsp;</i><br />
                        Notifications
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="cal">&nbsp;</i><br />
                        Calendar
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="e-mail">&nbsp;</i><br />
                        Email
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="sms">&nbsp;</i><br />
                        SMS
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="notes">&nbsp;</i><br />
                        Notes
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="tages">&nbsp;</i><br />
                        Tags
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="help-video">&nbsp;</i><br />
                        Help Video
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="guided-tour">&nbsp;</i><br />
                        Guided Tour
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="copy">&nbsp;</i><br />
                        Copy
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="print">&nbsp;</i><br />
                        Print
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="updates">&nbsp;</i><br />
                        Updates
                    </a>
                </li>
                <li>

                    <a href="#">
                        <i class="screns">&nbsp;</i><br />
                        Screenshot
                    </a>
                </li>
            </ul>

        </div>
    </div>

</div>

