<div class="col-md-12">
    <form>
        <div class="form-group">
            <div class="row">
                <label id="lbSrnoTab4" style="display: none"></label>

                <div class="col-md-4">
                    <label>Corporate <span>*</span></label>
                    <select id="drpRightsCorporate" class="js-states col-sm-2 form-control Dropdown  " style="display: none; width: 100%">
                        <option>--Select Coporate--</option>
                        <option selected="selected">Travels Unlimited</option>
                        <option>Flamingo</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label>Unit <span>*</span></label>
                    <select id="drpRightsUnit" class="js-states col-sm-2 form-control Dropdown disableRights " style="display: none; width: 100%">
                        <option>--Select Unit--</option>
                        <option selected="selected">Bangkok</option>
                        <option>Ahmedabad</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label>Location <span>*</span></label>
                    <select id="drpRightsLocation" class="js-states col-sm-2 form-control Dropdown disableRights " style="display: none; width: 100%">
                        <option>--Select Location--</option>
                        <option selected="selected">Bangkok</option>
                        <option>Ahmedabad</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label id="lbSrnoTab4" style="display: none"></label>
                <div class="form-group col-md-4">
                    <label>Role <span>*</span></label>
                   <select id="drpRightsLocation" class="js-states col-sm-2 form-control Dropdown disableRights " style="display: none; width: 100%">
                        <option>--Select Role--</option>
                        <option selected="selected">Admin</option>
                        <option>User</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label>Module <span>*</span></label>
                   <select id="drpRightsLocation" class="js-states col-sm-2 form-control Dropdown disableRights " style="display: none; width: 100%">
                        <option>--Select Module--</option>
                        <option selected="selected">Module 1</option>
                        <option>Module 2</option>
                    </select>
                </div>
               
            </div>
        </div>
       
        <div class="row">
            <div id="grid-gallery" class="grid-gallery">
                <section class="grid-wrap">

                    <ul class="grid">
                        <li class="grid-sizer"></li>
                        <div id="partial">
                            <li>
                                <figure>
                                    <figcaption class="panel-body tab-itenaries">
                                        <div class="myDiv">
                                            <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                                <label style="display: none" id="lbheadingName"></label>
                                            </h3>
                                        </div>
                                        <h3 style="margin-top: 0; text-align: center;">
                                            <b>
                                                <label id="lbheading">
                                                    <input type="checkbox">
                                                    Screen 1</label></b></h3>

                                        <table class="table sampletable" style="margin-bottom: 0;">

                                            <tbody>
                                                <tr>
                                                    <td>Tab 1</td>
                                                    <td>
                                                        <input type="checkbox">V 
                                                                                 <input type="checkbox">C 
                                                                                 <input type="checkbox">U 
                                                                                 <input type="checkbox">D 
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Tab 2</td>
                                                    <td>
                                                        <input type="checkbox">V 
                                                                                 <input type="checkbox">C 
                                                                                 <input type="checkbox">U 
                                                                                 <input type="checkbox">D 
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Tab 3</td>
                                                    <td>
                                                        <input type="checkbox">V 
                                                                                 <input type="checkbox">C 
                                                                                 <input type="checkbox">U 
                                                                                 <input type="checkbox">D 
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Tab 4</td>
                                                    <td>
                                                        <input type="checkbox">V 
                                                                                 <input type="checkbox">C 
                                                                                 <input type="checkbox">U 
                                                                                 <input type="checkbox">D 
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </figcaption>
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <figcaption class="panel-body tab-itenaries">
                                        <div class="myDiv">
                                            <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                                <label style="display: none" id="lbheadingName"></label>
                                            </h3>
                                        </div>
                                        <h3 style="margin-top: 0; text-align: center;">
                                            <label id="lbheading">
                                                <input type="checkbox">
                                                Screen 2</label></h3>

                                        <table class="table sampletable" style="margin-bottom: 0;">

                                            <tbody>
                                                <tr>
                                                    <td>Tab 4</td>
                                                    <td>
                                                        <input type="checkbox">V 
                                                                                 <input type="checkbox">C 
                                                                                 <input type="checkbox">U 
                                                                                 <input type="checkbox">D 
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Tab 5</td>
                                                    <td>
                                                        <input type="checkbox">V 
                                                                                 <input type="checkbox">C 
                                                                                 <input type="checkbox">U 
                                                                                 <input type="checkbox">D 
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </figcaption>
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <figcaption class="panel-body tab-itenaries">
                                        <div class="myDiv">
                                            <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                                <label style="display: none" id="lbheadingName"></label>
                                            </h3>
                                        </div>
                                        <h3 style="margin-top: 0; text-align: center;">
                                            <label id="lbheading">
                                                <input type="checkbox">
                                                Screen 3</label></h3>

                                        <table class="table sampletable" style="margin-bottom: 0;">

                                            <tbody>
                                                <tr>
                                                    <td>Tab 6</td>
                                                    <td>
                                                        <input type="checkbox">V 
                                                                                 <input type="checkbox">C 
                                                                                 <input type="checkbox">U 
                                                                                 <input type="checkbox">D 
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>Tab 7</td>
                                                    <td>
                                                        <input type="checkbox">V 
                                                                                 <input type="checkbox">C 
                                                                                 <input type="checkbox">U 
                                                                                 <input type="checkbox">D 
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </figcaption>
                                </figure>
                            </li>
                            <li>
                                <figure>
                                    <figcaption class="panel-body tab-itenaries">
                                        <div class="myDiv">
                                            <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                                <label style="display: none" id="lbheadingName"></label>
                                            </h3>
                                        </div>
                                        <h3 style="margin-top: 0; text-align: center;">
                                            <label id="lbheading">
                                                <input type="checkbox">
                                                Screen 4</label></h3>

                                        <table class="table sampletable" style="margin-bottom: 0;">

                                            <tbody>
                                                <tr>
                                                    <td>Tab 8</td>
                                                    <td>
                                                        <input type="checkbox">V 
                                                                                 <input type="checkbox">C 
                                                                                 <input type="checkbox">U 
                                                                                 <input type="checkbox">D 
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Tab 9</td>
                                                    <td>
                                                        <input type="checkbox">V 
                                                                                 <input type="checkbox">C 
                                                                                 <input type="checkbox">U 
                                                                                 <input type="checkbox">D 
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </figcaption>
                                </figure>
                            </li>


                        </div>
                    </ul>

                </section>
                <section class="slideshow">

                    <ul>
                        <li></li>
                    </ul>
                </section>
            </div>


        </div>

        <br />
        <br />
        <button id="btnSavetab4" type="submit" class="btn btn-success ">
            SAVE</button>
        <button id="btnupdatetab4" type="submit" class="btn btn-primary ">
            UPDATE</button>
        <button id="btnDeletetab4" type="button" class="btn btn-green">
            DELETE</button>
        <button id="btnCleartab4" type="button" class="btn btn-warning">
            CLEAR</button>
        <button id="btnQuittab4" type="button" class="btn btn-info">
            QUIT FORM</button>
        <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
            <span class="fa fa-refresh"></span>
        </a>
    </form>
</div>
