@{
    ViewBag.Title = "Index";
    ViewBag.Title = "Manage Role";
    ViewBag.PageTitle = "Manage Role";
    
}

<link href="/assets/plugins/gridgallery/css/component.css" rel="stylesheet" type="text/css" />
<style>
    .tab-itenaries > .col-md-1 > h4,
    .tab-itenaries .col-md-2 > h4,
    .tab-itenaries .col-md-3 > h4,
    .tab-itenaries .col-md-4 > h4,
    .tab-itenaries .col-md-5 > h4,
    .tab-itenaries > .col-md-6 > h4,
    .tab-itenaries .col-md-7 > h4,
    .tab-itenaries .col-md-8 > h4,
    .tab-itenaries .col-md-9 > h4,
    .m-b-lg > h4 {
        border-bottom: 1px dotted #ccc;
        color: #40474f;
        font-size: 22px;
        font-weight: normal;
        margin: 7px 0 10px;
        padding-bottom: 5px;
    }

    .tab-itenaries .col-md-1 > h5,
    .tab-itenaries .col-md-2 > h5,
    .tab-itenaries .col-md-3 > h5,
    .tab-itenaries .col-md-4 > h5,
    .tab-itenaries .col-md-5 > h5,
    .tab-itenaries .col-md-6 > h5,
    .tab-itenaries .col-md-7 > h5,
    .tab-itenaries .col-md-8 > h5,
    .tab-itenaries .col-md-9 > h5,
    .m-b-lg > h5 {
        /*color: #40474f;*/
        font-size: 19px;
        font-weight: bold;
        margin: 0 0 10px;
        padding-bottom: 5px;
        border-bottom: 1px dotted;
        text-shadow: 1px 0px #BEC8D2;
    }

        .tab-itenaries .col-md-1 > h5 > span,
        .tab-itenaries .col-md-2 > h5 > span,
        .tab-itenaries .col-md-3 > h5 > span,
        .tab-itenaries .col-md-4 > h5 > span,
        .tab-itenaries .col-md-5 > h5 > span,
        .tab-itenaries .col-md-6 > h5 > span,
        .tab-itenaries .col-md-7 > h5 > span,
        .tab-itenaries .col-md-8 > h5 > span,
        .tab-itenaries .col-md-9 > h5 > span,
        .m-b-lg > h5 > span {
            float: right;
        }

    .tab-itenaries a > span {
        font-weight: bold;
        font-size: 14px;
    }

    /*.tab-itenaries span {
        font-weight: bold;
        font-size: 14px;
        text-shadow: 1px 0 #BEC8D2;
    }*/

    .tab-itenaries {
        padding-bottom: 10px;
        border: 1px double #BEC8D2 !important;
        border-radius: 5px !important;
        box-shadow: 3px 3px 7px -5px rgba(0, 0, 0, 0.5);
        /*margin-bottom: 15px;*/
    }

        .tab-itenaries .form-control {
            border-width: 0;
            padding: 3px 10px !important;
        }

            .tab-itenaries .form-control .btn, .tab-itenaries .form-control .label {
                width: 100%;
            }

            .tab-itenaries .form-control h2 {
                margin-bottom: 0;
                margin-top: 0;
            }

        .tab-itenaries .right-border {
            border-right: 1px dotted #f25656;
            min-height: 156px;
            padding-left: 25px;
        }

        .tab-itenaries .form-control .btn {
            padding: 8px 10px;
            font-size: 13px;
            text-transform: uppercase;
        }

        .tab-itenaries span.total-cost {
            font-size: 11px;
        }

        .tab-itenaries .table > tbody > tr:first-child > td {
            border-width: 0;
        }

        .tab-itenaries .table > tbody > tr > td:first-child {
            width: 60%;
        }

        .tab-itenaries .table > tbody > tr > td:last-child {
            text-align: right;
            width: 40%;
        }

        .tab-itenaries .table > tbody > tr > td {
            font-size: 11px;
            padding: 7px !important;
        }

    .grid figcaption {
        background: #fff none repeat scroll 0 0;
        padding: 25px;
    }

    .grid li:hover figure {
        opacity: 1;
    }

    .grid li {
        cursor: default;
        float: left;
        width: 33.3% !important;
    }

    figcaption > h3 {
        border-bottom: 1px dashed #3c3c3c !important;
    }

    .grid li {
        position: relative !important;
    }

    td:first-child {
        width: 40% !important;
    }
</style>

<style>
    .hide_cell {
        display: none;
    }

    #errmsg {
        color: red;
    }

    #ulViewList {
        padding-left: 0 !important;
    }

    .field-name {
        padding-right: 15px;
    }

    .field-name {
        float: left;
        width: 50%;
    }

    .ulviewlistclass {
        padding-left: 0 !important;
    }
</style>


<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                    <li role="presentation" class="active usertab1gridclass" id="userlitab1"><a href="#tab1" role="tab" data-toggle="tab" data-section="tab1" class="basic-accord"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Search Role </a></li>
                    <li role="presentation" class="userlitab4class" id="userlitab4"><a href="#tab4" role="tab" data-toggle="tab" data-section="tab4" class="hosting-accord"><span class="menu-icon glyphicon glyphicon glyphicon-cloud"></span>&nbsp;&nbsp;&nbsp;&nbsp;Manage Role</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <div>
                            <form>
                               <div class="dropdown table-custome-drop">
                                <div class="btn-group">
                                    <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="font-size: 111%">
                                        <span class="glyphicon glyphicon-download-alt"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Excel</a></li>
                                        <li><a href="#">PDF</a></li>
                                        <li><a id="btnemail" href="javascript:void(0);" data-toggle="modal" data-target="#EmailModal">Email</a></li>
                                    </ul>
                                </div>
                                &nbsp;&nbsp;
                                <div class="btn-group btn-tables-views">
                                    <a class="label label-success dropdown-toggle " rel="tooltip" data-toggle="dropdown" title="All Views" style="font-size: 111%" aria-expanded="false">
                                        <span class="icon-grid"></span>
                                    </a>
                                    <ul class="dropdown-menu cate-drop-menu">
                                        <li><a href="javascript:void(0);" style="color: #000"><span class="fa fa-check text-success"></span>&nbsp;Default View</a></li>
                                        <li style="color: #000; padding: 5px 0" class="btn-lgdropdown-header"><a id="btnShowPopupChangeView" href="javascript:void(0);" data-toggle="modal" data-target="#myModal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Change View</a> </li>
                                    </ul>
                                    <div class="modal fade modify-colum-model" id="myModal" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Change View</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <br />
                                                    <div class="model-left-columns">
                                                        <div class="field-name">
                                                            <h3>View <a href="#"></a></h3>
                                                            <ul id="ulViewList" class="field-list slimscroll">
                                                                <li><a href="#">City</a></li>
                                                                <li><a href="#">Country</a></li>
                                                                <li><a href="#">State</a></li>
                                                                <li class="active"><a href="#">Agent Margin</a></li>
                                                                <li><a href="#">Support Mode</a></li>
                                                                <li><a href="#">Agent Type</a></li>
                                                                <li><a href="#">Control Type</a></li>
                                                                <li><a href="#">Nationality</a></li>
                                                                <li><a href="#">Vehicle Name</a></li>
                                                                <li><a href="#">SMS Configure</a></li>
                                                                <li><a href="#">Screen</a></li>
                                                                <li><a href="#">Supplier Type</a></li>
                                                                <li><a href="#">Date Format</a></li>
                                                                <li><a href="#">days</a></li>
                                                                <li><a href="#">Holiday</a></li>
                                                                <li><a href="#">Bank</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="field-name">
                                                            <h3>Field Name <a href="#">Add all</a></h3>
                                                            <div class="field-list field-list-img slimscroll">
                                                                <ul>
                                                                    <li><a href="#">Value</a></li>
                                                                    <li><a href="#">Margin Type</a></li>
                                                                    <li><a href="#">Efective Date From</a></li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="drag-drop-right">
                                                        <section>
                                                            <h2>Drag and drop reorder</h2>
                                                            <div class="cf nestable-lists">
                                                                <ol class="sortable" id="ddr">
                                                                    <li>
                                                                        <div><span class=""><span></span></span>Agent Type<a class="" href="javascript:void(0);"></a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div><span class=""><span></span></span>Agent Master Code<a class="" href="javascript:void(0);"></a></div>
                                                                    </li>
                                                                    <li id="list_4">
                                                                        <div><span class="disclose"><span></span></span>FIT/Group<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></div>
                                                                    </li>
                                                                    <li id="list_5">
                                                                        <div><span class="disclose"><span></span></span>Margin For<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></div>
                                                                    </li>
                                                                    <li id="list_9">
                                                                        <div><span class="disclose"><span></span></span>Margin Type<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></div>
                                                                    </li>

                                                                </ol>
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-success ">Apply</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade modify-colum-model" id="EmailModal" role="dialog">
                                        <div class="modal-dialog" style="width: 30%; height: 40%">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h3>Email</h3>
                                                    <br />
                                                </div>
                                                <div class="modal-body">

                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <label>To </label>
                                                                <input type="text" class="form-control req" id="txtToemail" placeholder="support@ambait.com">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <label for="txtHotelCode">Massage</label>
                                                                <textarea class="form-control" cols="5" id="txtMassageEmail"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <button type="button" class="btn btn-success ">Send</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br /><br />
                                <div class="table-responsive">

                                    <table id="example-editable" class="display table" style="width: 100%; cellspacing: 0;">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th style="display: none">srno</th>
                                                <th style="display: none">NoCount</th>
                                                <th>Corporate
                                                </th>
                                                <th>Unit
                                                </th>
                                                <th>Location
                                                </th>
                                                <th>Role
                                                </th>

                                                <th>Action
                                                </th>
                                            </tr>

                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th style="display: none">srno</th>
                                                <th style="display: none">NoCount</th>
                                                <th>Corporate
                                                </th>
                                                <th>Unit
                                                </th>
                                                <th>Location
                                                </th>
                                                <th>Role
                                                </th>
                                                <th>Action
                                                </th>
                                            </tr>
                                        </tfoot>

                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="tab4">
                        <div class="col-md-12">
                            <form>

                                <div class="row">
                                    <label id="lbSrnoTab4" style="display: none"></label>

                                    <div class="form-group col-md-4">
                                        <label>Corporate <span>*</span></label>
                                        <select id="drpRightsCorporate" class="js-states col-sm-2 form-control Dropdown  " style="display: none; width: 100%">
                                            <option>--Select Coporate--</option>
                                            <option selected="selected">Travels Unlimited</option>
                                            <option>Flamingo</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Unit <span>*</span></label>
                                        <select id="drpRightsUnit" class="js-states col-sm-2 form-control Dropdown disableRights " style="display: none; width: 100%">
                                            <option>--Select Unit--</option>
                                            <option selected="selected">Bangkok</option>
                                            <option>Ahmedabad</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Location <span>*</span></label>
                                        <select id="drpRightsLocation" class="js-states col-sm-2 form-control Dropdown disableRights " style="display: none; width: 100%">
                                            <option>--Select Location--</option>
                                            <option selected="selected">Bangkok</option>
                                            <option>Ahmedabad</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="row">
                                    <label id="lbSrnoTab4" style="display: none"></label>
                                    <div class="form-group col-md-4">
                                        <label>Role <span>*</span></label>
                                        @*<select id="drpRightsRole" class="js-states col-sm-2 form-control Dropdown disableRights " style="display: none; width: 100%"></select>*@
                                        <input type="text" id="txtrole" placeholder="Role" class="form-control ">
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="Date1" id="LbDate1">Effective Date <span>*</span></label>
                                            &nbsp
                                                    <input type="text" id="Date1" placeholder="dd/mm/yyyy" class="form-control date-picker ">
                                        </div>
                                    </div>
                                    @*<div class="col-md-1">
                                        <div class="form-group">
                                            <label for="Date1" id="LbDefault">Default ?<span></span></label>
                                            &nbsp</br>
                                                    <input id="chkdefault" type="checkbox">
                                        </div>
                                    </div>*@
                                    @*<div class="form-group col-md-4">
                                        <label>User <span>*</span></label>
                                        <select id="drpRightsUser" class="js-states col-sm-2 form-control Dropdown disableRights " style="display: none; width: 100%"></select>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Status <span>*</span></label>
                                            <select id="drpRightsStatus" class="js-states col-sm-2 form-control Dropdown  " style="display: none; width: 100%"></select>
                                        </div>
                                    </div>*@
                                </div>
                                @*<div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Default Language<span> *</span></label>
                                            <select id="DrpdefaultLanguage" class="js-states col-sm-2 form-control Dropdown disableRights " style="display: none; width: 100%"></select>
                                        </div>
                                    </div>
                                </div>*@
                                <div class="row">
                                    <div id="grid-gallery" class="grid-gallery">
                                        <section class="grid-wrap">

                                            <ul class="grid">
                                                <li class="grid-sizer"></li>
                                                <div id="partial">
                                                    <li>
                                                        <figure>
                                                            <figcaption class="panel-body tab-itenaries">
                                                                <div class="myDiv">
                                                                    <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                                                        <label style="display: none" id="lbheadingName"></label>
                                                                    </h3>
                                                                </div>
                                                                <h3 style="margin-top: 0; text-align: center;">
                                                                    <b>
                                                                        <label id="lbheading">
                                                                            <input type="checkbox">
                                                                            Module 1</label></b></h3>

                                                                <table class="table sampletable" style="margin-bottom: 0;">

                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Screen 1</td>
                                                                            <td>
                                                                                <input type="checkbox">V 
                                                                                 <input type="checkbox">C 
                                                                                 <input type="checkbox">U 
                                                                                 <input type="checkbox">D 
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Screen 2</td>
                                                                            <td>
                                                                                <input type="checkbox">V 
                                                                                 <input type="checkbox">C 
                                                                                 <input type="checkbox">U 
                                                                                 <input type="checkbox">D 
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Screen 3</td>
                                                                            <td>
                                                                                <input type="checkbox">V 
                                                                                 <input type="checkbox">C 
                                                                                 <input type="checkbox">U 
                                                                                 <input type="checkbox">D 
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Screen 4</td>
                                                                            <td>
                                                                                <input type="checkbox">V 
                                                                                 <input type="checkbox">C 
                                                                                 <input type="checkbox">U 
                                                                                 <input type="checkbox">D 
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </figcaption>
                                                        </figure>
                                                    </li>

                                                    <li>
                                                        <figure>
                                                            <figcaption class="panel-body tab-itenaries">
                                                                <div class="myDiv">
                                                                    <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                                                        <label style="display: none" id="lbheadingName"></label>
                                                                    </h3>
                                                                </div>
                                                                <h3 style="margin-top: 0; text-align: center;">
                                                                    <label id="lbheading">
                                                                        <input type="checkbox">
                                                                        Module 2</label></h3>

                                                                <table class="table sampletable" style="margin-bottom: 0;">

                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Screen 4</td>
                                                                            <td>
                                                                                <input type="checkbox">V 
                                                                                 <input type="checkbox">C 
                                                                                 <input type="checkbox">U 
                                                                                 <input type="checkbox">D 
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Screen 5</td>
                                                                            <td>
                                                                                <input type="checkbox">V 
                                                                                 <input type="checkbox">C 
                                                                                 <input type="checkbox">U 
                                                                                 <input type="checkbox">D 
                                                                            </td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                            </figcaption>
                                                        </figure>
                                                    </li>

                                                    <li>
                                                        <figure>
                                                            <figcaption class="panel-body tab-itenaries">
                                                                <div class="myDiv">
                                                                    <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                                                        <label style="display: none" id="lbheadingName"></label>
                                                                    </h3>
                                                                </div>
                                                                <h3 style="margin-top: 0; text-align: center;">
                                                                    <label id="lbheading">
                                                                        <input type="checkbox">
                                                                        Module 3</label></h3>

                                                                <table class="table sampletable" style="margin-bottom: 0;">

                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Screen 6</td>
                                                                            <td>
                                                                                <input type="checkbox">V 
                                                                                 <input type="checkbox">C 
                                                                                 <input type="checkbox">U 
                                                                                 <input type="checkbox">D 
                                                                            </td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td>Screen 7</td>
                                                                            <td>
                                                                                <input type="checkbox">V 
                                                                                 <input type="checkbox">C 
                                                                                 <input type="checkbox">U 
                                                                                 <input type="checkbox">D 
                                                                            </td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                            </figcaption>
                                                        </figure>
                                                    </li>
                                                    <li>
                                                        <figure>
                                                            <figcaption class="panel-body tab-itenaries">
                                                                <div class="myDiv">
                                                                    <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                                                        <label style="display: none" id="lbheadingName"></label>
                                                                    </h3>
                                                                </div>
                                                                <h3 style="margin-top: 0; text-align: center;">
                                                                    <label id="lbheading">
                                                                        <input type="checkbox">
                                                                        Module 4</label></h3>

                                                                <table class="table sampletable" style="margin-bottom: 0;">

                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Screen 8</td>
                                                                            <td>
                                                                                <input type="checkbox">V 
                                                                                 <input type="checkbox">C 
                                                                                 <input type="checkbox">U 
                                                                                 <input type="checkbox">D 
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Screen 9</td>
                                                                            <td>
                                                                                <input type="checkbox">V 
                                                                                 <input type="checkbox">C 
                                                                                 <input type="checkbox">U 
                                                                                 <input type="checkbox">D 
                                                                            </td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                            </figcaption>
                                                        </figure>
                                                    </li>


                                                </div>
                                            </ul>

                                        </section>
                                        <section class="slideshow">

                                            <ul>
                                                <li></li>
                                            </ul>
                                        </section>
                                    </div>


                                </div>

                                <br />
                                <br />
                                <button id="btnSavetab4" type="submit" class="btn btn-success ">
                                    SAVE</button>
                                <button id="btnupdatetab4" type="submit" class="btn btn-primary ">
                                    UPDATE</button>
                                <button id="btnDeletetab4" type="button" class="btn btn-green">
                                    DELETE</button>
                                <button id="btnCleartab4" type="button" class="btn btn-warning">
                                    CLEAR</button>
                                <button id="btnQuittab4" type="button" class="btn btn-info">
                                    QUIT FORM</button>
                                <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
                                    <span class="fa fa-refresh"></span>
                                </a>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade bs-example-modal-lg in" id="myModalIcon" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <button type="button" class="close-btn" data-dismiss="modal">Close</button>
                    <div class="modal-header">
                        <h4 class="modal-title">User Role</h4>
                    </div>
                    <div class="modal-body custom-model-body">

                        <div class="col-md-12">
                            <div class="table-responsive">
                                <form id="frmRoleGrid">
                                    <div class="table-responsive">
                                        <table id="gridRole" class="display" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th style="display: none">srno</th>
                                                    <th style="display: none">UserId</th>
                                                    <th>UserName 
                                                    </th>
                                                    <th>Unit
                                                    </th>
                                                    <th>Location
                                                    </th>
                                                    <th>Role
                                                    </th>
                                                    <th>Default
                                                    </th>
                                                    <th>Status
                                                    </th>
                                                    <th>Action
                                                    </th>
                                                </tr>

                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>#</th>
                                                    <th style="display: none">srno</th>
                                                    <th style="display: none">UserId</th>
                                                    <th>UserName 
                                                    </th>
                                                    <th>Unit
                                                    </th>
                                                    <th>Location
                                                    </th>
                                                    <th>Role
                                                    </th>
                                                    <th>Default 
                                                    </th>
                                                    <th>Status
                                                    </th>
                                                    <th>Action
                                                    </th>
                                                </tr>
                                            </tfoot>

                                        </table>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



    </div>
</div>

@section scripts{
    <script src="~/assets/plugins/datatables/js/dataTables.tableTools.js"></script>
    <script src="~/assets/plugins/table-export/tableExport.js"></script>
    <script src="~/assets/plugins/table-export/jquery.base64.js"></script>
    <script src="~/assets/plugins/table-export/html2canvas.js"></script>
    <script src="~/assets/plugins/table-export/jspdf/libs/sprintf.js"></script>
    <script src="~/assets/plugins/table-export/jspdf/jspdf.js"></script>
    <script src="~/assets/plugins/table-export/jspdf/libs/base64.js"></script>
    @*<script src="~/Scripts/JS/Page/Masters.js"></script>*@
    <script src="/assets/js/jquery.mjs.nestedSortable.js"></script>
    <script>
        $(document).ready(function () {
            $('ol.sortable').nestedSortable({
                forcePlaceholderSize: true,
                handle: 'div',
                helper: 'clone',
                items: 'li',
                opacity: .6,
                placeholder: 'placeholder',
                revert: 250,
                tabSize: 25,
                tolerance: 'pointer',
                toleranceElement: '> div',
                maxLevels: 3,

                isTree: true,
                expandOnHover: 700,
                startCollapsed: true
            });


            if ($('ol.sortable').length) {
                $('ol.sortable').nestedSortable({
                    forcePlaceholderSize: true,
                    handle: 'div',
                    helper: 'clone',
                    items: 'li',
                    opacity: .6,
                    placeholder: 'placeholder',
                    revert: 250,
                    tabSize: 25,
                    tolerance: 'pointer',
                    toleranceElement: '> div',
                    maxLevels: 3,
                    //isTree: true,
                    expandOnHover: 700,
                    startCollapsed: true
                });

                $('.disclose').on('click', function () {
                    $(this).closest('li').toggleClass('mjs-nestedSortable-collapsed').toggleClass('mjs-nestedSortable-expanded');
                })

                $('#serialize').click(function () {
                    serialized = $('ol.sortable').nestedSortable('serialize');
                    $('#serializeOutput').text(serialized + '\n\n');
                })

                $('#toHierarchy').click(function (e) {
                    hiered = $('ol.sortable').nestedSortable('toHierarchy', { startDepthCount: 0 });
                    hiered = dump(hiered);
                    (typeof ($('#toHierarchyOutput')[0].textContent) != 'undefined') ?
                    $('#toHierarchyOutput')[0].textContent = hiered : $('#toHierarchyOutput')[0].innerText = hiered;
                })

                $('#toArray').click(function (e) {
                    arraied = $('ol.sortable').nestedSortable('toArray', { startDepthCount: 0 });
                    arraied = dump(arraied);
                    (typeof ($('#toArrayOutput')[0].textContent) != 'undefined') ?
                    $('#toArrayOutput')[0].textContent = arraied : $('#toArrayOutput')[0].innerText = arraied;
                })
            }

            $('.drag-close').click(function () {
                $(this).parent().parent().remove();
            });

            $('#ulViewList').delegate("a", "click", function (e) {
                $(this).parent().parent().find("li").removeClass("active");
                $(this).parent().addClass("active");
            });
            $('.ulviewlistclass').delegate("a", "click", function (e) {
                $(this).parent().parent().find("li").removeClass("active");
                $(this).parent().addClass("active");
            });
        });
    </script>
}

