@{
    ViewBag.Title = "Index";
    ViewBag.Title = "Manage Role";
    ViewBag.PageTitle = "Manage Role";
    
}

<link href="/assets/plugins/gridgallery/css/component.css" rel="stylesheet" type="text/css" />
<link href="~/Content/CorporateRole/CorporateRole.css" rel="stylesheet" />


<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                    <li role="presentation" class="active usertab1gridclass" id="userlitab1"><a href="#tab1" role="tab" data-toggle="tab" data-section="tab1" class="basic-accord"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Search Role </a></li>
                    <li role="presentation" class="userlitab4class" id="userlitab4"><a href="#tab4" role="tab" data-toggle="tab" data-section="tab4" class="hosting-accord"><span class="menu-icon glyphicon glyphicon glyphicon-cloud"></span>&nbsp;&nbsp;&nbsp;&nbsp;Manage Role</a></li>
                    <li role="presentation" class="userlitab4class" id="userlitab5"><a href="#tab5" role="tab" data-toggle="tab" data-section="tab5" class="hosting-accord"><span class="menu-icon fa fa-cubes"></span>&nbsp;&nbsp;&nbsp;&nbsp;Advance Authorization</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        @Html.Partial("_SearchRole")
                    </div>

                    <div role="tabpanel" class="tab-pane" id="tab4">
                        @Html.Partial("_CreateRole")

                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab5">
                        @Html.Partial("_AdvanceAuth")
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade bs-example-modal-lg in" id="myModalIcon" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <button type="button" class="close-btn" data-dismiss="modal">Close</button>
                    <div class="modal-header">
                        <h4 class="modal-title">User Role</h4>
                    </div>
                    <div class="modal-body custom-model-body">

                        <div class="col-md-12">
                            <div class="table-responsive">
                                <form id="frmRoleGrid">
                                    <div class="table-responsive">
                                        <table id="gridRole" class="display" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th style="display: none">srno</th>
                                                    <th style="display: none">UserId</th>
                                                    <th>UserName 
                                                    </th>
                                                    <th>Unit
                                                    </th>
                                                    <th>Location
                                                    </th>
                                                    <th>Role
                                                    </th>
                                                    <th>Default
                                                    </th>
                                                    <th>Status
                                                    </th>
                                                    <th>Action
                                                    </th>
                                                </tr>

                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>#</th>
                                                    <th style="display: none">srno</th>
                                                    <th style="display: none">UserId</th>
                                                    <th>UserName 
                                                    </th>
                                                    <th>Unit
                                                    </th>
                                                    <th>Location
                                                    </th>
                                                    <th>Role
                                                    </th>
                                                    <th>Default 
                                                    </th>
                                                    <th>Status
                                                    </th>
                                                    <th>Action
                                                    </th>
                                                </tr>
                                            </tfoot>

                                        </table>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



    </div>
</div>

@section scripts{
    <script src="~/assets/plugins/datatables/js/dataTables.tableTools.js"></script>
    <script src="~/assets/plugins/table-export/tableExport.js"></script>
    <script src="~/assets/plugins/table-export/jquery.base64.js"></script>
    <script src="~/assets/plugins/table-export/html2canvas.js"></script>
    <script src="~/assets/plugins/table-export/jspdf/libs/sprintf.js"></script>
    <script src="~/assets/plugins/table-export/jspdf/jspdf.js"></script>
    <script src="~/assets/plugins/table-export/jspdf/libs/base64.js"></script>
    @*<script src="~/Scripts/JS/Page/Masters.js"></script>*@
    <script src="/assets/js/jquery.mjs.nestedSortable.js"></script>

    @* <script src="/assets/plugins/gridgallery/js/cbpgridgallery.js"></script>
    <script src="/assets/js/pages/gallery.js"></script>*@
     <script src="~/assets/plugins/Masonry/masonry.pkgd.js"></script>

    <script src="~/Scripts/CorporateRole/CorporateRole.js"></script>

   


}

