body {
}

.modal-lg {
    width: 95%;
}

.modal-header h4 {
    border-bottom: 1px dashed #ccc;
    font-size: 20px;
    font-weight: normal;
}

.input-group-addon.addbtn:last-child, .input-group-addon.addbtn:hover {
    background-color: #22baa0;
    border-color: #22baa0;
    border-left: 0 none #22baa0;
    color: #fff;
}

#wrapper, .wrapper {
    width: 200%;
    transform: translate3d(0, 0, 0);
    transition: transform .5s ease-in-out;
    padding-left: 0;
}

.content {
    float: left;
    width: 50%;
    min-height: 200px;
    white-space: normal;
    background-repeat: no-repeat;
}

li.content {
    list-style: outside none none;
    transition: 1s;
    border: 1px solid #22BAA0;
}

    li.content .libody {
        transition-timing-function: linear;
    }

.summery-uitilities-detail {
    width: 33.3333%;
    overflow: hidden;
    padding-right: 0;
}

.summery-nav-btn {
    background-color: #ccc;
    color: #22baa0;
    cursor: not-allowed;
    font-size: 0.7em;
    margin-left: 5px;
    padding: 5px;
    float: right;
}

    .summery-nav-btn.active {
        background-color: #fff;
        cursor: pointer;
    }

.libody.summery-body {
}

#ulViewList {
    padding-left: 0 !important;
}

.field-name {
    padding-right: 15px;
}

.field-name {
    float: left;
    width: 50%;
}

.ulviewlistclass {
    padding-left: 0 !important;
}

.summery-uitilities-detail {
    width: 33.3333%;
    overflow: hidden;
    padding-right: 0;
}

.summery-nav-btn {
    background-color: #ccc;
    color: #22baa0;
    cursor: not-allowed;
    font-size: 0.7em;
    margin-left: 5px;
    padding: 5px;
    float: right;
}

    .summery-nav-btn.active {
        background-color: #fff;
        cursor: pointer;
    }

.summary-body p {
    margin: 0;
}

.summary-list .label {
    font-size: 100%;
}

.summary-list {
    margin-bottom: 0;
}

    .summary-list > tbody > tr > td {
        text-align: left !important;
        width: auto;
    }

        .summary-list > tbody > tr > td:first-child {
            width: 45%;
        }

    .summary-list > tbody > tr:first-child > td {
        border-top-width: 0;
    }


.field-list .active > a {
    color: #22baa0 !important;
    font-weight: bolder;
    /*font-size: 14px;*/
}

.field-list a:hover {
    text-decoration: none;
}

li.content {
    list-style: outside none none;
    transition: 1s;
    border: 1px solid #22BAA0;
}

    li.content .libody {
        transition-timing-function: linear;
    }


.panel-red .panel-collapse, .panel-blue .panel-collapse, .panel-purple .panel-collapse, .panel-green .panel-collapse {
    border: 1px solid #F25656;
    border-radius: 0 0 5px 5px;
}

.panel-blue .panel-collapse {
    border: 1px solid #12AFCB;
}

.panel-purple .panel-collapse {
    border: 1px solid #7A6FBE;
}

.panel-green .panel-collapse {
    border: 1px solid #22BAA0;
}

.panel-group {
    margin-bottom: 0;
}

    .panel-group .panel-red .panel-collapse .panel-body, .panel-blue .panel-collapse .panel-body, .panel-purple .panel-collapse .panel-body {
        color: #4e5e6a;
    }

    .panel-group .panel .panel-heading {
        padding: 10px;
    }

.panel .panel-heading .panel-title {
    color: #fff !important;
    float: none;
    font-weight: normal;
    font-size: 17px;
    border-bottom-width: 0;
}

.panel-group .panel .panel-body h3, .panel-group .panel .panel-body h4 {
    margin: 0;
}

.tab-itenaries {
    border: 1px double #bec8d2 !important;
    border-radius: 5px !important;
    box-shadow: 3px 3px 7px -5px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
    padding-bottom: 10px;
}

    .tab-itenaries .table > tbody > tr > td {
        font-size: 12px;
        padding: 7px !important;
    }
