<div class="col-md-8 full-responsive">
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label for="txtConferenceRoomName">Function Room Venue <span>*</span></label>
                <input type="text" class="form-control" id="txtConferenceRoomName" value="First Floor Hall" placeholder="Conference Room Name">
            </div>
        </div>
    </div>
    <h3>Dimensions</h3>
    <div class="form-group">
        <div class="row">
            <div class="col-md-3">
                <label for="txtSetupStyle">Measurement</label>
                <select id="drpStatusApplied" class="js-states form-control" style="display: none; width: 100%">
                    <option selected="selected">Feet</option>
                    <option>Meter</option>

                </select>
            </div>
            <div class="col-md-3">
                <label for="txtConferenceRoomName">Length</label>
                <input type="text" class="form-control" id="txtConferenceRoomName" value="5.5" placeholder="Conference Room Name">
            </div>
            <div class="col-md-3">
                <label for="txtConferenceRoomName">Width</label>
                <input type="text" class="form-control" id="txtConferenceRoomName" value="10.5" placeholder="Conference Room Name">
            </div>
            <div class="col-md-3">
                <label for="txtConferenceRoomName">Height</label>
                <input type="text" class="form-control" id="txtConferenceRoomName" value="8.5" placeholder="Conference Room Name">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-3">
                <label for="txtConferenceRoomName">Minimum Pax Capacity</label>
                <input type="text" class="form-control" id="txtConferenceRoomName" value="20" placeholder="Conference Room Name">
            </div>
            <div class="col-md-3">
                <label for="txtConferenceRoomName">Floor Plan 1</label>
                <input type="text" class="form-control" id="txtConferenceRoomName" value="D:/Plan1" placeholder="Conference Room Name">
            </div>
            <div class="col-md-3">
                <label for="txtConferenceRoomName">Floor Plan 2</label>
                <input type="text" class="form-control" id="txtConferenceRoomName" value="D:/Plan2" placeholder="Conference Room Name">
            </div>
            <div class="col-md-3">
                <label for="txtConferenceRoomName">Floor Plan 3</label>
                <input type="text" class="form-control" id="txtConferenceRoomName" value="D:/plan3" placeholder="Conference Room Name">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label for="drpSetupStyle">Function Type <span>*</span></label>
                <input type="text" data-role="tagsinput" class="form-control" value="Half Day AM,Half Day PM" id="txtTags">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label for="drpSetupStyle">Optional Services </label>
                <input type="text" data-role="tagsinput" class="form-control" value="Extra A/c" id="txtTags">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="txtConferenceRoomDescription">Conference Room Description </label>
                    <textarea id="txtConferenceRoomDescription" class="form-control" placeholder="Conference Room Description">Room have central A/C. And free wifi.</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="txtRestrictions">Restrictions  </label>
                    <textarea id="txtRestrictions" class="form-control" placeholder="Restrictions">No camera.</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="txtDescription">Function Room Facilities </label>
        <div class="row">
            <div class="col-md-3 form-marings">
                <input type="checkbox" checked="checked">Projector
            </div>
            <div class="col-md-3 form-marings">
                <input type="checkbox" checked="checked">Screens
            </div>
            <div class="col-md-3 form-marings">
                <input type="checkbox" checked="checked">Microphones
            </div>
            <div class="col-md-3 form-marings">
                <input type="checkbox">Sink
            </div>
            <div class="col-md-3 form-marings">
                <input type="checkbox">Easels
            </div>
            <div class="col-md-3 form-marings">
                <input type="checkbox">Telephone Support
            </div>
            <div class="col-md-3 form-marings">
                <input type="checkbox" checked="checked">Ethernet
            </div>
            <div class="col-md-3 form-marings">
                <input type="checkbox">Wifi
            </div>
            <div class="col-md-3 form-marings">
                <input type="checkbox">Coffee Maker
            </div>
            <div class="col-md-3 form-marings">
                <input type="checkbox" checked="checked">Centrally A/C
            </div>
        </div>
    </div>

    <h3 class="tab9section1">Setup Style</h3>
    <div class="table-responsive">
        <table style="width: 100%">
            <tr>
                <th class="" style="width: 10%">Setup Style</th>
                <th class="tdpaddingleft" style="width: 12%">Capacity</th>
                <th class="tdpaddingleft" style="width: 15%">Total Tables</th>
                <th class="tdpaddingleft" style="width: 15%">Remarks</th>
                <th class="tdpaddingleft" style="width: 15%">Floor Plan 1</th>
                <th class="tdpaddingleft" style="width: 15%">Floor Plan 2</th>
                <th class="tdpaddingleft" style="width: 15%">Floor Plan 3</th>
                <th class="tdpaddingleft" style="width: 5%"></th>
            </tr>
            <tbody>
                <tr>
                    <td class="">

                        <input type="text" class="form-control" id="txtSetupStyle" value="Banquet" placeholder="Setup Style">
                    </td>
                    <td class="tdpaddingleft">

                        <input type="text" class="form-control" id="txtCapacity" value="20" placeholder="Setup Style">
                    </td>
                    <td class="tdpaddingleft">

                        <input type="text" class="form-control" id="txtTotalTables" value="1" placeholder="Setup Style">
                    </td>
                    <td class="tdpaddingleft">
                        <input type="text" class="form-control" id="txtTotalTables" placeholder="Remarks">
                    </td>
                    <td class="tdpaddingleft">
                        <input type="text" class="form-control" id="txtTotalTables" placeholder="D:/plan">
                    </td>
                    <td class="tdpaddingleft">
                        <input type="text" class="form-control" id="txtTotalTables" placeholder="D:/plan">
                    </td>
                    <td class="tdpaddingleft">
                        <input type="text" class="form-control" id="txtTotalTables" placeholder="D:/plan">
                    </td>

                    <td class="tdpaddingleft"><a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a></td>
                </tr>

                <tr>
                    <td class="" style="padding-top: 10px">

                        <input type="text" class="form-control" id="txtSetupStyle" value="Banquet" placeholder="Setup Style">
                    </td>
                    <td class="tdpaddingleft" style="padding-top: 10px">

                        <input type="text" class="form-control" id="txtCapacity" value="10" placeholder="Setup Style">
                    </td>
                    <td class="tdpaddingleft" style="padding-top: 10px">

                        <input type="text" class="form-control" id="txtTotalTables" value="2" placeholder="Setup Style">
                    </td>
                    <td class="tdpaddingleft" style="padding-top: 10px">
                        <input type="text" class="form-control" id="txtTotalTables" placeholder="Remarks">
                    </td>
                    <td class="tdpaddingleft" style="padding-top: 10px">
                        <input type="text" class="form-control" id="txtTotalTables" placeholder="D:/plan">
                    </td>
                    <td class="tdpaddingleft" style="padding-top: 10px">
                        <input type="text" class="form-control" id="txtTotalTables" placeholder="D:/plan">
                    </td>
                    <td class="tdpaddingleft" style="padding-top: 10px">
                        <input type="text" class="form-control" id="txtTotalTables" placeholder="D:/plan">
                    </td>

                    <td class="tdpaddingleft" style="padding-top: 10px"><a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a></td>
                </tr>
            </tbody>


        </table>
    </div>
    <br />
    <br />
    <h4 style="border-bottom: none !important">&nbsp;</h4>
    @*  <h3>Stage Size</h3>
                                        <div class="table-responsive">
                                            <table style="width: 100%">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 18%; padding: 5px">Setup Style</th>
                                                        <th style="width: 18%; padding: 5px">Measurement</th>
                                                        <th style="width: 18%; padding: 5px">Length</th>
                                                        <th style="width: 18%; padding: 5px">Width</th>
                                                        <th style="width: 18%; padding: 5px">Height</th>
                                                        <th style="width: 10px"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="padding: 5px">
                                                            <select id="drpStatusApplied" class="js-states form-control" style="display: none; width: 100%">
                                                                <option selected="selected">Banquet-20-1</option>
                                                            </select>
                                                        </td>
                                                        <td style="padding: 5px">
                                                            <select id="drpStatusApplied" class="js-states form-control" style="display: none; width: 100%">
                                                                <option selected="selected">Feet</option>
                                                                <option>Meter</option>
                                                            </select>
                                                        </td>
                                                        <td style="padding: 5px">

                                                            <input type="text" class="form-control" id="txtConferenceRoomName" value="5.5" placeholder="Conference Room Name">
                                                        </td>
                                                        <td style="padding: 5px">

                                                            <input type="text" class="form-control" id="txtConferenceRoomName" value="6" placeholder="Conference Room Name">
                                                        </td>
                                                        <td style="padding: 5px">

                                                            <input type="text" class="form-control" id="txtConferenceRoomName" value="7" placeholder="Conference Room Name">
                                                        </td>
                                                        <td style="padding: 5px">
                                                            <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 5px">
                                                            <select id="drpStatusApplied" class="js-states form-control" style="display: none; width: 100%">
                                                                <option selected="selected">Banquet-20-1</option>
                                                            </select>
                                                        </td>
                                                        <td style="padding: 5px">
                                                            <select id="drpStatusApplied" class="js-states form-control" style="display: none; width: 100%">
                                                                <option>Feet</option>
                                                                <option selected="selected">Meter</option>
                                                            </select>
                                                        </td>
                                                        <td style="padding: 5px">

                                                            <input type="text" class="form-control" id="txtConferenceRoomName" value="2" placeholder="Conference Room Name">
                                                        </td>
                                                        <td style="padding: 5px">

                                                            <input type="text" class="form-control" id="txtConferenceRoomName" value="3" placeholder="Conference Room Name">
                                                        </td>
                                                        <td style="padding: 5px">

                                                            <input type="text" class="form-control" id="txtConferenceRoomName" value="4" placeholder="Conference Room Name">
                                                        </td>
                                                        <td style="padding: 5px">
                                                            <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>*@
    <h3 style="border-bottom: none !important">&nbsp;</h3>
    <button id="btnSave" type="submit" class="btn btn-success btnSave">
        SAVE</button>
    <button id="btnSave" type="submit" class="btn btn-primary btnSave">
        UPDATE</button>
    <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
        DELETE</button>
    <button id="btnSave" type="submit" class="btn btn-warning btnSave">
        CREATE NEW</button>
    <a href="javascript:void(0);" class="btn btn-info btnSave" data-toggle="modal" data-target="#MyFunctionRoomGrid">SEARCH</a>
    <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
        <span class="fa fa-refresh"></span>
    </a>
</div>
<div class="col-md-4 summery-detail summery-uitilities-detail summerytab6">
    <div class="panel-body tab-itenaries ">
        <div class="panel-group">
            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title">Summary <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report"></a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>
                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created From Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Page Load Time: </td>
                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                </tr>
                                <tr>
                                    <td>Record Update Time: </td>
                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
