<div class="col-md-8 full-responsive">
    <form>
        <h3 class="tab5section1">Hotel Room - <span class="text-danger">Amari Ocean Pattaya - Pattaya</span></h3>
        <div class="form-group">
            <div class="row">

                <div class="col-md-6">

                    <label for="txtRoomCategory">Room Category <span>*</span></label>
                    <input type="text" class="form-control" value="Deluxe Twin Room with Sea View " id="txtRoomCategory" placeholder="Room Type ">
                </div>
                <div class="col-md-6">
                    <label for="txtNumberofRooms">Number of Rooms</label>
                    <input type="text" class="form-control" id="txtNumberofRooms" value="26" placeholder="# of Rooms ">
                </div>

            </div>
        </div>
        <div class="form-group">

            <div class="row">
                <div class="col-md-3">
                    <label for="txtMaxPax">Max Pax <span>*</span></label>
                    <input type="text" class="form-control" id="txtMaxpaxSingle" value="4" placeholder="Max Pax ">
                </div>
                <div class="col-md-3">
                    <label for="txtMaxPax">Max Adult<span>*</span></label>
                    <input type="text" class="form-control" id="txtMAxAdultSigle" value="3" placeholder="Max Adult ">
                </div>
                <div class="col-md-3">
                    <label for="txtMaxPax">Max Child With Extra Bed<span>*</span></label>
                    <input type="text" class="form-control" id="txtMaxcwbSingle" value="1" placeholder="Max CWB ">
                </div>
                <div class="col-md-3">
                    <label for="txtMaxPax">Max Child With No Bed<span>*</span></label>
                    <input type="text" class="form-control" id="txtMaxcnbSingle" value="1" placeholder="Max CNB ">
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label for="txtMaxPax">Max Infant<span>*</span></label>
                    <input type="text" class="form-control" id="txtMaxInfantSingle" value="2" placeholder="Max Infant ">
                </div>
                <div class="col-md-3">
                    <label for="txtMaxPax">&nbsp;</label>

                </div>
                <div class="col-md-6">
                    <label for="txttotalnumberchilder">Total Number Of Children Allowed (CWB+CNB+Infant)</label>
                    <input type="text" class="form-control" id="txttotalnumberchilder" value="2" placeholder="Max CNB ">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">

                <div class="col-md-12">

                    <label for="txtDescription">Description </label>
                    <textarea id="txtDescription" class="form-control" placeholder="Description">Special Offer - Deluxe Twin Room with Sea View</textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="txtDescription">Room Facilities </label>
            <div class="row">

                <div class="col-md-3 form-marings">
                    <input type="checkbox" checked="checked">Air Conditioning
                </div>
                <div class="col-md-3 form-marings">
                    <input type="checkbox" checked="checked">Bathtub
                </div>
                <div class="col-md-3 form-marings">
                    <input type="checkbox" checked="checked">Flat-screen TV
                </div>
                <div class="col-md-3 form-marings">
                    <input type="checkbox">Kitchen/Kitchenette
                </div>
                <div class="col-md-3 form-marings">
                    <input type="checkbox">Patio
                </div>
                <div class="col-md-3 form-marings">
                    <input type="checkbox">Private Pool
                </div>
                <div class="col-md-3 form-marings">
                    <input type="checkbox">Soundproof
                </div>
                <div class="col-md-3 form-marings">
                    <input type="checkbox">Spa Tub
                </div>
                <div class="col-md-3 form-marings">
                    <input type="checkbox">Terrace
                </div>
                <div class="col-md-3 form-marings">
                    <input type="checkbox" checked="checked">View
                </div>
                <div class="col-md-3 form-marings">
                    <input type="checkbox">Wasing Machine
                </div>
                <div class="col-md-3 form-marings">
                    <input type="checkbox" checked="checked">Room service 24 hours?
                </div>
            </div>
        </div>
        <br />

        <button id="btnSave" type="submit" class="btn btn-success btnSave">
            SAVE</button>
        <button id="btnupdate" type="submit" class="btn btn-primary btnSave">
            UPDATE</button>
        <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
            DELETE</button>
        <button id="btnclear" type="submit" class="btn btn-warning btnSave">
            CREATE NEW</button>
        <a href="javascript:void(0);" class="btn btn-info btnSave" data-toggle="modal" data-target="#MyRoomGrid">SEARCH</a>
        <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
            <span class="fa fa-refresh"></span>
        </a>
        <br />
        <br />
        <h3>Room Pax Combination</h3>

        <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tabsearchpax" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord sub-tabbing"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Serach Pax Combination</a></li>
            <li role="presentation"><a href="#tabcreatepax" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord sub-tabbing"><span class="menu-icon fa fa-hospital-o"></span>&nbsp;&nbsp;&nbsp;&nbsp;Create Room Pax Combination</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tabsearchpax">
                <div class="table-responsive">
                    <table id="" class="display table datatable" style="width: 100%; cellspacing: 0;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Room Type</th>
                                <th>Room Pax Combination Name</th>
                                <th>Adult</th>
                                <th>CWB</th>
                                <th>CNB</th>
                                <th>Infant</th>
                                <th style="width: 15%;">Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Room Type</th>
                                <th>Room Pax Combination Name</th>
                                <th>Adult</th>
                                <th>CWB</th>
                                <th>CNB</th>
                                <th>Infant</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>

                            <tr>
                                <td>1</td>
                                <td>Double</td>
                                <td>2 Adults + 1 CWB + 1 Infant</td>
                                <td>2</td>
                                <td>1</td>
                                <td></td>
                                <td>1</td>
                                <td>
                                    <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                    &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tabcreatepax">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="txtSetupStyle">Room Type</label>
                            <select id="drproomtype" class="js-states form-control" style="display: none; width: 100%">
                                <option>Single Room</option>
                                <option selected="selected">Double</option>
                                <option>Twin Room</option>
                                <option>Quad Room</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="txtSetupStyle">Room Pax Combination Name</label>
                            <input type="text" class="form-control" id="txtRoomPaxCombiname" value="2 Adults + 1 CWB + 1 Infant" placeholder="2 Adults + 1 CWB + 1 Infant">
                        </div>

                        <div class="col-md-3">
                            <label for="txtCapacity"># of Adults</label>
                            <input type="text" class="form-control" id="txtAdult" value="2" placeholder="Setup Style">
                        </div>


                        <div class="col-md-3">
                            <label for="txtTotalTables"># of CNB</label>
                            <input type="text" class="form-control" id="txtCNB" value="" placeholder="">
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="txtTotalTables"># of CWB</label>
                            <input type="text" class="form-control" id="txtCWB" value="1" placeholder="Setup Style">
                        </div>
                        <div class="col-md-3">
                            <label for="txtTotalTables"># of Infant</label>
                            <input type="text" class="form-control" id="txtInfant" value="1" placeholder="Setup Style">
                        </div>
                        <div class="col-md-3">
                            <label for="txtSetupStyle">Status</label>
                            <select id="drpStatusApplied" class="js-states form-control" style="display: none; width: 100%">
                                <option selected="selected">Applicable</option>
                                <option>Not Applicable</option>

                            </select>
                        </div>
                    </div>
                </div>


                <button id="btnSave" type="submit" class="btn btn-success btnSave">
                    SAVE</button>
                <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                    UPDATE</button>
                <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                    DELETE</button>
                <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                    CREATE NEW</button>
                <button id="btnSave" type="submit" class="btn btn-info btnSave">
                    QUIT FORM</button>
                <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
                    <span class="fa fa-refresh"></span>
                </a>
                <br />
            </div>
        </div>

    </form>
</div>
<div class="col-md-4 summery-detail summery-uitilities-detail summerytab5">
    <div class="panel-body tab-itenaries ">
        <div class="panel-group">
            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title">Summary <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report"></a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>
                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created From Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Page Load Time: </td>
                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                </tr>
                                <tr>
                                    <td>Record Update Time: </td>
                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
