<div class="table-responsive">
                                        <table id="restoranttablea" class="display table datatable" style="width: 100%; cellspacing: 0;">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Gala Dinner Venue</th>

                                                    <th>Meal Type</th>
                                                    <th style="width: 15%;">Action</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Gala Dinner Vanue</th>

                                                    <th>Meal Type</th>
                                                    <th>Action</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>

                                                <tr>
                                                    <td>1</td>
                                                    <td><span>First Floor Hall</span></td>
                                                    <td><span>Lunch,Dinner</span></td>

                                                    <td>
                                                        <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                        &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>