@{
    ViewBag.Title = "Grid View Set-Up";
    ViewBag.PageTitle = "Grid View Set-Up";
    ViewBag.FooterCopyRight = "2015 &copy; Modern by Steelcoders.";
}

<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs form-basic-tab" role="tablist">
                    <li role="presentation" class="active" id="SearchView"><a href="#tab1" role="tab" data-section="tab1" data-toggle="tab" class="hosting-accord"><span class="menu-icon glyphicon glyphicon glyphicon-cloud"></span>&nbsp;&nbsp;&nbsp;&nbsp;Serach View </a></li>
                    <li role="presentation" id="CreateView"><a href="#tab3" role="tab" data-section="tab3" data-toggle="tab" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Create View </a></li>
                    <li role="presentation" id="Column"><a href="#tab4" role="tab" data-section="tab4" data-toggle="tab" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Column </a></li>
                    <li role="presentation" id="ColumnGrid"><a href="#tab5" role="tab" data-section="tab5" data-toggle="tab" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Column List</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <form>
                            <div class="table-responsive">
                                <div class="dropdown table-custome-drop">
                                    <div class="btn-group">
                                        <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="glyphicon glyphicon-download-alt"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Excel</a></li>
                                            <li><a href="#">PDF</a></li>
                                            <li><a href="#">Email</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <table id="CreateViewGrid" class="display table" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Srno</th>
                                            <th>Corporate</th>
                                            <th>Module</th>
                                            <th>Screen</th>
                                            <th>Form </th>
                                            <th>Tab </th>
                                            <th>View  </th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Srno</th>
                                            <th>Corporate</th>
                                            <th>Module</th>
                                            <th>Screen </th>
                                            <th>Form </th>
                                            <th>Tab </th>
                                            <th>View  </th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="tab3">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" style="display:none">
                                        <label>Srno </label>
                                        <input type="text" class="form-control" id="txtsrno" placeholder="Srno" readonly="true">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="drpCorporate">Corporate <span>*</span></label>
                                            <select id="drpCorporate" class="js-states form-control req Dropdown" style="display: none; width: 100%">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="drpFeatures">Module <span>*</span></label>
                                            <select id="drpFeatures" class="js-states form-control req Dropdown" style="display: none; width: 100%">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="drpModule">Screen <span>*</span></label>
                                            <select id="drpModuleCreateView" class="js-states form-control req Dropdown" style="display: none; width: 100%">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="drpScreen">Form <span>*</span></label>
                                            <select id="drpScreenCreateView" class="js-states form-control req Dropdown" style="display: none; width: 100%">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="drpScreen">Tab <span>*</span></label>
                                            <select id="drpTabCreateView" class="js-states form-control req Dropdown" style="display: none; width: 100%">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>View Name<span>*</span></label>
                                    <input type="text" class="form-control req inputform" id="txtviewname" placeholder="View Name">
                                </div>
                                <div class="form-group">
                                    <label>Records Count Query<span>*</span></label>
                                    <textarea class="form-control req inputform" rows="2" id="txtRecordCountQuery" placeholder="Records Count Query"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Column Query<span>*</span></label>
                                    <textarea class="form-control req inputform" rows="5" id="txtcolumnquery" placeholder="Column Query"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Where Query<span>*</span></label>
                                    <textarea class="form-control req inputform" rows="5" id="txtwherequery" placeholder="Where Query"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Group Query<span>*</span></label>
                                    <textarea class="form-control req inputform" id="txtgropQuery" placeholder="Group Query"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="checkbox" id="ismasterView" />Is Master View
                                    </div>
                                </div>
                                <div class="col-md-6" id="divMaster" style="display: none">
                                    <div class="form-group">
                                        <label>Master </label>
                                        <select id="drpMasterCreateView" class="js-states form-control Dropdown" style="display: none; width: 100%">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <br />
                                <button id="btnSaveCreateView" type="submit" class="btn btn-success btnSave">
                                    SAVE</button>
                                <button id="btnUpdateCreateView" type="submit" class="btn btn-primary btnSave" style="display: none">
                                    UPDATE</button>
                                <button id="btnclearCreateview" type="button" class="btn btn-warning ">
                                    CLEAR</button>
                                <button id="btnQuitCreateview" type="button" class="btn btn-info ">
                                    QUIT FORM</button>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="tab4">
                        <form>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="form-group" style="display:none">
                                        <label>Srno </label>
                                        <input type="text" class="form-control inputformColumn" id="txtsrnoColumn" placeholder="Srno" readonly="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Column Caption <span>*</span></label>
                                    <input type="text" class="form-control inputformColumn req" id="txtColumncaption" placeholder="Column Caption">
                                </div>
                                <div class="form-group">
                                    <label>Column<span>*</span></label>
                                    <input type="text" class="form-control inputformColumn req" id="txtColumn" placeholder="Column">
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="checkbox" id="FixedOrder" />Fixed Order
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="checkbox" id="Visibility" />
                                            Visibility
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="checkbox" id="ColumnUpdate" />
                                            Column Update
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Update Control</label>
                                    <select id="drpUpdateControl" class="js-states form-control DropdownColumn" style="display: none; width: 100%">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Table Name <span>*</span></label>
                                    <input type="text" class="form-control inputformColumn req" id="txttablename" placeholder="Table Name">
                                </div>
                                <div class="form-group" style="display: none">
                                    <label>Update Query 1</label>
                                    <textarea class="form-control inputformColumn" id="txtUPdateQuery1" placeholder="Update Query 1"></textarea>
                                </div>
                                <div class="form-group" style="display: none">
                                    <label>Update Query 2</label>
                                    <textarea class="form-control inputformColumn" id="txtUPdateQuery2" placeholder="Update Query 2"></textarea>
                                </div>
                                <div class="form-group" style="display: none">
                                    <label>Update Query 3</label>
                                    <textarea class="form-control inputformColumn" id="txtUPdateQuery3" placeholder="Update Query 3"></textarea>
                                </div>
                                <div class="form-group" style="display: none">
                                    <label>Update Query 4</label>
                                    <textarea class="form-control inputformColumn" id="txtUPdateQuery4" placeholder="Update Query 4"></textarea>
                                </div>
                                <div class="form-group" style="display: none">
                                    <label>Update Query 5</label>
                                    <textarea class="form-control inputformColumn" id="txtUPdateQuery5" placeholder="Update Query 5"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <br />
                                <button id="btnsaveColumn" type="submit" class="btn btn-success btnSaveColumns">
                                    SAVE</button>
                                <button id="btnUpdateColumn" type="submit" class="btn btn-primary btnSaveColumns" style="display: none">
                                    UPDATE</button>
                                <button id="btnClearColumn" type="button" class="btn btn-warning ">
                                    CLEAR</button>
                                <button id="btnQuitFormColumn" type="button" class="btn btn-info ">
                                    QUIT FORM</button>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="tab5">
                        <form>
                            <div class="table-responsive">
                                <div class="dropdown table-custome-drop">
                                    <div class="btn-group">
                                        <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="glyphicon glyphicon-download-alt"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Excel</a></li>
                                            <li><a href="#">PDF</a></li>
                                            <li><a href="#">Email</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <table id="ColumngridView" class="display table" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>SrNo</th>
                                            <th>Column Caption</th>
                                            <th>Column</th>
                                            <th>Update Control</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>SrNo</th>
                                            <th>Column Caption</th>
                                            <th>Column</th>
                                            <th>Update Control </th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/JS/Page/ViewSetup.js"></script>
}
