<div class="col-md-8 full-responsive">
    <form>
        <h3 class="tab9section1">Create Family / Child Policy - <span class="text-danger">Hotel De Bangkok - Bangkok</span></h3>

        <div class="form-group formroomprice">
            <div class="row">
                <div class="col-md-6">
                    <label for="drpCostingSet">Contract</label>
                    <select id="drpCostingTitle" class="js-states form-control" style="display: none; width: 100%">
                        <option>Outtrigger 2015/16 Full Year FIT</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="txtContractDate">Contract ID </label>
                    <input type="text" class="form-control" id="txtContractDate" value="0001" placeholder="Contract ID" readonly>
                </div>
                <div class="col-md-3">
                    <label for="txtFromDate">FIT/Group</label>
                    <input type="text" class="form-control" id="txtContractID" value="FIT" placeholder="FIT/Group" readonly>
                </div>

            </div>
        </div>
        <div class="form-group formroomprice">
            <div class="row">

                <div class="col-md-6">
                    <label for="drpRoomCategory">Room Category </label>
                    <select id="drpRoomCategory" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                        <option selected="selected">All</option>
                        <option>Standard </option>
                        <option>Delux </option>
                        <option>Supirior</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="txtContractDate">Total Children Allowed</label>
                    <input type="text" class="form-control" id="txtContractDate" value="2" placeholder="Contract ID">
                </div>
                <div class="col-md-3">
                    <label for="txtContractDate">Total Extra Bed Adult Allowed</label>
                    <input type="text" class="form-control" id="txtContractDate" value="1" placeholder="Contract ID">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtContractDate">From Date</label>
                    <input type="text" class="form-control date-picker" id="txtContractDate" value="" placeholder="">
                </div>
                <div class="col-md-6">
                    <label for="txtContractDate">To Date</label>
                    <input type="text" class="form-control date-picker" id="txtContractDate" value="" placeholder="">
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="row">
                 <div class="col-md-6">
                    
                    <div class="row">
                        
                        <div class="col-md-12 form-marings">
                           
                            <input type="checkbox" > <label>Allowed Sharing With Extra Bed Adult</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <h3>Child 1</h3>
                    <div class="table-responsive">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="width: 9%; padding: 5px">Age From</th>
                                    <th style="width: 9%; padding: 5px">Age To</th>
                                    <th style="width: 23%; padding: 5px">Charge Type</th>
                                    <th style="width: 16%; padding: 5px">ABF.</th>
                                    <th style="width: 15%; padding: 5px">Rate</th>
                                    <th style="width: 23%; padding: 5px">FOC Inclusions On Request</th>
                                    <th style="width: 5%; padding: 5px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="0" placeholder="Service Cost ">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeTo" value="4" placeholder="Service Cost ">
                                    </td>
                                    <td style="padding: 5px">
                                        <select id="drpCurrencyadd" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">FOC</option>
                                            <option>Extra Bed Child</option>

                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <select id="drpCurrencyadd" class="js-states form-control" style="display: none; width: 100%">
                                            <option>Compulsory</option>
                                            <option selected="selected">Optional</option>
                                            <option>Not Applicable</option>

                                        </select>
                                    </td>
                                    <td style="padding: 5px; text-align: center">
                                        <div class="input-group input-append">
                                            <input type="text" class="form-control" id="txtExtraBedChildRate" value="0" placeholder="">
                                            <span class="input-group-addon add-on"><span>THB</span></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeTo" value="Baby Cot Free of charge upon request" placeholder="FOC Inclusions On Request">
                                    </td>
                                    <td style="padding: 5px">
                                        <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="4" placeholder="Service Cost ">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeTo" value="12" placeholder="Service Cost ">
                                    </td>
                                    <td style="padding: 5px">
                                        <select id="drpCurrencyadd" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">FOC</option>
                                            <option>Extra Bed Child</option>

                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <select id="drpCurrencyadd" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">Compulsory</option>
                                            <option>Optional</option>
                                            <option>Not Applicable</option>

                                        </select>
                                    </td>
                                    <td style="padding: 5px; text-align: center">
                                        <div class="input-group input-append">
                                            <input type="text" class="form-control" id="txtExtraBedChildRate" value="0" placeholder="">
                                            <span class="input-group-addon add-on"><span>THB</span></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeTo" value="Baby Cot Free of charge upon request" placeholder="FOC Inclusions On Request">
                                    </td>
                                    <td style="padding: 5px">
                                        <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <h3>Child 2</h3>
                    <div class="table-responsive">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="width: 9%; padding: 5px">Age From</th>
                                    <th style="width: 9%; padding: 5px">Age To</th>
                                    <th style="width: 21%; padding: 5px">Charge Type</th>
                                    <th style="width: 16%; padding: 5px">ABF.</th>
                                    <th style="width: 15%; padding: 5px">Rate</th>
                                    <th style="width: 23%; padding: 5px">FOC Inclusions On Request</th>
                                    <th style="width: 5%; padding: 5px"></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="0" placeholder="Service Cost ">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeTo" value="4" placeholder="Service Cost ">
                                    </td>
                                    <td style="padding: 5px">
                                        <select id="drpCurrencyadd" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">FOC</option>
                                            <option>Extra Bed Child</option>

                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <select id="drpCurrencyadd" class="js-states form-control" style="display: none; width: 100%">
                                            <option>Compulsory</option>
                                            <option>Including</option>
                                            <option selected="selected">Optional</option>
                                            <option>Not Applicable</option>

                                        </select>
                                    </td>
                                    <td style="padding: 5px; text-align: center">
                                        <div class="input-group input-append">
                                            <input type="text" class="form-control" id="txtExtraBedChildRate" value="0" placeholder="">
                                            <span class="input-group-addon add-on"><span>THB</span></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeTo" value="Baby Cot Free of charge upon request" placeholder="FOC Inclusions On Request">
                                    </td>
                                    <td style="padding: 5px">
                                        <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="4" placeholder="Service Cost ">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeTo" value="12" placeholder="Service Cost ">
                                    </td>
                                    <td style="padding: 5px">
                                        <select id="drpCurrencyadd" class="js-states form-control" style="display: none; width: 100%">
                                            <option>FOC</option>
                                            <option selected="selected">Extra Bed Child</option>
                                            <option>Child No Bed</option>

                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <select id="drpCurrencyadd" class="js-states form-control" style="display: none; width: 100%">
                                            <option>Compulsory</option>
                                            <option selected="selected">Including</option>
                                            <option>Optional</option>
                                            <option>Not Applicable</option>

                                        </select>
                                    </td>
                                    <td style="padding: 5px; text-align: center">
                                        <div class="input-group input-append">
                                            <input type="text" class="form-control" id="txtExtraBedChildRate" value="1500" placeholder="">
                                            <span class="input-group-addon add-on"><span>THB</span></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeTo" value="" placeholder="FOC Inclusions On Request">
                                    </td>
                                    <td style="padding: 5px">
                                        <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <h3>Extra Bed Adult 1</h3>
                    <div class="table-responsive">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="width: 9%; padding: 5px">Age From</th>
                                    <th style="width: 9%; padding: 5px">Age To</th>
                                    <th style="width: 21%; padding: 5px">Charge Type</th>
                                    <th style="width: 16%; padding: 5px">ABF.</th>
                                    <th style="width: 15%; padding: 5px">Rate</th>
                                    <th style="width: 23%; padding: 5px">FOC Inclusions On Request</th>
                                    <th style="width: 5%; padding: 5px"></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeFrom" value="13" placeholder="Service Cost ">
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeTo" value="" placeholder="">
                                    </td>
                                    <td style="padding: 5px">
                                        <select id="drpCurrencyadd" class="js-states form-control" style="display: none; width: 100%">
                                            <option>FOC</option>
                                            <option>Extra Bed Child</option>
                                            <option selected="selected">Extra Bed Adult</option>

                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <select id="drpCurrencyadd" class="js-states form-control" style="display: none; width: 100%">
                                            <option>Compulsory</option>
                                            <option selected="selected">Including</option>
                                            <option>Optional</option>
                                            <option>Not Applicable</option>

                                        </select>
                                    </td>
                                    <td style="padding: 5px; text-align: center">
                                        <div class="input-group input-append">
                                            <input type="text" class="form-control" id="txtExtraBedChildRate" value="1500" placeholder="">
                                            <span class="input-group-addon add-on"><span>THB</span></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px">
                                        <input type="text" class="form-control" id="txtAgeTo" value="" placeholder="FOC Inclusions On Request">
                                    </td>
                                    <td style="padding: 5px">
                                        <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @* <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <h3 style="padding-top: 25px">Child 1</h3>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                
                                <div class="row">
                                    <div class="col-md-12 form-marings">
                                        <input type="radio" class="form-control" id="txtContractDate" name="focecb" checked="checked">FOC
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                
                                <div class="row">
                                    <div class="col-md-12 form-marings">
                                        <input type="radio" class="form-control" id="txtContractDate" name="focecb">Extra Bed Child
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                              
                                <div class="row">
                                    <div class="col-md-12 form-marings">
                                        <input type="radio" class="form-control" id="rdABF" name="abfCON">ABF Compulsory
                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                             
                                <div class="row">
                                    <div class="col-md-12 form-marings">
                                        <input type="radio" class="form-control" id="rdABF2" name="abfCON">ABF Optional
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                            
                                <div class="row">
                                    <div class="col-md-12 form-marings">
                                        <input type="radio" class="form-control" id="rdABF3" name="abfCON">ABF Not Applicable
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                               
                                <div class="row">
                                    <div class="col-md-12 form-marings">
                                        <input type="checkbox" checked>Allow Sharing With Extra Bed Adult
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="txtFromDate">FOC Inclusions On Request</label>
                                <input type="text" class="form-control" id="txtFromDate" value="" placeholder="Inclusions">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 style="padding-top: 25px">Child 2</h3>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                
                                <div class="row">
                                    <div class="col-md-12 form-marings">
                                        <input type="radio" class="form-control" id="txtContractDate" name="focecbb">FOC
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                              
                                <div class="row">
                                    <div class="col-md-12 form-marings">
                                        <input type="radio" class="form-control" id="txtContractDate" name="focecbb" checked="checked">Extra Bed Child
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                
                                <div class="row">
                                    <div class="col-md-12 form-marings">
                                        <input type="checkbox" checked>Breakfast Included
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                
                                <div class="row">
                                    <div class="col-md-12 form-marings">
                                        <input type="checkbox" checked>Allow Sharing With Extra Bed Adult
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="txtFromDate">FOC Inclusions On Request</label>
                                <input type="text" class="form-control" id="txtFromDate" value="" placeholder="Inclusions">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>*@






        <br />
        <button id="btnSave" type="submit" class="btn btn-success btnSave">
            SAVE</button>
        <button id="btnSave" type="submit" class="btn btn-primary btnSave">
            UPDATE</button>
        <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
            DELETE</button>
        <button id="btnSave" type="submit" class="btn btn-warning btnSave">
            CREATE NEW</button>
        <button id="btnSave" type="submit" class="btn btn-info btnSave">
            QUIT FORM</button>
        <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
            <span class="fa fa-refresh"></span>
        </a>
    </form>
</div>
<div class="col-md-4 summery-detail summery-uitilities-detail summerytab2">
    <div class="panel-body tab-itenaries ">
        <div class="panel-group">
            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title roompricesummery">Summary 
                         <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report">
                             <i class="fa fa-tasks"></i>
                         </a>
                        <a id="startGuiededTour" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Guided Tour">
                            <i class="icon-info"></i>
                        </a>
                        <a id="startTimeline" onclick="$('#showRightSideTimeline').trigger('click')" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="View Trail">
                            <i class="fa fa-sitemap"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>
                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created From Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Page Load Time: </td>
                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                </tr>
                                <tr>
                                    <td>Record Update Time: </td>
                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
