 <div class="table-responsive" style="padding-bottom:5%">
                    <table id="" class="display table datatable" style="width: 100%; cellspacing: 0;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Days Before Arrivals</th>
                                <th>Charge Type  / Charge</th>
                                <th>Currency / Exchange Rate </th>
                                <th style="width: 15%;">Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Days Before Arivals</th>
                                <th>Charge Type  / Charge</th>
                                <th>Currency / Exchange Rate </th>
                                <th style="width: 15%;">Action</th>
                            </tr>
                        </tfoot>
                        <tbody>

                            <tr>
                                <td>1</td>
                                <td><span>1</span></td>
                                <td>Amount / 150</td>
                                <td>THB / 100</td>
                                <td>
                                    <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                    &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
<br /><br />