<div class="col-md-8 full-responsive">

    <div class="form-group formaddserviceentry">
        <div class="row">
            <div class="col-md-6">
                <label for="drpTypeOfSupplier">Supplier Type<span>*</span></label>
                <select id="drpTypeOfSupplier11" class="js-states form-control" style="display: none; width: 100%">
                    <option selected="selected">Accommodation</option>
                    <option>Coach</option>
                    <option>Guide</option>
                    <option>Driver</option>
                    <option>Meal</option>
                    <option>Transport</option>
                    <option>Sightseeing</option>
                    <option>Supplier</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="txtSupplierName">Supplier <span>*</span></label>
                <input type="text" class="form-control req" id="txtSupplierName" value="Amari Ocean Pattaya" placeholder="Supplier Name">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label for="drpAdditional">Service For</label>
                <select id="drpAdditional" class="js-states form-control" style="display: none; width: 100%">
                    <option selected="selected">Gala Dinner</option>
                    <option>Room</option>
                    <option>Function Room</option>


                </select>
            </div>
            <div class="col-md-6">
                <label for="drpAdditional">Charge Type</label>
                <select id="drpAdditional" class="js-states form-control" style="display: none; width: 100%">
                    <option selected="selected">Service Per Day</option>
                    <option>Per Pax</option>

                </select>
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label for="drpAdditionalService">Additional Services</label>
                <select id="drpAdditionalService" multiple="multiple" class="js-states form-control" style="display: none; width: 100%">
                    <option>All</option>
                    <option selected="selected">Additinal Service 1</option>
                    <option>Additinal Service 2</option>
                    <option>Additinal Service 3</option>

                </select>
            </div>

        </div>
    </div>

    <div class="table-responsive">
        <table style="width: 100%">
            <thead>
                <tr>
                    <th style="width: 10%; padding: 5px">Quantity</th>
                    <th style="width: 15%; padding: 5px">Currency</th>
                    <th style="width: 18%; padding: 5px">Service Cost</th>
                    <th style="width: 18%; padding: 5px">Adult Cost</th>
                    <th style="width: 18%; padding: 5px">Child Cost</th>
                    <th style="width: 5%; padding: 5px"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="padding: 5px">
                        <input type="text" class="form-control" id="txtAdultCost" value="10" placeholder="Service Cost ">
                    </td>
                    <td style="padding: 5px">
                        <select id="drpCurrencyadd" class="js-states form-control" style="display: none; width: 100%">
                            <option selected="selected">THB</option>
                            <option>USD</option>
                            <option>INR</option>
                        </select>
                    </td>
                    <td style="padding: 5px">
                        <div class="input-group input-append">
                            <input type="text" class="form-control" id="txtServiceCostadd" value="0" placeholder="Service Cost ">
                            <span class="input-group-addon add-on"><span>THB</span></span>
                        </div>
                    </td>
                    <td style="padding: 5px">
                        <div class="input-group input-append">
                            <input type="text" class="form-control" id="txtServiceCostadd" value="1000" placeholder="Service Cost ">
                            <span class="input-group-addon add-on"><span>THB</span></span>
                        </div>
                    </td>
                    <td style="padding: 5px">
                        <div class="input-group input-append">
                            <input type="text" class="form-control" id="txtServiceCostadd" value="500" placeholder="Service Cost ">
                            <span class="input-group-addon add-on"><span>THB</span></span>
                        </div>
                    </td>
                    <td style="padding: 5px">
                        <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 5px">
                        <input type="text" class="form-control" id="txtAdultCost" value="10" placeholder="Service Cost ">
                    </td>
                    <td style="padding: 5px">
                        <select id="drpCurrencyadd" class="js-states form-control" style="display: none; width: 100%">
                            <option selected="selected">THB</option>
                            <option>USD</option>
                            <option>INR</option>
                        </select>
                    </td>
                    <td style="padding: 5px">
                        <div class="input-group input-append">
                            <input type="text" class="form-control" id="txtServiceCostadd" value="1000" placeholder="Service Cost ">
                            <span class="input-group-addon add-on"><span>THB</span></span>
                        </div>
                    </td>
                    <td style="padding: 5px">
                        <div class="input-group input-append">
                            <input type="text" class="form-control" id="txtServiceCostadd" value="0" placeholder="Service Cost ">
                            <span class="input-group-addon add-on"><span>THB</span></span>
                        </div>
                    </td>
                    <td style="padding: 5px">
                        <div class="input-group input-append">
                            <input type="text" class="form-control" id="txtServiceCostadd" value="0" placeholder="Service Cost ">
                            <span class="input-group-addon add-on"><span>THB</span></span>
                        </div>
                    </td>
                    <td style="padding: 5px">
                        <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button id="btnSave" type="submit" class="btn btn-success btnSave">
        SAVE</button>
    <button id="btnSave" type="submit" class="btn btn-primary btnSave">
        UPDATE</button>
    <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
        DELETE</button>
    <button id="btnSave" type="submit" class="btn btn-warning btnSave">
        CREATE NEW</button>
    <button id="btnSave" type="submit" class="btn btn-info btnSave">
        QUIT FORM</button>
    <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
        <span class="fa fa-refresh"></span>
    </a>
</div>
<div class="col-md-4 summery-detail summery-uitilities-detail summerytab2-4">
    <div class="panel-body tab-itenaries ">
        <div class="panel-group">
            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title summerypaneladdserv">Summary 
                            <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report">
                            <i class="fa fa-tasks"></i>
                               </a>
                        <a id="startGuiededTour" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Guided Tour">
                            <i class="icon-info"></i>
                        </a>
                        <a id="startTimeline" onclick="$('#showRightSideTimeline').trigger('click')" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="View Trail">
                            <i class="fa fa-sitemap"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>
                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created From Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Page Load Time: </td>
                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                </tr>
                                <tr>
                                    <td>Record Update Time: </td>
                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
