@{
    ViewBag.Title = "GIT Tour List";
    ViewBag.PageTitle = "Search B2B GIT Custom Itinerary";
}
<link href="/assets/plugins/Barrating/bootstrap-stars.css" rel="stylesheet" />
<link href="~/assets/plugins/jstree/themes/default/style.min.css" rel="stylesheet" />
<link href="~/assets/plugins/FlexibleSlideToTopAccordion/css/style.css" rel="stylesheet" />

<link href="~/Content/GITTourList/GITTourList.css" rel="stylesheet" />

<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-12">

                            @*Search Count*@
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="row">
                                        <input type="text" id="txtTagSearch" class="form-control" value="Search" placeholder="Search" style="width: 40%; margin-right: 10px; float: left" />
                                        <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 17%; margin-right: 10px; float: right">
                                            <option selected="selected">Inquiry View</option>
                                            <option>Quote View</option>
                                        </select>
                                        <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 17%; margin-right: 10px; float: right">
                                            <option selected="selected">Filter</option>
                                            <option>My Inquiries</option>
                                            <option>My Shared Inquiries</option>
                                            <option>My Quotes</option>
                                            <option>My Bookings</option>
                                            <option>My Shared Bookings</option>
                                        </select>
                                        <select id="drpTypeOfSupplier" class="js-states form-control" style="display: none; width: 17%; margin-right: 10px; float: right">
                                            <option selected="selected">Sort By</option>
                                            <option>Price Low To High</option>
                                            <option>Price High To Low</option>
                                            <option>Min. Days</option>
                                            <option>Max. Days</option>
                                            <option>Newly Created</option>
                                            <option>Rating</option>
                                            <option>Generated Date</option>
                                            <option>Quoted Date</option>
                                            <option>Follow-up Date</option>
                                        </select>
                                        <button id="btnCreateFitnew" type="button" class="btn cd-select" style="padding: 5px; width: 33px; margin-left: 10px" onclick="window.location.href='/TourGitQuotaion'" rel="tooltip" title="Create New Inquiry"><i class="fa fa-plus"></i></button>
                                        <a href="javascript:void(0);" class="btn cd-select searchpanel-button advanced-panel-button" data-show-panel="advanced-panel" data-toggle="tooltip" data-placement="top" title="Advance Search"><i class="fa fa-plus"></i></a>

                                    </div>

                                </div>
                            </div>

                            @*Advance*@
                            <div class="form-group panel-search advanced-panel" style="display: none; margin-top: 6%;">

                                <div class="panel panel-green">
                                    <div class="panel-heading">
                                        <h2 class="panel-title" style="border-bottom: 1px dashed #fff ! important; padding-bottom: 5px; font-size: 17px;">Advance</h2>

                                    </div>
                                    <div class="panel-body">

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="txtTagSearch">Search For</label>
                                                    <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                                                        <option selected="selected">Inquiry</option>
                                                        <option>Quote</option>
                                                        <option>Follow-up</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="txtTagSearch">Agent</label>
                                                    <input type="text" id="txtTodate" class="form-control" value="" placeholder="Agent" />
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="txtTagSearch">Inquiry Code</label>
                                                    <input type="text" id="txtTodate" class="form-control" value="" placeholder="Inquiry Code" />
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="txtTagSearch">Inquiry Satus</label>
                                                    <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                                                        <option selected="selected">Draft</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="txtTagSearch">Search By</label>
                                                    <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                                                        <option selected="selected">Created date</option>
                                                        <option>Updated date</option>
                                                        <option>Travel Date</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="txtTagSearch">Criteria</label>
                                                    <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                                                        <option selected="selected">None</option>
                                                        <option>At</option>
                                                        <option>Between</option>
                                                        <option>At Month</option>
                                                        <option>Between Month</option>
                                                        <option>At Quater</option>
                                                        <option>Between Quater</option>
                                                        <option>At Year</option>
                                                        <option>Between Year</option>
                                                    </select>
                                                </div>

                                                <div class="col-md-4">
                                                    <label for="txtTagSearch">From</label>
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                                                                <option selected="selected">2016</option>
                                                                <option>2015</option>
                                                                <option>2014</option>
                                                                <option>2013</option>
                                                                <option>2012</option>
                                                                <option>2011</option>
                                                                <option>2010</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                                                                <option selected="selected">January</option>
                                                                <option>February</option>
                                                                <option>March</option>
                                                                <option>April</option>
                                                                <option>May</option>
                                                                <option>June</option>
                                                                <option>July</option>
                                                                <option>August</option>
                                                                <option>September</option>
                                                                <option>October</option>
                                                                <option>November</option>
                                                                <option>December</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                        </div>
                                                        <div class="col-md-4"></div>
                                                        <div class="col-md-4">
                                                            <label for="txtTagSearch">To</label>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <input type="text" id="txtTodate" class="form-control date-picker" value="28/04/2016" placeholder="Tag Search" />
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" style="margin-bottom: 0; padding-top: 15px;">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <a href="javascript:void(0);" class="btn btn-success" style="border-width: 1px; border-color: white; border-style: solid;">SEARCH</a>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2 style="border-width: 0; margin-bottom: 0;" class="text-danger newh2 col10mdnew" id="lblTotalRecordsFound"><span style="color:#34425A;font-weight:600">2</span><span style="color:grey"> Inquiries found for : </span> <span style="color:#34425A;font-weight:600">'Search Tearm'</span> </h2>
                                    </div>
                                </div>
                            </div>
                            @*Filter - Order - Search Result*@

                            @*Search Result*@
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12" style="padding-left:1px">
                                        <div class="panel panel-white">
                                            <div class="col-md-3">
                                                <div class="panel-body tab-itenaries tab-itenariessum">
                                                    <div class="cd-pricing-container" style="margin-bottom: 0px">
                                                        <ul class="cd-pricing-list" style="padding-left: 0px; margin-top: 0px">
                                                            <li class="is-ended is-visible" data-type="monthly" style="width: 100%">
                                                                <header class="cd-pricing-header" style="padding-top: 1px !important;">
                                                                    <h2>Rating</h2>
                                                                    <div class="cd-price">
                                                                        <span class="cd-value">5</span>

                                                                    </div>
                                                                </header>
                                                                <div class="cd-pricing-body">
                                                                    <ul class="cd-pricing-features newuliem">
                                                                        <li>
                                                                            <em>Inquiry Code&nbsp;&nbsp;-</em>&nbsp;&nbsp;INQ-06-2016-0000001
                                                                        </li>
                                                                        <li><em>Agent&nbsp;&nbsp;-</em>&nbsp;&nbsp;Flamingo Transworld
                                                                        </li>
                                                                        <li><em>Inquiry Date&nbsp;&nbsp;-</em>&nbsp;&nbsp;05-06-2016
                                                                        </li>
                                                                         
                                                                        <li><em>Inquired By&nbsp;&nbsp;-</em>&nbsp;&nbsp;Samarth Shah
                                                                        </li>
                                                                        <li><em>Travel Date&nbsp;&nbsp;-</em>&nbsp;&nbsp;10-07-2016
                                                                        </li>
                                                                        <li><em>Pax&nbsp;&nbsp;-</em>&nbsp;&nbsp;10-14
                                                                        </li>
                                                                        <li><em>Satus&nbsp;&nbsp;-</em>&nbsp;&nbsp;Draft
                                                                        </li>
                                                                        <li><em>Inquiry Owner&nbsp;&nbsp;-</em>&nbsp;&nbsp;Samarth Shah
                                                                        </li>
                                                                        <li><em>Shared With&nbsp;&nbsp;-</em>&nbsp;&nbsp;Sudhir Punjabi
                                                                        </li>
                                                                        <li><em>Total Quotations&nbsp;&nbsp;-</em>&nbsp;&nbsp;15
                                                                        </li>
                                                                        <li><em>Total Inquiry Follow-ups&nbsp;&nbsp;-</em>&nbsp;&nbsp;20
                                                                        </li>
                                                                        <li><em>Efforts in Conversion&nbsp;&nbsp;-</em>&nbsp;&nbsp;10
                                                                        </li>
                                                                        <li><em>Last Updated By&nbsp;&nbsp;-</em>&nbsp;&nbsp;Samarth Shah
                                                                        </li>
                                                                        <li><em>Last Updated Date&nbsp;&nbsp;-</em>&nbsp;&nbsp;05-06-2016
                                                                        </li>

                                                                    </ul>
                                                                </div>
                                                                <footer class="cd-pricing-footer" style="padding-bottom: 1px; padding-top: 10px">
                                                                    <a class="btn cd-select" aria-expanded="false" rel="tooltip" title="Edit Inquiry" style="font-size: 10px; padding: 8px">
                                                                        <span class="fa fa-pencil" style="font-size: 19px;"></span>
                                                                    </a>
                                                                    <a class="btn cd-select" aria-expanded="false" rel="tooltip" title="View Last Quote" style="font-size: 10px; padding: 8px">
                                                                        <span class="fa fa-envelope" style="font-size: 19px"></span>
                                                                    </a>
                                                                </footer>
                                                            </li>

                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="panel-body tab-itenaries tab-itenariessum">

                                                    <div class="cd-pricing-container" style="margin-bottom: 0px">
                                                        <ul class="cd-pricing-list" style="padding-left: 0px; margin-top: 0px">
                                                            <li class="is-ended is-visible" data-type="monthly" style="width: 100%">
                                                                <header class="cd-pricing-header" style="padding-top: 1px !important;">
                                                                    <h2>Quoted On</h2>
                                                                    <div class="cd-price">
                                                                        <span class="cd-value">05-06-2016</span>

                                                                    </div>
                                                                </header>
                                                                <div class="cd-pricing-body">
                                                                    <ul class="cd-pricing-features newuliem">
                                                                        <li>
                                                                            <em>Ref. #&nbsp;&nbsp;-</em>&nbsp;&nbsp;Q-INQ-06-2016-0000001/007
                                                                        </li>
                                                                        <li>
                                                                            <em>Inquiry Code&nbsp;&nbsp;-</em>&nbsp;&nbsp;INQ-06-2016-0000001
                                                                        </li>
                                                                        <li><em>Agent&nbsp;&nbsp;-</em>&nbsp;&nbsp;Flamingo Transworld
                                                                        </li>
                                                                        <li><em>Travel Date&nbsp;&nbsp;-</em>&nbsp;&nbsp;10-07-2016
                                                                        </li>
                                                                        <li><em>Pax&nbsp;&nbsp;-</em>&nbsp;&nbsp;10-14
                                                                        </li>
                                                                        <li><em>Quotation Currency&nbsp;&nbsp;-</em>&nbsp;&nbsp;THB
                                                                        </li>
                                                                        <li><em>Exchange Rate&nbsp;&nbsp;-</em>&nbsp;&nbsp;0.028
                                                                        </li>
                                                                        <li><em>Quote Generated Date&nbsp;&nbsp;-</em>&nbsp;&nbsp;05-06-2016
                                                                        </li>
                                                                        <li><em>Quote Sent Date&nbsp;&nbsp;-</em>&nbsp;&nbsp;05-06-2016
                                                                        </li>
                                                                        <li><em>Quote Sent To&nbsp;&nbsp;-</em>&nbsp;&nbsp;Sudhir Punjabi
                                                                        </li>
                                                                        <li><em>Status&nbsp;&nbsp;-</em>&nbsp;&nbsp;Draft
                                                                        </li>
                                                                        <li><em>Total Quote Follow-ups&nbsp;&nbsp;-</em>&nbsp;&nbsp;20
                                                                        </li>

                                                                    </ul>
                                                                </div>
                                                                <footer class="cd-pricing-footer" style="padding-bottom: 1px; padding-top: 10px">
                                                                    <a class="btn cd-select" aria-expanded="false" rel="tooltip" title="View Quote" style="font-size: 10px; padding: 8px">
                                                                        <span class="fa fa-eye" style="font-size: 19px;"></span>
                                                                    </a>
                                                                    <a class="btn cd-select" aria-expanded="false" rel="tooltip" title="Download Quote" style="font-size: 10px; padding: 8px">
                                                                        <span class="fa fa-download" style="font-size: 19px;"></span>
                                                                    </a>
                                                                    <a class="btn cd-select" aria-expanded="false" rel="tooltip" title="Re-Send To Agent" style="font-size: 10px; padding: 8px">
                                                                        <span class="fa fa-paper-plane" style="font-size: 19px;"></span>
                                                                    </a>
                                                                    <a class="btn cd-select" aria-expanded="false" rel="tooltip" title="View Communication Trail" style="font-size: 10px; padding: 8px">
                                                                        <span class="fa fa-envelope" style="font-size: 19px;"></span>
                                                                    </a>

                                                                    <a class="btn cd-select" aria-expanded="false" rel="tooltip" title="Track Email" style="font-size: 10px; padding: 8px">
                                                                        <span class="fa fa-history" style="font-size: 19px"></span>
                                                                    </a>
                                                                </footer>
                                                            </li>

                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>

                                             <div class="col-md-3">
                                                <div class="panel-body tab-itenaries tab-itenariessum">

                                                    <div class="cd-pricing-container" style="margin-bottom: 0px">
                                                        <ul class="cd-pricing-list" style="padding-left: 0px; margin-top: 0px">
                                                            <li class="is-ended is-visible" data-type="monthly" style="width: 100%">
                                                                <header class="cd-pricing-header" style="padding-top: 1px !important;">
                                                                    <h2>Quoted On</h2>
                                                                    <div class="cd-price">
                                                                        <span class="cd-value">05-06-2016</span>

                                                                    </div>
                                                                </header>
                                                                <div class="cd-pricing-body">
                                                                    <ul class="cd-pricing-features newuliem">
                                                                        <li>
                                                                            <em>Ref. #&nbsp;&nbsp;-</em>&nbsp;&nbsp;Q-INQ-06-2016-0000001/007
                                                                        </li>
                                                                        <li>
                                                                            <em>Inquiry Code&nbsp;&nbsp;-</em>&nbsp;&nbsp;INQ-06-2016-0000001
                                                                        </li>
                                                                        <li><em>Agent&nbsp;&nbsp;-</em>&nbsp;&nbsp;Flamingo Transworld
                                                                        </li>
                                                                        <li><em>Travel Date&nbsp;&nbsp;-</em>&nbsp;&nbsp;10-07-2016
                                                                        </li>
                                                                        <li><em>Pax&nbsp;&nbsp;-</em>&nbsp;&nbsp;10-14
                                                                        </li>
                                                                        <li><em>Quotation Currency&nbsp;&nbsp;-</em>&nbsp;&nbsp;THB
                                                                        </li>
                                                                        <li><em>Exchange Rate&nbsp;&nbsp;-</em>&nbsp;&nbsp;0.028
                                                                        </li>
                                                                        <li><em>Quote Generated Date&nbsp;&nbsp;-</em>&nbsp;&nbsp;05-06-2016
                                                                        </li>
                                                                        <li><em>Quote Sent Date&nbsp;&nbsp;-</em>&nbsp;&nbsp;05-06-2016
                                                                        </li>
                                                                        <li><em>Quote Sent To&nbsp;&nbsp;-</em>&nbsp;&nbsp;Sudhir Punjabi
                                                                        </li>
                                                                        <li><em>Status&nbsp;&nbsp;-</em>&nbsp;&nbsp;Draft
                                                                        </li>
                                                                        <li><em>Total Quote Follow-ups&nbsp;&nbsp;-</em>&nbsp;&nbsp;20
                                                                        </li>

                                                                    </ul>
                                                                </div>
                                                                <footer class="cd-pricing-footer" style="padding-bottom: 1px; padding-top: 10px">
                                                                    <a class="btn cd-select" aria-expanded="false" rel="tooltip" title="View Quote" style="font-size: 10px; padding: 8px">
                                                                        <span class="fa fa-eye" style="font-size: 19px;"></span>
                                                                    </a>
                                                                    <a class="btn cd-select" aria-expanded="false" rel="tooltip" title="Download Quote" style="font-size: 10px; padding: 8px">
                                                                        <span class="fa fa-download" style="font-size: 19px;"></span>
                                                                    </a>
                                                                    <a class="btn cd-select" aria-expanded="false" rel="tooltip" title="Re-Send To Agent" style="font-size: 10px; padding: 8px">
                                                                        <span class="fa fa-paper-plane" style="font-size: 19px;"></span>
                                                                    </a>
                                                                    <a class="btn cd-select" aria-expanded="false" rel="tooltip" title="View Communication Trail" style="font-size: 10px; padding: 8px">
                                                                        <span class="fa fa-envelope" style="font-size: 19px;"></span>
                                                                    </a>

                                                                    <a class="btn cd-select" aria-expanded="false" rel="tooltip" title="Track Email" style="font-size: 10px; padding: 8px">
                                                                        <span class="fa fa-history" style="font-size: 19px"></span>
                                                                    </a>
                                                                </footer>
                                                            </li>

                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                             <div class="col-md-3">
                                                <div class="panel-body tab-itenaries tab-itenariessum">

                                                    <div class="cd-pricing-container" style="margin-bottom: 0px">
                                                        <ul class="cd-pricing-list" style="padding-left: 0px; margin-top: 0px">
                                                            <li class="is-ended is-visible" data-type="monthly" style="width: 100%">
                                                                <header class="cd-pricing-header" style="padding-top: 1px !important;">
                                                                    <h2>Quoted On</h2>
                                                                    <div class="cd-price">
                                                                        <span class="cd-value">05-06-2016</span>

                                                                    </div>
                                                                </header>
                                                                <div class="cd-pricing-body">
                                                                    <ul class="cd-pricing-features newuliem">
                                                                        <li>
                                                                            <em>Ref. #&nbsp;&nbsp;-</em>&nbsp;&nbsp;Q-INQ-06-2016-0000001/007
                                                                        </li>
                                                                        <li>
                                                                            <em>Inquiry Code&nbsp;&nbsp;-</em>&nbsp;&nbsp;INQ-06-2016-0000001
                                                                        </li>
                                                                        <li><em>Agent&nbsp;&nbsp;-</em>&nbsp;&nbsp;Flamingo Transworld
                                                                        </li>
                                                                        <li><em>Travel Date&nbsp;&nbsp;-</em>&nbsp;&nbsp;10-07-2016
                                                                        </li>
                                                                        <li><em>Pax&nbsp;&nbsp;-</em>&nbsp;&nbsp;10-14
                                                                        </li>
                                                                        <li><em>Quotation Currency&nbsp;&nbsp;-</em>&nbsp;&nbsp;THB
                                                                        </li>
                                                                        <li><em>Exchange Rate&nbsp;&nbsp;-</em>&nbsp;&nbsp;0.028
                                                                        </li>
                                                                        <li><em>Quote Generated Date&nbsp;&nbsp;-</em>&nbsp;&nbsp;05-06-2016
                                                                        </li>
                                                                        <li><em>Quote Sent Date&nbsp;&nbsp;-</em>&nbsp;&nbsp;05-06-2016
                                                                        </li>
                                                                        <li><em>Quote Sent To&nbsp;&nbsp;-</em>&nbsp;&nbsp;Sudhir Punjabi
                                                                        </li>
                                                                        <li><em>Status&nbsp;&nbsp;-</em>&nbsp;&nbsp;Draft
                                                                        </li>
                                                                        <li><em>Total Quote Follow-ups&nbsp;&nbsp;-</em>&nbsp;&nbsp;20
                                                                        </li>

                                                                    </ul>
                                                                </div>
                                                                <footer class="cd-pricing-footer" style="padding-bottom: 1px; padding-top: 10px">
                                                                    <a class="btn cd-select" aria-expanded="false" rel="tooltip" title="View Quote" style="font-size: 10px; padding: 8px">
                                                                        <span class="fa fa-eye" style="font-size: 19px;"></span>
                                                                    </a>
                                                                    <a class="btn cd-select" aria-expanded="false" rel="tooltip" title="Download Quote" style="font-size: 10px; padding: 8px">
                                                                        <span class="fa fa-download" style="font-size: 19px;"></span>
                                                                    </a>
                                                                    <a class="btn cd-select" aria-expanded="false" rel="tooltip" title="Re-Send To Agent" style="font-size: 10px; padding: 8px">
                                                                        <span class="fa fa-paper-plane" style="font-size: 19px;"></span>
                                                                    </a>
                                                                    <a class="btn cd-select" aria-expanded="false" rel="tooltip" title="View Communication Trail" style="font-size: 10px; padding: 8px">
                                                                        <span class="fa fa-envelope" style="font-size: 19px;"></span>
                                                                    </a>

                                                                    <a class="btn cd-select" aria-expanded="false" rel="tooltip" title="Track Email" style="font-size: 10px; padding: 8px">
                                                                        <span class="fa fa-history" style="font-size: 19px"></span>
                                                                    </a>
                                                                </footer>
                                                            </li>

                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                            
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



@section scripts{


    <script src="/assets/plugins/Barrating/jquery.barrating.min.js"></script>
    <script src="~/assets/plugins/FlexibleSlideToTopAccordion/js/jquery.accordion.js"></script>
    <script src="/assets/js/jquery.mjs.nestedSortable.js"></script>
    <script src="~/assets/plugins/datatables/js/dataTables.tableTools.js"></script>
    @*<script src="~/assets/plugins/FlexibleSlideToTopAccordion/js/jquery.easing.1.3.js"></script>*@

    <script src="~/Scripts/GITTourList/GITTourList.js"></script>

    <script src="~/assets/plugins/Masonry/masonry.pkgd.js"></script>

}

@section floatingsection{
    <div class="floating-section-buttons tab2" style="display: none">
        <a class="btn btn-default" data-section="tab2section1" rel="tooltip" title="Basic Details">1</a>
        @*<a class="btn btn-default" data-section="tab2section1" data-toggle="tooltip" data-placement="left" title="Basic Details">1</a>*@
        <a class="btn btn-default" data-section="tab2section2" rel="tooltip" title="Hotel Address">2</a>
        <a class="btn btn-default" data-section="tab2section4" rel="tooltip" title="Facilities">3</a>
        <a class="btn btn-default" data-section="tab2section7" rel="tooltip" title="Nearest Airports">4</a>
    </div>
    <div class="floating-section-buttons tab3" style="display: none">
        <a class="btn btn-default" data-section="tab3section1" rel="tooltip" title="Billing">1</a>
        <a class="btn btn-default" data-section="tab3section2" rel="tooltip" title="Bank">2</a>
        <a class="btn btn-default" data-section="tab3section3" rel="tooltip" title="Tax">3</a>
    </div>
    <div class="floating-section-buttons tab4" style="display: none">
        <a class="btn btn-default" data-section="tab4section1" rel="tooltip" title="Hotel Room">1</a>
        <a class="btn btn-default" data-section="tab4section2" rel="tooltip" title="Function Room">2</a>
        <a class="btn btn-default" data-section="tab4section3" rel="tooltip" title="Restaurent">3</a>
    </div>
}
