@{
    ViewBag.Title = "Transportation";
    ViewBag.PageTitle = "Transportation Master";
    ViewBag.FooterCopyRight = "2015 &copy; Green Travels.";
}

<style>
    .modal-lg {
        width: 95%;
    }
</style>

<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tab1" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Serach Transportation </a></li>
                    <li role="presentation"><a href="#tab2" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord"><span class="menu-icon fa fa-bus"></span>&nbsp;&nbsp;&nbsp;&nbsp;Create Transportation</a></li>
                    <li role="presentation"><a href="#tab4" role="tab" data-toggle="tab" data-section="tab4" class="basic-accord"><span class="menu-icon fa fa-user-plus"></span>&nbsp;&nbsp;&nbsp;&nbsp;User</a></li>
                    <li role="presentation"><a href="#tab5" role="tab" data-toggle="tab" data-section="tab5" class="basic-accord"><span class="menu-icon fa fa-university"></span>&nbsp;&nbsp;&nbsp;&nbsp;Billing / Bank / Tax</a></li>
                </ul>
                <div class="tab-content">
                    @*Search Transportation*@
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <form>
                            <div class="table-responsive">
                                <div class="dropdown table-custome-drop">
                                    <div class="btn-group">
                                        <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="glyphicon glyphicon-download-alt"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Excel</a></li>
                                            <li><a href="#">PDF</a></li>
                                            <li><a href="#">Email</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <table id="example-editable" class="display table" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Transportation Company Name 
                                            </th>
                                            <th>Accounting Group
                                            </th>
                                            <th>Status
                                            </th>
                                            <th>Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <th>#</th>
                                        <th>Transportation Company Name 
                                        </th>
                                        <th>Accounting Group
                                        </th>
                                        <th>Status
                                        </th>
                                        <th>Action
                                        </th>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <th></th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th>
                                                <a href="#">
                                                    <img src="assets/images/srach.png" height="15" width="15" /></a> <a href="#">
                                                        <img src="assets/images/close.png" height="15" width="15" /></a>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td><a href="javascript:void(0);">Amba Travels</a>
                                            </td>
                                            <td><a href="javascript:void(0);">Sunray Debitor</a>
                                            </td>
                                            <td><span class="label label-success hotelstatus" data-value="Active" data-source="[{value:'1',text:'Active'},{value:'2',text:'Inactive'}]" data-type="select">Active</span></td>
                                            <td>
                                                <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>2</td>
                                            <td><a href="javascript:void(0);">Amba Travels</a>
                                            </td>
                                            <td><a href="javascript:void(0);">Sunray Creditor</a>
                                            </td>
                                            <td><span class="label label-success hotelstatus" data-value="Active" data-source="[{value:'1',text:'Active'},{value:'2',text:'Inactive'}]" data-type="select">Active</span></td>
                                            <td>
                                                <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    @*Create Transportation*@
                    <div role="tabpanel" class="tab-pane " id="tab2">
                        <div class="col-md-7">
                            <form>
                                <h3 class="tab2section1"><span class="section-index">1</span>&nbsp;Basic Details - <span class="text-danger">Malee Travel - Pattaya</span></h3>
                                <div class="form-group">
                                    <label for="txtHotelName">Transportation Company Name <span>*</span></label>
                                    <input type="text" class="form-control" id="txtHotelName" placeholder="Sightseeing Company Name">
                                </div>
                                <div class="form-group">
                                    <label for="drpCompanyStatus">Status </label>
                                    <select id="drpCompanyStatus" class="js-states form-control" style="display: none; width: 100%">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="txtOfficialEmail">Official Email(s) <span>*</span></label>
                                    <input type="text" class="form-control" id="txtOfficialEmail" placeholder="Official Email(s)">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="drpCountry">Code<span>*</span></label>
                                            <input type="text" class="form-control col-sm-5" id="txtCountry" placeholder="Code">
                                        </div>
                                        <div class="col-md-5">
                                            <label for="txtOfficialPhone">Official Phone <span>*</span></label>
                                            <input type="text" class="form-control col-sm-5" id="txtOfficialPhone" placeholder="Official Phone">
                                        </div>
                                        <div class="col-md-5">
                                            <label for="txtFax">Fax</label>
                                            <input type="text" class="form-control" id="txtFax" placeholder="Fax">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtWebsite">Website </label>
                                    <input type="text" class="form-control" id="txtWebsite" placeholder="Website">
                                </div>
                                <div class="form-group">
                                    <label for="txtPrimaryContactPerson">Primary Contact Person </label>
                                    <input type="text" class="form-control" id="txtPrimaryContactPerson" placeholder="Primary Contact Person">
                                </div>
                                <div class="form-group">
                                    <label for="txtAccountingGroup">Accounting Group </label>
                                    <input type="text" class="form-control" id="txtAccountingGroup" placeholder="Accounting Group" readonly>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="txtTaxRegistrationNumber">Tax Registration Number </label>
                                            <input type="text" class="form-control col-sm-5" id="txtTaxRegistrationNumber" placeholder="Tax Registration Number">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="txtEffectiveDate">Effective Date</label>
                                            <input type="text" class="form-control date-picker" id="txtEffectiveDate" placeholder="Effective Date">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtCompanyIncorporationProof">Company Incorporation Proof </label>
                                    <input type="text" class="form-control" id="txtCompanyIncorporationProof" placeholder="Company Incorporation Proof">
                                </div>

                                <h3 class="section-headers tab2section2"><span class="section-index">2</span>&nbsp;Address - <span class="text-danger">Malee Travel - Pattaya</span></h3>
                                <div class="form-group">
                                    <label for="txtHotelLocation">Transportation Location (Landmark) </label>
                                    <input type="text" class="form-control" id="txtHotelLocation" placeholder="Sightseeing Location (Landmark)">
                                </div>
                                <div class="form-group">
                                    <label for="txtAddressLine1">Address Line 1 </label>
                                    <input type="text" class="form-control" id="txtAddressLine1" placeholder="Address Line 1 ">
                                </div>
                                <div class="form-group">
                                    <label for="txtAddressLine2">Address Line 2 </label>
                                    <input type="text" class="form-control" id="txtAddressLine2" placeholder="Address Line 2">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="txtCity">City </label>
                                            <input type="text" class="form-control" id="txtCity" placeholder="City">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtState">State</label>
                                            <input type="text" class="form-control" id="txtState" placeholder="State">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtCountry">Country</label>
                                            <input type="text" class="form-control" id="txtCountry" placeholder="Country">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtZipCode">Zip/Postal Code</label>
                                            <input type="text" class="form-control" id="txtZipCode" placeholder="Country">
                                        </div>
                                    </div>
                                </div>

                                <h3 class="section-headers tab2section3"><span class="section-index">3</span>&nbsp;Additional Services - <span class="text-danger">Malee Travel - Pattaya</span></h3>
                                <div class="form-group">
                                    <label>Included Services</label>
                                    <input type="text" data-role="tagsinput" class="form-control" value="" id="txtTags" placeholder="Included Services">
                                </div>
                                <div class="form-group">
                                    <label>Additional Services</label>
                                    <input type="text" data-role="tagsinput" class="form-control" value="" id="txtTags" placeholder="Additional Services">
                                </div>
                                <div class="form-group">
                                    <label>Other Additional Services</label>
                                    <input type="text" data-role="tagsinput" class="form-control" value="" id="txtTags" placeholder="Other Additional Services">
                                </div>
                                <h3 class="section-headers tab2section4"><span class="section-index">4</span>&nbsp;Cancellation Policy For FIT - <span class="text-danger">Malee Travel - Pattaya</span></h3>
                                <div class="form-group">
                                    <input type="checkbox">Cancellation Fees Applicable?
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="txtFormHours">From Hours </label>
                                            <input type="text" class="form-control" id="txtFormHours" placeholder="From Hours">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtToHours">To Hours </label>
                                            <input type="text" class="form-control" id="txtToHours" placeholder="To Hours">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtPercentage">No Show Charge (%)</label>
                                            <input type="text" class="form-control" id="txtPercentage" placeholder="Percentage (%)">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtPercentage">Agent Charge (%)</label>
                                            <input type="text" class="form-control" id="txtPercentage" placeholder="Percentage (%)">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="txtFormDays">From Hours </label>
                                            <input type="text" class="form-control" id="txtFormDays" placeholder="From Days">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtToDays">To Days</label>
                                            <input type="text" class="form-control" id="txtToDays" placeholder="To Days">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtPercentage">No Show Charge (%)</label>
                                            <input type="text" class="form-control" id="txtPercentage" placeholder="Percentage (%)">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtPercentage">Agent Charge (%)</label>
                                            <input type="text" class="form-control" id="txtPercentage" placeholder="Percentage (%)">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="txtFormDays">From Days </label>
                                            <input type="text" class="form-control" id="txtFormDays" placeholder="From Days">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtToDays">To Days</label>
                                            <input type="text" class="form-control" id="txtToDays" placeholder="To Days">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtPercentage">No Show Charge (%)</label>
                                            <input type="text" class="form-control" id="txtPercentage" placeholder="Percentage (%)">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtPercentage">Agent Charge (%)</label>
                                            <input type="text" class="form-control" id="txtPercentage" placeholder="Percentage (%)">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="txtFormDays">From Days </label>
                                            <input type="text" class="form-control" id="txtFormDays" placeholder="From Days">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtToDays">To Days</label>
                                            <input type="text" class="form-control" id="txtToDays" placeholder="To Days">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtPercentage">No Show Charge (%)</label>
                                            <input type="text" class="form-control" id="txtPercentage" placeholder="Percentage (%)">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtPercentage">Agent Charge (%)</label>
                                            <input type="text" class="form-control" id="txtPercentage" placeholder="Percentage (%)">
                                        </div>
                                    </div>
                                </div>

                                <h3 class="section-headers tab2section5"><span class="section-index">5</span>&nbsp;Cancellation Policy For GIT - <span class="text-danger">Malee Travel - Pattaya</span></h3>
                                <div class="form-group">
                                    <input type="checkbox">Cancellation Fees Applicable?
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="txtFormHours">From Hours </label>
                                            <input type="text" class="form-control" id="txtFormHours" placeholder="From Hours">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtToHours">To Hours </label>
                                            <input type="text" class="form-control" id="txtToHours" placeholder="To Hours">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtPercentage">Supplier Charge (%)</label>
                                            <input type="text" class="form-control" id="txtPercentage" placeholder="Percentage (%)">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtPercentage">Agent Charge (%)</label>
                                            <input type="text" class="form-control" id="txtPercentage" placeholder="Percentage (%)">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="txtFormDays">From Hours </label>
                                            <input type="text" class="form-control" id="txtFormDays" placeholder="From Days">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtToDays">To Days</label>
                                            <input type="text" class="form-control" id="txtToDays" placeholder="To Days">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtPercentage">Supplier Charge (%)</label>
                                            <input type="text" class="form-control" id="txtPercentage" placeholder="Percentage (%)">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtPercentage">Agent Charge (%)</label>
                                            <input type="text" class="form-control" id="txtPercentage" placeholder="Percentage (%)">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="txtFormDays">From Days </label>
                                            <input type="text" class="form-control" id="txtFormDays" placeholder="From Days">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtToDays">To Days</label>
                                            <input type="text" class="form-control" id="txtToDays" placeholder="To Days">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtPercentage">Supplier Charge (%)</label>
                                            <input type="text" class="form-control" id="txtPercentage" placeholder="Percentage (%)">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtPercentage">Agent Charge (%)</label>
                                            <input type="text" class="form-control" id="txtPercentage" placeholder="Percentage (%)">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="txtFormDays">From Days </label>
                                            <input type="text" class="form-control" id="txtFormDays" placeholder="From Days">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtToDays">To Days</label>
                                            <input type="text" class="form-control" id="txtToDays" placeholder="To Days">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtPercentage">Supplier Charge (%)</label>
                                            <input type="text" class="form-control" id="txtPercentage" placeholder="Percentage (%)">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtPercentage">Agent Charge (%)</label>
                                            <input type="text" class="form-control" id="txtPercentage" placeholder="Percentage (%)">
                                        </div>
                                    </div>
                                </div>

                                <br />
                                <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                    SAVE</button>
                                <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                    UPDATE</button>
                                <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                    DELETE</button>
                                <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                                    CLEAR</button>
                                <button id="btnSave" type="submit" class="btn btn-info btnSave">
                                    QUIT FORM</button>
                            </form>
                        </div>
                        <div class="col-md-5 summery-detail summerytab2">
                            <div class="panel panel-white">
                                <h4 class="panel-title-summery">Summary </h4>
                                <ul class="utilitis-drop ">
                                    <li><a href="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown">
                                        <img src="assets/images/utilitis-icon.png" height="19" width="19" /></a>
                                        <ul>
                                            <li><a href="#"><i class="task">&nbsp;</i><br />
                                                Task </a></li>
                                            <li><a href="#"><i class="noti">&nbsp;</i><br />
                                                Notifications </a></li>
                                            <li><a href="#"><i class="cal">&nbsp;</i><br />
                                                Calendar </a></li>
                                            <li><a href="#"><i class="e-mail">&nbsp;</i><br />
                                                Email </a></li>
                                            <li><a href="#"><i class="sms">&nbsp;</i><br />
                                                SMS </a></li>
                                            <li><a href="#"><i class="notes">&nbsp;</i><br />
                                                Notes </a></li>
                                            <li><a href="#"><i class="tages">&nbsp;</i><br />
                                                Tags </a></li>
                                            <li><a href="#"><i class="help-video">&nbsp;</i><br />
                                                Help Video </a></li>
                                            <li><a href="#"><i class="guided-tour">&nbsp;</i><br />
                                                Guided Tour </a></li>
                                            <li><a href="#"><i class="copy">&nbsp;</i><br />
                                                Copy </a></li>
                                            <li><a href="#"><i class="print">&nbsp;</i><br />
                                                Print </a></li>
                                            <li><a href="#"><i class="updates">&nbsp;</i><br />
                                                Updates </a></li>
                                            <li><a href="#"><i class="screns">&nbsp;</i><br />
                                                Screenshot </a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="panel-body" style="border: 1px solid #22BAA0;">
                                    <div class="summ-lis-height">
                                        <ul class="summery-list slimscroll">
                                            <div class="summ-list-left">
                                                <li>Transportation Company Name :<br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblHotelName" for="txtHotelName"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>Official Email(s)  :
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblOfficialEmail" for="txtOfficialEmail"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>Official Phone  :
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblOfficialPhone" for="txtOfficialPhone"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>Website  :
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblWebsite" for="txtWebsite"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>Address Line 1 
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblAddressLine1" for="txtAddressLine1"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>City :
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblCity" for="txtCity"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                            </div>
                                            <div class="summ-list-right">

                                                <li>State :
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblState" for="txtState"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>Country :
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblCountry" for="txtCountry"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>Zip/Postal Code :
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblZipCode" for="txtZipCode"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="summery-buttons">
                                        <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                            SAVE</button>
                                        <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                            UPDATE</button>
                                        <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                            DELETE</button>
                                        <p>
                                            Inputs with <i class="cross">&nbsp;</i> mark are incorrect
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*Vehical*@
                    <div role="tabpanel" class="tab-pane " id="tab3">
                        <div class="col-md-7">
                            <form>
                                <h3 class="tab3section1">Vehical - <span class="text-danger">Malee Travel - Pattaya</span></h3>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="txtRoomType">Vehicle Name <span>*</span></label>
                                            <input type="text" class="form-control" id="txtRoomType" placeholder="Vehicle Name ">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="drpVahicleType">Vehicle Type<span>*</span></label>
                                            <select id="drpVahicleType" class="js-states form-control" style="display: none; width: 100%">
                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtDescription">Seat Capacity </label>
                                    @*<input type="text" class="form-control" id="txtSeatCapacity" placeholder="Seat Capacity ">*@
                                    <input type="text" data-role="tagsinput" class="form-control" value="" id="txtTags" placeholder="Seat Capacity">
                                </div>
                                <div class="form-group">
                                    <label for="txtDescription">Luggage Capicity </label>
                                    <input type="text" data-role="tagsinput" class="form-control" value="" id="txtTags" placeholder="Luggage Capicity">
                                </div>
                                <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                    SAVE</button>
                                <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                    UPDATE</button>
                                <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                    DELETE</button>
                                <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                                    CLEAR</button>
                                <a href="javascript:void(0);" class="btn btn-info btnSave" data-toggle="modal" data-target="#MyVehicleGrid">SEARCH</a>
                            </form>
                        </div>
                        <div class="col-md-5 summery-detail summerytab3">
                            <div class="panel panel-white">
                                <h4 class="panel-title-summery">Summary </h4>
                                <ul class="utilitis-drop ">
                                    <li><a href="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown">
                                        <img src="assets/images/utilitis-icon.png" height="19" width="19" /></a>
                                        <ul>
                                            <li><a href="#"><i class="task">&nbsp;</i><br />
                                                Task </a></li>
                                            <li><a href="#"><i class="noti">&nbsp;</i><br />
                                                Notifications </a></li>
                                            <li><a href="#"><i class="cal">&nbsp;</i><br />
                                                Calendar </a></li>
                                            <li><a href="#"><i class="e-mail">&nbsp;</i><br />
                                                Email </a></li>
                                            <li><a href="#"><i class="sms">&nbsp;</i><br />
                                                SMS </a></li>
                                            <li><a href="#"><i class="notes">&nbsp;</i><br />
                                                Notes </a></li>
                                            <li><a href="#"><i class="tages">&nbsp;</i><br />
                                                Tags </a></li>
                                            <li><a href="#"><i class="help-video">&nbsp;</i><br />
                                                Help Video </a></li>
                                            <li><a href="#"><i class="guided-tour">&nbsp;</i><br />
                                                Guided Tour </a></li>
                                            <li><a href="#"><i class="copy">&nbsp;</i><br />
                                                Copy </a></li>
                                            <li><a href="#"><i class="print">&nbsp;</i><br />
                                                Print </a></li>
                                            <li><a href="#"><i class="updates">&nbsp;</i><br />
                                                Updates </a></li>
                                            <li><a href="#"><i class="screns">&nbsp;</i><br />
                                                Screenshot </a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="panel-body" style="border: 1px solid #22BAA0;">
                                    <div class="summ-lis-height">
                                        <ul class="summery-list slimscroll">
                                            <div class="summ-list-left">
                                                <li>Hotel Name :<br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblHotelName" for="txtHotelName"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>Type Of Hotel :
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblTypeOfHotel" for="drpTypeOfHotel"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>Star Rating :
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblStarRating" for="drpStarRating"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>Operating Currency :
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblOperatingCurrency" for="drpOperatingCurrency"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>Official Email(s)  :
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblOfficialEmail" for="txtOfficialEmail"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>Official Phone  :
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblOfficialPhone" for="txtOfficialPhone"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>

                                            </div>
                                            <div class="summ-list-right">
                                                <li>Website  :
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblWebsite" for="txtWebsite"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>Address Line 1 
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblAddressLine1" for="txtAddressLine1"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>City :
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblCity" for="txtCity"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>State :
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblState" for="txtState"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>Country :
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblCountry" for="txtCountry"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                                <li>Zip/Postal Code :
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblZipCode" for="txtZipCode"></label>
                                                        <i>&nbsp;</i>
                                                    </a>
                                                </li>
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="summery-buttons">
                                        <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                            SAVE</button>
                                        <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                            UPDATE</button>
                                        <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                            DELETE</button>
                                        <a href="javascript:void(0);" class="btn btn-info btnSave" data-toggle="modal" data-target="#MyVehicleGrid">SEARCH</a>
                                        <p>
                                            Inputs with <i class="cross">&nbsp;</i> mark are incorrect
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*User*@
                    <div role="tabpanel" class="tab-pane" id="tab4">
                        <div class="col-md-7">
                            <form>
                                <h3 class="tab4section1">User - <span class="text-danger">Mantra Restaurant & Bar - Pattaya</span></h3>
                                <div class="form-group">
                                    <label for="txtFirstName">Name <span>*</span></label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control col-sm-5 textbox-control" id="txtFirstName" value="Sarawut" placeholder="First Name" data-label="lblFirstName">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control col-sm-5 textbox-control" id="txtLastName" value="Engchawadechasilp" placeholder="Last Name" data-label="lblLastName">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtHotelUserEmail">Email (User Name) <span>*</span></label>
                                    <input type="text" class="form-control" id="txtHotelUserEmail" value="sarawut.engchawadechasilp@gmail.com" placeholder="Email(User Name)">
                                </div>
                                <div class="form-group">
                                    <label for="txtHotelUserPassword">Password <span>*</span></label>
                                    <input type="Password" class="form-control " value="test@123" id="txtHotelUserPassword" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="txtConfirmHotelUserPassword">Confirm Password</label>
                                    <input type="Password" class="form-control" value="test@123" id="txtConfirmHotelUserPassword" placeholder="Confirm Password">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="drpCountry">Code</label>
                                            <input type="text" class="form-control col-sm-5" id="txtCountry" value="+66" placeholder="Code">
                                        </div>
                                        <div class="col-md-8">
                                            <label for="txtTelephone">Telephone</label>
                                            <input type="text" class="form-control col-sm-5" id="txtTelephone" value="38645465" placeholder="Telephone">
                                        </div>
                                        <div class="col-md-2">
                                            <label for="txtExtn">Extn.</label>
                                            <input type="text" class="form-control" id="txtExtn" placeholder="Extn">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="drpCountry">Code</label>
                                            <input type="text" class="form-control col-sm-5" id="txtCountry" placeholder="Code">
                                        </div>
                                        <div class="col-md-10">
                                            <label for="txtCellPhone">Cell Phone</label>
                                            <input type="text" class="form-control col-sm-5" id="txtCellPhone" placeholder="Cell Phone">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="drpDesignation">Designation <span>*</span></label>
                                    <select id="drpDesignation" class="js-states form-control" style="display: none; width: 100%">
                                        <option>Admin</option>
                                        <option>Receptionist</option>
                                        <option selected="selected">Manager</option>
                                        <option>Chef</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="txtPicture">Picture </label>
                                    <input type="text" class="form-control" id="txtPicture" placeholder="Picture">
                                </div>
                                <div class="form-group">
                                    <label for="drpStatus">Status </label>
                                    <select id="drpStatus" class="js-states form-control" style="display: none; width: 100%">
                                        <option selected="selected">Active</option>
                                        <option>Inactive</option>
                                    </select>
                                </div>

                                <br />
                                <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                    SAVE</button>
                                <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                    UPDATE</button>
                                <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                    DELETE</button>
                                <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                                    CLEAR</button>
                                <a href="javascript:void(0);" class="btn btn-info btnSave" data-toggle="modal" data-target="#MyUserGrid">SEARCH</a>
                            </form>
                        </div>
                        <div class="col-md-5 summery-detail summerytab3">
                            <div class="panel panel-white">
                                <h4 class="panel-title-summery">Summary </h4>
                                <ul class="utilitis-drop ">
                                    <li><a href="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown">
                                        <img src="assets/images/utilitis-icon.png" height="19" width="19" /></a>
                                        <ul>
                                            <li><a href="#"><i class="task">&nbsp;</i><br />
                                                Task </a></li>
                                            <li><a href="#"><i class="noti">&nbsp;</i><br />
                                                Notifications </a></li>
                                            <li><a href="#"><i class="cal">&nbsp;</i><br />
                                                Calendar </a></li>
                                            <li><a href="#"><i class="e-mail">&nbsp;</i><br />
                                                Email </a></li>
                                            <li><a href="#"><i class="sms">&nbsp;</i><br />
                                                SMS </a></li>
                                            <li><a href="#"><i class="notes">&nbsp;</i><br />
                                                Notes </a></li>
                                            <li><a href="#"><i class="tages">&nbsp;</i><br />
                                                Tags </a></li>
                                            <li><a href="#"><i class="help-video">&nbsp;</i><br />
                                                Help Video </a></li>
                                            <li><a href="#"><i class="guided-tour">&nbsp;</i><br />
                                                Guided Tour </a></li>
                                            <li><a href="#"><i class="copy">&nbsp;</i><br />
                                                Copy </a></li>
                                            <li><a href="#"><i class="print">&nbsp;</i><br />
                                                Print </a></li>
                                            <li><a href="#"><i class="updates">&nbsp;</i><br />
                                                Updates </a></li>
                                            <li><a href="#"><i class="screns">&nbsp;</i><br />
                                                Screenshot </a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="panel-body" style="border: 1px solid #22BAA0;">
                                    <div class="summ-lis-height">
                                        <ul class="summery-list slimscroll">
                                            <div class="summ-list-div">
                                                <div class="summ-list-left">
                                                    <li>First Name :<br />
                                                        <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                            <label id="lblHotelName" for="txtHotelName"></label>
                                                            <i>&nbsp;</i>
                                                        </a>
                                                    </li>
                                                    <li>Last Name :<br />
                                                        <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                            <label id="lblHotelName" for="txtHotelName"></label>
                                                            <i>&nbsp;</i>
                                                        </a>
                                                    </li>
                                                    <li>Email (User Name) :
                                                    <br />
                                                        <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                            <label id="lblTypeOfHotel" for="drpTypeOfHotel"></label>
                                                            <i>&nbsp;</i>
                                                        </a>
                                                    </li>
                                                </div>
                                                <div class="summ-list-right">
                                                    <li>Telephone :
                                                    <br />
                                                        <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                            <label id="lblStarRating" for="drpStarRating"></label>
                                                            <i>&nbsp;</i>
                                                        </a>
                                                    </li>
                                                    <li>Cell Phone :
                                                    <br />
                                                        <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                            <label id="lblOperatingCurrency" for="drpOperatingCurrency"></label>
                                                            <i>&nbsp;</i>
                                                        </a>
                                                    </li>
                                                    <li>Designation :
                                                    <br />
                                                        <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                            <label id="lblOperatingCurrency" for="drpOperatingCurrency"></label>
                                                            <i>&nbsp;</i>
                                                        </a>
                                                    </li>
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="summery-buttons">
                                        <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                            SAVE</button>
                                        <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                            UPDATE</button>
                                        <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                            DELETE</button>
                                        <a href="javascript:void(0);" class="btn btn-info btnSave" data-toggle="modal" data-target="#MyUserGrid">SEARCH</a>
                                        <p>
                                            Inputs with <i class="cross">&nbsp;</i> mark are incorrect
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*Billing / Bank*@
                    <div role="tabpanel" class="tab-pane" id="tab5">
                        <div class="col-md-7">
                            <form>
                                <h3 class="tab5section1"><span class="section-index">1</span>&nbsp;Billing - <span class="text-danger">Mantra Restaurant & Bar - Pattaya</span></h3>
                                <div class="form-group">
                                    <label for="txtBillingName">Billing Name <span>*</span></label>
                                    <input type="text" class="form-control" id="txtBillingName" value="Amari Pattaya" placeholder="Billing Name">
                                </div>
                                <div class="form-group">
                                    <label for="txtBillingContactPerson">Billing Contact Person <span>*</span></label>
                                    <input type="text" class="form-control" id="txtBillingContactPerson" placeholder="Billing Contact Person">
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" id="chkDifferentAddress">Different Address?
                                </div>
                                <div class="form-group">
                                    <label for="txtAddressLine1">Billing Address Line 1 </label>
                                    <input type="text" class="form-control" id="txtBillingAddressLine1" value="240 Moo 5" placeholder="Billing Address Line 1 ">
                                </div>
                                <div class="form-group">
                                    <label for="txtAddressLine2">Billing Address Line 2 </label>
                                    <input type="text" class="form-control" id="txtBillingAddressLine2" value="Naklua, Banglamung,Chonburi" placeholder="Billing Address Line 2">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="txtBillingCity">Billing City </label>
                                            <input type="text" class="form-control" id="txtBillingCity" value="Chonburi" placeholder="Billing City">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtBillingState">Billing State</label>
                                            <input type="text" class="form-control" id="txtBillingState" value="Pattaya Central" placeholder="Billing State">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtBillingCountry">Billing Country</label>
                                            <input type="text" class="form-control" id="txtBillingCountry" value="Thailand" placeholder="Billing Country">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="txtBillingZipCode">Billing Zip/Postal Code</label>
                                            <input type="text" class="form-control" id="txtBillingZipCode" value="20150" placeholder="Billing Country">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtBillingEmail">Billing Email </label>
                                    <input type="text" class="form-control" id="txtBillingEmail" value="billing@amarioceanpattaya.com" placeholder="Billing Email">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="drpCountry">Billing Code</label>
                                            <input type="text" class="form-control col-sm-5" id="txtBillingCountry" value="+66" placeholder="Billing Code">
                                        </div>
                                        <div class="col-md-8">
                                            <label for="txtTelephone">Billing Telephone</label>
                                            <input type="text" class="form-control col-sm-5" id="txtBillingTelephone" value="38418418" placeholder="Billing Telephone">
                                        </div>
                                        <div class="col-md-2">
                                            <label for="txtExtn">Billing Extn.</label>
                                            <input type="text" class="form-control" id="txtBillingExtn" placeholder="Billing Extn">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="drpCountry">Billing Code</label>
                                            <input type="text" class="form-control col-sm-5" id="txtBillingCountry" placeholder="Billing Code">
                                        </div>
                                        <div class="col-md-10">
                                            <label for="txtCellPhone">Billing Cell Phone</label>
                                            <input type="text" class="form-control col-sm-5" id="txtBillingCellPhone" placeholder="Billing Cell Phone">
                                        </div>
                                    </div>
                                </div>

                                <h3 class="section-headers tab5section2"><span class="section-index">2</span>&nbsp;Bank - <span class="text-danger">Mantra Restaurant & Bar - Pattaya</span></h3>
                                <div class="form-group">
                                    <label for="txtBillingEmail">Account Number </label>
                                    <input type="text" class="form-control" id="txtAccountNumber" placeholder="Account Number">
                                </div>
                                <div class="form-group">
                                    <label for="txtBillingEmail">Account Name </label>
                                    <input type="text" class="form-control" id="txtAccountName" placeholder="Account Name">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="txtBillingEmail">Bank Name </label>
                                            <input type="text" class="form-control" value="Bangkok Bank" id="txtBankName" placeholder="Bank Name">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="txtBillingEmail">Bank Branch </label>
                                            <input type="text" class="form-control" value="Banglamung Branch" id="txtBankBranch" placeholder="Bank Branch">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtBillingEmail">Bank Address </label>
                                    <textarea class="form-control" cols="5" id="txtBankAddress">44, Naklua Road 44 Moo 5 North Pattaya</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="txtBillingEmail">Swift Code / Sort Code </label>
                                    <input type="text" class="form-control" id="txtSwiftCode" value="BKKBTHBKTRD" placeholder="Swift Code / Sort Code">
                                </div>

                                <h3 class="section-headers tab5section3"><span class="section-index">3</span>&nbsp;Tax - <span class="text-danger">Mantra Restaurant & Bar - Pattaya</span></h3>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="txtBillingEmail">VAT in Net Rate </label>
                                            <select id="drpDisplayFor" class="js-states form-control" tabindex="-1" style="display: none; width: 100%">
                                                <option>Included</option>
                                                <option selected="selected">Excluded</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="txtBillingEmail">Rate </label>
                                            <input type="text" class="form-control" id="txtBankBranch" value="7" placeholder="Rate in Percentage (%)">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="txtBillingEmail">Withholding in Net Rate </label>
                                            <select id="drpDisplayFor" class="js-states form-control" tabindex="-1" style="display: none; width: 100%">
                                                <option>-None-</option>
                                                <option>Included</option>
                                                <option>Excluded</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="txtBillingEmail">Rate </label>
                                            <input type="text" class="form-control" id="txtBankBranch" placeholder="Rate in Percentage (%)">
                                        </div>
                                    </div>
                                </div>

                                <br />
                                <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                    SAVE</button>
                                <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                    UPDATE</button>
                                <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                    DELETE</button>
                                <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                                    CLEAR</button>
                                <button id="btnSave" type="submit" class="btn btn-info btnSave">
                                    QUIT FORM</button>
                            </form>
                        </div>
                        <div class="col-md-5 summery-detail summerytab3">
                            <div class="panel panel-white">
                                <h4 class="panel-title-summery">Summary </h4>
                                <ul class="utilitis-drop ">
                                    <li><a href="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown">
                                        <img src="assets/images/utilitis-icon.png" height="19" width="19" /></a>
                                        <ul>
                                            <li><a href="#"><i class="task">&nbsp;</i><br />
                                                Task </a></li>
                                            <li><a href="#"><i class="noti">&nbsp;</i><br />
                                                Notifications </a></li>
                                            <li><a href="#"><i class="cal">&nbsp;</i><br />
                                                Calendar </a></li>
                                            <li><a href="#"><i class="e-mail">&nbsp;</i><br />
                                                Email </a></li>
                                            <li><a href="#"><i class="sms">&nbsp;</i><br />
                                                SMS </a></li>
                                            <li><a href="#"><i class="notes">&nbsp;</i><br />
                                                Notes </a></li>
                                            <li><a href="#"><i class="tages">&nbsp;</i><br />
                                                Tags </a></li>
                                            <li><a href="#"><i class="help-video">&nbsp;</i><br />
                                                Help Video </a></li>
                                            <li><a href="#"><i class="guided-tour">&nbsp;</i><br />
                                                Guided Tour </a></li>
                                            <li><a href="#"><i class="copy">&nbsp;</i><br />
                                                Copy </a></li>
                                            <li><a href="#"><i class="print">&nbsp;</i><br />
                                                Print </a></li>
                                            <li><a href="#"><i class="updates">&nbsp;</i><br />
                                                Updates </a></li>
                                            <li><a href="#"><i class="screns">&nbsp;</i><br />
                                                Screenshot </a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="panel-body" style="border: 1px solid #22BAA0;">
                                    <div class="summ-lis-height">
                                        <ul class="summery-list slimscroll">
                                            <h4 class="summery-header"><span class="summery-section-index">1</span></h4>
                                            <div class="summ-list-div">
                                                <div class="summ-list-left">
                                                    <li>Billing Name 
                                                    <br />
                                                        <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                            <label id="lblAddressLine1" for="txtAddressLine1"></label>
                                                            <i>&nbsp;</i>
                                                        </a>
                                                    </li>
                                                    <li>Billing Contact Person  :
                                                    <br />
                                                        <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                            <label id="lblCity" for="txtCity"></label>
                                                            <i>&nbsp;</i>
                                                        </a>
                                                    </li>
                                                    <li>Billing Address Line 1 
                                                    <br />
                                                        <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                            <label id="lblAddressLine1" for="txtAddressLine1"></label>
                                                            <i>&nbsp;</i>
                                                        </a>
                                                    </li>
                                                    <li>Billing City :
                                                    <br />
                                                        <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                            <label id="lblCity" for="txtCity"></label>
                                                            <i>&nbsp;</i>
                                                        </a>
                                                    </li>
                                                    <li>Billing State :
                                                    <br />
                                                        <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                            <label id="lblState" for="txtState"></label>
                                                            <i>&nbsp;</i>
                                                        </a>
                                                    </li>
                                                </div>
                                                <div class="summ-list-right">

                                                    <li>Billing Country :
                                                    <br />
                                                        <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                            <label id="lblCountry" for="txtCountry"></label>
                                                            <i>&nbsp;</i>
                                                        </a>
                                                    </li>
                                                    <li>Billing Zip/Postal Code :
                                                    <br />
                                                        <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                            <label id="lblZipCode" for="txtZipCode"></label>
                                                            <i>&nbsp;</i>
                                                        </a>
                                                    </li>
                                                    <li>Billing Email :
                                                    <br />
                                                        <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                            <label id="lblStarRating" for="drpStarRating"></label>
                                                            <i>&nbsp;</i>
                                                        </a>
                                                    </li>
                                                    <li>Billing Telephone :
                                                    <br />
                                                        <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                            <label id="lblOperatingCurrency" for="drpOperatingCurrency"></label>
                                                            <i>&nbsp;</i>
                                                        </a>
                                                    </li>
                                                    <li>Billing Cell Phone :
                                                    <br />
                                                        <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                            <label id="lblOperatingCurrency" for="drpOperatingCurrency"></label>
                                                            <i>&nbsp;</i>
                                                        </a>
                                                    </li>
                                                </div>
                                            </div>
                                        </ul>
                                        <ul class="summery-list slimscroll">
                                        </ul>
                                    </div>
                                    <div class="summery-buttons">
                                        <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                            SAVE</button>
                                        <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                            UPDATE</button>
                                        <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                            DELETE</button>
                                        <p>
                                            Inputs with <i class="cross">&nbsp;</i> mark are incorrect
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*SIC Operating Time For FIT*@
                    <div role="tabpanel" class="tab-pane " id="tab6">
                        <div class="col-md-12">
                            <form>
                                <h3 class="tab5section1"><span class="section-index">1</span>&nbsp;SIC Operating Time For FIT - <span class="text-danger">Malee Travel - Pattaya</span></h3>
                                <div class="table-responsive">
                                    <table id="exampleeditable" class="display table" style="width: 100%; cellspacing: 0;">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Operating Time
                                                </th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>
                                                    <button id="btnadd" class="btn btn-success btnSave" type="submit">
                                                        Add</button>
                                                </th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>
                                                    <div class="input-group input-append bootstrap-timepicker">
                                                        <input type="text" class="form-control" id="timepicker1">
                                                        <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>
                                                    <div class="input-group input-append bootstrap-timepicker">
                                                        <input type="text" class="form-control" id="timepicker3">
                                                        <span class="input-group-addon add-on"><i class="fa fa-clock-o"></i></span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <br />
                                <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                    SAVE</button>
                                <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                    UPDATE</button>
                                <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                    DELETE</button>
                                <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                                    CLEAR</button>
                                <button id="btnSave" type="submit" class="btn btn-info btnSave">
                                    QUIT FORM</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Restaurant Grid*@
<div class="modal fade" id="MyVehicleGrid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Search Vehicle</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="dropdown table-custome-drop">
                        <div class="btn-group">
                            <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="glyphicon glyphicon-download-alt"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Excel</a></li>
                                <li><a href="#">PDF</a></li>
                                <li><a href="#">Email</a></li>
                            </ul>
                        </div>
                    </div>
                    <table id="example-editable" class="display table datatable" style="width: 100%; cellspacing: 0;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Vehicle Name </th>
                                <th>Vehicle Type</th>
                                <th>Seat Capacity</th>
                                <th>Luggage Capicity </th>
                                <th>Action</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <input type="text" />
                                </th>
                                <th>
                                    <a href="#">
                                        <img src="assets/images/srach.png" height="15" width="15" /></a> <a href="#">
                                            <img src="assets/images/close.png" height="15" width="15" /></a>
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Vehicle Name </th>
                                <th>Vehicle Type</th>
                                <th>Seat Capacity</th>
                                <th>Luggage Capicity </th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Yaris - Toyota</td>
                                <td>Car</td>
                                <td>1,2,3,4</td>
                                <td>3</td>
                                <td>
                                    <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                    &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section floatingsection{
    <div class="floating-section-buttons tab2" style="display: none">
        <a class="btn btn-default" data-section="tab2section1" rel="tooltip" title="Basic Details">1</a>
        <a class="btn btn-default" data-section="tab2section2" rel="tooltip" title="Address">2</a>
        <a class="btn btn-default" data-section="tab2section3" rel="tooltip" title="Additional Services">3</a>
        <a class="btn btn-default" data-section="tab2section4" rel="tooltip" title="Cancellation Policy For FIT">4</a>
        <a class="btn btn-default" data-section="tab2section5" rel="tooltip" title="Cancellation Policy For GIT">5</a>
    </div>
    <div class="floating-section-buttons tab5" style="display: none">
        <a class="btn btn-default" data-section="tab5section1" rel="tooltip" title="Billing">1</a>
        <a class="btn btn-default" data-section="tab5section2" rel="tooltip" title="Bank">2</a>
        <a class="btn btn-default" data-section="tab5section3" rel="tooltip" title="Tax">3</a>
    </div>
    <div class="floating-section-buttons tab6" style="display: none">
        <a class="btn btn-default" data-section="tab6section1" rel="tooltip" title="Show Time">1</a>
        <a class="btn btn-default" data-section="tab6section2" rel="tooltip" title="Cancellation Policies">2</a>
    </div>
}