 <div class="row">
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-12 tab-itenaries">
                                                <div class="panel-group " id="SummeryAccordion1" role="tablist" aria-multiselectable="true">
                                                    <div class="row" style="padding-bottom: 10px">
                                                        <div class="col-md-4">
                                                            <h1><small>Bangkok</small> <small class="text-primary text-bottom-border">3 Nights</small></h1>
                                                            <br />
                                                            <label style="font-size: 16px">Optional Hotel</label>
                                                            <select id="drpHotelOption" class="js-states form-control" style="display: none; width: 100%">
                                                                <option>Select Hotel Option</option>
                                                                <option>Hotel Ibis</option>
                                                                <option>Swadswed</option>
                                                                <option selected="selected">Hotel De Bangkok</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-8 text-left-border">
                                                            <div class="row">
                                                                <div class="col-md-12 text-bottom-border">
                                                                    <h1><small>Hotel De Bangkok</small> <small class="text-success text-bottom-border" style="margin-right: 35%">2508.07 USD</small>
                                                                        <a data-target="#myHotelModal" data-toggle="modal"><span class="fa fa-pencil btn-success" style="border-radius: 50%; padding: 8px 9px"></span></a>
                                                                        <a onclick="confirmAlert();" href="#"><span class="fa fa-close btn-danger" style="border-radius: 50%; padding: 8px 9px"></span></a>
                                                                    </h1>

                                                                </div>
                                                                <div class="col-md-12 child-span-margin">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td></td>
                                                                                <td style="padding: 10px;">
                                                                                    <span class="label label-orange" rel="tooltip" title="Check-in Time">07:00 AM</span>
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="Check-in Day">Day 1 (05-May-2016)</span> | 
                                                                                 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="Check-out Day">Day 4 (08-May-2016)</span> |
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Adult"># of Adult: 3</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Extra Bed Adult"># of Extra Bed Adult: 1</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Child No Bed"># of Child No Bed: 2</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Single Room"># of Single Room: 1</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Double / Twin Room"># of Double: 1</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Quad Room"># of Twin Room: 0</span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="padding-bottom: 10px">
                                                        <div class="col-md-6">
                                                            <div class="panel panel-blue">
                                                                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                                                                    <h4 class="panel-title ">
                                                                        <a data-toggle="collapse" data-parent="#SummeryAccordion1" href="#ccollapseOne1" aria-expanded="true" aria-controls="collapseOne1">Day 1 - Bangkok  (05-May-2016)
                                                                        </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="ccollapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                                                                    <div class="panel-body">
                                                                        <table class="table-itinarary-summary table" style="width: 100%;">
                                                                            <tbody>
                                                                                @*Transfer*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-car text-success" rel="tooltip" title="Transfer - Visit Day: Day 1(11-Mar-2016) | Sharing Type: SIC | Transfer Component: Airport To Bangkok Hote"></span></td>
                                                                                    <td>Hotel De Bangkok To Safari World & MArine Park&nbsp;&nbsp<span data-target="#OptionalTransfermodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-success" rel="tooltip" title="Optional Transfer"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">08:00</span></td>

                                                                                    <td><span class="label label-alternate-bg total-cost">USD 24.47</span></td>
                                                                                    <td><a data-target="#myTransportationModalPVT" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Guide*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-street-view text-tomato" rel="tooltip" title="Guide - Sightseeing: Grand Palace | Visit Day: Day 1 (05-May-2016)"></span></td>
                                                                                    <td>Newbie Guide&nbsp;&nbsp;<span data-target="#OptionalGuidemodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-tomato" rel="tooltip" title="Optional Guide"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">09:00</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">USD 85.20</span></td>
                                                                                    <td><a data-target="#myGuideModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Sightseeing*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-map-marker text-orange" rel="tooltip" title="Sightseeing - Supplier Company: Travelz Unlimited | Visit Day: Day 1 (05-May-2016) | Pickup From: Hotel de bangkok | Pickup Time: 8:45"></span></td>
                                                                                    <td>Safari Park&nbsp;&nbsp;<span data-target="#OptionalSightseeingmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-orange" rel="tooltip" title="Optional Sightseeing"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">09:00</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">USD 621.44</span></td>
                                                                                    <td><a data-target="#mySightseeingModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Restaurant*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-spoon text-maroon" rel="tooltip" title="Restaurant - Visit Day: Day 1 (05-May-2016) | # Passengers: 5"></span></td>
                                                                                    <td>Tealicious Bangkok&nbsp;&nbsp<span data-target="#OptionalRestaurantmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-maroon" rel="tooltip" title="Optional Restaurant"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">12:30</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">USD 185.16</span></td>
                                                                                    <td><a data-target="#myRestauranteModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>

                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="panel panel-blue">
                                                                <div class="panel-heading accordian-heading" role="tab" id="headingTwo2">
                                                                    <h4 class="panel-title">
                                                                        <a class="collapsed" data-toggle="collapse" data-parent="#SummeryAccordion1" href="#collapseTwo2" aria-expanded="true" aria-controls="collapseTwo2">Day 2 - Bangkok  (06-May-2016)
                                                                        </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapseTwo2" class="panel-collapse panel-white in" role="tabpanel" aria-labelledby="headingTwo2">
                                                                    <div class="panel-body">
                                                                        <table class="table-itinarary-summary table" style="width: 100%;">
                                                                            <tbody>
                                                                                @*Transfer*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-car text-success" rel="tooltip" title="Transfer - Visit Day: Day 2(06-May-2016) | Sharing Type: SIC | Transfer Component:Hotel de bangkok to Grand Palace"></span></td>
                                                                                    <td>Hotel De Bangkok To Grand Palace&nbsp;&nbsp<span data-target="#OptionalTransfermodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-success" rel="tooltip" title="Optional Transfer"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">08:00</span></td>

                                                                                    <td><span class="label label-alternate-bg total-cost">USD 31.41</span></td>
                                                                                    <td><a data-target="#myTransportationModalPVT" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Guide*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-street-view text-tomato" rel="tooltip" title="Guide - Sightseeing: Grand Palace | Visit Day: Day 2 (06-May-2016)"></span></td>
                                                                                    <td>Newbien Guide&nbsp;&nbsp;<span data-target="#OptionalGuidemodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-tomato" rel="tooltip" title="Optional Guide"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">08:00</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">USD 114.80</span></td>
                                                                                    <td><a data-target="#myGuideModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Sightseeing*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-map-marker text-orange" rel="tooltip" title="Sightseeing - Supplier Company: Travelz Unlimited | Visit Day: Day 2 (06-May-2016) | Pickup From: Hotel De Bangkok | Pickup Time: 08:00"></span></td>
                                                                                    <td>Grand Palace&nbsp;&nbsp;<span data-target="#OptionalSightseeingmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-orange" rel="tooltip" title="Optional Sightseeing"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">09:00</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">USD 256.53</span></td>
                                                                                    <td><a data-target="#mySightseeingModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Restaurant*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-spoon text-maroon" rel="tooltip" title="Restaurant - Visit Day: Day 2 (06-May-2016) | # Passengers: 5"></span></td>
                                                                                    <td>Tealicious Restaurant&nbsp;&nbsp<span data-target="#OptionalRestaurantmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-maroon" rel="tooltip" title="Optional Restaurant"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">12:30</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">USD 199.58</span></td>
                                                                                    <td><a data-target="#myRestauranteModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>

                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6" style="padding-bottom: 10px">
                                                            <div class="panel panel-blue">
                                                                <div class="panel-heading accordian-heading" role="tab" id="headingTwo23">
                                                                    <h4 class="panel-title">
                                                                        <a class="collapsed" data-toggle="collapse" data-parent="#SummeryAccordion1" href="#collapseTwo23" aria-expanded="true" aria-controls="collapseTwo2">Day 3 - Bangkok  (07-May-2016)
                                                                        </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapseTwo23" class="panel-collapse panel-white in" role="tabpanel" aria-labelledby="headingTwo2">
                                                                    <div class="panel-body">
                                                                        <table class="table-itinarary-summary table" style="width: 100%;">
                                                                            <tbody>
                                                                                @*Transfer*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-car text-success" rel="tooltip" title="Transfer - Visit Day: Day 3(07-May-2016) | Sharing Type: SIC | Transfer Component:Hotel de bangkok to Golden Buddha"></span></td>
                                                                                    <td>Hote De Bangkok To Golden Buddha&nbsp;&nbsp<span data-target="#OptionalTransfermodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-success" rel="tooltip" title="Optional Transfer"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">08:00</span></td>

                                                                                    <td><span class="label label-alternate-bg total-cost">USD 55.27</span></td>
                                                                                    <td><a data-target="#myTransportationModalPVT" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Guide*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-street-view text-tomato" rel="tooltip" title="Guide - Sightseeing: Golden Buddha | Visit Day: Day 3 (07-May-2016)"></span></td>
                                                                                    <td>Newbien Guide&nbsp;&nbsp;<span data-target="#OptionalGuidemodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-tomato" rel="tooltip" title="Optional Guide"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">08:00</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">USD 71.82</span></td>
                                                                                    <td><a data-target="#myGuideModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Sightseeing*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-map-marker text-orange" rel="tooltip" title="Sightseeing - Supplier Company: Travelz Unlimited | Visit Day: Day 3 (07-May-2016) | Pickup From: Hotel De Bangkok | Pickup Time: 08:00"></span></td>
                                                                                    <td>Golden Buddha&nbsp;&nbsp;<span data-target="#OptionalSightseeingmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-orange" rel="tooltip" title="Optional Sightseeing"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">09:00</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">USD 133.42</span></td>
                                                                                    <td><a data-target="#mySightseeingModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Restaurant*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-spoon text-maroon" rel="tooltip" title="Restaurant - Visit Day: Day 3 (07-May-2016) | # Passengers: 5"></span></td>
                                                                                    <td>Tealicious Restaurant&nbsp;&nbsp<span data-target="#OptionalRestaurantmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-maroon" rel="tooltip" title="Optional Restaurant"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">12:30</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">USD 161.00</span></td>
                                                                                    <td><a data-target="#myRestauranteModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>

                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-12 tab-itenaries ">
                                                <div class="panel-group" id="SummeryAccordion1" role="tablist" aria-multiselectable="true">
                                                    <div class="row" style="padding-bottom: 10px">
                                                        <div class="col-md-4 ">
                                                            <h1><small>Pattaya</small> <small class="text-primary text-bottom-border">3 Nights</small>
                                                                <br />
                                                                <label style="font-size: 16px">Optional Hotel</label>
                                                                <select id="drpHotelOption" class="js-states form-control" style="display: none; width: 100%">
                                                                    <option>Select Hotel Option</option>
                                                                    <option>Hotel Ibis</option>
                                                                    <option>Swadswed</option>
                                                                    <option selected="selected">Sunshine Hotel & Residency</option>
                                                                </select>
                                                            </h1>
                                                        </div>
                                                        <div class="col-md-8 text-left-border">
                                                            <div class="row">
                                                                <div class="col-md-12 text-bottom-border">
                                                                    <h1><small>Sunshine Hotel & Residency</small> <small class="text-success text-bottom-border" style="margin-right: 21%">1837.36 USD</small>
                                                                        <a data-target="#myHotelModal" data-toggle="modal"><span class="fa fa-pencil btn-success" style="border-radius: 50%; padding: 8px 9px"></span></a>
                                                                        <a onclick="confirmAlert();" href="#"><span class="fa fa-close btn-danger" style="border-radius: 50%; padding: 8px 9px"></span></a></h1>
                                                                </div>
                                                                <div class="col-md-12 child-span-margin">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td></td>
                                                                                <td style="padding: 10px;">
                                                                                    <span class="label label-orange" rel="tooltip" title="Check-in Time">07:00 </span>
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="Check-in Day">Day 4 (08-May-2016)</span> | 
                                                                                   
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="Check-out Day">Day 6 (10-May-2016)</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="Included ABF">Incl. ABF</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="Included Lunch">Incl. Lunch</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Adult"># of Adult: 3</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Extra Bed Adult"># of Extra Bed Adult: 1</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Child No Bed"># of Child No Bed: 1</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Single Room"># of Single Room: 1</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Double / Twin Room"># of Double: 1</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Quad Room"># of Twin Room: 0</span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="padding-bottom: 10px">
                                                        <div class="col-md-6">
                                                            <div class="panel panel-blue">
                                                                <div class="panel-heading accordian-heading" role="tab" id="headingOne11">
                                                                    <h4 class="panel-title ">
                                                                        <a data-toggle="collapse" data-parent="#SummeryAccordion1" href="#ccollapseOne11" aria-expanded="false" aria-controls="collapseOne1">Day 4 - Pattaya  (08-May-2016)
                                                                        </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="ccollapseOne11" class="panel-collapse panel-white  in" role="tabpanel" aria-labelledby="headingOne11">
                                                                    <div class="panel-body">
                                                                        <table class="table-itinarary-summary table" style="width: 100%;">
                                                                            <tbody>
                                                                                @*Transfer*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-car text-success" rel="tooltip" title="Transfer - Visit Day: Day 4(08-May-2016) | Sharing Type: SIC | Transfer Component: Hotel Sunshine Residency to Walking Street"></span></td>
                                                                                    <td>Sunshine Hotel To Walking Street&nbsp;&nbsp<span data-target="#OptionalTransfermodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-success" rel="tooltip" title="Optional Transfer"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">09:00</span></td>

                                                                                    <td><span class="label label-alternate-bg total-cost">USD 42.11</span></td>
                                                                                    <td><a data-target="#myTransportationModalPVT" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Guide*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-street-view text-tomato" rel="tooltip" title="Guide - Sightseeing: Grand Palace | Visit Day: Day 4 (08-May-2016)"></span></td>
                                                                                    <td>Nadia Manassawee Ponpitak&nbsp;&nbsp;<span data-target="#OptionalGuidemodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-tomato" rel="tooltip" title="Optional Guide"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">09:00</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">USD 155.23</span></td>
                                                                                    <td><a data-target="#myGuideModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Sightseeing*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-map-marker text-orange" rel="tooltip" title="Sightseeing - Supplier Company: Travelz Unlimited | Visit Day: Day 4 (08-May-2016) | Pickup From:Sunshine Hotel | Pickup Time: 08:30"></span></td>
                                                                                    <td>Walking Street&nbsp;&nbsp;<span data-target="#OptionalSightseeingmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-orange" rel="tooltip" title="Optional Sightseeing"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">09:15</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">USD 133.42</span></td>
                                                                                    <td><a data-target="#mySightseeingModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Restaurant*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-spoon text-maroon" rel="tooltip" title="Restaurant - Visit Day: Day 4 (08-May-2016) | # Passengers: 5"></span></td>
                                                                                    <td>Indian By Nature&nbsp;&nbsp<span data-target="#OptionalRestaurantmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-maroon" rel="tooltip" title="Optional Restaurant"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">12:30 PM</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">USD 253.20</span></td>
                                                                                    <td><a data-target="#myRestauranteModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>

                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6" style="padding-bottom: 10px">
                                                            <div class="panel panel-blue">
                                                                <div class="panel-heading accordian-heading" role="tab" id="headingTwo21">
                                                                    <h4 class="panel-title">
                                                                        <a class="collapsed" data-toggle="collapse" data-parent="#SummeryAccordion1" href="#collapseTwo21" aria-expanded="true" aria-controls="collapseTwo2">Day 5 - Pattaya  (09-May-2016)
                                                                        </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapseTwo21" class="panel-collapse panel-white in" role="tabpanel" aria-labelledby="headingTwo2">
                                                                    <div class="panel-body">
                                                                        <table class="table-itinarary-summary table" style="width: 100%;">
                                                                            <tbody>
                                                                                @*Transfer*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-car text-success" rel="tooltip" title="Transfer - Visit Day: Day 5(09-May-2016) | Sharing Type: SIC | Transfer Component: Sunshine Hotel to Jomtien Beach"></span></td>
                                                                                    <td>sunshine Hotel To Joimtien Beach&nbsp;&nbsp<span data-target="#OptionalTransfermodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-success" rel="tooltip" title="Optional Transfer"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">08:00</span></td>

                                                                                    <td><span class="label label-alternate-bg total-cost">USD 36.45</span></td>
                                                                                    <td><a data-target="#myTransportationModalPVT" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>

                                                                                @*Sightseeing*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-map-marker text-orange" rel="tooltip" title="Sightseeing - Supplier Company: Travelz Unlimited | Visit Day: Day 5 (09-May-2016) | Pickup From: Hotel SunShine | Pickup Time: 08:00"></span></td>
                                                                                    <td>Jomtien Beach&nbsp;&nbsp;<span data-target="#OptionalSightseeingmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-orange" rel="tooltip" title="Optional Sightseeing"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">08:00</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">USD 435.26</span></td>
                                                                                    <td><a data-target="#mySightseeingModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Restaurant*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-spoon text-maroon" rel="tooltip" title="Restaurant - Visit Day: Day 5 (09-May-2016) | # Passengers: 5"></span></td>
                                                                                    <td>Indian By Nature&nbsp;&nbsp<span data-target="#OptionalRestaurantmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-maroon" rel="tooltip" title="Optional Restaurant"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">12:30 PM</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">USD 240.80</span></td>
                                                                                    <td><a data-target="#myRestauranteModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>

                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="panel panel-blue">
                                                                <div class="panel-heading accordian-heading" role="tab" id="headingThree31">
                                                                    <h4 class="panel-title">
                                                                        <a class="collapsed" data-toggle="collapse" data-parent="#SummeryAccordion1" href="#collapseThree31" aria-expanded="true" aria-controls="collapseThree3">Day 6 - Pattaya (10-May-2016)
                                                                        </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapseThree31" class="panel-collapse panel-white in" role="tabpanel" aria-labelledby="headingThree3">
                                                                    <div class="panel-body">
                                                                        <table class="table-itinarary-summary table" style="width: 100%;">
                                                                            <tbody>
                                                                                @*Transfer*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-car text-success" rel="tooltip" title="Transfer - Visit Day: Day 6(10-May-2016) | Sharing Type: SIC | Transfer Component: Sunshine Hotel To Tiger Zoo"></span></td>
                                                                                    <td>Sunshine Hotel To Tiger Zoo&nbsp;&nbsp<span data-target="#OptionalTransfermodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-success" rel="tooltip" title="Optional Transfer"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">10:00</span></td>

                                                                                    <td><span class="label label-alternate-bg total-cost">USD 32.87</span></td>
                                                                                    <td><a data-target="#myTransportationModalPVT" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Sightseeing*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-map-marker text-orange" rel="tooltip" title="Sightseeing - Supplier Company: Travelz Unlimited | Visit Day: Day 6 (10-May-2016) | Pickup From: Hotel Sunsine | Pickup Time: 10:00"></span></td>
                                                                                    <td>Tiger Zoo&nbsp;&nbsp;<span data-target="#OptionalSightseeingmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-orange" rel="tooltip" title="Optional Sightseeing"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">11:00</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">USD 445.20</span></td>
                                                                                    <td><a data-target="#mySightseeingModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>
                                                                                @*Restaurant*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-spoon text-maroon" rel="tooltip" title="Restaurant - Visit Day: Day 6 (10-May-2016) | # Passengers: 5"></span></td>
                                                                                    <td>Indian By Nature&nbsp;&nbsp<span data-target="#OptionalRestaurantmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-maroon" rel="tooltip" title="Optional Restaurant"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">13:00</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">USD 221.20</span></td>
                                                                                    <td><a data-target="#myRestauranteModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>


                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-12 tab-itenaries ">
                                                <div class="panel-group" id="SummeryAccordion12" role="tablist" aria-multiselectable="true">
                                                    <div class="row">
                                                        <div class="col-md-4 ">
                                                            <h1><small>Phuket</small> <small class="text-primary text-bottom-border">2 Nights</small>
                                                                <br />
                                                                <label style="font-size: 16px">Optional Hotel</label>
                                                                <select id="drpHotelOption" class="js-states form-control" style="display: none; width: 100%">
                                                                    <option>Select Hotel Option</option>
                                                                    <option>Hotel Ibis</option>
                                                                    <option>Swadswed</option>
                                                                    <option selected="selected">Hotel Sea Princes</option>
                                                                </select>
                                                            </h1>
                                                        </div>
                                                        <div class="col-md-8 text-left-border">
                                                            <div class="row">
                                                                <div class="col-md-12 text-bottom-border">
                                                                    <h1><small>Hotel Sea Princes</small> <small class="text-success text-bottom-border" style="margin-right: 36%">2131.08 USD</small>
                                                                        <a data-target="#myHotelModal" data-toggle="modal"><span class="fa fa-pencil btn-success" style="border-radius: 50%; padding: 8px 9px"></span></a>
                                                                        <a onclick="confirmAlert();" href="#"><span class="fa fa-close btn-danger" style="border-radius: 50%; padding: 8px 9px"></span></a></h1>
                                                                </div>
                                                                <div class="col-md-12 child-span-margin">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td></td>
                                                                                <td style="padding: 10px;">
                                                                                    <span class="label label-orange" rel="tooltip" title="Check-in Time">07:00 </span>
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="Check-in Day">Day 7 (11-May-2016)</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="Check-out Day">Day 9 (13-May-2016)</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="Included ABF">Incl. ABF</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="Included Lunch">Incl. Lunch</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="Included Lunch">Incl. Dinner</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Adult"># of Adult: 3</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Extra Bed Adult"># of Extra Bed Adult: 1</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Child No Bed"># of Child No Bed: 1</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Single Room"># of Single Room: 1</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Double / Twin Room"># of Double: 1</span> | 
                                                                                    <span class="label label-dodgerblue" rel="tooltip" title="# of Quad Room"># of Twin Room: 0</span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="panel panel-blue">
                                                                <div class="panel-heading accordian-heading" role="tab" id="headingOne11a">
                                                                    <h4 class="panel-title ">
                                                                        <a data-toggle="collapse" data-parent="#SummeryAccordion1" href="#ccollapseOne11a" aria-expanded="false" aria-controls="collapseOne1">Day 7 - Phuketu  (11-May-2016)
                                                                        </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="ccollapseOne11a" class="panel-collapse panel-white  in" role="tabpanel" aria-labelledby="headingOne11">
                                                                    <div class="panel-body">
                                                                        <table class="table-itinarary-summary table" style="width: 100%;">
                                                                            <tbody>
                                                                                @*Transfer*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-car text-success" rel="tooltip" title="Transfer - Visit Day: Day 7(11-May-2016) | Sharing Type: SIC | Transfer Component: Hotel Sea Princes To Fantacy Show"></span></td>
                                                                                    <td>Hotel SeaPrinces To Fantasy show&nbsp;&nbsp<span data-target="#OptionalTransfermodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-success" rel="tooltip" title="Optional Transfer"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">14:00</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">USD 45.30</span></td>
                                                                                    <td><a data-target="#myTransportationModalPVT" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>

                                                                                @*Sightseeing*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-map-marker text-orange" rel="tooltip" title="Sightseeing - Supplier Company: Travelz Unlimited | Visit Day: Day 7 (11-May-2016) | Pickup From: Hotel Sea Princes | Pickup Time: 14:00"></span></td>
                                                                                    <td>Fantacy Show&nbsp;&nbsp;<span data-target="#OptionalSightseeingmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-orange" rel="tooltip" title="Optional Sightseeing"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">15:00</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">USD 391.58</span></td>
                                                                                    <td><a data-target="#mySightseeingModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>

                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6" style="padding-bottom: 10px">
                                                            <div class="panel panel-blue">
                                                                <div class="panel-heading accordian-heading" role="tab" id="headingTwo213">
                                                                    <h4 class="panel-title">
                                                                        <a class="collapsed" data-toggle="collapse" data-parent="#SummeryAccordion1" href="#collapseTwo213" aria-expanded="true" aria-controls="collapseTwo2">Day 8 - Phuketu  (12-May-2016)
                                                                        </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapseTwo213" class="panel-collapse panel-white in" role="tabpanel" aria-labelledby="headingTwo2">
                                                                    <div class="panel-body">
                                                                        <table class="table-itinarary-summary table" style="width: 100%;">
                                                                            <tbody>
                                                                                @*Transfer*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-car text-success" rel="tooltip" title="Transfer - Visit Day: Day 5(09-May-2016) | Sharing Type: SIC | Transfer Component: Hotel Sea Princes To Phuket Safari World"></span></td>
                                                                                    <td>Hotel Sea Princes To Phuket Safari world&nbsp;&nbsp<span data-target="#OptionalTransfermodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-success" rel="tooltip" title="Optional Transfer"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">08:00</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">USD 36.40</span></td>
                                                                                    <td><a data-target="#myTransportationModalPVT" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>

                                                                                @*Sightseeing*@
                                                                                <tr>
                                                                                    <td><span class="fa fa-map-marker text-orange" rel="tooltip" title="Sightseeing - Supplier Company: Travelz Unlimited | Visit Day: Day 8 (12-May-2016) | Pickup From: Hotel Sea Princes | Pickup Time: 08:00"></span></td>
                                                                                    <td>Phuket Safari Tour&nbsp;&nbsp;<span data-target="#OptionalSightseeingmodal" data-toggle="modal" style="font-size: 14px" class="fa fa-exchange text-orange" rel="tooltip" title="Optional Sightseeing"></span></td>
                                                                                    <td><span class="label label-orange" rel="tooltip" title="Time">08:00</span></td>
                                                                                    <td><span class="label label-alternate-bg total-cost">USD 2952.71</span></td>
                                                                                    <td><a data-target="#mySightseeingModal" data-toggle="modal"><span class="fa fa-pencil btn-success"></span></a></td>
                                                                                    <td><a><span class="fa fa-close btn-danger"></span></a></td>
                                                                                </tr>

                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 quote-link">
                                        <h2 class="text-danger" style="font-weight: bold; border-bottom: 1px dotted; margin-bottom: 5px; padding-bottom: 5px;">Summary</h2>
                                        <div class="panel panel-white">
                                            <div class="panel-body tab-itenaries summary-tab-itenaries ">
                                                <div class="form-group">
                                                    <button id="btnSave" type="submit" class="btn btn-orange btnSave btn-steps">Generate Quote</button>
                                                    <button id="btnSave" type="submit" class="btn btn-orange btn-steps-icons" style="padding-left: 10px !important" data-section="tab4section1" rel="tooltip" title="Download Quote"><i class="fa fa-download"></i></button>
                                                    <a href="javascript:void(0);" data-toggle="modal" data-target="#ViewItineraryPopup" class="btn btn-orange btn-steps-icons" style="padding-left: 10px !important" rel="tooltip" title="View Itinerary"><i class="fa fa-navicon"></i></a>

                                                    <a id="btnSave" href="javascript:void(0);" data-toggle="modal" data-target="#Quotesenttomodal" class="btn btn-orange btn-steps-icons" style="padding-left: 10px !important" data-section="tab4section1" rel="tooltip" title="Send Quote To Agent"><i class="fa fa-paper-plane"></i></a>
                                                </div>
                                                <div class="panel-group" id="SummaryAccordion" aria-multiselectable="true" role="tablist">
                                                    @*Quotation Referance*@
                                                    <div class="panel panel-red">
                                                        <div class="panel-heading accordian-heading" role="tab" id="">
                                                            <h4 class="panel-title">Quotation Referance #
                                                            </h4>
                                                        </div>
                                                        <div id="SummaryTab11" class="panel-collapse panel-white summarytab in" role="tabpanel" aria-labelledby="lblSummeryTab1">
                                                            <div class="panel-body">
                                                                <table style="width: 100%; margin-bottom: 1px !important;" class="table tabletdpaddingremove">
                                                                    <tr>
                                                                        <td style="color: red; font-size: 16px; text-align: center"><span style="width: 100%">THLND-FLG-SP-0101</span></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="color: red; font-size: 16px; text-align: center"><span style="width: 100%">Thiland Quotation</span></td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*Tour Details*@
                                                    <div class="panel panel-blue">
                                                        <div class="panel-heading accordian-heading" role="tab" id="lblSummeryTab1">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" data-toggle="collapse" data-parent="#SummaryAccordion" href="#SummaryTab1" aria-expanded="true" aria-controls="collapseTwo">Travel Details
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="SummaryTab1" class="panel-collapse panel-white in summarytab" role="tabpanel" aria-labelledby="lblSummeryTab1">
                                                            <div class="panel-body">
                                                                <table class="table">
                                                                    <tr>
                                                                        <td style="width: 100%"><span style="width: 93%; font-size: 14px" class="label label-danger">Travelz Unlimited</span>&nbsp;<span class="fa fa-question-circle text-info" rel="tooltip" title="Agent"></span></td>
                                                                    </tr>
                                                                    <tr>

                                                                        <td style="width: 100%"><span style="width: 93%; font-size: 14px" class="label label-success">Samarth Shah</span>&nbsp;<span class="fa fa-question-circle text-info" rel="tooltip" title="Guest Name"></span></td>
                                                                    </tr>
                                                                    <tr>

                                                                        <td style="width: 100%"><span style="width: 93%; font-size: 14px" class="label label-primary">Asia</span>&nbsp;<span class="fa fa-question-circle text-info" rel="tooltip" title="Guest Nationality"></span></td>
                                                                    </tr>
                                                                    <tr>

                                                                        <td style="width: 100%"><span style="width: 93%; font-size: 14px" class="label label-info">Bangkok, Pattaya, Phuket</span>&nbsp;<span class="fa fa-question-circle text-info" rel="tooltip" title="Cities To Travels"></span></td>
                                                                    </tr>
                                                                    <tr>

                                                                        <td style="width: 100%"><span style="width: 93%; font-size: 14px" class="label label-danger">05-05-2016</span>&nbsp;<span class="fa fa-question-circle text-info" rel="tooltip" title="Travel From Date"></span></td>
                                                                    </tr>
                                                                    <tr>

                                                                        <td style="width: 100%"><span style="width: 93%; font-size: 14px" class="label label-success">13-05-2016</span>&nbsp;<span class="fa fa-question-circle text-info" rel="tooltip" title="Travel To Date"></span></td>
                                                                    </tr>
                                                                    <tr>

                                                                        <td style="width: 100%"><span style="width: 93%; font-size: 14px" class="label label-primary">8N / 9D</span>&nbsp;<span class="fa fa-question-circle text-info" rel="tooltip" title="Night & Day"></span></td>
                                                                    </tr>

                                                                </table>


                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*Quote Summery*@
                                                    <div class="panel panel-blue">
                                                        <div class="panel-heading accordian-heading" role="tab" id="lblSummeryTab2">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#SummaryTab2" aria-expanded="true" aria-controls="collapseTwo">Quote Summary
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="SummaryTab2" class="panel-collapse panel-white collapse in summarytab" role="tabpanel" aria-labelledby="lblSummeryTab2">
                                                            <table class="table">
                                                                <tr>
                                                                    <td>
                                                                        <label>Total Net Rate</label></td>
                                                                    <td class="right-aligned"><span class="label label-danger">370410 THB</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <label>Total Margin</label></td>
                                                                    <td class="right-aligned"><span class="label label-orange">40043 THB</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <label>Total Supplier Discount</label></td>
                                                                    <td class="right-aligned"><span class="label label-primary">2000 THB</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <label>Total Discount</label></td>
                                                                    <td class="right-aligned"><span class="label label-success">25050 THB</span></td>
                                                                </tr>

                                                                <tr>
                                                                    <td>
                                                                        <label>Sell Rate</label></td>
                                                                    <td class="right-aligned"><span class="label label-tomato">383403 THB</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <label>Tax</label></td>
                                                                    <td class="right-aligned"><span class="label label-primary">24558 THB</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <label>Sell Rate Including Tax</label></td>
                                                                    <td class="right-aligned"><span class="label label-info">407961 THB</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <label>Exchange Rate</label></td>
                                                                    <td class="right-aligned"><span class="label label-dodgerblue">0.028</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <label>Total Quotation Amount</label></td>
                                                                    <td class="right-aligned"><span class="label label-danger">11422.90 USD</span></td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <br />
                                                    <div class="form-group">
                                                        <lable>Final Discount</lable>
                                                        <div class="input-group input-append">
                                                            <input type="text" class="form-control newtextbox" id="txtdiscountapply" value="500" placeholder="">
                                                            <span class="input-group-addon add-on"><span>THB</span></span>
                                                        </div>
                                                    </div>
                                                    <div class="panel">
                                                        <button id="btnBookNow" type="submit" class="btn btn-danger btnSave btnradius">Apply Discount</button>

                                                    </div>
                                                    <div class="panel">
                                                        <a id="btnemail" class="btn btn-info btnSave btnradius" href="javascript:void(0);" data-toggle="modal" data-target="#Booknowpopup">Book</a>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel ">
                                            <h2 style="margin-top: 0; text-align: center;">Profit Summary</h2>
                                            <div class="panel-body tab-itenaries">
                                                <table class="table" style="margin-bottom: 0;">
                                                    <tbody>
                                                        <tr>
                                                            <td>As Per Quote</td>
                                                            <td><span class="label label-primary">40043 THB</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>As Per Booking</td>
                                                            <td><span class="label label-primary">0 THB</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Operation Cordn.</td>
                                                            <td><span class="label label-primary">0 THB</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Exchange Rate </td>
                                                            <td><span class="label label-primary">0 THB</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>After Receipt</td>
                                                            <td><span class="label label-primary">0 THB</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>


                                </div>