  <div class="col-md-12" style="padding-left: 1px !important; padding-right: 1px !important">
                                    <div class="panel-group panel-groupnew" aria-multiselectable="true" role="tablist">
                                        <div class="panel panel-red">
                                            <div class="panel-heading panel-headingnew accordian-heading" role="tab" id="headingTwo1">
                                                <span style="font-size: 16px">List Of Quotations - &nbsp;&nbsp;&nbsp;Travels Unlimited</span>
                                            </div>
                                            <div id="SummaryTab12" class="panel-collapse panel-white in summarytab" role="tabpanel" aria-labelledby="headingTwo">
                                                <div class="panel-body slimscroll" style="max-height: none; border: solid; border-color: red; border-width: 0px; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px">
                                                    <table style="width: 100%; font-size: 13px" class="table">
                                                        <thead>
                                                            <tr style="border-bottom: solid; border-width: 1px">
                                                                <th style="width: 5%">#</th>
                                                                <th style="width: 12%">Quotation Ref. #</th>
                                                                <th style="width: 9%">Status</th>
                                                                <th style="width: 13%">Cities</th>
                                                                <th style="width: 8%">Night / Days</th>
                                                                <th style="width: 7%">Travel Date</th>
                                                                <th style="width: 10%">Generated Date</th>
                                                                <th style="width: 8%">Quoted Date</th>
                                                                <th style="width: 7%">Amount</th>
                                                                <th style="width: 9%">Sent To</th>
                                                                <th style="width: 12%">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr style="padding-bottom: 10px">
                                                                <td>1</td>
                                                                <td>THLND-FLG-01</td>
                                                                <td>Draft</td>
                                                                <td>Bangkok, Pattaya, Phuket</td>
                                                                <td>8N / 9D</td>
                                                                <td>05-05-2016</td>
                                                                <td>01-05-2016</td>
                                                                <td>01-05-2016</td>
                                                                <td>11614.01 USD</td>
                                                                <td>Samarth Shah</td>
                                                                <td>
                                                                    <a data-target="#" data-toggle="modal"><span class="fa fa-pencil label-success faSuccess" rel="tooltip" title="Edit Quotation"></span></a>&nbsp;
                                                                    <a data-target="#" data-toggle="modal"><span class="fa label-warning fa-download" rel="tooltip" title="Download Quotation"></span></a>&nbsp;
                                                                    <a data-target="#" data-toggle="modal"><span class="fa label-primary fa-paper-plane" rel="tooltip" title="Send Quotation To Agent"></span></a>
                                                                </td>
                                                            </tr>
                                                            <tr style="padding-bottom: 10px">
                                                                <td>2</td>
                                                                <td>THLND-FLG-01</td>
                                                                <td>Draft</td>
                                                                <td>Bangkok, Pattaya, Phuket</td>
                                                                <td>8N / 9D</td>
                                                                <td>05-05-2016</td>
                                                                <td>01-05-2016</td>
                                                                <td>01-05-2016</td>
                                                                <td>11614.01 USD</td>
                                                                <td>Samarth Shah</td>
                                                                <td>
                                                                    <a data-target="#" data-toggle="modal"><span class="fa fa-pencil label-success faSuccess" rel="tooltip" title="Edit Quotation"></span></a>&nbsp;
                                                                    <a data-target="#" data-toggle="modal"><span class="fa label-warning fa-download" rel="tooltip" title="Download Quotation"></span></a>&nbsp;
                                                                    <a data-target="#" data-toggle="modal"><span class="fa label-primary fa-paper-plane" rel="tooltip" title="Send Quotation To Agent"></span></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>