<div class="col-md-8 full-responsive">
    <form>
        <h3 class="tab9section1">Additional Surcharge - <span class="text-danger">Amari Ocean Pattaya - Pattaya</span></h3>
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label for="drpCostingSet">Contract Title</label>
                    <select id="drpCostingTitle" class="js-states form-control" style="display: none; width: 100%">
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="txtFromDate">Contract ID </label>
                    <input type="text" class="form-control" id="txtContractID" placeholder="Contract ID" readonly>
                </div>
                <div class="col-md-3">
                    <label for="drpCostingSet">Costing Set </label>
                    <select id="drpCostingSet" class="js-states form-control" style="display: none; width: 100%">
                        <option selected="selected">Set1</option>
                        <option>Set2</option>
                        <option>Set3</option>
                        <option>Set4</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label for="drpTypeOfAgent">FIT/Group</label>
                    <select id="drpTypeOfAgent" class="js-states form-control" style="display: none; width: 100%">
                        <option selected="selected">FIT</option>
                        <option>Group</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label for="drpHotel">Surcharge Type </label>
                    <select id="drpHotel" class="js-states form-control" style="display: none; width: 100%">
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="drpRoomCategory">Room Category </label>
                    <select id="drpRoomCategory" class="js-states form-control" style="display: none; width: 100%">
                        <option>Standard </option>
                        <option>Delux </option>
                        <option>Supirior</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="txtFromDate">From Date </label>
                    <input type="text" class="form-control date-picker" id="txtFromDate" value="01/07/2016" placeholder="From Validity">
                </div>
                <div class="col-md-3">
                    <label for="txtTodate">To Date </label>
                    <input type="text" class="form-control date-picker" id="txtTodate" value="04/20/2016" placeholder="To Validity">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="lbloperatingweekday">Surcharge Applicable Week Days </label>
            <div class="row">
                <div class="col-md-12">
                    <input type="checkbox">All &nbsp &nbsp
                    <input type="checkbox" checked>Mon &nbsp &nbsp
                    <input type="checkbox">Tue &nbsp &nbsp
                    <input type="checkbox" checked>Wed &nbsp &nbsp
                    <input type="checkbox" checked>Thu &nbsp &nbsp
                    <input type="checkbox">Fri &nbsp &nbsp
                    <input type="checkbox">Sat &nbsp &nbsp 
                    <input type="checkbox">Sun &nbsp &nbsp
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="drpStatus">Status</label>
                    <select id="drpStatus" class="js-states form-control" style="display: none; width: 100%">
                        <option selected="selected">Active </option>
                        <option>Inactive </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <h3>Surcharge Detail</h3>
                    <div class="table-responsive">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th style="width: 35%; padding: 5px">Charge Type</th>
                                    <th style="width: 20%; padding: 5px">Cost</th>
                                    <th style="width: 20%; padding: 5px">Adult Cost</th>
                                    <th style="width: 20%; padding: 5px">Child cost</th>
                                    <th style="width: 5%; padding: 5px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="padding: 5px">
                                        <select id="drpNationalityset" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">Per Room Per Stay</option>
                                            <option>Per Room Per Night</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <div class="input-group input-append">
                                            <input type="text" class="form-control" id="txtCount" value="0" placeholder="Cost">
                                            <span class="input-group-addon add-on"><span>THB</span></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px">
                                        <div class="input-group input-append">
                                            <input type="text" class="form-control" id="txtCount" value="1" placeholder="Cost">
                                            <span class="input-group-addon add-on"><span>THB</span></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px">
                                        <div class="input-group input-append">
                                            <input type="text" class="form-control" id="txtCount" value="1" placeholder="Cost">
                                            <span class="input-group-addon add-on"><span>THB</span></span>
                                        </div>
                                    </td>

                                    <td style="padding: 5px"></td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px">
                                        <select id="drpNationalityset" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">Per Room Per Stay</option>
                                            <option>Per Room Per Night</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <div class="input-group input-append">
                                            <input type="text" class="form-control" id="txtCount" value="0" placeholder="Cost">
                                            <span class="input-group-addon add-on"><span>THB</span></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px">
                                        <div class="input-group input-append">
                                            <input type="text" class="form-control" id="txtCount" value="1" placeholder="Cost">
                                            <span class="input-group-addon add-on"><span>THB</span></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px">
                                        <div class="input-group input-append">
                                            <input type="text" class="form-control" id="txtCount" value="1" placeholder="Cost">
                                            <span class="input-group-addon add-on"><span>THB</span></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px">
                                        <a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px">
                                        <select id="drpNationalityset" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">Per Room Per Stay</option>
                                            <option>Per Room Per Night</option>
                                        </select>
                                    </td>
                                    <td style="padding: 5px">
                                        <div class="input-group input-append">
                                            <input type="text" class="form-control" id="txtCount" value="0" placeholder="Cost">
                                            <span class="input-group-addon add-on"><span>THB</span></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px">
                                        <div class="input-group input-append">
                                            <input type="text" class="form-control" id="txtCount" value="1" placeholder="Cost">
                                            <span class="input-group-addon add-on"><span>THB</span></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px">
                                        <div class="input-group input-append">
                                            <input type="text" class="form-control" id="txtCount" value="1" placeholder="Cost">
                                            <span class="input-group-addon add-on"><span>THB</span></span>
                                        </div>
                                    </td>
                                    <td style="padding: 5px">
                                        <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtRemarks">Remarks </label>
                    <textarea class="form-control" cols="5" id="txtRemarks"></textarea>
                </div>
                <div class="col-md-6">
                    <label for="txtRemarksInternal">Remarks (Internal)</label>
                    <textarea class="form-control" cols="5" id="txtRemarksInternal"></textarea>
                </div>
            </div>
        </div>
        <br />
        <button id="btnSave" type="submit" class="btn btn-success btnSave">
            SAVE</button>
        <button id="btnSave" type="submit" class="btn btn-primary btnSave">
            UPDATE</button>
        <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
            DELETE</button>
        <button id="btnSave" type="submit" class="btn btn-warning btnSave">
            CREATE NEW</button>
        <button id="btnSave" type="submit" class="btn btn-info btnSave">
            QUIT FORM</button>
        <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
            <span class="fa fa-refresh"></span>
        </a>
        <br />
      @*  <h3 class="tab9section1 section-headers">Surcharge Details</h3>
        <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab5-1" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord sub-tabbing"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Search Surcharge Details</a></li>
            <li role="presentation"><a href="#tab5-2" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord sub-tabbing"><span class="menu-icon fa fa-suitcase "></span>&nbsp;&nbsp;&nbsp;&nbsp;Surcharge Details</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab5-1">
                @Html.Partial("_SearchSurchargeDetail")
            </div>
            <div role="tabpanel" class="tab-pane " id="tab5-2">
                @Html.Partial("_CreateSurchargeDetail")
            </div>
        </div>*@
    </form>
</div>
<div class="col-md-4 summery-detail summery-uitilities-detail summerytab3">
    <div class="panel-body tab-itenaries ">
        <div class="panel-group">
            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title">Summary 
                          <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report">
                              <i class="fa fa-tasks"></i>
                          </a>
                        <a id="startGuiededTour" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Guided Tour">
                            <i class="icon-info"></i>
                        </a>
                        <a id="startTimeline" onclick="$('#showRightSideTimeline').trigger('click')" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="View Trail">
                            <i class="fa fa-sitemap"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>
                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created From Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Page Load Time: </td>
                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                </tr>
                                <tr>
                                    <td>Record Update Time: </td>
                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
