<div class="form-group">
                    <div class="row">

                        <div class="col-md-6">
                            <label for="drpNationalityset">Charge Type </label>
                            <select id="drpNationalityset" class="js-states form-control" style="display: none; width: 100%">
                                <option selected="selected">Per Room Per Stay</option>
                                <option>Per Room Per Night</option>
                                @* <option>None</option>
                                                        <option>Guest</option>
                                                        <option>Night</option>
                                                        <option>Room</option>
                                                        <option>SEQ Guest</option>
                                                        <option>SEQ Night</option>
                                                        <option>SEQ Room</option>*@
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="txtexchangerate">Cost</label>
                            <div class="input-group input-append">
                                <input type="text" class="form-control" id="txtCount" value="1" placeholder="Cost">
                                <span class="input-group-addon add-on"><span>THB</span></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="txtexchangerate">Adult Cost</label>
                            <div class="input-group input-append">
                                <input type="text" class="form-control" id="txtFree" value="1" placeholder="Adult Cost">
                                <span class="input-group-addon add-on"><span>THB</span></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-3">
                            <label for="txtexchangerate">Child Cost</label>
                            <div class="input-group input-append">
                                <input type="text" class="form-control" id="txtLimit" value="1" placeholder="Child Cost">
                                <span class="input-group-addon add-on"><span>THB</span></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="drpcurrency">Currency</label>
                            <select id="drpcurrency" class="js-states form-control" style="display: none; width: 100%">
                                <option selected="selected">THB</option>
                                <option>INR</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="txtRemarks">Remarks </label>
                            <textarea class="form-control" cols="5" id="txtRemarks"></textarea>
                        </div>
                        <div class="col-md-6">
                            <label for="txtRemarksInternal">Remarks (Internal)</label>
                            <textarea class="form-control" cols="5" id="txtRemarksInternal"></textarea>
                        </div>
                    </div>
                </div>
                <br />
                <button id="btnSave" type="submit" class="btn btn-success btnSave">
                    SAVE</button>
                <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                    UPDATE</button>
                <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                    DELETE</button>
                <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                    CREATE NEW</button>
                <button id="btnSave" type="submit" class="btn btn-info btnSave">
                    QUIT FORM</button>
                <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
                    <span class="fa fa-refresh"></span>
                </a>