body {
}

    .tab-itenaries > .col-md-1 > h4,
    .tab-itenaries .col-md-2 > h4,
    .tab-itenaries .col-md-3 > h4,
    .tab-itenaries .col-md-4 > h4,
    .tab-itenaries .col-md-5 > h4,
    .tab-itenaries > .col-md-6 > h4,
    .tab-itenaries .col-md-7 > h4,
    .tab-itenaries .col-md-8 > h4,
    .tab-itenaries .col-md-9 > h4,
    .m-b-lg > h4 {
        border-bottom: 1px dotted #ccc;
        color: #40474f;
        font-size: 22px;
        font-weight: normal;
        margin: 7px 0 10px;
        padding-bottom: 5px;
    }

    .tab-itenaries .col-md-1 > h5,
    .tab-itenaries .col-md-2 > h5,
    .tab-itenaries .col-md-3 > h5,
    .tab-itenaries .col-md-4 > h5,
    .tab-itenaries .col-md-5 > h5,
    .tab-itenaries .col-md-6 > h5,
    .tab-itenaries .col-md-7 > h5,
    .tab-itenaries .col-md-8 > h5,
    .tab-itenaries .col-md-9 > h5,
    .m-b-lg > h5 {
        /*color: #40474f;*/
        font-size: 19px;
        font-weight: bold;
        margin: 0 0 10px;
        padding-bottom: 5px;
        border-bottom: 1px dotted;
        text-shadow: 1px 0px #BEC8D2;
    }

        .tab-itenaries .col-md-1 > h5 > span.right-floated,
        .tab-itenaries .col-md-2 > h5 > span.right-floated,
        .tab-itenaries .col-md-3 > h5 > span.right-floated,
        .tab-itenaries .col-md-4 > h5 > span.right-floated,
        .tab-itenaries .col-md-5 > h5 > span.right-floated,
        .tab-itenaries .col-md-6 > h5 > span.right-floated,
        .tab-itenaries .col-md-7 > h5 > span.right-floated,
        .tab-itenaries .col-md-8 > h5 > span.right-floated,
        .tab-itenaries .col-md-9 > h5 > span.right-floated,
        .m-b-lg > h5 > span.right-floated {
            float: right;
            font-size: 13px;
            font-weight: normal;
            text-align: right;
        }

            .tab-itenaries .col-md-1 > h5 > span.right-floated .TripRatting,
            .tab-itenaries .col-md-2 > h5 > span.right-floated .TripRatting,
            .tab-itenaries .col-md-3 > h5 > span.right-floated .TripRatting,
            .tab-itenaries .col-md-4 > h5 > span.right-floated .TripRatting,
            .tab-itenaries .col-md-5 > h5 > span.right-floated .TripRatting,
            .tab-itenaries .col-md-6 > h5 > span.right-floated .TripRatting,
            .tab-itenaries .col-md-7 > h5 > span.right-floated .TripRatting,
            .tab-itenaries .col-md-8 > h5 > span.right-floated .TripRatting,
            .tab-itenaries .col-md-9 > h5 > span.right-floated .TripRatting,
            .m-b-lg > h5 > span.right-floated .TripRatting {
                font-size: 2.4em;
            }

        .tab-itenaries .col-md-1 > h5 > span.left-floated .small-text,
        .tab-itenaries .col-md-2 > h5 > span.left-floated .small-text,
        .tab-itenaries .col-md-3 > h5 > span.left-floated .small-text,
        .tab-itenaries .col-md-4 > h5 > span.left-floated .small-text,
        .tab-itenaries .col-md-5 > h5 > span.left-floated .small-text,
        .tab-itenaries .col-md-6 > h5 > span.left-floated .small-text,
        .tab-itenaries .col-md-7 > h5 > span.left-floated .small-text,
        .tab-itenaries .col-md-8 > h5 > span.left-floated .small-text,
        .tab-itenaries .col-md-9 > h5 > span.left-floated .small-text,
        .m-b-lg > h5 > span.left-floated .small-text {
            font-size: 13px;
            font-weight: normal;
            color: #555;
        }

        .tab-itenaries .col-md-1 > h5 > span.left-floated,
        .tab-itenaries .col-md-2 > h5 > span.left-floated,
        .tab-itenaries .col-md-3 > h5 > span.left-floated,
        .tab-itenaries .col-md-4 > h5 > span.left-floated,
        .tab-itenaries .col-md-5 > h5 > span.left-floated,
        .tab-itenaries .col-md-6 > h5 > span.left-floated,
        .tab-itenaries .col-md-7 > h5 > span.left-floated,
        .tab-itenaries .col-md-8 > h5 > span.left-floated,
        .tab-itenaries .col-md-9 > h5 > span.left-floated,
        .m-b-lg > h5 > span.left-floated {
            float: none;
        }

    .tab-itenaries a > span {
        font-weight: bold;
        font-size: 11px;
    }

    /*.tab-itenaries span {
        font-weight: bold;
        font-size: 14px;
        text-shadow: 1px 0 #BEC8D2;
    }*/

    .tab-itenaries {
        padding-bottom: 10px;
        border: 1px double #BEC8D2 !important;
        border-radius: 5px !important;
        box-shadow: 3px 3px 7px -5px rgba(0, 0, 0, 0.5);
        margin-bottom: 15px;
    }

       
            .tab-itenaries .form-control h2 {
                margin-bottom: 0;
                margin-top: 0;
            }

        .tab-itenaries .right-border {
            border-right: 1px dotted #f25656;
            min-height: 156px;
            padding-left: 0;
        }

    .strong {
        font-weight: bold;
    }

    .modal-body .strong {
        margin-top: 0;
        margin-bottom: 0;
    }

    /*.strong:hover {
            text-decoration: underline !important;
        }*/

    .panel .panel-body {
        padding: 15px;
    }

    .tab-itenaries .row .btn {
        padding: 5px 9px;
        /*font-size: 20px;*/
        text-transform: uppercase;
        margin: 5px 5px 5px 0;
    }

    .tab-itenaries .row .rooms-type .btn {
        padding: 2px 5px;
        font-size: 10px;
        text-transform: uppercase;
        margin: 5px 0 5px 0;
    }

    .modal-footer .btn {
        text-transform: uppercase;
    }

    .star-ratings .select2.select2-container {
        display: none;
    }

    .modal-body {
        width: 100%;
    }

    .modal-header h4 {
        border-bottom: 1px dotted #ccc;
        font-size: 20px;
        font-weight: normal;
    }

    .quote-link h2 {
        /*margin-bottom: 0;
        margin-top: 0;*/
        margin-top: 15px;
        text-align: center;
    }

    .quote-link .panel-heading {
        padding: 10px 15px;
    }

    .panel-red .panel-collapse {
        border: 1px solid #F25656;
        border-radius: 0 0 5px 5px;
    }

        .panel-red .panel-collapse .panel-body {
            color: #4e5e6a;
        }

    .fa-ul > li {
        font-size: 12px;
        position: relative;
    }

    .fa-ul {
        margin-left: 15px;
    }

    .right-floating {
        float: right;
        cursor: pointer;
        color: #F25656;
    }

    .tab-itenaries span.total-cost {
        font-size: 11px;
    }

    a.col-sm-3 {
        background-color: #f25656;
        color: #fff;
        font-family: Lucida Console;
        font-size: 32px;
        height: 45px;
        margin-bottom: 0;
        margin-top: 0;
        top: 0;
        width: 22.5%;
    }

        a.col-sm-3 span {
            float: left;
            font-size: 79px;
            margin: -32px 0 0 -16px;
        }

    .fa-ul > li {
        margin-bottom: 5px;
    }

    /*.panel > .row > div:last-child {
        padding-left: 0;
        padding-right: 0;
    }*/
    .panel > .row > div:first-child {
        padding-left: 15px;
        padding-right: 15px;
    }

    .tab-itenaries .table > tbody > tr:first-child > td {
        border-width: 0;
    }

    .tab-itenaries .table > tbody > tr > td:first-child {
        width: 60%;
    }

    .tab-itenaries .table > tbody > tr > td:last-child {
        text-align: right;
        width: 40%;
    }

    .tab-itenaries .table > tbody > tr > td {
        font-size: 11px;
        padding: 7px !important;
    }

    .tab-itenaries .form-control .btn, .tab-itenaries .form-control .label {
        width: 100%;
    }

    .button-index {
        background-color: #fff;
        border-radius: 50%;
        color: #333;
        padding: 0 5px;
        font-weight: bold;
    }

    .button-itenaries .form-control .btn-steps {
        text-align: left;
        width: 77%;
    }

    .button-itenaries .form-control .btn-steps-icons {
        width: auto;
    }

    .button-itenaries .form-control .btn-steps:hover .button-index {
        color: #333;
    }

    .button-index {
        margin-right: 5px;
    }

    .btn-auto {
        width: auto;
    }

    .btn-full {
        width: 100%;
    }

    .search-panel-buttons {
        text-align: right;
    }

    .br-theme-bootstrap-stars .br-widget {
        line-height: 30px;
    }

    h2.strong .alt-text {
        font-size: 0.6em;
    }

    h2.strong .amount {
        color: #f25656;
    }

    .rooms-type .btn {
        width: auto !important;
    }

    .aminities {
        float: right;
        color: #BEC8D2;
    }

    .panel .panel-headingnew {
        border: 0 none !important;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        font-size: 14px;
        font-weight: 600;
        height: 55px;
        padding: 10px;
    }

    .tab-itenaries > .col-md-1 > h4,
    .tab-itenaries .col-md-2 > h4,
    .tab-itenaries .col-md-3 > h4,
    .tab-itenaries .col-md-4 > h4,
    .tab-itenaries .col-md-5 > h4,
    .tab-itenaries > .col-md-6 > h4,
    .tab-itenaries .col-md-7 > h4,
    .tab-itenaries .col-md-8 > h4,
    .tab-itenaries .col-md-9 > h4,
    .m-b-lg > h4 {
        border-bottom: 1px dotted #ccc;
        color: #40474f;
        font-size: 22px;
        font-weight: normal;
        margin: 7px 0 10px;
        padding-bottom: 5px;
    }

    .tab-itenaries .col-md-1 > h5,
    .tab-itenaries .col-md-2 > h5,
    .tab-itenaries .col-md-3 > h5,
    .tab-itenaries .col-md-4 > h5,
    .tab-itenaries .col-md-5 > h5,
    .tab-itenaries .col-md-6 > h5,
    .tab-itenaries .col-md-7 > h5,
    .tab-itenaries .col-md-8 > h5,
    .tab-itenaries .col-md-9 > h5,
    .tab-itenaries .col-md-10 > h5,
    .tab-itenaries .col-md-12 > h5,
    .m-b-lg > h5 {
        /*color: #40474f;*/
        font-size: 19px;
        font-weight: bold;
        margin: 0 0 10px;
        padding-bottom: 5px;
        border-bottom: 1px dotted;
        text-shadow: 0px 0px #BEC8D2;
    }

        .tab-itenaries .col-md-1 > h5 > span,
        .tab-itenaries .col-md-2 > h5 > span,
        .tab-itenaries .col-md-3 > h5 > span,
        .tab-itenaries .col-md-4 > h5 > span,
        .tab-itenaries .col-md-5 > h5 > span,
        .tab-itenaries .col-md-6 > h5 > span,
        .tab-itenaries .col-md-7 > h5 > span,
        .tab-itenaries .col-md-8 > h5 > span,
        .tab-itenaries .col-md-9 > h5 > span,
        .tab-itenaries .col-md-10 > h5 > span,
        .tab-itenaries .col-md-12 > h5 > span,
        .m-b-lg > h5 > span {
            float: right;
        }

    .tab-itenaries a > span {
        font-weight: bold;
        font-size: 14px;
    }

    /*.tab-itenaries span {
        font-weight: bold;
        font-size: 14px;
        text-shadow: 1px 0 #BEC8D2;
    }*/

    .tab-itenaries {
        padding-bottom: 10px;
        border: 1px double #BEC8D2 !important;
        border-radius: 5px !important;
        box-shadow: 3px 3px 7px -5px rgba(0, 0, 0, 0.5);
        margin-bottom: 15px;
    }

        .tab-itenaries .form-control {
            border-width: 1px;
           
        }

            .tab-itenaries .form-control .btn, .tab-itenaries .form-control .label {
                width: 100%;
            }

            .tab-itenaries .form-control h2 {
                margin-bottom: 0;
                margin-top: 0;
            }

        .tab-itenaries .right-border {
            border-right: 1px dotted #f25656;
            min-height: 156px;
            padding-left: 25px;
        }

    .strong {
        font-weight: bold;
    }

    .modal-body .strong {
        margin-top: 0;
        margin-bottom: 0;
    }

    /*.strong:hover {
            text-decoration: underline !important;
        }*/

    .panel .panel-body {
        padding: 15px;
    }


    .modal-lg {
        width: 95%;
    }

    .modal-header h4 {
        border-bottom: 1px dashed #ccc;
        font-size: 20px;
        font-weight: normal;
    }

    .input-group-addon.addbtn:last-child, .input-group-addon.addbtn:hover {
        background-color: #22baa0;
        border-color: #22baa0;
        border-left: 0 none #22baa0;
        color: #fff;
    }

    #wrapper, .wrapper {
        width: 200%;
        transform: translate3d(0, 0, 0);
        transition: transform .5s ease-in-out;
        padding-left: 0;
    }

    .content {
        float: left;
        width: 50%;
        min-height: 200px;
        white-space: normal;
        background-repeat: no-repeat;
    }

    li.content {
        list-style: outside none none;
        transition: 1s;
        border: 1px solid #22BAA0;
    }

        li.content .libody {
            transition-timing-function: linear;
        }

    .summery-uitilities-detail {
        width: 33.3333%;
        overflow: hidden;
        padding-right: 0;
    }

    .summery-nav-btn {
        background-color: #ccc;
        color: #22baa0;
        cursor: not-allowed;
        font-size: 0.7em;
        margin-left: 5px;
        padding: 5px;
        float: right;
    }

        .summery-nav-btn.active {
            background-color: #fff;
            cursor: pointer;
        }

    .libody.summery-body {
    }

    .searchpanel-button {
        padding: 5px 9px !important;
    }

    .panel.panel-white.tab-itenaries {
        padding-bottom: 3px;
    }
    /*.panel-blue, .panel-green {
        opacity:0.4;
    }*/
    .panel-blue {
        background-color: #44dcff;
    }

    .panel-green {
        background-color: #82eab0;
    }

        .panel-blue .panel-heading, .panel-blue .panel-body,
        .panel-green .panel-heading, .panel-green .panel-body {
            color: #555;
        }

    .jstree-container-ul > li > a > i.jstree-checkbox {
        display: none;
    }


    .field-name {
        float: left;
        width: 50%;
    }

    .modify-colum-model .dropdown.table-custome-drop {
        float: left;
        width: 50%;
    }

    .field-name {
        padding-right: 15px;
    }

    .modal-header h4 {
        border-bottom: 1px dotted #ccc;
        font-size: 20px;
        font-weight: normal;
    }

    .modal-footer {
        text-align: left;
    }

    #ulViewList {
        padding-left: 0 !important;
    }

    .selectcolor {
    }

    .field-list .active {
        background-color: #4fe7cd;
        color: #fff !important;
        font-weight: bolder;
        font-size: 15px;
    }

        .field-list .active a {
            text-decoration: underline;
        }

    .panel-body.slimscroll li {
        padding: 3px;
        list-style: outside none none;
    }

    .newh2 {
        margin-top: 6px;
    }


    .btn-successswitch {
        background-color: #22baa0;
        border-color: transparent;
        color: #fff;
        padding: 9px 13px;
        padding-right: 10px;
    }

    .fontbtn {
        font-size: 12px;
    }

    .form-groupnew {
        margin-bottom: auto;
    }

    .panel-groupnew {
        margin-bottom: auto;
    }

    .btnsmallfont {
        font-size: 20px;
    }

    .btnbigfont {
        font-size: 16px;
    }

    .alleft {
        float: none !important;
    }

    td, th {
        padding: 0px;
    }

    .newpadding {
        padding-left: 15px;
    }

    .newpaddingformainclass {
        padding-left: 0px !important;
    }

    .newcolmd5 {
        width: 35% !important;
    }

    .thpadding {
        padding: 3px;
    }

    .col10mdnew {
        width: 89.2%;
    }

    .btnflotnews {
        float: right;
    }

    .colmd4width {
        width: 32.33% !important;
    }

    .btnfontforquoteview {
        font-size: 15px !important;
    }
    .newcol {
        padding-left: 79px !important;
        padding-right: 0px !important;
    }
    .tdbg {
        color:red;
    }

            .label.label-browennew {
    background: #B93B7C none repeat scroll 0 0;
}
             .label.label-darkgreen {
    background: #02C8C8 none repeat scroll 0 0;
}
             .tableinqsearch > table > tbody > tr > td
             {
                 border-bottom:1px solid black;
                }

           .newuliem li
           {
               font-size:11px !important;
               color:grey;
            }
           .newuliem > li > em
           {
               color:#34425A;
            }
           .cd-value
           {
               font-size:4rem !important;
            }

                  .show-followup-details, .show-followup-details label {
        cursor: pointer;
    }
                  
    .btnhvr.focus, .btnhvr:focus, .btnhvr:hover {
    color:white !important;
    text-decoration: none;
}
