<div class="row m-b-lg">
    <div class="form-detail">
        <div class="panel panel-white">
            <div class="panel-body">
                <div role="tabpanel" class="tab-pane" id="tab1-3">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="CreateQuotation">
                            <div class="col-md-8 full-responsive">
                                <form>
                                    <h3 class="tab1section1"><span class="section-index ">1</span>&nbsp;Travel Details</h3>
                                    <div class="form-group formconfirmbysup">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="txtAgent"># of Adult</label>
                                                <input type="text" class="form-control" id="txtnumberadult" placeholder="# of Adult">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="txtAgent"># of Extra Bed Child</label>
                                                <input type="text" class="form-control" id="txtcwb" placeholder="# of CWB">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="txtAgent"># of Child No Bed</label>
                                                <input type="text" class="form-control" id="txtcnb" placeholder="# of CNB">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="txtAgent"># of Infant</label>
                                                <input type="text" class="form-control" id="txtinfant" placeholder="# of Infant">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                @*<input type="checkbox" />Service Inclusions*@
                                                <label for="drpServiceInclisions">Service Inclusions<span class="star"> *</span></label>
                                                <select id="drpServiceInclisions" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                                                    <option>All</option>
                                                    <option>Accommodation</option>
                                                    <option>Sightseeing</option>
                                                    <option>Transportation</option>
                                                    <option>Guide</option>
                                                    <option>Restaurant</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="drpTravelTheme">Travel Theme</label>
                                                <select id="drpTravelTheme" class="js-states form-control" style="display: none; width: 100%">
                                                    <option>Thrilling</option>
                                                    <option>Beach</option>

                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="drpTravelsubTheme">Travel Sub Theme</label>
                                                <select id="drpTravelsubTheme" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                                                    <option>All</option>
                                                    <option>Hill Station</option>
                                                    <option>Water</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="drpCountriesToTravel">Countries To Travel<span class="star"> *</span></label>
                                                <select id="drpCountriesToTravel" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                                                    <option>All</option>
                                                    <option selected="selected">Thiland</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="txtTags">Travel From Date<span class="star"> *</span></label>
                                                <input type="text" class="form-control date-picker" value="10-03-2016" id="txtTags" placeholder="Tags">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">

                                            <div class="col-md-12">
                                                <label for="drpCitiesToTravel">Cities To Travel<span class="star"> *</span></label>
                                                <select id="drpCitiesToTravel" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                                                    <option>All</option>
                                                    <option selected="selected">Bangkok</option>
                                                    <option selected="selected">Pattaya</option>
                                                    <option>Chiang Mai</option>
                                                    <option selected="selected">Phuket</option>
                                                    <option>Khon Kaen</option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                    <h3>Cities Breakup<span class="star" style="color: red !important"> *</span></h3>
                                    <div class="cf nestable-lists" style="border: solid; border-width: 1px; border-color: black">
                                        <ul class="ui-handle sortable-list">
                                            <li class="ui-state-default">

                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding-left: 10px; width: 4%">
                                                                <label style="font-size: 15px">1</label>
                                                            </td>
                                                            <td style="padding-left: 10px; width: 30%">
                                                                <label style="font-size: 16px">Pattaya,Thiland</label>
                                                            </td>
                                                            <td style="width: 10%">
                                                                <label>In</label><br />
                                                                <label>9 Apr</label>
                                                            </td>
                                                            <td style="width: 20%">
                                                                <label>Out</label><br />
                                                                <label>11 Apr</label>
                                                            </td>
                                                            <td style="width: 10%; text-align: right;">
                                                                <span style="border: 1px solid #ccc; padding: 7px 10px 6px; background-color: #34425a; color: white">Nights</span>
                                                            </td>
                                                            <td style="width: 8%" class="right-border">
                                                                <select id="drpnight" class="js-states form-control" style="display: none; width: 100%">
                                                                    <option>1</option>
                                                                    <option selected="selected">2</option>
                                                                    <option>3</option>
                                                                    <option>4</option>
                                                                    <option>5</option>
                                                                    <option>6</option>
                                                                </select>
                                                            </td>
                                                            <td style="width: 5%; font-size: 18px; color: red" class="left-padding">
                                                                <span class="handler fa fa-arrows"></span>
                                                            </td>
                                                            <td style="width: 5%; text-align: right; color: red; padding-right: 10px; font-size: 18px">
                                                                <span class="removeHandler fa fa-times"></span>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </li>
                                            <li class="ui-state-default">

                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding-left: 10px; width: 4%">
                                                                <label style="font-size: 15px">2</label>
                                                            </td>
                                                            <td style="padding-left: 10px; width: 30%">
                                                                <label style="font-size: 16px">Bangkok,Thiland</label>
                                                            </td>
                                                            <td style="width: 10%">
                                                                <label>In</label><br />
                                                                <label>9 Apr</label>
                                                            </td>
                                                            <td style="width: 20%">
                                                                <label>Out</label><br />
                                                                <label>11 Apr</label>
                                                            </td>
                                                            <td style="width: 10%; text-align: right;">
                                                                <span style="border: 1px solid #ccc; padding: 7px 10px 6px; background-color: #34425a; color: white">Nights</span>
                                                            </td>
                                                            <td style="width: 8%" class="right-border">
                                                                <select id="drpnight" class="js-states form-control" style="display: none; width: 100%">
                                                                    <option>1</option>
                                                                    <option selected="selected">2</option>
                                                                    <option>3</option>
                                                                    <option>4</option>
                                                                    <option>5</option>
                                                                    <option>6</option>
                                                                </select>
                                                            </td>
                                                            <td style="width: 5%; font-size: 18px; color: red" class="left-padding">
                                                                <span class="handler fa fa-arrows"></span>
                                                            </td>
                                                            <td style="width: 5%; text-align: right; color: red; padding-right: 10px; font-size: 18px">
                                                                <span class="removeHandler fa fa-times"></span>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </li>
                                            <li class="ui-state-default">

                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding-left: 10px; width: 4%">
                                                                <label style="font-size: 15px">3</label>
                                                            </td>
                                                            <td style="padding-left: 10px; width: 30%">
                                                                <label style="font-size: 16px">Phuket,Thiland</label>
                                                            </td>
                                                            <td style="width: 10%">
                                                                <label>In</label><br />
                                                                <label>9 Apr</label>
                                                            </td>
                                                            <td style="width: 20%">
                                                                <label>Out</label><br />
                                                                <label>11 Apr</label>
                                                            </td>
                                                            <td style="width: 10%; text-align: right;">
                                                                <span style="border: 1px solid #ccc; padding: 7px 10px 6px; background-color: #34425a; color: white">Nights</span>
                                                            </td>
                                                            <td style="width: 8%" class="right-border">
                                                                <select id="drpnight" class="js-states form-control" style="display: none; width: 100%">
                                                                    <option>1</option>
                                                                    <option selected="selected">2</option>
                                                                    <option>3</option>
                                                                    <option>4</option>
                                                                    <option>5</option>
                                                                    <option>6</option>
                                                                </select>
                                                            </td>
                                                            <td style="width: 5%; font-size: 18px; color: red" class="left-padding">
                                                                <span class="handler fa fa-arrows"></span>
                                                            </td>
                                                            <td style="width: 5%; text-align: right; color: red; padding-right: 10px; font-size: 18px">
                                                                <span class="removeHandler fa fa-times"></span>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </li>

                                        </ul>
                                    </div>
                                    <h6>&nbsp;</h6>
                                    <h3 class="tab1section2"><span class="section-index ">2</span>&nbsp;Guest Details</h3>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="txtAgent">Guest Name (Lead Traveler)</label>
                                                <input type="text" class="form-control" id="txtnumberadult" placeholder="Samir Shah">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="txtAddressLine1">Guest Nationality</label>
                                                <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                                                    <option selected="selected">Asian</option>
                                                    <option>Austrailian</option>
                                                    <option>Europian</option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="txtAgent"># of Adult</label>
                                                <input type="text" class="form-control" id="txtnumberadult" placeholder="# of Adult">
                                            </div>

                                            <div class="col-md-3">
                                                <label for="txtAgent"># of Extra Bed Child</label>
                                                <input type="text" class="form-control" id="txtcwb" placeholder="# of CWB">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="txtAgent"># of Child No Bed</label>
                                                <input type="text" class="form-control" id="txtcnb" placeholder="# of CNB">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="txtAgent"># of Infant</label>
                                                <input type="text" class="form-control" id="txtinfant" placeholder="# of Infant">
                                            </div>

                                        </div>
                                    </div>
                                    <h6>&nbsp;</h6>
                                    <h3 class="tab1section3"><span class="section-index ">3</span>&nbsp;Additional Details</h3>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="drpTransferTo">Booking Owner</label>
                                                <select id="drpTransferTo" class="js-states form-control" style="display: none; width: 100%">
                                                    <option selected="selected">Samarth Shah</option>
                                                    <option>Samir Shah</option>

                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="drpInqLevel">Booking Level</label>
                                                <select id="drpInqLevel" class="js-states form-control" style="display: none; width: 100%">
                                                    <option value="selstatus">---None---</option>
                                                    <option value="draft" selected="selected">1 Star</option>
                                                    <option value="published">2 Star</option>
                                                    <option value="online">3 Star</option>
                                                    <option>4 Star</option>
                                                    <option>5 Star</option>
                                                    <option>6 Star</option>
                                                    <option>7 Star</option>
                                                    <option>8 Star</option>
                                                    <option>9 Star</option>
                                                    <option>10 Star</option>


                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-geoup">
                                        <div class="row">

                                            <div class="col-md-6">
                                                <label for="drpTransferTo">Share Booking</label>
                                                <select id="drpTransferTo" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                                                    <option selected="selected">Samarth Shah</option>
                                                    <option>Samir Shah</option>

                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="txtTags">Tags</label>
                                                <input type="text" data-role="tagsinput" class="form-control" id="txtTags" placeholder="Tags">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="txtRemarks">Remarks</label>
                                                <textarea class="form-control" id="txtRemarks" rows="5"></textarea>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="txtInternal">Remarks (Internal)</label>
                                                <textarea class="form-control" id="txtInternal" rows="5"></textarea>
                                            </div>
                                        </div>
                                    </div>


                                    <br />
                                    <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                        CREATE INQUIRY</button>
                                    <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                        UPDATE INQUIRY</button>
                                    <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                        DELETE INQUIRY</button>
                                    <a class="btn btn-warning" aria-expanded="false" rel="tooltip" title="Create New" onclick="window.location.href=window.location.href;">
                                        <span class="fa fa-plus"></span>
                                    </a>

                                    <a class="btn btn-danger" aria-expanded="false" rel="tooltip" title="Quit From" onclick="window.location.href=window.location.href;">
                                        <span class="fa fa-times"></span>
                                    </a>
                                    <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
                                        <span class="fa fa-refresh"></span>
                                    </a>
                                </form>
                            </div>
                            <div class="col-md-4 summery-detail summery-uitilities-detail summeryCreateQuotation">
                                <div class="panel-body tab-itenaries tab-itenaries2 ">
                                    <div class="panel-group">
                                        <div class="panel panel-red">
                                            <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                                                <h4 class="panel-title panel-title-sm">Summary
                                                    <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report">
                                                        <i class="fa fa-tasks"></i>
                                                    </a>
                                                    <a id="startGuiededTour" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Guided Tour">
                                                        <i class="icon-info"></i>
                                                    </a>
                                                    <a id="startTimeline" onclick="$('#showRightSideTimeline').trigger('click')" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="View Trail">
                                                        <i class="fa fa-sitemap"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                                                <div class="panel-body summary-body">
                                                    <table class="table summary-list">
                                                        <tbody>
                                                            <tr>
                                                                <td>Booking Reference #: </td>
                                                                <td><span class="label label-success">Tour121</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Quotation Reference #: </td>
                                                                <td><span class="label label-warning">Quote123</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Agent: </td>
                                                                <td><span class="label label-danger">Travelz Unlimited</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Total Amount: </td>
                                                                <td><span class="label label-success">5000 THB</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Booked By: </td>
                                                                <td><span class="label label-warning">samarth@techpure.co.uk</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Booked Date: </td>
                                                                <td><span class="label label-info">10-03-2016</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Approoved By: </td>
                                                                <td><span class="label label-warning">samarth@techpure.co.uk</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Approoved Date: </td>
                                                                <td><span class="label label-info">10-03-2016</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Booking Confirmation Sent To: </td>
                                                                <td><span class="label label-danger">samarth@techpure.co.uk</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Booking Status: </td>
                                                                <td><span class="label label-success">Booked</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Last Updated By: </td>
                                                                <td><span class="label label-info">Samir Shah</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Last Updated Date: </td>
                                                                <td><span class="label label-warning">14-Mar-2016</span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
