body {
}

.tab-itenaries > .col-md-1 > h4,
.tab-itenaries .col-md-2 > h4,
.tab-itenaries .col-md-3 > h4,
.tab-itenaries .col-md-4 > h4,
.tab-itenaries .col-md-5 > h4,
.tab-itenaries > .col-md-6 > h4,
.tab-itenaries .col-md-7 > h4,
.tab-itenaries .col-md-8 > h4,
.tab-itenaries .col-md-9 > h4,
.m-b-lg > h4 {
    border-bottom: 1px dotted #ccc;
    color: #40474f;
    font-size: 22px;
    font-weight: normal;
    margin: 7px 0 10px;
    padding-bottom: 5px;
}

.tab-itenaries .col-md-1 > h5,
.tab-itenaries .col-md-2 > h5,
.tab-itenaries .col-md-3 > h5,
.tab-itenaries .col-md-4 > h5,
.tab-itenaries .col-md-5 > h5,
.tab-itenaries .col-md-6 > h5,
.tab-itenaries .col-md-7 > h5,
.tab-itenaries .col-md-8 > h5,
.tab-itenaries .col-md-9 > h5,
.m-b-lg > h5 {
    /*color: #40474f;*/
    font-size: 19px;
    font-weight: bold;
    margin: 0 0 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted;
    text-shadow: 1px 0px #BEC8D2;
}

    .tab-itenaries .col-md-1 > h5 > span,
    .tab-itenaries .col-md-2 > h5 > span,
    .tab-itenaries .col-md-3 > h5 > span,
    .tab-itenaries .col-md-4 > h5 > span,
    .tab-itenaries .col-md-5 > h5 > span,
    .tab-itenaries .col-md-6 > h5 > span,
    .tab-itenaries .col-md-7 > h5 > span,
    .tab-itenaries .col-md-8 > h5 > span,
    .tab-itenaries .col-md-9 > h5 > span,
    .m-b-lg > h5 > span {
        float: right;
    }

.tab-itenaries a > span {
    font-weight: bold;
    font-size: 14px;
}

/*.tab-itenaries span {
        font-weight: bold;
        font-size: 14px;
        text-shadow: 1px 0 #BEC8D2;
    }*/

.tab-itenaries {
    padding-bottom: 10px;
    border: 1px double #BEC8D2 !important;
    border-radius: 5px !important;
    box-shadow: 3px 3px 7px -5px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
}



    .tab-itenaries .form-control .btn, .tab-itenaries .form-control .label {
        width: 100%;
    }

    .tab-itenaries .form-control h2 {
        margin-bottom: 0;
        margin-top: 0;
    }

    .tab-itenaries .right-border {
        border-right: 1px dotted #f25656;
        min-height: 156px;
        padding-left: 25px;
    }

.strong {
    font-weight: bold;
}

.modal-body .strong {
    margin-top: 0;
    margin-bottom: 0;
}

/*.strong:hover {
            text-decoration: underline !important;
        }*/

.panel .panel-body {
    padding: 15px;
}

.tab-itenaries .form-control .btn {
    padding: 8px 10px;
    font-size: 13px;
    text-transform: uppercase;
}

.modal-footer .btn {
    text-transform: uppercase;
}

.star-ratings .select2.select2-container {
    display: none;
}

.modal-body {
    width: 100%;
}

.modal-header h4 {
    border-bottom: 1px dotted #ccc;
    font-size: 20px;
    font-weight: normal;
}

.quote-link h2 {
    /*margin-bottom: 0;
        margin-top: 0;*/
    margin-top: 15px;
    text-align: center;
}

.quote-link .panel-heading {
    padding: 10px 15px;
}

.panel-red .panel-collapse, .panel-blue .panel-collapse, .panel-purple .panel-collapse, .panel-green .panel-collapse {
    border: 1px solid #F25656;
    border-radius: 0 0 5px 5px;
}

.panel-blue .panel-collapse {
    border: 1px solid #12AFCB;
}

.panel-purple .panel-collapse {
    border: 1px solid #7A6FBE;
}

.panel-green .panel-collapse {
    border: 1px solid #22BAA0;
}

.panel-red .panel-collapse .panel-body, .panel-blue .panel-collapse .panel-body, .panel-purple .panel-collapse .panel-body {
    color: #4e5e6a;
}

.fa-ul > li {
    font-size: 12px;
    position: relative;
}

.fa-ul {
    margin-left: 15px;
}

.right-floating {
    float: right;
    cursor: pointer;
    color: #F25656;
    margin-left: 5px;
}

.tab-itenaries span.total-cost {
    font-size: 11px;
}

a.col-sm-3 {
    background-color: #f25656;
    color: #fff;
    font-family: Lucida Console;
    font-size: 32px;
    height: 44px;
    margin-bottom: 0;
    margin-top: 0;
    top: 0;
    width: 19.1%;
}

    a.col-sm-3 span {
        float: left;
        font-size: 71px;
        margin: -27px 0 0 -25px;
    }

.fa-ul > li {
    margin-bottom: 5px;
}

.panel > .row > div:last-child {
    padding-left: 0;
    padding-right: 0;
}

.tab-itenaries > .table > tbody > tr:first-child > td {
    border-width: 0;
}

.tab-itenaries > .table > tbody > tr > td:last-child {
    text-align: right;
}

.tab-itenaries1 > .table > tbody > tr > td:last-child {
    text-align: left !important;
}

.tab-itenaries > .table > tbody > tr > td {
    font-size: 11px;
    padding: 7px !important;
}


.button-index {
    background-color: #fff;
    border-radius: 50%;
    color: #333;
    padding: 0 5px;
    font-weight: bold;
}

.button-itenaries .form-control .btn-steps {
    text-align: left;
    width: 77%;
}

.button-itenaries .form-control .btn-steps-icons {
    width: auto;
}

.button-itenaries .form-control .btn-steps:hover .button-index {
    color: #333;
}

.button-index {
    margin-right: 5px;
}

.btn-auto {
    width: auto;
}

.btn-full {
    width: 100%;
}

h4.panel-title {
    float: none !important;
}

.tour-code, .tour-name {
    border-width: 1px !important;
    padding: 9px 10px !important;
}

.summarytab .table-itinarary-summary td {
    text-align: center;
    vertical-align: top;
    padding: 10px 2px;
}

    .summarytab .table-itinarary-summary td:nth-child(1) {
        width: 5%;
        font-size: 14px;
        font-size: 18px;
    }

    .summarytab .table-itinarary-summary td:nth-child(2) {
        text-align: left;
        width: 30%;
        font-size: 13px;
    }

    .summarytab .table-itinarary-summary td:nth-child(3) {
        width: 10%;
    }

    .summarytab .table-itinarary-summary td:nth-child(4) {
        width: auto;
        text-align: left;
    }

    .summarytab .table-itinarary-summary td:nth-child(5) {
        width: 10%;
    }

    .summarytab .table-itinarary-summary td:nth-child(6) {
        width: 3%;
        font-size: 15px;
    }

        .summarytab .table-itinarary-summary td:nth-child(6) a {
            color: #22BAA0 !important;
        }

    .summarytab .table-itinarary-summary td:nth-child(7) {
        width: 3%;
        color: #F25656;
        font-size: 15px;
    }

.summarytab td span.label {
    display: inline-block;
}


.accordian-heading {
    padding: 10px !important;
}

.summary-tab-itenaries h4 {
    color: #F25656;
    border-bottom: 1px dotted #f25656;
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
}

.summary-tab-itenaries .form-group .btn-steps {
    text-align: left;
    width: 54%;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
}

.summary-tab-itenaries .form-group .btn-steps-icons {
    width: 14%;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
}

.panel .panel-heading .panel-title {
    color: #fff !important;
}

.right-aligned {
    text-align: right !important;
    font-size: 13px !important;
}

td .label {
    line-height: 2.5;
}

.btnradius {
    border-radius: 5px !important;
    padding: 6px 10px !important;
    width: 100% !important;
    font-size: 19px !important;
}

.tab-content-new {
    background: #fff none repeat scroll 0 0;
    padding: 0px !important;
}

.btnaminitiesresize {
    margin-bottom: 0px !important;
    font-size: 14px !important;
}

.tab-itenaries .row .rooms-type .btn {
    font-size: 10px;
    text-transform: uppercase;
    margin: 5px 0 5px 0;
}

.itenarynewwidth {
    width: 32% !important;
}

.newtextbox {
    border-width: 2px !important;
    padding: 7px 1px !important;
}



.ui-state-default table {
    width: 100%;
}

.right-border {
    border-right: 1px solid #ccc;
    padding-right: 10px;
}

.left-padding {
    padding: 10px 20px;
}



.summery-uitilities-detail {
    width: 33.3333%;
    overflow: hidden;
    padding-right: 0;
}

.summery-nav-btn {
    background-color: #ccc;
    color: #22baa0;
    cursor: not-allowed;
    font-size: 0.7em;
    margin-left: 5px;
    padding: 5px;
    float: right;
}

    .summery-nav-btn.active {
        background-color: #fff;
        cursor: pointer;
    }

.summary-body p {
    margin: 0;
}

.summary-list .label {
    font-size: 100%;
}

.summary-list {
    margin-bottom: 0;
}

    .summary-list > tbody > tr > td {
        text-align: left !important;
        width: auto;
    }

    /*.summary-list > tbody > tr > td:first-child {
                width: 45%;
            }*/

    .summary-list > tbody > tr:first-child > td {
        border-top-width: 0;
    }


.field-list .active {
    background-color: #4fe7cd;
    color: #fff !important;
    font-weight: bolder;
    /*font-size: 14px;*/
}

.field-list a:hover {
    text-decoration: none;
}

li.content {
    list-style: outside none none;
    transition: 1s;
    border: 1px solid #22BAA0;
}

    li.content .libody {
        transition-timing-function: linear;
    }


.panel-red .panel-collapse, .panel-blue .panel-collapse, .panel-purple .panel-collapse, .panel-green .panel-collapse {
    border: 1px solid #F25656;
    border-radius: 0 0 5px 5px;
}

.panel-blue .panel-collapse {
    border: 1px solid #12AFCB;
}

.panel-purple .panel-collapse {
    border: 1px solid #7A6FBE;
}

.panel-green .panel-collapse {
    border: 1px solid #22BAA0;
}

.panel-group {
    margin-bottom: 0;
}

    .panel-group .panel-red .panel-collapse .panel-body, .panel-blue .panel-collapse .panel-body, .panel-purple .panel-collapse .panel-body {
        color: #4e5e6a;
    }

    .panel-group .panel .panel-heading {
        padding: 10px;
    }

.panel .panel-heading .panel-title {
    color: #fff !important;
    float: none;
    font-weight: normal;
    font-size: 17px;
    border-bottom-width: 0;
}

.panel-group .panel .panel-body h3, .panel-group .panel .panel-body h4 {
    margin: 0;
}

.tab-itenaries {
    border: 1px double #bec8d2 !important;
    border-radius: 5px !important;
    box-shadow: 3px 3px 7px -5px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
    padding-bottom: 10px;
}

    .tab-itenaries .table > tbody > tr > td {
        font-size: 12px;
        padding: 7px !important;
    }

.tab-itenariessum .table > tbody > tr > td {
    font-size: 12px;
    padding: 7px !important;
    text-align: center !important;
}

.tab-itenariessum .table > thead > tr > th {
    text-align: center !important;
}

.tab-itenariessum .table > tbody > tr > td:first-child {
    color: red;
}

.label.label-browennew {
    background: #B93B7C none repeat scroll 0 0;
}

.label.label-darkgreen {
    background: #02C8C8 none repeat scroll 0 0;
}

#ulViewList {
    padding-left: 0 !important;
}

.field-name {
    padding-right: 15px;
}

.field-name {
    float: left;
    width: 50%;
}

.ulviewlistclass {
    padding-left: 0 !important;
}

.sortable-list {
    margin-top: 0;
    margin-bottom: 0;
}

    .sortable-list li {
        border: none !important;
        border-bottom: solid !important;
        border-width: 1px !important;
    }

        .sortable-list li:last-child {
            border-bottom-width: 0 !important;
        }

.tablespan > tbody > tr > td > span.label, .table > tbody > tr > th > span.label {
    font-size: 70% !important;
}

.cbp-spmenu2 h3 .btn {
    color: #fff;
    padding: 9px 12px !important;
}

.borbotm {
    border: solid !important;
    border-width: 1px !important;
}

.newfontsizehorisum > tbody > tr > td {
    font-size: 11px !important;
}

.grid figcaption {
    background: #fff none repeat scroll 0 0;
    padding: 25px;
}

.grid li:hover figure {
    opacity: 1;
}

.grid li {
    cursor: default;
}

figcaption > h3 {
    border-bottom: 1px dashed #3c3c3c !important;
}

.grid li {
    position: static !important;
}

.viewchange {
    padding-left: 10px;
    width: 50% !important;
}

.panel-heading1 {
    border: 0 none !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 5px;
    font-weight: bold;
    height: 22px;
    padding: 8px 1px;
}

.tab-itenaries1 .table > tbody > tr > td {
    font-size: 9px !important;
    padding: 1px !important;
}

.panel-heading2 {
    border: 0 none !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 14px;
    font-weight: 300;
    height: 33px;
    padding: 8px;
    color: white;
}

.show-followup-details, .show-followup-details label {
    cursor: pointer;
}

.panel-blue {
    background-color: #2B384E !important;
}

    .panel-blue .panel-collapse {
        border: 1px solid #2B384E !important;
    }

.newblackfont > tbody > tr > td:first-child {
    color: #2B384E;
}

.auditsummury > tbody > tr > td:first-child {
    width: 1%;
}



.tbborder > table > tbody > tr > td {
    text-align: center;
    border: 1px solid lightgrey;
}

.tbborder > table > thead > tr > th {
    text-align: center;
    border-bottom: 1px solid #F25656;
}


.tbborder > table > tbody > tr > td:first-child {
    text-align: left;
}

.tbborder > table > thead > tr > th {
    background-color: #F25656;
    color: white;
}

.cdnew::before {
    -moz-border-right-colors: red !important;
    -webkit-border-right-colors:red !important;
    }

.show-all-expand-inq:hover {
    cursor: pointer;
}

.show-all-expand-quote:hover {
    cursor: pointer;
}

.changecolor {
    color: #22BAA0 !important;
}

    .changecolor > em {
        color: #F25656 !important;
    }

.quoteinclu > tbody > tr > td:last-child {
    text-align: left !important;
}

.show-expand-quotation
{
    cursor:pointer;
}

.feature-icon {
    border: 2px solid #22baa0;
    border-radius: 50%;
    color: #22baa0;
    font-size: 35px;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;
    width: 100px;
}

.features-list .col-sm-4 {
    cursor: pointer;
    margin-bottom: 20px;
    text-align: center;
}

.viewtermnote1, .viewtermnote2,.viewtermnote12, .viewtermnote22
{
    cursor:pointer;
    color:#22BAA0;
}


li:nth-child(2) {
   list-style-type: none; 
}

.jstree-anchor
{
    font-size:19px;
    color:#F25656 !important;
}

.jstree-anchor-sub
{
    font-size:13px;
    color:#0C1F28 !important;
}

.jstree-anchor-sub-sub
{
    font-size:11px;
    color:#0C1F28 !important;
}

.jstree-container-ul
{
    width:10% !important;
}
.audittrailable > tbody > tr > td
{
    padding:10px;
    border-bottom:1px solid lightgrey;

}
.audittrailable > thead > tr > th
{
    padding:8px;
    border-bottom:1px solid lightgrey;
}
.botmbor > td
{
    border-bottom:1px solid red !important;
}

.highlt
{
    padding:3px;
  
    background: #f1f1f1 none repeat scroll 0 0;
      border-radius: 2px;
    box-shadow: 0 0 1px #999 inset;
    border:none !important;
    margin-top:6px;
    color:#0C1F28;
}

:hover.highlt{
    background: lightgrey none repeat scroll 0 0;
      border-radius: 2px;
    box-shadow: 0 0 1px #999 inset;
}

.highlt1
{
     background: lightgrey none repeat scroll 0 0;
      border-radius: 2px;
    box-shadow: 0 0 1px #999 inset;
}

.tbborder > table > tbody > tr > td:first-child {
text-align:left;
    } 

.nobor > th {
border-bottom: none !important;
    color: black !important;
}

.tbborder > table > tbody > tr > td 
    {
        border-bottom:1px solid #DDDDDD;
        border-right:1px solid #DDDDDD;
       
    }
     .tbborder > table > tbody > tr > td:last-child
    {
       
        border-right:none;
       
    }
      .tbborder > table > tbody > tr:last-child > td
    {
        border-bottom:none;
       
    }
   
    .tbborder > table > thead > tr > th 
    {
        border:1px solid #DDDDDD;
        color:#0C1F28;
        background-color:#DDDDDD;
    }
    .tbborder > table > tbody > tr > td 
    {
        text-align:center;
    }
   .tnewtab > table > tbody > tr > td
   {
       border:none !important;
    }
    .tbborder > table > thead > tr > th 
    {
        text-align:center;
    }

    .hotelratetable > tbody > tr >td
    {
        padding:5px;
    }

.popover {
    border: 1px solid #ebebeb;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
}

.popover {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    left: 0;
    letter-spacing: normal;
    line-height: 1.42857;
    max-width: 276px;
    padding: 1px;
    position: absolute;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    top: 0;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    z-index: 1060;
}
.popover-title {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    margin: 0;
    padding: 8px 14px;
}

.btn-nsuccess
{
    background-color:#22BAA0;
    border-color: transparent;
}
.btn-ndefault
{
    background-color:grey;
    border-color: transparent;
}
.achangecolor > tr > td > a
{
    color:#22BAA0 !important;
    border-bottom: 1px dashed #22BAA0 !important;
} 
.achangetoblue > tr > td > a
{
     color:#12AFCB !important;
    border-bottom: 1px dashed #12AFCB !important;
}

.diffcolortdwise > tr > td:nth-child(2) > a , .diffcolortdwise > tr > td:nth-child(4) > a
{
    color:#22BAA0 !important;
    border-bottom: 1px dashed #22BAA0 !important;

}

.diffcolortdwise > tr > td:nth-child(3) > a , .diffcolortdwise > tr > td:nth-child(5) > a
{
    color:#12AFCB !important;
    border-bottom: 1px dashed #12AFCB !important;

}

.toppaddingall
{
    padding-top:2% !important;
}

