   <table style="width: 100%; cellspacing: 0;" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Account</th>
                                    <th>Amount</th>
                                    <th>Remarks</th>



                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Account1
                                    </td>
                                    <td>80000  
                                    </td>
                                    <td>
                                    Rem 1
                                </tr>

                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="text" />
                                    </td>
                                    <td>
                                        <input type="text" />
                                    </td>
                                    <td>
                                        <input type="text" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <button id="btnadd" class="btn btn-success btnSave" type="submit">
                                            Add</button>
                                    </th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                @*<tr>
                                        <td>2</td>
                                        <td>
                                 <input type="text" />
                                        </td>
                                        <td>
                                               <input type="text" />
                                        </td>
                                        <td>
                                            
                                        </td>
                                     </tr>*@
                            </tbody>
                        </table>