@{
    ViewBag.Title = "Income Book";
    ViewBag.PageTitle = "Income Book";
    ViewBag.FooterCopyRight = "2015 &copy; Modern by Steelcoders.";
}


<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tab1" role="tab" data-toggle="tab" data-section="tab1" class="hosting-accord"><span class="menu-icon glyphicon glyphicon glyphicon-cloud"></span>&nbsp;&nbsp;&nbsp;&nbsp;Serach Income Entry</a></li>
                    <li role="presentation"><a href="#tab2" role="tab" data-toggle="tab" data-section="tab2" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Create Income Entry </a></li>


                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <form>
                            <div class="table-responsive">
                                <div class="dropdown table-custome-drop">
                                    <div class="btn-group">
                                        <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="glyphicon glyphicon-download-alt"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Excel</a></li>
                                            <li><a href="#">PDF</a></li>
                                            <li><a href="#">Email</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <table id="example-editable" class="display table" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Party</th>
                                            <th>Date</th>
                                          <th>Our Bill Number</th>
                                          <th>Party Reference Number</th>
                                            <th>Total Amount</th>
                                            <th>Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Party</th>
                                             <th>Date</th>
                                          <th>Our Bill Number</th>
                                            <th>Party Reference Number</th>
                                             <th>Total Amount</th>
                                            <th>Action
                                            </th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <th></th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                               <th>
                                                <input type="text" />
                                            </th>   
                                             <th>
                                                <input type="text" />
                                            </th>                                     
                                            <th>
                                                <a href="#">
                                                    <img src="assets/images/srach.png" height="15" width="15" /></a> <a href="#">
                                                        <img src="assets/images/close.png" height="15" width="15" /></a>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                               <td></td>
                                            <td></td>
                                        </tr>                                      
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="tab2">

                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtSrNo">Sr No</label>
                                    <input type="text" class="form-control" id="txtSrNo" placeholder="Sr No" readonly>
                                </div>
                                <div class="form-group">
                                   <div class="form-group">
                                    <label for="txtDate">Date</label>
                                    <input type="text" class="form-control date-picker" id="txtDate" placeholder="Date">
                                </div>
                                </div>                                                                                                                                                       
                            </div>
                            <div class="col-md-6">
                                  <div class="form-group">
                                  <label for="txtParty">Party</label>
                                    <input type="text" class="form-control" id="txtParty" placeholder="Party">
                                </div>
                                <div class="form-group">
                                    <label for="txtOurBillNumber">Our Bill Number</label>
                                    <input type="text" class="form-control" id="txtOurBillNumber" placeholder="Our Bill Number">
                                </div>
                               
                            </div>
                            
                        </div>
                         <div class="row">
                            <div class="col-sm-6">
                                <div>
                                      <div class="form-group">
                                    <label for="txtPartyReferenceNumber">Party  Reference Number</label>
                                    <input type="text" class="form-control" id="txtPartyReferenceNumber" placeholder="Party  Reference Number">
                                </div>
                                </div>
                                </div>
                              <div class="col-sm-6">
                                <div>
                                      <div class="form-group">
                                    <label for="txtRemarks">Remarks</label>
                                    <textarea class="form-control" cols="5" id="txtRemarks"></textarea>
                                </div>
                                </div>
                                </div>
                             </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <table style="width: 100%; cellspacing: 0;" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Account</th>  
                                            <th>Amount</th>                                       
                                            <th>Remarks</th>
                                          
                                           
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        <td>1</td>
                                        <td>
                                 Account1
                                        </td>
                                        <td>
                                             80000  
                                        </td>
                                        <td>
                                          Rem 1
                                     </tr>

                                        <tr>
                                        <td></td>
                                        <td>
                                 <input type="text" />
                                        </td>
                                        <td>
                                               <input type="text" />
                                        </td>
                                        <td>
                                           <input type="text" />
                                        </td>
                                     </tr>
                                        <tr>                                                                             
                                              <th>
                                                    <button id="btnadd" class="btn btn-success btnSave" type="submit">
                                                        Add</button>
                                                </th>
                                             <td></td>
                                       <td></td>
                                            <td></td>
                                     </tr>
                                        @*<tr>
                                        <td>2</td>
                                        <td>
                                 <input type="text" />
                                        </td>
                                        <td>
                                               <input type="text" />
                                        </td>
                                        <td>
                                            
                                        </td>
                                     </tr>*@
                                    </tbody>
                                </table>
                            </div>
                            <br /> </div>
                            <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                SAVE</button>
                            <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                UPDATE</button>
                            <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                DELETE</button>
                            <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                                CLEAR</button>
                            <button id="btnSave" type="submit" class="btn btn-info btnSave">
                                QUIT FORM</button>

                       
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="panel panel-white">
        <h4 class="panel-title-summery">Utilities </h4>
        <div class="panel-body utility-panel">
            <ul class="utility-list">
                <li>
                    <a href="#">
                        <i class="task">&nbsp;</i><br />
                        Task
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="noti">&nbsp;</i><br />
                        Notifications
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="cal">&nbsp;</i><br />
                        Calendar
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="e-mail">&nbsp;</i><br />
                        Email
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="sms">&nbsp;</i><br />
                        SMS
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="notes">&nbsp;</i><br />
                        Notes
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="tages">&nbsp;</i><br />
                        Tags
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="help-video">&nbsp;</i><br />
                        Help Video
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="guided-tour">&nbsp;</i><br />
                        Guided Tour
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="copy">&nbsp;</i><br />
                        Copy
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="print">&nbsp;</i><br />
                        Print
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="updates">&nbsp;</i><br />
                        Updates
                    </a>
                </li>
                <li>

                    <a href="#">
                        <i class="screns">&nbsp;</i><br />
                        Screenshot
                    </a>
                </li>
            </ul>

        </div>
    </div>

</div>

@section scripts{
    <script>

        $(document).ready(function () {

            $('.hotelstatus').editable({
                value: 2,
                source: [
                    { '1': 'Active' },
                    { '2': 'Inactive' }
                ]
            });
        });
    </script>
}


@section floatingsection{

    
}
