@{
    ViewBag.Title = "Index";
}
@section styles{

}

<link href="~/Content/CorporateRole/CorporateRole.css" rel="stylesheet" />
<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                    <li role="presentation" class="active usertab1gridclass" id="userlitab1"><a href="#tab1" role="tab" data-toggle="tab" data-section="tab1" class="basic-accord"><span class="menu-icon fa fa-search"></span>&nbsp;&nbsp;&nbsp;&nbsp;Search Role </a></li>
                    <li role="presentation" class="userlitab4class" id="userlitab4"><a href="#tab4" role="tab" data-toggle="tab" data-section="tab4" class="hosting-accord"><span class="menu-icon glyphicon glyphicon glyphicon-cloud"></span>&nbsp;&nbsp;&nbsp;&nbsp;Manage Role</a></li>
                    <li role="presentation" class="userlitab4class" id="userlitab5"><a href="#tab5" role="tab" data-toggle="tab" data-section="tab5" class="hosting-accord"><span class="menu-icon fa fa-cubes"></span>&nbsp;&nbsp;&nbsp;&nbsp;Advance Authorization</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        aa
                    </div>

                    <div role="tabpanel" class="tab-pane" id="tab4">
                        <div class="col-md-12">
                            <form>
                                <div class="form-group">
                                    <div class="row">
                                        <label id="lbSrnoTab4" style="display: none"></label>

                                        <div class="col-md-4">
                                            <label>Corporate <span>*</span></label>
                                            <select id="drpRightsCorporate" class="js-states col-sm-2 form-control Dropdown  " style="display: none; width: 100%">
                                                <option>--Select Coporate--</option>
                                                <option selected="selected">Techpure LTD</option>
                                                <option>Flamingo</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Unit <span>*</span></label>
                                            <select id="drpRightsUnit" class="js-states col-sm-2 form-control Dropdown disableRights " style="display: none; width: 100%">
                                                <option>--Select Unit--</option>
                                                <option selected="selected">Bangkok</option>
                                                <option>Ahmedabad</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Location <span>*</span></label>
                                            <select id="drpRightsLocation" class="js-states col-sm-2 form-control Dropdown disableRights " style="display: none; width: 100%">
                                                <option>--Select Location--</option>
                                                <option selected="selected">Bangkok</option>
                                                <option>Ahmedabad</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label id="lbSrnoTab4" style="display: none"></label>
                                        <div class="form-group col-md-4">
                                            <label>Role <span>*</span></label>

                                            <input type="text" id="txtrole" placeholder="Role" value="Admin" class="form-control ">
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="Date1" id="LbDate1">Effective Date <span>*</span></label>
                                                &nbsp
                                                    <input type="text" id="Date1" placeholder="dd/mm/yyyy" value="28/04/2016" class="form-control date-picker ">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row grid">
                                        <div class="col-md-3 grid-item">
                                            <div class="panel panel-white ">
                                                <div class="panel-body tab-itenaries">
                                                    <div class="myDiv">
                                                        <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                                            <label style="display: none" id="lbheadingName"></label>
                                                        </h3>
                                                    </div>
                                                    <h3 style="margin-top: 0; text-align: center;">
                                                        <b>
                                                            <label id="lbheading">
                                                                <input type="checkbox">
                                                                WhiteLabel</label></b></h3>

                                                    <table class="table sampletable" style="margin-bottom: 0;">

                                                        <tbody>
                                                            <tr>
                                                                <td>Whitelabel Step 1</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Whitelabel Step 2</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>WhiteLabel Step 3</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 grid-item">
                                            <div class="panel panel-white ">
                                                <div class="panel-body tab-itenaries">
                                                    <div class="myDiv">
                                                        <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                                            <label style="display: none" id="lbheadingName"></label>
                                                        </h3>
                                                    </div>
                                                    <h3 style="margin-top: 0; text-align: center;">
                                                        <label id="lbheading">
                                                            <input type="checkbox">
                                                            Settings</label></h3>

                                                    <table class="table sampletable" style="margin-bottom: 0;">

                                                        <tbody>
                                                            <tr>
                                                                <td>Configure Master</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>


                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 grid-item">
                                            <div class="panel panel-white ">
                                                <div class="panel-body tab-itenaries">
                                                    <div class="myDiv">
                                                        <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                                            <label style="display: none" id="lbheadingName"></label>
                                                        </h3>
                                                    </div>
                                                    <h3 style="margin-top: 0; text-align: center;">
                                                        <label id="lbheading">
                                                            <input type="checkbox">
                                                            Masters</label></h3>

                                                    <table class="table sampletable" style="margin-bottom: 0;">

                                                        <tbody>
                                                            <tr>
                                                                <td>Master Data Entry</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>


                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 grid-item">
                                            <div class="panel panel-white ">
                                                <div class="panel-body tab-itenaries">
                                                    <div class="myDiv">
                                                        <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                                            <label style="display: none" id="lbheadingName"></label>
                                                        </h3>
                                                    </div>
                                                    <h3 style="margin-top: 0; text-align: center;">
                                                        <label id="lbheading">
                                                            <input type="checkbox">
                                                            User</label></h3>

                                                    <table class="table sampletable" style="margin-bottom: 0;">

                                                        <tbody>
                                                            <tr>
                                                                <td>Manage User</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Manage Roles</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>User Authentication</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>


                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 grid-item">
                                            <div class="panel panel-white ">
                                                <div class="panel-body tab-itenaries">
                                                    <div class="myDiv">
                                                        <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                                            <label style="display: none" id="lbheadingName"></label>
                                                        </h3>
                                                    </div>
                                                    <h3 style="margin-top: 0; text-align: center;">
                                                        <label id="lbheading">
                                                            <input type="checkbox">
                                                            Supplier</label></h3>

                                                    <table class="table sampletable" style="margin-bottom: 0;">

                                                        <tbody>
                                                            <tr>
                                                                <td>Supplier Account</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Hotel</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Hotel Policy</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>


                                                            <tr>
                                                                <td>Sightseeing</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Restaurant</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Transportation Component</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Transportation Vehicle</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Guide</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Additional Service</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Image</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 grid-item">
                                            <div class="panel panel-white ">
                                                <div class="panel-body tab-itenaries">
                                                    <div class="myDiv">
                                                        <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                                            <label style="display: none" id="lbheadingName"></label>
                                                        </h3>
                                                    </div>
                                                    <h3 style="margin-top: 0; text-align: center;">
                                                        <label id="lbheading">
                                                            <input type="checkbox">
                                                            B2B FIT Tour</label></h3>

                                                    <table class="table sampletable" style="margin-bottom: 0;">

                                                        <tbody>
                                                            <tr>
                                                                <td>Custom Itenerary</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Booked</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Confirm By Supplier</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Re-confirm By Supplier</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Cancellation</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 grid-item">
                                            <div class="panel panel-white ">
                                                <div class="panel-body tab-itenaries">
                                                    <div class="myDiv">
                                                        <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                                            <label style="display: none" id="lbheadingName"></label>
                                                        </h3>
                                                    </div>
                                                    <h3 style="margin-top: 0; text-align: center;">
                                                        <label id="lbheading">
                                                            <input type="checkbox">
                                                            Pricelist</label></h3>

                                                    <table class="table sampletable" style="margin-bottom: 0;">

                                                        <tbody>
                                                            <tr>
                                                                <td>Hotel Room</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Hotel Function Room</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Hotel Gala Dinner</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Sightseeing</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Restaurant</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Transportation</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Guide</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>


                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 grid-item">
                                            <div class="panel panel-white ">
                                                <div class="panel-body tab-itenaries">
                                                    <div class="myDiv">
                                                        <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                                            <label style="display: none" id="lbheadingName"></label>
                                                        </h3>
                                                    </div>
                                                    <h3 style="margin-top: 0; text-align: center;">
                                                        <label id="lbheading">
                                                            <input type="checkbox">
                                                            B2B GIT Tour</label></h3>

                                                    <table class="table sampletable" style="margin-bottom: 0;">

                                                        <tbody>
                                                            <tr>
                                                                <td>Custom Itenerary</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Booked</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Confirm By Supplier</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Re-confirm By Supplier</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Cancellation</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 grid-item">
                                            <div class="panel panel-white ">
                                                <div class="panel-body tab-itenaries">
                                                    <div class="myDiv">
                                                        <h3 style="margin-top: 0; text-align: center; border-bottom: 0px dotted #ccc;">
                                                            <label style="display: none" id="lbheadingName"></label>
                                                        </h3>
                                                    </div>
                                                    <h3 style="margin-top: 0; text-align: center;">
                                                        <label id="lbheading">
                                                            <input type="checkbox">
                                                            Invoice</label></h3>

                                                    <table class="table sampletable" style="margin-bottom: 0;">

                                                        <tbody>
                                                            <tr>
                                                                <td>FIT Invoice</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>GIT Invoice</td>
                                                                <td>
                                                                    <input type="checkbox">V 
                                                        <input type="checkbox">C 
                                                        <input type="checkbox">U 
                                                        <input type="checkbox">D 
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab5">
                        bb
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
@section scripts{
    <script src="~/assets/plugins/datatables/js/dataTables.tableTools.js"></script>
    <script src="~/assets/plugins/table-export/tableExport.js"></script>
    <script src="~/assets/plugins/table-export/jquery.base64.js"></script>
    <script src="~/assets/plugins/table-export/html2canvas.js"></script>
    <script src="~/assets/plugins/table-export/jspdf/libs/sprintf.js"></script>
    <script src="~/assets/plugins/table-export/jspdf/jspdf.js"></script>
    <script src="~/assets/plugins/table-export/jspdf/libs/base64.js"></script>
    
    <script>
        $(document).ready(function () {
            $('.grid').masonry({
                // options
                itemSelector: '.grid-item'
            });
        });
    </script>
    <script src="~/assets/plugins/Masonry/masonry.pkgd.js"></script>
}