@{
    
    ViewBag.Title = "Green Travel Customers";
    ViewBag.PageTitle = "Green Travel Customers";
    
}
<style>
    .hide_cell {
        display:none;
    }
    #errmsg
{
color: red;
}
</style>
<script src="~/assets/plugins/jquery/jquery-2.1.4.min.js"></script>
<script>
    $(document).ready(function () {

        $('#txtConfirmPassword').on('change', function () {
            var result = CompareValidation($('#txtPassword').val(), $('#txtConfirmPassword').val());
            if (result == true) {
                $('#btnsavebasic').attr("disabled", false);
            }
            else {
                $('#txtConfirmPassword').focus();
                alert('PassWord Not a Same')
                $('#btnsavebasic').attr("disabled", true);
            }

           
        });

        //$('.txtofficalphoneclass').keypress(function (e) {
            
        //    //if the letter is not digit then display error and don't type anything
        //    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
        //        //display error message
        //        $("#errmsg").html("Digits Only").show().fadeOut("slow");
        //        return false;
        //    }
        //});


        //Comapare validation  
        function CompareValidation($attr1, $attr2) {
            if ($attr1 != $attr2) {
                return false;
            }
            else {
                return true;
            }
        }
        function isEmail(txtOfficialEmail) {
            var regex = '/^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/';
            return regex.test(txtOfficialEmail);
        }

       
    });
</script>

<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs form-basic-tab" role="tablist">
                    <li role="presentation" class="active" id="Search"><a href="#tab1" role="tab" data-section="tab1" data-toggle="tab" class="hosting-accord"><span class="menu-icon glyphicon glyphicon glyphicon-cloud"></span>&nbsp;&nbsp;&nbsp;&nbsp;Serach Company </a></li>
                    <li role="presentation" id="CreateCorporate"><a href="#tab2" role="tab" data-section="tab2" data-toggle="tab" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Basic / Reference</a></li>
                    <li role="presentation" id="Tab3"><a href="#tab3" role="tab" data-section="tab3" data-toggle="tab" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Hosting / Subscription </a></li>
                    <li role="presentation" id="Tab4"><a href="#tab4" role="tab" data-section="tab4" data-toggle="tab" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Billing / Maintanence</a></li>
                    <li role="presentation" id="tabuserpreferance"><a href="#tab5" role="tab" data-section="tab5" data-toggle="tab" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;User Preferance</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <form>
                            <div class="table-responsive">
                                <div class="dropdown table-custome-drop">
                                    <div class="btn-group">
                                        <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="glyphicon glyphicon-download-alt"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Excel</a></li>
                                            <li><a href="#">PDF</a></li>
                                            <li><a href="#">Email</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <table id="example1" class="display" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th style="display:none">Srno
                                            </th>
                                            <th>Company Name
                                            </th>
                                            <th>Company Industry 
                                            </th>
                                            <th>Application URL
                                            </th>
                                            <th>Refference Company
                                            </th>
                                            <th>Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th style="display:none">Srno
                                            </th>
                                            <th>Company Name
                                            </th>
                                            <th>Company Industry
                                            </th>
                                            <th>Application URL
                                            </th>
                                            <th>Refference Company
                                            </th>
                                            <th>Action
                                            </th>
                                        </tr>
                                    </tfoot>
                                    @*<tbody>
                                        <tr>
                                            <th></th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th class="action-buttons">
                                                <a href="#">
                                                    <img src="assets/images/srach.png" height="15" width="15" /></a> <a href="#">
                                                        <img src="assets/images/close.png" height="15" width="15" /></a>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td class="action-buttons">
                                                <a href="#" title="Step 1"><i class="text-success fa fa-pencil-square-o"></i></a>
                                                <a href="#" title="Application Features"><i class="text-primary fa fa-cubes"></i></a>
                                                <a href="#" title="Access Right"><i class="fa fa-key"></i></a>
                                            </td>
                                        </tr>

                                    </tbody>*@
                                </table>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="tab2">
                        <div class="progress" style="display: none;">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                70%
                            </div>
                        </div>
                        <form>
                            <div class="col-md-12">
                                <h3 class="tab2section1"><span class="section-index">1</span>&nbsp;Basic Details</h3>
                                 <div class="form-group">
                                         <input type="text" class="form-control" id="txtsrno" placeholder="srno">
                                    </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtCmpOfficeName">Corporate Company Official Name <span>*</span></label>
                                        <input type="text" class="form-control" id="txtCmpOfficeName" placeholder="Company Official Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="drpcompanyIndustry">Corporate Company Industry <span>*</span></label>
                                        <select id="drpcompanyIndustry" class="js-states form-control Industry Dropdown" style="display: none; width: 100%">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="drpcompanyType">Company Type <span>*</span></label>
                                        <select id="drpcompanyType" class="js-states form-control Industry Dropdown" style="display: none; width: 100%">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="drpServices">Services <span>*</span></label>
                                        <select id="drpServices" class="js-states form-control Dropdown" style="display: none; width: 100%">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="drpBusinessMode">Business Mode <span>*</span></label>
                                        <select id="drpBusinessMode" class="js-states form-control Dropdown" style="display: none; width: 100%">
                                            <option value="Static 1" selected>Static 1</option>
                                            <option value="Static 2">Static 2</option>
                                            <option value="Static 3">Static 3</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtUsername">Admin User Name (Email) <span>*</span></label>
                                        <input type="text" class="form-control" id="txtUsername" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtPassword">Password <span>*</span></label>
                                        <input type="password" class="form-control" id="txtPassword" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtConfirmPassword">Confirm Password </label>
                                        <input type="password" class="form-control" id="txtConfirmPassword" placeholder="Confirm Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtOfficialEmail">Official Email <span>*</span></label>
                                        <input type="text" class="form-control" id="txtOfficialEmail" placeholder="Official Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtOfficialPhone">Official Phone <span>*</span>&nbsp;<span id="errmsg"></span> </label>
                                        <input type="text" class="form-control num" id="txtOfficialPhone" placeholder="Official Phone">
                                    </div>
                                    <div class="form-group no-select">
                                        <label for="exampleInputEmail1">Application Theme <span>*</span> </label>
                                        <select class="cs-select cs-skin-boxes Dropdown" id="DrpApplicationTheme">
                                            <option value="" disabled selected>Application Theme</option>
                                            <option value="#22BAA0" data-class="color-588c75">#22BAA0</option>
                                            <option value="#b0c47f" data-class="color-b0c47f">#b0c47f</option>
                                            <option value="#f3e395" data-class="color-f3e395">#f3e395</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtApplicationURL">Application URL <span>*</span></label>
                                        <input type="text" class="form-control" id="txtApplicationURL" placeholder="Application URL">
                                    </div>
                                    <div class="form-group">
                                        <label for="drpBaseCurrency">Base Currency <span>*</span></label>
                                        <select id="drpBaseCurrency" class="js-states form-control Dropdown" style="display: none; width: 100%">
                                            <option value="Static 1" selected>Static 1</option>
                                            <option value="Static 2">Static 2</option>
                                            <option value="Static 3">Static 3</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="drpBaseLanguage">Base Language <span>*</span></label>
                                        <select id="drpBaseLanguage" class="js-states form-control Language Dropdown" style="display: none; width: 100%">
                                            <option value="Static 1" selected>Static 1</option>
                                            <option value="Static 2">Static 2</option>
                                            <option value="Static 3">Static 3</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtLogo">Logo <span>*</span> </label>
                                        <input type="text" class="form-control" id="txtLogo" placeholder="Accounting Group">
                                    </div>
                                    <div class="form-group no-select">
                                        <label for="exampleInputEmail1">Web Theme </label>
                                        <select class="cs-select cs-skin-boxes Dropdown" id="DrpWebtheme">
                                            <option value="" disabled selected>Web Theme</option>
                                            <option value="#22BAA0" data-class="color-588c75">#22BAA0</option>
                                            <option value="#b0c47f" data-class="color-b0c47f">#b0c47f</option>
                                            <option value="#f3e395" data-class="color-f3e395">#f3e395</option>

                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtWebURL">Web URL </label>
                                        <input type="text" class="form-control" id="txtWebURL" placeholder="Web URL">
                                    </div>
                                    <div class="form-group">
                                        <label for="drpOtherLanguage">Other Language <span></span></label>
                                        <select id="drpOtherLanguage " class="js-states form-control Language Dropdown" style="display: none; width: 100%">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtFavicon">Favicon </label>
                                        <input type="text" class="form-control" id="txtFavicon" placeholder="Favicon">
                                    </div>
                                    <div class="form-group ">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="cd-pricing-switcher">
                                                    <p class="fieldset">
                                                        <input type="radio" class="no-uniform" name="duration-1" value="monthly" id="rdoFullWhiteLabel" checked>
                                                        <label for="rdoFullWhiteLabel">Full White Label</label>
                                                        <input type="radio" class="no-uniform" name="duration-1" value="yearly" id="rdoSemiWhiteLabel">
                                                        <label for="rdoSemiWhiteLabel">Semi White Label</label>
                                                        <span class="cd-switch"></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" id="chkCopyrightNote" class="form-marings chkCopyrightNotecs">Copyright Note
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="txtCopyRights" placeholder="Copyright Note">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h3 class="section-headers tab2section2"><span class="section-index">2</span>&nbsp;Reference</h3>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="drpRefferenceCorporateCompany">Refference Corporate Company </label>
                                        <select id="drpRefferenceCorporateCompany" class="js-states form-control Dropdown" style="display: none; width: 100%">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtOtherRefference1">Other Refference 1</label>
                                        <input type="text" class="form-control" id="txtOtherRefference1" placeholder="Other Refference 1">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtOtherRefference2">Other Refference 2</label>
                                        <input type="text" class="form-control" id="txtOtherRefference2" placeholder="Other Refference 2">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtAddressLine2">Commision % </label>
                                        <input type="text" class="form-control" id="txtCommision" placeholder="Commision">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </form>
                        <div class="col-md-12">
                            <form>
                                <br />
                                <button id="btnsavebasic" type="submit" class="btn btn-success btnSave">
                                    SAVE</button>
                                <button id="btnupdatebasic" type="submit" class="btn btn-primary btnSave" style="display: none">
                                    UPDATE</button>
                                <button id="btndeltebasic" type="submit" class="btn btn-green btnCancel" style="display: none">
                                    DELETE</button>
                                <button id="btnclearbasic" type="Button" class="btn btn-warning btnclearbasicclass">
                                    CLEAR</button>
                                <button id="btnQuitbasic" type="Button" class="btn btn-info">
                                    QUIT FORM</button>
                            </form>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="tab3">
                        <form>
                            <div class="col-md-12">
                                <h3 class="tab3section1"><span class="section-index">1</span>&nbsp;Hosting </h3>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="drpCloudProvider">Cloud Provider <span>*</span></label>
                                        <select id="drpCloudProvider" class="js-states form-control" style="display: none; width: 100%">
                                            <option value="Static 1" selected>Static 1</option>
                                            <option value="Static 2">Static 2</option>
                                            <option value="Static 3">Static 3</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="drpCloudServerIP">Cloud Server IP <span>*</span></label>
                                        <select id="drpCloudServerIP" class="js-states form-control" style="display: none; width: 100%">
                                            <option value="Static 1" selected>Static 1</option>
                                            <option value="Static 2">Static 2</option>
                                            <option value="Static 3">Static 3</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtCloudDiskSpace">Cloud Disk Space <span>*</span></label>
                                        <input type="text" class="form-control " id="txtCloudDiskSpace" placeholder="Cloud Disk Space">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtConfirmHotelUserPassword">Trasaction Count</label>
                                        <input type="text" class="form-control" id="txtTrasactionCount" placeholder="Trasaction Count">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtConfirmHotelUserPassword">IP Ristricted Access</label>
                                        <textarea rows="6" cols="50" placeholder="IP Ristricted Access" style="display: block; width: 100%" id="txtipristrictedaccess">
                                            </textarea>
                                        @*<input type="text" class="form-control" id="txtIPRistrictedAccess" placeholder="IP Ristricted Access" aria-multiline="true">*@
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtCDNProvider">CDN Provider </label>
                                        <select id="drpCDNSpace" class="js-states form-control" style="display: none; width: 100%">
                                            <option value="Static 1" selected>Static 1</option>
                                            <option value="Static 2">Static 2</option>
                                            <option value="Static 3">Static 3</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="drpCDNSpace">CDN Space <span></span></label>
                                        <input type="text" class="form-control" id="txtCDNProvider" placeholder="CDN Space">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtCostPerMonth">Cost Per Month </label>
                                        <input type="text" class="form-control" id="txtCostPerMonth" placeholder="Cost Per Month">
                                    </div>
                                    <div class="form-group">
                                        <label for="drpCurrency">Currency </label>
                                        <select id="drpCurrency" class="js-states form-control" style="display: none; width: 100%">
                                        </select>
                                    </div>
                                    <div class="form-group form-marings">
                                        <input type="checkbox" id="chkhostingcostnotincluded">Hosting Cost Not Included
                                    </div>
                                    <div class="form-group">
                                        <label for="txtHostingCostPerMonth">Hosting Cost Per Month </label>
                                        <input type="text" class="form-control" id="txtHostingCostPerMonth" placeholder="Hosting Cost Per Month">
                                    </div>
                                    <div class="form-group">
                                        <label for="drpCurrency">Currency </label>
                                        <select id="drpCurrency" class="js-states form-control" style="display: none; width: 100%">
                                            <option value="Static 1" selected>Static 1</option>
                                            <option value="Static 2">Static 2</option>
                                            <option value="Static 3">Static 3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h3 class="section-headers tab3section2"><span class="section-index">2</span>&nbsp;Subscription</h3>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtPlanName">Plan Name <span>*</span></label>
                                        <input type="text" class="form-control " id="txtPlanName" placeholder="Plan Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtNumberofUsers">Number of Users <span>*</span></label>
                                        <input type="text" class="form-control " id="txtNumberofUsers" placeholder="Number of Users">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtConfirmHotelUserPassword">Subscription From Date</label>
                                        <input type="text" class="form-control" id="txtSubscriptionFromDate" placeholder="dd/MM/yyyy">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtSubscriptionToDate">Subscription To Date</label>
                                        <input type="text" class="form-control" id="txtSubscriptionToDate" placeholder="dd/MM/yyyy">
                                    </div>
                                    <div class="form-group">
                                        <label for="drpBillingCycle">Billing Cycle <span>*</span></label>
                                        <select id="drpBillingCycle" class="js-states form-control" style="display: none; width: 100%">
                                            <option value="Static 1" selected>Static 1</option>
                                            <option value="Static 2">Static 2</option>
                                            <option value="Static 3">Static 3</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="drpBillingFromCompany">Billing From Company <span>*</span></label>
                                        <select id="drpBillingFromCompany" class="js-states form-control" style="display: none; width: 100%">
                                            <option value="Static 1" selected>Static 1</option>
                                            <option value="Static 2">Static 2</option>
                                            <option value="Static 3">Static 3</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-marings">
                                        <input type="checkbox">Free?
                                    </div>
                                    <div class="form-group">
                                        <label for="drpPaymentCurrency">Payment Currency </label>
                                        <select id="drpPaymentCurrency" class="js-states form-control" style="display: none; width: 100%">
                                            <option value="Static 1" selected>Static 1</option>
                                            <option value="Static 2">Static 2</option>
                                            <option value="Static 3">Static 3</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtAmountPerUserPerMonth">Amount Per User Per Month <span></span></label>
                                        <input type="text" class="form-control" id="txtAmountPerUserPerMonth" placeholder="Amount Per User Per Month">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtTotalAmountPerMonth">Total Amount Per Month <span></span></label>
                                        <input type="text" class="form-control" id="txtTotalAmountPerMonth" placeholder="Total Amount Per Month" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="drpPaymentMode">Payment Mode </label>
                                        <select id="drpPaymentMode" class="js-states form-control" style="display: none; width: 100%">
                                            <option value="Static 1" selected>Static 1</option>
                                            <option value="Static 2">Static 2</option>
                                            <option value="Static 3">Static 3</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtFirstPaymentDate">First Payment Date <span></span></label>
                                        <input type="text" class="form-control date-picker" id="txtFirstPaymentDate" placeholder="First Payment Date">
                                    </div>

                                    <div class="form-group">
                                        <label for="txtGracePeriod">Grace Period (Days)</label>
                                        <input type="text" class="form-control" id="txtGracePeriod" placeholder="Grace Period">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <br />
                                <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                    SAVE</button>
                                <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                    UPDATE</button>
                                <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                    DELETE</button>
                                <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                                    CLEAR</button>
                                <button id="btnSave" type="submit" class="btn btn-info btnSave">
                                    QUIT FORM</button>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="tab4">
                        <div class="col-md-12">
                            <form>
                                <h3 class="tab4section1"><span class="section-index">1</span>&nbsp;Billing</h3>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="txtsrnotab4" placeholder="Billing Name">
                                    <div class="form-group">
                                        <label for="txtBillingName">Billing Name <span>*</span></label>
                                        <input type="text" class="form-control" id="txtBillingName" placeholder="Billing Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtBillingContactPerson">Billing Contact Person <span>*</span></label>
                                        <input type="text" class="form-control" id="txtBillingContactPerson" placeholder="Billing Contact Person">
                                    </div>

                                    <div class="form-group">
                                        <label for="txtAddressLine1">Billing Address Line 1 </label>
                                        <input type="text" class="form-control" id="txtBillingAddressLine1" placeholder="Billing Address Line 1 ">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtAddressLine2">Billing Address Line 2 </label>
                                        <input type="text" class="form-control" id="txtBillingAddressLine2" placeholder="Billing Address Line 2">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtBillingCity">Billing City </label>
                                        <input type="text" class="form-control" id="txtBillingCity" placeholder="Billing City">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtBillingState">Billing State</label>
                                        <input type="text" class="form-control" id="txtBillingState" placeholder="Billing State">
                                    </div>


                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtBillingCountry">Billing Country</label>
                                        <input type="text" class="form-control" id="txtBillingCountry" placeholder="Billing Country">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtBillingZipCode">Billing Zip/Postal Code</label>
                                        <input type="text" class="form-control" id="txtBillingZipCode" placeholder="Billing Country">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtBillingEmail">Billing Email </label>
                                        <input type="text" class="form-control" id="txtBillingEmail" placeholder="Billing Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtTelephone">Billing Telephone</label>
                                        <input type="text" class="form-control " id="txtBillingTelephone" placeholder="Billing Telephone">
                                    </div>

                                    <div class="form-group">
                                        <label for="txtCellPhone">Billing Cell Phone</label>
                                        <input type="text" class="form-control" id="txtBillingCellPhone" placeholder="Billing Cell Phone">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-12">
                            <form>
                                <h3 class="section-headers tab4section2"><span class="section-index">2</span>&nbsp;Support </h3>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="drpSupportMode">Support Mode  <span>*</span></label>
                                        <select id="drpSupportMode " class="js-states form-control" style="display: none; width: 100%">
                                             <option value="Static 1" selected>Static 1</option>
                                            <option value="Static 2">Static 2</option>
                                            <option value="Static 3">Static 3</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtFreeSupportPeriod">Free Support Period  <span></span></label>
                                        <input type="text" class="form-control" id="txtFreeSupportPeriod " placeholder="Free Support Period ">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtSupportCostPerMonth">Support Cost Per Month <span></span></label>
                                        <input type="text" class="form-control" id="txtSupportCostPerMonth" placeholder="Support Cost Per Month">
                                    </div>
                                    <div class="form-group">
                                        <label for="drpBillingCycle">Currency <span>*</span></label>
                                        <select id="drpmaINCurrency" class="js-states form-control" style="display: none; width: 100%">
                                             <option value="Static 1" selected>Static 1</option>
                                            <option value="Static 2">Static 2</option>
                                            <option value="Static 3">Static 3</option>
                                        </select>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <div class="col-md-12">
                            <form>
                                <br />
                                <button id="btnSave" type="submit" class="btn btn-success btnSavemain">
                                    SAVE</button>
                                <button id="btnSave" type="submit" class="btn btn-primary btnSavemain">
                                    UPDATE</button>
                                <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                    DELETE</button>
                                <button id="btnSave" type="submit" class="btn btn-warning btnClear">
                                    CLEAR</button>
                                <button id="btnSave" type="submit" class="btn btn-info btnQuit">
                                    QUIT FORM</button>
                            </form>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="tab5">
                        <form>
                            <div class="col-md-7">
                                <input type="text" class="form-control" id="txtsrnouserpref" placeholder="SR">
                                <div class="form-group">
                                    <label for="drpDashboardGadgetPosition">Dashboard Gadget Position <span>*</span></label>
                                    <select id="drpDashboardGadgetPosition" class="js-states form-control Dropdown" style="display: none; width: 100%">
                                   @* <option value="Static 1" selected>Static 1</option>
                                            <option value="Static 2">Static 2</option>
                                            <option value="Static 3">Static 3</option>*@
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="row" id ="userperferancechk">
                                      @* <div class="col-md-6 form-marings">
                                            <input type="checkbox" />Grid Colasdasdasdasdumn Rearrange
                                        </div>
                                        <div class="col-md-6 form-marings">
                                            <input type="checkbox" />Custom Grid View
                                        </div>
                                        <div class="col-md-6 form-marings">
                                            <input type="checkbox" />Fixed Header
                                        </div>
                                        <div class="col-md-6 form-marings">
                                            <input type="checkbox" />Fixed Menu Bar
                                        </div>
                                        <div class="col-md-6 form-marings">
                                            <input type="checkbox" />Horizontal Bar
                                        </div>
                                        <div class="col-md-6 form-marings">
                                            <input type="checkbox" />Toggle Sidebar
                                        </div>
                                        <div class="col-md-6 form-marings">
                                            <input type="checkbox" />Compact Menu
                                        </div>
                                        <div class="col-md-6 form-marings">
                                            <input type="checkbox" />Hover Menu
                                        </div>
                                        <div class="col-md-6 form-marings">
                                            <input type="checkbox" />Box Layout
                                        </div>
                                        <div class="col-md-6 form-marings">
                                            <input type="checkbox" />Theme Color
                                        </div>
                                        <div class="col-md-6 form-marings">
                                            <input type="checkbox" />Form Based Summery
                                        </div>
                                        <div class="col-md-6 form-marings">
                                            <input type="checkbox" />Utilities
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-12">
                                <br />
                                <button id="btnSaveuserpref" type="submit" class="btn btn-success btnSaveuserpref">
                                    SAVE</button>
                                <button id="btnUpdateuserpref" type="submit" class="btn btn-primary btnSaveuserpref">
                                    UPDATE</button>
                                <button id="btnCanceluserpref" type="button" class="btn btn-green btnCancel">
                                    DELETE</button>
                                <button id="btnclearuserpref" type="button" class="btn btn-warning btnClearuserpref">
                                    CLEAR</button>
                                <button id="btnquituserpref" type="button" class="btn btn-info btnSave">
                                    QUIT FORM</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="col-md-12">
    <div class="panel panel-white">
        <h4 class="panel-title-summery">Utilities </h4>
        <div class="panel-body utility-panel">
            <ul class="utility-list">
                <li>
                    <a href="#">
                        <i class="task">&nbsp;</i><br />
                        Task
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="noti">&nbsp;</i><br />
                        Notifications
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="cal">&nbsp;</i><br />
                        Calendar
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="e-mail">&nbsp;</i><br />
                        Email
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="sms">&nbsp;</i><br />
                        SMS
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="notes">&nbsp;</i><br />
                        Notes
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="tages">&nbsp;</i><br />
                        Tags
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="help-video">&nbsp;</i><br />
                        Help Video
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="guided-tour">&nbsp;</i><br />
                        Guided Tour
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="copy">&nbsp;</i><br />
                        Copy
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="print">&nbsp;</i><br />
                        Print
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="updates">&nbsp;</i><br />
                        Updates
                    </a>
                </li>
                <li>

                    <a href="#">
                        <i class="screns">&nbsp;</i><br />
                        Screenshot
                    </a>
                </li>
            </ul>

        </div>
    </div>

</div>

@section floatingsection{
    <ul class="floating-section-buttons tab2" style="display: none">
        <li><a class="btn btn-default" rel="tooltip" data-section="tab2section1" title="Basic Details">1</a></li>
        <li><a class="btn btn-default" rel="tooltip" data-section="tab2section2" title="Reference">2</a></li>
    </ul>
    <div class="floating-section-buttons tab2" style="display: none">
        <a class="btn btn-default" rel="tooltip" data-section="tab2section1" title="Basic Details">1</a>
        <a class="btn btn-default" rel="tooltip" data-section="tab2section2" title="Reference">2</a>
    </div>
    <div class="floating-section-buttons tab3" style="display: none">
        <a class="btn btn-default" data-section="tab3section1" rel="tooltip" data-placement="left" title="Hosting">1</a>
        <a class="btn btn-default" data-section="tab3section2" rel="tooltip" data-placement="left" title="Subscription">2</a>
    </div>
    <div class="floating-section-buttons tab4" style="display: none">
        <a class="btn btn-default" data-section="tab4section1" rel="tooltip" title="Billing">1</a>
        <a class="btn btn-default" data-section="tab4section2" rel="tooltip" title="Maintanence Support">2</a>
    </div>
}



@section scripts{
    <script src="~/Scripts/JS/Page/WhitelabelReg.js"></script>
    <script src="~/Scripts/JS/CommonValidations.js"></script>
}

