@{
    
    ViewBag.Title = "Green Travel Customers";
    ViewBag.PageTitle = "Green Travel Customers";
    
}
<style>
    .hide_cell
    {
        display: none;
    }

    #errmsg
    {
        color: red;
    }
 
</style>
<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <ul class="nav nav-tabs form-basic-tab" role="tablist">
                    <li role="presentation" class="active" id="Search"><a href="#tab1" role="tab" data-section="tab1" data-toggle="tab" class="hosting-accord"><span class="menu-icon glyphicon glyphicon glyphicon-cloud"></span>&nbsp;&nbsp;&nbsp;&nbsp;Serach Company </a></li>
                    <li role="presentation" id="CreateCorporate"><a href="#tab2" role="tab" data-section="tab2" data-toggle="tab" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Basic / Reference</a></li>
                    <li role="presentation" id="Tab3"><a href="#tab3" role="tab" data-section="tab3" data-toggle="tab" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Hosting / Subscription </a></li>
                    <li role="presentation" id="Tab4"><a href="#tab4" role="tab" data-section="tab4" data-toggle="tab" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Billing / Maintanence</a></li>
                    <li role="presentation" id="tabuserpreferance"><a href="#tab5" role="tab" data-section="tab5" data-toggle="tab" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;User Preference</a></li>
                    <li role="presentation" id="Tab6"><a href="#tab6" role="tab" data-section="tab6" data-toggle="tab" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Password Authentication</a></li>
                </ul>
                <div class="tab-content">
                    <input type="hidden" id="hdfsrno" />
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <form>
                            <div class="table-responsive">
                                <div class="dropdown table-custome-drop">
                                    <div class="btn-group">
                                        <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="glyphicon glyphicon-download-alt"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Excel</a></li>
                                            <li><a href="#">PDF</a></li>
                                            <li><a href="#">Email</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <table id="example1" class="display" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th style="display: none">Srno
                                            </th>
                                            <th>Company Name
                                            </th>
                                            <th>Company Industry 
                                            </th>
                                            <th>Application URL
                                            </th>
                                            <th>Refference Company
                                            </th>
                                            <th>Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th style="display: none">Srno
                                            </th>
                                            <th>Company Name
                                            </th>
                                            <th>Company Industry
                                            </th>
                                            <th>Application URL
                                            </th>
                                            <th>Refference Company
                                            </th>
                                            <th>Action
                                            </th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="tab2">
                        <form>
                            <div class="col-md-12">
                                <h3 class="tab2section1"><span class="section-index">1</span>&nbsp;Basic Details
                                     <span class="text-danger tab3Formname" style="display: none"></span>
                                </h3>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtsrno" placeholder="srno" style="display: none">
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtCmpOfficeName">Corporate Company Official Name <span>*</span></label>
                                        <input type="text" class="form-control req" id="txtCmpOfficeName" placeholder="Company Official Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="drpcompanyIndustry">Corporate Company Industry <span>*</span></label>
                                        <select id="drpcompanyIndustry" class="js-states form-control Industry Dropdown req" style="display: none; width: 100%">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="drpcompanyType">Company Type <span>*</span></label>
                                        <select id="drpcompanyType" class="js-states form-control Industry Dropdown req" style="display: none; width: 100%">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="drpServices">Services <span>*</span></label>
                                        <select id="drpServices" class="js-states form-control Dropdown req" style="display: none; width: 100%">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="drpBusinessMode">Business Mode <span>*</span></label>
                                        <select id="drpBusinessMode" class="js-states form-control Dropdown req" style="display: none; width: 100%">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtUsername">Admin User Name (Email) <span>*</span></label>
                                        <input type="text" class="form-control req email" id="txtUsername" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtPassword">Password <span>*</span></label>
                                        <input type="password" class="form-control req min passwordcrite emailpassword" id="txtPassword" data-min="8" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtConfirmPassword">Confirm Password <span>*</span></label>
                                        <input type="password" class="form-control confirm req" id="txtConfirmPassword" data-confirm="txtPassword" placeholder="Confirm Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtOfficialEmail">Official Email <span>*</span></label>
                                        <input type="text" class="form-control req email" id="txtOfficialEmail" placeholder="Official Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtOfficialPhone">Official Phone <span>*</span>&nbsp;<span id="errmsg"></span> </label>
                                        <input type="text" class="form-control num req max" id="txtOfficialPhone" data-max="15" placeholder="Official Phone">
                                    </div>
                                    <div class="form-group no-select">
                                        <label for="exampleInputEmail1">Application Theme </label>
                                        <select class="cs-select cs-skin-boxes Dropdown" id="DrpApplicationTheme">
                                            <option value="" selected>Application Theme</option>
                                            <option value="#22BAA0" data-class="color-588c75">#22BAA0</option>
                                            <option value="#b0c47f" data-class="color-b0c47f">#b0c47f</option>
                                            <option value="#f3e395" data-class="color-f3e395">#f3e395</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtApplicationURL">Application URL <span>*</span></label>
                                        <input type="text" class="form-control req url" id="txtApplicationURL" placeholder="Application URL">
                                    </div>
                                    <div class="form-group">
                                        <label for="drpBaseCurrency">Base Currency <span>*</span></label>
                                        <select id="drpBaseCurrency" class="js-states form-control Dropdown req" style="display: none; width: 100%">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="drpBaseLanguage">Base Language <span>*</span></label>
                                        <select id="drpBaseLanguage" class="js-states form-control Language Dropdown req" style="display: none; width: 100%">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="txtLogo">Logo <span>*</span> </label>
                                        <input type="text" class="form-control req" id="txtLogo" placeholder="Logo">
                                    </div>
                                    <div class="form-group no-select">
                                        <label for="WebTheme">Web Theme </label>
                                        <select class="cs-select cs-skin-boxes Dropdown" id="DrpWebtheme">
                                            <option value="" disabled selected>Web Theme</option>
                                            <option value="#22BAA0" data-class="color-588c75">#22BAA0</option>
                                            <option value="#b0c47f" data-class="color-b0c47f">#b0c47f</option>
                                            <option value="#f3e395" data-class="color-f3e395">#f3e395</option>

                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtWebURL">Web URL </label>
                                        <input type="text" class="form-control url" id="txtWebURL" placeholder="Web URL">
                                    </div>
                                    <div class="form-group">
                                        <label for="drpOtherLanguage">Other Language <span></span></label>
                                        <select id="drpOtherLanguage" class="js-states form-control Language Dropdown" style="display: none; width: 100%">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtFavicon">Favicon </label>
                                        <input type="text" class="form-control" id="txtFavicon" placeholder="Favicon">
                                    </div>
                                    <div class="form-group ">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="cd-pricing-switcher">
                                                    <p class="fieldset">
                                                        <input type="radio" class="no-uniform" name="duration-1" value="monthly" id="rdoFullWhiteLabel" checked>
                                                        <label for="rdoFullWhiteLabel">Full White Label</label>
                                                        <input type="radio" class="no-uniform" name="duration-1" value="yearly" id="rdoSemiWhiteLabel">
                                                        <label for="rdoSemiWhiteLabel">Semi White Label</label>
                                                        <span class="cd-switch"></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" id="chkCopyrightNote" class="form-marings chkCopyrightNotecs">Copyright Note
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="txtCopyRights" placeholder="Copyright Note">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtfacebook">Facebook</label>
                                        <input type="text" class="form-control url" id="txtfacebook" placeholder="Facebook">
                                    </div>
                                    <div class="form-group">
                                        <label for="txttwitter">Twitter</label>
                                        <input type="text" class="form-control url" id="txttwitter" placeholder="Twitter">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtgoogleplus">Google Plus</label>
                                        <input type="text" class="form-control url" id="txtgoogleplus" placeholder="Google Plus">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtwebportal">Web Portal</label>
                                        <input type="text" class="form-control url" id="txtwebportal" placeholder="Web Portal">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtbackgroundimg">Background Image <span>*</span> </label>
                                        <input type="text" class="form-control req " id="txtbackgroundimg" placeholder="Background Image">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtLoginFrmCaption">Login Caption<span></span> </label>
                                        <input type="text" class="form-control" id="txtLoginFrmCaption" placeholder="Login Caption">
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <h3 class="section-headers tab2section2"><span class="section-index">2</span>&nbsp;Reference</h3>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="drpRefferenceCorporateCompany">Refference Corporate Company </label>
                                        <select id="drpRefferenceCorporateCompany" class="js-states form-control Dropdown" style="display: none; width: 100%">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtOtherRefference1">Other Refference 1</label>
                                        <input type="text" class="form-control" id="txtOtherRefference1" placeholder="Other Refference 1">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtOtherRefference2">Other Refference 2</label>
                                        <input type="text" class="form-control" id="txtOtherRefference2" placeholder="Other Refference 2">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtAddressLine2">Commision % </label>
                                        <input type="text" class="form-control num" id="txtCommision" placeholder="Commision">
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <button id="btnsavebasic" type="submit" class="btn btn-success btnSave">
                                        SAVE</button>
                                    <button id="btnupdatebasic" type="submit" class="btn btn-primary btnSave" style="display: none">
                                        UPDATE</button>
                                    <button id="btndeltebasic" type="Button" class="btn btn-green btnCancel" style="display: none">
                                        DELETE</button>
                                    <button id="btnclearbasic" type="Button" class="btn btn-warning btnclearbasicclass">
                                        CLEAR</button>
                                    <button id="btnQuitbasic" type="Button" class="btn btn-info">
                                        QUIT FORM</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="tab3">
                        <form id="iForm">
                            <div class="col-md-12">
                                <h3 class="tab3section1"><span class="section-index">1</span>&nbsp;Hosting
                                    <span class="text-danger tab3Formname" style="display: none"></span>
                                </h3>
                                <input type="text" class="form-control" id="txtsrnotab3" placeholder="Don't Enter Text" style="display: none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="drpCloudProvider">Cloud Provider <span>*</span></label>
                                        <select id="drpCloudProvider" class="js-states form-control req Dropdownhost" style="display: none; width: 100%">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="drpCloudServerIP">Cloud Server IP <span>*</span></label>
                                        <select id="drpCloudServerIP" class="js-states form-control req Dropdownhost" style="display: none; width: 100%">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtCloudDiskSpace">Cloud Disk Space <span>*</span></label>
                                        <input type="text" class="form-control req" id="txtCloudDiskSpace" placeholder="Cloud Disk Space">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtTrasactionCount">Trasaction Count</label>
                                        <input type="text" class="form-control num max" id="txtTrasactionCount" data-max="100000" placeholder="Trasaction Count">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtConfirmHotelUserPassword">IP Restricted Access</label>
                                        <textarea rows="6" cols="50" placeholder="IP Restricted Access" style="display: block; width: 100%" id="txtipristrictedaccess"></textarea>
                                            
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="drpCDNProvider">CDN Provider </label>
                                        <select id="drpCDNProvider" class="js-states form-control Dropdownhost" style="display: none; width: 100%">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtCDNSpace">CDN Space <span></span></label>
                                        <input type="text" class="form-control" id="txtCDNSpace" placeholder="CDN Space">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtCostPerMonth">Cost Per Month </label>
                                        <input type="text" class="form-control num" id="txtCostPerMonth" placeholder="Cost Per Month">
                                    </div>
                                    <div class="form-group">
                                        <label for="drpCurrencytab3">Currency </label>
                                        <select id="drpCurrencytab3" class="js-states form-control Dropdownhost" style="display: none; width: 100%">
                                        </select>
                                    </div>
                                    <div class="form-group form-marings">
                                        <input type="checkbox" id="chkhostingcostnotincluded">Hosting Cost Not Included
                                    </div>
                                    <div class="form-group">
                                        <label for="txtHostingCostPerMonth">Hosting Cost Per Month </label>
                                        <input type="text" class="form-control num" id="txtHostingCostPerMonth" placeholder="Hosting Cost Per Month">
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <h3 class="section-headers tab3section2"><span class="section-index">2</span>&nbsp;Subscription</h3>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtPlanName">Plan Name <span>*</span></label>
                                        <input type="text" class="form-control req" id="txtPlanName" placeholder="Plan Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtNumberofUsers">Number of Users <span>*</span></label>
                                        <input type="text" class="form-control req num" id="txtNumberofUsers" placeholder="Number of Users">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtSubscriptionFromDate">Subscription From Date</label>
                                        <input type="text" class="form-control date-picker" id="txtSubscriptionFromDate" placeholder="dd/MM/yyyy">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtSubscriptionToDate">Subscription To Date</label>
                                        <input type="text" class="form-control date-picker datecompair" id="txtSubscriptionToDate" data-datecom="txtSubscriptionFromDate" placeholder="dd/MM/yyyy">
                                    </div>
                                    <div class="form-group">
                                        <label for="drpBillingCycle">Billing Cycle <span>*</span></label>
                                        <select id="drpBillingCycle" class="js-states form-control req Dropdownhost" style="display: none; width: 100%">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="drpBillingFromCompany">Billing From Company <span></span></label>
                                        <select id="drpBillingFromCompany" class="js-states form-control Dropdownhost" style="display: none; width: 100%">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-marings">
                                        <input type="checkbox" id="chkfreeflag">Free?
                                    </div>
                                    <div class="form-group">
                                        <label for="drpPaymentCurrency">Payment Currency </label>
                                        <select id="drpPaymentCurrency" class="js-states form-control Dropdownhost" style="display: none; width: 100%">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtAmountPerUserPerMonth">Amount Per User Per Month <span></span></label>
                                        <input type="text" class="form-control num" id="txtAmountPerUserPerMonth" placeholder="Amount Per User Per Month">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtTotalAmountPerMonth">Total Amount Per Month <span></span></label>
                                        <input type="text" class="form-control" id="txtTotalAmountPerMonth" placeholder="Total Amount Per Month" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="drpPaymentMode">Payment Mode </label>
                                        <select id="drpPaymentMode" class="js-states form-control Dropdownhost" style="display: none; width: 100%">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtFirstPaymentDate">First Payment Date <span></span></label>
                                        <input type="text" class="form-control date-picker datecompair" id="txtFirstPaymentDate" data-datecom="txtSubscriptionFromDate" placeholder="First Payment Date">
                                    </div>

                                    <div class="form-group">
                                        <label for="txtGracePeriod">Grace Period (Days)</label>
                                        <input type="text" class="form-control num" id="txtGracePeriod" placeholder="Grace Period">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <button id="btnSavetab3" type="submit" class="btn btn-success btnsavetab3class">
                                        SAVE</button>
                                    <button id="btnUpdatetab3" type="submit" style="display: none" class="btn btn-primary btnsavetab3class">
                                        UPDATE</button>
                                    <button id="btnCanceltab3" type="button" style="display: none" class="btn btn-green">
                                        DELETE</button>
                                    <button id="btnCleartab3" type="button" style="display: none" class="btn btn-warning">
                                        CLEAR</button>
                                    <button id="btnQuittab3" type="button" class="btn btn-info">
                                        QUIT FORM</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="tab4">
                        <form>
                            <div class="col-md-12">

                                <h3 class="tab4section1"><span class="section-index">1</span>&nbsp;Billing
                                    <span class="text-danger tab3Formname" style="display: none"></span>
                                </h3>
                                <input type="text" class="form-control" style="display: none" id="txtsrnotab4" placeholder="Don't Enter Text" style="display: none">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="txtBillingName">Billing Name <span>*</span></label>
                                        <input type="text" class="form-control req" id="txtBillingName" placeholder="Billing Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtBillingContactPerson">Billing Contact Person <span>*</span></label>
                                        <input type="text" class="form-control req" id="txtBillingContactPerson" placeholder="Billing Contact Person">
                                    </div>

                                    <div class="form-group">
                                        <label for="txtAddressLine1">Billing Address Line 1 </label>
                                        <input type="text" class="form-control" id="txtBillingAddressLine1" placeholder="Billing Address Line 1 ">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtAddressLine2">Billing Address Line 2 </label>
                                        <input type="text" class="form-control" id="txtBillingAddressLine2" placeholder="Billing Address Line 2">
                                    </div>
                                    <div class="form-group">
                                        <label for="drpbillingcountry">Billing Country</label>
                                        <select id="drpbillingcountry" class="js-states form-control Dropdown" style="display: none; width: 100%">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="drpbillingState">Billing State</label>
                                        <select id="drpbillingState" class="js-states form-control Dropdown" style="display: none; width: 100%">
                                        </select>
                                    </div>


                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="drpbillingCity">Billing City </label>
                                        <select id="drpbillingCity" class="js-states form-control Dropdown" style="display: none; width: 100%">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtBillingZipCode">Billing Zip/Postal Code</label>
                                        <input type="text" class="form-control num max" id="txtBillingZipCode" data-max="6" placeholder="Zip Code">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtBillingEmail">Billing Email </label>
                                        <input type="text" class="form-control email" id="txtBillingEmail" placeholder="Billing Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtTelephone">Billing Telephone</label>
                                        <input type="text" class="form-control num max" id="txtBillingTelephone" data-max="15" placeholder="Billing Telephone">
                                    </div>

                                    <div class="form-group">
                                        <label for="txtCellPhone">Billing Cell Phone</label>
                                        <input type="text" class="form-control num max" id="txtBillingCellPhone" data-max="10" placeholder="Billing Cell Phone">
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-12">

                                <h3 class="section-headers tab4section2"><span class="section-index">2</span>&nbsp;Support </h3>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="drpSupportMode">Support Mode <span>*</span></label>
                                        <select id="drpSupportMode" multiple="multiple" data-placeholder="Select Mode" class="js-states form-control req Dropdown" style="display: none; width: 100%">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtFreeSupportPeriod">Free Support Period</label>
                                        <input type="text" class="form-control negnum" id="txtFreeSupportPeriod" placeholder="Free Support Period ">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtSupportCostPerMonth">Support Cost Per Month <span></span></label>
                                        <input type="text" class="form-control num" id="txtSupportCostPerMonth" placeholder="Support Cost Per Month">
                                    </div>
                                    <div class="form-group">
                                        <label for="drpmaINCurrency">Currency</label>
                                        <select id="drpmaINCurrency" class="js-states form-control Dropdown" style="display: none; width: 100%">
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <button id="btnSavebilling" type="submit" class="btn btn-success btnSavebillingmain">
                                        SAVE</button>
                                    <button id="btnUpdateBilling" type="submit" style="display: none" class="btn btn-primary btnSavebillingmain">
                                        UPDATE</button>
                                    <button id="btnClearbilling" type="button" style="display: none" class="btn btn-warning btnbillingclear">
                                        CLEAR</button>
                                    <button id="btnQuitBilling" type="button" class="btn btn-info btnbillingquit">
                                        QUIT FORM</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div role="tabpanel" class="tab-pane " id="tab5">
                        <form id="userprefform">
                            <h3 class="tab5section">User Preference
                                    <span class="text-danger tab3Formname" style="display: none"></span>
                            </h3>
                            <div class="col-md-7">
                                <input type="text" class="form-control" id="txtsrnouserpref" placeholder="SR" style="display:none">
                                <div class="form-group">
                                    <label for="drpDashboardGadgetPosition">Dashboard Gadget Position <span>*</span></label>
                                    <select id="drpDashboardGadgetPosition" class="js-states form-control req dropclear" style="display: none; width: 100%">
                                    </select>
                                </div>
                                <div class="row" id="userperferancechk">
                                    <div class="col-md-6 form-marings">
                                        <input type="checkbox" id="chkgridcolas" value="chkgridcolas" />Grid Column Rearrange
                                    </div>
                                    <div class="col-md-6 form-marings">
                                        <input type="checkbox" id="chkcustomgridview" value="chkcustomgridview" />Custom Grid View
                                    </div>
                                    <div class="col-md-6 form-marings">
                                        <input type="checkbox" id="chkfixedhdr" value="chkfixedhdr" />Fixed Header
                                    </div>
                                    <div class="col-md-6 form-marings">
                                        <input type="checkbox" id="chkfixedmenu" value="chkfixedmenu" />Fixed Menu Bar
                                    </div>
                                    <div class="col-md-6 form-marings">
                                        <input type="checkbox" id="chkhorizontalbar" value="chkhorizontalbar" />Horizontal Bar
                                    </div>
                                    <div class="col-md-6 form-marings">
                                        <input type="checkbox" id="chktogglesidebar" value="chktogglesidebar" />Toggle Sidebar
                                    </div>
                                    <div class="col-md-6 form-marings">
                                        <input type="checkbox" id="chkcompactmenu" value="chkcompactmenu" />Compact Menu
                                    </div>
                                    <div class="col-md-6 form-marings">
                                        <input type="checkbox" id="chkhovermenu" value="chkhovermenu" />Hover Menu
                                    </div>
                                    <div class="col-md-6 form-marings">
                                        <input type="checkbox" id="chkboxlayout" value="chkboxlayout" />Box Layout
                                    </div>
                                    <div class="col-md-6 form-marings">
                                        <input type="checkbox" id="chkthemecolor" value="chkthemecolor" />Theme Color
                                    </div>
                                    <div class="col-md-6 form-marings">
                                        <input type="checkbox" id="chkformbasedsummery" value="chkformbasedsummery" />Form Based Summery
                                    </div>
                                    <div class="col-md-6 form-marings">
                                        <input type="checkbox" id="chkutility" value="chkutility" />Utilities
                                    </div>


                                </div>
                            </div>
                            <div class="col-md-12">
                                <br />
                                <button id="btnSaveuserpref" type="submit" class="btn btn-success btnSaveuserpref">
                                    SAVE</button>
                                <button id="btnUpdateuserpref" type="submit" style="display: none" class="btn btn-primary btnSaveuserpref">
                                    UPDATE</button>
                                <button id="btnCanceluserpref" type="button" style="display: none" class="btn btn-green btnCancel">
                                    DELETE</button>
                                <button id="btnclearuserpref" type="button" style="display: none" class="btn btn-warning btnClearuserpref">
                                    CLEAR</button>
                                <button id="btnquituserpref" type="button" class="btn btn-info">
                                    QUIT FORM</button>
                            </div>

                        </form>
                    </div>

                    <div role="tabpanel" class="tab-pane " id="tab6">
                        <form>
                            <h3 class="tab6section">Password Authentication
                                    <span class="text-danger tab3Formname" style="display: none"></span>
                            </h3>
                            <input type="text" class="form-control" id="txtsrnotab6" placeholder="SR" style="display: none">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtrequiredcapitalcharacters">Required Capital Characters<span> *</span></label>
                                    <input type="text" class="form-control req num" id="txtrequiredcapitalcharacters" placeholder="Capital Characters">
                                </div>
                                <div class="form-group">
                                    <label for="txtrequirednumeric">Required Numeric<span> *</span></label>
                                    <input type="text" class="form-control req num" id="txtrequirednumeric" placeholder="Required Numeric">
                                </div>
                                <div class="form-group">
                                    <label for="txtrequiredspecialcharacter">Required Special Characters<span> *</span></label>
                                    <input type="text" class="form-control req num" id="txtrequiredspecialcharacter" placeholder="Required Special Characters">
                                </div>
                                <div class="form-group">
                                    <label for="drpencryptkey">Encription Key<span> *</span></label>
                                    <select id="drpencryptkey" class="js-states form-control req Dropdownpass" style="display: none; width: 100%">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="txtpasswordminimumlength">Password Minimum Length <span>*</span></label>
                                    <input type="text" class="form-control req num" id="txtpasswordminimumlength" placeholder="Password minimum Length">
                                </div>
                                <div class="form-group">
                                    <label for="txtcontinuenumber">Continue Number<span> *</span></label>
                                    <input type="text" class="form-control req num" id="txtcontinuenumber" placeholder="Continue Number">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="txtnumberofattemptslock">Number of Attempts Lock <span>*</span></label>
                                    <input type="text" class="form-control req num" id="txtnumberofattemptslock" placeholder="Number of attempts">
                                </div>
                                <div class="form-group">
                                    <label for="txtpasswordexpirydays">Password Expiry Days</label>
                                    <input type="text" class="form-control num" id="txtpasswordexpirydays" placeholder="Password Expiry Days">
                                </div>
                                <div class="form-group">
                                    <label for="txtuserlockunlockminuts">User Lock/UnLock  Minuts</label>
                                    <input type="text" class="form-control num" id="txtuserlockunlockminuts" placeholder="Lock/Unlock Minuts">
                                </div>

                                <div class="form-group">
                                    <label for="txtotpexpirytime">OTP Expiry Time</label>
                                    <input type="text" class="form-control negnum" id="txtotpexpirytime" placeholder="OTP Expiry Time">
                                </div>
                                <div class="form-group">
                                    <label for="txtlastsamepassword">Last Same Password</label>
                                    <input type="text" class="form-control num" id="txtlastsamepassword" placeholder="Last Same Password">
                                </div>

                                <div class="form-group">
                                    <label for="txtcaptchaenableattempt">Captcha Enable Attempt</label>
                                    <input type="text" class="form-control num" id="txtcaptchaenableattempt" placeholder="Captch Enable Attempt">
                                </div>

                            </div>
                            <div class="col-md-12">
                                <br />
                                <button id="btnSavepassword" type="submit" class="btn btn-success btnsavepasswordauth">
                                    SAVE</button>
                                <button id="btnUpdatepassword" type="submit" style="display: none" class="btn btn-primary btnsavepasswordauth">
                                    UPDATE</button>
                                <button id="btnCancelpassword" type="button" style="display: none" class="btn btn-green">
                                    DELETE</button>
                                <button id="btnclearpassword" type="button" style="display: none" class="btn btn-warning">
                                    CLEAR</button>
                                <button id="btnquitpassword" type="button" class="btn btn-info">
                                    QUIT FORM</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="panel panel-white">
        <h4 class="panel-title-summery">Utilities </h4>
        <div class="panel-body utility-panel">
            <ul class="utility-list">
                <li>
                    <a href="#">
                        <i class="task">&nbsp;</i><br />
                        Task
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="noti">&nbsp;</i><br />
                        Notifications
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="cal">&nbsp;</i><br />
                        Calendar
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="e-mail">&nbsp;</i><br />
                        Email
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="sms">&nbsp;</i><br />
                        SMS
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="notes">&nbsp;</i><br />
                        Notes
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="tages">&nbsp;</i><br />
                        Tags
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="help-video">&nbsp;</i><br />
                        Help Video
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="guided-tour">&nbsp;</i><br />
                        Guided Tour
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="copy">&nbsp;</i><br />
                        Copy
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="print">&nbsp;</i><br />
                        Print
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="updates">&nbsp;</i><br />
                        Updates
                    </a>
                </li>
                <li>

                    <a href="#">
                        <i class="screns">&nbsp;</i><br />
                        Screenshot
                    </a>
                </li>
            </ul>

        </div>
    </div>

</div>

@section floatingsection{
    <ul class="floating-section-buttons tab2" style="display: none">
        <li><a class="btn btn-default" rel="tooltip" data-section="tab2section1" title="Basic Details">1</a></li>
        <li><a class="btn btn-default" rel="tooltip" data-section="tab2section2" title="Reference">2</a></li>
    </ul>
    <div class="floating-section-buttons tab2" style="display: none">
        <a class="btn btn-default" rel="tooltip" data-section="tab2section1" title="Basic Details">1</a>
        <a class="btn btn-default" rel="tooltip" data-section="tab2section2" title="Reference">2</a>
    </div>
    <div class="floating-section-buttons tab3" style="display: none">
        <a class="btn btn-default" data-section="tab3section1" rel="tooltip" data-placement="left" title="Hosting">1</a>
        <a class="btn btn-default" data-section="tab3section2" rel="tooltip" data-placement="left" title="Subscription">2</a>
    </div>
    <div class="floating-section-buttons tab4" style="display: none">
        <a class="btn btn-default" data-section="tab4section1" rel="tooltip" title="Billing">1</a>
        <a class="btn btn-default" data-section="tab4section2" rel="tooltip" title="Maintanence Support">2</a>
    </div>
}



@section scripts{
    <script src="~/Scripts/JS/Page/WhitelabelReg.js"></script>
    <script src="~/Scripts/JS/CommonValidations.js"></script>


}


