<div class="col-md-8 full-responsive">
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label>Services</label>
                <select id="drpCountryAccomodation" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                    <option selected="selected">Accommodation</option>
                    <option selected="selected">Sightseeing</option>
                    <option selected="selected">Restaurant</option>
                    <option selected="selected">Guiding Sightseeing</option>
                </select>
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label for="tagSearch">Custom Tags</label>
                <input type="text" data-role="tagsinput" id="txtTagSearchsum" class="form-control" placeholder="Custom Tags" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <h3 class="tab7section1">&nbsp;Accommodation - <span class="text-danger">Outtrigger 2015/16 Full Year FIT</span></h3>
                <div class="table-responsive">
                    <table style="width: 100%">
                        <thead>
                            <tr>
                                <th style="width: 20%; padding: 5px">Country</th>
                                <th style="width: 20%; padding: 5px">City</th>
                                <th style="width: 54%; padding: 5px">Hotel</th>
                                <th style="width: 6%; padding: 5px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="padding: 5px">
                                    <select id="drpCountryAccomodation" class="js-states form-control" style="display: none; width: 100%">
                                        <option selected="selected">Thiland</option>
                                        <option>Malesia</option>
                                        <option>Singapore</option>

                                    </select>
                                </td>
                                <td style="padding: 5px">
                                    <select id="drpcityaccomondation" class="js-states form-control" style="display: none; width: 100%">
                                        <option selected="selected">Bangkok</option>
                                        <option>Pattaya</option>
                                        <option>Singapore</option>

                                    </select>
                                </td>
                                <td style="padding: 5px">
                                    <select id="drpAccomondationms" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                                        <option>All</option>
                                        <option selected="selected">Accommodation 1</option>
                                        <option>Accommodation 2</option>
                                    </select>
                                </td>

                                <td style="padding: 5px">
                                    <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <h3 class="tab7section1">&nbsp;Sightseeing - <span class="text-danger">Outtrigger 2015/16 Full Year FIT</span></h3>
                <div class="table-responsive">
                    <table style="width: 100%">
                        <thead>
                            <tr>
                                <th style="width: 20%; padding: 5px">Country</th>
                                <th style="width: 20%; padding: 5px">City</th>
                                <th style="width: 54%; padding: 5px">Sightseeing</th>
                                <th style="width: 6%; padding: 5px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="padding: 5px">
                                    <select id="drpCountryAccomodation" class="js-states form-control" style="display: none; width: 100%">
                                        <option selected="selected">Thiland</option>
                                        <option>Malesia</option>
                                        <option>Singapore</option>

                                    </select>
                                </td>
                                <td style="padding: 5px">
                                    <select id="drpcityaccomondation" class="js-states form-control" style="display: none; width: 100%">
                                        <option selected="selected">Bangkok</option>
                                        <option>Pattaya</option>
                                        <option>Singapore</option>

                                    </select>
                                </td>
                                <td style="padding: 5px">
                                    <select id="drpsighseeingms" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                                        <option>All</option>
                                        <option selected="selected">Grand Palace</option>
                                        <option>Wat Pho</option>
                                        <option>Wat phra kaew</option>
                                        <option>Wat Arun</option>
                                    </select>
                                </td>

                                <td style="padding: 5px">
                                    <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <h3 class="tab7section1">&nbsp;Restaurant - <span class="text-danger">Outtrigger 2015/16 Full Year FIT</span></h3>
                <div class="table-responsive">
                    <table style="width: 100%">
                        <thead>
                            <tr>
                                <th style="width: 20%; padding: 5px">Country</th>
                                <th style="width: 20%; padding: 5px">City</th>
                                <th style="width: 54%; padding: 5px">Restaurant</th>
                                <th style="width: 6%; padding: 5px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="padding: 5px">
                                    <select id="drpCountryAccomodation" class="js-states form-control" style="display: none; width: 100%">
                                        <option selected="selected">Thiland</option>
                                        <option>Malesia</option>
                                        <option>Singapore</option>

                                    </select>
                                </td>
                                <td style="padding: 5px">
                                    <select id="drpcityaccomondation" class="js-states form-control" style="display: none; width: 100%">
                                        <option selected="selected">Bangkok</option>
                                        <option>Pattaya</option>
                                        <option>Singapore</option>

                                    </select>
                                </td>
                                <td style="padding: 5px">
                                    <select id="drpRestoms" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                                        <option>All</option>
                                        <option>Le Normandie</option>
                                        <option selected="selected">Rock Restaurant</option>
                                        <option>Sensi Restaurant</option>
                                        <option>Medici Kitchen</option>
                                    </select>
                                </td>

                                <td style="padding: 5px">
                                    <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <h3 class="tab7section1">&nbsp;Guiding Sightseeing - <span class="text-danger">Outtrigger 2015/16 Full Year FIT</span></h3>
                <div class="table-responsive">
                    <table style="width: 100%">
                        <thead>
                            <tr>
                                <th style="width: 20%; padding: 5px">Country</th>
                                <th style="width: 20%; padding: 5px">City</th>
                                <th style="width: 54%; padding: 5px">Guiding Sightseeing</th>
                                <th style="width: 6%; padding: 5px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="padding: 5px">
                                    <select id="drpCountryAccomodation" class="js-states form-control" style="display: none; width: 100%">
                                        <option selected="selected">Thiland</option>
                                        <option>Malesia</option>
                                        <option>Singapore</option>

                                    </select>
                                </td>
                                <td style="padding: 5px">
                                    <select id="drpcityaccomondation" class="js-states form-control" style="display: none; width: 100%">
                                        <option selected="selected">Bangkok</option>
                                        <option>Pattaya</option>
                                        <option>Singapore</option>

                                    </select>
                                </td>
                                <td style="padding: 5px">
                                    <select id="drpsighseeingms" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                                        <option>All</option>
                                        <option>Grand Palace</option>
                                        <option selected="selected">Wat Pho</option>
                                        <option>Wat phra kaew</option>
                                        <option>Wat Arun</option>
                                    </select>
                                </td>

                                <td style="padding: 5px">
                                    <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>

</div>

<div class="col-md-4 summery-detail summery-uitilities-detail summerytab10">
    <div class="panel-body tab-itenaries ">
        <div class="panel-group">
            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title">Summary <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report"></a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>
                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created From Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Page Load Time: </td>
                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                </tr>
                                <tr>
                                    <td>Record Update Time: </td>
                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
