 <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="drpCountryAccomodation">Country</label>
                                                    <select id="drpCountryAccomodation" class="js-states form-control" style="display: none; width: 100%">
                                                        <option selected="selected">Thiland</option>
                                                        <option>Malesia</option>
                                                        <option>Singapore</option>

                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="drpcityaccomondation">City</label>
                                                    <select id="drpcityaccomondation" class="js-states form-control" style="display: none; width: 100%">
                                                        <option selected="selected">Bangkok</option>
                                                        <option>Pattaya</option>
                                                        <option>Singapore</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label for="drpAccomondationms">Hotel</label>
                                                    <select id="drpAccomondationms" class="js-states form-control" multiple="multiple" style="display: none; width: 100%">
                                                        <option>All</option>
                                                        <option selected="selected">Accommodation 1</option>
                                                        <option>Accommodation 2</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <button id="btnSaveallaccom" type="submit" class="btn btn-success btnSave">
                                            ADD ALL HOTEL</button>
                                        <button id="btnAddAccommodation" type="submit" class="btn btn-primary btnSave">
                                            ADD</button>
                                        <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
                                            <span class="fa fa-refresh"></span>
                                        </a>