<div class="col-md-8 full-responsive">
    <form>
        <h3 class="tab4section1">Payment Criteria - <span class="text-danger">Amari Ocean Pattaya - Pattaya</span></h3>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtAddressLine1">Guest Nationality <span>*</span></label>
                    <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                        <option selected="selected">Asian-Indian</option>
                        <option>Austrailian</option>
                        <option>Europian</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="txtAddressLine1">Service </label>
                    <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                        <option selected="selected">Accomodation</option>
                        <option>Sightseeing</option>
                        <option>Restaurant</option>
                        <option>Guiding Sightseeing</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="txtBillingContactPerson">Credit Days</label>
                    <input type="text" class="form-control" id="txtCreaditDays" placeholder="Creadit Days">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtBillingName">VAT Type </label>
                    <select id="drpDisplayFor" class="js-states form-control" tabindex="-1" style="display: none; width: 100%">
                        <option selected="selected">Include</option>
                        <option>Excluded</option>
                        <option>None</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="txtAddressLine2">VAT (%) <span class="star">*</span></label>
                    <input type="text" class="form-control" id="txtBillingAddressLine2" value="7" placeholder="Percentage (%)">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtAddressLine1">Withholding Type</label>
                    <select id="drpDisplayFor" class="js-states form-control" tabindex="-1" style="display: none; width: 100%">
                        <option>Include</option>
                        <option>Excluded</option>
                        <option selected="selected">None</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="txtAddressLine2">Withholding (%) <span class="star">*</span></label>
                    <input type="text" class="form-control" id="txtBillingAddressLine2" value="0" placeholder="Percentage (%)">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="tagSearch">Custom Tags</label>
                    <input type="text" data-role="tagsinput" id="txtTagSearchsum" class="form-control" placeholder="Custom Tags" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtRemarks">Remarks </label>
                    <textarea class="form-control" cols="5" id="txtRemarks"></textarea>
                </div>

                <div class="col-md-6">
                    <label for="txtRemarksInternal">Remarks (Internal)</label>
                    <textarea class="form-control" cols="5" id="txtRemarksInternal"></textarea>
                </div>
            </div>
        </div>

        <br />
        <button id="btnSave" type="submit" class="btn btn-success btnSave">
            SAVE</button>
        <button id="btnSave" type="submit" class="btn btn-primary btnSave">
            UPDATE</button>
        <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
            DELETE</button>
        <button id="btnSave" type="submit" class="btn btn-warning btnSave">
            CREATE NEW</button>
        <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
            <span class="fa fa-refresh"></span>
        </a>

    </form>
</div>
<div class="col-md-4 summery-detail summery-uitilities-detail summeryPayform">
    <div class="panel-body tab-itenaries ">
        <div class="panel-group">
            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title">Summary <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report"></a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>
                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created From Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Page Load Time: </td>
                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                </tr>
                                <tr>
                                    <td>Record Update Time: </td>
                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
