 <div class="table-responsive">
                                            <table id="Accomandationtable" class="display table datatable" style="width: 100%; cellspacing: 0;">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>City</th>
                                                        <th>Hotel</th>

                                                        <th style="width: 15%;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>City</th>
                                                        <th>Hotel</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>

                                                    <tr>
                                                        <td>1</td>
                                                        <td><span>Bangkok</span></td>
                                                        <td><span>abc</span></td>
                                                        <td>
                                                            <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                            &nbsp;&nbsp;
                                                <a href="#"><i class="fa fa-trash-o"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>