  <div class="table-responsive">

                                    <table id="example-editable" class="display table datatable" style="width: 100%; cellspacing: 0;">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Guest Nationality</th>
                                                <th>Credit Days</th>
                                                <th>Currency </th>
                                                <th>Payment Type </th>
                                                <th>Action</th>
                                            </tr>

                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>Guest Nationality</th>
                                                <th>Credit Days</th>
                                                <th>Currency </th>
                                                <th>Payment Type </th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Asia, Austrailian</td>
                                                <td>2</td>
                                                <td>THB</td>
                                                <td>Bank Transfer</td>
                                                <td>
                                                    <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                    &nbsp;&nbsp;
                                    <a href="#"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>