@{
    ViewBag.Title = "Access Rights";
    ViewBag.PageTitle = "User Master";
    ViewBag.FooterCopyRight = "2015 &copy; Modern by Steelcoders.";
}


<div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs form-basic-tab" role="tablist">
        <li role="presentation"><a href="/User/Index" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>User Details</a></li>
        <li role="presentation" class="active"><a href="javascript:void(0);" class="hosting-accord"><span class="menu-icon glyphicon glyphicon glyphicon-cloud"></span>Access Rights </a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab1">
            <h3>Access Rights</h3>
            <form>
                <div class="table-responsive">
                    <table id="example-editable" class="display table" style="">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Module</th>
                                <th>Screen</th>
                                <th>View</th>
                                <th>Add</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Module</th>
                                <th>Screen</th>
                                <th>View</th>
                                <th>Add</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Masters</td>
                                <td>Country</td>
                                <td>
                                    <input type="checkbox" class="chkView" /></td>
                                <td>
                                    <input type="checkbox" class="chkAdd" /></td>
                                <td>
                                    <input type="checkbox" class="chkUpdate" /></td>
                                <td>
                                    <input type="checkbox" class="chkDelete" /></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Masters</td>
                                <td>State</td>
                                <td>
                                    <input type="checkbox" class="chkView" /></td>
                                <td>
                                    <input type="checkbox" class="chkAdd" /></td>
                                <td>
                                    <input type="checkbox" class="chkUpdate" /></td>
                                <td>
                                    <input type="checkbox" class="chkDelete" /></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Masters</td>
                                <td>City</td>
                                <td>
                                    <input type="checkbox" class="chkView" /></td>
                                <td>
                                    <input type="checkbox" class="chkAdd" /></td>
                                <td>
                                    <input type="checkbox" class="chkUpdate" /></td>
                                <td>
                                    <input type="checkbox" class="chkDelete" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button id="btnSave" type="submit" class="btn btn-success btnSave">
                    SAVE</button>
                <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                    CANCEL</button>
            </form>
        </div>
    </div>
</div>


