@{
    ViewBag.Title = "User / Access Rights";
    ViewBag.PageTitle = "User / Access Rights";
    
}
<style>
    .hide_cell {
        display: none;
    }

    #errmsg {
        color: red;
    }
</style>

<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs form-basic-tab form-tabs" role="tablist">
                    <li role="presentation" class="active usertab1gridclass" id="userlitab1"><a href="#tab1" role="tab" data-toggle="tab" data-section="tab1" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Serach User</a></li>
                    <li role="presentation" id="userlitab2"><a href="#tab2" role="tab" data-toggle="tab" data-section="tab2" class="hosting-accord"><span class="menu-icon glyphicon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Create User</a></li>
                    <li role="presentation" id="userlitab3"><a href="#tab3" role="tab" data-toggle="tab" data-section="tab3" class="hosting-accord"><span class="menu-icon glyphicon glyphicon glyphicon-cloud"></span>&nbsp;&nbsp;&nbsp;&nbsp;Access Rights Role</a></li>
                    <li role="presentation" class="userlitab4class" id="userlitab4"><a href="#tab4" role="tab" data-toggle="tab" data-section="tab4" class="hosting-accord"><span class="menu-icon glyphicon glyphicon glyphicon-cloud"></span>&nbsp;&nbsp;&nbsp;&nbsp;Access Rights User</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <div class="col-md-12">
                            <form>
                                <div class="table-responsive">
                                    <div class="dropdown table-custome-drop">
                                        <div class="btn-group">
                                            <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <span class="glyphicon glyphicon-download-alt"></span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Excel</a></li>
                                                <li><a href="#">PDF</a></li>
                                                <li><a href="#">Email</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <table id="gridUser" class="display" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th style="display: none">srno</th>
                                                <th>Corporate
                                                </th>
                                                <th>Unit
                                                </th>
                                                <th>Location
                                                </th>
                                                <th>Name
                                                </th>
                                                <th>Email
                                                </th>
                                                <th>Action
                                                </th>
                                            </tr>

                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th style="display: none">srno</th>
                                                <th>Corporate
                                                </th>
                                                <th>Unit
                                                </th>
                                                <th>Location
                                                </th>
                                                <th>Name
                                                </th>
                                                <th>Email
                                                </th>
                                                <th>Action
                                                </th>
                                            </tr>
                                        </tfoot>

                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab2">
                        <div class="col-md-7">
                            <form>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Corporate <span>*</span></label>
                                            <select id="drpCorporate" class="js-states col-sm-2 form-control Dropdown formcorporate req" style="display: none; width: 100%"></select>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Unit <span>*</span></label>
                                            <select id="DrpUnitTab2" class="js-states col-sm-2  form-control Dropdown req" style="display: none; width: 100%"></select>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Location <span>*</span></label>
                                            <select id="DrpLocationTab2" class="js-states col-sm-2 form-control Dropdown req" style="display: none; width: 100%"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control col-sm-5 textbox-control" id="txtsrno" placeholder="SrNo" style="display: none" data-label="lblFirstName">
                                    <label for="txtFirstName">Name <span>*</span></label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control col-sm-5 textbox-control req" id="txtFirstName" placeholder="First Name" data-label="lblFirstName">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control col-sm-5 textbox-control req" id="txtLastName" placeholder="Last Name" data-label="lblLastName">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtEmail">Email <span>*</span></label>
                                    <input type="text" class="form-control textbox-control req email" id="txtEmail" placeholder="Email (User Name)" data-label="lblEmail">
                                </div>
                                <div class="form-group">
                                    <label for="txtConfirmEmail">Confirm Email <span>*</span></label>
                                    <input type="text" class="form-control confirm req email" id="txtConfirmEmail" data-confirm="txtEmail" placeholder="Confirm Email">
                                </div>
                                <div class="form-group">
                                    <label for="txtPassword">Password <span>*</span></label>
                                    <input type="Password" class="form-control req" id="txtPassword" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="txtConfirmPassword">Confirm Password <span>*</span></label>
                                    <input type="Password" class="form-control confirm req" id="txtConfirmPassword" data-confirm="txtPassword" placeholder="Confirm Password">
                                </div>
                                <br />
                                <button id="btnSaveUser" type="submit" class="btn btn-success btnSaveuserclass">
                                    SAVE</button>
                                <button id="btnUpdateUser" type="submit" class="btn btn-primary btnSaveuserclass" style="display: none">
                                    UPDATE</button>
                                <button id="btnCancelUser" type="button" class="btn btn-green" style="display: none">
                                    DELETE</button>
                                <button id="btnclearuser" type="button" class="btn btn-warning btnclearuser">
                                    CLEAR</button>
                                <button id="btnQuitUser" type="button" class="btn btn-info quituserbtn">
                                    QUIT FORM</button>



                            </form>
                        </div>
                        <div class="col-md-5 summery-detail summerytab2">
                            <div class="panel panel-white">
                                <h4 class="panel-title-summery">Summary </h4>
                                <ul class="utilitis-drop ">
                                    <li><a href="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown">
                                        <img src="assets/images/utilitis-icon.png" height="19" width="19" /></a>
                                        <ul>
                                            <li><a href="#"><i class="task">&nbsp;</i><br />
                                                Task </a></li>
                                            <li><a href="#"><i class="noti">&nbsp;</i><br />
                                                Notifications </a></li>
                                            <li><a href="#"><i class="cal">&nbsp;</i><br />
                                                Calendar </a></li>
                                            <li><a href="#"><i class="e-mail">&nbsp;</i><br />
                                                Email </a></li>
                                            <li><a href="#"><i class="sms">&nbsp;</i><br />
                                                SMS </a></li>
                                            <li><a href="#"><i class="notes">&nbsp;</i><br />
                                                Notes </a></li>
                                            <li><a href="#"><i class="tages">&nbsp;</i><br />
                                                Tags </a></li>
                                            <li><a href="#"><i class="help-video">&nbsp;</i><br />
                                                Help Video </a></li>
                                            <li><a href="#"><i class="guided-tour">&nbsp;</i><br />
                                                Guided Tour </a></li>
                                            <li><a href="#"><i class="copy">&nbsp;</i><br />
                                                Copy </a></li>
                                            <li><a href="#"><i class="print">&nbsp;</i><br />
                                                Print </a></li>
                                            <li><a href="#"><i class="updates">&nbsp;</i><br />
                                                Updates </a></li>
                                            <li><a href="#"><i class="screns">&nbsp;</i><br />
                                                Screenshot </a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="panel-body" style="border: 1px solid #22BAA0;">
                                    <div class="summ-lis-height">
                                        <ul class="summery-list">
                                            <div class="summ-list-left">
                                                <li>First Name:<br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblFirstName" for="txtFirstName"></label>
                                                        @*        <i>&nbsp;</i>*@
                                                    </a>
                                                </li>
                                                <li>Last Name:
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblLastName" for="txtLastName"></label>
                                                        @*<i>&nbsp;</i>*@
                                                    </a>
                                                </li>
                                            </div>
                                            <div class="summ-list-right">
                                                <li>Email :
                                                    <br />
                                                    <a href="javascript:void(0);" class="">@* invalid-red / valid-green *@
                                                        <label id="lblEmail" for="txtEmail"></label>
                                                        @*<i>&nbsp;</i>*@
                                                    </a>
                                                </li>
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="summery-buttons">
                                        <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                            SAVE</button>
                                        <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                            UPDATE</button>
                                        <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                            DELETE</button>
                                        <p>
                                            Inputs with <i class="cross">&nbsp;</i> mark are incorrect
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="tab3">
                        <div class="col-md-12">
                            <form>
                                <div class="table-responsive">
                                    <div class="dropdown table-custome-drop">
                                        <div class="btn-group">
                                            <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <span class="glyphicon glyphicon-download-alt"></span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Excel</a></li>
                                                <li><a href="#">PDF</a></li>
                                                <li><a href="#">Email</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="form-group col-md-3">
                                                <label>Corporate</label>
                                                <select id="drpUnitCompany" class="js-states col-sm-2" style="display: none; width: 100%"></select>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label>Unit</label>
                                                <select id="drpUnit" class="js-states col-sm-2" style="display: none; width: 100%"></select>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label>Location</label>
                                                <select id="drpLocation" class="js-states col-sm-2" style="display: none; width: 100%"></select>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label>Role</label>
                                                <select id="drpRole" class="js-states col-sm-2" style="display: none; width: 100%"></select>
                                            </div>

                                        </div>



                                    </div>

                                </div>
                                <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                    SAVE</button>
                                <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                    UPDATE</button>
                                <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                    DELETE</button>
                                <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                                    CLEAR</button>
                                <button id="btnSave" type="submit" class="btn btn-info btnSave">
                                    QUIT FORM</button>
                            </form>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane " id="tab4">
                        <div class="col-md-12">
                            <form>
                                <div class="table-responsive">
                                    <div class="dropdown table-custome-drop">
                                        <div class="btn-group">
                                            <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <span class="glyphicon glyphicon-download-alt"></span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Excel</a></li>
                                                <li><a href="#">PDF</a></li>
                                                <li><a href="#">Email</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="form-group col-md-3">
                                                <label>Corporate</label>
                                                <select id="drpRightsCorporate" class="js-states col-sm-2" style="display: none; width: 100%"></select>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label>Unit</label>
                                                <select id="drpRightsUnit" class="js-states col-sm-2" style="display: none; width: 100%"></select>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label>Location</label>
                                                <select id="drpRightsLocation" class="js-states col-sm-2" style="display: none; width: 100%"></select>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label>Role</label>
                                                <select id="drpRightsRole" class="js-states col-sm-2" style="display: none; width: 100%"></select>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label>User</label>
                                                <select id="drpRightsUser" class="js-states col-sm-2" style="display: none; width: 100%"></select>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Status</label>
                                                    <select id="drpRightsStatus" class="js-states col-sm-2" style="display: none; width: 100%"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="Date1" id="LbDate1">Effective Date </label>
                                                    &nbsp
                                                    <input type="text" id="Date1" class="form-control date-picker">
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    </br>
                                                    
                                                    <input type="checkbox" />Is Default?
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                    SAVE</button>
                                <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                    UPDATE</button>
                                <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                    DELETE</button>
                                <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                                    CLEAR</button>
                                <button id="btnSave" type="submit" class="btn btn-info btnSave">
                                    QUIT FORM</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="~/Scripts/JS/CommonValidations.js"></script>
    <script src="~/Scripts/JS/Page/WhitelabelAccessRights.js"></script>
}