@{
    ViewBag.Title = "Form Control Set-Up";
    ViewBag.PageTitle = "Form Control Set-Up";
}
@{ 
    var queryValue = Request.QueryString["id"];  
}
<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <ul class="nav nav-tabs form-basic-tab" role="tablist">
                    <li role="presentation" id="searchcontrol"><a href="#tab1" role="tab" data-section="tab1" data-toggle="tab" class="hosting-accord"><span class="menu-icon glyphicon glyphicon glyphicon-cloud"></span>&nbsp;&nbsp;&nbsp;&nbsp;Search Controls</a></li>
                    <li role="presentation" class="active" id="Fromcontrol"><a href="#tab3" role="tab" data-section="tab3" data-toggle="tab" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp; Form Controls  </a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane " id="tab1">
                        <form>
                            <div class="table-responsive">
                                <div class="dropdown table-custome-drop">
                                    <div class="btn-group">
                                        <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="glyphicon glyphicon-download-alt"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Excel</a></li>
                                            <li><a href="#">PDF</a></li>
                                            <li><a href="#">Email</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <table id="fromcontrolsetup" class="display" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Srno</th>
                                            <th>Corporate</th>
                                            <th>Features</th>
                                            <th>Module</th>
                                            <th>Form </th>
                                            <th>Tab </th>
                                            <th>Section </th>
                                            <th>Controls </th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Srno</th>
                                            <th>Corporate</th>
                                            <th>Features</th>
                                            <th>Module </th>
                                            <th>Form </th>
                                            <th>Tab </th>
                                            <th>Section </th>
                                            <th>Control</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>

                                </table>
                            </div>
                        </form>
                    </div>

                    <div role="tabpanel" class="tab-pane active " id="tab3">
                        <form>
                            <div class="col-md-12">
                                <h3 class="tab3section1">Form Name -
                                     <span class="text-danger tabFormname"></span>
                                </h3>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" style="display: block">
                                            <label>Tabsrno <span>*</span></label>
                                            <input type="text" class="form-control inputControl" id="txtTabsrno" placeholder="Tab Srno" readonly="true">
                                            <input type="text" class="form-control" id="txtFormcode" value=" @queryValue " readonly="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label data-toggle="tooltip" data-placement="right">Order <span></span></label>
                                            <input type="text" class="form-control inputControl num" id="txtorder" placeholder="Control Order">
                                        </div>
                                        <div class="form-group">
                                            <label>Tab <span>*</span></label>
                                            <select id="drpTab" class="js-states form-control Dropdown req" style="display: none; width: 100%">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Section <span>*</span></label>
                                            <select id="drpSection" class="js-states form-control Dropdown req" style="display: none; width: 100%">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label data-toggle="tooltip" data-placement="right">Control Label <span>*</span></label>
                                            <input type="text" class="form-control inputControl req" id="txtcontrollabel" placeholder="Control Name">
                                        </div>
                                        <div class="form-group">
                                            <label data-toggle="tooltip" data-placement="right">Control ID <span>*</span></label>
                                            <input type="text" class="form-control inputControl req" id="txtcontrolid" placeholder="Control Id">
                                        </div>
                                        <div class="form-group">
                                            <label data-toggle="tooltip" data-placement="right">Control Type <span>*</span></label>
                                            <select id="drpcontroltype" class="js-states form-control Dropdown req" style="display: none; width: 100%">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label data-toggle="tooltip" data-placement="right">Validation Code <span></span></label>
                                            <input type="text" class="form-control inputControl" id="txtValiadtioncode" placeholder="Validation Code">
                                        </div>
                                        <div class="form-group">
                                            <label data-toggle="tooltip" data-placement="right">Placeholder Text <span></span></label>
                                            <input type="text" class="form-control inputControl" id="txtPlaceholdertext" placeholder="Placeholder">
                                        </div>
                                        <div class="form-group">
                                            <label data-toggle="tooltip" data-placement="right">Tool Tip (Help text) <span></span></label>
                                            <input type="text" class="form-control inputControl" id="txtTooltiptext" placeholder="Tool Tip (Help text)">
                                        </div>
                                        <div class="form-group">
                                            <label data-toggle="tooltip" data-placement="right">Guided Tour Text <span></span></label>
                                            <input type="text" class="form-control inputControl" id="txtGuidedTour" placeholder="Guided Tour">
                                        </div>

                                        <div class="form-group">
                                            <label data-toggle="tooltip" data-placement="right">Guided Tour Step No <span></span></label>
                                            <input type="text" class="form-control inputControl num" id="txtGuidedtourStep" placeholder="Guided Tour Step No">
                                        </div>
                                    </div>
                                </div>
                                @*<div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="checkbox" class="form-control" id="reqfield" />Required Field
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label data-toggle="tooltip" data-placement="right">Validation Message <span></span></label>
                                            <input type="text" class="form-control inputControl" id="txtreqValidationmessage" placeholder="Validation Message">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="checkbox" class="form-control" id="regfield" />RegularExpression Field
                                        </div>
                                    </div>
                                </div>*@


                            </div>

                            <div class="col-md-12">
                                <br />
                                <button id="btnSaveControl" type="submit" class="btn btn-success btnSave">
                                    SAVE</button>
                                <button id="btnUpdateControl" type="submit" class="btn btn-primary btnSave" style="display: none">
                                    UPDATE</button>
                                <button id="btnclear" type="button" class="btn btn-warning">
                                    CLEAR</button>
                                <button id="btnquitfrom" type="button" class="btn btn-info">
                                    QUIT FORM</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>

        <div class="modal fade modify-colum-model" id="DeleteModel" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">System Message</h4>
                    </div>

                    <div class="modal-body  custom-model-body">
                        <form>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label id="lbldelete"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" id="modeldelete">Ok</button>
                                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/JS/CommonValidations.js"></script>
    <script src="~/Scripts/JS/Page/FrmControlSetup.js"></script>
}

