@{
    ViewBag.Title = "Form Control Set-Up";
    ViewBag.PageTitle = "Form Control Set-Up";
    ViewBag.FooterCopyRight = "2015 &copy; Modern by Steelcoders.";
}


<div class="col-md-12 form-detail">
    <div class="panel panel-white">
        <div class="panel-body">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs form-basic-tab" role="tablist">
                    <li role="presentation" class="active"><a href="#tab1" role="tab" data-section="tab1" data-toggle="tab" class="hosting-accord"><span class="menu-icon glyphicon glyphicon glyphicon-cloud"></span>&nbsp;&nbsp;&nbsp;&nbsp;Search Controls</a></li>

                    <li role="presentation"><a href="#tab3" role="tab" data-section="tab3" data-toggle="tab" class="basic-accord"><span class="menu-icon glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp; Form Controls  </a></li>

                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <form>
                            <div class="table-responsive">
                                <div class="dropdown table-custome-drop">
                                    <div class="btn-group">
                                        <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="glyphicon glyphicon-download-alt"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Excel</a></li>
                                            <li><a href="#">PDF</a></li>
                                            <li><a href="#">Email</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <table id="example-editable" class="display table" style="width: 100%; cellspacing: 0;">
                                    <thead>
                                        <tr>
                                            <th style="width: 5%;">#</th>
                                            <th style="width: 20%;">Corporate</th>
                                            <th style="width: 20%;">Features</th>
                                            <th style="width: 20%;">Module</th>

                                            <th style="width: 15%;">Form </th>
                                            <th style="width: 15%;">Tab </th>
                                            <th style="width: 15%;">Section </th>
                                            <th style="width: 15%;">Controls </th>
                                            <th style="width: 15%; text-align: center;">Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Corporate</th>
                                            <th>Features</th>
                                            <th>Module </th>

                                            <th>Form </th>
                                            <th>Tab </th>
                                            <th>Section </th>
                                            <th>Control</th>

                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>

                                            <th></th>
                                            <th>
                                                <input type="text" /></th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th>
                                                <input type="text" />
                                            </th>

                                            <th>
                                                <input type="text" />
                                            </th>

                                            <th>
                                                <input type="text" />
                                            </th>

                                            <th>
                                                <input type="text" />
                                            </th>
                                            <th class="action-buttons">
                                                <a href="#">
                                                    <img src="assets/images/srach.png" height="15" width="15" /></a> <a href="#">
                                                        <img src="assets/images/close.png" height="15" width="15" /></a>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td><span>Corporate1</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>Corporate1</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td class="action-buttons">
                                                <a href="#" title="Step 1"><i class="text-success fa fa-pencil-square-o"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td><span>Corporate1</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>Corporate1</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td class="action-buttons">
                                                <a href="#" title="Step 1"><i class="text-success fa fa-pencil-square-o"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td><span>Corporate1</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>Corporate1</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td class="action-buttons">
                                                <a href="#" title="Step 1"><i class="text-success fa fa-pencil-square-o"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td><span>Corporate1</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>Corporate1</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td class="action-buttons">
                                                <a href="#" title="Step 1"><i class="text-success fa fa-pencil-square-o"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td><span>Corporate1</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>Corporate1</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td class="action-buttons">
                                                <a href="#" title="Step 1"><i class="text-success fa fa-pencil-square-o"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td><span>Corporate1</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>Corporate1</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td class="action-buttons">
                                                <a href="#" title="Step 1"><i class="text-success fa fa-pencil-square-o"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td><span>Corporate1</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>Corporate1</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td class="action-buttons">
                                                <a href="#" title="Step 1"><i class="text-success fa fa-pencil-square-o"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td><span>Corporate1</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>Corporate1</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td class="action-buttons">
                                                <a href="#" title="Step 1"><i class="text-success fa fa-pencil-square-o"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td><span>Corporate1</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>Corporate1</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td class="action-buttons">
                                                <a href="#" title="Step 1"><i class="text-success fa fa-pencil-square-o"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td><span>Corporate1</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>Corporate1</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td class="action-buttons">
                                                <a href="#" title="Step 1"><i class="text-success fa fa-pencil-square-o"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>11</td>
                                            <td><span>Corporate1</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>Corporate1</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td class="action-buttons">
                                                <a href="#" title="Step 1"><i class="text-success fa fa-pencil-square-o"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>12</td>
                                            <td><span>Corporate1</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>Corporate1</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td class="action-buttons">
                                                <a href="#" title="Step 1"><i class="text-success fa fa-pencil-square-o"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>13</td>
                                            <td><span>Corporate1</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>Corporate1</span></td>
                                            <td><span>User2</span></td>
                                            <td><span>User2</span></td>
                                            <td class="action-buttons">
                                                <a href="#" title="Step 1"><i class="text-success fa fa-pencil-square-o"></i></a>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>

                    <div role="tabpanel" class="tab-pane " id="tab3">
                        <form>
                            <div class="col-md-12">
                                <h3 class="tab3section1"><span class="section-index">1</span>&nbsp; Form Controls </h3>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="drpModule">Tab <span>*</span></label>
                                            <select id="drpModule" class="js-states form-control" style="display: none; width: 100%">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="drpScreen">Section <span>*</span></label>
                                            <select id="drpScreen" class="js-states form-control" style="display: none; width: 100%">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="txtMasterName" data-toggle="tooltip" data-placement="right">Control Label<span></span></label>
                                            <input type="text" class="form-control" id="txtMasterName" placeholder="Control Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="txtMasterName" data-toggle="tooltip" data-placement="right" >Control ID <span></span></label>
                                            <input type="text" class="form-control" id="txtMasterName" placeholder="Control Id">
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="txtMasterName" data-toggle="tooltip" data-placement="right">Control Type <span></span></label>

                                            <select id="drpScreen" class="js-states form-control" style="display: none; width: 100%">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="txtMasterName" data-toggle="tooltip" data-placement="right">Validation Code <span></span></label>
                                            <input type="text" class="form-control" id="txtMasterName" placeholder="Validation Code">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="txtMasterName" data-toggle="tooltip" data-placement="right" >Placeholder Text <span></span></label>
                                            <input type="text" class="form-control" id="txtMasterName" placeholder="Placeholder">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="txtMasterName" data-toggle="tooltip" data-placement="right" >Tool Tip (Help text) <span></span></label>
                                            <input type="text" class="form-control" id="txtMasterName" placeholder="Tool Tip (Help text)">
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="checkbox" class="form-control" />Required Field
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">

                                            <label for="txtMasterName" data-toggle="tooltip" data-placement="right" >Validation Message <span></span></label>
                                            <input type="text" class="form-control" id="txtMasterName" placeholder="Validation Message">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="checkbox" class="form-control" />RegularExpression Field
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">

                                            <label for="txtMasterName" data-toggle="tooltip" data-placement="right" >Validation Message <span></span></label>
                                            <input type="text" class="form-control" id="txtMasterName" placeholder="Validation Message">
                                        </div>
                                        <div class="form-group">
                                            <label for="txtMasterName" data-toggle="tooltip" data-placement="right" >Guided Tour Text <span></span></label>
                                            <input type="text" class="form-control" id="txtMasterName" placeholder="Guided Tour">
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="txtMasterName" data-toggle="tooltip" data-placement="right" >Guided Tour Step No <span></span></label>
                                            <input type="text" class="form-control" id="txtMasterName" placeholder="Guided Tour Step No">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="txtMasterName" data-toggle="tooltip" data-placement="right" >Order <span></span></label>
                                            <input type="text" class="form-control" id="txtMasterName" placeholder="Control Order">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-12">
                                <br />
                                <button id="btnSave" type="submit" class="btn btn-success btnSave">
                                    SAVE</button>
                                <button id="btnSave" type="submit" class="btn btn-primary btnSave">
                                    UPDATE</button>
                                <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
                                    DELETE</button>
                                <button id="btnSave" type="submit" class="btn btn-warning btnSave">
                                    CLEAR</button>
                                <button id="btnSave" type="submit" class="btn btn-info btnSave">
                                    QUIT FORM</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

