<div class="col-md-8 full-responsive">
    <form>
        <h3 class="tab2section1"><span class="section-index">1</span>&nbsp;Basic Details - <span class="text-danger">Flamingo Travels - Bangkok</span></h3>
        <div class="form-group formagentdetail">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtAgentName">Agent Code </label>
                    <input type="text" class="form-control req" id="txtAgentName" readonly value="FLG-1-5-1" placeholder="Agent Name">
                </div>
                <div class="col-md-6">
                    <label for="txtAgentName">Operating Branch <span>*</span></label>
                    <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                        <option>Ahmedabad</option>
                        <option selected="selected">Pattaya</option>
                        <option>Bangkok</option>
                        <option>Phuket</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtAgentName">Agent Company Name <span>*</span></label>
                    <input type="text" class="form-control req" id="txtAgentName" value="Flamingo Travels" placeholder="Agent Name">
                </div>

                <div class="col-md-6">
                    <label for="txtOfficialEmail">Official Email(s) <span>*</span></label>
                    <input type="text" class="form-control req email" id="txtOfficialEmail" value="info@flamingotravels.co.in" placeholder="Official Email(s)">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label for="drpTypeOfAgent">Agent Category<span>*</span></label>
                    <select id="drpTypeOfAgent" class="js-states form-control" style="display: none; width: 100%">
                        <option selected="selected">Company</option>
                        <option>Person</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="drpTypeOfAgent">Agent Type<span>*</span></label>
                    <select id="drpTypeOfAgent" class="js-states form-control" style="display: none; width: 100%">
                        <option selected="selected">A</option>
                        <option>A+</option>
                        <option>A++</option>
                        <option>B</option>
                        <option>B+</option>
                        <option>B++</option>
                        <option>C</option>
                        <option>C+</option>
                        <option>C++</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="drpOperatingCurrency">Agent Base Currency <span>*</span></label>
                    <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                        <option selected="selected">THB</option>
                        <option>INR</option>
                        <option>AUD</option>
                        <option>USD</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label for="drpCountry">Code<span>*</span></label>
                    <input type="text" class="form-control col-sm-5" value="+66" id="txtCountryCode" placeholder="Code">
                </div>
                <div class="col-md-4">
                    <label for="txtOfficialPhone">Official Phone <span>*</span></label>
                    <input type="text" class="form-control col-sm-5" id="txtOfficialPhone" value="38418418" placeholder="Official Phone">
                </div>
                <div class="col-md-3">
                    <label for="txtFax">Fax</label>
                    <input type="text" class="form-control" id="txtFax" placeholder="Fax">
                </div>
                <div class="col-md-3">
                    <label for="txtAgentName">Free Cancellation Days</label>
                    <input type="text" class="form-control req" id="txtCancelDays" value="2" placeholder="Cancel Days">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtLogo">Logo </label>
                    <input type="text" class="form-control" value="http://www.Flamingotravels/flamingologo.jpg" id="txtLogo" placeholder="Logo">
                </div>
                <div class="col-md-6">
                    <label for="txtWebsite">Website </label>
                    <input type="text" class="form-control" value="http://www.flamingotravels.co.in/" id="txtWebsite" placeholder="Website">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtPrimaryContactPerson">Primary Contact Person </label>
                    <input type="text" class="form-control" value="Sudhir Punjabi" id="txtPrimaryContactPerson" placeholder="Primary Contact Person">
                </div>
                <div class="col-md-6">
                    <label for="drpTypeOfAgent">Status <span>*</span></label>
                    <select id="drpTypeOfAgent" class="js-states form-control" style="display: none; width: 100%">
                        <option selected="selected">Active</option>
                        <option>Inactive</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtRemarks">Remarks </label>
                    <textarea class="form-control" cols="5" id="txtRemarks"></textarea>
                </div>
                <div class="col-md-6">
                    <label for="txtRemarksInternal">Remarks (Internal)</label>
                    <textarea class="form-control" cols="5" id="txtRemarksInternal"></textarea>
                </div>
            </div>
        </div>
        <h3 class="section-headers tab2section4"><span class="section-index">2</span>&nbsp;Agent Overview</h3>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtNumberOfLocation"># Of Location</label>
                    <input type="text" class="form-control" value="10" id="txtNumberOfLocation" placeholder="# Of Location">
                </div>
                <div class="col-md-6">
                    <label for="drpCompanySize">Company Size</label>
                    <select id="drpCompanySize" class="form-control" style="display: none; width: 100%">
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">

                <div class="col-md-12">
                    <label for="txtCompanyDescription">Company Description</label>
                    <textarea class="form-control" id="txtCompanyDescription" placeholder="Company Description"></textarea>
                </div>
            </div>
        </div>
        <h3 class="section-headers tab2section2"><span class="section-index">3</span>&nbsp;Agent Address - <span class="text-danger">Amari Ocean Pattaya - Pattaya</span></h3>
        <div class="form-group">
            <label for="txtAgentLocation">Agent Location (Landmark) </label>
            <input type="text" class="form-control" id="txtAgentLocation" value="Pattaya Beach Road" placeholder="Agent Location (Landmark)">
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtAddressLine1">Address Line 1 </label>
                    <input type="text" class="form-control" id="txtAddressLine1" value="240 Moo 5" placeholder="Address Line 1 ">
                </div>
                <div class="col-md-6">
                    <label for="txtAddressLine2">Address Line 2 </label>
                    <input type="text" class="form-control" id="txtAddressLine2" value="Naklua, Banglamung,Chonburi" placeholder="Address Line 2">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label for="txtCountry">Country</label>
                    <input type="text" class="form-control" value="Thailand" id="txtCountry" placeholder="Country">
                </div>
                <div class="col-md-3">
                    <label for="txtState">State</label>
                    <input type="text" class="form-control" value="Pattaya Central" id="txtState" placeholder="State">
                </div>
                <div class="col-md-3">
                    <label for="txtCity">City </label>
                    <input type="text" class="form-control" value="Chonburi" id="txtCity" placeholder="City">
                </div>
                <div class="col-md-3">
                    <label for="txtZipCode">Zip/Postal Code</label>
                    <input type="text" class="form-control" id="txtZipCode" value="20150" placeholder="Country">
                </div>
            </div>
        </div>

        <h3 class="section-headers tab2section3"><span class="section-index">4</span>&nbsp;Team</h3>
        <div class="form-group">
            <div class="row">

                <div class="col-md-6">
                    <label for="drpReservationTeam">Sales Team</label>
                    <select id="drpReservationTeam" multiple="multiple" class="form-control" style="display: none; width: 100%">
                        <option selected="selected">Samarth shah</option>
                        <option>Sudhir Punjabi</option>
                        <option>Samir Shah</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="drpReservationTeam">Reservation Team</label>
                    <select id="drpReservationTeam" multiple="multiple" class="form-control" style="display: none; width: 100%">
                        <option>Samarth shah</option>
                        <option selected="selected">Sudhir Punjabi</option>
                        <option>Samir Shah</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">

                <div class="col-md-6">
                    <label for="drpReservationTeam">Operation Team</label>
                    <select id="drpReservationTeam" multiple="multiple" class="form-control" style="display: none; width: 100%">
                        <option>Samarth shah</option>
                        <option>Sudhir Punjabi</option>
                        <option selected="selected">Samir Shah</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="drpReservationTeam">Accounts Team</label>
                    <select id="drpReservationTeam" multiple="multiple" class="form-control" style="display: none; width: 100%">
                        <option>Samarth shah</option>
                        <option selected="selected">Sudhir Punjabi</option>
                        <option>Samir Shah</option>
                    </select>
                </div>
            </div>
        </div>

        @*    <h3 class="section-headers tab2section3"><span class="section-index">4</span>&nbsp;Auto-Email To Agent - <span class="text-danger">Amari Ocean Pattaya - Pattaya</span></h3>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3 form-marings">
                                            <input type="checkbox" checked="checked" id="chkQuote">Quote
                                        </div>
                                        <div class="col-md-3 form-marings">
                                            <input type="checkbox" checked="checked" id="chkBook">Book
                                        </div>
                                        <div class="col-md-3 form-marings">
                                            <input type="checkbox" id="chkConfirm">Confirm
                                        </div>
                                        <div class="col-md-3 form-marings">
                                            <input type="checkbox" checked="checked" id="chkReconfirm">Reconfirm
                                        </div>
                                        <div class="col-md-3 form-marings">
                                            <input type="checkbox" checked="checked" id="chkInvoiceGeneration">Invoice Generation
                                        </div>
                                        <div class="col-md-3 form-marings">
                                            <input type="checkbox" checked="checked" id="chkAmendments">Amendments
                                        </div>
                                    </div>
                                </div>*@

        <h3 class="section-headers  tab2section5"><span class="section-index">5</span>&nbsp;Whitelabel Criterias</h3>

        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label for="txtAgentName">Whitelabel</label>
                    <select id="drpWhitelabel" class="js-states form-control" style="display: none; width: 100%">
                        <option selected="selected">--None--</option>
                        <option>Full Whitelabel</option>
                        <option>Semi Whitelabel</option>
                    </select>
                </div>

                <div class="col-md-3 form-marings">
                    <label class="labelforcheckbox">&nbsp;</label>
                    <div class="form-group form-marings">
                        <input type="checkbox">Quotation
                    </div>
                </div>
                <div class="col-md-3 form-marings">
                    <label class="labelforcheckbox">&nbsp;</label>
                    <div class="form-group form-marings">
                        <input type="checkbox">Travel Vouchers
                    </div>
                </div>
                <div class="col-md-3 form-marings">
                    <label class="labelforcheckbox">&nbsp;</label>
                    <div class="form-group form-marings">
                        <input type="checkbox">Itinerary
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="tagSearch">Custom Tags</label>
                    <input type="text" data-role="tagsinput" id="txtTagSearchsum" class="form-control" placeholder="Custom Tags" />
                </div>
            </div>
        </div>
        <br />
        <button id="btnSaveCreateAgent" type="submit" class="btn btn-success btnSave">
            SAVE</button>
        <button id="btnUpdateCreateAgent" type="submit" class="btn btn-primary btnSave">
            UPDATE</button>
        <button id="btnCancelCreateAgent" type="submit" class="btn btn-green btnCancel">
            DELETE</button>
        <button id="btnClearCreateAgent" type="button" class="btn btn-warning btnSave">
            CREATE NEW</button>
        <button id="btnSaveCreateSupplier" type="button" class="btn btn-lightgreen btnpaddingless" onclick="confirmAlert();">
            CREATE SUPPLIER</button>
        <button id="btnQuitCreateAgent" type="button" class="btn btn-info btnSave">
            QUIT FORM</button>
        <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
            <span class="fa fa-refresh"></span>
        </a>
    </form>
</div>
<div class="col-md-4 summery-detail summery-uitilities-detail summerytab2">
    <div class="panel-body tab-itenaries ">
        <div class="panel-group">
            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title panelsummery">Summary
                       @*  <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report">
                        <i class="icon-reload"></i>
                    </a>*@
                        <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report">
                            <i class="fa fa-tasks"></i>
                        </a>
                        <a id="startGuiededTour" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Guided Tour">
                            <i class="icon-info"></i>
                        </a>
                        <a id="startTimeline" onclick="$('#showRightSideTimeline').trigger('click')" style="float: right; margin-right: 10px;" class="panel-reload text-info" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="View Trail">
                            <i class="fa fa-sitemap"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>
                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created From Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Page Load Time: </td>
                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                </tr>
                                <tr>
                                    <td>Record Update Time: </td>
                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
