<div class="col-md-8 full-responsive">
    <form>
        <h3 class="tab9section1">User - <span class="text-danger">Flamingo Travels - Bangkok</span></h3>
        <div class="form-group">
            <label for="txtFirstName">Name <span>*</span></label>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control col-sm-5 textbox-control" id="txtFirstName" value="Samarth" placeholder="First Name" data-label="lblFirstName">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control col-sm-5 textbox-control" id="txtLastName" value="Shah" placeholder="Last Name" data-label="lblLastName">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="drpDesignation">Department <span>*</span></label>
                    <select id="drpDesignation" class="js-states form-control" style="display: none; width: 100%">
                        <option>Sales</option>
                        <option>Contracting</option>
                        <option>Operation</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="drpDesignation">Designation <span>*</span></label>
                    <select id="drpDesignation" class="js-states form-control" style="display: none; width: 100%">
                        <option>Admin</option>
                        <option>Receptionist</option>
                        <option selected="selected">Manager</option>
                        <option>Chef</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtAgentUserEmail">Email (User Name) <span>*</span></label>
                    <input type="text" class="form-control" id="txtAgentUserEmail" value="samarthshah@flamingotravels.co.in" placeholder="Email(User Name)">
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <label for="txtAgentUserEmail">&nbsp;</label>
                        <div class="col-md-12 form-marings">
                            <input type="checkbox" checked="checked" id="chkQuote">Create System User
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">

                    <label for="txtAgentUserPassword">Password <span>*</span></label>
                    <input type="Password" class="form-control " value="test@123" id="txtAgentUserPassword" placeholder="Password">
                </div>
                <div class="col-md-6">
                    <label for="txtConfirmAgentUserPassword">Confirm Password</label>
                    <input type="Password" class="form-control" value="test@123" id="txtConfirmAgentUserPassword" placeholder="Confirm Password">
                </div>

            </div>

        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label for="drpCountry">Code</label>
                    <input type="text" class="form-control col-sm-5" id="txtCountry" value="+66" placeholder="Code">
                </div>
                <div class="col-md-4">
                    <label for="txtTelephone">Telephone</label>
                    <input type="text" class="form-control col-sm-5" id="txtTelephone" value="38645465" placeholder="Telephone">
                </div>
                <div class="col-md-6">
                    <label for="txtExtn">Extn.</label>
                    <input type="text" class="form-control" id="txtExtn" placeholder="Extn">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label for="drpCountry">Code</label>
                    <input type="text" class="form-control col-sm-5" id="txtCountry" placeholder="Code">
                </div>
                <div class="col-md-4">
                    <label for="txtCellPhone">Cell Phone</label>
                    <input type="text" class="form-control col-sm-5" id="txtCellPhone" placeholder="Cell Phone">
                </div>

                <div class="col-md-2">
                    <label for="drpCountry">Code</label>
                    <input type="text" class="form-control col-sm-5" id="txtFaxCode" placeholder="Code">
                </div>
                <div class="col-md-4">
                    <label for="txtCellPhone">Fax</label>
                    <input type="text" class="form-control col-sm-5" id="txtUserFax" placeholder="Fax">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtPicture">Picture </label>
                    <input type="text" class="form-control" value="D:/Samarthimage.jpg" id="txtPicture" placeholder="Picture">
                </div>
                <div class="col-md-6">
                    <label for="drpStatus">Status <span>*</span></label>
                    <select id="drpStatus" class="js-states form-control" style="display: none; width: 100%">
                        <option selected="selected">Active</option>
                        <option>Inactive</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="tab5section1">Quotation Approval Details </h3>
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 17%">Quotaion Currency</th>
                                <th class="tdpaddingleft">Approver Username</th>
                                <th class="tdpaddingleft">From Amount</th>
                                <th class="tdpaddingleft">To Amount</th>
                                <th class="tdpaddingleft"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="">
                                    <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                                        <option selected="selected">THB</option>
                                        <option>All</option>
                                        <option>INR</option>
                                        <option>AUD</option>
                                        <option>USD</option>
                                    </select>
                                </td>
                                <td class="tdpaddingleft">

                                    <input type="text" class="form-control" value="Samarth Shah" id="timepicker4">
                                </td>
                                <td class="tdpaddingleft" style="width: 27%">
                                    <div class="input-group input-append bootstrap-timepicker">
                                        <input type="text" class="form-control" value="5000" id="timepicker4">
                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                    </div>
                                </td>
                                <td class="tdpaddingleft">
                                    <div class="input-group input-append bootstrap-timepicker">
                                        <input type="text" class="form-control" value="10000" id="timepicker4">
                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                    </div>
                                </td>
                                <td class="tdpaddingleft"><a class=" btn btn-danger" rel="tooltip" title="Remove" style="padding: 3px 10px;"><span class="fa fa-times"></span></a></td>
                            </tr>

                            <tr>
                                <td class="" style="padding-top: 5px">
                                    <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                                        <option selected="selected">THB</option>
                                        <option>All</option>
                                        <option>INR</option>
                                        <option>AUD</option>
                                        <option>USD</option>
                                    </select>
                                </td>
                                <td class="tdpaddingleft" style="padding-top: 10px">
                                    <input type="text" class="form-control" id="timepicker4">
                                </td>
                                <td class="tdpaddingleft" style="width: 27%; padding-top: 5px">
                                    <div class="input-group input-append bootstrap-timepicker">
                                        <input type="text" class="form-control" id="timepicker4">
                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                    </div>
                                </td>
                                <td class="tdpaddingleft" style="padding-top: 5px">
                                    <div class="input-group input-append bootstrap-timepicker">
                                        <input type="text" class="form-control" id="timepicker4">
                                        <span class="input-group-addon add-on"><span>THB</span></span>
                                    </div>

                                </td>
                                <td class="tdpaddingleft" style="padding-top: 5px">
                                    <a class=" btn btn-success" rel="tooltip" title="Add" style="padding: 3px 10px;"><span class="fa fa-plus"></span></a>
                                </td>
                            </tr>
                        </tbody>


                    </table>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtRemarks">Remarks </label>
                    <textarea class="form-control" cols="5" id="txtRemarks"></textarea>
                </div>
                <div class="col-md-6">

                    <label for="txtRemarksInternal">Remarks (Internal)</label>
                    <textarea class="form-control" cols="5" id="txtRemarksInternal"></textarea>
                </div>
            </div>
        </div>

        <br />
        <button id="btnSave" type="submit" class="btn btn-success btnSave">
            SAVE</button>
        <button id="btnSave" type="submit" class="btn btn-primary btnSave">
            UPDATE</button>
        <button id="btnCancel" type="submit" class="btn btn-green btnCancel">
            DELETE</button>
        <button id="btnSave" type="submit" class="btn btn-warning btnSave">
            CREATE NEW</button>
        <a class="btn btn-refresh" aria-expanded="false" rel="tooltip" title="Refresh Page" onclick="window.location.href=window.location.href;">
            <span class="fa fa-refresh"></span>
        </a>

    </form>
</div>
<div class="col-md-4 summery-detail summery-uitilities-detail summerytab9">
    <div class="panel-body tab-itenaries ">
        <div class="panel-group">
            <div class="panel panel-red">
                <div class="panel-heading accordian-heading" role="tab" id="headingOne1">
                    <h4 class="panel-title">Summary <a id="showRightSideSummary" style="float: right;" class="panel-reload" title="" data-placement="top" data-toggle="tooltip" href="javascript:void(0);" data-original-title="Utility & Quick Report"></a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse panel-white collapse in " role="tabpanel" aria-labelledby="headingOne1">
                    <div class="panel-body summary-body">
                        <table class="table summary-list">
                            <tbody>
                                <tr>
                                    <td>Created By: </td>
                                    <td><span class="label label-success">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Created Date: </td>
                                    <td><span class="label label-warning">06-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Created From Branch: </td>
                                    <td><span class="label label-danger">Bangkok</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated By: </td>
                                    <td><span class="label label-info">Samir Shah</span></td>
                                </tr>
                                <tr>
                                    <td>Last Updated Date: </td>
                                    <td><span class="label label-warning">14-Mar-2016</span></td>
                                </tr>
                                <tr>
                                    <td>Page Load Time: </td>
                                    <td><span class="label label-info">00:01:00 Minutes</span></td>
                                </tr>
                                <tr>
                                    <td>Record Update Time: </td>
                                    <td><span class="label label-danger">00:01:20 Minutes</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
