 <div class="table-responsive">
                                    <table class="display table datatable" style="width: 100%; cellspacing: 0;">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>FIT/Group</th>
                                                <th>Discount For</th>
                                                <th>Discount Type</th>
                                                <th>Value</th>
                                                <th>Effective From Date</th>
                                                <th>Effective To Date</th>
                                                <th>Action</th>
                                            </tr>

                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>FIT/Group</th>
                                                <th>Discount For</th>
                                                <th>Discount Type</th>
                                                <th>Value</th>
                                                <th>Effective From Date</th>
                                                <th>Effective To Date</th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>FIT</td>
                                                <td>Accommodation</td>
                                                <td>Amount</td>
                                                <td>5</td>
                                                <td>07/07/2016</td>
                                                <td>09/09/2016</td>
                                                <td>
                                                    <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                    &nbsp;&nbsp;
                                    <a href="#"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>