 <div class="table-responsive">

                                    <table class="display table datatable" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>FIT/Group</th>
                                                <th>Margin For</th>
                                                <th>Margin Type </th>
                                                <th>Value </th>
                                                <th>Effective From Date </th>
                                                <th>Action</th>
                                            </tr>

                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>FIT/Group</th>
                                                <th>Margin For</th>
                                                <th>Margin Type </th>
                                                <th>Value </th>
                                                <th>Effective From Date </th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>FIT</td>
                                                <td>Accommodation</td>
                                                <td>Amount / Room / Night</td>
                                                <td>9</td>
                                                <td>07/02/2016</td>
                                                <td>
                                                    <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                                                    &nbsp;&nbsp;
                                    <a href="#"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>