<form>
    <div class="form-group">
        <div class="row">
            <div class="col-md-3" style="width: 35%">
                <div class="form-group">
                    <h2 style="border-width: 0; margin-bottom: 0; color: red; margin-top: 0px; font-size: 27px;" class="" id="lblTotalRecordsFound"><span>200 Records found</span></h2>
                </div>
            </div>
            <div class="col-md-3" style="width: auto">


                <div class="dropdown table-custome-drop" style="padding-top: 5px">
                    <div class="btn-group">
                        <a class="label label-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="font-size: 20px">
                            <span class="glyphicon glyphicon-download-alt"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Excel</a></li>

                            <li><a id="btnemail" href="javascript:void(0);" data-toggle="modal" data-target="#EmailModal">Email</a></li>
                        </ul>
                    </div>
                    &nbsp;&nbsp;
                                <div class="btn-group btn-tables-views">
                                    <a class="label label-success dropdown-toggle " rel="tooltip" data-toggle="dropdown" title="All Views" style="font-size: 20px" aria-expanded="false">
                                        <span class="icon-grid"></span>
                                    </a>
                                    <ul class="dropdown-menu cate-drop-menu">
                                        <li><a href="javascript:void(0);" style="color: #000"><span class="fa fa-check text-success"></span>&nbsp;Default View</a></li>
                                        <li style="color: #000; padding: 5px 0" class="btn-lgdropdown-header"><a id="btnShowPopupChangeView" href="javascript:void(0);" data-toggle="modal" data-target="#myModal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Change View</a> </li>
                                    </ul>
                                    <div class="modal fade modify-colum-model" id="myModal" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Change View</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <br />
                                                    <div class="model-left-columns">
                                                        <div class="field-name">
                                                            <h3>View <a href="#"></a></h3>
                                                            <ul id="ulViewList" class="field-list slimscroll">
                                                                <li><a href="#">Subscription</a></li>
                                                                <li><a href="#">Billing</a></li>
                                                                <li><a href="#">Hosting</a></li>
                                                                <li class="active"><a href="#">Support</a></li>
                                                                <li><a href="#">UI</a></li>
                                                                <li><a href="#">Database</a></li>

                                                            </ul>
                                                        </div>
                                                        <div class="field-name">
                                                            <h3>Field Name <a href="#">Add all</a></h3>
                                                            <div class="field-list field-list-img slimscroll">
                                                                <ul>
                                                                    <li><a href="#">Application URL</a></li>
                                                                    <li><a href="#">Primary Contact Person</a></li>
                                                                    <li><a href="#">Efective Date From</a></li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="drag-drop-right">
                                                        <section>
                                                            <h2>Drag and drop reorder</h2>
                                                            <div class="cf nestable-lists">
                                                                <ul id="sortable" class="ui-sortable sortable-list">
                                                                    <li class="ui-state-default">Company Name</li>
                                                                    <li class="ui-state-default">Company Industry</li>
                                                                    <li class="ui-state-default">FIT/Group<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></li>
                                                                    <li class="ui-state-default">Margin For<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></li>
                                                                    <li class="ui-state-default">Margin Type<a class="drag-close delete" href="javascript:void(0);"><i class="fa fa-close"></i></a></li>
                                                                </ul>

                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-success ">Apply</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade modify-colum-model" id="EmailModal" role="dialog">
                                        <div class="modal-dialog" style="width: 30%; height: 40%">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h3>Email</h3>
                                                    <br />
                                                </div>
                                                <div class="modal-body">

                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <label>To </label>
                                                                <input type="text" class="form-control req" id="txtToemail" placeholder="support@ambait.com">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <label for="txtHotelCode">Massage</label>
                                                                <textarea class="form-control" cols="5" id="txtMassageEmail"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <button type="button" class="btn btn-success ">Send</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                </div>




            </div>
            <div class="col-md-4" style="width: 48%">
                <input type="text" data-role="tagsinput" id="txtTagSearch" class="form-control" value="" placeholder="Tag Search" />
            </div>
            <div class="col-md-2" style="width: auto">


                <a href="javascript:void(0);" style="font-size: 12px !important" class="btn btn-success searchpanel-button advanced-panel-button" data-show-panel="advanced-panel" data-toggle="tooltip" data-placement="top" title="Advance Search"><i class="fa fa-plus"></i></a>



            </div>

        </div>
    </div>


    @*Advance Search*@
    <div class="from-group panel-search advanced-panel" style="display: none; width: 64%; margin-left: 452px">
        <div class="panel panel-green">

            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="txtTagSearch">Search By</label>
                                        <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">Created date</option>
                                            <option>Updated date</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="txtTagSearch">Criteria</label>
                                        <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">None</option>
                                            <option>At</option>
                                            <option>Between</option>
                                            <option>At Month</option>
                                            <option>Between Month</option>
                                            <option>At Quater</option>
                                            <option>Between Quater</option>
                                            <option>At Year</option>
                                            <option>Between Year</option>
                                        </select>
                                    </div>

                                    <div class="col-md-4">
                                        <label for="txtTagSearch">From</label>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                                                    <option selected="selected">2016</option>
                                                    <option>2015</option>
                                                    <option>2014</option>
                                                    <option>2013</option>
                                                    <option>2012</option>
                                                    <option>2011</option>
                                                    <option>2010</option>
                                                </select>
                                            </div>
                                            <div class="col-md-7">
                                                <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                                                    <option selected="selected">January</option>
                                                    <option>February</option>
                                                    <option>March</option>
                                                    <option>April</option>
                                                    <option>May</option>
                                                    <option>June</option>
                                                    <option>July</option>
                                                    <option>August</option>
                                                    <option>September</option>
                                                    <option>October</option>
                                                    <option>November</option>
                                                    <option>December</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="txtTagSearch">Group By Column</label>

                                        <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                                            <option>Company Name</option>
                                            <option>Company Industry</option>
                                            <option>Application URL</option>
                                            <option>Primary contact Person</option>
                                        </select>

                                    </div>
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <label for="txtTagSearch">To</label>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="text" id="txtTodate" class="form-control date-picker" value="28/04/2016" placeholder="Tag Search" />
                                            </div>

                                        </div>
                                    </div>
                                    @*     <div class="col-md-4">
                                        <label for="txtTagSearch">Period</label>
                                        <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                                            <option>Today</option>
                                            <option>Yesterday</option>
                                            <option>Last 7 Days</option>
                                            <option>Last 15 Days</option>
                                            <option>Last 1 Month</option>
                                            <option>Last 3 Months</option>
                                            <option>Last 6 Months</option>
                                            <option>Last 1 Year</option>
                                        </select>
                                    </div>

                                    <div class="col-md-4">
                                        <label for="txtTagSearch">Action</label>
                                        <select id="drpOperatingCurrency" class="js-states form-control" style="display: none; width: 100%">
                                            <option selected="selected">Created </option>
                                            <option>Updated </option>
                                        </select>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 0; padding-top: 15px;">
                        <a href="javascript:void(0);" class="btn btn-success" style="border-width: 1px; border-color: white; border-style: solid;">SEARCH</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">

        <table id="example-editable" class="display table " style="width: 100%; cellspacing: 0;">
            <thead>
                <tr>
                    <th>#</th>
                  <th>Agent Company Name</th>
                    <th>Agent Category</th>
                    <th>Agent Type  </th>
                    <th>Website </th>
                    <th>Status</th>
                    <th>Modified By</th>
                    <th>Action</th>
                </tr>

            </thead>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Agent Company Name</th>
                    <th>Agent Category</th>
                    <th>Agent Type  </th>
                    <th>Website </th>
                    <th>Status</th>
                    <th>Modified By</th>
                    <th>Action</th>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <th></th>
                    <th>
                        <input type="text" />
                    </th>
                     <th>
                        <input type="text" />
                    </th>
                     <th>
                        <input type="text" />
                    </th>
                     <th>
                        <input type="text" />
                    </th>
                     <th>
                        <input type="text" />
                    </th>
                     <th>
                        <input type="text" />
                    </th>
                    <th></th>
                   
                </tr>
                <tr>
                    <td>1</td>
                    <td>Flamingo Travels</td>
                    <td>Company</td>
                    <td>A</td>
                    <td>http://www.flamingo.co.in</td>
                    <td><span class="label label-dodgerblue">Active</span></td>
                    <td><a href="javascript:void(0);" rel="tooltip" title="Samir Shah | 12-Mar-2016">
                        <img src="/assets/images/avatar1.png" /></a></td>
                    <td>
                        <a href="#" rel="tooltip" title="Edit"><span class="fa fa-pencil grid-btn-success"></span></a>


                        &nbsp;&nbsp;
                                                <a href="#" rel="tooltip" title="Delete"><span class="fa fa-trash grid-btn-danger"></span></a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Flamingo Travels</td>
                    <td>Company</td>
                    <td>A</td>
                    <td>http://www.flamingo.co.in</td>
                    <td><span class="label label-maroon">Deactive</span></td>
                    <td><a href="javascript:void(0);" rel="tooltip" title="Samarth Shah | 12-Mar-2016">
                        <img src="/assets/images/avatar3.png" /></a></td>
                    <td>
                        <a href="#" rel="tooltip" title="Edit"><span class="fa fa-pencil grid-btn-success"></span></a>

                        &nbsp;&nbsp;
                                                <a href="#" rel="tooltip" title="Delete"><span class="fa fa-trash grid-btn-danger"></span></a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</form>
